/**
iconfont Webfont
*/
@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot?1586938612102');
	src: url('iconfont.eot?#iefix-1586938612102') format('embedded-opentype'),
		url('iconfont.woff2?1586938612102') format('woff2'),
		url('iconfont.woff?1586938612102') format('woff'),
		url('iconfont.ttf?1586938612102') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='iconfont-']:before,
[class*=' iconfont-']:before {
	font-family: 'iconfont';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/
 .iconfont-arrow01:before {
			content: '\ea01';
		}

		 .iconfont-arrow02:before {
			content: '\ea02';
		}

		 .iconfont-bookmard:before {
			content: '\ea03';
		}

		 .iconfont-bookmard2:before {
			content: '\ea04';
		}

		 .iconfont-bookmark2:before {
			content: '\ea05';
		}

		 .iconfont-chat:before {
			content: '\ea06';
		}

		 .iconfont-close2:before {
			content: '\ea07';
		}

		 .iconfont-comment:before {
			content: '\ea08';
		}

		 .iconfont-comment2:before {
			content: '\ea09';
		}

		 .iconfont-comment3:before {
			content: '\ea0a';
		}

		 .iconfont-comment4:before {
			content: '\ea0b';
		}

		 .iconfont-facebook:before {
			content: '\ea0c';
		}

		 .iconfont-humberger:before {
			content: '\ea0d';
		}

		 .iconfont-inforgraphic:before {
			content: '\ea0e';
		}

		 .iconfont-inforgraphic2:before {
			content: '\ea0f';
		}

		 .iconfont-Interactive:before {
			content: '\ea10';
		}

		 .iconfont-like:before {
			content: '\ea11';
		}

		 .iconfont-like2:before {
			content: '\ea12';
		}

		 .iconfont-link:before {
			content: '\ea13';
		}

		 .iconfont-mail:before {
			content: '\ea14';
		}

		 .iconfont-next:before {
			content: '\ea15';
		}

		 .iconfont-picture:before {
			content: '\ea16';
		}

		 .iconfont-play:before {
			content: '\ea17';
		}

		 .iconfont-play2:before {
			content: '\ea18';
		}

		 .iconfont-prev:before {
			content: '\ea19';
		}

		 .iconfont-review:before {
			content: '\ea1a';
		}

		 .iconfont-search:before {
			content: '\ea1b';
		}

		 .iconfont-sent:before {
			content: '\ea1c';
		}

		 .iconfont-sent2:before {
			content: '\ea1d';
		}

		 .iconfont-share:before {
			content: '\ea1e';
		}

		 .iconfont-share2:before {
			content: '\ea1f';
		}

		 .iconfont-twitter:before {
			content: '\ea20';
		}

		 .iconfont-twitter2:before {
			content: '\ea21';
		}

		 .iconfont-user:before {
			content: '\ea22';
		}

		 .iconfont-view:before {
			content: '\ea23';
		}

		