.txt_blue {
  color: #004f8b!important;
}
  .ykien_vne{
    color: #333;
    background: #eaeaea;
    position: relative;
    text-rendering: geometricPrecision;
    padding: 5px 10px;
    font: 400 px_to_rem(18px) arial; line-height: 26px;
    color: #9d234c;
    .left {
        white-space: nowrap;
    }
  }
  .filter_coment_mobile {
    float: right;
    position: relative;
      font-size: px_to_rem(14px);
    /*.ic{
      display: inline-block;
      vertical-align: middle;
    }*/
    .sub_filter_cmt {
      min-width: 115px;
      background: #fff;
      position: absolute;
      right: 0;
      top: 30px;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(163,163,163,1);
-moz-box-shadow: 0px 1px 2px 0px rgba(163,163,163,1);
box-shadow: 0px 1px 2px 0px rgba(163,163,163,1);
      a{
        display: block;
        padding: 5px 10px;
      }
    }
}
.comment_item{
  padding: 10px;
  &.hight_light{
    background: #f8f8f8;
  }
    p {
      padding-bottom: 8px;
      font: 400 px_to_rem(17px) arial; line-height: $lh;
        word-wrap: break-word; margin: 0;
  }
    .user_status{
        .left{
            &.txt_11,&.txt_14{font-size: px_to_rem(14px); padding-top: 2px; font-family: arial; color: #666;
                a{color: #666;}
            }
        }
    }     
  .avata_coment {
    width: 20px;
    margin: 0 10px 0 0;
    float: left;
  }
  .block_like_web {
    width: 100%;
    float: right;
    text-align: right;
    padding: 5px 0 0;
    font-size: px_to_rem(14px);
    position: relative;
    white-space: nowrap;
    a{
      font-size: px_to_rem(14px); position: relative; text-decoration: none;
    &.share_cmt_fb{
        &::before{
              width:1px;
              height: 12px;
              background: #d9d9d9;
              content: "";
              display: inline-block;
              vertical-align: middle;
              margin: 0 10px 0 10px;
            }
        .ic-caret-down {
            height: 5px;
            background-position: -210px -9px;
            width: 11px;
        }
        }
    }
    .block_share_cmt_fb{
      position: absolute; top: 25px; right: 0;
      display: none;
      z-index: 3;
        background: #fff;
        padding: 7px;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(163,163,163,1);
-moz-box-shadow: 0px 1px 2px 0px rgba(163,163,163,1);
box-shadow: 0px 1px 2px 0px rgba(163,163,163,1);
      .item_social{
        float: right;
          line-height: 27px !important;
        margin: 0 0 0 10px;
          &:last-child{margin: 0;}
        }
    }
      .link_thich{
          &::after{
              width:1px;
              height: 12px;
              background: #d9d9d9;
              content: "";
              display: inline-block;
              vertical-align: middle;
              margin: 0 10px 0 10px;
            }
      }
      
      .total_like{padding-left: 2px;position: relative;
          /*&::before{width: 2px; height: 2px; background: #666666; position: absolute; left: 2px; top: 10px; content: '';}*/
      }
      .count_like{margin-right: 7px;}
  }
  a.link_thich {
    position: relative;
    color: #004F8B!important;
    /*.ic{
      color: $vne_color;
      font-size: 15px;
    }*/
      .ic-like,.ic-unlike{
          margin-top: -4px;
      //width: 13px;height: 13px;background-position: -657px 0;margin-top: -4px;
    }
      .ic-unlike{
     //background-position: -670px 0; margin-top: 0; 
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    }
    &.unlike{
      color: #999!important;
      /*.ic{
        color: #858585!important;
      }*/
    }
    
    }
}
.icon_show_full_comment {
    display: inline-block;
    margin: 0 0 0 3px;
    /*.ic{
      color: #999;
    }*/
}

.box_comment_vne .sub_comment {
    padding: 5px 0 0 20px;

    .sub_comment_item {
    padding-top: 10px;
    margin-bottom: 10px;
    border-top: 1px dotted #eee;
    }
}
.box_comment_vne .comment_item .txt_view_more {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: px_to_rem(14px);
    font-family: arial;
    padding-top: 10px; border-top: 1px solid #eee;
    a{
      /*text-decoration: underline;*/
        /*font-weight: 700;*/
    }
}
.box_comment_vne .reply_name{color: #004F8B;
    font-style: italic;
  }
  .box_comment_vne .view_more_coment {
    width: 100%;
    float: left;
    height: 32px;
    text-align: center;
    position: relative;
    /*margin-top: 10px;*/  
    a{
        width: 100%;
      display: block;
      position: relative;
      z-index: 1;
        &:before{
            height: 1px; width: 100%; background: #eee; position: absolute; top: 50%; margin-top: -0.5px; left: 0; content: '';
        }
        span{
            background: #f5f5f5;
            padding: 0;
            font: 400 px_to_rem(14px) arial; line-height: 32px;
            min-width: 50%;
            color: #004f8c;
            text-align: center;
            display: inline-block;
            position: relative;
            z-index: 1;
        }
      }
}
.input_comment {
    padding: 10px;
    background: #f5f5f5;
    position: relative;
    width: 100%;
    z-index: 2;

    textarea {
      font: 400 px_to_rem(16px) arial; line-height: $lh;
      background: #fff;
      border: 1px solid #ccc;
      width: 100%;
      height: 92px;
        min-height: 92px;
      overflow: hidden;
      padding: 10px;
        &::-webkit-input-placeholder{color: #ccc;}
        &::-moz-input-placeholder{color: #ccc;}
        &::-ms-input-placeholder{color: #ccc;}
        &::-o-input-placeholder{color: #ccc;}
    }
    .avata_coment {
        width: 30px;
        margin: 0 10px 0 0;
        float: left;
        height: 30px;
        img{
          width: 30px; height: 30px;
        }
    }
    span{display: inline-block; margin-top: 8px; color: #666; max-width: 120px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
    &.reply_input_comment{
      background: none;
      padding: 5px 0;
    }
}
.btn_send_comment{float: right; margin-top: 7px; padding: 7px 15px; font-size: px_to_rem(14px); font-weight: 400;
    &.btn_reset{color: #999 !important; background: none;padding: 7px 10px;}
}
.block_relative{position: relative;}
.like_google {
    position: absolute;
    left: 0;
    top: 5px;
    width: auto;
    z-index: 99;
    .google_name {
      cursor: pointer;
      font: 700 px_to_rem(14px) arial;
      min-width: 80px;
      padding: 5px 5px 5px 0;
  }
    .not_login{font: 400 px_to_rem(14px) arial; line-height: 30px; color: #666;
        a{color: $vne_color; text-decoration: underline;}
    }
}
.input_comment_full{
    float: none; width: auto; overflow: hidden; padding: 15px;
    .btn_send_comment{padding: 7px 30px;}
}
