#myvne_taskbar{
          display: none;
        }
.container {
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.topbar {
    height: 46px;
    border-bottom: 1px solid #eee;
    font-size: 12px;
    width: 100%;
    background-color: #fff;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    transform: translateY(0);
}
.topbar.nav-up {
    transform: translateY(-100%);
}
.fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 9000;
}
.topbar>.container {
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.topbar .navbar-toggle {
    width: 28px;
    height: 28px;
    float: left;
    border: none;
    padding: 0;
    margin: 11px 15px 10px 0;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.topbar .navbar-toggle .toggle-icon {
    position: relative;
    width: 18px;
    height: 2px;
    display: inline-block;
    background: #999;
}
.topbar .navbar-toggle:hover .toggle-icon {
    background: #9f224e;
}
.topbar .navbar-toggle:hover .toggle-icon:before, .topbar .navbar-toggle:hover .toggle-icon:after {
    background: #9f224e;
}
.topbar .navbar-toggle .toggle-icon:before {
    bottom: 12px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.topbar .navbar-toggle .toggle-icon:before, .topbar .navbar-toggle .toggle-icon:after {
    position: absolute;
    left: 0;
    width: 18px;
    height: 2px;
    background: #999;
    content: " ";
}
.topbar .navbar-toggle .toggle-icon:after {
    top: -6px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.topbar .navbar-toggle .toggle-icon.is-clicked {
    background: rgba(153,153,153,0);
}
.topbar .navbar-toggle .toggle-icon.is-clicked:before {
    bottom: 5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.topbar .navbar-toggle .toggle-icon.is-clicked:after {
    top: -5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}


.topbar .logo {
    float: left;
    width: 150px;margin-right: 25px;
    display: inline-block;
    padding: 8px 0;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.img-100 {
    width: 100%;
}
img {
    vertical-align: top;border-style: none;
}
.m-only {
    display: none;
}
.topbar .block-right {
    float: right;
}
.topbar .block-right .user, .topbar .block-right .button-comments, .topbar .block-right .search, .topbar .block-right .social {
    float: right;
}
.topbar .block-right .social {
    margin: 10px 0 10px 10px;
}
.list-inline {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}
.list-inline>li {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
}
.topbar .block-right .button-comments
{
    height:26px;
    line-height:24px;
    border-radius:20px;
    background-color:transparent;
    border:1px solid #ccc;
    display:inline-block;
    padding:0 10px;
    margin:10px 0 10px 15px;
    transition-duration:400ms;
    transition-property:all;
    transition-timing-function:cubic-bezier(0.7, 1, 0.7, 1);
    color:#9f224e;
    text-decoration: none;
}
.topbar .block-right .button-comments>i.ic
{
    font-size:12px; display: inline-block; vertical-align: middle;
}
.topbar .block-right .button-comments .counter
{
    font:400 12px arial;
}
.topbar .block-right .button-comments:hover
{
    border:1px solid #9f224e;
    color:#9f224e
}
.topbar .block-right .button-comments.is-clicked
{
    border-color:#ccc;
    color:#ccc
}
.topbar .block-right .button-comments.is-clicked:hover
{
    border:1px solid #9f224e;
    color:#9f224e
}
.topbar .block-right .social .social-item {
    width: 26px;
    height: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 13px;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    .ic{color: #fff; display: inline-block; vertical-align: middle;}
}
.topbar .block-right .social .social-item.si-facebook {
    background-color: #44619d;
}
.topbar .block-right .social .social-item.si-twitter {
    background-color: #55acee;
}
.topbar .block-right .social .social-item.si-google {
    background-color: #dd4b39;
}
.topbar .block-right .social .social-item:hover.si-facebook, .topbar .block-right .social .social-item:focus.si-facebook {
    background-color: #1d2a44;
}
.topbar .block-right .social .social-item:hover.si-twitter, .topbar .block-right .social .social-item:focus.si-twitter {
    background-color: #126db2;
}
.topbar .block-right .social .social-item:hover.si-google, .topbar .block-right .social .social-item:focus.si-google {
    background-color: #802216;
}
.topbar .block-right .user, .topbar .block-right .button-comments, .topbar .block-right .search, .topbar .block-right .social {
    float: right;
}
.topbar .block-right .search {
    margin: 8px 10px 10px 10px;
    width: 150px;
    position: relative;
}
.topbar .block-right .search form{
    border-radius: 20px;
    border: 1px solid #ccc;
}
.topbar .block-right .search .search-input
{
    border-radius:20px;
    border:1px solid #ccc;
    background-color:transparent;
    padding-left:10px;
    font-size: 14px;
    line-height:1;
    outline: none;

    width:100%;
    padding:5px 25px 5px 12px;
    color:#ccc;
    transition-duration:400ms;
    transition-property:all;
    transition-timing-function:cubic-bezier(0.7, 1, 0.7, 1)
}
button, input {
    overflow: visible;
}
.topbar .block-right .search .search-btn:last-child {
    border-left: 0;
}
.topbar .block-right .search .search-btn {
    background-color: transparent;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 3px 6px;
    white-space: nowrap;
    vertical-align: middle;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    position: absolute; top: 4px; right: 2px;
}
.topbar .block-right .search .search-btn>button {
    border: 0;
    background-color: transparent;
}
.topbar .block-right .search .search-btn>button>i {
    color: #999;
}
.topbar .block-right .user
{
    padding:10px 0 10px 15px;
    color:#333;
    width:150px;
    display:inline-flex
}
.topbar .block-right .user>.avatar
{
    width:26px;
    display:inline-block
}
.topbar .block-right .user .name
{
    height:26px;
    line-height:26px;
    margin-left:5px;
    display:inline-block;
    font-family: Arial,sans-serif;
    color: #333;
    outline: 0;
    text-decoration: none;
    .ic{font-size: 10px; display: inline-block; vertical-align: middle;}
}


/**SEARCH MOBILE**/
.search_icon{width: 42px; height: 45px; text-align: center; cursor: pointer; position: absolute; top: 0; right: 0; display: none;}
.search_icon .ic-search{font-size: 17px; display: inline-block; vertical-align: middle; line-height: 45px;}
.search-fullscreen {position: relative;}
.search-fullscreen .search-fullscreen-overlay {position: absolute;top: -28px;left: 50%;width: 100%; padding: 0 40px 0 15px; height: auto;z-index: 2000;visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}
.search-fullscreen .search-fullscreen-bg-overlay {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 45px;
    z-index: 1000;
    background: rgba(247, 248, 250, 0.2);
    visibility: hidden;
    opacity: 0;
    transition-duration: 500ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.search-fullscreen .search-fullscreen-overlay-show {visibility: visible;}
.search-fullscreen .search-fullscreen-overlay .search-fullscreen-overlay-content {background: transparent;opacity: 0;overflow: hidden;
    -webkit-transform: scale(0.7, 1);
    -moz-transform: scale(0.7, 1);
    transform: scale(0.7, 1);
    transition-duration: 500ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.search-fullscreen .search-fullscreen-overlay-show ~ .search-fullscreen-bg-overlay {
    opacity: 1;
    visibility: visible;
    background: #f4f4f4;
}
.search-fullscreen .search-fullscreen-overlay-show .search-fullscreen-overlay-content {opacity: 1;-webkit-transform: scale(1, 1);-moz-transform: scale(1, 1);transform: scale(1, 1);}
.search-fullscreen .search-fullscreen-input-group {position: relative;}
.search-fullscreen .search-fullscreen-input-group .search-fullscreen-input {outline: none; width: 100%;height: 35px;font-size: 18px; font-weight: 400;color: #333;background: transparent;
    border: none;
    border-radius: 0;
    padding:0;
}
.search-fullscreen .search-fullscreen-input-group .search-fullscreen-input:focus{ color: #9f224e;}
.search-fullscreen .search-fullscreen-close {
    position: absolute;
    top: -3px;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    color: #999;
    text-align: center;
    cursor: pointer;
}
.search-fullscreen .search-fullscreen-close:hover {
    color: #9f224e;
}

a.name:hover{
    color:#9f224e;
}
.shape-circle {
    border-radius: 50%;
}
.img-res {
    max-width: 100%;
}

.shape-circle {
    border-radius: 50%;
}

.menu-box.is-open {
    visibility: visible;
    left: 0;
}
.menu-box.box-top {
    top: 0;
}
.menu-box {
    width: 280px;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    left: -384px;
    top: 46px;
    z-index: 9999;
    visibility:hidden;
    transition-duration:250ms;
    transition-property:all;
    transition-timing-function:cubic-bezier(0.7, 1, 0.7, 1);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.menu-box .box_width_common {
    height: 100vh;
}
.menu-box>.box_width_common {
    margin-bottom: 30px;
}
.mask-content {
    position: relative;
}
.mask-content.mask-is-open:before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(255,255,255,0);
    content: "";
    transition-duration: 250ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.ic-live-2 {font-size: 9px;height: 12px;line-height: 12px;display: inline-block;vertical-align: middle;color: #e78dac;}
.ic-live-2:before {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    content: '';
    top: -2px;
    margin-right: 10px;
    background: #9f224e;
    float: left;
    border: 3px solid #42173d;
}
@-webkit-keyframes live-pulse{0%{background-color:#e78dac}50%{background-color:white}100%{background-color:#e78dac}}@-moz-keyframes live-pulse{0%{background-color:#e78dac}50%{background-color:white}100%{background-color:#e78dac}}@keyframes live-pulse{0%{background-color:#e78dac}50%{background-color:white}100%{background-color:#e78dac}}
.menu-box .box_width_common{height:100vh}
.menu-box .nicescroll-rails>div, .main_show_comment.width_common .nicescroll-rails>div {
    width: 8px!important;
}
.list_item_panel {
    width: 100%;
    float: left;
    margin:0;
}

.list_item_panel li {
    float: left;
    width: 100%;
}

.list_item_panel li img {
    float: left;
}

.list_item_panel li a {
    display: block;
    width: 100%;
    float: left;
    color: #333!important;
    font: 700 16px/40px arial;
    background: #f4f4f4;
    border-bottom: 1px dotted #c3c3c3;
    padding: 0 0 0 15px;
    box-sizing: border-box;
    text-decoration: none;
}
.list_item_panel li a .ic{margin: 0 10px 0 0;}

.list_item_panel li.active a {
    border-left: 5px solid #9f224e;
    padding: 0 0 0 10px;
}

.list_item_panel li.end a {
    border: none;
}

.ui-body-a .list_item_panel li a.ui-link {
    color: #fff;
}

.list_item_panel li a.bg_e8e8 {
    background: #e8e8e8;
}

.coppy_right_left {
    background: #d0d0d0;
    padding: 20px 5px 50px 15px;
    box-sizing: border-box;
    float: left;
    width: 100%;
    font: 400 14px arial;
    color: #838282;
    position: relative;
}
.coppy_right_left .ic-caret-2-down{color: #e8e8e8; position: absolute; top: -5px; left: 15px; margin: 0; font-size: 20px;}

.coppy_right_left p {
    padding-bottom: .5em;
}

.coppy_right_left .txt_lienhe,.coppy_right_left .txt_lienhe a {
    color: #333!important;
}
#box_col_left.block_more_info {
    position: absolute;
    top: 0;
    left: -240px;
    width: 240px;
    height: 100%;
    z-index: 99999;
}


.block_scoll_menu {
    width: 100%;
    float: left;
}

.comments-box
{
    width:384px;
    height:100vh;
    position:fixed;
    background-color:#fff;
    right:-384px;
    top:46px;
    z-index:99;
    visibility:hidden;
    transition-duration:250ms;
    transition-property:all;
    transition-timing-function:cubic-bezier(0.7, 1, 0.7, 1);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-shadow: -8px -1px 5px -4px rgba(0,0,0,0.2);
-moz-box-shadow: -8px -1px 5px -4px rgba(0,0,0,0.2);
box-shadow: -8px -1px 5px -4px rgba(0,0,0,0.2);
}
.comments-box.is-open
{
    visibility:visible;
    right:0
}
.comments-box>.inner_box_comment_30y
{
    margin-bottom:30px !important
}
.comments-box.box-top
{
    top:0
}


/**COMMENT BOX VNE**/
/**CSS from VNE**/
#box_comment {
        padding-bottom: 50px !important; /*width: 610px;*/
    }
.width_common{width: 100%; float: left;}
.left{float: left;}
.right{float: right;}
.txt_666 {
    color: #666;
}
.txt_11 {
    font-size: 11px;
}
#box_comment{font-family: Arial, sans-serif;}
#box_comment .txt_title_comment_detal {
    font: 700 12px arial;
    padding-bottom: 5px;

    text-rendering:geometricPrecision;
}

#box_comment .txt_title_comment_detail {
    font: 700 12px arial;
    padding-bottom: 5px;
}

#box_comment .txt_blue:hover b {
    text-decoration: underline;
}

#box_comment .more_bottom_detal {
    padding-bottom: 10px;
}

.block_input_comment .input_comment textarea {
    font: 400 12px/18px arial;
    background: #fff;
    border: 1px solid #c5c5c5;
    width: 98.5%;
    color: #666;
    overflow: hidden;
    padding: 5px 0 0 1%;
    float: right;
    height: 50px;
}

.block_input_comment .confirm_comment {
    padding: 5px 0 0;
}

.block_input_comment .btn_send_comment {
    background: #9d234c;
    padding: 4px 18px 4px 17px;
    font: 700 12px arial;
    color: #fff;
    border: none;
    cursor: pointer;
    float: right;
    margin: 10px 0 0;
    z-index:9999;
}

.block_input_comment .txt_check {
    margin: 1px 5px 0 0;
    float: left;
}

#box_comment .title_show {
    color: #333;
    background: #eee;
    position: relative;
    height: 26px;
    width: 100%;
    float: left;
    text-rendering:geometricPrecision;
}

#box_comment .title_show .ykien_vne {
    font: 400 14px/26px arial;
    color: #9d234c;
    padding: 0 0 0 10px;
}

*+html #box_comment .title_show .ykien_vne {
    width: 650px;
}

#box_comment .title_show .txt_songuoithich {
    color: #666;
    font: 400 11px/26px arial;
}

#box_comment .title_show p b {
    color: #000;
}

#box_comment .comment_item {
    padding: 10px 10px 5px;
}

*+html #box_comment .comment_item {
    width: 640px;
}

*+html #box_coment_300 #box_comment .comment_item {
    width: 100%;
}
#box_comment .comment_item .user_status .left.txt_11 {
    font-size: 12px;
    padding:5px 0 0 0;
    white-space:nowrap;
    line-height: 15px;
}
#box_comment .comment_item .user_status .block_like_web{
    position:relative;
    padding:5px 0 0 0;
}
#box_comment .comment_item .user_status .block_like_web .block_share_cmt_fb{

    position:absolute;
    right:0;
    top:24px;
    display:none;
    z-index:9;
}
#box_comment .comment_item .user_status .block_like_web  .share_cmt_fb{
    padding:0 8px 0 0;
    background:url(images/icons/arrow_chiase_coment.gif) no-repeat right 5px;
}
#box_comment .comment_item .user_status .block_like_web .block_share_cmt_fb img{
    width:16px;
}
#box_comment .comment_item p {
    padding-bottom: 2px;
    line-height: 18px;
    font-size: 14px;
    margin: 0;
}

#box_comment .comment_item p .fullname a {
    color: #000;
}

#box_comment .comment_item p .fullname a:hover {
    color: #004f8b;
}

#box_comment .hight_light {
    background: #f8f8f8;
}

#box_comment .comment_item .txt_view_more {
    text-align: right;
    margin: 0;
    padding: 0;
    background: none;
    font: 400 11px arial;
}

#box_comment .comment_item .txt_view_more a {
    color: #004f8b;
    text-decoration: underline;
}

#box_comment .comment_item .txt_view_more a:hover {
    color: #666;
}

#box_comment .more_bottom_detal {
    padding: 10px 0 0;
}

#box_comment .more_bottom_detal b {
    color: #333;
}

#box_comment .more_bottom_detal .txt_view_more a:hover b {
    color: #004f8b;
}

#box_comment .more_bottom_detail {
    padding: 10px 0;
}


#box_comment .sub_comment {
    float: right;
    width: 95%;
    padding: 5px 0 0;
}

*+html #box_comment .sub_comment {
    width: 600px;
}

*+html #box_coment_300 #box_comment .sub_comment {
    width: 100%;
}
#box_comment a{text-decoration: none !important; color: #666;}
#box_comment a.link_thich {
    background: url(images/graphics/dot_blue.gif) no-repeat scroll right 7px;
    color: #004F8B!important;
    margin-right: 4px;
    padding-right: 6px;
}

#box_comment a.link_thich.unlike {
    color: #858585!important;
}

#box_comment .counter_world {
    font: 400 11px arial;
    color: #666;
}

#box_comment .view_more_coment {
    width: 100%;
    float: left;
    height: 26px;
    background: url(images/graphics/bg_1x1_gray.gif) repeat-x left 13px;
    margin: 10px 0;
    text-align:center;
}

*+html #box_comment .view_more_coment {
    width: 660px;
}

#box_comment .view_more_coment a {
    background: #eee;
    padding: 0 20px;
    font: 700 11px/26px arial;
    color: #666;
    text-align: center;
    display: inline-block;
}

#box_comment .sub_comment .input_comment {
    padding: 0 0 10px;
    background: none;
    margin-bottom: 10px;
    border-bottom: 1px dotted #e2e2e3;
}

*+html #box_comment .sub_comment .block_input_comment .input_comment {
    width: 600px;
}

*+html #box_comment .sub_comment .block_input_comment .input_comment textarea {
    width: 593px;
}

*+html #box_coment_300 #box_comment .view_more_coment {
    width: 100%;
}

*+html #box_coment_300 #box_comment .input_comment {
    width: 280px;
}

*+html #box_coment_300 #box_comment .sub_comment .block_input_comment .input_comment {
    width: 260px;
    float: left;
    position: static;
}

*+html #box_coment_300 #box_comment .sub_comment .block_input_comment .input_comment textarea {
    width: 280px;
}
.user_status{
    position:relative;
    z-index:999;
}
.user_status.avatahover{
    z-index:9999;
}
.comment_item .info_avata_cmt{
    position:absolute;
    left:0;
    bottom:28px;
    padding:10px;
    border:1px solid #cccccc;
    background:#f4f4f4;
    color:#000;
    width:420px;
    display:none;
}
.comment_item .info_avata_cmt .avata_coment{
    width:60px;
}
.comment_item .info_avata_cmt .avata_coment img{
    width:100%;
}
.btn_traloi {
    display: inline-block;
    float: left;
    width: 50px;
    height: 24px;
    padding: 1px 0 0 20px;
    color: #004074;
    font: 700 12px/25px arial;
    background: url(images/graphics/bg_btn_traloi.gif);
    margin: 0 .5em 0 0;
    color: #004074;
}

.btn_like {
    display: inline-block;
    float: left;
    height: 25px;
    background: url(images/graphics/bg_90x25.gif) no-repeat right -25px;
    padding: 0 2px 0 0;
    color: #004074;
}

.btn_like span {
    display: inline-block;
    float: left;
    height: 24px;
    padding: 1px 5px 0 28px;
    font: 700 12px/25px arial;
    color: #004074;
    background: url(images/graphics/bg_90x25.gif) no-repeat left top;
}

.btn_like.unlike span {
    background: url(images/graphics/bg_90x25.gif) no-repeat left -50px;
    color: #666;
}

.numb_like {
    display: inline-block;
    float: left;
    height: 25px;
    background: url(images/graphics/bg_num_like_90x25.gif) no-repeat right bottom;
    padding: 0 2px 0 0;
    margin: 0 0 0 5px;
}

.numb_like span {
    display: inline-block;
    float: left;
    height: 24px;
    padding: 1px 5px 0 10px;
    font: 400 11px/25px Palatino Linotype;
    color: #000;
    background: url(images/graphics/bg_num_like_90x25.gif) no-repeat left top;
}

.block_relative {
    position: relative;
}

.txt_blue {
    color: #004f8b!important;
}

.icon_portal {
    display: inline-block;
    background: url(images/icons/icon_portal.gif) no-repeat;
}

.icon_feedback {
    background-position: -545px 2px;
    width: 13px;
}

*+html .icon_feedback {
    background-position: -545px -1px;
}

.icon_like {
    width: 13px;
    background:url(images/graphics/icon_total_01.png) no-repeat -122px -26px;
    cursor: pointer;
}



.icon_like.unline {
    background-position: -160px -26px;
}
.icon_like.unline:hover {
    background-position: -141px -24px;
}
#box_comment .subcomment_item {
    padding-top: 5px;
    margin-bottom: 5px;
    border-top: 1px dotted #e2e2e3;
}


.block_input_comment {
    border-top: 1px solid #dedede;
}

#comment_reply_wrapper {
    border: none;
    padding: 5px 0;
}

.input_comment {
    padding: 10px;
    background: #f5f5f5;
    position: relative;
    z-index: 2;
    margin: 1px 0 0;
}

.google_name {
    cursor: pointer;
    font: 700 13px arial;
    min-width: 80px;
    padding: 5px;
    color:#666;
}

.block_action_google ul {
    display: block;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.block_action_google li a {
    color: #666;
    display: block;
    font: 400 14px/21px arial;
    height: 21px;
    padding: 5px 0 0 5px;
}

.block_action_google li a:hover {
    color: #000;
}

.like_google {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #F5F5F5;
    position: absolute;
    right: 75px;
    top: 5px;
    width: auto;
    z-index: 99;
}

.like_google.active {
    border: 1px solid #CCC;
    background: #fff;
}

/*.like_google .google_name img.google_active {
  background: url(images/icons/icon_google_coment.gif) no-repeat -72px 0;
  float: left;
  margin: 0 5px 0 0;
}

.like_google .google_name img.google_active.inactive {
  background: url(images/icons/icon_google_coment.gif) no-repeat -105px 0;
  float: left;
  margin: 0 5px 0 0;
}

.like_google .google_name img.facebook_active {
  background: url(images/icons/icon_google_coment.gif) no-repeat 0 0;
  float: left;
  margin: 0 5px 0 0;
}

.like_google .google_name img.facebook_active.inactive {
  background: url(images/icons/icon_google_coment.gif) no-repeat -36px 0;
  float: left;
  margin: 0 5px 0 0;
}*/

.google_name #open_id_name {
    background: url(images/graphics/bg_arrow_xam_4x7.gif) no-repeat right 7px;
    display: inline-block;
    margin: 5px 0 0;
    padding: 0 10px 0 0;
    white-space: nowrap;
}

.block_action_google {
    display: block;
    float: left;
    width: 100%;
    border-top: 1px solid #CCC;
    display: none;
}

*+html .input_comment {
    width: 640px;
    float: left;
}

*+html .block_btn_send {
    width: 200px;
}
.filter_coment {
    float: right;
    padding: 0 10px 0 0;
    color: #666;
    text-align:right;
    white-space:nowrap;
}
/*avatacoment*/

.comment_item .avata_coment{
    width:24px;
    margin:0 10px 0 0;
    float:left;
}
.input_comment .avata_coment{
    width:24px;
    margin:0px 10px 0 0;
    float:left;
}
.input_comment .avata_coment img{
    width:24px;
}

.filter_coment a {
    font: 400 12px arial;
    color: #666;
}

.filter_coment a.active {
    color: #9D234C;
}

.filter_coment_mobile {
    float: right;
    margin-top: 2px;
}

.filter_coment_mobile select {
    font: 400 14px arial;
    display: none;
}

#box_comment .pagination_news {
    padding: 10px 0;
}
.pagination_news a {
    float: left;
    display: inline-block;
    height: 24px;
    border: 1px solid #d6d6d6;
    padding: 0 10px;
    color: #000;
    font: 400 11px/24px arial;
    border-radius: 3px;
    margin: 0 0 0 6px;
}

.pagination_news a:hover,.pagination_news a.active {
    background: #c8c8c8;
    font-weight: 700;
}

.pagination_news span {
    margin: 0 0 0 10px;
}

.pagination_news a img {
    float: left;
}

.pagination_news a.pagination_btn {
    padding: 0;
    border: none;
    height: 24px;
    width: 24px;
}

.pagination_news a.pa_prev:hover,.pa_prev {
    /*background: url(images/graphics/pagination_prev.gif) no-repeat left top;*/
}

.pagination_news a.pa_next:hover,.pa_next {
    /*background: url(images/graphics/pagination_next.gif) no-repeat left top;*/
}

.icon_show_full_comment {
  width: 11px;
  height: 12px;
   background:url(images/graphics/icon_total_01.png) no-repeat -42px -320px;
  display: inline-block;
  margin: 0 0 0 3px;
  line-height: 12px;
}

.icon_show_full_comment:hover {
  background-position:-53px -320px
}

.icon_show_full_comment.icon_tru {
   background-position:-20px -320px
}

.icon_show_full_comment.icon_tru:hover {
    background-position:-31px -320px
}

/**END COMMENT BOX VNE**/


/* Box aler comment */
 #login-vne4 .ttOline, .ttOline {
    background: #fff;
    padding: 8px 20px 8px 20px;
    display: block;
    overflow: hidden;
    font: 700 16px arial;
    color: #000;
}
.complete-form {
    padding: 20px;
    display: block;
    overflow: hidden;
    font: 500 14px arial;
    color: #000;
    width: auto;
    background: #f4f4f4;
}
.close-lb {
    background: url(images/graphics/icon_total_01.png) no-repeat -22px -286px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
.login-form {
  width: 100%;
  float: left;
  border: 1px solid #dedede;
  background: #fff;
  position: relative;
  padding: 10px 0;
}

#login-vne1 {
  padding: 15px 0;
}

#login-vne1 .login-left {
  width: 35%;
  float: left;
}

#login-vne1 .login-right {
  width: 61%;
  float: right;
    padding: 0 0 0 2% ;
  border-left: 1px solid #dedede;

}

#login-vne1 .login-left .login-type {
  font: 700 14px arial;
  color: #000;
  margin: 0 0 5px;
  overflow: hidden;
  text-align: right;
}

#login-vne1 .login-right .login-type {
  font: 700 14px arial;
  color: #000;
  margin: 0 0 5px;
  display: block;
  overflow: hidden;
}

.p-social {
  display: block;
  overflow: hidden;
  margin: 0 0 10px;
}

.p-social .login-social {
  width: 134px;
  height: 30px;
  float: right;
  background: url(images/graphics/social-login.gif) no-repeat;
}

.p-social .lg-facebook {
  background-position: 0 0;
}

.p-social .lg-google {
  background-position: 0 -42px;
}

.login-txt {
  margin: 0 0 3px;
}

.login-txt .txt-login {
  border: 1px solid silver;
  background: #fff;
  font: 400 14px arial;
  color: #666;
  width: 85%;
  padding: 2px 7px;
  height: 20px;
}

.login-desc {
  font: 400 11px arial;
  color: #9f224e;
  margin: 0 0 10px;
  display: inline-block;
  overflow: hidden;
}

.login-btt {
  display: block;
  overflow: hidden;
  margin: 0;
  width: 100%;
}

.btt-complete {
  width: 96px;
  height: 28px;
  text-align: center;
  padding: 2px 0 0;
  font: 500 14px arial;
  color: #fffefe;
  background: #9f224e;
  border: none;
  cursor: pointer;
}

.close-lb {
   background:url(images/graphics/icon_total_01.png) no-repeat -22px -286px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

#login-vne2 .login-left {
  padding: 0 10px 0 0;
  width: 49px;
  float: left;
}

#login-vne2 .login-right {
  padding: 0 0 0 10px;
  width: 364px;
  float: left;
}

#login-vne2 .login-type {
  font: 700 14px arial;
  color: #000;
  margin: 0 0 5px;
  text-align: left;
  display: block;
  overflow: hidden;
}

#login-vne2 .complete-form {
  width: 90%;
  padding: 0 50px;
  display: block;
  overflow: hidden;
}

#login-vne3,#login-vne5 {
  height: 266px;
  background: #f4f4f4;
  padding: 0;
}

#login-vne3 .complete-form,#login-vne5 .complete-form,#login-vne6 .complete-form {
  padding: 20px 0 0 80px;
  width: 81%;
  display: block;
  overflow: hidden;
}

#login-vne3 .ttOline,#login-vne4 .ttOline,#login-vne5 .ttOline,#login-vne6 .ttOline,#login-vne7 .ttOline,.ttOline {
  background: #fff;
  padding: 8px 20px 8px 20px;
  display: block;
  overflow: hidden;
  font: 700 16px arial;
  color: #000;
}

#login-vne3 .login-txt,#login-vne5 .login-txt,#login-vne6 .login-txt {
  margin: 0 0 3px;
  display: block;
  overflow: hidden;
}

#login-vne3 .login-txt .txt-login {
  border: 1px solid silver;
  background: #fff;
  font: 400 14px arial;
  color: #666;
  width: 358px;
  padding: 2px 7px;
  height: 20px;
}

#login-vne3 .txt-capcha,#login-vne5 .txt-capcha,#login-vne6 .txt-capcha {
  float: left;
  border: 1px solid silver;
  background: #fff;
  font: 400 14px arial;
  color: #666;
  width: 104px;
  padding: 7px 7px;
  margin-right: 10px;
}

#login-vne3 img,#login-vne5 img,#login-vne6 img {
  float: left;
  margin-right: 8px;
}

#login-vne6 .sercurity .img_chapcha img {
  margin-right: 110px\9;
}

#login-vne4 {
  background: #f4f4f4;
  padding: 0;
}

.complete-form {
  padding: 20px;
  display: block;
  overflow: hidden;
  font: 500 14px arial;
  color: #000;
  width: auto;
}

#login-vne6 {
  height: 167x;
  background: #f4f4f4;
  padding: 0;
}

.input_capcha {
  font: 600 14px arial;
  color: #000;
  margin: 0 0 3px;
}

#login-vne7 {
  background: #f4f4f4;
  padding: 0;
}

.rs_vote {
  display: block;
  background: #ededed;
  padding: 15px 20px;
  overflow: hidden;
  margin-bottom: 12px;
}

#login-vne7 .ttOline {
  margin-bottom: 0;
}

.question_vote {
  font: 500 14px arial;
  color: #9f224e;
  margin: 0 0 15px;
}

.p_infoVote {
  margin: 0;
}

.time_vote {
  font: 400 11px arial;
  color: #666;
  float: left;
}

.total_vote {
  float: right;
  font: 400 11px arial;
  color: #666;
}

.total_vote label {
  font-weight: 700;
  color: #9f224e;
}

.list_rs {
  overflow: hidden;
  background: #f4f4f4;
}

.scroll_thongke {
  float: left;
  width: 92%;
  padding: 0;
  margin: 10px 4%;
}

.scroll_thongke li {
  padding: 0 0 15px;
  margin: 0 0 10px;
  border-bottom: 1px dotted #ccc;
  display: block;
  overflow: hidden;
}

.info_result {
  display: block;
}

.rsV_left {
  width: 25%;
  float: left;
  font: 12px arial;
  color: #000;
  margin:0 2% 0 0;
}

.rsV_right {
  width: 18%;
  float: right;
  font: 12px arial;
  color: #999;
  text-align: right;
}

.rsV_right label {
  color: #000;
}

.scroll_color {
  width: 55%;
  float: left;
  margin-top: 3px;
  height: 5px;
  background: #ccc;
}

.bg_center_scroll {
  position: relative;
  background: #9f224e;
  float: left;
  height: 5px;
}

.txt_number_ketqua {
  display: inline-block;
  padding: 5px 0 0;
  position: absolute;
  right: -10px;
  bottom: -15px;
  font: 10px arial;
  color: #9f224e;
}

#BoxOverlay {
  position: fixed!important;
  height: 100%!important;
  width: 100%!important;
}

.item_login {
  width: 100%;
  float: left;
  padding-bottom: 10px;
}

.sercurity {
  width: 100%;
  float: left;
}

#login-vne5 {
  padding: 0;
  height: 530px;
  background: #f5f5f5;
}

.share_email_des {
  background: #ededed;
  float: left;
  width: 100%;
  padding: 15px 0;
}

.share_email_left {
  float: left;
  width: 15%;
}

.share_email_left a {
  color: #666;
  text-decoration: underline;
  font: 600 11px/16px Arial;
  padding: 0 0 0 20px;
}

.share_email_right {
  float: right;
  width: 84%;
}

.share_email_right div {
  font: 400 14px/16px Arial;
  color: #9f224e;
}

.share_email_right ul {
  list-style: none;
  float: left;
  width: 100%;
  padding: 0;
  margin: 5px 0;
}

.share_email_right li {
  float: left;
}

.share_email_right li.txt_underline a {
  text-decoration: underline;
}

.share_email_right a {
  font: 400 11px/16px Arial;
  color: #666;
}

.share_email_right .active a {
  color: #333;
}

#login-vne5 .complete-form {

  margin-top: 10px;
  float: left;
}

#login-vne5 .complete-form textarea {
  height: 85px;
  margin-bottom: 10px;
}

.share_email_label {
  margin-bottom: 5px;
  font: 400 14px/14px Arial;
}
/* End box aler comment */
/* Box báo vi phạm */
#baovipham,#gopykien {
  position: relative;
}

#baovipham .complete-form,#gopykien .complete-form {
  background: #F4F4F4;
  padding: 10px 40px;
}

#baovipham .txt-login,#gopykien .txt-login {
  width: 97%;
  border: 1px solid silver;
  float: left;
  padding: 3px 1%;
  font: 400 14px arial;
  color: #666;
  background: #fff;
}

#baovipham textarea.txt-login,#gopykien textarea.txt-login {
  height: 50px;
  margin: 0 0 10px;
}

#baovipham .txt-capcha,#gopykien .txt-capcha {
  background: none repeat scroll 0 0 #FFF;
  border: 1px solid silver;
  color: #666;
  float: left;
  font: 400 14px arial;
  height: 20px;
  margin-right: 10px;
  padding: 2px 7px;
  width: 104px;
}

#baovipham .input_capcha,#gopykien .input_capcha {
  margin: 0 10px 0 0;
}

#baovipham .btt-complete,#gopykien .btt-complete {
  float: left;
  margin: 0 0 0 10px;
}

#baovipham .sercurity,#gopykien .sercurity {
  padding: 10px 0 0;
  width: 100%;
  float: left;
}

.txt_select_lydo {
  width: 100%;
  float: left;
  height: 26px;
  margin: 0 0 10px;
}

.block_txt_capcha {
  width: 135px;
}

.item_radio {
  width: 100%;
  float: left;
  padding: 10px 0 0;
}

.item_radio label {
  cursor: pointer;
}

.block_radio_col {
  width: 31%;
  float: left;
  margin: 0 0 0 1%;
  padding: 0 1% 0 0;
}

.block_radio_col .txt_colum_radio {
  font: 700 14px arial;
}
/* End Box báo vi phạm */

.button-comments-bottom{
    font-size: 20px;
    font-family: Arial,serif;
    font-weight: 300;
    padding: 10px 25px;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 30px;
    transition-duration: 250ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.button-comments-bottom:hover,.button-comments-bottom:focus,.button-comments-bottom:active{
    border: 1px solid #9F224E;
    text-decoration: none;
    color:#9F224E;
}
.module .module-title
{
    font-family:'Roboto', sans-serif !important;
    font-size:24px;
    line-height: 28px;
    font-weight:700 !important;
    padding-bottom:5px;
    margin: 0 0 20px;
    color: #333;
    display: inline-block;
    position: relative;
    span,a{position: relative; z-index: 9; color: #333;}
    
    &::after{width: 100%; height: 10px; background: #eee; content: ""; position: absolute; bottom: 0; left: 0; z-index: 1;}
}

.related-news {
    ul{margin-left: -20px;
        li{width: 20%; float: left; margin: 0 0 30px 0; padding-left: 20px;
            &::before{display: none !important;}
        }
    }
}

.related-news .blog-item>a.bi-thumb
{
    display:block
}
.related-news .blog-item>a.bi-thumb>img
{
    width:100%
}
.related-news .blog-item .bi-title
{
    font-size:16px;
    font-family: arial, sans-serif !important;
    font-weight:400 !important;
    color:#333;
    line-height:1.2;
    margin-top:5px;
    margin-bottom: 0;
}
.related-news .blog-item .bi-title>a
{
    color:#333
}
.related-news .blog-item .bi-title>a:hover,.related-news .blog-item .bi-title>a:focus
{
    color:#004f8b 
}

.related-news{
    margin-top: 50px;
    padding-bottom: 50px;
}
#to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 90;
    display: none;
    width: 36px;
    height: 36px;
    background: rgba(0,0,0,0.05);
    line-height: 36px;
    text-align: center;
}