/* Scss Document */

/*Core*/
.wrapper-lightbox{
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all .4s cubic-bezier(0.25, 0.1, 0.15, 1.26);
    &.active{
        opacity: 1;
        visibility: visible;
        .container-lightbox{
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
        .mask-overlay{
            opacity: 1;
            visibility: visible;
        }
    }
    .mask-overlay{
        width: 100%;
        height: 100%;
        position: fixed;        
        left: 0;
        top: 0;
        z-index: 1;
        background: rgba(0,0,0,0.4);
        opacity: 0;
        visibility: hidden;
        transition: all .4s cubic-bezier(0.25, 0.1, 0.15, 1.26);
    }
    .btn-close-lightbox{
        width: 43px;
        height: 43px;
        background: url(images/icons/close-lb.svg) no-repeat center center;
        position: absolute;
        right: 5px;
        top: 8px;
        z-index: 1;
    }
}
.container-lightbox{
    width: 100%;
    max-width: 620px;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
    opacity: 0;
    visibility: hidden;
    transition: all .4s cubic-bezier(0.25, 0.1, 0.15, 1.26);
    transform: scale(0.5);
    position: relative;
    z-index: 2;
    .header-lightbox{
        
        padding: 14px 65px;
        .title-header-lightbox{
            position: relative;
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
            font-family: $font2;
            background: linear-gradient(to right, #613B02 0%, #EFD16E 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    p{
        margin-bottom: 5px;
        text-align: center;
    }
}
.content-lb{
    background: #EDEDF2;
    padding: 20px 50px 30px 50px;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #333;
    width: 100%;
    float: left;
    .color-hight {
        color: #BE9457;
    }

    .social {
        text-align: center;
        font-size: 0;

        a {
            width: 43px;
            height: 43px;
            border: 1px solid #613B02;
            border-radius: 25px;
            display: inline-block;
            margin: 0 9px;
            background: #fff;
            position: relative;

            &:hover {
                background: #BE9457;
                border: none;
            }

            &:before {
                width: 22px;
                height: 22px;
                background-size: contain !important;
            }
        }

        .link {
            .notify {
                white-space: nowrap;
                position: absolute;
                left: 50%;
                top: -30px;
                padding: 4px 10px;
                border-radius: 4px;
                background: rgba(0, 0, 0, 0.68);
                font-size: 11px;
                color: #fff;
                transform: translateX(-50%);
                transition: all .4s ease;
                opacity: 0;
                visibility: hidden;

                &.active {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &:before {
                content: '';
                background: url(images/icons/link.svg) center center no-repeat;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                &:before {
                    background: url(images/icons/link_white.svg) center center no-repeat;
                }
            }
        }

        .fb {
            &:before {
                content: '';
                background: url(images/icons/facebook.svg) center center no-repeat;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                &:before {
                    background: url(images/icons/facebook_white.svg) center center no-repeat;
                }
            }
        }

        .tw {
            &:before {
                content: '';
                background: url(images/icons/twitte.svg) center center no-repeat;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                &:before {
                    background: url(images/icons/twitte_white.svg) center center no-repeat;
                }
            }
        }

        .gg {
            &:before {
                content: '';
                background: url(images/icons/google_icon.svg) center center no-repeat;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                &:before {
                    background: url(images/icons/google_icon_white.svg) center center no-repeat;
                }
            }
        }
    }
}
.thongbao{
    .content-lb{text-align: left;
        p{text-align: left;}
    }
}

@media (max-width: 767px){
    .container-lightbox{
        width: 85%;
    }
}
/*End Core*/

/*Custom*/
.wrapper-lightbox{
    line-height: 1.5;
    &.binhchon{
        .flexbox{
            justify-content: center;
            align-items: center;
            font-family: $font1;
            margin-bottom: 10px;
            .code-vote{
                margin-right: 30px;
                background: #EFD16E;
                border-radius: 4px;
                padding: 13px 37px;
                color: #343A40;
            }
        }
    }
    &.dangnhap{
        .social{
            justify-content: center;
            font-size: 0;
            margin-top: 11px;
            a{
                width: 56px;
                height: 56px;
                border: 1px solid #EFD16E;
                border-radius: 50%;
                margin: 0 12.5px;
                &:hover{
                    
                    border: none;
                }
            }
        }
    }
}
.container-lightbox{
    .header-lightbox{
        background: url(images/graphics/bg-head-lb.jpg) no-repeat 0 0;
        color: #fff;
        
        height: 60px;
        width: 100%;
        position: relative;
    }
}
@media (max-width: 480px){
    .wrapper-lightbox.binhchon .flexbox{
        display: block;
        text-align: center;
        .code-vote{
            margin: 0 0 10px;
        }
    }
}
/*End Custom*/
