:root {
    --font-title: 'AvantGarde';
    --ns_color: #0B84DA;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }

    &:-moz-placeholder {
        @content
    }

    &::-moz-placeholder {
        @content
    }

    &:-ms-input-placeholder {
        @content
    }
}

.section-main-detail {
    background: url(images/graphics/mbg-main-detail.jpg) no-repeat center -1px/cover;
    padding: 30px 16px 38px 16px;

    .title-star {
        text-align: left;

        span {
            &::before {
                display: none;
            }
        }
    }

    .sec-breakcrum {
        background: none;
    }

    .mn-break {
        li {
            a {
                color: #fff;
            }
        }
    }

    .tt-kc-top {
        .txt-ttt {
            color: #BE9457;
        }
    }

    .binh-chon {
        visibility: visible;
        opacity: 1;
        margin-top: 20px;
        text-align: center;

        .name-star {
            font-weight: 600;
            font-size: 24px;
            color: #EFD16E;
            font-family: $font2;
        }

        .vote {
            color: #EFD16E;
            margin: 12px 0;
            text-align: center;
            font-size: 18px;
            line-height: 160%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .like {
            background: url(images/icons/like.svg) no-repeat center/contain;
            width: 20px;
            height: 20px;
            margin: 0 6px 0 0;
        }

        .flex-btn {
            margin-top: 30px;

            a {
                width: 45%;
                width: calc(50% - 8px);
                line-height: 50px;
                margin-top: 0;
                margin-left: 4px;
                margin-right: 4px;
                font-size: 13px;
                color: #343A40;
                background: #F8F8FB;
                border-radius: 4px;

                &:hover {
                    border: 1px solid #EFD16E;
                    background: #EFD16E;
                    color: #fff;
                }
            }
        }
    }
}

// .title-no-grad {
//     margin-bottom: 0;
//     padding-bottom: 50px;

//     span {
//         color: #fff;
//         background: none;
//         -webkit-background-clip: inherit;
//         -webkit-text-fill-color: inherit;
//         font-size: 18px;
//     }

//     &:before {
//         display: none;
//     }

//     .title-svg {
//         margin-top: 0;
//     }
// }

.top-main-detail {
    align-items: center;
}

.social-detail {
    font-size: 0;
    text-align: center;

    a {
        width: 48px;
        height: 48px;
        text-align: center;
        line-height: 48px;
        background: #022742;
        border: 1px solid #013B67;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
        color: #fff;

        .ic {
            display: inline-block;
            vertical-align: middle;
        }

        &:hover {
            background: #BE9457;
            border: 1px solid #BE9457;
        }
    }
}

.wrap-slide-photo-detail {
    position: relative;


    .swiper-slide {
        width: 60%;

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.6;
            position: absolute;
            top: 0;
            left: 0;
            @include cubic-transition($delay: 0, $duration: 350ms, $property: (all));
            z-index: 1;
        }

        .thumb-detail {
            @include cubic-transition($delay: 0, $duration: 350ms, $property: (all));
            width: 100%;
            background: #000;
            height: 0;
            padding-bottom: 60%;

            img {
                position: absolute;
                left: 0;
                top: 50%;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
                height: initial;
                width: initial;
                max-width: 100%;
                max-height: 100%;

            }
        }

        &.swiper-slide-prev {
            .thumb-detail {
                img {
                    left: auto;
                    right: 0;
                }
            }
        }

        &.swiper-slide-active {
            &:before {
                opacity: 0;
            }

            .thumb-detail {
                transform: scale(1.1);
                width: 100%;
                background: #000;
                height: 0;
                padding-bottom: 60%;

                img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    height: initial;
                    width: initial;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }

    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 30px;
        height: 80px;
        top: 50%;
        margin-top: -40px;
        cursor: pointer;
        outline: 0;
        background: rgba(0, 0, 0, 0.6);
    }

    .swiper-button-next {
        right: 0;

        &:before {
            content: "";
            position: absolute;
            top: 36px;
            left: 2px;
            border-top: 1px solid #fff;
            border-right: 1px solid #fff;
            width: 15px;
            height: 15px;
            transform: rotate(45deg);
        }
    }

    .swiper-button-prev {
        left: 0;

        &:before {
            content: "";
            position: absolute;
            top: 36px;
            left: 10px;
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
            width: 15px;
            height: 15px;
            transform: rotate(-45deg);
        }
    }

}

.section-gioithieu {
    font-size: 18px;
    padding-top: 40px;

    p {
        margin-bottom: 30px;
        line-height: 27px;
    }

    .wrap-video {
        max-width: 700px;
        margin-bottom: 30px;

        .description {
            font-size: 16px;
            line-height: 1.1875;
            margin-top: 14px;
            margin-bottom: 0;

        }
    }
}

/*End Chi tiết hạng mục*/

/*section-comment*/
.section-comment {
    margin-bottom: 25px;

    .container-comment {
        max-width: 780px;
    }
}

.section-page-ngoisaokhac {
    padding-bottom: 20px;
    background: #F8F8FB;

    .title-star {
        margin-bottom: 60px;
        padding-left: 65px;

        span {
            font-size: 36px;
            line-height: 140%;
        }

        &:before {
            width: 55px;
            height: 55px;
            top: 5px;
        }
    }
}

.section-page-hangmuckhac {
    background: url(images/graphics/bg-sec-hmbc.jpg) no-repeat top right/cover;
    padding: 40px 16px 20px 16px;


    .list-icon-hm {
        justify-content: center;
        flex-wrap: wrap;

        .item-icon-hm {
            width: 50%;
            padding: 0 8px;
            margin-bottom: 16px;

            .wrap {
                display: block;
                position: relative;
            }

            .title-hm2 {
                position: absolute;
                color: #022742;
                font: 600 22px/1.2 $font2;
                text-transform: uppercase;
                bottom: 40px;
                right: 15px;
                text-align: right;

                @media (min-width: 460px) {
                    bottom: 50px;
                    right: 25px;
                }
            }

            img {
                width: 100%;
            }
        }
    }
}


//COMMENT CUSTOM
.section_comment {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.box_comment_vne {
    padding-top: 0;

    &::before {
        display: none
    }

    .ykien_vne {
        position: relative;
        background: #fff !important;
        padding: 0 !important;
        margin-top: -10px;

        .left {
            font: 500 20px var(--font-title);
            float: none;
            padding: 12px 10px;
            color: #222;
            margin: 0 -10px;
        }

        .filter_coment_mobile {
            display: none
        }

        .filter_coment {
            margin: 0 0 2px 0 !important;
            padding-left: 0;
            height: 48px;
            line-height: 48px;
            background: #fff;
            display: flex;
            text-align: center;
            border-top: 1px solid #E5E5E5;
            border-bottom: 1px solid #E5E5E5;
            width: 100%;

            a {
                font: 400 16px Arial;
                position: relative;
                line-height: 48px;
                width: 50%;
                color: #1F3347;

                &.active {
                    background: #0B84DA;
                    color: #fff !important;

                    &::before {
                        display: none
                    }
                }
            }
        }
    }

    .comment_item {
        .link_thich {
            svg {
                fill: var(--ns_color);
                vertical-align: inherit;
                width: 14px;
                height: 14px;
            }

            &.unlike {
                svg {
                    fill: #999;
                }
            }
        }


        .report_bad {
            background: none !important;
            font-size: 14px !important;
            width: initial !important;
            height: inherit !important;

            &::before {
                top: 6px !important;
            }
        }
    }

    .btn_send_comment#comment_post_button {
        background: var(--ns_color) !important;
        border-radius: 2px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        padding: 5px 20px;
    }

    .input_comment {
        background: #fff !important;
        padding: 5px 0 !important;

        textarea {
            border: 1px solid #E0E6EB !important;
            border-radius: 3px;
            resize: none;
            color: #56738F;

            @include placeholder {
                color: #56738F !important;
            }
        }
    }

    .btn_send_comment {
        height: 40px;
    }

    .input_comment span {
        margin-top: 13px;
    }

    .like_google .not_login a {
        color: var(--ns_color);
    }

    .input_comment .avata_coment {
        width: 44px !important;
        height: 44px !important;

        img {
            width: 100% !important;
            height: 100% !important;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }

    .input_comment_full {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .user_status {
        .txt_666 {
            color: #56738F !important;

            .nickname {
                color: #1F3347 !important
            }
        }
    }
}