html,
body {
    text-rendering: optimizeLegibility;
}

html {
    //overflow-y: scroll;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

body {
    color: #333;
    font: 400 16px 'Roboto', serif;
    min-height: 100vh;
    overflow-x: hidden;
}

/*body::-webkit-scrollbar { 
    display: none;
}*/

html {
    -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.has_transition {
    @include cubic-transition($delay: 0, $duration: 200ms, $property: (all));
}

/*.sticky{
    position: sticky;
    top: 50px;
}*/
a:focus {
    outline: 1 !important;
}

a {
    color: inherit;
    text-decoration: none;
    outline: 1;
}

table {
    border-collapse: collapse;
}

img {
    border: 0;
    font-size: 0;
    line-height: 0;
    max-width: 100%;
    vertical-align: middle;
    /*image-rendering: pixelated;*/
}

ul,
li {
    list-style-type: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea,
select {
    background: #fff;
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    font-size: 15px;
    /*margin: 3px 0;*/
    padding: 0 12px;
    outline: none;
    font-family: arial;
    @include cubic-transition($delay: 0, $duration: 200ms, $property: (all));

    &:focus {
        border: 1px solid #4f4f4f;
    }
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

figure {
    margin: 0 auto 20px;
    max-width: 100%;
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.width_common {
    width: 100%;
    float: left;
}

.relative {
    position: relative;
}

.no_wrap {
    white-space: nowrap;
}

.flex {
    display: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.center {
    text-align: center
}

.txt-left {
    text-align: left
}

.txt-right {
    text-align: right
}

.sticky {
    position: sticky;
    top: 0
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb22 {
    margin-bottom: 22px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.bg-white {
    background: #fff !important;
}

.bg-agray {
    background: #EDEDF2 !important;
}

.bg-agray2 {
    background: #F8F8FB !important;
}