.container-medium{
  max-width: 1145px;
}
.section-back-ns {
  background: #02040A;
  padding: 5px 0;

  a {
    font-size: 14px;
    color: #BE9457;

    .ic {
      width: 10px;
      height: 10px;
      fill: #BE9457;
      display: inline-block;
      vertical-align: middle;
      transform: rotate(180deg);
    }
  }
}

.section-menu-inpage {
  @include cubic-transition($delay: 0, $duration: 300ms, $property: (all));
  background: #022742;
  padding: 7px 0;
  position: sticky;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  z-index: 11;
  .wrap-mn{
        align-items: center;
        justify-content: space-between;
  }
  .logo{
    position: relative;
    height: 55px;
    width: 106px;
    @include cubic-transition($delay: 0, $duration: 300ms, $property: (all));
    img {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      @include cubic-transition($delay: 0, $duration: 300ms, $property: (all));
      &.logo-blue{opacity: 0; visibility: hidden;}
    }
  }
  &.sticky{
    background: #fff;
    box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.15);
    .logo {
      height: 40px;
      width: 74px;

      img {
       
        &.logo-blue {
          opacity: 1;
          visibility:visible;
        }
        &.logo-md {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    .list-menu{
      li{
        a {
          color: #495057;
        }
        &.active,&:hover{
          a{
            color: #BE9457;
          }
        }
      }
    }  
    .login{
      color: #495057;
      &:hover{
        color: #BE9457;
      }
    }
  }
}

.sec-breakcrum{
  padding: 10px 0 15px 0;
  background: #fff;
}

.mn-break{
  li{
    float: left;
    margin-right: 25px;
    position: relative;
    &:after{
      border: solid #BDBDBD;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 2px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      position: absolute;
      top: 7px;
      right: -13px;
      content: '';
    }
     a{
       display: block;
       font-size: 14px;
       line-height: 150%;
       color: #222;
     } 
    &:last-child{
      &:after{display: none;}
    a{
      font-weight: 700;
    }
    }
  }
}
.tt-kc-top{
  position: absolute;
  right: -300px;
  top: -8px;
  align-items: center;
  .txt-ttt{
    font: 400 12px/120% $font1;
    text-transform: uppercase;
    color: #613B02;
  }
}

.section-page-hm{
  padding: 80px 0;
  background: #fff;
  &.bg-gray{
    background: #EDEDF2;
    .binh-chon .flex-btn a{
          border: 1px solid #d1d1d1;
          &:hover{
                border: 1px solid #EFD16E;
                background: #EFD16E;
          }
    }
  }

  .swiper-container{padding-top: 20px;}
  .list-singer{
    .item{padding: 0 15px;}
  } 
  .binh-chon{
    .flex-btn{
      a{width: 85px;}
    }
  }  

  .wrap-slide{width: calc(100% + 30px); margin-left: -15px; position: relative;
    .swiper-button-next,
    .swiper-button-prev {
      width: 35px;
      height: 100px;
      cursor: pointer;
      outline: 0;
      background: rgba(237, 237, 242, 0.6);
    }

    .swiper-button-next {
      top: 15%;
      right: -35px;

      &::before {
        content: "";
        position: absolute;
        top: 36px;
        left: 2px;
        border-top: 1px solid #333;
        border-right: 1px solid #333;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
      }
    }

    .swiper-button-prev {
      top: 39%;
      right: -35px;
      left: inherit;

      &::before {
        content: "";
        position: absolute;
        top: 36px;
        left: 10px;
        border-top: 1px solid #333;
        border-left: 1px solid #333;
        width: 20px;
        height: 20px;
        transform: rotate(-45deg);
      }
    }

    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled{
      opacity: 1;
      &:before{opacity: 0.35;}
    }
  }

  .label-tab{
    font-family: $font2;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    color: #343A40;
    &.align-right{
      text-align: right;
    }
  }

}

.header-sec-hm{align-items: center;
  .icon-hac{
    width: 40%;
    text-align: right;
  }
  .text-head-hm{width: 60%; text-align: right; text-transform: uppercase;
    .txt-s{
      font: normal 16px/21px $font1;
      color: #343A40;
      display: block;
      text-align: right;

    }
    .txt-b {
      font: 600 42px/50px $font2;
      margin-top: 5px;
      color: #022742;
      display: block;
    }
    .img-txt{
      img{height: 80px;
        background: #fff;
        z-index: 1;
        padding-left: 40px;
        position: relative;
      }
      display: block;
      margin-top: 10px;
      position: relative;
      
      &:after{
        content: '';
        width: 100%;
        height: 1px;
        background:#B79644;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -0.5px;
        z-index: 0;
        opacity: 0.23;
      }
    }
  }

  &.header-sec-hm-left{
    .text-head-hm{text-align: left;
      .txt-s{padding-right: 36%;}
      .img-txt{
        img {
          padding-left: 0;
          padding-right: 40px;
          background: #EDEDF2;
        }
      }
    }
  }
}

.hm-amnhac{
  padding-top: 50px;
  .header-sec-hm{
    .text-head-hm{
      .txt-s{text-align: left; padding-left: 36%;}
    }
  }
}

.hm-mynhan{
  .header-sec-hm {
    .text-head-hm {
      .txt-s {
        text-align: left;
        padding-left: 47%;
      }
    }
  }
}

.hm-camhung{
  .header-sec-hm.header-sec-hm-left .text-head-hm .txt-s {
    padding-right: 18%;
  }
}

.name-pro-type{
  text-align: center;
  color: #343A40;
  margin-bottom: 25px;
  font: normal 28px/39.2px $font1;
  strong{
    font: 600 28px/39.2px $font2;
  }
}

.hm-camhung{
  .list-singer{
    .item{width: 33.333%; padding: 0 45px;
      .wrap{padding: 0 17%;}
    }
  } 
}

.hm-conghien{
  .list-singer{
    justify-content: center;
    .item{width: 28%;}
  }

  .header-sec-hm .text-head-hm .txt-s {
    text-align: left;
    padding-left: 47%;
  }
}

/**banner ads**/
.sec-bannerad {
  text-align: center;
  padding: 65px 0;
  border-bottom: 1px solid #e5e5e5;
  &.border-top {
    border-top: 1px solid #e5e5e5;
    border-bottom: none;
  }
  &.noborder {
    border-bottom: none;
  }
}


@media screen and (max-width: 1279px) {
  .section-page-hm .wrap-slide {
    width: 100%;
    margin-left: 0;
    padding-right: 30px;
  }
  .section-page-hm .wrap-slide .swiper-button-next{
    right: -7px;
  }

  .section-page-hm .wrap-slide .swiper-button-prev {
    right: -7px;
  }
  .section-page-hm .list-singer .item {
    padding: 0 5px;
  }
}
