/* Scss Document */
@import 'var.scss';
@import 'reset.scss';
@import 'swiper.scss';
@import 'thumb.scss';
@import 'fonts.scss';
@import 'icon.scss';
@import "lightgallery.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*html{overflow-x: hidden;}*/
.mt30 {
    margin-top: 30px;
}

.mb30 {
    margin-bottom: 30px;
}

svg.ic {
    width: 16px;
    height: 16px;
    fill: #fff;
}

.section {
    width: 100%;
    position: relative;
    padding: 0 3.6%;
}

.container {
    width: 100%;
    max-width: 1780px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    @extend %clearfix;
}

.min-container {
    width: 100%;
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    @extend %clearfix;
}

.fp-tableCell {
    vertical-align: top;
}

/**SECTION 1**/
#section0 {
    background: url(images/graphics/bg-sectop.jpg) no-repeat top center;
}

.banner-ad {
    text-align: center;
    padding: 30px 0;
}

.menu-main {
    align-items: center;
    justify-content: space-between;
}

.list-menu {
    text-align: center;
    font-size: 0;

    li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;

        a {
            display: block;
            text-transform: uppercase;
            color: #E9E9E9;
            font-size: 14px;
            font-weight: 400;
            @include cubic-transition($delay: 0, $duration: 200ms, $property: (all));
        }

        &.active {
            a {
                color: #BE9457;
                font-weight: 700;
            }
        }

        &:hover {
            a {
                color: #BE9457;
            }
        }
    }
}

.login {
    display: block;
    text-transform: uppercase;
    color: #E9E9E9;
    font-size: 14px;
    font-weight: 400;
    @include cubic-transition($delay: 0, $duration: 200ms, $property: (all));

    &:hover {
        color: #BE9457;
    }
}

.ctn-sectop {
    justify-content: center;
    padding-top: 7%;

    .img-hac {
        margin-right: 4%;
    }
}

.box-text-top {
    padding-top: 3%;
    flex-direction: column;
    align-items: center;
}

.btn-votenow {
    background: #EFD16E;
    text-transform: uppercase;
    padding: 11px 32px;
    line-height: 26px;
    color: #000;
    margin-top: 35px;
}

.back-ns-ver {
    position: absolute;
    width: 17px;
    height: 185px;
    background: url(images/graphics/back-ns-ver.svg) no-repeat 0 0;
    background-size: contain;
    left: calc(3.6% + 15px);
    top: 50%;
    margin-top: -92.5px;
}

.social-share-bottom {
    position: absolute;
    left: calc(3.6% + 15px);
    bottom: 67px;
    width: 32px;

    a {
        display: block;
        margin: 8px 0;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 32px;

        .ic {
            fill: #fff;
        }
    }
}

.scroll-mouse-ic {
    position: absolute;
    bottom: 75px;
    right: calc(3.6% + 15px);
    width: 20px;
    height: 167px;
    background: url(images/graphics/scroll-icon.svg) no-repeat 0 0;
    background-size: contain;
}


#section1,
#section2,
#section3,
#section4,
#section5 {
    background: #EDEDF2;
}

.fixed-nav {
    position: fixed;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    right: calc(3.6% + 15px);
    z-index: 1;
    @include cubic-transition($delay: 0, $duration: 300ms, $property: (all));

    ul {
        text-align: right;
        font-size: 0;

        li {
            display: inline-block;
            vertical-align: middle;
            margin-left: 30px;

            a {
                display: block;
                font-size: 18px;
                line-height: 30px;
                color: #74788D;
            }

            &.active {
                a {
                    font-weight: 500;
                    color: #343A40;
                }
            }

            &:first-of-type,
            &:last-of-type {
                display: none;
            }
        }
    }
}

.menu-main-pin {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.15);
    z-index: 1;
    width: 100%;
    padding: 7px 3.6%;
    @include cubic-transition($delay: 0, $duration: 500ms, $property: (all));

    .list-menu {
        li {
            a {
                color: #495057;
            }

            &.active,
            &:hover {
                a {
                    color: #BE9457;
                }
            }
        }
    }

    .login {
        color: #495057;

        &:hover {
            color: #BE9457;
        }
    }
}

.fp-viewing-secondPage,
.fp-viewing-3rdPage,
.fp-viewing-4rdPage,
.fp-viewing-5rdPage,
.fp-viewing-6rdPage {
    .fixed-nav {
        top: 70px;
        opacity: 1;
        visibility: visible;
    }
}

.fp-viewing-secondPage,
.fp-viewing-3rdPage,
.fp-viewing-4rdPage,
.fp-viewing-5rdPage,
.fp-viewing-6rdPage,
.fp-viewing-7rdPage {
    .menu-main-pin {
        opacity: 1;
        visibility: visible;
    }
}

/**HẠNG MỤC BÌNH CHỌN HOME**/
.binh-chon {
    color: #888D93;
    font-size: 14px;
    margin-top: 30px;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));

    .flex-btn {
        justify-content: center;

        a {
            display: inline-block;
            border: 1px solid #E9E9E9;
            border-radius: 2px;
            color: #343A40;
            line-height: 36px;
            width: 104px;
            margin: 10px 4px 0 4px;
            transition: .2s ease;
            text-align: center;

            &:hover {
                border: 1px solid #EFD16E;
                background: #EFD16E;
                color: #fff;
            }
        }
    }
}

.section-hangmuc {
    .container {
        padding-top: 70px;
    }

    .title-hangmuc {
        font: 600 20px $font2;
        color: #343A40;

        img {
            vertical-align: middle;
            width: 45px;
        }
    }

    .name-cate {
        position: absolute;
        left: 0;
        left: 130px;
        top: 207px;
        bottom: 110px;
        @include cubic-transition($delay: 0, $duration: 1000ms, $property: (all));
        opacity: 0;
        visibility: hidden;

        &::before {
            content: "";
            background: #B79644;
            width: 1px;
            height: 100%;
            position: absolute;
            left: 40px;
        }

        .img {
            background: #EDEDF2;
            position: relative;
            display: block;
            padding-bottom: 20px;
        }

        img {
            width: 70px;
        }
    }

    .social-share-bottom {
        position: absolute;
        bottom: -10px;
        left: 22px;

        a {
            color: #343A40;
            width: 32px;
            height: 32px;
            display: block;
            border-radius: 50%;
            margin: 0;

            .ic {
                fill: #343A40;
            }
        }
    }

    .wrap-slide {
        background: #F8F8FB;
        padding: 130px 90px 45px 90px;
        max-width: 1550px;
        margin: 110px auto 0;
        text-align: center;
        position: relative;

        .swiper-container {
            padding: 25px 0;
        }

        .swiper-pagination {
            top: -70px;
            left: 0;
            right: 0;

            .swiper-pagination-bullet {
                width: auto;
                height: auto;
                font: 600 36px $font2;
                color: #888D93;
                margin: 0 22px;
                border-radius: 0;
                background: none;
                outline: 0;
                opacity: 1;

                &-active {
                    color: #343A40;
                }
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            width: 35px;
            height: 100px;
            cursor: pointer;
            outline: 0
        }

        .swiper-button-next {
            top: 50%;
            right: -70px;

            &::before {
                content: "";
                position: absolute;
                top: 36px;
                left: 2px;
                border-top: 1px solid #333;
                border-right: 1px solid #333;
                width: 20px;
                height: 20px;
                transform: rotate(45deg);
            }
        }

        .swiper-button-prev {
            top: 60%;
            right: -70px;
            left: inherit;

            &::before {
                content: "";
                position: absolute;
                top: 36px;
                left: 10px;
                border-top: 1px solid #333;
                border-left: 1px solid #333;
                width: 20px;
                height: 20px;
                transform: rotate(-45deg);
            }
        }



    }

    &.active {
        .name-cate {
            left: 0;
            opacity: 1;
            visibility: visible;
        }
    }
}

.list-singer {
    .item {
        @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));
        width: 20%;
        padding: 0 24px;
        opacity: 0.7;

        .wrap {
            position: relative;
            @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));
            display: block;

            .content {
                color: #EFD16E;
                position: absolute;
                bottom: 40px;
                left: 0;
                right: 0;
                text-align: center;
                font-family: $font1;

                .vote {
                    margin-bottom: 6px;
                    font-size: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .like {
                    background: url(images/icons/like.svg) no-repeat center;
                    width: 25px;
                    height: 25px;
                    margin: 0 6px 0 0;
                }

                h3 {
                    color: #FFFFFF;
                    font-size: 20px;
                }
            }
        }

        &:hover {
            opacity: 1;

            .wrap {
                transform: scale(1.1);
            }

            .binh-chon {
                opacity: 1;
                visibility: visible;

            }
        }


    }
}

#section3 {
    .wrap-slide {
        .binh-chon {
            margin-top: 0;
        }
    }
}

/**END HẠNG MỤC BÌNH CHỌN HOME**/

#section6 {
    padding: 0;

    .iScrollVerticalScrollbar {
        display: block
    }
}

.iScrollVerticalScrollbar {
    display: none
}

/**HỘI ĐỒNG**/
.section-hoidong {
    font-family: $font1;
    padding: 115px 0 94px 0;

    .header {
        margin-bottom: 50px;

        .title-cate {
            position: relative;
            padding-left: 60px;
            width: 50%;
            padding-right: 40px;

            &::before {
                content: "";
                background: url(images/graphics/ico-bird.svg);
                background-size: contain;
                width: 50px;
                height: 50px;
                position: absolute;
                left: 0;

            }

            &::after {
                content: "";
                background: rgba(183, 150, 68, 0.3);
                height: 2px;
                position: absolute;
                bottom: 0;
                width: 130px;
                right: 40px;
                top: 23px;
            }

            span {
                position: relative;
                font-weight: 600;
                font-size: 28px;
                font-family: $font2;
                z-index: 1;
                background: linear-gradient(to right, #613B02 0%, #EFD16E 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .title-svg {
            width: 50%;
            margin-top: -50px;
        }
    }

    .list-hoidong {
        margin: 0 -16px;

        .item {
            width: 25%;
            padding: 0 16px;
            margin-bottom: 32px;
            color: #000000;
            text-align: center;

            img {
                filter: grayscale(100%);
                @include cubic-transition($delay: 0, $duration: 300ms, $property: (all))
            }

            a {
                display: block
            }

            .name {
                margin-top: 20px;
            }

            &:hover,
            &.active {
                font-family: $font2;

                img {
                    filter: grayscale(0%);
                }
            }
        }

        .info-detail {
            width: 100%;
            border-top: 4px solid #E6E6E6;
            text-align: center;
            padding: 20px;
            position: relative;

            .descripion {
                max-width: 720px;
                margin: 0 auto
            }

            .close {
                position: absolute;
                color: #333;
                top: 10px;
                right: 20px;
                font-size: 22px;
            }
        }
    }


}

/**END HỘI ĐỒNG**/
.title-star {
    padding-left: 50px;
    position: relative;
    margin-bottom: 90px;

    &::before {
        content: "";
        background: url(images/graphics/ico-bird.svg);
        background-size: contain;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 0;
    }

    span {
        position: relative;
        font-size: 28px;
        font-family: $font2;
        z-index: 1;
        background: linear-gradient(to right, #613B02 0%, #EFD16E 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .title-svg {
        position: absolute;
        left: 10px;
        margin-top: -16px;
    }
}

.section-article-home {
    background: #EDEDF2;
    margin-bottom: 90px;

    .item {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        font-family: $font1;

        .ava {
            width: 50%;
            position: relative;
        }

        .conten {
            width: 50%;
            padding: 48px;
            position: relative;
            color: #343A40;

            &::before {
                content: "";
                position: absolute;
                left: -32px;
                top: 50%;
                margin-top: -16px;
                border-top: 32px solid transparent;
                border-bottom: 32px solid transparent;
                border-right: 32px solid #EDEDF2;

            }
        }

        .title-new {
            color: #343A40;
            font-size: 28px;
            font-family: $font2;
            line-height: 1.4;
            margin-bottom: 16px;
        }

        .description {
            font-size: 16px;
            line-height: 160%;
            font-family: Roboto;
            margin-bottom: 16px;
        }

        .view {
            text-transform: uppercase;
            font-size: 16px;
            position: relative;
            padding-right: 25px;

            &::before {
                content: "";
                position: absolute;
                top: 7px;
                right: 0;
                border-top: 1px solid #333;
                border-right: 1px solid #333;
                width: 10px;
                height: 10px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }

        .social {
            display: flex;
            position: absolute;
            bottom: 40px;

            a {
                background: #FFFFFF;
                text-align: center;
                width: 32px;
                height: 32px;
                line-height: 32px;
                border-radius: 50%;
                display: block;
                margin-right: 16px;

                .ic {
                    fill: #343A40
                }
            }
        }

        &:first-child {
            .ava {
                img {
                    width: 205px;
                    position: absolute;
                    bottom: 80px;
                    right: 30px;
                }
            }

            .title-star {
                padding-top: 130px;
            }
        }

        &:nth-child(3) {
            .conten {
                background: #024BA0;
                color: #fff;

                &::before {
                    border-right: 32px solid #024BA0;

                }
            }

            .title-new {
                a {
                    color: #EFD16E;
                }
            }

            .view {
                &::before {
                    border-top: 1px solid #fff;
                    border-right: 1px solid #fff;
                }
            }
        }

        &:nth-child(4) {
            .ava {
                order: 2;
            }

            .conten {
                order: 1;

                &::before {
                    right: -32px;
                    left: inherit;
                    transform: rotate(180deg);
                }
            }
        }
    }
}


/*section-talkshow*/
.section-talkshow {
    margin-bottom: 90px;

    .wrap-video {
        position: relative;
    }

    .bottom-video {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 90px 37px 37px 105px;
        background: linear-gradient(0deg, #000000 -11.44%, rgba(0, 0, 0, 0) 83.39%);
        color: #fff;

        .title-video {
            font-size: 20px;
            line-height: 1.4;
            font-family: $font2;

            a {
                color: #fff
            }
        }

        .time {
            font-size: 16px;
            color: #fff;
            display: inline-block;
            border: 1px solid rgba(255, 255, 255, .3);
            bottom: 30px;
        }
    }

    .img_icon {
        border: 0;

        &::before {
            display: none
        }
    }

    .list-video {
        background: #F8F8FB;
        padding: 37px 89px;
        position: relative;

        .swiper-button-next {
            right: 25px;
        }

        .swiper-button-prev {
            left: 25px;
        }

        .item-video {
            padding: 8px;

            &.active {
                background: rgba(189, 189, 189, 0.2);
                border-radius: 4px;

                .thumb-news {
                    &:before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        background: rgba(0, 0, 0, 0.4);
                        z-index: 1;
                        cursor: pointer;
                    }
                }
            }
        }

        .thumb-news {
            width: 110px;
            float: left;
            margin-right: 15px;
            border-radius: 4px;
        }

        .title-video {
            color: #343A40;
            font-size: 15px;
            line-height: 1.3;
            font-weight: normal;
            overflow: hidden;
            margin-top: 0;
        }

        .time {
            width: 36px;
            height: 19px;
            line-height: 19px;
            background: #2F243A;
            border-radius: 0px 0px 4px 0px;
            position: absolute;
            right: 0;
            left: auto;
            bottom: 0;
            color: #fff;
            text-align: center;
            font-size: 12px;
            border: none;
        }

        .btn-prev,
        .btn-next {
            border-right: 2px solid #613B02;
            border-bottom: 2px solid #613B02;
        }

        .btn-prev {
            left: 45px;
        }

        .btn-next {
            right: 23px;
        }
    }
}

// HẠNG MỤC ĐOẠT GIẢI
.section-doatgiai {
    padding: 65px 0 150px 0;
    background: radial-gradient(87.52% 138.08% at 46.76% 50%, #0551AB 0%, #000000 100%);
    color: #F8F8FB;
    font-size: 18px;
    margin-bottom: 90px;


    .social {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;

        a {
            background: #012947;
            text-align: center;
            width: 32px;
            height: 32px;
            line-height: 32px;
            border-radius: 50%;
            display: block;
            margin-right: 16px;

            .ic {
                fill: #fff;
            }
        }
    }

    .warp-bg {
        background: #FFF5EA;
        padding: 100px 80px 100px 50px;
        position: relative;
        width: 100%;
        float: left;

        .ic-hac {
            position: absolute;
            left: -70px;
            bottom: -70px;
        }
    }

    .swiper-container {
        padding: 24px 0;
    }

    .swiper-button-next {
        right: 30px;
    }

    .swiper-button-prev {
        left: inherit;
        right: 30px;
        margin-top: 70px;
    }

    .swiper-pagination {
        top: -120px;
        left: 0;
        right: 0;

        .swiper-pagination-bullet {
            width: auto;
            height: auto;
            font: 400 18px $font1;
            color: #F8F8FB;
            margin: 0 12px;
            border-radius: 0;
            background: none;
            outline: 0;
            opacity: 1;

            &-active {
                font: 600 20px $font2;
                color: #EFD16E;
            }
        }
    }

    .list-singer {
        .item {
            width: 16.66%;
            text-align: center;
            padding: 0 15px;
            opacity: 1;

            .ava {
                margin-bottom: 10px;
            }

            p {
                color: #495057;
                font-size: 20px;
                font-family: $font1
            }

            &.active {
                .wrap {
                    transform: scale(1.1);
                }
            }
        }
    }

    .title-star {
        float: left;
    }

    .listmn-doatgiai {
        float: left;
        margin-left: 150px;
        font-size: 0;
        margin-top: 5px;

        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 25px;

            a {
                display: block;
                font: normal 18px/160% $font1;
                color: #F8F8FB;
            }

            &.active {
                a {
                    font: 600 20px/120% $font2;
                    color: #EFD16E;
                }
            }
        }
    }
}

// HÌNH ẢNH
.section-hinhanh {
    margin-bottom: 90px;
    color: #495057;
    font-size: 20px;
    position: relative;

    .note {
        position: absolute;
        right: 0;
        top: 50px
    }

    .swiper-pagination {
        left: 0;
        right: 0;
        bottom: -40px;

        .swiper-pagination-bullet {
            background: #EDEDF2;
            margin: 0 7px;
            width: 56px;
            height: 6px;
            border-radius: 0;
            opacity: 1;
            cursor: pointer;

            &-active {
                width: 184px;
                background: #D4D4D9;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 50%
    }

    .swiper-button-next {
        right: -40px;
    }

    .swiper-button-prev {
        left: -40px;
    }
}


// NHÀ TÀI TRỢ
.section-nhattaitro {
    background: #EDEDF2;
    padding: 80px 0;
    font-family: $font1;
    font-size: 18px;

    h3 {
        color: #613B02;
        text-transform: uppercase;
        display: block;
        margin-bottom: 20px;
        width: 100%;
    }

    .logo {
        display: block;
        margin-bottom: 40px;
    }

    .item {
        width: 345px;
        margin-right: 32px;

        &:last-child {
            margin-right: 0;
        }
    }

    .head {
        justify-content: space-between;

        .title-star {
            margin: 30px 0px 0 0px;
            padding-right: 150px;
        }

        .ic-hac {
            position: absolute;
            right: -30px;
            bottom: -60px;
            width: 200px;
        }
    }
}


// FOOTER
.section-footer {
    background: #024BA0;
    padding: 17px;
    color: #fff;
    font-size: 12px;
    line-height: 1.5;

    .flex {
        justify-content: space-between;
        align-items: center;
    }

    .copyright {
        max-width: 433px;
    }
}

.normalpage-ns {
    .section-nhattaitro {
        background: #fff;
    }
}

/**LIGHTBOX**/
@import 'lightbox.scss';

/**MYVNE**/
@import 'taskbar-myvne.scss';

/**RESPONSIVE HOME**/
@media screen and (max-width: 1799px) {
    .fullpage-ns {
        .section {
            padding: 0;
        }
    }

    #section0 {
        background: url(images/graphics/bg-sectop.jpg) no-repeat 50% 58%;
        background-size: cover;
    }

    .ctn-sectop .img-hac {
        width: 425px;
    }

    .back-ns-ver,
    .social-share-bottom {
        left: 15px;
    }

    .scroll-mouse-ic {
        right: 15px;
    }

    .section-hangmuc.active {
        .name-cate {
            left: 15px;
        }
    }

    .section-hangmuc .wrap-slide .swiper-pagination .swiper-pagination-bullet {
        font-size: 25px;
    }

    .section-hangmuc {
        .wrap-slide {
            padding: 20px 40px 45px 40px;
            max-width: 1415px;
            margin: 70px auto 0;
        }
    }

    .binh-chon .flex-btn a {
        width: 95px;
    }

    .fp-viewing-5rdPage {
        .section-hangmuc .name-cate {
            top: 160px;
        }

        .section-hangmuc .social-share-bottom {
            bottom: -85px;
        }
    }

    .section-article-home .item .conten {
        padding: 20px;
    }

    .menu-main-pin {
        padding: 7px 15px;
    }

}


@media screen and (max-width: 1599px) {
    .section-hangmuc .wrap-slide {
        padding: 20px 20px 45px 20px;
        max-width: 1200px;
    }

    .section-hangmuc .name-cate img {
        width: 50px;
    }

    .section-hangmuc .name-cate::before {
        left: 25px;
    }

    .list-singer .item {
        padding: 0 10px;
    }

    .fp-viewing-5rdPage .section-hangmuc .social-share-bottom {
        bottom: -10px;
    }

    .section-article-home .item .conten {
        padding: 15px;
    }

    .section-article-home .item .title-new {
        font-size: 24px;
    }

    .section-article-home .item .social {
        bottom: 15px;
    }

    .section-doatgiai .warp-bg {
        padding: 50px 30px 50px 30px;
    }

    .section-doatgiai .swiper-button-prev,
    .section-doatgiai .swiper-button-next {
        right: 5px;
    }
}


@media screen and (max-width: 1279px) {
    .ctn-sectop {
        padding-top: 11%;

        .img-hac {
            width: 350px;
        }
    }

    .section-hangmuc .name-cate {
        img {
            width: 35px;
        }

        &:before {
            display: none;
        }

        top: 95px;

        .img {
            transform: rotate(90deg);
            padding-bottom: 0;
        }
    }

    .section-hangmuc.active .name-cate {
        left: 67px;
    }

    .fp-viewing-3rdPage {
        .section-hangmuc .name-cate {
            top: 80px;
        }

        .section-hangmuc.active .name-cate {
            left: 83px;
        }
    }

    .fp-viewing-4rdPage {
        .section-hangmuc .name-cate {
            top: 90px;
        }

        .section-hangmuc.active .name-cate {
            left: 72px;
        }
    }

    .fp-viewing-5rdPage {
        .section-hangmuc .name-cate {
            img {
                width: 37px;
            }

            top: 30px;
        }

        .section-hangmuc.active .name-cate {
            left: 128px;
        }
    }

    .fp-viewing-6rdPage {
        .section-hangmuc .name-cate {
            top: 90px;
        }

        .section-hangmuc.active .name-cate {
            left: 72px;
        }
    }

    .binh-chon {
        opacity: 1;
        visibility: visible;
        margin-top: 5px;
    }

    .binh-chon .flex-btn a {
        width: 75px;
    }

    .section-article-home .item .description {
        display: none;
    }

    .section-doatgiai .listmn-doatgiai {
        margin-bottom: 15px;
    }

    .section-doatgiai .list-singer .item {
        padding: 0 5px;
    }

    .section-talkshow .list-video {
        padding: 15px 30px;
    }

    .section-talkshow {
        .wrap-video .title-video {
            margin-top: 0;
        }
    }

    .section-talkshow .list-video .swiper-button-next {
        right: 0;
    }

    .section-talkshow .list-video .swiper-button-prev {
        left: 10px;
    }

}

.section_topbar {
    display: none;
}

@media screen and (max-width: 979px) {
    #section0 {
        background: url(images/graphics/bg-sectop.jpg) no-repeat 35% 58%;
        background-size: cover;
    }

    .ctn-sectop {
        padding-top: 40%;
    }

    .menu-main {
        display: none;
    }

    .section_topbar {
        display: flex;
    }

    @import 'mheader.scss';

    .hamburger-btn {
        top: 24px;
    }

    .section_topbar {
        width: 100%;
        background: none;
        padding: 0;
        position: relative;

        &::before {
            content: "";
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='44' height='1' viewBox='0 0 44 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='-0.000488238' y1='0.5' x2='43.9995' y2='0.500004' stroke='url(%23paint0_linear)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear' x1='0.393854' y1='1.99999' x2='34.9762' y2='13.1996' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='white'/%3e%3cstop offset='0.109375' stop-color='white'/%3e%3cstop offset='0.5' stop-color='white' stop-opacity='0.5'/%3e%3cstop offset='1' stop-color='white' stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
            width: 44px;
            height: 2px;
            position: absolute;
            right: 0;
            top: 26px;
        }

        .logo {
            img {
                height: 70px;
            }
        }
    }

    .topbar-fix {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        padding: 0 16px;
        background: #02233B;
        opacity: 0;
        visibility: hidden;
        @include cubic-transition($delay: 0, $duration: 300ms, $property: (all));

        .logo {
            display: block;
            padding-top: 15px;

        }

        .hamburger-btn {
            top: 32px;
        }
    }

    .menu-main-pin {
        display: none !important;
    }

    .fp-viewing-secondPage,
    .fp-viewing-3rdPage,
    .fp-viewing-4rdPage,
    .fp-viewing-5rdPage,
    .fp-viewing-6rdPage,
    .fp-viewing-7rdPage {
        .topbar-fix {
            opacity: 1;
            visibility: visible;
        }
    }

    .fp-viewing-secondPage .fixed-nav,
    .fp-viewing-3rdPage .fixed-nav,
    .fp-viewing-4rdPage .fixed-nav,
    .fp-viewing-5rdPage .fixed-nav,
    .fp-viewing-6rdPage .fixed-nav {
        top: 115px;
    }

    .section-hangmuc .wrap-slide {
        margin: 80px auto 0;
        width: calc(100% + 30px);
        margin-left: -15px;
    }

    .section-hangmuc .wrap-slide .swiper-pagination {
        top: -50px;
        text-align: right;
    }

    .section-hangmuc {
        .list-singer {
            justify-content: center;

            .item {
                width: 33.33333%;
                opacity: 1;
                margin-bottom: 15px;

                &:hover {
                    .wrap {
                        transform: scale(1);
                    }
                }
            }
        }
    }

    .section-article-home .item .ava {
        width: 100%;
        order: 1;
    }

    .section-article-home .item .conten {
        padding: 15px 15px 65px 15px;
        order: 2;
        width: 100%;
    }

    .section-article-home .item .description {
        display: block;
    }

    .section-article-home .item:nth-child(4) .ava {
        order: 1;
    }

    .section-article-home .item:nth-child(4) .conten {
        order: 2;
    }

    .section-doatgiai .listmn-doatgiai {
        margin-left: 0;
    }

    .section-doatgiai .list-singer .item {
        width: 33.33333%;
        padding: 0 15px;
        margin-bottom: 15px;
    }

    .normalpage-ns {
        .section_topbar {
            &.sticky {
                position: sticky;
                position: -webkit-sticky;
                top: 0;
                padding: 0 16px;
                background: #02233B;
                z-index: 99;

                .logo {
                    display: block;
                    padding-top: 15px;

                }
            }

            .hamburger-btn {
                top: 32px;
            }
        }
    }
}

/***PAGE HẠNG MỤC BÌNH CHỌN***/
@import 'pagehangmuc.scss';

/***PAGE DETAIL***/
@import 'pagedetail.scss';

/***PAGE NEWS***/
@import 'pagenews.scss';

/***PAGE SU GIA SE CHIA***/
@import 'pagesugiasechia.scss';