/**
iconfont Webfont
*/
@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot?1598427137724');
	src: url('iconfont.eot?#iefix-1598427137724') format('embedded-opentype'),
		url('iconfont.woff2?1598427137724') format('woff2'),
		url('iconfont.woff?1598427137724') format('woff'),
		url('iconfont.ttf?1598427137724') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='iconfont-']:before,
[class*=' iconfont-']:before {
	font-family: 'iconfont';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/
 .iconfont-advertising-1:before {
			content: '\ea01';
		}

		 .iconfont-advertising-2:before {
			content: '\ea02';
		}

		 .iconfont-alarm-delete:before {
			content: '\ea03';
		}

		 .iconfont-alert-circle-i:before {
			content: '\ea04';
		}

		 .iconfont-alert:before {
			content: '\ea05';
		}

		 .iconfont-bag-49:before {
			content: '\ea06';
		}

		 .iconfont-bell-53:before {
			content: '\ea07';
		}

		 .iconfont-bookmark-2:before {
			content: '\ea08';
		}

		 .iconfont-bullet-list-67:before {
			content: '\ea09';
		}

		 .iconfont-bullet-list-69:before {
			content: '\ea0a';
		}

		 .iconfont-bullet-list-70:before {
			content: '\ea0b';
		}

		 .iconfont-button-pause:before {
			content: '\ea0c';
		}

		 .iconfont-button-play:before {
			content: '\ea0d';
		}

		 .iconfont-button-record:before {
			content: '\ea0e';
		}

		 .iconfont-button-stop:before {
			content: '\ea0f';
		}

		 .iconfont-calendar-grid-61:before {
			content: '\ea10';
		}

		 .iconfont-chart-bar-33:before {
			content: '\ea11';
		}

		 .iconfont-check-bold:before {
			content: '\ea12';
		}

		 .iconfont-check-circle-08:before {
			content: '\ea13';
		}

		 .iconfont-check-double:before {
			content: '\ea14';
		}

		 .iconfont-check-simple:before {
			content: '\ea15';
		}

		 .iconfont-check-square-09:before {
			content: '\ea16';
		}

		 .iconfont-circle-bold-add:before {
			content: '\ea17';
		}

		 .iconfont-circle-bold-delete:before {
			content: '\ea18';
		}

		 .iconfont-circle-bold-remove:before {
			content: '\ea19';
		}

		 .iconfont-curved-next:before {
			content: '\ea1a';
		}

		 .iconfont-curved-previous:before {
			content: '\ea1b';
		}

		 .iconfont-disk-2:before {
			content: '\ea1c';
		}

		 .iconfont-eclick:before {
			content: '\ea1d';
		}

		 .iconfont-edit-75:before {
			content: '\ea1e';
		}

		 .iconfont-email-83:before {
			content: '\ea1f';
		}

		 .iconfont-enlarge-45:before {
			content: '\ea20';
		}

		 .iconfont-enlarge-46:before {
			content: '\ea21';
		}

		 .iconfont-eraser-33:before {
			content: '\ea22';
		}

		 .iconfont-Facebook:before {
			content: '\ea23';
		}

		 .iconfont-favourite-28:before {
			content: '\ea24';
		}

		 .iconfont-filter-check:before {
			content: '\ea25';
		}

		 .iconfont-fullscreen-double-74:before {
			content: '\ea26';
		}

		 .iconfont-funnel-40:before {
			content: '\ea27';
		}

		 .iconfont-grid-45:before {
			content: '\ea28';
		}

		 .iconfont-grid-48:before {
			content: '\ea29';
		}

		 .iconfont-home-1-2:before {
			content: '\ea2a';
		}

		 .iconfont-ic_closed_caption_24px:before {
			content: '\ea2b';
		}

		 .iconfont-image-01:before {
			content: '\ea2c';
		}

		 .iconfont-l-facebook:before {
			content: '\ea2d';
		}

		 .iconfont-l-google:before {
			content: '\ea2e';
		}

		 .iconfont-l-pinterest:before {
			content: '\ea2f';
		}

		 .iconfont-l-twitter:before {
			content: '\ea30';
		}

		 .iconfont-like-2:before {
			content: '\ea31';
		}

		 .iconfont-link-72:before {
			content: '\ea32';
		}

		 .iconfont-Link:before {
			content: '\ea33';
		}

		 .iconfont-lock-open:before {
			content: '\ea34';
		}

		 .iconfont-lock:before {
			content: '\ea35';
		}

		 .iconfont-log-in:before {
			content: '\ea36';
		}

		 .iconfont-log-out:before {
			content: '\ea37';
		}

		 .iconfont-logo-fb-simple:before {
			content: '\ea38';
		}

		 .iconfont-logo-google-plus:before {
			content: '\ea39';
		}

		 .iconfont-logo-pinterest:before {
			content: '\ea3a';
		}

		 .iconfont-logo-rss:before {
			content: '\ea3b';
		}

		 .iconfont-logo-twitter:before {
			content: '\ea3c';
		}

		 .iconfont-Mail:before {
			content: '\ea3d';
		}

		 .iconfont-media-1:before {
			content: '\ea3e';
		}

		 .iconfont-media-2:before {
			content: '\ea3f';
		}

		 .iconfont-media-3:before {
			content: '\ea40';
		}

		 .iconfont-media-4:before {
			content: '\ea41';
		}

		 .iconfont-media-5:before {
			content: '\ea42';
		}

		 .iconfont-media-6:before {
			content: '\ea43';
		}

		 .iconfont-media-7:before {
			content: '\ea44';
		}

		 .iconfont-menu-34:before {
			content: '\ea45';
		}

		 .iconfont-menu-bold:before {
			content: '\ea46';
		}

		 .iconfont-menu-dots:before {
			content: '\ea47';
		}

		 .iconfont-minimal-down:before {
			content: '\ea48';
		}

		 .iconfont-minimal-left:before {
			content: '\ea49';
		}

		 .iconfont-minimal-right:before {
			content: '\ea4a';
		}

		 .iconfont-minimal-up:before {
			content: '\ea4b';
		}

		 .iconfont-mobile-button:before {
			content: '\ea4c';
		}

		 .iconfont-ns-arrow:before {
			content: '\ea4d';
		}

		 .iconfont-ns-camera:before {
			content: '\ea4e';
		}

		 .iconfont-ns-comment:before {
			content: '\ea4f';
		}

		 .iconfont-ns-flag:before {
			content: '\ea50';
		}

		 .iconfont-ns-pick:before {
			content: '\ea51';
		}

		 .iconfont-ns-play-2:before {
			content: '\ea52';
		}

		 .iconfont-ns-play:before {
			content: '\ea53';
		}

		 .iconfont-ns-quote:before {
			content: '\ea54';
		}

		 .iconfont-ns-shop:before {
			content: '\ea55';
		}

		 .iconfont-ns-video:before {
			content: '\ea56';
		}

		 .iconfont-ns-wedding-1:before {
			content: '\ea57';
		}

		 .iconfont-ns-wedding-2:before {
			content: '\ea58';
		}

		 .iconfont-ns-wedding-3:before {
			content: '\ea59';
		}

		 .iconfont-ns-wedding-4:before {
			content: '\ea5a';
		}

		 .iconfont-ns-wedding-5:before {
			content: '\ea5b';
		}

		 .iconfont-ns-wedding-6:before {
			content: '\ea5c';
		}

		 .iconfont-ns-wedding-7:before {
			content: '\ea5d';
		}

		 .iconfont-ns-wedding-8:before {
			content: '\ea5e';
		}

		 .iconfont-pencil:before {
			content: '\ea5f';
		}

		 .iconfont-phone-2:before {
			content: '\ea60';
		}

		 .iconfont-phone-call:before {
			content: '\ea61';
		}

		 .iconfont-pin-3:before {
			content: '\ea62';
		}

		 .iconfont-print:before {
			content: '\ea63';
		}

		 .iconfont-quite-happy-e:before {
			content: '\ea64';
		}

		 .iconfont-quote:before {
			content: '\ea65';
		}

		 .iconfont-refresh-01:before {
			content: '\ea66';
		}

		 .iconfont-refresh-02:before {
			content: '\ea67';
		}

		 .iconfont-refresh-19:before {
			content: '\ea68';
		}

		 .iconfont-replay:before {
			content: '\ea69';
		}

		 .iconfont-round-e-info:before {
			content: '\ea6a';
		}

		 .iconfont-search-1:before {
			content: '\ea6b';
		}

		 .iconfont-search-2:before {
			content: '\ea6c';
		}

		 .iconfont-select-83:before {
			content: '\ea6d';
		}

		 .iconfont-select-84:before {
			content: '\ea6e';
		}

		 .iconfont-send:before {
			content: '\ea6f';
		}

		 .iconfont-settings-gear-64-2:before {
			content: '\ea70';
		}

		 .iconfont-settings-gear-64:before {
			content: '\ea71';
		}

		 .iconfont-shape-star:before {
			content: '\ea72';
		}

		 .iconfont-share-2:before {
			content: '\ea73';
		}

		 .iconfont-share-26:before {
			content: '\ea74';
		}

		 .iconfont-share-91:before {
			content: '\ea75';
		}

		 .iconfont-share-92:before {
			content: '\ea76';
		}

		 .iconfont-shuffle-98:before {
			content: '\ea77';
		}

		 .iconfont-simple-add:before {
			content: '\ea78';
		}

		 .iconfont-simple-remove:before {
			content: '\ea79';
		}

		 .iconfont-single-01:before {
			content: '\ea7a';
		}

		 .iconfont-single-copy-04:before {
			content: '\ea7b';
		}

		 .iconfont-slider:before {
			content: '\ea7c';
		}

		 .iconfont-small-delete:before {
			content: '\ea7d';
		}

		 .iconfont-small-down:before {
			content: '\ea7e';
		}

		 .iconfont-small-left:before {
			content: '\ea7f';
		}

		 .iconfont-small-right:before {
			content: '\ea80';
		}

		 .iconfont-small-triangle-down:before {
			content: '\ea81';
		}

		 .iconfont-small-triangle-left:before {
			content: '\ea82';
		}

		 .iconfont-small-triangle-right:before {
			content: '\ea83';
		}

		 .iconfont-small-triangle-up:before {
			content: '\ea84';
		}

		 .iconfont-small-up:before {
			content: '\ea85';
		}

		 .iconfont-square-add-11:before {
			content: '\ea86';
		}

		 .iconfont-square-delete-13:before {
			content: '\ea87';
		}

		 .iconfont-square-download:before {
			content: '\ea88';
		}

		 .iconfont-square-remove-12:before {
			content: '\ea89';
		}

		 .iconfont-square-upload:before {
			content: '\ea8a';
		}

		 .iconfont-star-half:before {
			content: '\ea8b';
		}

		 .iconfont-stopwatch:before {
			content: '\ea8c';
		}

		 .iconfont-tag:before {
			content: '\ea8d';
		}

		 .iconfont-tail-down:before {
			content: '\ea8e';
		}

		 .iconfont-tail-left:before {
			content: '\ea8f';
		}

		 .iconfont-tail-right:before {
			content: '\ea90';
		}

		 .iconfont-tail-up:before {
			content: '\ea91';
		}

		 .iconfont-tap-01:before {
			content: '\ea92';
		}

		 .iconfont-time-3:before {
			content: '\ea93';
		}

		 .iconfont-trash:before {
			content: '\ea94';
		}

		 .iconfont-triangle-left:before {
			content: '\ea95';
		}

		 .iconfont-triangle-right:before {
			content: '\ea96';
		}

		 .iconfont-tv-2:before {
			content: '\ea97';
		}

		 .iconfont-Twitter:before {
			content: '\ea98';
		}

		 .iconfont-weather-1:before {
			content: '\ea99';
		}

		 .iconfont-Youtube:before {
			content: '\ea9a';
		}

		 .iconfont-zoom-2:before {
			content: '\ea9b';
		}

		 .iconfont-zoom-88:before {
			content: '\ea9c';
		}

		 .iconfont-zoom-e:before {
			content: '\ea9d';
		}

		 .iconfont-zoom:before {
			content: '\ea9e';
		}

		