@font-face {
  font-family: 'Helvetica_Neue';
  src: url('fonts/Helvetica/HelveticaNeue-Bold.eot');
  src: url('fonts/Helvetica/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Helvetica/HelveticaNeue-Bold.woff2') format('woff2'),
    url('fonts/Helvetica/HelveticaNeue-Bold.woff') format('woff'),
    url('fonts/Helvetica/HelveticaNeue-Bold.ttf') format('truetype'),
    url('fonts/Helvetica/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica_Neue';
  src: url('fonts/Helvetica/HelveticaNeue-Medium.eot');
  src: url('fonts/Helvetica/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/Helvetica/HelveticaNeue-Medium.woff2') format('woff2'),
    url('fonts/Helvetica/HelveticaNeue-Medium.woff') format('woff'),
    url('fonts/Helvetica/HelveticaNeue-Medium.ttf') format('truetype'),
    url('fonts/Helvetica/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica_Neue';
  src: url('fonts/Helvetica/HelveticaNeue.eot');
  src: url('fonts/Helvetica/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
    url('fonts/Helvetica/HelveticaNeue.woff2') format('woff2'),
    url('fonts/Helvetica/HelveticaNeue.woff') format('woff'),
    url('fonts/Helvetica/HelveticaNeue.ttf') format('truetype'),
    url('fonts/Helvetica/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}