#main_menu {
    .togle {
        background: rgba(27, 113, 178, 0.2);
        color: #222222;
        margin-bottom: 0;

        p {
            padding-right: 70px;
        }

        .can-toggle {
            top: 45px;
        }

        h3 {
            font-size: 16px;
        }
    }

    .box-canhanhoa.togle .can-toggle input[type=checkbox]:checked~label .can-toggle__switch {
        background-color: #1B71B2;
        border: 1px solid #1B71B2;
    }
}

.main_menu {
    width: 100%;
    background: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    will-change: transform;
    -moz-transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: translate(-100%);
    -ms-transform: translate(-100%);
    -o-transform: translate(-100%);
    transform: translate(-100%);

    .item_social {
        border: none;
    }
}

.header_menu {
    height: 40px;

    .follow_social {
        float: right;
        padding: 0 0 0 15px;
        box-sizing: border-box;
        font-size: 0;
        line-height: 40px;
        color: var(--gray3);

        a {
            height: 18px;
            line-height: 0;
            display: inline-block;
            position: relative;
            top: -5px;
            margin-right: 13px;
        }

        span {
            font-size: 14px;
            margin-right: 10px;
        }
    }
}

.show_main_menu .main_menu {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
}

.block_scoll_menu {
    scroll-behavior: smooth;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 9999;
    height: 100%;
    padding-bottom: 35px;

    .block_search {
        border-bottom: 1px solid var(--border);
        border-top: 1px solid var(--border);
        padding: 15px;
        position: relative;

        .input_form {
            color: var(--colormain);
            padding-right: 40px;
            font-size: 16px !important;
            width: 100%;
            float: left;
            border: 1px solid var(--border);
            color: var(--gray3);
            font: 400 16px arial;
            height: 40px;
            padding: 2px 10px;
            background: var(--white);
            outline: none;
        }

        .btn_search,
        .btn_reset {
            width: 40px;
            height: 40px;
            border: none;
            background: none;
            text-align: center;
            line-height: 40px;
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
            line-height: 40px;
            @include cubic-transition($delay: 0, $duration: 350ms, $property: (all));
            visibility: visible;
            opacity: 1;
        }

        .btn_reset {
            visibility: hidden;
            opacity: 0;
        }

        &.focus {
            .btn_search {
                visibility: hidden;
                opacity: 0;
            }

            .btn_reset {
                visibility: visible;
                opacity: 1;
            }
        }
    }

}

.guitoasoan_btn {
    display: block;
    width: calc(50% - 10px) !important;
    background: var(--border);
    text-align: center;
    font: 400 16px/21px arial !important;
    padding: 10px 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;

    .ic {
        margin: -3px 10px 0 0;
    }

    &.ads_btn {
        float: right;
        background: #ffc134;
    }
}

.ic-ads {
    width: 16px;
    height: 16px;
    background: url(images/graphics/ad.svg) no-repeat 0 0;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}

.coppy_right_info {
    padding: 15px;
    font: 400 14px arial !important;
    position: relative;

    label {
        border-bottom: 1px solid var(--border);
        margin-bottom: 10px;
        padding-bottom: 7px;
    }

    .app_info {
        margin-bottom: 20px;

        p {
            width: calc(50% - 10px);

            a {
                width: 100%;
                height: 40px;
                background: var(--border);
                display: block;
                padding-left: 10px;
                padding-top: 3px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                border-radius: 5px;
                font-size: 14px !important;

                .ic {
                    float: left;
                    margin-right: 7px;
                    margin-top: 5px;
                }

                .s_text {
                    text-transform: uppercase;
                    font-size: 1rem !important;
                    line-height: 13px !important;

                    strong {
                        font-size: 15px !important;
                    }
                }
            }

        }
    }

    .vne_app {
        p {
            a {
                text-align: center;
                padding-top: 8px;

                span {
                    display: inline-block;
                    margin-right: 2px;
                    vertical-align: middle;
                }
            }
        }
    }

    .phone_info {
        margin-bottom: 20px;

        p {
            width: 50%;
            font-size: 14px !important;

            &.right {
                padding-left: 10px;
            }

            strong {
                font-size: 18px;
            }
        }
    }
}

.copyright_text {
    color: #666;
    text-align: center;
    padding: 15px 0 0 0;
    margin-bottom: 30px;
    border-top: 1px solid var(--border);

    img {
        width: 170px;
    }

    p {
        font-size: 14px !important;
    }
}

.list_menu {
    background: var(--bg-agray);
}

.list_item_panel {
    padding-right: 15px;
    border-bottom: 1px solid var(--border);

    &:last-child {
        border: none;
    }

    li {
        width: 50%;
        float: left;
        margin: 0;
        padding: 0 0 0 15px;

        a.link_item_panel {
            display: block;
            width: 100%;
            float: left;
            color: var(--colormain);
            font: 400 16px/40px arial !important;
            border-bottom: 1px solid var(--border);
            padding: 0;
            white-space: nowrap;
        }

        &:last-child a.link_item_panel,
        &:nth-last-child(2) a.link_item_panel {
            border: none;
        }

        .child-mn {
            li {
                width: 100%;
                float: left;
                position: relative;
                border-bottom: 1px dashed rgba(0, 0, 0, 0.1) !important;

                &:before {
                    width: 4px;
                    height: 4px;
                    background: var(--vne-color);
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    margin-top: -2px;
                    left: 0;
                    content: '';
                }


            }
        }
    }

    li.active {
        a.link_item_panel {
            font-weight: 700 !important;
            color: $vne_color;

            &.kinhdoanh {
                color: #04416d;
            }

            &.giaitri {
                color: #d71450;
            }

            &.thethao {
                color: #58a12b;
            }

            &.phapluat {
                color: #6e2c2d;
            }

            &.giaoduc {
                color: #e17100;
            }

            &.suckhoe {
                color: #04a59d;
            }

            &.giadinh {
                color: #2d96b5;
            }

            &.dulich {
                color: #0072bb;
            }

            &.khoahoc {
                color: #806f26;
            }

            &.sohoa {
                color: #df9c00;
            }

            &.xe {
                color: #6a7b83;
            }

            &.cuoi {
                color: #dc3926;
            }
        }
    }

    &.list_index {
        li {
            a.link_item_panel {
                border: none;
                font-weight: 400;
                color: #004f8b;
            }
        }
    }

    .item_social {
        width: 24px;
        height: 24px;
        line-height: 24px;
        margin-right: 15px;
        margin-top: 8px;
        float: left;
    }

    .ic-twitter {
        background-position: -78px -158px;
        width: 24px;
        height: 24px;

        &:before {
            content: none;
        }
    }

    .ic-facebook {
        background-position: -52px -158px;
        width: 24px;
        height: 24px;

        &:before {
            content: none;
        }
    }
}

.mask-content {
    position: relative;
}

.mask-content::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 201;
    background: rgba(255, 255, 255, 1);
    content: "";
    transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
    -moz-transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
    -webkit-transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
    -ms-transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
    opacity: 0;
    visibility: hidden;
}

.show_main_menu .mask-content::before,
.show_main_menu .close_main_menu {
    opacity: 1;
    visibility: visible;
}

body.show_main_menu,
body.hidden {
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.close_main_menu {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px !important;
    font-size: 0 !important;
    text-align: center;

}