$vne_color: #9f224e;
$vne_color_hover: #087CCE;
$font-title: "Muli",sans-serif;

%clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

%font-fea {
  font-feature-settings: 'pnum'on, 'lnum'on;
  -webkit-font-feature-settings: 'pnum'on, 'lnum'on;
  -moz-font-feature-settings: 'pnum'on, 'lnum'on;
  -ms-font-feature-settings: 'pnum'on, 'lnum'on;
}
.box-covid-2021{
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 0;
  &:after{
    bottom: auto;
    top: 0;
  }
  .inner-box-cv{
    background: #F7F7F7;
    border: 1px solid #E5E5E5;
    padding: 0 12px 15px 12px;
  }
  .header-cv{
    padding: 10px 0;
    border-bottom: 1px solid #E5E5E5;
    align-items: center;
  }
  .related{
    background: #E5E5E5;
    border-radius: 3px;
    font-size: 16px;
    display: block;
    line-height: 40px;
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 5px;
  }
  .txt-head{
    flex-shrink: 1;
    strong{
      font: bold 18px/23px $font-title;
      @extend %font-fea;
    }
    span{
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      margin-top: 5px;
      display: block;
    }
  }
  .number-count {
    font: bold 32px/40px $font-title;
    margin-left: auto;
    margin-right: 20px;
    @extend %font-fea;
    flex-shrink: 0;
  }
  .tbl-cv{width: 100%; padding-right: 20px;
    th,td{padding: 6px 0; text-align: right;
          font-size: 16px;
          line-height: 18px;
    }
    th{
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      padding: 10px 0 5px 0;
    }
    .col-prov{
      width: 44%;
      text-align: left;
    }
    .col-all,
    .col-today{width: 28%; padding-left: 20px;}
    .number-up {
      color: #A62123;
    }
  }
  .wrap-scroll-tb{
    scroll-behavior: smooth;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    max-height: 95px;
    padding-right: 20px;
    .tbl-cv{padding-right: 0;}
  }

  
}