@import "var.scss";
@import "icon-vne.scss";
@import "swiper.scss";
@import "vote-new.scss";

#header_sticky {
    width: 100%;
    z-index: 9998;

    .block_share_sticky {
        padding-top: 6px;
        display: flex;

        .count_share {
            margin-right: 10px;
            font: 400 14px/32px arial;
        }

        svg {
            color: #178fd6;
        }

        .total {
            display: inline-block;

            .bg_agray {
                background: #f6f6f6;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 8px;
                    left: -7px;
                    width: 0;
                    height: 0;
                    border-bottom: 8px solid transparent;
                    border-top: 8px solid transparent;
                    border-right: 8px solid #f6f6f6;
                }
            }
        }

        a {
            width: 32px;
            height: 32px;
            line-height: 30px !important;
            display: inline-block;
            text-align: center;
            background: none;
            margin: 0 2px 0 0;

            svg {
                margin: 0;
                width: 16px;
                height: 16px;
            }
        }

        .count_comment_total {
            .item_social {
                background: none;
                border: 0;
            }
        }
    }

    .humberger-btn {
        position: absolute;
        top: 10px;
        left: 15px;
        margin-top: 0 !important;

        .icon-ns {
            width: 20px;
            height: 20px;
            color: #7A99B8;
        }
    }

    .luu_tin {
        float: left;
        margin-left: 10px;

        a {
            width: 24px;
            height: 24px;
            line-height: 23px !important;
            font-size: 0 !important;
            background: #ccc;
            border: 1px solid #ccc;

            .ic-bookmark {
                background-position: -32px -265px;
                background-color: #fff;
            }
        }

        &.active {
            a {
                background: #004f8b;
                border: 1px solid #004f8b;

                .ic-bookmark {
                    background-position: -56px -265px;
                    background-color: #fff;
                }
            }
        }
    }

}

.article_detail {
    background: #fff;
    padding: 23px 12px;
    float: left;
    width: 100%;

}

.fck_detail {
    float: none;

    table.tplCaption {
        margin: 0 -12px 16px -12px;
        width: calc(100% + 24px) !important;

        td {
            text-align: center;
        }
    }

    table[align="left"] {
        margin-right: 15px;
    }

    table[align="right"] {
        margin-left: 15px;
    }

    .item_slide_show,
    .wrap_pic {
        margin: 0 -12px 15px -12px;
        width: calc(100% + 24px);
    }

    .Normal,
    p {
        color: #1F3347;
        margin-bottom: 12px;
    }

    .Image {
        color: #3E5974;
        padding: 8px 12px 0 12px;
    }

    figcaption,
    .desc_cation {
        padding: 8px 12px 0 12px;
    }

    figcaption p,
    .desc_cation p,
    figcaption p.Image,
    .desc_cation p.Image {
        color: #3E5974;
        padding: 0 0 12px 0;

        &:last-child {
            padding-bottom: 0;
        }
    }

    .btn_vne {
        background: #076DB6;
        color: #fff;
        padding: 10px 25px;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }

    .box_brief_info {
        float: none;
    }

    .block_thumb_slide_show {
        height: 0;

        img {
            position: absolute;
            top: 0;
        }

        .zoom {
            border-radius: 3px;
            background: rgba(34, 34, 34, 0.4);
            display: inline-block;
            width: 32px;
            height: 32px;
            line-height: 30px;
            color: #fff;
            position: absolute;
            top: 15px;
            right: 15px;

            svg {
                fill: #fff;
            }
        }

        .action_thumb {
            opacity: 0;
        }
    }

    .slide_on_detail {
        margin-bottom: 15px;

        .swiper-slide {
            width: 40%;
        }

        .swiper-button-slide-detail {
            position: absolute;
            top: 50%;
            z-index: 1;
            width: 20px;
            height: 30px;
            background: rgba(0, 0, 0, .6);
            margin-top: -15px;
            outline: 0;

            svg {
                fill: #fff;
            }

            &-next {
                right: 0;
            }
        }
    }
}

.action_thumb {
    position: absolute;
    top: 16px;
    right: 24px;
    background: #222222;
    height: 32px;
    border-radius: 3px;

    a {
        padding: 0 10px;
        height: 32px;
        line-height: 30px;
        color: #fff;

        svg {
            fill: #fff;
        }
    }
}

.metadate {
    font-size: 16px;
    color: #56738F;
    margin-bottom: 12px;
}

.title_news_detail {
    font: 500 24px/1.4 iCielDomaineText;
    margin-bottom: 12px;
    color: #132639;
}

.block_share_icon {
    padding: 10px 0;
    border-top: 1px solid #e7e7e7;
    margin-bottom: 15px;

    .item_social {
        border-radius: 0;
        border: 0;

        .icon-ns {
            color: #178fd6;
            width: 16px;
            height: 16px;
        }
    }

    .count_share_total {
        .count_share {
            color: #999
        }
    }

    .count_comment_total {

        .count_comment {
            color: #56738F;
        }
    }

    .total {
        float: right;

        .count_share {
            margin-right: 10px;
        }

        div {
            display: inline-block;
        }

        .bg_agray {
            display: inline-block;
            background: #f6f6f6;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 8px;
                left: -7px;
                width: 0;
                height: 0;
                border-bottom: 8px solid transparent;
                border-top: 8px solid transparent;
                border-right: 8px solid #f6f6f6;
            }
        }

        .item_social {
            margin: 0;
            width: 32px;
            height: 32px;
            line-height: 30px !important;
        }
    }
}

.block-pin {
    padding: 0;
}

.score-table .group-score {
    border-bottom: 0;
}

.short_intro {
    color: #1F3347;
    margin-bottom: 12px;
}

.author_mail {
    margin-bottom: 0 !important;
}

.wrap-audio {
    .robot {
        img {
            vertical-align: initial;
        }
    }
}

.lg-outer {
    z-index: 9999 !important;
}

.lg-sub-html .ss-scroll {
    display: none !important
}

.list_news_dot {
    li {
        margin-bottom: 7px;
        padding-left: 10px;
        position: relative;

        a {
            font: 400 15px/1.6 Arial,
                serif;
            color: #076DB6;
            text-decoration: none;
        }

        &::before {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            content: "";
            position: absolute;
            background: #BDBDBD;
            top: 7px;
            left: 0;
        }
    }
}

.icon_thumb_videophoto {
    width: 32px;
    display: block;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    left: 0;
    bottom: 0;

    .ic {
        margin-top: 0;
    }

    .ic-photo {
        width: 20px;
        height: 17px;
        background-position: -242px -264px;
    }

    .ic-video {
        width: 21px;
        height: 17px;
        background-position: -217px -263px;
    }

    .ic-infographic {
        width: 20px;
        height: 18px;
        background-position: -266px -263px;
    }

    .ic-interactive {
        width: 14px;
        height: 23px;
        background-position: -196px -260px;
    }

    &.icon_thumb_zoom {
        left: auto;
        right: 5px;
        bottom: auto;
        top: 5px;
        background: rgba(51, 51, 51, 0.5);
        width: 24px;
        height: 24px;
        line-height: 24px;
    }
}

// .item_social {
//     float: left;
//     margin: 0 10px 0 0;
//     position: relative;
//     width: 24px;
//     height: 24px;
//     text-align: center;
//     line-height: 23px !important;
//     border-radius: 50%;
//     -webkit-border-radius: 50%;
//     -moz-border-radius: 50%;
//     font-size: 0 !important;

//     .ic-email {
//         background-position: -330px -1px;
//     }

//     &.item_fb {}

//     &.item_twit {}

//     &.item_google {}

//     &.item_social_total,
//     &.item_email {
//         background: #d7d7d7;
//     }

//     &.item_linkedin {
//         background: #007bb6;
//     }

//     &.item_pinterest {
//         background: #cb2027;
//     }
// }

.g-before-after .g-img-divider>span {
    width: 34px;
    height: 56px;
    background: url(images/graphics/icon-before-after.png) no-repeat center/cover;
}

.block_thumb_wrap {
    position: relative;
}

.wrap_pic,
.wrap_pic .block_thumb_wrap,
.tab-comment .header-tab {
    display: flex;
    flex-wrap: wrap
}

.note_flip {
    top: 0;
    text-align: center;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &~.flip_wrap {
        margin-top: 40px;
    }

    .icon-flip {
        width: 24px;
        height: 24px;
        background: #4f4f4f;
        text-align: center;
        line-height: 22px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
    }

    svg {
        background: #e5e5e5;
        width: 24px;
        height: 24px;
        text-align: center;
        border-radius: 50%;
        padding: 4px;
        color: #4f4f4f;
        margin-right: 8px;
    }
}

.flip_wrap img {
    height: 100%;
}


.block-khachmoi {
    margin: 0 -12px 0 -12px;
    width: calc(100% + 24px);
    padding: 12px;

    .txt-km {
        font-family: var(--font-title);
        margin-bottom: 12px;
    }

    &.block-khachmoi-more {
        .item-km {
            margin-bottom: 12px;
            padding-bottom: 12px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

[class*='block-khachmoi_'] {
    width: calc(100% + 18px);
    margin-bottom: 12px;
    margin-left: -9px;
    margin-right: -9px;

    .txt-km {
        width: 100%;
        font: bold 20px var(--font-title);
        margin-bottom: 12px;
        padding: 0 9px;
    }

    .item-km {
        width: 50%;
        padding: 0 9px;

        .thumb_art {
            float: none;
        }

        .name-km {
            font-size: 16px;
            margin-top: 12px;
            color: #1F3347;
        }
    }

}

.block-khachmoi__1 {
    .item-km {
        width: 100%;
    }
}

.item_pvtt {
    margin: 0;

    .reply_pvtt {
        width: calc(100% + 24px);
        padding: 0 12px;
        margin-left: -12px;
        margin-right: -12px;
        border-bottom: 0;

        .name {
            padding-left: 30px;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.28524 21.2085C3.38454 21.2085 0.000103951 18.6862 0.000103951 13.3196C0.000103951 5.6453 6.71161 1.13734 10.4402 0.708008L11.3007 2.80099C9.12087 4.14264 7.28524 6.45029 7.45733 7.79195C9.92395 7.95294 13.9394 9.24093 13.9394 14.2319C13.9967 18.0422 11.7022 21.2085 7.28524 21.2085Z' fill='%230C99F4'/%3e%3cpath opacity='0.7' fill-rule='evenodd' clip-rule='evenodd' d='M15.7496 21.2085C11.8489 21.2085 8.46446 18.6862 8.46446 13.3196C8.46446 5.6453 15.176 1.13734 18.9046 0.708008L19.765 2.80099C17.5852 4.14264 15.7496 6.45029 15.9217 7.79195C18.3883 7.95294 22.4037 9.24093 22.4037 14.2319C22.4611 18.0422 20.1666 21.2085 15.7496 21.2085Z' fill='%232BEEDE'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
        }
    }

    .ques_pvtt {
        font-family: var(--font-title);
        font-style: initial;
        color: #132639;
        font-weight: 500;
        margin-bottom: 16px;

        .name_quess {
            display: block;
            font-weight: bold;
            color: #132639;
            margin-top: 8px;
            font-family: Arial;
        }
    }
}


//QUIZ BOX
.quiz_box {
    padding-bottom: 12px;
    margin-bottom: 12px;

    .quiz_point {
        text-align: center;
        width: 100%;
    }

    .title_bx,
    .txt-kq {
        font-family: Arial;
        margin-bottom: 12px;
    }

    .item_row_bx {
        margin-bottom: 12px;
        position: relative;

        .label_check {
            padding-left: 20px;
            position: relative;

            input {
                position: absolute;
                left: 0;
                top: 2px;
            }
        }
    }

    .box_button {
        margin-top: 10px;
        padding-top: 12px;

        .btn_phanthuong {
            background: #076DB6;
        }
    }

    .share_point_quiz {
        background: none;
        padding: 0
    }

    .block_btn_send_ans {
        .txt_btnsend {
            p {
                margin-top: 12px;
            }
        }
    }
}

.item_quiz {
    .tittle_quiz {
        font-family: Arial;
        font-size: 16px
    }

    .img_quiz {
        margin-bottom: 12px;

        img {
            float: none;
        }
    }
}

.block_tag {
    padding: 0 12px 12px 12px;

    .txt_tag {
        position: static;
        background: none;
        padding: 0;
        line-height: 1.5;
    }

    .tag_item {
        background: none;
        padding: 0;
        line-height: 30px !important;
    }
}

.box-related-news {
    padding: 0 12px;

    .title_news {
        font: 500 16px iCielDomaineText;
        margin-bottom: 16px;
        position: relative;
        padding-left: 14px;

        &::before {
            content: "";
            background: #9ED4FA;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            position: absolute;
            left: 0;
            top: 8px;
        }
    }
}


//COMMENT CUSTOM
#box_comment {
    background: #fff;
    display: flex;
    flex-wrap: wrap;

    .ykien_vne {
        background: #fff;
        color: #132639;
        padding: 0 !important;

        .left {
            padding: 15px 12px 12px 12px;
            position: relative;
            border-radius: 4px 4px 0px 0px;
            overflow: hidden;

            &::before {
                content: "";
                background: -webkit-linear-gradient(left, #0C99F4 0%, #57E5D5 100%);
                background: linear-gradient(90deg, #0C99F4 0%, #57E5D5 100%);
                height: 4px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }
        }
    }

    .filter_coment {
        margin: 0 0 2px 0 !important;
        padding-left: 0;
        height: 48px;
        line-height: 48px;
        background: #fff;

        a {
            &.active:before {
                display: none
            }
        }
    }

    .input_comment {
        background: #fff;
        padding: 12px !important;
    }

    .download_app {
        margin: 0 12px 24px 12px;
    }
}

/*Detail Longform*/
// .page_longfrom {
//     .block_share_sticky {
//         padding-top: 5px;
//         padding-right: 15px;
//     }

//     #header_sticky {
//         .count_comment_total {
//             .count_comment {
//                 font: 400 14px/28px arial !important;
//                 margin-left: 10px;
//             }
//         }

//         .item_social {
//             opacity: 1;
//             margin: 0;
//             line-height: 30px !important;
//             background: none;
//             float: none;
//         }
//     }

//     .item_social {
//         background: none;

//         .ic {
//             &:before {
//                 display: none;
//             }
//         }
//     }

//     .count_comment_total {
//         margin-left: 10px;

//         .item_social {
//             border: 0 !important;
//             font-size: 16px !important;
//             float: right !important;
//         }

//         .count_comment {
//             padding: 0 10px !important;
//             font: 400 14px/28px arial !important;
//             color: #999 !important;
//             border: 0;
//             margin: 1px 10px 0 0;

//             &:after {
//                 display: none;
//             }

//             &:before {
//                 right: -5px;
//                 top: 50%;
//                 margin-top: -5px;
//                 content: "";
//                 left: inherit;
//                 border-right: 0;
//             }
//         }
//     }

//     .ic {
//         &:before {
//             display: none;
//         }
//     }

//     #breadcrum {
//         .menu_bread {
//             li {
//                 a {
//                     font-weight: 400;
//                 }

//                 &.active {
//                     a {
//                         font-weight: 700
//                     }
//                 }
//             }
//         }
//     }
// }

.nytmm-chapter-0 .nytmm-menu-section-0,
.nytmm-chapter-1 .nytmm-menu-section-1,
.nytmm-chapter-2 .nytmm-menu-section-2,
.nytmm-chapter-3 .nytmm-menu-section-3,
.nytmm-chapter-4 .nytmm-menu-section-4,
.nytmm-chapter-5 .nytmm-menu-section-5,
.nytmm-chapter-6 .nytmm-menu-section-6,
.nytmm-chapter-7 .nytmm-menu-section-7 {
    color: #333;
    font-weight: 700 !important;
}

.nytmm-chapter-0 .section_1,
.nytmm-chapter-1 .section_2,
.nytmm-chapter-2 .section_3,
.nytmm-chapter-3 .section_4,
.nytmm-chapter-4 .section_5,
.nytmm-chapter-5 .section_6,
.nytmm-chapter-6 .section_7 {
    opacity: 1 !important;
    display: block !important;
}

#nytmm.nytmm-chapter-1 #nytmm_prev_label_1,
#nytmm.nytmm-chapter-2 #nytmm_prev_label_2,
#nytmm.nytmm-chapter-3 #nytmm_prev_label_3,
#nytmm.nytmm-chapter-4 #nytmm_prev_label_4,
#nytmm.nytmm-chapter-5 #nytmm_prev_label_5,
#nytmm.nytmm-chapter-6 #nytmm_prev_label_6,
#nytmm.nytmm-chapter-0 #nytmm_next_label_1,
#nytmm.nytmm-chapter-1 #nytmm_next_label_2,
#nytmm.nytmm-chapter-2 #nytmm_next_label_3,
#nytmm.nytmm-chapter-3 #nytmm_next_label_4,
#nytmm.nytmm-chapter-4 #nytmm_next_label_5,
#nytmm.nytmm-chapter-5 #nytmm_next_label_6 {
    display: block;
}

#medium_editor {
    .short_intro {
        font: 700 px_to_rem(19px) var(--font-title);
        color: #333;
        line-height: 1.4;
        margin-top: 0;
    }
}

.longform_wrapper {
    .page_section {
        display: none;
        float: left;
        width: 100%;
        padding-bottom: 70px;
    }

    blockquote {
        border-left: 5px solid #ccc;
        padding-left: 20px;
        margin: 0 0 20px;
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: bold;
        line-height: 1.313;
    }

    .list_photo {
        margin-bottom: 0 !important;

        li.iterm_cate {
            float: left;
            margin-bottom: 10px;
            overflow: hidden;
            padding-left: 0 !important;

            img {
                width: 100%;
                height: 100%;
            }

            &:before {
                display: none;
            }
        }
    }

    .gallery_block {
        .item_gallery {
            margin: 0 0 0 0 !important
        }
    }

    .item_slide_show,
    .wrap_pic {
        margin: 0 auto 10px;
        width: auto;
        max-width: 100%;
        overflow: hidden;
    }

    .section-inner {
        position: relative;
        clear: both;
        background: #fff;
        overflow: hidden;

        iframe {
            width: 100%;
            max-width: 100%;
            overflow: hidden;
        }

        &.inset-column,
        &.outset-column {
            padding: 0 15px;
        }
    }

    .time_post_art {
        font-size: 16px;
        color: #56738F;
        margin: 23px 0 12px;
    }

    h1 {
        font-size: px_to_rem(28px);
        line-height: $lh;
        color: #333;
        margin: 0 0 15px 0 !important;
        float: none !important;
    }

    h2 {
        font-size: px_to_rem(19px);
        margin: 0 0 1.05263rem;
        line-height: 1.45;
    }

    h3 {
        margin: 0 0 1.05263rem;
        min-height: 1px;
        font-weight: 700;
        font-size: 26px;
        text-align: left;
        line-height: 1.313;
        color: #333;
    }

    ol {
        margin-bottom: 30px;
        margin-left: 20px;
        list-style-type: decimal;

        li {
            position: relative;
            padding-left: 17px;
            list-style-type: decimal;
            font: 400 19px/1.618 'IBM Plex Serif', serif;
        }
    }

    .medium-insert-embeds .video {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
    }

    .medium-insert-embeds .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .medium-insert-images,
    .mediumInsert {
        margin: 0 0 1em 0;
        text-align: center;
    }

    .medium-insert-embeds,
    .mediumInsert-embeds {
        margin: 0 0 1em 0;
        text-align: center;
        position: relative;
    }

    .outset-column .gallery_block {
        width: auto;
        float: none;
        margin: 0 -15px 0 -15px !important;
        overflow: hidden;

        .owl-stage {
            padding: 0 !important;
        }
    }

    .socialluu_tin span,
    .g-before-after .g-img-divider>span::before,
    .flip_wrap::before {
        font-size: 15px;
        font-family: "vnexpress-font" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .g-before-after .g-img-divider>span {
        height: 30px;
        width: 30px;
        color: #212121;
        text-indent: -9000px;
        background-color: #fff;
    }

    .g-before-after .g-img-divider>span::before {
        content: "\72";
        text-indent: 0;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 31px;
    }

    .flip_wrap::before {
        content: "\22";
        position: absolute;
        font-size: 30px;
        top: 10px;
        left: 10px;
        z-index: 99;
    }

    p {
        margin: 0 0 1em 0;
        font-size: 18px;
    }

    .short_intro {
        font-weight: 500
    }

    figcaption,
    .desc_cation {
        padding: 10px 10px 0 10px;
        clear: both;
    }

    .medium-insert-images figure figcaption,
    .medium-insert-images figure .desc_cation,
    .mediumInsert figure figcaption,
    .mediumInsert figure .desc_cation,
    .medium-insert-embeds figure figcaption,
    .medium-insert-embeds figure .desc_cation,
    .mediumInsert-embeds figure figcaption,
    .mediumInsert-embeds figure .desc_cation {
        font: 400 16px/1.5 arial !important;
        color: #3E5974;
        max-width: 720px;
        margin: 0 auto;
        text-align: left;
    }

    .full-width {

        .medium-insert-images figure figcaption,
        .medium-insert-images figure .desc_cation,
        .mediumInsert figure figcaption,
        .mediumInsert figure .desc_cation,
        .medium-insert-embeds figure figcaption,
        .medium-insert-embeds figure .desc_cation,
        .mediumInsert-embeds figure figcaption,
        .mediumInsert-embeds figure .desc_cation {
            padding: 5px 15px 0;
        }
    }

    .section-inner {
        figcaption {
            text-align: left;
            font-size: px_to_rem(16px) !important;
            padding: 5px 0 0 0;
        }
    }

    .item_social {
        height: 30px;
    }

    .chapter {
        padding-bottom: 100px;
    }

    .footer {
        background: #f6f6f6;
        padding: 15px;
        position: fixed;
        bottom: 0;
        z-index: 99;
        left: 0;
        right: 0;
        box-shadow: 0px 0px 15px rgba(153, 153, 153, 0.6);
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
        transition-duration: 350ms;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        will-change: transform;

        .nytmm_previous,
        .nytmm_next {
            width: 50%;
            margin-top: 0;

            h3 {
                font: 500 px_to_rem(16px) var(--font-title);
                font-style: italic;
                margin: 0;
                display: none;

                span {
                    text-transform: uppercase;
                    font: 400 px_to_rem(14px) var(--font-title);
                    font-style: initial;
                    display: block;
                    margin-bottom: 2px;
                }

                a {
                    color: #333;
                }

                &:before {
                    content: "";
                    position: absolute;
                    top: 4px;
                    color: #666;
                    width: 20px;
                    height: 44px;
                }
            }
        }

        .nytmm_previous {
            padding: 0 5px 0 20px;
        }

        .nytmm_next {
            padding: 0 20px 0 5px;
        }

        .nytmm_previous h3:before {
            background: url(images/icons/Preview.png) no-repeat;
            left: -10px;
        }

        .nytmm_next h3:before {
            background: url(images/icons/Next.png) no-repeat;
            right: -10px;
        }

        .nytmm_previous {
            float: left;
            text-align: left;
            position: relative;
            z-index: 2;
        }

        .nytmm_next {
            float: right;
            text-align: right;
            position: relative;

            h3 {
                text-align: right;
            }
        }

        &.show_sticky {
            -webkit-transform: translateY(0%);
            -ms-transform: translateY(0%);
            transform: translateY(0%);
        }

        .comment_button {
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;

            a {
                float: right;
                margin-right: 5px;
                background: #9f224e;
                text-align: center;
                color: #fff;
                padding: 0 20px;
                text-transform: uppercase;
                display: inline-block;
                height: 44px;
                line-height: 40px;
                border: 2px solid #d6d6d6;
                border-radius: 22px;
            }
        }
    }

    #box_comment {
        padding: 0;
        margin-top: 10px;
        padding-bottom: 100px;
    }
}

/*End Detail Longform*/