@import "var.scss";
@import "icon-vne.scss";
@import "vote-new.scss";
@import "swiper.scss";

.article_detail {
    background: #fff;
    padding: 23px 12px;
}

.fck_detail {
    table.tplCaption {
        margin: 0 -12px 16px -12px;
        width: calc(100% + 24px) !important;
    }

    .Normal,
    p {
        color: #1F3347;
        margin-bottom: 12px;
    }

    .Image {
        color: #3E5974;
        padding: 8px 12px 0 12px;
    }

    figcaption,
    .desc_cation {
        padding: 8px 12px 0 12px;
    }

    figcaption p,
    .desc_cation p,
    figcaption p.Image,
    .desc_cation p.Image {
        color: #3E5974;
        padding: 0 0 12px 0;

        &:last-child {
            padding-bottom: 0;
        }
    }

    .btn_vne {
        background: #076DB6;
        color: #fff;
        padding: 10px 25px;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }
}

.metadate {
    font-size: 16px;
    color: #56738F;
    margin-bottom: 12px;
}

.title_news_detail {
    font: 500 24px/1.4 iCielDomaineText;
    margin-bottom: 12px;
    color: #132639;
}

.short_intro {
    color: #1F3347;
    margin-bottom: 12px;
}

.author_mail {
    margin-bottom: 0 !important;
}

.wrap-audio {
    .robot {
        img {
            vertical-align: initial;
        }
    }
}

.list_news_dot {
    li {
        margin-bottom: 7px;
        padding-left: 10px;
        position: relative;

        a {
            font: 400 15px/1.6 Arial,
                serif;
            color: #076DB6;
            text-decoration: none;
        }

        &::before {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            content: "";
            position: absolute;
            background: #BDBDBD;
            top: 7px;
            left: 0;
        }
    }
}

.icon_thumb_videophoto {
    width: 32px;
    display: block;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    left: 0;
    bottom: 0;

    .ic {
        margin-top: 0;
    }

    .ic-photo {
        width: 20px;
        height: 17px;
        background-position: -242px -264px;
    }

    .ic-video {
        width: 21px;
        height: 17px;
        background-position: -217px -263px;
    }

    .ic-infographic {
        width: 20px;
        height: 18px;
        background-position: -266px -263px;
    }

    .ic-interactive {
        width: 14px;
        height: 23px;
        background-position: -196px -260px;
    }

    &.icon_thumb_zoom {
        left: auto;
        right: 5px;
        bottom: auto;
        top: 5px;
        background: rgba(51, 51, 51, 0.5);
        width: 24px;
        height: 24px;
        line-height: 24px;
    }
}

.item_social {
    float: left;
    margin: 0 10px 0 0;
    position: relative;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 23px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    font-size: 0 !important;

    .ic-email {
        background-position: -330px -1px;
    }

    &.item_fb {
        /*background: #3067a3;*/
    }

    &.item_twit {
        /*background: #00aced;*/
    }

    &.item_google {
        /*background: #dd4b39;*/
    }

    &.item_social_total,
    &.item_email {
        background: #d7d7d7;
    }

    &.item_linkedin {
        background: #007bb6;
    }

    &.item_pinterest {
        background: #cb2027;
    }

}

.block-khachmoi {
    margin: 0 -12px 0 -12px;
    width: calc(100% + 24px);
    padding: 12px;

    .txt-km {
        font-family: var(--font-title);
        margin-bottom: 12px;
    }

    &.block-khachmoi-more {
        .item-km {
            margin-bottom: 12px;
            padding-bottom: 12px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

[class*='block-khachmoi_'] {
    width: calc(100% + 18px);
    margin-bottom: 12px;
    margin-left: -9px;
    margin-right: -9px;

    .txt-km {
        width: 100%;
        font: bold 20px var(--font-title);
        margin-bottom: 12px;
        padding: 0 9px;
    }

    .item-km {
        width: 50%;
        padding: 0 9px;

        .thumb_art {
            float: none;
        }

        .name-km {
            font-size: 16px;
            margin-top: 12px;
            color: #1F3347;
        }
    }

}

.block-khachmoi__1 {
    .item-km {
        width: 100%;
    }
}

.item_pvtt {
    margin: 0;

    .reply_pvtt {
        width: calc(100% + 24px);
        padding: 0 12px;
        margin-left: -12px;
        margin-right: -12px;
        border-bottom: 0;

        .name {
            padding-left: 30px;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.28524 21.2085C3.38454 21.2085 0.000103951 18.6862 0.000103951 13.3196C0.000103951 5.6453 6.71161 1.13734 10.4402 0.708008L11.3007 2.80099C9.12087 4.14264 7.28524 6.45029 7.45733 7.79195C9.92395 7.95294 13.9394 9.24093 13.9394 14.2319C13.9967 18.0422 11.7022 21.2085 7.28524 21.2085Z' fill='%230C99F4'/%3e%3cpath opacity='0.7' fill-rule='evenodd' clip-rule='evenodd' d='M15.7496 21.2085C11.8489 21.2085 8.46446 18.6862 8.46446 13.3196C8.46446 5.6453 15.176 1.13734 18.9046 0.708008L19.765 2.80099C17.5852 4.14264 15.7496 6.45029 15.9217 7.79195C18.3883 7.95294 22.4037 9.24093 22.4037 14.2319C22.4611 18.0422 20.1666 21.2085 15.7496 21.2085Z' fill='%232BEEDE'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
        }
    }

    .ques_pvtt {
        font-family: var(--font-title);
        font-style: initial;
        color: #132639;
        font-weight: 500;
        margin-bottom: 16px;

        .name_quess {
            display: block;
            font-weight: bold;
            color: #132639;
            margin-top: 8px;
            font-family: Arial;
        }
    }
}


//QUIZ BOX
.quiz_box {
    padding-bottom: 12px;
    margin-bottom: 12px;

    .quiz_point {
        text-align: center;
        width: 100%;
    }

    .title_bx,
    .txt-kq {
        font-family: Arial;
        margin-bottom: 12px;
    }

    .item_row_bx {
        margin-bottom: 12px;
        position: relative;

        .label_check {
            padding-left: 20px;
            position: relative;

            input {
                position: absolute;
                left: 0;
                top: 2px;
            }
        }
    }

    .box_button {
        margin-top: 10px;
        padding-top: 12px;

        .btn_phanthuong {
            background: #076DB6;
        }
    }

    .share_point_quiz {
        background: none;
        padding: 0
    }

    .block_btn_send_ans {
        .txt_btnsend {
            p {
                margin-top: 12px;
            }
        }
    }
}

.item_quiz {
    .tittle_quiz {
        font-family: Arial;
        font-size: 16px
    }

    .img_quiz {
        margin-bottom: 12px;

        img {
            float: none;
        }
    }
}

.block_tag {
    padding: 0 12px 12px 12px;

    .txt_tag {
        position: static;
        background: none;
        padding: 0;
        line-height: 1.5;
    }

    .tag_item {
        background: none;
        padding: 0;
        line-height: 30px !important;
    }
}

.box-related-news {
    padding: 0 12px;

    .title_news {
        font: 500 16px iCielDomaineText;
        margin-bottom: 16px;
        position: relative;
        padding-left: 14px;

        &::before {
            content: "";
            background: #9ED4FA;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            position: absolute;
            left: 0;
            top: 8px;
        }
    }
}


//COMMENT CUSTOM
#box_comment {
    background: #fff;
    display: flex;
    flex-wrap: wrap;

    .ykien_vne {
        background: #fff;
        color: #132639;
        padding: 0 !important;

        .left {
            padding: 15px 12px 12px 12px;
            position: relative;
            border-radius: 4px 4px 0px 0px;
            overflow: hidden;

            &::before {
                content: "";
                background: -webkit-linear-gradient(left, #0C99F4 0%, #57E5D5 100%);
                background: linear-gradient(90deg, #0C99F4 0%, #57E5D5 100%);
                height: 4px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }
        }
    }

    .filter_coment {
        margin: 0 0 2px 0 !important;
        padding-left: 0;
        height: 48px;
        line-height: 48px;
        background: #fff;

        a {
            &.active:before {
                display: none
            }
        }
    }

    .input_comment {
        background: #fff;
        padding: 12px !important;
    }

    .download_app {
        margin: 0 12px 24px 12px;
    }
}