@import "var.scss";

.box_video_home {
    .box-player-video {
        background: #fff;
        padding-bottom: 12px;

        .art_item {
            margin-bottom: 0;

            &::before {
                content: "";
                background: var(--border);
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 12px;
                right: 12px;
            }
        }
    }

    .box-scroll-video {
        padding: 0 12px;
        background: #fff;
    }
}




.box_tieudiem_home {
    .bg-white {
        padding: 0 12px;
        border-radius: 4px;
        overflow: hidden;
    }

    .title_box_category {
        margin: 0 -12px;
    }

    .swiper-container {
        padding-right: 100px;
    }

    .art_item {
        .thumb_art {
            border-radius: 4px;
            overflow: hidden;

            .icon_thumb {
                left: 4px;
                bottom: 4px
            }
        }

        .content {
            padding: 12px 0 0 0;

            .title_news {
                font-size: 18px;
            }
        }
    }

    .xem_them {
        color: #757575;
    }
}

.box_quote_home {
    .swiper-container {
        padding: 0 48px;
        padding-bottom: 3px;

        .swiper-slide {
            -webkit-animation-duration: .5s;
            animation-duration: .5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;

            &-active {
                // transform: scale(1);

            }
        }
    }

    .art_item {
        background: #FFFFFF;
        position: relative;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 24px;
        font-size: 16px;
        margin-bottom: 0;
        overflow: hidden;

        &::before {
            content: "";
            background: linear-gradient(90deg, #0C99F4 0%, #57E5D5 100%);
            height: 4px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }

        .description {
            font-style: italic;
            color: #1F3347;
            margin-bottom: 16px;
            text-indent: 20px;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.49 9.22C7.49 8.48 7.29 7.84 6.88 7.32C6.26 6.54 5.05 6.44 4.35 6.6C4.06 4.95 5.46 2.85 7.27 1.95L5.88 0C3.15 1.3 0.460002 4.28 0.920002 8.05C1.21 10.43 2.59 12 4.54 12C5.39 12 6.1 11.75 6.66 11.25C7.22 10.75 7.49 10.07 7.49 9.22ZM15.54 9.22C15.54 8.48 15.34 7.84 14.93 7.32C14.3 6.54 13.1 6.44 12.4 6.6C12.11 4.95 13.51 2.85 15.32 1.95L13.93 0C11.2 1.3 8.52 4.28 8.98 8.05C9.27 10.43 10.64 12 12.59 12C13.44 12 14.15 11.75 14.71 11.25C15.27 10.75 15.54 10.07 15.54 9.22Z' fill='%2394B3D1'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
        }

        .flex {
            align-items: center;
        }

        .ava {
            width: 60px;
            height: 60px;
            border: 1px solid #E5E5E5;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 12px;
        }

        .name {
            width: calc(100% - 72px);

            h3 {
                font: 500 16px $fontmain
            }

            span {
                color: #56738F;
                font-size: 14px;
            }
        }
    }
}
