@import "var.scss";
@import "swiper.scss";

.wrapper_detail {
    background: #fff;
    padding: 0 12px 12px 12px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 12px;

    #pin_video_detail {
        margin: 0 -12px;
        width: 107%;
        width: calc(100% + 24px);

        .play_video {
            display: block;
            overflow: hidden;
            height: 1px;
            position: relative;
            width: 100%;
            padding-bottom: 56.25%;

            img,
            video,
            iframe {
                -o-object-position: top;
                object-position: top;
                -o-object-fit: cover;
                object-fit: cover;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }

            .ns-play,
            .play {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 36px;
                height: 36px;
                line-height: 36px;
                margin-left: -18px;
                margin-top: -18px;
                text-align: center;

                svg {
                    width: 32px;
                    height: 32px;
                    color: #fff;
                    opacity: 0.7;
                }
            }
        }
    }

    .info_video_top {
        border-bottom: 1px solid #D8E1EB;
        padding: 12px 0 24px 0;
        margin-bottom: 12px;

        .cate_date {
            color: #56738F;
            margin-bottom: 15px;
        }

        .title_news {
            font: 500 px_to_rem(22px) var(--font-title);
            margin-bottom: 12px;
        }

        .description {
            font-size: 16px;
        }
    }

    .box_sotap {
        margin-top: 15px;

        .label {
            float: left;
            margin-top: 7px;
            margin-right: 10px;
        }

        ul {
            li {
                float: left;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                margin: 0px 0 0 5px;
                position: relative;
                text-align: center;
                line-height: 32px;

                &.active {
                    background: #ededed;

                    a {
                        font-weight: 700;
                        color: #168fd6;
                    }
                }
            }
        }
    }

    .block_share_icon {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .socail {
            a {
                width: 32px;
                height: 32px;
                line-height: 29px;
                text-align: center;
                border: 1px solid #D8E1EB;
                border-radius: 50%;
                display: inline-block;
                margin-left: 10px;

                svg {
                    color: #2B9DEE;
                }
            }
        }
    }
}

.label_playlist {
    width: 40px;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: 0;

    .number_playlist {
        width: 40px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        position: absolute;
        right: 0;
        bottom: 18px;
    }

    .ic_playlist {
        background: url(images/graphics/icons-video600s.svg) no-repeat;
        display: block;
        margin: 2px auto 0;
        width: 18px;
        height: 18px;
        background-position: -142px -83px;
    }
}