@import "var.scss";
@import "swiper.scss";

.wrapper_detail {
    background: #fff;
    padding: 0 12px 12px 12px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 12px;

    #pin_video_detail {
        margin: 0 -12px;
        width: 107%;
        width: calc(100% + 24px);

        .play_video {
            display: block;
            overflow: hidden;
            height: 1px;
            position: relative;
            width: 100%;
            padding-bottom: 56.25%;

            img,
            video,
            iframe {
                -o-object-position: top;
                object-position: top;
                -o-object-fit: cover;
                object-fit: cover;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }

            .ns-play,
            .play {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 36px;
                height: 36px;
                line-height: 36px;
                margin-left: -18px;
                margin-top: -18px;
                text-align: center;

                svg {
                    width: 32px;
                    height: 32px;
                    color: #fff;
                    opacity: 0.7;
                }
            }
        }
    }

    .author,
    p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .author {
        text-align: right
    }

    .info_below {
        .info_video_top {
            border-bottom: 1px solid #D8E1EB;
            padding: 12px 0 24px 0;
            margin-bottom: 12px;

            .cate_date {
                color: #56738F;
                margin-bottom: 15px;
            }

            .title_news {
                font: 500 px_to_rem(22px) var(--font-title);
                margin-bottom: 12px;
            }

            .description {
                font-size: 16px;
            }
        }
    }

    .box_sotap {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;

        .label {
            float: left;
            margin-top: 7px;
            margin-right: 10px;
        }

        ul {
            li {
                float: left;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                margin: 0px 0 0 5px;
                position: relative;
                text-align: center;
                line-height: 32px;

                &.active {
                    background: #ededed;

                    a {
                        font-weight: 700;
                        color: #168fd6;
                    }
                }
            }
        }
    }

    .block_share_icon {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .socail {
            a {
                width: 32px;
                height: 32px;
                line-height: 29px;
                text-align: center;
                border: 1px solid #D8E1EB;
                border-radius: 50%;
                display: inline-block;
                margin-left: 10px;

                svg {
                    color: #2B9DEE;
                }

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

.label_playlist {
    width: 40px;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;

    .number_playlist {
        width: 40px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        position: absolute;
        top: 50%;
        margin-top: -20px;
    }

    .ic_playlist {
        background: url(images/graphics/icons-video600s.svg) no-repeat;
        display: block;
        margin: 2px auto 0;
        width: 18px;
        height: 18px;
        background-position: -142px -83px;
    }
}

.thumb_big {
    .label_playlist {
        width: 60px;

        .number_playlist {
            width: 60px;
            font-size: 22px;
            margin-top: -32px;
        }

        .ic_playlist {
            width: 32px;
            height: 32px;
            background-position: -34px -202px;
        }
    }
}

//COMMENT CUSTOM
.box_comment_vne {
    padding-top: 0;

    &::before {
        display: none
    }

    .btn_vne {
        background: var(--ns_color) !important;
    }

    .ykien_vne {
        position: relative;
        background: #fff !important;
        padding: 0 !important;
        margin-top: -10px;

        .left {
            font: 500 20px var(--font-title);
            float: none;
            padding: 12px 10px;
            color: #222;
            margin: 0 -10px;
        }

        .filter_coment_mobile {
            display: none
        }

        .filter_coment {
            margin: 0 0 2px 0 !important;
            padding-left: 0;
            height: 48px;
            line-height: 48px;
            background: #fff;
            display: flex;
            text-align: center;
            border-top: 1px solid #E5E5E5;
            border-bottom: 1px solid #E5E5E5;
            width: 100%;

            a {
                font: 400 16px Arial;
                position: relative;
                line-height: 48px;
                width: 50%;
                color: #1F3347;

                &.active {
                    background: #0B84DA;
                    color: #fff !important;

                    &::before {
                        display: none
                    }
                }
            }
        }
    }

    .comment_item {
        .link_thich {
            svg {
                fill: var(--ns_color);
                vertical-align: inherit;
                width: 14px;
                height: 14px;
            }

            &.unlike {
                svg {
                    fill: #999;
                }
            }
        }


        .report_bad {
            background: none !important;
            font-size: 14px !important;
            width: initial !important;
            height: inherit !important;

            &::before {
                top: 6px !important;
            }
        }
    }

    .btn_send_comment#comment_post_button {
        background: var(--ns_color) !important;
        border-radius: 2px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        padding: 5px 20px;
    }

    .input_comment {
        background: #fff !important;
        padding: 5px 0 !important;

        textarea {
            border: 1px solid #E0E6EB !important;
            border-radius: 3px;
            resize: none;
            color: #56738F;

            @include placeholder {
                color: #56738F !important;
            }
        }
    }

    .btn_send_comment {
        height: 40px;
    }

    .input_comment span {
        margin-top: 13px;
    }

    .like_google .not_login a {
        color: var(--ns_color);
    }

    .input_comment .avata_coment {
        width: 44px !important;
        height: 44px !important;

        img {
            width: 100% !important;
            height: 100% !important;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }

    .input_comment_full {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .user_status {
        .txt_666 {
            color: #56738F !important;

            .nickname {
                color: #1F3347 !important
            }
        }
    }
}