.section4 {
  border-bottom: 1px solid #eeeeee;
  padding: 20px 0 20px;
}

.section4 .back_vne{
  float: left;
  width: 25%;
}
.section4 .back_vne .br{
  display: inline-block;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  padding: 0 5px;
}
.section4 .back_vne a{
  font-size: 14px;
  cursor: pointer;
  color: #666;
  padding: 5px 3px;
  display: inline-block;
}
.section4 .back_vne a.home{border-left: 1px solid #dfdfdf;padding: 5px 2px 5px 7px;}

.section4 .back_vne a:hover{color: #9f224e;}
.section4 .back_vne a .ic-m-home:hover, .section4 .back_vne a .ic-arrow-left:hover{color: #9f224e;}
.section4 .back_vne a .ic-arrow-left{
  background-position: -72px 0px;margin-right: 4px;
}
.section4 .copyright{
  float: left;
  width: 50%;
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
  color:#666;
}
.section4 .social{
  float: right;
  width: 25%;
  text-align: right;
  height: 32px;
}
.section4 .social .br{
  display: inline-block;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
}
.section4 .social .br > a{
  font-size: 14px;
  color: #666;
  padding: 5px 0px;
  float:left;
  border-right: 1px solid #dfdfdf;
  width: 35px;
  text-align: center;
  cursor: pointer;
}
.section4{
  .ic-facebook {
    width: 8px;
    height: 15px;
    background-position: -408px 0;
  }

  .ic-twitter {
    background-position: -436px 0;
    width: 15px;
    height: 15px;
  } 
  .ic-google-plus {
    width: 16px;
    height: 16px;
    background-position: -466px 0;
  }

  .ic-rss {
      background: url(images/graphics/rss_gray.png) no-repeat 0 0;
      width: 10px;
      height: 10px;
      
  }
}

.section4 .social .search{float:left;padding:5px 0px}
.section4 .social .search .search-btn{
  font-size: 14px;
  color: #666;
  cursor: pointer;
  padding-right: 10px;
}
.section4 .social .search .search-btn i{margin: 0 8px;}
.section4 .social .search .search-btn button{background: none;border: none;cursor: pointer;outline: 0;}
.section4 .social .search .search-btn button i{color: #666;font-size: 14px;width: 30px;}
.section4 .social .search .search-input{width: 75px;font-size: 14px;}


/* Footer */
.footer {
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
  .section4 {
      border-top: none;
  }
}
footer .row_menu .vne_app {
  margin-left: 40px;
}
.bottom_footer {
  width: 100%;
  padding: 0 0 10px;
  border-top: 1px solid #d7dbe3;
  float: left;
}
footer .row_menu {
  padding: 25px 0 25px 0px;
  float: left;
  width: 100%;
  border-top: 0;
  display:block;
}
footer .row_menu:before, footer .row_menu:after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
}
footer .row_menu ul {
  width: 130px;
  float: left;
}
footer .row_menu .parent h6 {
  font: bold 12px/20px arial;
  height: 20px;
  margin: 0 0 10px;
}
footer .row_menu .parent h6 a {
  color: #666;
}
footer .row_menu .vne_app {
  width: 170px;
  color: #666;
  float: right;
}
footer .row_menu .vne_app .logo_app {
  margin-bottom: 10px;
}
footer .row_menu .vne_app .logo_app img {
  width: 28px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
footer .row_menu .vne_app .link_app {
  width: 55%;
  float: left;
}
footer .row_menu .vne_app .link_app a {
  display: block;
  margin-bottom: 5px;
}
footer .row_menu .vne_app .link_app a:last-child {
  margin-bottom: 0;
}
footer .row_menu .vne_app .qr_code {
  float: right;
  width: 45%;
  text-align: center;
}
footer .row_menu .vne_app .qr_code img {
  width: 60px;
}

.bottom_footer .logo_bottom {
  width: 190px;
  padding: 14px 0 0 10px;
}

.bottom_footer .bottom_footer_1, .bottom_footer .bottom_footer_2 {
  padding: 18px 0 0 10px;
  font: 400 11px arial;
  color: #666;
}
.bottom_footer .bottom_footer_2{text-align: right;}
