@import "var.scss";
@import "lightbox.scss";

.section_header {
    &_1 {
        background: #fff;
        text-align: center;
        height: 100%;

        .title_page {
            color: #9F224E;
            font: 500 48px/56px $font1;
            margin: 30px 0 34px 0;
        }

        .nav {
            li {
                margin: 0 17px;
                display: inline-block;

                a {
                    font: bold 16px/18px Arial;
                    color: #4F4F4F;
                    padding: 10px 0;
                    display: block;
                }

                &.active {
                    a {
                        color: #9F224E;
                        border-bottom: 2px solid #9F224E
                    }
                }
            }
        }
    }
}

.section_ads {
    &_1 {
        background: #F7F7F7;
        padding: 10px 0;
    }
}

.section_main_container {
    &_1 {
        padding-top: 130px;
        background-attachment: inherit;
    }
}

.block_topstory {
    &_7items {
        .art_right {
            width: 820px;
            position: relative;

            &:before {
                content: "";
                background: #E5E5E5;
                position: absolute;
                top: 0;
                bottom: 10px;
                right: -10px;
                width: 1px;
            }

            .art_item_top {
                width: 100%;
                padding-right: 0;
                background: #f4f4f4;

                .title_news {
                    font: 500 24px/37px "Roboto", sans-serif
                }

                .thumb_medium {
                    float: right;
                    width: 540px;
                }

                .box_info_top {
                    float: left;
                    width: 280px;
                    clear: inherit;
                }
            }
        }

        .top_news_right {
            width: 260px;
            padding-left: 0;

            .art_item {
                border-top: 1px solid #E5E5E5;
                margin-top: 5px;
                margin-bottom: 0;
                width: 100%;
                padding-left: 0;

                .title_news {
                    margin-top: 10px;
                }

                &:nth-child(1) {
                    margin-top: 0;
                    border-top: 0;

                    .thumb_art {
                        display: block;
                    }
                }

                .thumb_art {
                    display: none;
                }
            }
        }

        .list_news {
            float: left;
            margin-top: 20px;

            .art_item {
                .title_news {
                    font: 500 18px/26px "Roboto", sans-serif
                }
            }
        }
    }

    &_8items {
        .art_item_top {
            width: 560px;
            padding-right: 0;
            margin-bottom: 0;

            .box_info_top .title_news {
                font: 500 28px/43px "Roboto", sans-serif;
                margin-bottom: 10px;
                font-size: 22px;
                line-height: 1.45;
            }
        }

        .top_news_right {
            width: 540px;
            width: calc(100% - 560px);
            padding-left: 20px;

            ul {
                font-size: 0;
                margin-left: -20px;

                li {
                    float: none;
                    display: inline-block;
                    vertical-align: top;
                    width: 50%;
                    font-size: 16px;
                    position: relative;
                    padding-left: 20px;
                }
            }
        }
    }

    &.no-img {
        .art_item_top {
            width: 730px;

            .description {
                display: none;
            }
        }

        .top_news_right {
            width: 340px;
            padding-left: 0;

            ul {
                margin-left: 0;
            }

            .art_item {
                border-top: 1px solid #E5E5E5;
                margin-top: 5px;
                margin-bottom: 0;
                width: 100%;
                padding-left: 0;

                .title_news {
                    margin-top: 10px;
                }

                &:nth-child(1) {
                    margin-top: 0;
                    border-top: 0;

                    .thumb_art {
                        display: block;
                    }
                }

                .thumb_art {
                    display: none;
                }
            }
        }
    }
}

.block_img {
    &_2 {
        margin-bottom: 20px;
        background: #F7F7F7;
        padding: 15px 20px 0 20px;
        border-bottom: 0;

        .sub_title {
            a {
                background: #F7F7F7;
            }
        }

        .owl-item {
            .art_item {

                .title_news,
                .description {
                    transition: 0.5s ease;
                    -webkit-transition: 0.5s ease;
                    opacity: 0;
                }
            }

            &.active {
                .art_item {

                    .title_news,
                    .description {
                        opacity: 1;
                    }
                }

                .thumb_art {
                    &:before {
                        content: "";
                        background: rgba(0, 0, 0, 0.7);
                        position: absolute;
                        width: 170px;
                        height: 100%;
                        left: -170px;
                        top: 0;
                    }

                    &:after {
                        content: "";
                        background: rgba(0, 0, 0, 0.7);
                        position: absolute;
                        width: 170px;
                        height: 100%;
                        right: -170px;
                        top: 0;
                        z-index: 2;
                    }
                }
            }
        }

        .owl-dots {
            display: none;
        }

        .owl-nav {
            button {
                position: absolute;
                top: 35%;
                background: rgba(0, 0, 0, 0.6);
                color: #fff;
                border: 0;
                width: 40px;
                height: 40px;
                text-align: center;
                border-radius: 50%;
                outline: 0;

                span {
                    line-height: 20px;
                    font-size: 40px;
                }
            }

            .owl-prev {
                left: 120px;
            }

            .owl-next {
                right: 120px;
            }
        }
    }
}

.block_video {
    &__content {
        padding: 25px 20px;
        background: #222;
        @extend %wcm;
    }

    &_2 {
        margin-bottom: 20px;

        .sub_title {
            margin-bottom: 0;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1140' height='94' viewBox='0 0 1140 94' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20 37H787C788.657 37 790 38.3431 790 40H20V37Z' fill='%23FFD30F'/%3e%3cpath d='M0 3C0 1.34315 1.34315 0 3 0H1137C1138.66 0 1140 1.34315 1140 3V40H0V3Z' fill='%23243160'/%3e%3cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='1140' height='40'%3e%3cpath d='M0 3C0 1.34315 1.34315 0 3 0H1137C1138.66 0 1140 1.34315 1140 3V40H0V3Z' fill='%23243160'/%3e%3c/mask%3e%3cg mask='url(%23mask0)'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M78 1055.92C76.3431 1055.92 75 1054.58 75 1052.92V-9H779.558C700.869 36.9524 648 122.302 648 220C648 366.355 766.645 485 913 485C959.83 485 1003.82 472.853 1042 451.537V1055.92H78Z' fill='%23FFD30F'/%3e%3c/g%3e%3cpath d='M822 69C822 62.9592 820.81 56.9775 818.498 51.3966C816.187 45.8156 812.798 40.7446 808.527 36.4731C804.255 32.2016 799.184 28.8133 793.603 26.5015C788.022 24.1898 782.041 23 776 23C769.959 23 763.978 24.1898 758.397 26.5015C752.816 28.8133 747.745 32.2016 743.473 36.4731C739.202 40.7446 735.813 45.8156 733.502 51.3966C731.19 56.9775 730 62.9592 730 69L776 69H822Z' fill='%23FFD30F'/%3e%3cpath d='M879.611 60.2327C864.679 41.7683 845.182 27.4612 823.02 18.707C800.859 9.9527 776.79 7.05015 753.162 10.2824C729.534 13.5147 707.153 22.7715 688.202 37.1498C669.252 51.5281 654.379 70.5371 645.033 92.3225L647.67 93.4372C656.821 72.1042 671.386 53.49 689.943 39.4103C708.5 25.3306 730.416 16.2661 753.553 13.1009C776.691 9.93577 800.26 12.778 821.961 21.3505C843.662 29.923 862.755 43.9329 877.376 62.0138L879.611 60.2327Z' fill='%23009747'/%3e%3c/svg%3e ");

            a {
                height: 70px;
                width: 79px;
                background-image: url("data:image/svg+xml,%3Csvg width='79' height='70' viewBox='0 0 79 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M79 35C79 54.33 63.33 70 44 70C24.67 70 9 54.33 9 35C9 15.67 24.67 0 44 0C63.33 0 79 15.67 79 35ZM11.7336 35C11.7336 52.8202 26.1798 67.2664 44 67.2664C61.8202 67.2664 76.2664 52.8202 76.2664 35C76.2664 17.1798 61.8202 2.73365 44 2.73365C26.1798 2.73365 11.7336 17.1798 11.7336 35Z' fill='%23D3182C'/%3E%3Ccircle cx='35' cy='35' r='35' fill='%23009747'/%3E%3C/svg%3E%0A");
            }
        }

        .art_item_top {
            width: 770px;
            width: calc(100% - 330px);
            padding-right: 0;
            background: none;

            .title_news {
                margin-bottom: 0;
                font-size: 26px;
                font-weight: 600;

                a {
                    color: #fff !important;

                    &:hover {
                        color: #fff !important;
                    }
                }
            }
        }

        .right {
            width: 300px;
            position: relative;

            &:before {
                content: "";
                background: #333;
                position: absolute;
                width: 1px;
                top: 0;
                bottom: 0;
                left: -15px;
            }

            .art_item {
                margin-bottom: 15px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.15);
                padding-bottom: 10px;

                .title_news {
                    margin-bottom: 0;

                    a {
                        color: #fff;

                        &:hover {
                            color: #fff !important;
                        }
                    }
                }

                &:last-child {
                    border-bottom: 0;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }
    }

    &_3 {
        margin-bottom: 20px;
        background: #F7F7F7;
        padding: 15px 20px 0 20px;
        border-bottom: 0;

        .sub_title {
            a {
                background: #F7F7F7;
            }
        }

        .art_item_top {
            width: 100%;
            margin-bottom: 10px;

            .title_news {
                position: absolute;
                bottom: 50px;
                left: 20px;

                a {
                    color: #fff !important;
                    text-shadow: 1px 1px 1px #333;
                }
            }
        }

        .owl-carousel {
            float: left;
            width: 100%;

            .art_item {
                margin-bottom: 0;

                .title_news {
                    font: 500 15px/23px "Roboto", sans-serif
                }

                &.focus {
                    .thumb_img {
                        background: #000;

                        img,
                        .play_ico {
                            opacity: 0.6
                        }
                    }

                    .running {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        color: #fff;
                        transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                    }
                }
            }

            .owl-dots {
                display: none;
            }

            .owl-nav {
                button {
                    position: absolute;
                    top: 60px;
                    background: rgba(0, 0, 0, 0.6);
                    color: #fff;
                    border: 0;
                    width: 30px;
                    height: 40px;
                    text-align: center;
                    outline: 0;

                    span {
                        line-height: 20px;
                        font-size: 40px;
                    }
                }

                .owl-prev {
                    left: 0;
                }

                .owl-next {
                    right: 0;
                }
            }
        }
    }
}


@media (max-width: 1200px) {
    .block_topstory {
        &_7items {
            .art_right {
                width: calc(100% - 280px);

                .art_item_top {
                    .thumb_medium {
                        width: 100%;
                    }

                    .box_info_top {
                        width: 100%;
                    }
                }
            }
        }

        &.no-img {
            .art_item_top {
                width: calc(100% - 360px)
            }
        }
    }
}

@media (max-width: 1024px) {
    .section_header {
        &_1 {
            .title_page {
                color: #9F224E;
                font: 500 30px/40px $font1;
                margin: 15px 0 20px 0;
            }
        }
    }

    .block_img {
        &_2 {
            .owl-nav {
                .owl-prev {
                    left: 50px
                }

                .owl-next {
                    right: 50px;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .block_topstory {
        &_8items {
            .art_item_top {
                width: 100%;
            }

            .top_news_right {
                width: 100%;
                padding-left: 0;
            }
        }

        &_7items {
            .list_news {
                .art_item {
                    &:nth-child(3) {
                        display: none;
                    }
                }
            }
        }
    }

    .block_video {
        &_2 {
            .art_item_top {
                width: 100%;
            }

            .right {
                width: 100%;

                &:before {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .block_topstory {
        &.no-img {
            .art_item_top {
                width: 100%;
                margin-bottom: 20px;
            }

            .top_news_right {
                width: 100%;
            }
        }

        &_7items {
            .art_right {
                width: 100%;

                &:before {
                    display: none;
                }
            }

            .top_news_right {
                width: 100%;
            }
        }

        &_6items {
            .art_item_top {
                width: 100%;
                padding: 0;
                margin-bottom: 20px;
            }

            .top_news_right {
                width: 100%;
                padding: 0;

                ul {
                    margin-left: -18px;
                    font-size: 0;

                    li {
                        width: 50%;
                        display: inline-block;
                        vertical-align: top;
                        padding-left: 18px;
                        font-size: 16px;
                        float: none;
                    }
                }
            }
        }
    }
}