/* Scss Document */

.page_contact .sidebar_2 iframe {
	width: 298px !important;
}

.space_bottom_15 {
	margin-bottom: 15px;
}

.mb20 {
	margin-bottom: 20px !important;
}

.no_margin {
	margin: 0 !important;
}

.no_margin_right {
	margin-right: 0 !important;
}

.no_margin_bottom {
	margin-bottom: 0 !important;
}

.no_padding {
	padding: 0 !important;
}

.no_padding_right {
	padding-right: 0 !important;
}

.no_border {
	border: none !important;
}

.list_title_no_dot {
	li {
		padding: 0 0 5px 0 !important;

		&:after {
			content: none !important;
		}
	}
}

.line_dotted {
	width: 100%;
	height: 1px;
	border-bottom: 1px dotted #cecece;
	border-top: 0;
	margin-bottom: 10px;
	clear: both;
}

.line_solid {
	@extend .line_dotted;
	border-bottom: 1px solid #cecece;
}

.icon_thumb_videophoto {
	width: 28px;
	display: block;
	height: 28px;
	line-height: 28px;
	text-align: center;
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	left: 0;
	bottom: 0;

	/*.ic{
      color: #000;
      vertical-align: middle;
    }*/
	.ic-interactive {
		font-size: 16px;
		display: inline-block;
		vertical-align: middle;
		margin-top: 3px;
	}

	&.icon_thumb_zoom {
		left: auto;
		right: 0;
		bottom: auto;
		top: 0;
	}

	.ic-photo {
		background-position: -293px -48px;
		height: 13px;
	}

	.ic-video {
		background-position: -278px -48px;
		height: 20px;
	}

	.ic-infographic {
		background-position: -308px -47px;
	}
}

.ic-live {
	font-style: inherit;
}

/* format thumb */
.item-news {
	float: left;
	width: 100%;
	position: relative;

	.thumb-art {
		position: relative;
		overflow: hidden;
		float: left;

		.icon_thumb {
			position: absolute;
			background: #010103;
			width: 24px;
			height: 24px;
			line-height: 26px;
			text-align: center;
			bottom: 0;

			svg {
				fill: #fff;
				width: 12px;
				height: 12px;
			}
		}

		.time {
			position: absolute;
			left: 24px;
			bottom: 0;
			background: #4F4F4F;
			color: #fff;
			width: 44px;
			height: 24px;
			line-height: 26px;
			text-align: center;
		}
	}

	.title-news {
		font: bold 18px/1.3 $font1;
		margin-bottom: 16px;

		.comment,
		.count_cmt {
			color: var(--gray1);
			font: 400 12px arial;
			margin-left: 3px;

			svg {
				width: 12px;
				height: 12px;
			}
		}
	}

	.description {
		font-size: 16px;
		line-height: 1.6;
	}

	.status {
		color: #666666;
		margin-top: 10px;

		.date {
			margin-right: 15px;
		}
	}

	.content {
		overflow: hidden;
	}

	&.full-thumb {
		.thumb-art {
			width: 100%;
			float: none;
			margin: 0 0 16px 0;
		}

		.content {
			overflow: visible;
		}
	}

	@media (max-width: 991px) {
		&.full-thumb {
			.thumb-art {
				margin-bottom: 10px;
			}
		}

	}
}

.thumb_art.large_thumb {
	margin-bottom: 10px !important;
}

.thumb,
.thumb_img {
	display: block;
	overflow: hidden;
	height: 1px;
	position: relative;
	width: 100%;
	background: #f4f4f4;

	img {
		width: 100%;
		float: left;
		object-fit: cover;
	}
}

.interactives .thumb_art {
	width: 36%;
}

.thumb_art {
	position: relative;
	margin-right: 10px;
	float: left;
	width: 140px;
	margin-bottom: 10px;

	img {
		width: 100%;
	}
}

.thum120 {
	width: 120px;
}

.large_thumb {
	width: 100% !important;
	margin-bottom: 10px;
}

.thumb_medium {
	width: 45%;
}

.thumb_tags {
	width: 36%;
}

.thumb_30 {
	width: 30%;
}

.thumb_full {
	width: 100% !important;
	margin-bottom: 10px;

	img {
		float: left;
		width: 100%;
	}
}

.thumb_5x3 {
	padding-bottom: 60%;
}

.thumb_2x1 {
	padding-bottom: 50%;
}

.thumb_1x1 {
	padding-bottom: 100%;
}

.thumb_2x3 {
	padding-bottom: 150%;
}

.thumb_3x4 {
	padding-bottom: 133.33334%;
}

.thumb_1x15 {
	padding-bottom: 150%;
}

.title_news {
	margin-bottom: 5px;
	line-height: normal;

	/*i{margin: 0 3px;}*/
	a:hover {
		color: #004f8b !important;
	}
}

.title_news_nomal,
.title_news_nomal a {
	font: 400 14px arial;
}

.description {
	color: #333;
	font: 400 13px/16px arial;
	margin-bottom: 5px;
}

.news_lead {
	@extend .description;
}

.list_title {
	border-top: 1px dotted #CCC;
	margin-top: 10px;
	padding-top: 10px;
	float: left;
	width: 100%;

	li {
		position: relative;
		padding: 0 0 5px 10px;

		/*font-size: 0;*/
		a {
			font: 700 12px/16px arial;
			color: #666;
		}

		/*i{margin: 0 3px;}*/
		/*.ic-fun{
			margin-right: 3px;
		}*/
		.time_news {
			font-size: 14px;
			color: #666;
			margin-left: 3px;
			font-weight: normal;
		}

		.txt_666 {
			font-size: 14px;
			color: #666;
			font-weight: normal;
		}
	}

	li:after {
		content: '';
		width: 3px;
		height: 3px;
		background: #999;
		position: absolute;
		left: 0;
		top: 7px;
	}

	.icon_news {
		i:last-child {
			margin-right: 0;
		}
	}
}

.box_100 {
	width: 100px;
}

.box_300 {
	width: 300px !important;
}

.box_thumb_large_small {
	.title_news {
		margin-top: 0 !important;

		a {
			font-weight: 700;
		}

		i:nth-of-type(1) {
			margin-left: 3px;
		}
	}
}

.slide_video_box_300 {
	position: relative;

	.thumb_art {
		width: 100%;
		margin-bottom: 10px;
	}

	.btn_next,
	.btn_prev {
		top: 20%;
	}

	.title_news {
		margin-bottom: 0 !important;
		float: left;
		margin-top: 10px;

		a {
			font-weight: 400;
		}
	}
}

/* end format thumb */

/*btn_vne*/
.btn_vne {
	background: #9F224E;
	color: #fff !important;
	font: 700 12px arial;
	padding: 5px 18px;
	border: none;
	cursor: pointer;
	display: inline-block;
}

.txt_clear_all {
	font-size: 11px;
	text-decoration: underline;
	color: #666;
}

/*end btn_vne*/

/*error*/
span.error {
	display: block;
	font-size: 14px;
	color: #D30606;
	clear: both;
	margin-top: 10px;
}

/*end error*/

/*Button owl-carousel*/
%btn_next_prev_30 {
	position: absolute;
	height: 28px;
	line-height: 28px;
	width: 28px;
	background: rgba(255, 255, 255, 0.8);
	z-index: 9;
	top: 30%;
	text-align: center;

	i {
		color: #000;
	}
}

%btn_next_prev_50 {
	position: absolute;
	top: 50%;
	z-index: 999;

	i {
		font-weight: bold;
		color: #000;
	}
}

.btn_next {
	@extend %btn_next_prev_30;
	right: 0;
}

.btn_prev {
	@extend %btn_next_prev_30;
	left: 0;
}

.btn_list_raovat_sidebar_prev,
.btn_list_ebank_sidebar_prev {
	@extend %btn_next_prev_50;
	left: -5px;
}

.btn_list_raovat_sidebar_next,
.btn_list_ebank_sidebar_next {
	@extend %btn_next_prev_50;
	right: -5px;
}


/*End Button owl-carousel*/

/*TO TOP*/
#to_top {
	width: 38px;
	height: 38px;
	line-height: 37px;
	text-align: center;
	background: rgba(0, 0, 0, 0.2);
	position: fixed;
	bottom: 19px;
	right: 19px;
	z-index: 9999;
	border: 4px double #fff;

	i {
		background-position: -407px -41px;
		margin-bottom: 6px;
	}
}

/*END TO TOP*/

/*PAGINATION*/
.pagination {
	float: right;
	margin-top: 10px;

	a {
		width: 26px;
		height: 26px;
		line-height: 26px;
		display: inline-block;
		border: 1px solid #d6d6d6;
		color: #000;
		font: 400 11px/25px arial;
		border-radius: 3px;
		text-align: center;
		margin-left: 3px;

		i {
			vertical-align: middle;
			display: inline-block;
			/*margin-top: 2px;*/
		}

		&:hover {
			@extend .active;
		}
	}

	.active {
		background: #c8c8c8;
		font-weight: 700;
	}

	.ic-caret-right,
	.ic-caret-left {
		opacity: .4;
	}
}

/*End PAGINATION*/

/*VIEW BY DATE*/
.view_by_date {
	height: 24px;
	display: block;
	border: 1px solid #acacac;
	padding: 0 10px 0 0;
	margin: 10px 0 20px;
	cursor: pointer;
	float: left;
	position: relative;
	z-index: 4;

	img {
		float: left;
		margin-right: 10px;
	}

	#widgetField span {
		height: 24px;
		border: none;
	}
}

#widgetCalendar,
.calendarblockvne {
	background: none;
}

/*End VIEW BY DATE*/

.view_more {
	font: 400 11px arial !important;
	color: #666;
	float: right;
	padding-right: 10px;

	&:hover {
		color: $vne_color_hover;
	}

	/*i{
		display: inline-block;
		vertical-align: middle;
		color: $vne_color;
		font-size: 6px;
	}*/
	.ic-double-arrow-right {
		background-position: -524px -17px;
	}
}

/*title_box_category cũ*/
.txt_main_category {
	display: inline-block;
	position: relative;

	&:before {
		content: '';
		background: #999;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 2px;
	}

	a {
		font: 700 14px/32px arial;
		color: $vne_color;
	}
}

/*End title_box_category cũ*/

#box_fb iframe {
	width: 298px !important;
}