.section_main_container {
    background: #f4f6f8;
    padding-bottom: 135px;
    padding-top: 64px;

    &.wrap-white {
        background: #fff
    }

    .bg-white {
        background: #fff;
        padding: 24px;
    }

    @media (max-width: 991px) {
        padding: 16px 8px 40px 8px;

        &.folder {
            padding-top: 25px;
        }

        .padding_mobile {
            margin: 0 -15px;
        }

        .bg-white {
            padding: 15px 8px;
        }
    }

    @media (max-width: 590px) {
        &.folder {
            padding: 16px 0px 30px 0px;
        }
    }
}


//TOPSTORY
.section_topstory2 {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 24px;
    align-items: flex-start;
    margin-bottom: 24px;

    &_left {
        width: 546px;
        position: relative;

        &::before {
            content: "";
            border-left: 1px solid var(--border);
            position: absolute;
            top: 0;
            bottom: 0;
            right: -20px;
        }

        .item-news {
            .title-news {
                font-size: 24px;
                margin-bottom: 15px;
            }
        }
    }

    &_right {
        width: 536px;
        width: calc(100% - 546px);
        position: relative;
        display: flex;
        flex-wrap: wrap;

        .item-news {
            width: 50%;
            padding-left: 24px;

            .title-news {
                margin-bottom: 0;
            }

            &:nth-child(1),
            &:nth-child(2) {
                padding-bottom: 0;
                margin-bottom: 20px;

                &::before {
                    content: "";
                    border-bottom: 1px solid var(--border);
                    position: absolute;
                    bottom: 0;
                    left: 20px;
                    right: 0;
                }
            }
        }
    }

    .gird_3 {
        .item-news {
            .thumb-art {
                margin-bottom: 15px;
            }

            .title-news {
                font-size: 22px;
            }

            @media (max-width: 991px) {
                .thumb-art {
                    margin-bottom: 10px;
                }

                .title-news {
                    font-size: 16px;
                }
            }
        }
    }

    @media (max-width: 991px) {
        &_left {
            width: 40%;

            .item-news {
                .title-news {
                    font-size: 22px;
                    margin-bottom: 10px;
                }
            }
        }

        &_right {
            width: 60%;

            .item-news {

                &:nth-child(1),
                &:nth-child(2) {
                    margin-bottom: 15px;
                }
            }
        }
    }

    @media (max-width: 590px) {
        &_left {
            width: 100%;
            border-bottom: 1px solid #E5E5E5;
            margin-bottom: 24px;
            padding-bottom: 25px;

            .item-news {
                .thumb-art {
                    margin: -16px -8px 16px;
                    width: calc(100% + 16px);
                }

                .content {
                    padding: 0 8px;
                }

                .title-news {
                    font-size: 20px;
                    margin-bottom: 15px;
                    line-height: 1.6;
                }
            }
        }

        &_right {
            width: 100%;

            .item-news {
                width: 100%;
                padding-left: 0;
                border-bottom: 1px solid #E5E5E5;
                margin-bottom: 24px;
                padding-bottom: 24px;

                &:nth-child(1),
                &:nth-child(2) {
                    margin-bottom: 24px;
                    padding-bottom: 24px;
                }

                &:last-child {
                    border-bottom: 0;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }

                .thumb-art {
                    width: 164px;
                    float: left;
                    margin: 0 16px 0 0;
                }

                .title-news {
                    font-weight: 600;
                    font-size: 16px
                }
            }
        }
    }
}

// END TOPSTORY
.section_taitro {
    margin-bottom: 80px;

    .title_award {
        color: #222222;
        margin-bottom: 57px;
    }

    .btn-skew {
        height: 55px;
        line-height: 53px;
        margin-bottom: 40px;

        &::after {
            height: 55px;
        }
    }

    .don_vi_vang {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        label {
            color: #222222;
            font: bold 24px "SVN-Gilroy";
            margin: -20px 20px 0 0
        }

        .logo {
            width: 207px;
            height: 98px;
            display: inline-block;
            text-align: center;
            padding: 0 25px;
            margin: 0 10px 20px 10px;
            border: 1px solid #EEEEEE;
            position: relative;

            img {
                max-height: 80%;
                max-width: 80%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }

    @media (max-width: 590px) {
        .title_award {
            margin-bottom: 35px;
        }

        .btn-skew {
            margin-bottom: 24px;
            margin-left: -20px;
        }

        .don_vi_vang {
            margin-bottom: 30px;

            label {
                width: 100%;
                margin: 5px 0 20px 0;

            }

            .row {
                width: 103%;
                width: calc(100% + 16px);
                margin: 0 -8px;
                display: flex;
                flex-wrap: wrap;
            }

            .logo {
                width: calc(50% - 16px);
                margin: 0 8px 24px 8px;
            }
        }
    }
}

//Thể Lệ
.content_thele {
    position: relative;

    .menu_left_tl {
        width: 294px;

        .box_pin_top {
            position: -webkit-sticky;
            position: sticky;
            top: 156px;
        }

        .box_pin_top .inner_pin_top {
            background: #fff;
            padding: 24px;
        }

        ul {
            li {
                a {
                    display: block;
                    padding: 15px 0;
                    font-size: 16px;
                    color: #222;
                    font-family: $font1;

                    &.active {
                        color: #222222;
                        border-bottom: 1px solid #EEEEEE;
                        font-weight: bold;
                        font-size: 18px
                    }
                }

                &:first-child {
                    a {
                        padding-top: 5px;
                    }
                }
            }
        }
    }

    .block_content_tl {
        width: 73%;
        width: calc(100% - 294px);
        padding-left: 58px;
        color: #26364E;
        font-size: 18px;

        p {
            line-height: 25px;
            margin-bottom: 15px;
        }

        .item_tl {
            margin-bottom: 24px;
            padding: 30px;
            background: #fff;

            .tit_sec {
                font-family: $font1;
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 15px;
            }

            ul {
                li {
                    margin-bottom: 15px;
                    position: relative;
                    padding-left: 20px;
                    font-size: 16px;
                    line-height: 1.6;

                    &:before {
                        content: '';
                        color: #26364E;
                        position: absolute;
                        top: 7px;
                        left: 0;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: #C4C4C4;
                    }
                }
            }
        }
    }

    @media (max-width: 991px) {
        .block_content_tl {
            padding-left: 20px;
        }
    }

    @media (max-width: 590px) {
        .menu_left_tl {
            width: 100%;
            margin-bottom: 16px;
        }

        .block_content_tl {
            width: 100%;
            padding-left: 0;

            .item_tl {
                margin-bottom: 16px;
            }
        }
    }
}


// COL-LEFT
.col-left {
    width: 800px;
    width: calc(100% - 300px);
    padding-right: 45px;

    .line_top {
        font-size: 24px !important;
        display: block;
        max-width: 100%;
        border-top: 1px solid #ECECEC;
        padding-top: 25px;

        span {
            &::before {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='62' height='61' viewBox='0 0 62 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18.0373 3.01877C19.1549 0.730509 21.8137 -0.352264 24.2119 0.504237L57.4552 12.3769C60.1091 13.3247 61.7457 15.9917 61.3889 18.7871L56.4622 57.3797C56.2228 59.2544 54.3306 60.4435 52.5376 59.8459L3.33428 43.4448C1.03927 42.6798 -0.0566904 40.0685 1.00492 37.8947L18.0373 3.01877Z' fill='%23F7F7F7'/%3e%3c/svg%3e");
            }
        }
    }


    .tab_product {
        .slide_bar2 {
            width: 100%;
            padding-left: 0;

            .tab {
                padding: 10px 20px;
                margin-bottom: 0;
            }

            .list_product {
                margin-top: 20px;
                padding: 0;
            }
        }
    }

    @media (max-width: 991px) {
        width: 100%;
        padding-right: 0;
        margin-bottom: 30px;
    }
}

//BOX 300

.col-right {
    width: 300px;

    .title-cate {
        background: #EEEEEE;
        font: bold 18px $font1;
        color: #010103;
        padding: 10px 20px;
    }

    .list-wrap {
        padding: 20px;
        float: left;
        width: 100%;
    }

    .border {
        border: 1px solid #EEEEEE;
    }

    .box_category {
        float: left;
        width: 100%;
    }

    .item-news {
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 15px;
        margin-bottom: 15px;

        .thumb-art {
            width: 104px;
            margin-right: 15px;
            margin-bottom: 0;
        }

        .title-news {
            font: 400 14px $font;
        }

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    .view-more {
        font-weight: 500;
        font-size: 16px;
        display: block;
        text-align: center;
        border-top: 1px solid #EEEEEE;
        float: left;
        width: 100%;
        padding: 18px 10px;
    }

    .list_product {
        float: left;
        width: 100%;
        padding: 20px 20px 0 20px;

        .item {
            position: relative;
            width: 100%;
            float: left;
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #E5E5E5;

            &:last-child {
                border-bottom: 0;
                margin-bottom: 0;
            }

            .ava {
                width: 100px;
                height: 100px;
                position: relative;
                float: left;
                margin-right: 12px;

                img {
                    max-height: 90%;
                    max-width: 90%;
                    width: auto;
                    height: auto;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    transition: all .4s ease 0s;
                }

                &:hover {
                    -webkit-animation: bloom ease-in-out .75s forwards;
                    animation: bloom ease-in-out .75s forwards;

                    img {
                        transform: scale(1.05);
                    }
                }

            }


            .title {
                font: 400 14px/1.6 Roboto;
                margin-bottom: 10px;
            }

            .btn-skew {
                height: 32px;
                line-height: 32px;
                font-size: 14px;
                padding: 0 10px;
                margin-left: 12px;

                &::after {
                    height: 32px;
                }
            }

        }
    }

    @media (max-width: 991px) {
        display: none
    }

    @media (max-width: 590px) {
        display: block;
        width: 100%;

        .title-cate {
            font-size: 20px;
            margin-bottom: 24px;
        }

        .border {
            border: 0
        }

        .list-wrap {
            padding: 0
        }

        .list_product {
            padding: 20px 0
        }

        .view-more {
            border: 1px solid #EEEEEE
        }

        .ads-mobile {
            display: none
        }

        .item-news {
            .thumb-art {
                width: 140px;
            }

            .title-news {
                font: 600 16px/1.6 $font1;
            }
        }
    }



}

.box_stream {
    .item-news {
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 24px;
        margin-bottom: 24px;

        .thumb-art {
            width: 254px;
            margin: 0 24px 0 0;
        }

        .title-news {
            margin-bottom: 16px;
        }



        @media (max-width: 590px) {
            .thumb-art {
                width: 164px;
                float: left;
                margin: 0 16px 0 0;
            }

            .title-news {
                font-weight: 600;
                font-size: 16px
            }

            .description {
                display: none
            }

            &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    &__techtalk {
        .item-news {
            @media (min-width: 1130px) {
                &:first-child {
                    .thumb-art {
                        width: 515px;

                        .icon_thumb {
                            width: 36px;
                            height: 36px;
                            line-height: 40px;
                        }

                        .time {
                            background: #222222;
                            font-size: 16px;
                            font-family: arial;
                            left: 36px;
                            height: 36px;
                            width: 65px;
                            line-height: 40px;
                        }
                    }

                    .title-news {
                        font-size: 24px
                    }

                    &__big {
                        .thumb-art {
                            width: 442px;

                            .icon_thumb {
                                width: 36px;
                                height: 36px;
                                line-height: 40px;
                            }

                            .time {
                                background: #222222;
                                font-size: 16px;
                                font-family: arial;
                                left: 36px;
                                height: 36px;
                                width: 65px;
                                line-height: 40px;
                            }
                        }
                    }
                }
            }

            .thumb-art {
                width: 309px;

                .time {
                    background: #222222;
                }
            }

            .description {
                font-size: 14px;
            }

            .title-news {
                font-size: 20px
            }

            @media (max-width: 590px) {
                .thumb-art {
                    width: 164px;
                    float: left;
                    margin: 0 16px 0 0;
                }

                .title-news {
                    font-weight: 600;
                    font-size: 16px
                }

                .description {
                    display: none
                }

                &:first-child,
                &__big {
                    .thumb-art {
                        margin: -16px -8px 16px;
                        width: calc(100% + 16px) !important;
                        float: none;

                        .icon_thumb {
                            width: 36px;
                            height: 36px;
                            line-height: 40px;
                        }

                        .time {
                            background: #222222;
                            font-size: 16px;
                            font-family: arial;
                            left: 36px;
                            height: 36px;
                            width: 65px;
                            line-height: 40px;
                        }
                    }

                    .description {
                        display: block;
                        font-size: 16px;
                    }

                    .title-news {
                        font: bold 20px/1.6 $font1;
                    }

                    .content {
                        overflow: visible;
                        padding: 0 8px;
                    }
                }

                &__big {
                    .thumb-art {
                        margin: 0 0 15px 0;
                        width: 100% !important;
                    }
                }

                &:last-child {
                    border-bottom: 0;
                    padding-bottom: 0;
                }
            }

            @media (max-width: 340px) {
                .thumb-art {
                    width: 130px;
                    margin: 0 10px 0 0;
                }
            }

        }
    }
}

.tab_product {
    margin-bottom: 82px;

    &__header {
        display: flex;
        flex-wrap: wrap;
        background: #F4F6F8;
        padding: 15px 23px 10px 23px;
        align-items: flex-end;
        position: relative;

        .week {
            font: bold 24px $font1;
        }

        .date {
            color: #666666;
            font-size: 14px;
            font-weight: 500;
            margin-left: 8px;
            line-height: 1.6;
        }

        .title {
            font: 600 16px/1.6 $font1;
            color: #333333;
            margin-left: 30px;
            position: relative;

            &::before {
                content: "";
                background: #333;
                position: absolute;
                height: 20px;
                width: 2px;
                left: -15px;
            }
        }

        .note {
            position: absolute;
            top: 20px;
            right: 17px;
            padding-left: 25px;
            color: #EB5757;
            font-size: 16px;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.3333 15.3334C17.0697 15.3334 17.6667 14.7365 17.6667 14.0001C17.6667 13.2637 17.0697 12.6667 16.3333 12.6667C15.597 12.6667 15 13.2637 15 14.0001C15 14.7365 15.597 15.3334 16.3333 15.3334Z' fill='%23EB5757'/%3e%3cpath d='M10.3327 1.33333C10.3327 2.07 9.73602 2 8.99935 2C8.26268 2 7.66602 2.07 7.66602 1.33333C7.66602 0.596667 8.26268 0 8.99935 0C9.73602 0 10.3327 0.596667 10.3327 1.33333Z' fill='%23EB5757'/%3e%3cpath d='M1.66634 15.3334C2.40272 15.3334 2.99967 14.7365 2.99967 14.0001C2.99967 13.2637 2.40272 12.6667 1.66634 12.6667C0.929961 12.6667 0.333008 13.2637 0.333008 14.0001C0.333008 14.7365 0.929961 15.3334 1.66634 15.3334Z' fill='%23EB5757'/%3e%3cpath d='M10.2239 0.806748L8.99987 0.666748L7.77587 0.806748L0.533203 13.2987L1.76254 15.3334H16.2372L17.4665 13.2987L10.2239 0.806748ZM9.80787 5.57341L9.67454 9.88875H8.3252L8.19187 5.57341H9.80787ZM9.00187 12.7927C8.44987 12.7927 8.11987 12.4987 8.11987 12.0047C8.11987 11.5014 8.4492 11.2074 9.00187 11.2074C9.54987 11.2074 9.8792 11.5014 9.8792 12.0047C9.8792 12.4987 9.54987 12.7927 9.00187 12.7927Z' fill='%23EB5757'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
        }

        &.yellow {
            background: #FFE74C;
        }
    }

    @media (max-width: 991px) {
        &__header {
            .note {
                display: none
            }
        }
    }

    @media (max-width: 590px) {
        margin-bottom: 50px;

        &__header {
            align-items: center;
            padding: 15px 10px 10px 15px;

            .date {
                display: none
            }

            .week {
                font-size: 20px;
            }

            .title {


                &::before {
                    top: 3px;
                }
            }
        }
    }

    @media (max-width: 375px) {

        &__header {
            align-items: center;
            padding: 15px 5px 10px 10px;


            .title {
                margin-left: 20px;

                &::before {
                    top: 4px;
                    height: 15px;
                    width: 1px;
                    left: -10px;
                }
            }
        }
    }

}

.list_product {
    border-left: 1px solid #EEEEEE;

    .item {
        position: relative;
        width: 20%;
        text-align: center;
        border-bottom: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
        padding: 24px 10px;

        .title {
            margin-top: 15px;
            font: 600 16px $font1;
        }

        .thumb_img {
            background: none;

            img {
                max-height: 90%;
                max-width: 90%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }

        .success {
            background: #EEEEEE;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='10' cy='10.0634' r='10' fill='%23AAAAAA'/%3e%3cpath d='M8.75047 14.0143L5.18359 10.4471L6.06734 9.56335L8.75047 12.2462L13.9336 7.06335L14.8173 7.9471L8.75047 14.0143Z' fill='white'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: 4px 4px;
            border-radius: 70px;
            color: #666666;
            font-size: 14px;
            height: 28px;
            line-height: 28px;
            display: inline-block;
            margin-top: 8px;
            padding: 0 8px 0 30px;
        }

        &.active {
            .thumb_img {
                &::before {
                    display: none
                }
            }

            .view,
            .vote_mobile {
                display: none
            }

        }

        &:hover {
            .thumb_img {
                &::before {
                    opacity: 1;
                }
            }

            .view {
                opacity: 1;
            }
        }
    }

    @media (max-width: 991px) {
        .item {
            padding: 20px 5px;
            width: 25%;
        }
    }

    @media (max-width: 590px) {
        .item {
            width: 50%;

            .title {
                font: 500 15px $font;
            }
        }
    }
}

.info-product {
    border: 1px solid #EEEEEE;
    border-top: 0;
    max-width: 1099px;
    padding: 34px 16px;

    .ava {
        width: 232px;
        margin-right: 22px;
    }

    .title {
        font: bold 32px $font1;
    }

    .content {
        font-size: 14px;
        color: #010103;
        width: 504px;
        width: calc(100% - 554px);

        h3 {
            margin-bottom: 15px;
        }

        .description {
            color: #757575;
            font-size: 16px;
            position: relative;

            &::before {
                content: "";
                background: linear-gradient(180deg, #FFFFFF 7.77%, rgba(255, 255, 255, 0) 132.96%);
                transform: matrix(1, 0, 0, -1, 0, 0);
                position: absolute;
                bottom: -10px;
                height: 80%;
                width: 100%;
                z-index: 1;
            }

            ul {
                li {
                    margin-bottom: 10px;
                    line-height: 1.4;
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    padding-left: 15px;

                    &::before {
                        content: "";
                        background: #ccc;
                        width: 4px;
                        height: 4px;
                        position: absolute;
                        left: 0;
                        top: 9px;
                    }

                    .td {
                        &:first-child {
                            width: 120px;
                        }
                    }
                }
            }
        }

        .view-deail {
            color: #2E50A3;
            font-size: 16px;
            font-weight: 500;
            display: block;
            margin-top: 20px;

            svg {
                width: 24px;
                height: 20px;
                vertical-align: middle;
                margin-left: 5px;
            }
        }
    }

    .content2 {
        width: 300px;
        border-left: 1px solid #EEEEEE;
        padding-left: 32px;

        h3 {

            margin-bottom: 5px;
        }

        .number {
            font-size: 16px;
            color: #666666;
        }
    }

    @media (max-width: 991px) {
        .ava {
            width: 180px;
            margin-right: 10px;
        }

        .title {
            font-size: 20px
        }

        .content {
            width: calc(100% - 440px);
        }

        .content2 {
            padding-left: 15px;
            width: 250px;
        }
    }

    @media (max-width: 767px) {
        padding: 24px 6px;

        .ava {
            width: 150px;
        }

        .content {
            width: calc(100% - 360px);
        }

        .content2 {
            width: 200px;
        }
    }

    @media (max-width: 590px) {
        padding: 24px 15px;

        .ava {
            width: 100%;
            margin: 0 0 30px 0;
            text-align: center;
        }

        .title {
            font-size: 24px;
        }

        .content {
            width: 100%;

            .title {
                font-size: 32px;
            }
        }

        .content2 {
            width: 100%;
            padding-left: 0;
            border-left: 0;
            border-top: 1px solid #EEEEEE;
            padding-top: 15px;
            margin-top: 15px;
        }
    }
}


.btn-skew {
    background: #FFE74C;
    color: #222222;
    font-weight: 500;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0 25px;
    position: relative;

    span {
        position: relative;
        z-index: 1;
    }

    &::after {
        content: "";
        background: #FFE74C;
        transform: skew(15deg);
        border-radius: 4px;
        position: absolute;
        left: -10px;
        top: 0;
        right: -10px;
        height: 40px;
    }

    &.success {
        background: #2E50A3;
        color: #98A6D0;
        padding-left: 25px !important;

        .checked {
            background: #98A6D0;
            width: 16px;
            height: 16px;
            position: absolute;
            border-radius: 50%;
            left: -25px;
            top: 0px;

            &::before {
                content: "";
                position: absolute;
                left: 6px;
                top: 3px;
                width: 3px;
                height: 8px;
                border: solid #2E50A3;
                border-width: 0 1px 1px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }

        &::after {
            background: #2E50A3;
        }
    }

    &.yellow {
        background: #FFE74C;
        font-size: 18px;
        font-weight: bold;
        font-family: $font1;

        &::after {
            background: #FFE74C;
            transform: skew(-15deg);
            border-radius: 7px;
        }
    }

    &.blue {
        background: #021641;
        font-size: 18px;
        font-weight: bold;
        font-family: $font1;
        line-height: 35px;
        color: #06BEE1;
        height: 38px;

        &::after {
            background: #021641;
            border: 1px solid #06BEE1;
            transform: skew(-15deg);
            border-radius: 7px;
            height: 38px;
        }
    }

    &:hover {
        color: #222222;
    }
}

.section_ads {
    text-align: center;
    padding: 20px 0;
    overflow: hidden;
}

//Select dropdown
.header-flex {
    justify-content: space-between;

    .tab-default {
        width: 100%;
    }

    .select-dropdown {
        position: absolute;
        right: 0;
        top: 10px;
    }

    @media (max-width: 991px) {
        .select-dropdown {
            top: 0px;
        }
    }

    @media (max-width: 590px) {
        justify-content: flex-end;

        .title_award {
            width: 100%;
        }

        .select-dropdown {
            position: relative;
            margin-bottom: 16px;
        }
    }
}

.select-dropdown {
    position: relative;

    .dropbtn {
        border: 1px solid #EEEEEE;
        border-radius: 4px 0px 0px 4px;
        font: 600 16px "SVN-Gilroy";
        background: #fff;
        height: 47px;
        line-height: 45px;
        position: relative;
        padding: 0 40px 0 20px;
        cursor: pointer;

        &::before {
            content: "";
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #222;
            position: absolute;
            right: 20px;
            top: 22px;
        }
    }

    .dropdown-content {
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(249, 179, 171, 0.25);
        border-radius: 4px;
        padding: 8px 20px;
        display: none;
        position: absolute;
        min-width: 200px;
        z-index: 3;

        li {
            padding: 8px 0;
            font: 400 16px $font;
            color: #757575;

            strong {
                font-weight: bold;
                font-family: $font1;
                color: #1A2141;
            }
        }
    }
}

.tab-default {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 40px;

    a {
        font: 600 16px $font1;
        padding-bottom: 14px;
        margin-right: 24px;
        display: inline-block;
        border-bottom: 2px solid transparent;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            color: #03256C;
            border-bottom: 2px solid #03256C;
        }
    }

    @media (max-width: 991px) {
        margin-bottom: 24px;
    }

    @media (max-width: 590px) {
        margin-bottom: 16px;
    }

    @media (max-width: 360px) {
        a {
            margin-right: 15px;
        }
    }
}

// Breadcrum
.breadcrumb {
    background: #03256C;
    padding: 15.5px 0;

    li {
        display: inline-block;
        margin-right: 15px;
        padding-right: 15px;
        position: relative;

        &::before {
            content: "";
            background: #98A6D0;
            height: 16px;
            width: 1px;
            position: absolute;
            right: 0;
            top: 3px;
            transform: rotate(25deg);
        }

        a {
            font: 400 14px $font1;
            color: #98A6D0;
        }

        &.active {
            &::before {
                display: none
            }

            a {
                color: #FFFFFF
            }
        }
    }

    @media (max-width: 590px) {
        ul {
            display: block;
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            white-space: nowrap;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    }
}

//pagination
#pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 0 20px 0;

    a {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border: 1px solid #E5E5E5;
        display: inline-block;
        margin-left: 8px;
        border-radius: 3px;
        color: #26364E;

        &.active,
        &:hover {
            color: #03256C;
            border: 1px solid #03256C;

            svg {
                color: #03256C;
            }
        }
    }

    .pa_prev {
        svg {
            transform: rotate(180deg);
        }
    }

    .pagination_btn {
        line-height: 42px;

    }
}

@media only screen and (max-width: 2400px) and (min-width: 901px) {
    .lg-toolbar {
        opacity: 1;
        width: 60px;
        height: 100%;
        right: 0;
        left: auto;
        top: 0;
        background: #000;
    }

    .lg-sub-html_wrapper {
        width: 320px;
        height: 100%;
        right: 60px;
        left: auto;
        top: 0;
        background: #222222;
        padding: 95px 25px 95px 25px !important;
        text-align: left;

        h4,
        p {
            color: #d6d6d6;
            font: 400 px_to_rem(17px) 'Arial';
            line-height: 1.5;
        }
    }

    .lg-sub-html {
        position: relative;
        height: 100% !important;
        padding-right: 15px;
    }

    .lg-outer {
        .lg-inner {
            max-width: calc(100% - 380px);
            width: calc(100% - 380px);
        }

        .lg-thumb-outer {
            width: calc(100% - 380px);
            max-width: calc(100% - 380px);
            overflow: hidden;
        }

        .lg-thumb-item {
            border: none;
            margin-bottom: 0;

            &.active {
                border: 1px solid #fff;
            }
        }
    }

    .lg-actions {
        position: absolute;
        width: 60px;
        right: 0;
        top: 230px;
        z-index: 99999;

        >div {
            width: 36px;
            height: 36px;
            border-radius: 50% !important;
            overflow: hidden;
            border: 1px solid #dedede;
            position: relative !important;
            right: 0 !important;
            left: 0 !important;
            margin: 16px auto !important;

            &:before,
            &:after {
                left: 50%;
                top: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
            }
        }
    }

    .lg-outer .lg-thumb-outer.lg-grab .lg-thumb-item {
        position: relative;
        background: #222;

        &:not(.active) {
            &:before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(12, 10, 10, 0.7);
                z-index: 1;
            }
        }
    }

    .lg-sub-html_wrapper:empty {
        display: none;
    }

    #lg-counter-current {
        color: #fff;
    }

    .lg-sub-html_wrapper:empty~.lg-inner {
        width: calc(100% - 60px) !important;
        max-width: calc(100% - 60px) !important;
    }

    .lg-sub-html_wrapper:empty~.lg-thumb-outer {
        width: calc(100% - 60px) !important;
        max-width: calc(100% - 60px) !important;
    }

    .lg-fullscreen-on {
        .lg-thumb-outer {
            -webkit-transform: translate3d(0, 100%, 0) !important;
            transform: translate3d(0, 100%, 0) !important;
        }

        .lg-toggle-thumb {
            display: none !important;
        }
    }
}

@media (max-width: 900px) {
    #lg-counter {
        text-align: left;
        padding: 16px;
        position: absolute;
        width: 150px;
    }

    .lg-outer {
        .lg-thumb-outer {
            padding: 10px;
            height: 100px !important;
        }

        .lg-thumb {
            padding: 0
        }

        .lg-thumb-item {
            border: none;
            margin-bottom: 0;

            &.active {
                border: 1px solid #fff;
            }
        }
    }

    .lg-outer.lg-pull-caption-up.lg-thumb-open .lg-sub-html_wrapper {
        bottom: 110px !important;
    }
}

/* END CUSTOM GALLERY*/

/*POPUP*/
.popup_awards {
    max-width: 680px;
    background: none;
    overflow: hidden;
    font-family: $font;
    font-size: 16px;
    padding: 15px;

    .round_lighbox {
        background: #fff;
    }

    .line-bottom {
        position: relative;

        &::before {
            content: "";
            background: $color2;
            height: 1px;
            position: absolute;
            bottom: 18px;
            left: 30px;
            right: 20px;
        }
    }

    .title_line {
        padding: 30px 20px 10px 20px;
        margin-bottom: 0;
        background: #fff;

        &:after {
            display: none
        }

        &::before {
            content: "";
            background: $color2;
            top: initial;
            height: 1px;
            right: 0;
        }
    }

    p {
        margin-bottom: 15px;
    }

    .mfp-close {
        display: block;
        font-family: -webkit-body;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        font-size: 30px;
        width: 35px;
        height: 35px;
        line-height: 20px;
        top: 0px;
        background: #fff;
        opacity: 1;
    }

    .content_lightbox {
        padding: 20px 20px 30px 20px;

        ul {
            font-size: 0;
            margin-left: -25px;

            li {
                display: inline-block;
                width: 50%;
                vertical-align: top;
                margin-bottom: 20px;
                padding-left: 25px;

                h3 {
                    font-size: 16px;
                    color: #ffcd13;
                    background: #000;
                    display: block;
                    padding: 10px;
                    font-weight: 400;
                }

                .warp {
                    background: #fff;
                    padding: 5px 15px;
                    float: left;
                    width: 100%;
                    position: relative;

                    .ava {
                        width: 55px;
                        height: 90px;
                        position: relative;
                        float: left;

                        img {
                            max-height: 100%;
                            max-width: 100%;
                            width: auto;
                            height: auto;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                        }
                    }

                    h4 {
                        font-size: 14px;
                        font-family: arial;
                        font-weight: 400;
                        position: absolute;
                        left: 80px;
                        top: 50%;
                        transform: translate(0, -50%);
                        -webkit-transform: translate(0, -50%);
                        -moz-transform: translate(0, -50%);
                        -ms-transform: translate(0, -50%);
                    }
                }
            }
        }
    }
}

#lienhe-popup {
    form {
        .form-group {
            margin-bottom: 15px;

            label {
                font-weight: 400;
                margin-bottom: 5px;
                display: block;
            }

            input {
                background: #F7F7F7;
                border: 1px solid #DEDEDE;
                height: 37px;
                padding-left: 15px;
            }

            button {
                color: #252267;
                text-transform: uppercase;
                font: bold 14px $font1;
                border: 0;
                background: #FFE74C;
                line-height: 35px;
                padding: 0 20px;
                display: inline-block;
                position: relative;

                &::after {
                    content: "";
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='128' height='35' viewBox='0 0 128 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.48918 3.42426C0.230995 1.61696 1.63338 0 3.45903 0H118.664C121.152 0 123.261 1.82965 123.613 4.29289L127.674 32.7172C127.846 33.922 126.911 35 125.694 35H9.33648C6.84822 35 4.73862 33.1704 4.38673 30.7071L0.48918 3.42426Z' fill='%23FFE74C'/%3e%3c/svg%3e");
                    width: 12px;
                    height: 35px;
                    position: absolute;
                    left: -10px;
                }

                &::before {
                    content: "";
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='128' height='35' viewBox='0 0 128 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.48918 3.42426C0.230995 1.61696 1.63338 0 3.45903 0H118.664C121.152 0 123.261 1.82965 123.613 4.29289L127.674 32.7172C127.846 33.922 126.911 35 125.694 35H9.33648C6.84822 35 4.73862 33.1704 4.38673 30.7071L0.48918 3.42426Z' fill='%23FFE74C'/%3e%3c/svg%3e");
                    width: 12px;
                    height: 35px;
                    position: absolute;
                    right: -10px;
                    background-position: right;
                }
            }
        }

        .cap_cha {
            .g-recaptcha {
                &>div {
                    margin: 0 auto
                }
            }
        }
    }
}