.myvne_log {
    display: flex;
    align-items: center;

    .log_txt {
        display: inline-block;

    }

    .dash {
        color: #C4C4C4;
        display: inline-block;
    }

    &.myvne_logged {
        .log_txt {
            max-width: 130px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .avatar_user {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: bottom;
            margin: 0px 2px 0 0;
        }
    }
}

.top_bar {
    background: #fff;
    height: 50px;
    padding: 9px 0;

    .logo {
        width: 150px;
        float: left;
    }

    .date {
        font: 400 14px Arial;
        color: #757575;
        border-left: 1px solid #E5E5E5;
        margin-left: 20px;
        padding-left: 15px;
        float: left;
        margin-top: 6.5px;
    }

    .logo_mobile {
        display: none
    }


    .block-right {
        float: right;
        display: flex;

        .search {
            width: 265px;
            border-left: 1px solid #ccc;
            padding-left: 15px;

            form {
                position: relative;
            }

            .search-input {
                border: 1px solid #E5E5E5;
                border-radius: 16px;
                font-size: 14px;
                color: #757575;
                padding: 0 15px;
                margin: 0;
            }

            .search-btn {
                position: absolute;
                right: 0;
                top: 0;
                height: 30px;
                width: 28px;
                line-height: 35px;
                cursor: pointer;

                button {
                    background: none;
                    border: 0;
                }

                svg {
                    color: #BDBDBD;
                    width: 16px;
                    height: 16px;
                }
            }

        }
    }

    .form_log {
        float: right;
        margin: 7px 0 0 20px;

        .user {
            .name {
                color: #9F224E
            }
        }

        &>li {
            display: inline-block;
            padding-left: 10px;
            border-left: 1px solid #ccc;
            margin-right: 10px;

            .icon-user {
                color: #BDBDBD;
                margin-right: 4px;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    float: left;
                    margin: -12px 2px 0 0;
                }

                svg {
                    width: 16px;
                    height: 16px;
                    vertical-align: text-bottom;
                }
            }

            a {
                font-size: 14px;
                color: #4F4F4F;
                font-family: arial;
            }

            &:first-child {
                border-left: 0;
                padding-left: 0;
            }
        }
    }

    @media (max-width: 991px) {
        .block-right {
            .search {
                width: 190px;
            }
        }

    }

}

#myvne_taskbar {
    display: inline-block;
    margin-left: 15px;

    .myvne_form_log {
        margin-top: 2px;
    }

    .log_txt {
        height: 32px;
        line-height: 32px;
        color: #4f4f4f;

        .ic-user {
            fill: #bdbdbd;
            margin-right: 5px;
            margin-top: -2px;
        }
    }

    a {
        &:hover {
            color: #222;
        }
    }
}

// MyVne Mobile
#myvne_taskbar.myvne_taskbar_mobile {
    position: absolute;
    height: 44px;
    z-index: 201;
    right: 5px;
    top: -9px;
    display: none;
    z-index: 9991;

    .myvne_form_log {
        margin-top: 0;

        .av_no_img {
            margin-top: 14px;
        }
    }

    .icon-arrow {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 14px;
        height: 7px;
        right: 0;
        margin: auto;
        display: none;

        &:before {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #fff;
            content: "";
            bottom: 0;
            left: 2px;
            position: absolute;
            z-index: 2;
        }

        &:after {
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #eee;
            content: "";
            left: 0;
            bottom: 0;
            position: absolute;
        }
    }

    ul.myvne_form_log {
        li.myvne_user {
            float: right;
            height: 44px;
            margin: 0;
            line-height: 44px;
            position: relative;

            a.myvne_icon {
                display: block;
                height: 44px;
                line-height: 44px !important;
                text-align: center;
                padding: 0 10px;

                &.myvne_avatar {

                    img {
                        width: 18px;
                        height: 18px;
                        line-height: 44px;
                        display: inline-block;
                        vertical-align: middle;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                    }

                    .av_no_img {
                        font-size: 14px;
                        font-weight: 700;
                        color: #fff;
                        background: #BDBDBD;
                        width: 18px;
                        height: 18px;
                        display: inline-block;
                        text-align: center;
                        line-height: 18px;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                    }
                }
            }

            &.active {
                .ic-user {
                    background-position: -54px -193px;
                }

                .ic-bell {
                    background-position: -270px -192px;
                }

                .icon-arrow {
                    display: block;
                }
            }
        }
    }

    .badged {
        position: absolute;
        font-size: 9px !important;
        padding: 2px 3px 1px 3px;
        line-height: 1 !important;
        background-color: #004f8b;
        color: #fff;
        top: 20px;
        left: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
    }

    .input_form {
        color: #333;
    }

    .block_sub_myvne {
        text-align: left;
        width: 100vw;
        min-width: 320px;
        max-width: 590px;
        position: absolute;
        background: #fff;
        max-height: 100vh;
        top: 44px;
        right: -5px;
        line-height: initial;
        display: none;
        scroll-behavior: smooth;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: 9999;

        &.block_sub_log {
            padding: 15px;
        }

        -webkit-box-shadow: -2px 3px 5px 0px rgba(153, 153, 153, 0.7);
        -moz-box-shadow: -2px 3px 5px 0px rgba(153, 153, 153, 0.7);
        box-shadow: -2px 3px 5px 0px rgba(153, 153, 153, 0.7);
    }

    .close-lb {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        position: absolute;
        top: 5px;
        right: 4px;
        cursor: pointer;
    }

    .header_sub_myvne {
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;

        .m_page_title {
            margin-bottom: 10px;

            h2 {
                font-size: 20px !important;
                line-height: 25px !important;
                padding-right: 40px;
            }
        }

        .pre-text {
            padding: 0 0 15px;
            position: relative;
            font-size: 14px;
            line-height: 20px;
            color: #666;

            a {
                color: #004f8b;
                text-decoration: underline;

                &.edit_profile {
                    color: #999999;
                    text-decoration: none;
                    display: inline-block;
                    margin-left: 20px;
                    font-size: inherit !important;
                    line-height: inherit !important;
                }
            }
        }
    }

    .li_pass {
        position: relative;

        .input_form {
            padding-right: 70px;
        }
    }

    .showpass-btn {
        position: absolute;
        right: 12px;
        top: 25px;
        color: #004f8b;
        display: block;
        font-size: 14px;
        padding: 10px 0;
    }

    .check_form {
        input {
            float: left;
            margin-right: 5px;
        }

        label {
            float: left;

            a {
                text-decoration: underline;
                color: #666;
            }
        }

        color: #666;
        font-size: 14px;

        .forget_pass {
            font-size: 14px;
            color: #666;
        }
    }

    .btn_vne {
        width: 100%;
        text-align: center;
    }

    .or_text {
        position: relative;
        text-align: center;
        margin-bottom: 20px;

        &::before {
            content: "";
            height: 1px;
            width: 100%;
            background-color: #eee;
            position: absolute;
            top: 10px;
            left: 0;
        }

        h4 {
            font-size: 12px;
            text-transform: uppercase;
            padding: 0 23px;
            background-color: #fff;
            display: inline-block;
            margin: 0 auto;
            z-index: 1;
            position: relative;
        }
    }

    .social_login {
        a {
            display: block;
            position: relative;
            width: 47%;
            padding: 10px;
            font-size: 16px;

            &.face_login {
                border: 1px solid #3b589c;
            }

            &.google_login {
                border: 1px solid #da5542;
            }

            .ic {
                position: absolute;
                top: 10px;
                right: 10px;
            }

            .ic-facebook {
                width: 17px;
                height: 18px;
                background-position: -126px -192px;
            }

            .ic-google-plus {
                width: 18px;
                height: 18px;
                background-position: -144px -192px;
            }
        }
    }

    .copyright_myvne {
        text-align: center;
        color: #999;
        font-size: 14px;
        padding-top: 15px;
        border-top: 1px solid #e7e7e7;
        margin-top: 30px;
    }

    ul.list-items {
        font-size: 18px;
    }

    ul.list-items li {
        padding-left: 20px;
        width: 100%;
        float: left;
        line-height: 22px;
        position: relative;

        &::before {
            width: 6px;
            height: 6px;
            background: #ccc;
            content: "";
            position: absolute;
            top: 7px;
            left: 0;
        }
    }

    ul.list-items li:not(:last-child) {
        padding-bottom: 30px;
    }

    .download_pdf {
        display: inline-block;
    }

    .block_sub_loged {
        .header_sub_myvne {
            padding: 15px;
        }
    }

    .menu_profile {
        border-bottom: 1px solid #ccc;

        li {
            width: 50%;
            padding-right: 15px;
            float: left;

            &:nth-child(even) {
                padding-right: 0;
            }

            a {
                display: block;
                padding: 12px 0;
                font-size: 18px !important;
                line-height: inherit !important;
                border-bottom: 1px solid #e7e7e7;
            }

            &:last-child,
            &:nth-last-child(2) {
                a {
                    border: none;
                }
            }
        }

        &.other_link {
            border-bottom: none;

            li {
                a {
                    border: none;
                    color: #999999;
                    font-size: 16px !important;
                    line-height: inherit !important;
                }
            }
        }
    }

    .loged {
        .header_sub_myvne {
            margin-bottom: 0;
        }
    }

    .box_saved_news {
        background: #f7f7f7;
        float: left;
        margin: 0 -15px 0 -15px;
        padding: 0 15px;

    }

    .head_box {
        border-bottom: 1px solid #e7e7e7;
        font-size: 16px;
        padding: 10px 0;

        a {
            color: #999;
        }
    }

    .list_news_saved {
        li {
            width: 100%;
            float: left;

            a {
                display: block;
                padding: 10px 0;
                font-size: 18px;
                border-bottom: 1px solid #e7e7e7;

                span {
                    display: block;
                    color: #999;
                    font-size: 14px;
                    margin-top: 10px;
                }
            }

            &.read_pass {
                a {
                    color: #aaa;
                }
            }
        }
    }

    .logout_link {
        display: block;
        width: 100%;
        float: left;
        text-align: center;
        padding: 15px 0;
        font-size: 14px !important;
        line-height: inherit !important;
        color: #999;
    }

    ul.myvne_form_log li.notify_myvne {
        .block_sub_myvne {
            right: -45px;
        }

        .head_box {
            padding-top: 0;
            border: none;
        }
    }

    .view_more_myvne {
        display: block;
        text-align: center;
        font-size: 16px;
        color: #999;
        padding: 10px 0;
    }

    span.ic,
    i.ic,
    .content_goithutoasoan a::after,
    .ic-comment::before {
        width: 14px;
        height: 14px;
        background: url(images/icons/icon_vne.svg) no-repeat;
        display: inline-block;
        vertical-align: middle;
    }

    i.ic-user {
        background-position: -611px -193px;
        width: 18px;
        height: 18px;
    }

    i.ic-bell {
        width: 18px;
        height: 18px;
        background-position: -252px -192px;
    }

    i.ic-false {
        width: 18px;
        height: 18px;
        background-position: -72px -192px;
    }

    .myvne_user {
        float: right;
        height: 44px;
        margin: 0;
        line-height: 44px;
        position: relative;
    }

    .loged {
        .block_sub_myvne {
            max-height: 80vh;
        }
    }

    &.myvne_taskbar_v2 {

        .myvne_user_status {
            li {
                width: 100%;
                float: left;

                &.li_bd {
                    border-bottom: 1px solid #E5E5E5;
                    padding: 0 0 10px 0;
                    margin-bottom: 10px;
                }

                &.li_account {
                    display: flex;
                    align-items: center;
                    padding: 0 0 15px 0;
                }

                a {
                    font-size: 15px;
                    color: #4F4F4F;
                    padding: 10px 0;
                    position: relative;
                    width: 100%;
                    display: block;

                    .number_sub {
                        opacity: 0.4;
                    }
                }

                &:last-child {
                    a {}
                }
            }

            .avatar_sub {
                width: 48px;
                height: 48px;
                background: #E5E5E5;
                text-align: center;
                line-height: 48px;
                font-size: 20px;
                color: #fff;
                overflow: hidden;
                border-radius: 50%;
                font-weight: 700;
                text-transform: uppercase;

                img {
                    width: 48px;
                    height: 48px;
                }
            }

            .name_sub {
                width: calc(100% - 48px);
                padding-left: 10px;
                color: #4F4F4F;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }

    .myvne_thumb {
        float: left;
        margin-right: 10px;
    }


}

.hamburger {
    display: none;
    position: absolute;
    top: 5px;
    left: 8px;
    text-align: center;
    height: 20px;
    z-index: 5;
    width: 30px;
    cursor: pointer;
    transition-duration: 250ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);

    span {
        display: block;
        height: 2px;
        margin: 3px auto 0 auto;
        width: 18px;
        background: #4f4f4f;
    }
}

#box_menu_before {
    float: left;
    width: 100%;
    height: 1px;
}

.section_header {
    background: $color1;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.3s ease;
    padding-bottom: 10px;

    &.pin {
        background: #021A4C;
        padding-bottom: 5px;

        .lbl_logo {
            margin-top: 12px;

            img {
                width: 120px;
            }
        }

        .col_right {
            margin-top: 0px;

            .tr_top {
                position: absolute;
                opacity: 0;
                z-index: -1;
            }
        }
    }

    .lbl_logo {
        margin-top: 25px;

        img {
            width: 177px;
            transition: all 300ms ease;
        }
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: space-between;
    }

    .col_right {
        float: right;
        text-align: right;
        margin-top: 18px;

        .tr_top {
            color: #fff;
            margin-top: 4px;

            .back {
                color: $color2;
                display: inline-block;
                padding: 2px 0 2px 20px;
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='5' viewBox='0 0 12 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0L0 2.5L3 5V3H12V2H3V0Z' fill='%23FFCD13'/%3e%3c/svg%3e");
                background-repeat: no-repeat;
                background-position: 0px 10px;
            }

            .social {
                float: right;
                margin: -4px 0 0 24px;
                position: relative;
                padding-left: 10px;

                &::before {
                    content: "";
                    background: #276AA0;
                    width: 1px;
                    height: 20px;
                    position: absolute;
                    left: 0;
                    top: 5px
                }

                a {
                    display: inline-block;
                    margin-left: 10px;
                    text-align: center;
                    line-height: 32px;
                    width: 32px;
                    height: 32px;
                    color: #fff;
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.04986 3.20933C9.14741 0.817767 11.9108 -0.313838 14.3705 0.621002L27.6157 5.65494C30.1917 6.63399 31.7696 9.24197 31.4413 11.9782L29.3039 29.796C29.0749 31.705 27.1344 32.9089 25.3223 32.2661L3.1228 24.3914C0.907931 23.6058 -0.15562 21.0891 0.824598 18.9532L8.04986 3.20933Z' fill='%231D3F8E'/%3e%3c/svg%3e");
                    background-repeat: no-repeat;

                    svg {
                        width: 14px;
                        height: 14px;
                        fill: #fff;
                    }

                    &:hover {
                        color: $color2
                    }
                }
            }
        }

        .nav {
            margin-top: 20px;

            li {
                display: inline-block;
                margin-left: 20px;
                position: relative;

                &>a {
                    color: #fff;
                    font-family: $font1;
                    font-size: 16px;
                    position: relative;
                    font-weight: 600;
                    height: 32px;
                    line-height: 30px;
                    display: block;
                    padding: 0 10px;

                    span {
                        position: relative;
                        z-index: 1;
                    }

                    &.active {
                        background: #FFE74C;
                        color: #021641;

                        &::after {
                            content: "";
                            background: #FFE74C;
                            transform: skew(15deg);
                            border-radius: 4px;
                            position: absolute;
                            left: -10px;
                            top: 0;
                            right: -10px;
                            height: 32px;
                        }

                    }
                }

                .level2 {
                    position: absolute;
                    background: #021641;
                    padding: 8px 16px;
                    text-align: left;
                    min-width: 170px;
                    left: 10px;
                    display: none;

                    a {
                        display: block;
                        padding: 8px 0;
                        color: #FFFFFF;

                        &.active,
                        &:hover {
                            color: #FFE74C;
                        }
                    }
                }

                &:hover {
                    .level2 {
                        display: block !important;
                    }

                    &::before {
                        content: "";
                        background: #FFE74C;
                        position: absolute;
                        height: 3px;
                        right: 0;
                        bottom: 0px;
                        left: 10px;
                    }
                }
            }
        }
    }

    @media (max-width: 991px) {
        height: 100%;


        &.pin {
            padding-bottom: 0;

            .lbl_logo {
                position: absolute;
                opacity: 0;
                z-index: -1;
                margin-top: 0;
            }
        }

        &__folder {
            background: #021E56 !important;
        }

        .lbl_logo {
            margin-top: 10px;

            img {
                width: 93px;
            }
        }

        &.sticky {

            .hamburger {
                top: 4px;
            }

            .col_right {
                .nav {
                    transition-duration: 250ms;
                    transition-property: all;
                    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
                }
            }
        }

        .col_right {
            background: none;
            width: calc(100% + 30px);
            margin: 0 -15px;
            padding: 11px 0px 11px 0px;
            transition: all 300ms ease;
            top: -50px;
            text-align: left;
            margin-top: 0;

            .nav {
                margin-top: 0;
                padding: 0 15px;
                display: block;
                overflow-x: scroll;
                overflow-y: hidden;
                -webkit-overflow-scrolling: touch;
                white-space: nowrap;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;

                li {
                    margin-left: 15px;

                    a {
                        font-size: 14px
                    }
                }
            }

            .tr_top {
                position: absolute;
                right: 15px;
                top: 12px;

                .social {
                    display: none
                }
            }
        }


        &.sticky+.section_main_container {
            margin-top: 40px;
        }
    }


}

/**MANI MENU MOBILE**/

.main_menu {
    width: 320px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2247483647;
    will-change: transform;
    -moz-transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: translate(-100%);
    -ms-transform: translate(-100%);
    -o-transform: translate(-100%);
    transform: translate(-100%);

    .header_menu {
        height: 55px;
        border-bottom: 1px solid #dfdfdf;
        padding: 15px;
        position: relative;

        .myvne_log {
            font-size: 16px;

            .dash {
                color: #ccc;
                margin: 0 8px;
            }
        }
    }

    .section_footer {
        text-align: center;
        font-family: arial;
        line-height: 1.4;
        background: none;

        .logo {
            display: block;
            margin: 0 auto 10px;

            img {
                width: 150px;
            }
        }

        .copyright {
            margin-bottom: 10px;
        }

        .info {
            margin: 0 0 10px 0;
        }

        .social_new {
            text-align: center;
        }
    }

}

.show_main_menu .main_menu {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
}

.block_scoll_menu {
    scroll-behavior: smooth;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 9999;
    height: 100%;
    padding-bottom: 90px;
    background: #021E56;

    .list_menu {
        background: #fff;
    }
}

.list_item_panel {
    border-bottom: 1px solid #ccc;

    &:last-child {
        border: none;
    }

    li {
        width: 100%;
        float: left;
        margin: 0;
        padding: 0;

        a.link_item_panel {
            display: block;
            width: 100%;
            float: left;

            font-size: 14px;
            font-family: $font1;
            border-bottom: 1px solid #eaeaea;
            padding: 14.5px 15px;
            text-transform: uppercase;
        }

        &.menu_dk_st {
            a {
                font-weight: bold;

            }
        }
    }

    li.active {
        a.link_item_panel {
            font-weight: bold;
            color: $color1;
        }
    }
}

.copy_right_info {
    padding: 0 15px;
    position: relative;
}

.copyright_text {
    color: #fff;
    text-align: left;

    p {
        font-size: 13px;
    }

    .logo_menu {
        text-align: center;
        margin-bottom: 20px;
    }

    .social_ft {
        text-align: center;

        a {
            padding: 0 10px;
        }
    }
}

.button_on_menu {
    a {
        width: 100%;
        height: 50px;
        line-height: 48px;
        border-radius: 25px;
        float: left;
        display: block;
        text-align: center;
        font-size: 18px;
        color: #fff;
        padding: 0;
        background: #E4265C;
        margin-bottom: 30px;

        &.button_backvne {
            background: none;
            color: $color2;
            border: 1px solid $color2;
        }
    }
}

.mfp-bg {
    z-index: 9993;
}

.mask-content {
    position: relative;
}

.mask-content::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9992;
    background: rgba(0, 0, 0, 0.51);
    content: "";
    transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
    -moz-transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
    -webkit-transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
    -ms-transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
    opacity: 0;
    visibility: hidden;
}

.show_main_menu .mask-content::before,
.show_main_menu .close_main_menu {
    opacity: 1;
    visibility: visible;
}

body.show_main_menu,
body.hidden {
    overflow: hidden;
    position: relative;
}

.close_main_menu {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    font-family: -webkit-body;
    position: absolute;
    top: 7px;
    left: 4px;
}

@media (max-width: 991px) {

    .top_bar,
    .hamburger {
        display: block;
    }

    .top_bar {
        top: 0;
        height: 45px;
        z-index: 99;
        box-shadow: 0 1px 3px rgba(80, 80, 80, 0.2),
            0 3px 5px rgba(80, 80, 80, 0.15);

        .block-right {

            .search {
                display: none;
            }
        }

        .logo {
            margin-left: 35px;
        }

    }
}

@media (max-width: 590px) {
    #myvne_taskbar.myvne_taskbar_pc {
        display: none
    }

    #myvne_taskbar.myvne_taskbar_mobile {
        display: block
    }
}