html,
body {
  text-rendering: optimizeSpeed;
}

html {
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  text-rendering: geometricPrecision;
}

body {
  color: #333;
  font: 400 14px $font;
  text-align: left;

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #FFCD13;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
}

/*body::-webkit-scrollbar { 
    display: none;
}*/
a:focus {
  outline: 1 !important;
}

a {
  color: #222;
  text-decoration: none;
  outline: 1;

  &:hover {
    color: #03256C;
  }
}

img {
  border: 0;
  font-size: 0;
  line-height: 0;
  max-width: 100%;
  /*image-rendering: pixelated;*/
}

ul,
li {
  list-style-type: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea,
select {
  background: #fff;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin: 3px 0;
  padding: 0 5px;
  outline: none;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden-mobile {
  display: none
}

@media (max-width:590px) {
  .hidden-pc {
    display: none
  }

  .hidden-mobile {
    display: block
  }
}

.relative {
  position: relative;
}

.width_common {
  width: 100%;
  float: left;
}

.container {
  width: 100%;
  max-width: 1130px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
  clear: both;
}

html {
  -webkit-text-size-adjust: none;
}

#to_top {
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid #E5E5E5;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.gray {
  background: #F8F8F6;
}

.error {
  color: #D30606;
  font-size: 14px;
  display: block;
  font-family: $font;
}

.icon-svg {
  width: 14px;
  height: 14px;
  fill: currentColor;
}

.center {
  text-align: center;
}

.text_right {
  text-align: right
}

.text_left {
  text-align: left
}

.no_wrap {
  white-space: nowrap;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px;
}

.mb60 {
  margin-bottom: 60px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.txt_666 {
  color: #666;
}

.txt_10 {
  font-size: 10px;
}

.txt_11 {
  font-size: 11px;
}

.txt_14 {
  font-size: 14px;
}

.txt_16 {
  font-size: 16px;
}

.txt_vne {
  color: #9f224e;
}

.mb10 {
  margin-bottom: 10px !important;
}

.box_category {
  margin-bottom: 30px;
}

.transition_ease {
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.flex {
  display: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.art_item {
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 20px;

  .title-news {
    font: bold 18px $font1;
    line-height: 1.3;
  }

  .content {
    overflow: hidden;
  }

  .description {
    font: 400 14px $font;
    line-height: 1.4;
    margin-top: 10px;
    color: #4F4F4F;

    a {
      color: #4F4F4F;
    }
  }
}

.art_featured {
  width: 100%;
  float: left;
}

.thumb_art {
  position: relative;
  float: left;
  width: 250px;
  margin-right: 20px;
}

.thumb_art.thumb_full {
  width: 100%;
  margin: 0 0 10px 0;
  float: none;
  position: relative;
}

.thumb_art.thumb_medium {
  width: 240px;
  margin: 0 15px 0 0;
}

.thumb_art.thumb_small {
  width: 130px;
  margin: 0 10px 0 0;

  &+.content {
    .title-news {
      font: 500 15px/23px $font1;
    }
  }
}

.thumb_img {
  display: block;
  overflow: hidden;
  height: 1px;
  position: relative;
  width: 100%;
  background: #f4f4f4;

  img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.thumb_img.thumb_5x3 {
  padding-bottom: 60%;
}

.thumb_img.thumb_1x1 {
  padding-bottom: 100%;
}

.thumb_img.thumb_1x15 {
  padding-bottom: 150%;
}

.thumb_img.thumb_16x9 {
  padding-bottom: 56.2%;
}

.thumb_img.thumb_video {
  padding-bottom: 56.25%;
}

.embed-container {
  padding-bottom: 56.2%;
  position: relative;
  display: block;
  height: 0px;


  iframe,
  img.lazyLoaded {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.title-news a:hover {
  color: #03256C;
}

.news_lead_res {
  font: 400 14px/18px arial;
  padding: 0;
}

.meta_post {
  font-size: 12px;
  color: #999;
}

.icon_thumb_videophoto {
  width: 28px;
  display: block;
  height: 28px;
  line-height: 28px;
  text-align: center;
  position: absolute;
  background: rgba(255, 255, 255, .8);
  left: 0;
  bottom: 0;
}

.location-stamp {
  color: #999;
  letter-spacing: -0.5px;
  font-size: 14px;
  margin-right: 12px;
  position: relative;
}

.location-stamp::before {
  content: "";
  position: absolute;
  bottom: 3px;
  width: 5px;
  height: 1px;
  background: #333;
  right: -10px;
}