@import "var.scss";
@import "reset.scss";
@import 'icon-vne.scss';
@import "font.scss";
//Plugin
@import "scrollbar.scss";
@import "form-lightbox.scss";
@import "swiper.scss";
@import "taskbar-myvne.scss";
//Layout
@import "common.scss";
@import "element.scss";
@import "header.scss";
@import "footer.scss";

//==Giai đoạn 1==
@import "state1.scss";

//==================================Giai đoạn 1==================================


// fix POPUP login VNE
.mfp-myvne .mfp-iframe-scaler {
    min-height: 445px;
}

.mfp-myvne.mfp-wrap {
    z-index: 100001;
}

.banner-top-home {
    overflow: hidden;
}

@media (max-width: 576px) {
    .mfp-myvne .mfp-iframe-scaler {
        min-height: 100vh;
    }

    .mfp-myvne button.mfp-close {
        font-size: 35px;
        font-family: -webkit-body;
        color: #BDBDBD;
        top: 0px !important;
        right: 0px;
        background: none !important;
    }
}


.mfp-myvne .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 768px;
}

/**RESPONSIVE**/
@import "responsive.scss";