@font-face {
    font-family: 'StagSans';
    src: url('fonts/StagSans-Bold.eot');
    src: url('fonts/StagSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/StagSans-Bold.woff2') format('woff2'),
        url('fonts/StagSans-Bold.woff') format('woff'),
        url('fonts/StagSans-Bold.ttf') format('truetype'),
        url('fonts/StagSans-Bold.svg#StagSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.top-bar {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    z-index: 22;
    width: 100%;

    .container {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        position: absolute;
        left: 50%;
        top: 15px;
        width: 190px;
        margin-left: -95px;

        .m-logo {
            display: none
        }
    }

    .social {
        display: flex;

        a {
            margin-left: 12px;

            .mobile {
                display: none
            }
        }
    }

    .main-nav {
        border: 1px solid rgba(65, 255, 255, .4);
        background: rgba(0, 0, 0, .8);
        padding: 2px 12px 12px 12px;
        margin: 0;
        position: absolute;
        top: 60px;
        display: none;

        a {
            font-size: 16px;
            display: block;
            padding: 12px 0;
            color: #fff;
            border-bottom: 1px solid #4F4F4F;

            &:hover,
            &.active {
                color: #41FFFF;
            }
        }

    }

    @media (max-width: 991px) {
        .container {
            height: 50px;
        }

        .main-nav {
            top: 50px
        }

        .logo {
            width: 135px;
            margin-left: -65px;
            top: -3px;
            margin-bottom: 0;

            .p-logo {
                display: none
            }

            .m-logo {
                display: block;

                img {
                    width: 145px;
                }
            }
        }

        .social {
            flex-wrap: wrap;

            a {
                display: block;

            }
        }
    }

    @media (max-width: 430px) {
        background: #000;

        .social {
            text-align: right;
            margin-top: -3px;

            a {
                width: 100%;

                img {
                    width: 68px;
                    margin-left: auto;
                }
            }
        }
    }
}

.all-menu {
    height: 42px;
    cursor: pointer;

    .hamburger {
        width: 20px;
        height: 2px;
        background: #fff;
        display: inline-block;
        position: relative;

        &:before,
        &:after {
            content: '';
            width: 20px;
            height: 2px;
            background: #fff;
            position: absolute;
            left: 0;
        }

        &:before {
            top: 6px;
        }

        &:after {
            top: 12px;
        }
    }

    &.close-menu-tablet {
        padding-top: 5px;

        .hamburger {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);

            &:before {
                display: none;
            }

            &:after {
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                top: 0;
            }
        }
    }

}

// SECION1
.section_1 {
    background: url(images/graphics/bg1.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #CCCCCC;
    font-size: 18px;
    line-height: 160%;
    overflow: hidden;
    padding-bottom: 150px;

    .title {
        font-weight: bold;
        font-size: 32px;
        line-height: 130%;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 24px;
    }

    .min-container {
        max-width: 550px;
        margin: 0 auto;
        text-align: center;
    }

    .container {
        margin-top: 90vh;
    }

    .slide_gird {
        display: none
    }

    .gird {
        margin: 40px -15px 0 -15px;

        .item {
            margin-bottom: 40px;
            padding: 0 15px;
        }

        &_3 {
            .item {
                width: 33.33%;
            }
        }

        &_4 {
            .item {
                width: 25%;
            }
        }
    }

    @media (min-width: 1930px) {
        padding-bottom: 240px;

        .container {
            margin-top: 100vh;
        }
    }

    @media (max-width: 1280px) {

        .container {
            margin-top: 750px;
        }
    }

    @media (max-width: 1199px) {
        .title {
            font-size: 30px;
        }
    }

    @media (max-width: 1025px) {
        font-size: 16px;

        .container {
            margin-top: 600px;
        }

        .title {
            font-size: 25px
        }
    }

    @media (max-width: 991px) {
        .container {
            margin-top: 500px;
        }
    }

    @media (max-width: 576px) {
        background: url(images/graphics/m_bg1.jpg);
        background-position: top -30px center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 40px;

        .container {
            margin-top: 540px;
        }

        .gird {
            padding: 0 10px;

            &_3 {
                display: none
            }

            &_4 {
                .item {
                    width: 50%;
                    padding: 0 5px;
                    margin-bottom: 10px;
                }
            }

            img {
                width: 100%;
            }
        }

        .slide_gird {
            position: relative;
            display: block;
            max-width: 340px;
            margin: 0 auto 20px;
            padding-top: 30px;

            .swiper-pagination {
                width: 100%;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                .swiper-pagination-bullet {
                    width: 8px;
                    height: 8px;
                    margin: 0 5px;
                    background: #fff;

                    &-active {
                        background: #ccc;
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }

    @media (max-width: 480px) {
        .container {
            margin-top: 450px;
        }

        .title {
            font-size: 20px;
            margin-bottom: 15px;
        }
    }

    @media (max-width: 430px) {
        .container {
            margin-top: 350px;
        }
    }

    @media (max-width: 375px) {
        .container {
            margin-top: 300px;
        }
    }
}

// SECION2
.section_2 {
    background: #000 url(images/graphics/bg2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1500px;
    position: relative;
    padding: 200px 0 200px 0;

    &::before {
        content: "";
        background: url(images/graphics/nuoc-lua.png) no-repeat center;
        background-size: cover;
        width: 100%;
        position: absolute;
        right: 0;
        height: 300px;
        top: -170px;

        @media (min-width: 1930px) {
            height: 380px;
            top: -220px;
        }

        @media (max-width: 991px) {
            background-size: contain;
            height: 180px;
            top: -100px;
        }

        @media (max-width: 576px) {
            height: 100px;
            top: -50px;
        }
    }


    article {
        position: relative;
        z-index: 2;

        .thumb_16x9 {
            padding-bottom: 60%;
        }
    }

    .title {
        color: #fff;
        font-weight: bold;
        font-size: 30px;
        line-height: 140%;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    p {
        color: #CCCCCC;
        font-size: 16px;
        line-height: 160%;
    }

    .item-product {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        position: relative;

        .btn-default {
            position: absolute;
            padding: 0 10px;
            bottom: -22px;
            width: 220px;
            left: 460px;
            z-index: 3;
        }

        .ava {
            position: absolute;
            width: 1000px;
            left: -230px;
            top: -80px;

            .m_mobile {
                display: none;
            }
        }

        .info {
            width: 470px;
            margin-top: 50px;

            ul {
                li {
                    position: relative;
                    padding-left: 120px;
                    margin-bottom: 70px;

                    .ic {
                        position: absolute;
                        left: 0;
                        width: 100px;
                        top: -10px;
                    }

                    h3 {
                        font-size: 19px;
                        color: #fff;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    p {
                        margin-bottom: 0;
                        font-size: 18px;
                        color: #fff;
                    }
                }
            }
        }
    }

    @media (max-width: 1199px) {
        .title {
            font-size: 22px;
        }

        .item-product {
            .btn-default {
                bottom: -60px;
                left: 360px;
            }

            .ava {
                width: 860px;
            }

            .info {
                width: 400px;
                margin-top: 40px;

                ul {
                    li {
                        padding-left: 80px;
                        margin-bottom: 40px;

                        .ic {
                            width: 70px;
                            top: -10px;
                        }

                        h3 {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 991px) {
        background: #000000;
        padding-top: 100px;

        .item-product {
            .btn-default {
                bottom: -160px;
                left: 50%;
                margin: 0 0 0 -110px;
            }

            .ava {
                width: 450px;
                left: 0;
                top: 0;

                img {
                    display: none;
                    width: 100%;
                }

                .m_mobile {
                    display: block;
                }

            }

            .info {
                width: 390px;
                margin-top: 90px;

                ul {
                    li {
                        padding-left: 60px;
                        margin-bottom: 50px;

                        .ic {
                            width: 50px;
                            top: -10px;
                        }

                        p {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 576px) {
        padding-top: 50px;
        padding-bottom: 70px;
        overflow: visible;

        // &::before {
        //     content: "";
        //     background: url(images/graphics/lua.png);
        //     background-size: cover;
        //     width: 55%;
        //     position: absolute;
        //     right: 0;
        //     height: 70px;
        //     top: -40px;
        // }

        // &::after {
        //     content: "";
        //     background: url(images/graphics/nuoc.png) no-repeat;
        //     background-size: contain;
        //     width: 55%;
        //     position: absolute;
        //     left: 0;
        //     height: 120px;
        //     top: -40px;
        // }

        .title {
            text-align: center;
            font-size: 18px;
            margin-bottom: -20px;
        }

        p {
            display: none
        }

        .item-product {
            .btn-default {
                width: 180px;
                padding: 0;
                bottom: -50px;
                margin: 0 0 0 -90px;
            }

            .ava {
                width: 230px;
                left: -15px;
            }

            .info {
                width: 250px;
                margin-top: 20px;

                ul {
                    li {
                        padding-left: 60px;
                        margin-bottom: 40px;

                        .ic {
                            width: 50px;
                            top: -6px;
                        }

                        h3 {
                            font-size: 13px;
                            color: #fff;
                            line-height: 1.4;
                        }

                    }
                }
            }
        }
    }

    @media (max-width: 414px) {
        .item-product {
            .info {
                width: 200px;
            }
        }
    }
}

// SECION3
.section_3 {
    background: #000 url(images/graphics/bg3.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 50px 0 300px 0;
    overflow: hidden;

    article {
        position: relative;
        z-index: 2;

        .thumb_16x9 {
            padding-bottom: 60%;
        }
    }

    .title {
        color: #fff;
        font-weight: bold;
        font-size: 30px;
        line-height: 140%;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    p {
        color: #CCCCCC;
        font-size: 16px;
        line-height: 160%;
    }

    .item-product {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        position: relative;

        .btn-default {
            position: absolute;
            padding: 0 20px;
            bottom: -80px;
            width: 240px;
            right: 455px;
            z-index: 3;
        }

        .ava {
            position: absolute;
            width: 800px;
            right: 0;
            top: -50px;

            .m_mobile {
                display: none
            }
        }

        .info {
            width: 420px;
            margin-top: 50px;

            ul {
                li {
                    position: relative;
                    padding-left: 120px;
                    margin-bottom: 70px;

                    .ic {
                        position: absolute;
                        left: 0;
                        width: 100px;
                        top: -10px;
                    }

                    h3 {
                        font-size: 18px;
                        color: #fff;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    p {
                        font-size: 18px;
                        color: #fff;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    @media (max-width: 1199px) {
        padding-bottom: 100px;

        .title {
            font-size: 22px;
        }

        .item-product {
            .btn-default {
                bottom: -30px;
                right: 350px;
            }

            .ava {
                width: 620px;
            }

            .info {
                width: 400px;
                margin-top: 40px;

                ul {
                    li {
                        padding-left: 80px;
                        margin-bottom: 40px;

                        .ic {
                            width: 70px;
                            top: -10px;
                        }

                        h3 {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1025px) {
        padding-bottom: 250px;
    }

    @media (max-width: 991px) {
        padding-top: 30px;
        padding-bottom: 150px;

        .ava-thumb {
            order: 2;
        }

        .content {
            order: 1;
        }

        .item-product {
            .btn-default {
                bottom: 0px;
                right: 50%;
                margin: 0 -120px 0 0;
            }

            .ava {
                width: 100%;
                left: 0;
                position: static;
                margin: -30px 0;

                img {
                    display: none;
                    max-width: 100%;
                    width: 500px;
                    margin: 0 auto;
                }

                .m_mobile {
                    display: block;
                }

            }

            .info {
                width: 100%;
                margin-top: 20px;

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 0;

                    li {
                        width: 50%;
                        padding-left: 60px;
                        margin-bottom: 30px;

                        .ic {
                            width: 50px;
                            top: 0px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 576px) {
        padding-bottom: 60px;

        .title {
            text-align: center;
            font-size: 18px;
            margin-bottom: -20px;
        }

        p {
            display: none
        }

        .item-product {
            .btn-default {
                width: 180px;
                margin: 0 -90px 0 0;
                padding: 0;
            }


            .info {
                ul {
                    li {
                        margin-bottom: 10px;

                        .ic {
                            width: 48px;
                            top: 0px;
                        }

                        h3 {
                            font-size: 14px;
                            color: #fff;
                            line-height: 1.4;
                            text-transform: inherit;
                            font-weight: 400;
                            padding-right: 10px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

// SECION4
.section_4 {
    background: url(images/graphics/bg4.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 140px 0 90px 0;
    text-align: center;
    font-size: 18px;

    &::before {
        content: "";
        background: url(images/graphics/nuoc-lua.png) no-repeat center;
        background-size: cover;
        width: 100%;
        position: absolute;
        right: 0;
        height: 300px;
        top: -170px;

        @media (min-width: 1930px) {
            height: 380px;
            top: -220px;
        }

        @media (max-width: 991px) {
            background-size: contain;
            height: 180px;
            top: -100px;
        }

        @media (max-width: 576px) {
            height: 100px;
            top: -50px;
        }
    }


    @media (min-width: 1921px) {
        background-size: 2400px;
    }

    .video {
        max-width: 710px;
        margin: 0 auto;
        color: #CCCCCC;

        .fadeInUpSlow {
            max-width: 400px;
            margin: 0 auto;
        }
    }

    h2 {
        color: #fff;
        font-weight: bold;
        font-size: 32px;
        text-transform: uppercase;
        margin-bottom: 24px;
    }

    p {
        margin-bottom: 30px;
    }

    .embed-container {
        position: relative;
        margin-top: 50px;

        &::before {
            content: "";
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='792' height='525' viewBox='0 0 792 525' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 431C1 472.396 1 524.5 1 524.5H95.5' stroke='%2341FFFF'/%3e%3cpath d='M1.5 94.5C1.5 53.1044 1.5 1 1.5 1H96' stroke='%2341FFFF'/%3e%3cpath d='M790.5 94.5C790.5 53.1044 790.5 1 790.5 1H696' stroke='%2341FFFF'/%3e%3cpath d='M791.5 431C791.5 472.396 791.5 524.5 791.5 524.5H697' stroke='%2341FFFF'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: -30px;
            right: -30px;
            bottom: -30px;
            left: -30px;
        }

        .thumb_16x9 {
            padding-bottom: 63.4%;
        }

        .circle {
            position: absolute;
            background: #41FFFF;
            width: 84px;
            height: 84px;
            left: 50%;
            top: 50%;
            margin-top: -42px;
            margin-left: -42px;

            a {
                color: #333333;
                font-size: 15px;
                font-weight: bold;
                position: absolute;
                top: 22px;
                left: 0;
                text-transform: uppercase;
                right: 0;
            }
        }

        .ic-live {
            height: 84px;
            width: 84px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -42px;
            margin-left: -42px;

            &::before {
                height: 80px;
                width: 80px;
                margin: 0 auto;
            }

            span {
                color: #333333;
                font-size: 15px;
                font-weight: bold;
                position: absolute;
                top: 25px;
                left: 0;
                right: 0;
            }
        }
    }

    @media (max-width: 1991px) {
        h2 {
            font-size: 22px;
        }
    }

    @media (max-width: 991px) {
        font-size: 16px;
        padding: 100px 0 70px 0;

        .video {
            padding: 0 20px;
        }

        h2 {
            font-size: 20px;
            color: #fff;
        }

        .embed-container {
            margin-top: 50px;

            &::before {
                background-size: contain;
            }
        }
    }

    @media (max-width: 767px) {
        .embed-container {
            &::before {
                background: url(images/graphics/line-video.png) center;
                background-size: cover;
                top: -20px;
                right: -20px;
                bottom: -20px;
                left: -20px;
            }

            .thumb_16x9 {
                padding-bottom: 62.4%;
            }
        }
    }

    @media (max-width: 576px) {
        padding-top: 50px;
        background: url(images/graphics/m_bg4.jpg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: visible;

        // &::after {
        //     content: "";
        //     background: url(images/graphics/nuoc.png) no-repeat;
        //     background-size: contain;
        //     width: 55%;
        //     position: absolute;
        //     left: 0;
        //     height: 120px;
        //     top: -40px;
        // }

        // &::before {
        //     content: "";
        //     background: url(images/graphics/lua.png);
        //     background-size: cover;
        //     width: 55%;
        //     position: absolute;
        //     right: 0;
        //     height: 70px;
        //     top: -40px;
        // }

        .embed-container {
            &::before {
                display: none
            }

            .thumb_16x9 {
                padding-bottom: 0;
                height: 184px;
                width: 300px;
                margin: 0 auto;
                overflow: visible;

                &::before {
                    content: "";
                    background: url(images/graphics/line-video.png) center;
                    background-size: cover;
                    top: -20px;
                    right: -20px;
                    bottom: -20px;
                    left: -20px;
                    position: absolute;
                }
            }
        }
    }
}

// SECION5
.section_5 {
    background: url(images/graphics/bg-s1.jpg) center;
    background-size: cover;
    position: relative;
    padding: 90px 0 20px;

    .bg-coming {
        width: 998px;
        height: 524px;
        margin: 0 auto;
        padding: 80px 0;
        background: url(images/graphics/bg-coming.png) center;
        background-size: contain;
        position: relative;
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;

        h2 {
            font-size: 32px;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-weight: bold;
        }

        .btn-default {
            position: absolute;
            bottom: -18px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .chat-viet {
        text-align: center;
        margin-top: 100px;

        img {
            max-width: 200px;
        }
    }

    .img-coming {
        margin-bottom: 40px;
    }

    @media (max-width: 1199px) {
        padding: 50px 0 20px 0;

        &::before {
            display: none
        }

        .img-coming {
            margin-bottom: 20px;
        }

        .bg-coming {
            max-width: 500px;
            height: 260px;
            padding: 30px 20px;
            font-size: 14px;
            margin-bottom: 40px;
            background-size: cover;

            h2 {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }

        .chat-viet {
            margin-top: 50px;

            img {
                width: 180px;
            }
        }
    }


    @media (max-width: 500px) {
        padding-top: 35px;
        background: url(images/graphics/bg-s1.jpg) left 20% top;
        background-size: cover;

        .img-coming {
            margin-bottom: 15px;
        }

        .bg-coming {
            max-width: 333px;
            height: 231px;
            padding: 20px 10px;
            font-size: 14px;
            margin-bottom: 40px;
            background: url(images/graphics/bg-coming2.png) center;
            background-size: cover;

            h2 {
                font-size: 16px;
                max-width: 200px;
                margin: 0 auto 14px;
            }

            .btn-default {
                bottom: -7px
            }
        }

        p {
            display: none
        }

        .chat-viet {
            img {
                width: 150px;
            }
        }
    }
}

.box-countdown {
    margin-bottom: 20px;

    .flex {
        justify-content: center;
    }

    .item_countdown {
        padding: 0 45px;
        margin-bottom: 24px;
        position: relative;
        color: #41FFFF;

        &::before {
            content: ":";
            font-size: 80px;
            font-weight: bold;
            font-family: 'StagSans';
            position: absolute;
            right: -10px;
            top: -7px;
        }

        .item_txt {
            span {
                font-size: 110px;
                font-weight: bold;
                line-height: 1;
                display: block;
                font-family: 'StagSans';
            }

            .text {
                font-size: 20px;
                text-transform: uppercase;
            }
        }

        &.giay {
            &::before {
                display: none;
            }
        }
    }

    @media (max-width: 1199px) {
        margin-bottom: 0;

        .item_countdown {
            padding: 0 20px;
            margin-bottom: 10px;

            &::before {
                font-size: 30px;
                font-weight: 900;
                right: -10px;
                top: -7px;
            }

            .item_txt {
                span {
                    font-size: 40px;
                }

                .text {
                    font-size: 10px;
                }
            }
        }
    }

    @media (max-width: 500px) {
        margin-bottom: 0;

        .item_countdown {
            padding: 0 12px;
            margin-bottom: 5px;

            &::before {
                font-size: 25px;
                font-weight: 900;
                right: -5px;
                top: 2px;
            }

            .item_txt {
                span {
                    font-size: 45px;
                }

                .text {
                    font-size: 10px;
                }
            }
        }
    }
}



// end Preloader

// FOOTER
.info-footer {
    font-size: 12px;
    color: #fff;
    border-top: 1px solid #41FFFF;
    border-bottom: 1px solid #41FFFF;
    padding: 10px 70px;
    margin-bottom: 10px;

    a {
        color: #fff;
    }

    .hotline {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .flex {
        justify-content: space-between;
    }

    .social {
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        a {
            display: inline-block;
            border: 1px solid #CCCCCC;
            width: 30px;
            height: 30px;
            line-height: 29px;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            margin-left: 10px;
            transition: 0.3s ease;
        }

        .fa-facebook:hover {
            border: 1px solid #4267B2;
            color: #4267B2;
        }

        .fa-youtube-play:hover {
            border: 1px solid #FF0000;
            color: #FF0000;
        }
    }

    @media (max-width: 767px) {
        text-align: center;

        .hotline {
            width: 100%;
            font-size: 22px;
        }

        .social {
            justify-content: center;

            div {
                width: 100%;
                margin-bottom: 10px;
            }

            a {
                margin: 0 5px;
            }
        }
    }
}

.copyright {
    color: #fff;
    text-align: center;
    font-size: 13px;

    @media (max-width: 767px) {
        text-align: center
    }
}


.footer {
    background: #171717;
    color: #CCCCCC;
    font-size: 18px;
    padding: 30px 0;

    a {
        color: #CCCCCC;
    }

    .flex {
        align-items: center;

        &>div {
            margin-right: 28px;
        }
    }

    .phone {
        color: #fff;
        font-size: 20px
    }

    .social {
        margin-right: 0;

        a {
            display: inline-block;
            border: 1px solid #CCCCCC;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            margin-left: 10px;
            transition: 0.3s ease;
        }

        .fa-facebook:hover {
            border: 1px solid #4267B2;
            color: #4267B2;
        }

        .fa-youtube-play:hover {
            border: 1px solid #FF0000;
            color: #FF0000;
        }
    }

    .copyright {
        font-size: 14px;
        text-align: right;
        margin-right: 0 !important;
    }

    @media (max-width: 991px) {
        font-size: 16px;
        border-top: none;
        color: #CCCCCC;
        padding: 15px 0;

        .col-left {
            position: absolute;
            top: -150px;
            left: 0;
            right: 0;
        }

        .phone {
            font-size: 22px;
            font-weight: bold;
        }

        .space-between {
            &>div {
                margin-right: 0;
                width: 100%;
                text-align: center;
            }

            .flex {
                justify-content: center;

                &>div {
                    margin: 0 0 0 0;
                    width: 100%;
                }
            }

            .social {
                width: 100%;
                margin: 10px 0 10px 0 !important;

                a {
                    margin: 0 5px;
                }
            }
        }
    }
}



// Preloader
.pre-loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 1);

    &.loaded {
        display: none;
    }
}

.loader {
    height: 250px;
    width: 250px;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    /* Looks cuter when its smaller */
    transform: scale(0.68);
    z-index: 9;


}

.hex {
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 85px;
    height: 90px;
    background: #9b0b00;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transform: rotate(90deg);
    animation: rotateHex 1s infinite;
    border-radius: 6%;
    opacity: 0.8;
}

.para1 {
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 80px;
    height: 40px;
    top: -9rem;
    left: -1.5rem;
    transform: rotate(63.5deg);
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    background: #9b0b00;
    border-radius: 10%;
    animation: rotatePara1 2s infinite;
    opacity: 0.9;
}

.para2 {
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 80px;
    height: 40px;
    top: 5.9rem;
    left: -6.7rem;
    transform: rotate(-56deg);
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    background: #9b0b00;
    animation: rotatePara2 2s infinite;
    border-radius: 10%;
    opacity: 0.9;
}

.para3 {
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 80px;
    height: 40px;
    top: 5.9rem;
    left: -6.7rem;
    transform: rotate(-56deg);
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    background: #9b0b00;
    animation: rotatePara3 2s infinite;
    border-radius: 10%;
    opacity: 0.9;
}

@keyframes rotatePara1 {
    0% {
        top: -9rem;
        left: -1.5rem;
        transform: rotate(63.5deg);
    }

    50% {
        top: -5.9rem;
        left: 6.9rem;
        transform: rotate(-55deg);
    }

    100% {
        top: 2.86rem;
        left: 8.45rem;
        transform: rotate(-180deg);
    }
}

@keyframes rotatePara2 {
    0% {
        top: 2.86rem;
        left: 8.45rem;
        transform: rotate(180deg);
    }

    50% {
        top: 9rem;
        left: 1.7rem;
        transform: rotate(63.5deg);
    }

    100% {
        top: 5.9rem;
        left: -6.7rem;
        transform: rotate(-56deg);
    }
}

@keyframes rotatePara3 {
    0% {
        top: 5.9rem;
        left: -6.7rem;
        transform: rotate(-56deg);
    }

    50% {
        top: -2.9rem;
        left: -8.3rem;
        transform: rotate(-180deg);
    }

    100% {
        top: -9rem;
        left: -1.5rem;
        transform: rotate(-296deg);
    }
}

@keyframes rotateHex {
    0% {
        transform: rotate(90deg) scale(1);
    }

    50% {
        transform: rotate(270deg) scale(0.9);
    }

    100% {
        transform: rotate(270deg) scale(1);
    }
}

.hide-mobile {
    display: block
}

.hide-pc {
    display: none
}

@media (max-width: 576px) {
    .hide-mobile {
        display: none !important
    }

    .hide-pc {
        display: block
    }
}