.box_300 {
    width: 300px;

    .sticky {
        top: 70px
    }

    .box_category {
        float: left;
        width: 100%;
    }

    .title-box-category {
        font: bold 18px/1.4 var(--font2);
        margin-bottom: 25px;
        position: relative;
        background: url(images/icons/star1.svg) no-repeat 0;
        background-size: 15px;
        padding-left: 25px;
    }

}

.box-xemnhieunhat {
    .item-news {
        border-bottom: 1px solid var(--border);
        padding-bottom: 12px;
        margin-bottom: 12px;

        .thumb-art {
            width: 137px;
            margin-right: 12px;

            .icon_thumb {
                width: 20px;
                height: 20px;
                line-height: 17px;

                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .title-news {
            font-size: 16px;
        }

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0
        }
    }

}