.box_300 {
    width: 300px;

    .sticky {
        top: 70px;
        position: -webkit-sticky !important;
        position: sticky !important;
    }

    .box_category {
        float: left;
        width: 100%;
    }

    .title-box-category {
        font: bold 18px/1.4 var(--font2);
        margin-bottom: 25px;
        position: relative;
        background: url(images/icons/star1.svg) no-repeat 0;
        background-size: 15px;
        padding-left: 25px;
    }

    @media (max-width:979px) {
        display: none
    }

}

.box_guibai {
    position: relative;
    border: 1px solid var(--border);
    background: var(--bg-agray2);
    padding: 7px 105px 7px 20px;
    font-size: 14px;

    &::before {
        content: "";
        background: url(images/icons/icon-send.svg) no-repeat;
        position: absolute;
        right: 0;
        top: -25px;
        width: 100px;
        height: 80px;
    }

    a {
        color: var(--ione-color)
    }
}

.box-xemnhieunhat {
    .item-news {
        border-bottom: 1px solid var(--border);
        padding-bottom: 12px;
        margin-bottom: 12px;

        .thumb-art {
            width: 136px;
            margin-right: 12px;

            .icon_thumb {
                width: 20px;
                height: 20px;
                line-height: 17px;

                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .title-news {
            font-size: 16px;
        }

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0
        }
    }

}

.box-300-v1 {
    background: #F6F7FB;
    padding: 18px 16px 16px 16px;

    .title-box-category {
        margin-bottom: 16px;
    }

    .item-news {
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 8px;
        margin-bottom: 8px;

        .description {
            margin-bottom: 8px;
        }

        &.full-thumb {
            .title-news {
                font-size: 22px;
                margin-bottom: 8px;
            }
        }

        .title-news {
            margin-bottom: 0;
            font-size: 16px
        }

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}