.box_300{
    width:300px;
}

.box-xemnhieunhat{
    .item-news{
        border-bottom: 1px solid var(--border);
        padding-bottom: 12px;margin-bottom: 12px;
        .thumb-art{width: 137px;margin-right: 12px;
            .icon_thumb{width: 20px;height: 20px;line-height: 17px;
                svg{
                    width: 16px;height: 16px;
                }
            }
        }
        .title-news{font-size: 16px;}
        &:last-child{margin-bottom: 0;padding-bottom: 0;border-bottom:0}
    }
    
}