.page-contact {
  .flex {
    justify-content: space-between;

    @media (min-width: 1025px) {
      padding-left: 30px;
    }
  }

  .col {
    width: 491px;

    +.col {
      width: 553px;
      padding-left: 68px;
      width: calc(100% - 491px);
    }

    @media (max-width: 1025px) {

      width: 50%;

      +.col {
        width: 50%;
        padding-left: 40px;
      }
    }

    @media (max-width: 767px) {
      width: 100%;

      +.col {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
        padding-left: 0;
      }
    }
  }

  &__list {
    padding: 24px;
    color: #000;
    background: #F6F7FB;

    h2 {
      font-weight: 700;
      margin-bottom: 5px;
    }

    dd {
      +h2 {
        margin-top: 24px;
      }
    }
  }

  &__share {
    height: 100%;
    position: relative;
    padding-top: 20px;

    &::before {
      content: "";
      background: #E5E5E5;
      left: -34px;
      position: absolute;
      top: 26px;
      bottom: 0;
      width: 1px;
    }

    h2 {
      color: #000;
      font: bold 22px/1.4 var(--font2);
      margin-bottom: 25px;
    }

    @media (max-width: 1025px) {
      &::before {
        left: -20px;
      }
    }
  }

  .list_share {
    ul {
      li {
        border-bottom: 1px solid #E5E5E5;
        padding: 16px 0;

        h3 {
          font: bold 16px Arial;
          color: #000000;
          position: relative;
          padding-right: 20px;
          cursor: pointer;

          a {
            color: inherit;
          }

          &::before {
            content: "+";
            position: absolute;
            right: 0;
            color: #111111;
            top: 2px;
            width: 14px;
            text-align: center;
            height: 14px;
            line-height: 14px;
            font-size: 25px;
            font-family: -webkit-body;
          }

          &.active {
            &::before {
              content: "";
              top: 6px;
              font-size: 30px;
              width: 11px;
              height: 3px;
              display: inline-block;
              right: 0;
              background: #111;
            }
          }
        }

        .inf {
          font-size: 16px;
          line-height: 1.6;
          color: #4F4F4F;
          margin-top: 15px;
        }
      }
    }
  }

  &__form {
    .form-group {
      float: left;
      width: 100%;

      label:not(.upload-btn) {
        display: block;
        color: #757575;
        line-height: 160%;
        margin-bottom: 4px;
      }

      input[type='text'] {
        border-radius: 0;
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      .cke {
        margin-top: 4px !important;
        border-color: #E5E5E5;
        border-radius: 3px;

        .cke_top {
          border-bottom: 0;
          background: #EEEEEE;
          border-radius: 2px;
        }
      }

      .upload-btn {
        font-size: 14px;
        line-height: 160%;
        color: #222222;
        display: inline-flex;
        cursor: pointer;
        width: 100%;

        .area-drop-file {
          display: flex;

          span {
            display: inline-block;
            height: 40px;
            width: 40px;
            text-align: center;
            line-height: 38px;
            border: 1px solid #E5E5E5;

            &:first-of-type {
              width: 169px;
              text-align: left;
              padding: 0 16px;
              border-right: 0;
            }
          }
        }

      }

      .btn {
        min-width: 147px;
        height: 40px;
        font-size: 12px;
      }

      .cancel {
        border: 1px solid #7043A9;
        background: #fff;
        color: #7043A9;
        margin-left: 5px;
      }
    }
  }
}

#fine-uploader-gallery {
  width: 100%;
}

.box-upload-attach .area-drop-file .ic {
  fill: #E5E5E5;
  width: 40px;
  height: 40px
}

.box-upload-attach .area-drop-file .input-file {
  display: none
}

.box-upload-attach .area-drop-file p {
  font-size: 15px;
  line-height: 160%;
  color: #757575;
  margin-top: 15px;
  display: block
}

.box-upload-attach .area-drop-file p label {
  cursor: pointer;
  color: #087CCE;
  text-decoration: underline
}

.qq-upload-list-selector {
  font-size: 0
}

.item_upload.img_up.qq-upload-success {
  width: calc(25% - 10px);
  display: inline-block;
  vertical-align: top;
  text-align: center;
  height: 130px;
  position: relative;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  margin: 0 5px 15px 5px;

  &:nth-child(4n + 1) {
    margin-left: 0;
  }
}

.item_upload.img_up.qq-upload-success img {
  max-width: 61%;
  max-height: 61%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.item_upload.img_up.qq-upload-success .file_name {
  font-size: 14px;
  color: #7043A9;
  text-align: center;
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.item_upload.img_up.qq-upload-success:first-child {
  width: calc(25% - 5px);
  margin-left: 0
}

.item_upload.img_up.qq-upload-success:last-child {
  width: calc(25% - 5px);
  margin-right: 0
}

.remove_upload {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-family: -webkit-body;
  font-size: 30px;
  color: #7043A9;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0
}