// STREAM
.box_stream {
    width: 780px;
    width: calc(100% - 300px);
    padding-right: 35px;

    .item-news {
        border-bottom: 1px solid var(--border);
        margin-bottom: 24px;
        padding-bottom: 24px;

        .title-news {
            font-size: 22px;
            margin-bottom: 15px;
        }

        &.last-item {
            padding-bottom: 0;
            border-bottom: 0
        }
    }

    @media (max-width:979px) {
        width: 100%;
        padding-right: 0;
    }
}


// BOX VIDEO HOME
.box-video-home {
    background: #222;
    ;
    padding: 25px 0 65px 0;

    .head_cate {
        margin-bottom: 30px;

        .title_star {
            margin: 0 32px 0 0;

            a {
                color: #fff;
            }
        }

        ul {
            li {
                a {
                    color: var(--bg-agray);
                }
            }
        }
    }

    .wrapper-box-video {
        .item-news {
            .thumb_16x9 {
                border-radius: 2px;
                overflow: hidden;
            }

            .title-news {
                font-size: 14px;
                font-weight: 400;
                line-height: 1.6;
            }

            a {
                color: #fff;
            }

            .description {
                color: #E5E5E5;
            }
        }

        .box-player-video {
            width: 847px;
            width: calc(100% - 233px);
            padding-right: 32px;

            .item-news {
                .icon_thumb {
                    width: 60px;
                    height: 60px;
                    background: none;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;

                    svg {
                        color: #fff;
                        width: 60px;
                        height: 60px;
                    }
                }

                .content {
                    padding: 10px 150px 0 0;
                    position: relative;
                }

                .title-news {
                    font-size: 32px;
                    font-weight: 400;
                    margin-bottom: 15px;
                    line-height: 1.3;

                    .comment {
                        color: #fff;
                        background: rgba(47, 128, 237, 0.2);
                        border-radius: 2px;
                        font-size: 12px;
                        font-weight: 400;
                        height: 34px;
                        line-height: 34px;
                        padding: 0 15px 0 10px;
                        display: inline-block;
                        vertical-align: text-bottom;
                        margin-left: 5px;

                        svg {
                            color: #fff;
                            width: 18px;
                            height: 18px;
                            margin-right: 3px;
                        }
                    }
                }

                .social {
                    position: absolute;
                    right: 0;
                    top: 16px;

                    a {
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        display: inline-block;
                        line-height: 30px;

                        svg {
                            color: #fff;
                        }
                    }
                }

                @media (max-width: 960px) {
                    .content {
                        padding-right: 0;
                    }

                    .title-news {
                        font-size: 22px;
                    }

                    .social {
                        position: static;

                        a {
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }

        .box-scroll-video {
            width: 233px;

            .item-news {
                margin-bottom: 20px;

                .thumb-art {
                    margin-bottom: 12px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    @media (max-width: 860px) {
        padding: 25px 0;

        .wrapper-box-video {
            .box-scroll-video {
                .item-news {
                    margin-bottom: 10px;
                }
            }
        }
    }

}

.box-video-home,
.box-horoscopes,
.section_photo {
    &.box-placeholder {

        .placeholder,
        .title-news {
            background: #fff;
        }
    }
}

.section_photo {
    &.box-placeholder {
        background: #000
    }
}

// END BOX VIDEO HOME