/*thumb + icon play - overwrite for box video in detail article*/
.embed_video_new {
  position: relative;
}

.embed_video_new .box_img_video {
  cursor: pointer;
}

.embed_video_new .icon_blockvideo {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  text-align: left;
}

.embed_video_new .box_img_video img {
  width: 100% ! important;
}

.embed_video_new .img_icon {
  display: inline-block;
  vertical-align: middle;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-left: 35px solid #fff;
  border-bottom: 22px solid transparent;
  border-radius: 5px 0 0 5px;
  @include cubic-transition($delay: 0, $duration: 250ms, $property: (all));
}

.embed_video_new:hover {
  .img_icon {
    /*transform: scale(1.2);
    -webkit-transform: scale(1.2);*/
  }
}

.embed_video_new .image_icon_center {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.embed_video_new .media_content,
.embed_video_new .flash_content {
  width: 100%;
  height: 282px;
  position: relative;
  background: #000;
}

.embed_video_new .media_content .video_container {
  height: 100%;
  width: 100%;
  position: relative;
}

.fp-reload {
  font-family: "Arial", sans-serif;
  color: #ccc;
  font-size: 14px;
  float: left;
  position: absolute;
}

.fp-reload-button {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #333;
  cursor: pointer;
  background: #000;
}

.fp-reload-button:hover {
  background: #9f224e;
}

.clear {
  clear: both;
  line-height: 0;
}

#breackcumb_portal {
  padding-bottom: 5px;
  padding-top: 10px;
}

.block_timer {
  font: 400 11px arial;
  padding: 5px 0 0;
  white-space: nowrap;
}

.content_news {
  padding: 0 0 10px;
  overflow: hidden;
}

title-news {
  margin-top: 10px;
  color: #333;
}

title-news a.title_topic {
  color: #333;
}

.short_intro,
.relative_news {
  font-weight: 700;
}

.short_intro {
  font: 700 14px/18px arial;
  width: 100%;
  float: left;
  padding-bottom: 10px;
  color: #444;
  text-rendering: geometricPrecision;
}

.short_intro h3 {
  font: 700 14px/18px arial;
}

.gocnhin .short_intro {
  color: #333;
  font: 400 14px/18px arial;
}

.short_intro a,
.fck_detail a {
  color: var(--blue);
  position: relative;
  text-decoration: underline;
  text-underline-position: under;

  &:hover {
    color: #087CCE;
  }

  /*&:before{
         content: '';
         width: 100%;
         height: 1px;
         background: #076DB6;
         position: absolute;
         left: 0;
         bottom: -2px;
     }*/
}

.fck_detail p.Normal a {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 1px;
}


/*.relative_new {
  width: 100%;
  float: left;
  padding-bottom: 5px;
}

 .relative_new .list_news_dot_3x3_300 {
  margin: 0;
  border: none;
  padding: 0;
}

 .relative_new .list_news_dot_3x3_300 li {
  padding: 0 0 5px 10px;
  background-position: 0 6px;
}*/

.fck_detail {
  /*overflow: hidden;*/
  float: left;
  width: 100%;
  font: 400 18px arial;
  line-height: 160%;
  padding: 0;
  color: var(--colormain);
}

.fck_detail table caption {
  caption-side: bottom;
  font: 400 14px arial;
  color: #333;
  background: #f5f5f5;
  padding: 10px;
  text-align: left;
}

.fck_detail table.tplCaption td {
  line-height: 0;
  padding: 0;
}

.fck_detail {
  table.tplCaption {
    min-width: 100%;

    tr {
      background: var(--bg-agray);
    }

    tr+tr {
      background: none;
    }
  }
}

.fck_detail table.tplCaption td td {
  line-height: auto;
}

.fck_detail table {
  max-width: 100%;
  margin: 0 auto 15px;
  position: relative;

  a {
    text-decoration: none;
    font-size: 16px;
  }
}


.fck_detail .tplCaption {
  text-align: center;

  .Image {
    text-align: left;
  }

  img {
    max-height: 700px;
  }
}

.fck_detail {
  figure.tplCaption {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 15px;

    .fig-picture {
      width: 100%;
      float: left;
      /*display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;*/
      display: table;
      justify-content: center;
      background: var(--bg-agray);
      text-align: center;
    }

    figcaption {
      width: 100%;
      float: left;
      text-align: left;

      p {
        font: 400 14px/160% arial;
        padding-top: 10px;
        margin-bottom: 0;
      }
    }

    img {
      max-height: 700px;
    }
  }
}


.fck_detail ol {
  list-style: decimal;
  padding: 0 0 0 30px;
  margin: 0;
}

.fck_detail ol li {
  list-style-type: decimal;
  margin-left: 7px;
}

.fck_detail td {
  padding: 5px;
}

.fck_detail table.tplCaption td.caption,
.fck_detail table.tplCaption td.Image,
.fck_detail table.tplCaption td p.Normal,
.fck_detail table.tplCaption td .Image,
.fck_detail .tplCaption .Image {
  font: 400 14px arial;
  line-height: 160%;
  color: var(--gray1);
  padding: 10px 0 0 0;
  margin: 0;
  text-align: left;
}

.fck_detail table.tbl_insert .Normal {
  padding: 0;
  background: none;
  color: #333;
}

/* .fck_detail table.tbl_insert td {
  border: none;
  padding: 5px;
}
*/
.fck_detail table.tbl_insert td {
  border: 1px solid var(--border);
}

.fck_detail p.Image {
  margin: 0;
  padding: 5px;
}

.fck_detail .Normal,
.fck_detail p {
  margin: 0 0 1em;
  line-height: 160%;
  text-rendering: optimizeSpeed;
}

.fck_detail p.subtitle {
  font-weight: 700;
}

.fck_detail table td.Image p {
  margin: 0 0 1em;
}

.fck_detail .ContractNo {
  display: none;
}

.fck_detail table td.PnDTitle {
  color: #FFF;
  font-family: 'Verdana';
  font-size: 8pt;
  font-weight: 700;
  text-decoration: none;
}



/*Youtube Video*/
.embed-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  margin-bottom: 15px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  &.audio {
    padding-bottom: 8.15%;
  }
}

/*End Youtube Video*/

/*audio*/
.audio-wrapper {
  padding-bottom: 11%;
}

/*End audio*/
.box_embed_video_parent {
  overflow: hidden;
  clear: both;
}

.box_embed_video {
  margin-bottom: 15px;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  background: #f5f5f5;

}

.item_slide_show {
  .box_embed_video {
    margin-bottom: 0;
  }

  .embed-container {
    margin-bottom: 0;
  }
}

.desc_cation {

  p,
  p.Image {
    font: 400 14px/160% arial;
    padding: 10px 0 0 0;
    margin-bottom: 0;
    text-align: left;
  }
}


/**BOX INSERT VOTE**/
/*.fck_detail{
  .vote_rating_box{
    width: 100%; float: left;
    background: #FFFFFF;
    border: 1px solid var(--border);
    padding: 20px;
    margin-bottom: 15px;
    .item_row_bx{margin-bottom: 15px;}
    .title-box-vote{font-size: 14px; margin-bottom: 10px; color: #757575; line-height: 16px;width: 100%;float: left;}
    .title_bx{font-size: 20px; margin-bottom: 15px;}
    .label_check{font-size: 18px; line-height: 21px;
      .radio_check{top: 4px;}
    }
  }
}*/
.fck_detail {
  .vote_rating_box {
    border: 1px solid #E5E5E5;
    padding: 20px;

    .title-box-category {
      font-family: arial;
      margin-bottom: 10px;

      .inner-title {
        color: #757575;
        font-size: 14px;
        display: inline-block;

        &:before {
          display: none;
        }
      }
    }

    .title_bx {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    .label_check {
      font-size: 17px;

      input.radio_check[type="radio"] {
        top: 3px;
      }
    }

    .count-vote {
      font-size: 14px;
      line-height: 16px;
    }

    .box_button {
      margin-top: 10px;
    }

    .txt-kq-vote {
      font-size: 17px;
    }
  }
}

/**BOX RATING**/


/*Detail Dating*/
/*.box-info-dating{
  background: #FFFFFF;
border: 1px solid var(--border);
padding: 20px;
  margin-bottom: 15px;
  .content-info-dating{
      width: 100%;
      float: left;      
  }
  .list-info{
      width: calc(100% - 190px);
      float: right;
      padding-left: 15px;
      li{
          margin-bottom: 10px;
          position: relative;
          padding-left: 125px;
          &:last-of-type{
              margin-bottom: 0;
          }
      }
  }
  .label-text{
      width: 125px;
      display: inline-block;
      position: absolute;
      top: 0;left: 0;
  }
  .label-contact{
      width: 190px;
      height: 190px;
      float: left;
      position: relative;
      background: #FCFAF6;
      border-radius: 50%;
      overflow: hidden;
      img{width: 190px;height: 190px;}
  }
}*/

.fck_detail table[align="left"] {
  min-width: inherit;
  float: left;
  width: auto;
  margin-bottom: 0;
  margin-right: 18px;
}

.fck_detail table[align="right"] {
  min-width: inherit;
  float: right;
  width: auto;
  margin-bottom: 0;
  margin-left: 18px;
}

.fck_detail td table {
  margin: 0;
  width: 100%;
}

.fck_detail .BoxTitle {
  font-family: 'Arial';
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  margin: 0 !important;
  padding: 2px;
}

/**BEFORE AFTER, FLIP IMAGE**/
.item_slide_show {
  position: relative;
  margin-bottom: 10px;
}

.wrap_pic {
  width: 100%;
  float: left;
  @extend %flexbox;
  flex-direction: column;
  margin-bottom: 50px;

  .block_thumb_wrap {
    background: var(--bg-agray);
    min-width: 670px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    @extend %clearfix;
    @extend %flexbox;
    justify-content: center;
  }

  .desc_cation {
    width: 100%;
    max-width: 670px;
    margin: 0 auto;
    clear: both;
    font-size: 16px;
    line-height: 160%;

    p {
      font-size: 14px;
      line-height: 160%;
      padding-top: 10px;
      margin-bottom: 0;
      color: var(--gray1);
    }
  }
}

.g-before-after {
  position: relative;
  overflow: hidden
}

.g-before-after img {
  display: block
}

.g-before-after .g-img-before {
  float: left
}

.g-before-after .g-img-after {
  left: 50%;
  bottom: 0;
  overflow: hidden
}

.g-before-after .g-img-after,
.g-before-after .g-img-after img {
  position: absolute;
  right: 0;
  top: 0
}

.g-before-after .g-img-divider {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 0;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff
}

.g-before-after .g-img-divider>span {
  position: absolute;
  top: 50%;
  display: block;
  padding: 0;
  line-height: 1;
  text-align: center;
  -webkit-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  width: 34px;
  height: 56px;
  background: url(images/graphics/icon-before-after.png) no-repeat 0 0;
  font-size: 0;
}

.g-before-after .g-img-after img {
  max-width: inherit;
  height: 100%;
}


/*End Before & After Image*/
/*Flip*/

.note_flip {
  background: #17191A;
  color: #fff;
  display: block;
  height: 40px;
  line-height: 40px;
  width: 215px;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  font-size: 14px;
  z-index: 1;
  border-radius: 3px;
  margin-left: -107.5px;
  opacity: 0.7;

  .icon-flip {
    width: 24px;
    height: 24px;
    background: #4F4F4F;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: center;
    margin-right: 8px;

    .ic {
      fill: #fff;
    }
  }
}

.wrap_flip {
  .block_thumb_wrap {
    &:hover {
      .note_flip {
        opacity: 1;
      }
    }
  }
}

.flip_wrap {
  display: block !important;
  background: none !important;

  .back {
    overflow: hidden;
    top: 0;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

/*End Flip*/