.banner-top-home {
    background: var(--bg-agray2);
    ;
    display: flex;
    width: 100%;
    justify-content: center;
    transition: none 0s ease 0s;
    padding: 20px 10px;
}

.wrap-main-nav {
    border-bottom: 1px solid var(--border);
    background: var(--white);
    z-index: 989;
    height: 60px;

    .icon-svg {
        color: var(--gray1);
    }

    &.pin {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    }

    .logo {
        width: 72px;
    }

    &>.container {
        height: 60px;
        align-items: center;
        justify-content: space-between;
    }

    .main-nav {
        .parent {
            li {
                display: inline-block;

                a {
                    text-transform: uppercase;
                    font: 600 12px var(--font1);
                    color: var(--gray1);
                    padding: 0 16px;
                }

                &.active,
                &:hover {
                    a {
                        font-weight: bold;
                        color: var(--colormain);
                    }
                }

                &:hover {
                    a {
                        color: var(--ione-color);
                    }
                }
            }
        }
    }

    .right-head {
        margin-top: -5px;
    }

    .search-btn {
        display: inline-block;
        cursor: pointer;
        height: 19px;
        position: relative;

        input {
            display: none;
        }

        button {
            border: 0;
            background: none;
        }

        .icon-svg {
            position: relative;
            display: block;
            top: 7px;
            -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
            transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        }

        .close {
            width: 11px;
            height: 11px;
            opacity: 0;
        }

        &.is-clicked {
            .icon-svg {
                top: -13px;
                opacity: 0;
            }

            .close {
                opacity: 1;
                top: -6px;
            }
        }
    }

    .search-wrap {
        background: #fff;
        position: relative;
        z-index: 2;
        display: none;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .1);

        input {
            font-size: 18px;
            height: 45px;
            width: 100%;
            outline: 0;
            border: 0;
            padding: 0;
        }
    }

    #myvne_taskbar {
        display: inline-block;
        margin-left: 25px;
    }

    @media (max-width: 960px) {
        .main-nav {
            .parent {
                li {
                    a {
                        padding: 0 10px;
                    }
                }
            }
        }
    }

    @media (max-width: 860px) {
        .main-nav {
            .parent {
                li {
                    a {
                        padding: 0 6px;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .all-menu-tablet {
            display: block;
        }

        .main-nav {
            width: 100%;
            left: 0;
            background: #f7f7f7;
            padding: 20px 10px 10px 10px;
            box-shadow: 0 1px 3px rgba(80, 80, 80, .2), 0 3px 5px rgba(80, 80, 80, .15);
            position: absolute;
            top: calc(100% + 10px);
            opacity: 0;
            visibility: hidden;
            transition-duration: 200ms;
            transition-property: opacity, top, visible;
            transition-timing-function: cubic-bezier(.7, 1, .7, 1);

            .parent {
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 33.33%;
                    padding: 0 10px;
                    margin-bottom: 15px;

                    a {
                        font-size: 14px;
                    }
                }
            }

            &.show-all-menu {
                top: 100%;
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.all-menu-tablet {
    float: left;
    width: 50px;
    height: 33px;
    text-align: center;
    margin-left: -15px;
    margin-top: -2px;
    cursor: pointer;
    display: none;

    .hamburger {
        width: 20px;
        height: 2px;
        background: #bdbdbd;
        display: inline-block;
        position: relative;

        &:before,
        &:after {
            content: '';
            width: 20px;
            height: 2px;
            background: #BDBDBD;
            position: absolute;
            left: 0;
        }

        &:before {
            top: 6px;
        }

        &:after {
            top: 12px;
        }
    }

    &.close-menu-tablet {
        padding-top: 5px;

        .hamburger {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);

            &:before {
                display: none;
            }

            &:after {
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                top: 0;
            }
        }
    }

}