.banner-top-home {
    background: var(--bg-agray2);
    display: flex;
    width: 100%;
    justify-content: center;
    transition: none 0s ease 0s;
    padding: 20px 10px;
}

.wrap-main-nav {
    border-bottom: 1px solid var(--border);
    background: var(--white);
    z-index: 991;
    height: 60px;

    .icon-svg {
        color: var(--gray1);
    }

    svg {
        &:hover {
            color: var(--ione-color);
        }
    }

    &.pin {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    }

    .logo {
        width: 72px;
        top: 14px;
        position: absolute;
    }

    &>.container {
        height: 60px;
        align-items: center;
        justify-content: space-between;
    }

    .main-nav {
        width: 100%;
        text-align: center;

        .parent {
            display: flex;
            justify-content: center;
            padding-right: 50px;

            li {
                display: inline-block;

                a {
                    text-transform: uppercase;
                    font: 600 12px var(--font1);
                    color: var(--colormain);
                    padding: 0 15px;
                }

                &.active {
                    a {
                        font-weight: bold;
                        color: var(--ione-color);
                    }
                }

                &:hover {
                    a {
                        color: var(--ione-color);
                    }
                }
            }

            @media (max-width: 1025px) {
                padding-right: 0;
                justify-content: flex-start;
                padding-left: 80px;

                li {
                    a {
                        padding: 0 12px;
                    }
                }
            }
        }
    }

    .right-head {
        margin-top: -5px;
        position: absolute;
        right: 10px;
        top: 20px;

        .logo-kpopdance {
            display: inline-block;
            margin-right: 12px;

            img {
                filter: grayscale(100%);
                opacity: 0.6;
            }

            &:hover {
                img {
                    filter: grayscale(0%);
                    opacity: 1;
                }
            }
        }
    }

    .search-btn {
        display: inline-block;
        cursor: pointer;
        height: 19px;
        position: relative;

        input {
            display: none;
            position: absolute;
            background: var(--bg-agray2);
            border-radius: 59px;
            border: 0;
            width: 214px;
            font-size: 12px;
            transition-duration: 400ms;
            transition-property: all;
            transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        }

        button {
            border: 0;
            background: none;
        }

        .icon-svg {
            position: relative;
            display: block;
            top: 7px;
            -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
            transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        }

        .close {
            width: 11px;
            height: 11px;
            opacity: 0;
        }

        &.is-clicked {
            .icon-svg {
                top: -13px;
                opacity: 0;
            }

            .close {
                opacity: 1;
                top: -6px;
            }
        }
    }

    .search-wrap {
        background: #fff;
        position: absolute;
        width: 100%;
        z-index: 2;
        display: none;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .1);

        input {
            font-size: 18px;
            height: 45px;
            width: 100%;
            outline: 0;
            border: 0;
            padding: 0;
        }
    }

    #myvne_taskbar {
        display: inline-block;
        margin-left: 15px;

        .name_user_av {
            display: none !important
        }
    }



    @media (max-width: 960px) {
        .logo {
            left: 50%;
            margin-left: -35px;
        }

        .all-menu-tablet {
            display: block;
        }

        .main-nav {
            text-align: left;
            width: 100%;
            left: 0;
            background: var(--bg-agray);
            padding: 20px 10px 10px 10px;
            box-shadow: 0 1px 3px rgba(80, 80, 80, .2), 0 3px 5px rgba(80, 80, 80, .15);
            position: absolute;
            top: calc(100% + 10px);
            opacity: 0;
            visibility: hidden;
            transition-duration: 200ms;
            transition-property: opacity, top, visible;
            transition-timing-function: cubic-bezier(.7, 1, .7, 1);

            .parent {
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 33.33%;
                    padding: 0 10px;
                    margin-bottom: 15px;

                    a {
                        font-size: 14px;
                    }
                }
            }

            &::after {
                width: 100%;
                height: 100vh;
                position: absolute;
                background: rgba(0, 0, 0, .75);
                bottom: -100vh;
                left: 0;
                content: '';
                z-index: -1;
                opacity: 0;
                visibility: hidden;
                transition-duration: 700ms;
                transition-property: all;
                transition-timing-function: cubic-bezier(.7, 1, .7, 1);
            }

            &.show-all-menu {
                top: 100%;
                visibility: visible;
                opacity: 1;

                &::after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.all-menu-tablet {
    float: left;
    width: 50px;
    height: 33px;
    text-align: center;
    margin-left: -15px;
    margin-top: -2px;
    cursor: pointer;
    display: none;

    .hamburger {
        width: 20px;
        height: 2px;
        background: #bdbdbd;
        display: inline-block;
        position: relative;

        &:before,
        &:after {
            content: '';
            width: 20px;
            height: 2px;
            background: #BDBDBD;
            position: absolute;
            left: 0;
        }

        &:before {
            top: 6px;
        }

        &:after {
            top: 12px;
        }
    }

    &.close-menu-tablet {
        padding-top: 5px;

        .hamburger {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);

            &:before {
                display: none;
            }

            &:after {
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                top: 0;
            }
        }
    }

}