// TOPSTORY
.section_topstory {
    justify-content: space-between;
    margin-top: 30px;

    .section_topstory__Left {
        width: 281px;

        .item-news.full-thumb {
            border-bottom: 1px solid var(--border);
            margin-bottom: 15px;
            padding-bottom: 25px;

            .thumb-art {
                width: 100%;
                margin: 0 0 10px 0;
            }

            .title-news {
                font-size: 18px;
            }
        }

        .item-news {
            margin-bottom: 15px;

            .thumb-art {
                width: 100px;
                margin: 0 12px 0 0;
            }

            .title-news {
                font-size: 16px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .section_topstory__center {
        width: 453px;

        .item-news {
            .thumb-art {
                margin-bottom: 15px;
            }

            .title-news {
                font-size: 28px;
                margin-bottom: 15px;
            }
        }
    }

    .section_topstory__right {
        width: 281px;

        .item-news.full-thumb {
            border-bottom: 1px solid var(--border);
            margin-bottom: 24px;
            padding-bottom: 24px;

            .thumb-art {
                width: 100%;
            }

            &:last-child {
                margin-bottom: 0;
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    @media (max-width: 1099px) {

        .section_topstory__Left,
        .section_topstory__right {
            width: 250px;
        }

        .section_topstory__center {
            width: calc(100% - 550px);
        }
    }

    @media (max-width: 979px) {
        .section_topstory__Left {
            .item-news {
                .thumb-art {
                    width: 80px;
                }
            }
        }

        .section_topstory__Left,
        .section_topstory__right {
            width: 200px;
        }

        .section_topstory__center {
            width: calc(100% - 440px);
        }
    }
}

.section_topstory2 {
    border-bottom: 4px solid rgba(34, 34, 34, 0.1);
    padding-bottom: 24px;
    align-items: flex-start;

    &_left {
        width: 453px;
        position: relative;

        &::before {
            content: "";
            border-left: 1px solid var(--border);
            position: absolute;
            top: 0;
            bottom: 0;
            right: -20px;
        }

        .item-news {
            .title-news {
                font-size: 28px;
                margin-bottom: 15px;
            }
        }
    }

    &_right {
        width: 627px;
        width: calc(100% - 453px);
        position: relative;
        padding-left: 20px;
        display: flex;
        flex-wrap: wrap;

        .item-news {
            width: 50%;
            padding-left: 20px;

            &:nth-child(1),
            &:nth-child(2) {
                padding-bottom: 24px;
                margin-bottom: 24px;

                &::before {
                    content: "";
                    border-bottom: 1px solid var(--border);
                    position: absolute;
                    bottom: 0;
                    left: 20px;
                    right: 0;
                }
            }
        }
    }

    .gird_3 {
        .item-news {
            .thumb-art {
                margin-bottom: 15px;
            }

            .title-news {
                font-size: 22px;
            }

            @media (max-width: 860px) {
                .thumb-art {
                    margin-bottom: 10px;
                }

                .title-news {
                    font-size: 20px;
                }
            }
        }
    }

    @media (max-width: 860px) {
        &_left {
            width: 40%;

            .item-news {
                .title-news {
                    font-size: 22px;
                    margin-bottom: 10px;
                }
            }
        }

        &_right {
            width: 60%;
        }
    }
}

// END TOPSTORY
.section_the_latest {
    margin-bottom: 32px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border);

    .item-news {
        margin-bottom: 15px;

        .content {
            position: relative;
            padding-left: 30px;

            .number {
                font: 400 20px/1.4 var(--font1);
                color: #282828;
                position: absolute;
                left: 0;
                top: -5px;
            }
        }

        .title-news {
            font-size: 16px;
        }
    }

    @media (max-width: 979px) {
        .item-news {
            .content {
                padding-left: 20px;
            }
        }
    }
}


// STREAM
.box_stream {
    width: 780px;
    width: calc(100% - 300px);
    padding-right: 35px;

    .item-news {
        border-bottom: 1px solid var(--border);
        margin-bottom: 24px;
        padding-bottom: 24px;

        .title-news {
            font-size: 22px;
            margin-bottom: 15px;
        }

        &.last-item {
            padding-bottom: 0;
            border-bottom: 0
        }
    }

    @media (max-width:979px) {
        width: 100%;
        padding-right: 0;
    }
}