// TOPSTORY
.section_topstory {
    justify-content: space-between;
    margin-top: 30px;

    .section_topstory__Left {
        width: 281px;

        .item-news.full-thumb {
            border-bottom: 1px solid var(--border);
            margin-bottom: 24px;
            padding-bottom: 29px;

            .thumb-art {
                width: 100%;
                margin: 0 0 10px 0;
            }

            .title-news {
                font-size: 18px;
            }
        }

        .item-news {
            margin-bottom: 16px;

            .thumb-art {
                width: 90px;
                margin: 0 12px 0 0;
            }

            .title-news {
                font-size: 16px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .section_topstory__center {
        width: 518px;
        padding: 0 32px;
        position: relative;

        &::before {
            content: "";
            background: #E5E5E5;
            position: absolute;
            width: 1px;
            height: 100%;
            left: 16px;
        }

        &::after {
            content: "";
            background: #E5E5E5;
            position: absolute;
            width: 1px;
            height: 100%;
            right: 16px;
        }

        .item-news {
            .thumb-art {
                margin-bottom: 15px;
            }

            .title-news {
                font-size: 28px;
                margin-bottom: 15px;
            }
        }
    }

    .section_topstory__right {
        width: 281px;

        .item-news.full-thumb {
            border-bottom: 1px solid var(--border);
            margin-bottom: 24px;
            padding-bottom: 24px;

            .thumb-art {
                width: 100%;
            }

            &:last-child {
                margin-bottom: 0;
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    @media (max-width: 1099px) {

        .section_topstory__Left,
        .section_topstory__right {
            width: 250px;
        }

        .section_topstory__center {
            width: calc(100% - 500px);
        }
    }

    @media (max-width: 979px) {
        .section_topstory__Left {
            .item-news {
                .thumb-art {
                    width: 80px;
                }
            }
        }

        .section_topstory__Left,
        .section_topstory__right {
            width: 200px;
        }

        .section_topstory__center {
            width: calc(100% - 400px);
        }
    }
}

.section_topstory2 {
    border-bottom: 4px solid rgba(34, 34, 34, 0.1);
    padding-bottom: 24px;
    align-items: flex-start;

    &_left {
        width: 453px;
        position: relative;

        &::before {
            content: "";
            border-left: 1px solid var(--border);
            position: absolute;
            top: 0;
            bottom: 0;
            right: -20px;
        }

        .item-news {
            .title-news {
                font-size: 28px;
                margin-bottom: 15px;
            }
        }
    }

    &_right {
        width: 627px;
        width: calc(100% - 453px);
        position: relative;
        padding-left: 20px;
        display: flex;
        flex-wrap: wrap;

        .item-news {
            width: 50%;
            padding-left: 20px;

            &:nth-child(1),
            &:nth-child(2) {
                padding-bottom: 24px;
                margin-bottom: 24px;

                &::before {
                    content: "";
                    border-bottom: 1px solid var(--border);
                    position: absolute;
                    bottom: 0;
                    left: 20px;
                    right: 0;
                }
            }
        }
    }

    .gird_3 {
        .item-news {
            .thumb-art {
                margin-bottom: 15px;
            }

            .title-news {
                font-size: 22px;
            }

            @media (max-width: 860px) {
                .thumb-art {
                    margin-bottom: 10px;
                }

                .title-news {
                    font-size: 20px;
                }
            }
        }
    }

    @media (max-width: 860px) {
        &_left {
            width: 40%;

            .item-news {
                .title-news {
                    font-size: 22px;
                    margin-bottom: 10px;
                }
            }
        }

        &_right {
            width: 60%;
        }
    }
}

// END TOPSTORY
.section_the_latest {
    margin-bottom: 20px;
    padding-bottom: 5px;
    position: relative;

    &::before {
        content: "";
        border-bottom: 1px solid var(--border);
        position: absolute;
        bottom: 0;
        left: 8px;
        right: 8px;
    }

    .item-news {
        margin-bottom: 25px;

        .content {
            position: relative;

            .number {
                font: 400 20px/1.4 var(--font1);
                color: #282828;
                position: absolute;
                left: 0;
                top: -5px;
                display: none
            }
        }

        .title-news {
            font-size: 16px;
            margin-bottom: 0;
        }
    }

    @media (max-width: 979px) {
        .item-news {
            .content {
                padding-left: 20px;
            }
        }
    }
}


// STREAM
.box_stream {
    width: 780px;
    width: calc(100% - 300px);
    padding-right: 35px;

    .item-news {
        border-bottom: 1px solid var(--border);
        margin-bottom: 20px;
        padding-bottom: 20px;

        .title-news {
            font-size: 22px;
            margin-bottom: 15px;
        }

        &.last-item {
            padding-bottom: 0;
            border-bottom: 0
        }
    }

    @media (max-width:979px) {
        width: 100%;
        padding-right: 0;
    }
}

// BOX VIDEO HOME
.box-video-home {
    background: #222;
    border-radius: 2px;
    padding: 25px 0 65px 0;

    .head_cate {
        margin-bottom: 30px;

        .title_star {
            margin: 0 32px 0 0;

            a {
                color: #fff;
            }
        }

        ul {
            li {
                a {
                    color: var(--bg-agray);
                }
            }
        }
    }

    .thumb-art {
        cursor: pointer;
    }

    .wrapper-box-video {
        .item-news {
            .thumb_16x9 {
                border-radius: 2px;
                overflow: hidden;
            }

            .title-news {
                font-size: 14px;
                font-weight: 400;
                line-height: 1.6;
            }

            a {
                color: #fff;
            }

            .description {
                color: #E5E5E5;
            }
        }

        .box-player-video {
            width: 847px;
            width: calc(100% - 233px);
            padding-right: 32px;

            .item-news {
                .icon_thumb {
                    width: 60px;
                    height: 60px;
                    background: none;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;

                    svg {
                        color: #fff;
                        width: 60px;
                        height: 60px;
                    }
                }

                .content {
                    padding: 10px 150px 0 0;
                    position: relative;
                }

                .title-news {
                    font-size: 32px;
                    font-weight: 400;
                    margin-bottom: 15px;
                    line-height: 1.3;

                    .comment {
                        color: #fff;
                        font-size: 16px;

                        svg {
                            color: #fff;
                            width: 16px;
                            height: 16px;
                        }
                    }
                }

                .social {
                    position: absolute;
                    right: 0;
                    top: 16px;

                    a {
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        display: inline-block;
                        line-height: 30px;

                        svg {
                            color: #fff;
                        }
                    }

                    .btn-copy,
                    .btn-save {
                        svg {
                            width: 19px;
                            height: 19px;
                        }
                    }
                }

                @media (max-width: 960px) {
                    .content {
                        padding-right: 0;
                    }

                    .title-news {
                        font-size: 22px;
                    }

                    .social {
                        position: static;

                        a {
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }

        .box-scroll-video {
            width: 233px;

            .item-news {
                margin-bottom: 20px;

                .thumb-art {
                    margin-bottom: 12px;

                    .icon-svg {
                        width: 16px;
                        height: 16px;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }


    @media (max-width: 860px) {
        padding: 25px 0;

        .wrapper-box-video {
            .box-scroll-video {
                .item-news {
                    margin-bottom: 10px;
                }
            }
        }
    }

    &__v2 {
        background: none;
        padding: 0;

        .wrap-bg {
            background: #222;
            padding: 24px;
            border-radius: 2px;
        }

        .wrapper-box-video {
            .box-player-video {
                padding-right: 24px;
            }
        }
    }
}

.box-video-home,
.box-horoscopes,
.section_photo {
    &.box-placeholder {

        .placeholder,
        .title-news {
            background: #fff;
        }
    }
}

.section_photo {
    &.box-placeholder {
        background: #000
    }
}

// END BOX VIDEO HOME