/*Search Page*/
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], textarea, select {
    background: #fff;
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    font-size: 15px;
    padding: 0 12px;
    outline: none;
    font-family: arial;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }

.title-page {
    font-size: 24px;
    line-height: 160%;
    font-family: $font-title;
    @extend %font-fea;
    font-weight: 700;
    margin-bottom: 15px;
}

.content-search {
    padding-top: 20px;

}

input[type="text"],
input[type="number"] select {
    width: 100%;
    height: 40px;
    float: left;
    border: 1px solid $color-solid;
    border-radius: 3px;
    margin: 0;
    color: #4F4F4F;
}

.wrap-search-form {
    padding-left: 1px;
    border-bottom: 4px solid $color-solid;
    padding-bottom: 10px;

    .btn {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        border: none;
        line-height: 38px;
        text-align: center;
        padding: 0;

        svg {
            fill: #4F4F4F;
            @include cubic-transition($delay: 0, $duration: 200ms, $property: (all));
        }
    }

    input[type="text"] {
        padding: 0 50px 0 130px;
        color: #222;
        font-size: 14px;
    }

    select {
        font-size: 14px;
        color: #222;
    }

    .input-form .title-input {
        font-size: 15px;
        color: #757575;
    }

    .focus {
        .btn {
            .ic-search {
                fill: #757575;
            }
        }
    }
}

.no-result {
    font-size: 16px;
}

.main-input {
    &:before {
        content: '';
        width: 1px;
        height: 16px;
        background: $color-solid;
        position: absolute;
        left: 120px;
        top: 12px;
    }

    select {
        width: 115px;
        height: 38px;
        border: none;
        position: absolute;
        left: 1px;
        top: 1px;
    }
}

.input-form {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    position: relative;

    .title-input {
        display: inline-block;
        font-size: 14px;
        line-height: lh(16px, 14px);
        color: #4F4F4F;
        margin-bottom: 10px;
    }
}

.row {
    width: 100%;
    float: left;
    @extend %flexbox;

    &.row4 {
        .input-form {
            width: 25%;
            margin-right: 15px;

            &:last-of-type {
                margin-right: 0;
            }

            @media (max-width: 767px) {
                width: calc(100%/3);
            }
        }
    }
}

.search-page {
    .title-page {
        font-size: 28px;
    }
}

/*End Search page*/