// Var detail VNE
$vne_color: #9F224E;
$url: "images" !default;

$vne_color_hover: #087CCE;
$font-title: 'Lora';
$color-solid:#E5E5E5;

:root {
  --font1: 'Barlow';
  --font2: 'Lora';
  --vne-color: #9F224E;
  --blue: #076DB6;
  --white: #fff;
  --colormain: #222222;
  --color1: #666;
  --white:#fff;
  --gray: #CCC;
  --gray1: #4F4F4F;
  --gray2: #BDBDBD;
  --gray3: #757575;
  --bg-detail:#FCFAF6;
  --bg-agray: #f7f7f7;
  --bg-agray1: #E5E5E5;
  --bg-agray2: #F6F7FB;
  --border: #E5E5E5;
}


@mixin cubic-transition($delay, $duration, $property) {
  transition: {
      duration: $duration;
      property: $property;
      timing-function: cubic-bezier(.7,1,.7,1);
  }
}
/* @include cubic-transition($delay: 0, $duration: 200ms, $property: (all)); */
%has_transition{
  @include cubic-transition($delay: 0, $duration: 200ms, $property: (all));
}
%flexbox{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.flexbox{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.no-flexbox{display: inherit;}

%clearfix{
&:after{
      content: '';
      display: table;
  clear: both;
}
}


%ic_font {
  line-height: 1;
  font-size: 15px;
  font-family: "vnexpress-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}