@import "var.scss";

.mfp-figure:after {
    background: none !important;
}

#boxthamdoykien {
    float: left;
}

.embed_video_new .box_img_video {
    margin-bottom: 20px;
}

.wrap-main-nav>.container {
    .all-menu-tablet {
        height: 53px;
    }

    &::before,
    &::after {
        display: none
    }
}

.container {
    padding: 0 10px;
    max-width: 1100px;
}

#to_top {
    line-height: 22px;

    .ic {
        color: #666666;
    }
}

.longform_wrapper {
    margin-top: 20px;

    h1 {
        font: bold 34px/1.3 var(--font2);
        margin-bottom: 24px;
        clear: both;
    }

    .location-stamp {
        font-size: 16px;
    }
}

// Review sản phẩm
.section-inner.outset-column {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}

.outset-column,
.inset-column {
    p {
        margin-bottom: 20px;
    }

    h3 {
        // font: bold 24px/1.3 var(--font2);
        margin-bottom: 20px;
    }
}


.box_top_review {
    margin-bottom: 35px;

    .inner_content_review {
        margin-top: 30px;
    }

    &.box-placeholder {
        .box_shopping_review {
            background: none;
        }
    }
}

.box_gallery_review {
    .img_holder .img_bg {
        background-size: contain;
    }
}

.wrapper_slide_thumb {
    margin-bottom: -5px;

    .swiper-slide {
        width: auto;
        height: 72px;

        img {
            height: 100%;
        }
    }
}

.box_gallery_review {
    width: 780px;
    width: calc(100% - 300px);
    margin-bottom: 0;

    &.box_gallery_review_full {
        width: 100%;
        float: left;
        margin-bottom: 32px;
    }
}

.box_shopping_review {
    width: 300px;
    padding: 25px 24px;
    font-family: arial;
    color: #F7F7F7;
    background: var(--colormain);

    @media (max-width: 1025px) {
        padding: 15px;
    }

    p {
        margin-top: 0;
    }

    .name_review {
        font-size: 15px;
        color: #F7F7F7;
        margin-bottom: 10px;
    }

    .price_sp {
        font-family: $font-title;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .list_shop_review {
        li {
            padding: 8px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.53);

            &::before {
                display: none
            }
        }

        .name_shop {
            font-size: 15px;
            color: #F7F7F7;
            margin-bottom: 0;
        }

        .price_shop {
            margin-bottom: 0;
            font-size: 15px;
            color: #222;
            font-weight: 700;

            &.price_min {
                color: #F2C94C;
            }
        }

        .goto_shop {
            text-decoration: none;
            margin-left: auto;
            width: 100px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            font-weight: 400;
            color: #fff !important;
            font-size: 15px;
            padding: 0;
            background: #F2C94C;
            border-radius: 3px;

            &:hover {
                background: $vne_color;
                color: #fff !important;
            }
        }
    }

    .xemtatca {
        a {
            color: #F2C94C;
            text-decoration: none;
        }
    }
}

.box_gallery_review_full {
    .wrapper_slide_thumb {
        max-width: 700px;
        float: none;
        margin: 5px auto 0 auto;
    }
}


@media screen and (max-width: 768px) {
    .box_top_review {
        flex-wrap: wrap;
    }

    .box_gallery_review {
        width: 100%;
    }

    .box_shopping_review {
        width: 100%;
    }
}

.col_text_review {
    .tit_col {
        .icon_tit {
            background: #F2C94C;
            border-radius: 50%;
            line-height: 21px;
        }
    }
}

.point_review {
    .number_review {
        margin-bottom: 30px;
    }
}

.number_review {
    .number_point {
        font-size: 50px;

        span {
            color: #F2C94C
        }
    }
}

.list_rating_rev {
    .item_rate {
        .label_item_rate {
            color: #F7F7F7;
            font-size: 16px;
        }

        .rating_bar {
            height: 8px;

            .number_bar {
                background: #F2C94C;
            }
        }
    }
}

.item-news .status {
    font-family: Arial, Helvetica, sans-serif;
}