@import "var.scss";
@import "scrollbar.scss";
@import "lightbox.scss";
@import "swiper.scss";
@import "search.scss";
@import "404.scss";
@import "contact.scss";

.article_info {
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    overflow: hidden;

    .gird {
        margin: 0 -15px;
    }

    .head_cate {
        margin-bottom: 12px;
    }

    .item {
        width: 50%;
        padding: 24px 15px 45px 15px;
        border-right: 1px solid var(--border);

        &:last-child {
            border-right: 0
        }
    }

    .item-news {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;

        .thumb-art {
            margin-bottom: 15px;
        }

        .title-news {
            font-size: 20px;
        }
    }

    &_2 {
        padding: 24px 0 35px 0;

        .item {
            padding: 0 15px;
        }
    }

    &_3 {
        border-top: 0;
        border-bottom: 4px solid rgba(34, 34, 34, 0.1);
        padding-bottom: 45px;

        .item {
            padding: 0 15px;
            width: 299px;

            .title-news {
                font-size: 18px;
            }

            &:first-child {
                width: 476px;
                width: calc(100% - 299px);

                .title-news {
                    font-size: 22px;
                }
            }
        }
    }
}

.box-img-style {
    background: #222222;
    padding: 40px 0;

    .item-news {
        .thumb-art {
            margin-bottom: 0;
        }

        .content {
            position: absolute;
            bottom: 0;
            left: 8px;
            right: 8px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

            * {
                color: #fff;
            }
        }

        .title-news {
            font-size: 22px;
            margin-bottom: 0;

            a {
                padding: 80px 20px 10px 20px;
                display: block;

                @media (max-width: 1025px) {
                    padding: 50px 15px 10px 15px;
                }

                @media (max-width: 860px) {
                    padding: 30px 10px 10px 10px;
                }
            }
        }

        .status {
            padding: 0 20px 30px 20px;

            * {
                color: var(--bg-agray1)
            }

            @media (max-width: 1025px) {
                padding: 0 15px 15px 15px;
            }

            @media (max-width: 860px) {
                padding: 0 10px 10px 10px;
            }
        }

        @media (max-width: 860px) {
            .content {
                padding: 50% 10px 20px 10px;
            }

            .title-news {
                font-size: 18px;
            }
        }
    }

    &__v2 {
        background: none;
        padding: 0;

        .wrap-bg {
            background: #222;
            padding: 24px
        }
    }
}

.box_quiz {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 0 57px;
    color: #4F4F4F;
    font-size: 16px;
    position: relative;

    .box_category {
        margin-bottom: 30px;
    }

    .title {
        font: 600 22px var(--font1);
        color: #222222;
        margin-bottom: 15px;
    }

    .head_cate {
        background: rgba(189, 189, 189, 0.2);
        padding: 24px 22px;
        justify-content: space-between;
        margin: 0 -57px 20px -57px;

        .social {
            a {
                display: inline-block;
                background: var(--border);
                border-radius: 50%;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                margin-left: 5px;

                svg {
                    color: #757575;
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }

    .author {
        color: #000;
        margin-bottom: 20px;
    }

    .link-detail {
        padding: 29px 24px;
        background: #F7F7F7;
        border-radius: 0px 0px 8px 8px;
        display: block;
        position: relative;
        margin: 0 -57px 0 -57px;

        .next {
            background: var(--border);
            border-radius: 0px 0px 8px 0px;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 57px;
            line-height: 77px;
            text-align: center;
            transition: 0.4s ease;

            svg {
                width: 20px;
                height: 20px;
            }
        }

        &:hover {
            color: #222;

            .next {
                background: var(--ione-color);

                svg {
                    color: #fff
                }
            }
        }
    }

    .quiz-new {
        text-align: left;

        .gird {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            margin-top: 30px !important;

            .item {
                color: var(--colormain);
                position: relative;
                margin-bottom: 20px;

                img {
                    border-radius: 4px;
                    overflow: hidden;
                }
            }
        }

        .gird_1 {
            .item {
                width: 100%;
            }
        }

        .gird_2 {
            margin: 0 -8px;

            .item {
                width: 50%;
                padding: 0 8px;
                margin-bottom: 16px;

                img {
                    width: 100%;
                }
            }
        }

        .gird_3 {
            margin: 0 -8px;

            .item {
                width: 33.33%;
                padding: 0 8px;
            }
        }

        .gird_4 {
            margin: 0 -8px;

            .item {
                width: 25%;
                padding: 0 8px;
            }
        }

        .question-quiz {
            p {
                margin-bottom: 5px;
            }
        }

        .answer-quiz {
            padding: 24px 57px;
            font-size: 16px;
            line-height: 1.4;
            margin: 0 -57px 0 -57px;

            .item {
                margin-bottom: 8px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            h4 {
                margin-bottom: 15px;
                font-weight: bold;
                color: #333;
            }

            p {
                margin-top: 20px;
            }
        }

        .btn_next_prev {
            display: flex;
            justify-content: space-between;

            .btn_ione {
                border: 1px solid rgba(0, 0, 0, 0.1);
                background: #fff;
                padding: 0 30px;
            }

            .active {
                background: #F2C94C;
                border: 1px solid #F2C94C;

                &:hover {
                    background: #DFAB0E;
                }
            }
        }

        .btn_ione {
            svg {
                color: #222;
                width: 20px;
                height: 20px;
            }

            &.next {
                svg {
                    width: 14px;
                    height: 14px;
                    margin-left: 3px;
                }
            }
        }

        &1 {
            .item {
                span {
                    border: 1px solid var(--border);
                    background: var(--white);
                    width: 48px;
                    height: 47px;
                    line-height: 47px;
                    text-align: center;
                    display: inline-block;
                    margin-top: 15px;
                    border-radius: 50%;
                    font-size: 14px;
                }

                &:hover {
                    span {
                        background: var(--bg-agray);
                    }
                }

                &.active {
                    span {
                        background: var(--border);
                        border: 1px solid var(--border);
                    }
                }
            }
        }

        &2 {
            .answer-quiz {
                margin-top: 20px;
                margin-bottom: 20px;
                background: #fff;
                padding: 0 57px;

                label.item {
                    display: block;
                    cursor: pointer;
                    background: #F7F7F7;
                    border-radius: 2px;
                    padding: 12px 20px;

                    &:hover,
                    &.active {
                        background: #E5E5E5;
                    }
                }
            }

            .percent-bar {
                position: relative;
                padding-right: 50px;
                margin-bottom: 30px;
                width: 50%;

                .main-bar-per {
                    height: 8px;
                    background: #E5E5E5;
                    border-radius: 29px;
                    width: 100%;
                    display: block;
                    position: relative;
                }

                .real-bar-per {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background: #F53520;
                    border-radius: 29px;
                }

                .number-per {
                    width: 40px;
                    position: absolute;
                    font-family: Arial;
                    top: -6px;
                    right: 0;
                    font-size: 14px;
                    color: #000000;
                }
            }
        }

        &3 {
            .slide-quiz {
                .swiper-container {
                    padding-bottom: 40px;
                }

                .gird {

                    .item.active,
                    .item:hover {
                        &::before {
                            right: 10px;
                            top: 0px;
                        }

                        &::after {
                            right: 18px;
                            top: 4px;
                        }
                    }
                }
            }


            .gird {

                .item.active,
                .item:hover {
                    &::before {
                        content: "";
                        background: #0084FF;
                        width: 21px;
                        height: 21px;
                        position: absolute;
                        right: 0;
                        top: -10px;
                        border-radius: 50%;
                        border: 1px solid #fff;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        right: 8px;
                        top: -6px;
                        width: 4px;
                        height: 10px;
                        border: solid var(--white);
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                    }
                }
            }

            .answer-quiz {
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }

        &4,
        &5 {
            .question-quiz {
                background: #FFFFFF;
                padding: 24px;

                p {
                    margin-bottom: 15px;
                }

                .gird {
                    margin-top: 0 !important;
                }

                .item {
                    &:hover {
                        &::before {
                            content: "";
                            background: linear-gradient(180deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
                            position: absolute;
                            bottom: 0;
                            height: 80%;
                            left: 8px;
                            right: 8px;
                            border-radius: 4px;
                            opacity: 0.7;
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            .answer-true {
                position: absolute;
                display: none;
                font-size: 14px;
                color: #fff;
                top: 17px;
                left: 50%;
                margin-left: 10px;
                transform: translate(-50%, 0);

                &::before {
                    content: "";
                    background: #05DA65;
                    width: 21px;
                    height: 21px;
                    position: absolute;
                    left: -29px;
                    top: -2px;
                    border-radius: 50%;
                    border: 1px solid #fff;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: -20px;
                    top: 2px;
                    width: 4px;
                    height: 10px;
                    border: solid var(--white);
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
            }

            .percent-bar {
                position: absolute;
                bottom: 12px;
                left: 24px;
                right: 24px;
                padding-right: 40px;

                .number-per {
                    width: 30px;
                    position: absolute;
                    top: -5px;
                    right: 0;
                    font-size: 14px;
                    color: #fff;
                }

                .main-bar-per {
                    height: 10px;
                    background: #F6F7FB;
                    border-radius: 10px;
                    width: 100%;
                    display: block;
                    position: relative;
                }

                .real-bar-per {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background: #F2C94C;
                    border-radius: 10px;
                }
            }

            .item {
                * {
                    transition: 0.5s ease;
                }

                &.true {

                    .answer-true,
                    .percent-bar {
                        display: block;
                    }

                    &::before {
                        content: "";
                        background: linear-gradient(180deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
                        position: absolute;
                        bottom: 0;
                        height: 100%;
                        left: 8px;
                        right: 8px;
                        border-radius: 4px;
                        opacity: 0.7;
                        transform: rotate(180deg);
                    }
                }
            }

            .count {
                color: #757575;
                font-size: 14px;
                background: url(images/icons/chart.svg) no-repeat;
                padding-left: 20px;
                background-position: 0;
            }
        }

        &5 {

            h4,
            .title {
                color: #6441A5;
                font-size: 18px;
                line-height: 1.2;
                margin-top: 20px;
            }

            .gird {
                margin-top: 24px !important;
            }

            .items {
                margin-bottom: 30px;

                .item {
                    &:hover {
                        &::before {
                            height: 100%;
                            background: #000000;
                            opacity: 0.5;
                        }
                    }
                }

                &.active {

                    .answer-true,
                    .percent-bar {
                        display: block;
                    }

                    .item.true {
                        &::before {
                            content: "";
                            background: linear-gradient(180deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
                            position: absolute;
                            bottom: 0;
                            height: 80%;
                            left: 8px;
                            right: 8px;
                            border-radius: 4px;
                            opacity: 0.7;
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}



.slide-quiz {
    .swiper-container {
        padding-bottom: 10px;
    }

    &_2 {
        .quiz-new3 {
            .gird_2 {
                margin-bottom: 20px;
            }

            .gird {

                .item.active,
                .item:hover {
                    &::before {
                        right: 10px;
                        top: 0px;
                    }

                    &::after {
                        right: 18px;
                        top: 4px;
                    }
                }
            }

        }
    }


    .swiper-button-prev,
    .swiper-button-next {
        top: 50%;
        opacity: 0.4;
        background: #E5E5E5;
        outline: 0
    }

    .swiper-pagination {
        bottom: 95px;
        width: 100%;
        left: 0;
        right: 0;

        .swiper-pagination-bullet {
            background: #E5E5E5;
            margin: 0 4px;

            &-active {
                background: #222222;
            }
        }
    }
}


/**TOPIC, TAG, 24h**/
.section-2col {
    .col-left-subfolder {
        &:after {
            display: block;
        }
    }
}

.section-ads-gray {
    background: #f7f7f7;
    padding: 15px 0;
}

.name-page-t {
    font: bold 28px var(--font2);
}

.social-p {
    border-bottom: 4px solid rgba(34, 34, 34, 0.1);
    padding-bottom: 24px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    span {
        color: var(--gray1);
        margin-right: 10px;
    }

    li {
        margin-right: 8px;
        display: inline-block;

        a {
            width: 32px;
            height: 32px;
            border: 1px solid var(--border);
            text-align: center;
            justify-content: center;
            border-radius: 50%;

            .icon-svg {
                align-self: center;
                width: 14px;
                height: 14px;
            }
        }
    }
}

.tab-tt {
    margin-bottom: 50px;

    li {
        float: left;
        margin: 0;

        a {
            display: block;
            line-height: 17px;
            background: #fff;
            border: 1px solid var(--border);
            padding: 8.5px 25px;
            border-radius: 3px 0 0 3px;
        }

        &.active {
            a {
                background: #7043A9;
                color: #fff;
                border: 1px solid #7043A9;
            }
        }

        &:last-of-type {
            a {
                border-radius: 0 3px 3px 0;
            }
        }
    }
}

.section-topic {
    .wrap {
        margin: -30px -30px 0 -30px;
        background: var(--white);
        border-radius: 4px 4px 0px 0px;
        padding: 24px 30px 32px 30px;
    }
}

/*RSS*/
.sub-title-page {
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 15px;
    font-family: $font-title;
    @extend %font-fea;
    display: inline-block;
}

.page-rss {
    .container {
        max-width: 700px;
    }

    p {
        font-size: 18px;
        line-height: 160%;
        margin-bottom: 20px;
    }

    .wrap-list-rss {
        @extend %flexbox;
        flex-wrap: wrap;
        margin: 0 -16px;

        .list-rss {
            width: 50%;
            color: #4F4F4F;
            font-size: 18px;
            line-height: lh(21px, 18px);
            margin-bottom: 15px;
            padding: 0 16px;

            li {
                border-bottom: 1px solid $color-solid;
                position: relative;
            }

            a {
                padding: 15px 0;
                display: block;

                &:hover {
                    color: var(--ione-color);
                }
            }

            .icon-rss {
                font-size: 13px;
                line-height: lh(15px, 13px);
                float: right;
                color: #222;
                margin-top: 3px;
                line-height: 20px;
                /*opacity: 0;
                visibility: hidden;*/
                transition: all .4s ease;

                svg {
                    background: #EE802F;
                    fill: #fff;
                    padding: 2px;
                    width: 20px;
                    height: 20px;
                    margin-top: -3px;
                    margin-left: 10px;
                    border-radius: 1px;
                }
            }
        }

        @media (max-width: 767px) {
            margin: 0 0 24px 0;

            .list-rss {
                width: 100%;
                padding: 0;
                margin-bottom: 0;
            }
        }
    }
}

/*End RSS*/