@import 'var.scss';

.input_comment_full {
    width: 100%;
}

.social_share_new {
    display: flex;
    flex-direction: row-reverse;
}

.social_share_new .save {
    background: #FCFAF6;
    border: none;
}

.social_share_new .comment {
    background: #0084ff;
    color: #FCFAF6;
    border: none;
    flex-grow: 1;

    strong {
        font-weight: 400;
    }
}

.article_detail {
    ~.box-tag-topic {
        margin-bottom: 20px;
        padding-bottom: 20px;

        .container {
            display: flex;
        }

        label {
            font-family: var(--font2);
            font-weight: 700;
            padding: 10px;
            font-size: 18px;
            background: #faf1ed;
            margin-right: 40px;
            position: relative;

            &:after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 22px 0 22px 20px;
                border-color: transparent transparent transparent #faf1ed;
                position: absolute;
                top: 0;
                right: -20px;
            }
        }
    }
}

.author_mail p strong {
    font-family: var(--font2);
}

.ykien_vne {
    background: unset;

    .left {
        color: #222222;
        font-size: 24px;
        line-height: 140%;
        font-family: v(font2);
        padding-left: 34px;
        background-image: url('images/icons/star1.svg');
        background-repeat: no-repeat;
        background-position: left center;
    }
}

.filter_coment {
    background: unset;
    text-align: right;

    a.active {
        color: #7043A9 !important;

        &:before {
            display: none;
        }
    }
}

.input_comment textarea {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;

    &::placeholder {
        color: #4F4F4F;
    }
}

.box_comment_vne .btn_send_comment#comment_post_button {
    background: #7043A9 !important;
    border-radius: 2px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.input_comment {
    background: unset;
}

.comment_item.hight_light {
    background: unset;
}

.input_comment .avata_coment {
    width: 44px !important;
    height: 44px !important;

    img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
    }
}

.input_comment span {
    font-size: 14px;
    line-height: 16px;
    color: #222222;
    margin-top: 13px;
}

.btn_send_comment.btn_reset {
    color: #222222 !important;
}

#box_tag {
    background: #F6F7FB;
    padding: 32px 24px;
    margin-bottom: 0;
}

.block_tag {
    padding-left: 100px;

    .txt_tag {
        background: #222222;
        border-radius: 2px 0 0 2px;
        font-size: 18px;
        line-height: 140%;
        color: #fff;
        font-weight: 700;
        font-family: v(font2);
        height: 44px;
        line-height: 44px;
        padding: 0 10px;

        &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 22px 0 22px 20px;
            border-color: transparent transparent transparent #222222;
            position: absolute;
            top: 0;
            right: -20px;
        }
    }

    .tag_item {
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
        border-radius: 2px;
        background: #ffffff;
        padding: 4px 10px;
    }

    .block_scroll {
        margin-right: -24px;
        width: calc(100% + 24px);
        @include hide-scrollbar;
    }

    .list_tag_scroll h3:last-child {
        padding-right: 24px;
    }
}

.section_the_latest {
    background: unset;

    .item-news .title-news {
        font-size: 20px;
    }

    .item-news:not(:last-child) {
        margin-bottom: 24px;
    }
}