@import "var.scss";

body {
    background: #f7f7f7;
}

.wrap-main-nav .container {
    max-width: 1741px;
    padding: 0 10px;
}

.cate_top_video {
    background: var(--white);
    margin-bottom: 38px;
    padding: 21.5px 0;

    .container {
        max-width: 1741px;
        margin: 0 auto;
        padding: 0 10px;
    }

    .head_cate {
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;

        .title_star {
            font-size: 34px;
        }
    }

    .category {
        .cate {
            font-size: 14px;
            font-weight: 400;
            margin: 0 16px;
            display: inline-block;

            img {
                margin-right: 4px;
            }

            a {
                color: var(--gray1);
            }
        }
    }

    .dark_night {
        background: #282828;
        border-radius: 100px;
        color: var(--bg-agray1);
        height: 28px;
        font-size: 12px;
        padding-left: 30px;
        width: 106px;
        line-height: 28px;
        position: relative;
        transition: 0.3s ease;

        &:hover {
            color: #fff;
        }

        &::before {
            content: "";
            background: linear-gradient(22.11deg, #F2709C 6.43%, #FF9472 91.51%);
            border-radius: 50%;
            width: 18px;
            height: 18px;
            position: absolute;
            left: 4px;
            top: 5px;
            transition: 0.3s ease;
        }

        &::after {
            content: "Chế độ tối";
        }

        &.active {
            padding: 0 24px 0 10px;
            background: #FFFFFF;
            color: #222222;

            &::before {
                left: 84px;
                background: linear-gradient(90deg, #FF416C 0%, #FF464C 49.84%, #FF4B2B 100%);
            }

            &::after {
                content: "Chế độ sáng";
            }
        }
    }

    @media (max-width: 860px) {
        .head_cate {
            .title_star {
                display: none;
            }
        }
    }
}

.top_detail {
    max-width: 1741px;
    margin: 0 auto;
    padding: 0 10px;

    .warp_video {
        float: left;
        width: 100%;

        .detail_left {
            width: 70.02%;
            position: relative;
            float: left;

            .thumb_16x9 {
                z-index: 2;
            }

            .icon_thumb {
                position: absolute;
                z-index: 2;
                width: 60px;
                height: 60px;
                background: none;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                svg {
                    color: #fff;
                    width: 60px;
                    height: 60px;
                }
            }

            .overlay-gradient {
                &::before {
                    content: "";
                    background: linear-gradient(0deg, #000000 -11.44%, rgba(0, 0, 0, 0) 83.39%);
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }

        .detail_right {
            width: 29.98%;
            padding: 32px 10px 32px 32px;
            background: var(--white);
            float: right;

            .scroll-wrapper {
                padding-right: 10px !important;
            }

            .ykien_vne {
                font-size: 18px;
            }

            .title {
                font: 600 28px/1.3 var(--font1);
                margin-bottom: 15px;
            }

            .lead_detail {
                color: var(--gray1);
                margin-bottom: 24px;
            }

            .status_social {
                padding-bottom: 22px;
                border-bottom: 1px solid var(--border);
                margin-bottom: 17px;
                justify-content: space-between;
                align-items: center;

                .status {
                    color: var(--gray3);

                    span {
                        font-size: 12px;
                        margin-right: 10px;
                    }
                }

                .social {
                    a {
                        display: inline-block;
                        background: var(--bg-agray1);
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        line-height: 30px;
                        border-radius: 2px;
                        margin-left: 5px;
                    }
                }
            }
        }

        @media (max-width: 1025px) {
            .detail_left {
                width: 65%;
            }

            .detail_right {
                width: 35%;

                .title {
                    font-size: 22px;
                }
            }
        }

        @media (max-width: 860px) {
            .detail_left {
                width: 100%;
            }

            .detail_right {
                width: 100%;

            }
        }
    }
}

.list_video {
    margin-bottom: 33px;

    .item-news {
        margin-bottom: 15px;

        .thumb-art {
            margin-bottom: 0;
            border-radius: 4px 4px 0px 0px;
        }

        .content {
            background: var(--white);
            border-radius: 0px 0px 4px 4px;
            padding: 16px;
        }

        .title-news {
            font: 400 16px/1.3 var(--font1);
            overflow: hidden;
            height: 40px;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
    }
}

.item-news {
    .thumb-art {
        .icon_thumb {
            width: 44px;
            height: 44px;
            line-height: 44px;
        }

        .time {
            right: 10px;
            bottom: 10px;
        }
    }
}

.box_video_hot {
    float: left;
    width: 100%;
    margin-bottom: 15px;

    .space-between {
        margin-bottom: 15px;

        .cate {
            font: 600 16px var(--font1);
        }

        img {
            margin-right: 5px;
        }

        .xem_them {
            background: #F2C94C;
            border-radius: 2px;
            font-size: 12px;
            padding: 0 18px;
            height: 36px;
            line-height: 36px;

            &:hover {
                background: #DFAB0E;
                color: #222
            }
        }
    }

    .wrap {
        background: var(--white);
        border-radius: 4px;
        padding: 24px;
        float: left;
    }

    .item-news {
        .thumb-art {
            width: 554px;
            margin-right: 32px;

            .time {
                right: 16px;
                bottom: 16px;
            }
        }

        .title-news {
            font-size: 24px;
        }

        .status {
            padding-bottom: 22px;
            margin-bottom: 24px;
            border-bottom: 1px solid var(--border);
        }

        .comment {
            color: #fff;
            background: #2F80ED;
            border-radius: 2px;
            font-size: 12px;
            font-weight: 400;
            height: 30px;
            line-height: 30px;
            padding: 0 10px 0 6px;
            display: inline-block;
            vertical-align: text-bottom;

            svg {
                color: #fff;
            }
        }

        @media (max-width: 860px) {
            .thumb-art {
                width: 300px;
            }

            .title-news {
                font-size: 20px;
            }
        }
    }

    &_2 {
        .gird {
            .col-left {
                width: 640px;
                width: calc(100% - 440px);

                .item-news {
                    background: var(--white);
                    border-radius: 4px;
                    padding: 14px 16px;
                    height: 100%;

                    .thumb-art {
                        width: 323px;
                        margin-right: 16px;
                    }

                    .title-news {
                        font-size: 18px;
                    }

                    .time {
                        right: 10px;
                        bottom: 10px;
                    }

                    .status {
                        border-bottom: 0;
                        padding-bottom: 0;
                        margin-bottom: 0;
                        align-items: center;

                        span {
                            margin-right: 10px;
                        }
                    }
                }
            }

            .col-right {
                width: 440px;
                display: flex;
                flex-wrap: wrap;

                .item-news {
                    width: 50%;
                    padding-left: 10px;

                    .thumb-art {
                        width: 100%;
                        margin-bottom: 0;
                    }

                    .content {
                        background: var(--white);
                        padding: 12px 8px;
                        border-radius: 0px 0px 4px 4px;
                    }

                    .title-news {
                        font: 400 14px/1.3 Arial;
                        overflow: hidden;
                        height: 36px;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 2;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                    }

                    .status {
                        border-bottom: 0;
                        padding-bottom: 0;
                        margin-bottom: 0;
                        align-items: center;

                        span {
                            margin-right: 10px;
                        }
                    }
                }
            }

            @media (max-width: 1025px) {
                .col-left {
                    .item-news {
                        .description {
                            display: none;
                        }

                        .comment {
                            margin-top: 5px;
                        }
                    }
                }
            }

            @media (max-width: 860px) {
                .col-left {
                    width: 100%;
                    margin-bottom: 15px;
                }

                .col-right {
                    width: 102%;
                    width: calc(100% + 10px);
                    margin: 0 -5px;

                    .item-news {
                        padding: 0 5px;
                    }
                }
            }
        }

        .sports {
            margin: 0 -8px;

            .col-left {
                width: 50%;
                padding: 0 8px;

                .item-news {
                    .thumb-art {
                        width: 188px;
                    }
                }

            }

            @media (max-width: 860px) {
                .col-left {
                    width: 100%;

                    .item-news {
                        .comment {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}

.box_video_xem_nhieu {
    .item-news {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 24px;
        background: var(--white);
        border-radius: 0px 0px 8px 8px;

        .icon_thumb {
            position: absolute;
            z-index: 2;
            width: 60px;
            height: 60px;
            background: none;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

            svg {
                width: 60px;
                height: 60px;
            }
        }

        .thumb-art {
            width: 656px;
            width: calc(100% - 424px);
            border-radius: 4px 0px 0px 4px;
            margin-right: 0;
        }

        .content {
            width: 424px;
            padding: 24px;
            border-radius: 0px 0px 8px 8px;
        }

        .title-news {
            font-size: 22px;
        }

        .social {
            position: absolute;
            top: 17px;
            right: 24px;
            opacity: 0;

            a {
                display: inline-block;
                background: var(--colormain);
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 29px;
                border-radius: 2px;
                margin-left: 5px;

                svg {
                    color: var(--gray2);
                }
            }
        }

        &:hover {
            .social {
                opacity: 1;
            }
        }

        @media (max-width: 860px) {
            .thumb-art {
                width: calc(100% - 350px);
            }

            .content {
                padding: 15px;
                width: 350px;
            }
        }
    }
}

.banner-center {
    background: rgba(224, 224, 224, 0.2);
    padding: 32px 0;
    text-align: center;
    margin-bottom: 48px;
}

.banner-bottom-home {
    background: var(--white);
}