.wrap-main-nav {
    z-index: 991;
    height: 80px;
    margin-top: 40px;
    transition: 0.3s ease;
    background: none;

    .icon-svg {
        color: var(--gray1);
    }

    &.pin {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        background: #fff;

        &>.container {
            &::before {
                display: none;
            }
        }

        .search-wrap {
            background: #fff;
        }
    }

    .logo {
        width: 190px;
        top: 10px;
        position: absolute;
        margin-bottom: 0;
    }

    &>.container {
        background: rgba(255, 255, 255, 0.8);
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .container {
        max-width: 1600px;
        padding: 0 30px;
    }

    .main-nav {
        width: 100%;
        text-align: center;

        .parent {
            display: flex;
            justify-content: center;
            margin-bottom: 0;

            li {
                display: inline-block;
                position: relative;

                &>a {
                    text-transform: uppercase;
                    font: 400 14px/60px var(--font1);
                    color: var(--gray500);
                    padding: 0 16px;
                    display: block;
                }

                @media (min-width: 992px) {
                    .sub_menu {
                        display: none;
                    }

                    .level2 {
                        background: #fff;
                        margin: 0;
                        position: absolute;
                        top: 60px;
                        display: block !important;
                        z-index: 1001;
                        min-width: 200px;
                        height: 1px;
                        overflow: hidden;
                        clip: rect(1px, 1px, 1px, 1px);
                        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.15);
                        transform: scaleY(0);
                        transform-origin: 0 0 0;
                        transition: all 0.4s ease 0s;
                        text-align: left;

                        a {
                            display: block;
                            font-size: 16px;
                            padding: 15px 12px;
                            height: auto;
                            line-height: 1.4;
                            position: relative;


                            &::after {
                                content: "";
                                position: absolute;
                                height: 1px;
                                background: var(--gray100);
                                bottom: 1px;
                                left: 12px;
                                right: 12px;
                            }

                            &:hover,
                            &.active {
                                &>a {
                                    color: var(--orange);
                                }
                            }

                            &:last-child {

                                &::after,
                                &::before {
                                    display: none
                                }
                            }
                        }
                    }

                    &:hover {
                        .level2 {
                            height: inherit;
                            overflow: visible;
                            visibility: visible;
                            opacity: 1;
                            clip: inherit;
                            transform: scaleY(1);
                        }
                    }
                }

                &.active {
                    a {
                        font-weight: bold;
                        color: #B76E23;
                    }
                }

                &:hover {
                    &>a {
                        color: #B76E23;
                    }
                }
            }
        }
    }

    .right-head {
        position: absolute;
        right: 30px;
        top: 25px;
    }

    .search-btn {
        display: inline-block;
        cursor: pointer;
        height: 19px;
        position: relative;
        margin-right: 20px;

        input {
            display: none;
        }

        button {
            border: 0;
            background: none;
        }

        .icon-svg {
            position: relative;
            display: block;
            width: 18px;
            height: 18px;
            top: 5px;
            -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
            transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        }

        .close {
            width: 11px;
            height: 11px;
            opacity: 0;
        }

        &.is-clicked {
            .icon-svg {
                top: -13px;
                opacity: 0;
            }

            .close {
                opacity: 1;
                top: -8px;
            }
        }
    }

    .language {
        display: inline-block;
        font-family: var(--font1);

        a {
            display: inline-block;
            color: var(--gray500);
            font-size: 14px;
            margin-left: 10px;

            &.active {
                color: #b66326;
                font-weight: bold
            }
        }
    }

    .search-wrap {
        position: absolute;
        width: 100%;
        z-index: 2;
        display: none;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .1);

        .container {
            background: #fff;
        }

        input {
            font-size: 18px;
            height: 45px;
            width: 100%;
            outline: 0;
            border: 0;
            padding: 0;
        }
    }

    @media (max-width: 1600px) {
        .container {
            max-width: 1170px;
            padding: 0 15px;
        }

        .logo {
            width: 180px;
        }

        .main-nav {
            .parent {
                li {
                    a {
                        padding: 0 8px;
                    }
                }
            }
        }
    }

    @media (max-width: 1025px) {
        margin-top: 0;

        .logo {
            width: 140px;
        }

        .main-nav {
            width: auto;
            padding-left: 180px;

            .parent {
                li {
                    a {
                        padding: 0 5px;
                        font-size: 13px;
                    }
                }
            }
        }
    }

    @media (max-width: 991px) {
        height: 55px;
        margin-top: 0;
        border-bottom: 1px solid #eaeaea;
        z-index: 993;
        background: #fff;

        .logo {
            width: 140px;
            left: 50%;
            margin-left: -70px;
            top: 1px;
        }

        .all-menu-tablet {
            display: block;
        }

        .main-nav {
            display: block;
            position: fixed;
            width: 300px;
            background: #111;
            left: 0;
            top: 55px;
            bottom: 0;
            transform: translate(-110%, 0);
            transition: all .3s;
            text-align: left;
            padding-left: 0;

            .parent {
                display: block;

                &>li {
                    width: 100%;
                    margin-left: 0;

                    a {
                        display: block;
                        padding: 0px 20px;
                        font: 400 13px/50px var(--font1);
                        color: #fff;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.4)
                    }

                    .sub_menu {
                        display: block;
                        position: absolute;
                        right: 0;
                        width: 40px;
                        text-align: center;
                        top: 0px;
                        line-height: 52px;
                        font-size: 25px;
                        font-family: -webkit-body;
                        color: #fff;
                    }

                    .level2 {
                        position: static;
                        display: none;
                        background: #fff;
                        border-top: 1px solid #eaeaea;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

                        a {
                            color: #222;
                            border-bottom: 1px solid #dfdfdf;
                        }
                    }

                    &.document {
                        padding-left: 0;

                        &::before {
                            display: none;
                        }
                    }
                }
            }

            &::after {
                width: 100%;
                height: 100vh;
                position: absolute;
                background: rgba(0, 0, 0, .75);
                bottom: -100vh;
                left: 0;
                content: '';
                z-index: -1;
                opacity: 0;
                visibility: hidden;
                transition-duration: 700ms;
                transition-property: all;
                transition-timing-function: cubic-bezier(.7, 1, .7, 1);
            }

            &.show-all-menu {
                transform: translate(0);

                &::after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &.pin {
            .main-nav {
                top: 55px;
            }
        }

        .right-head {
            top: 15px;
            right: 10px;
            .search-btn {
                margin-right: 5px;

                .icon-svg {
                    top: 5px
                }

                &.is-clicked .close {
                    top: -9px;
                }
            }
        }

        .search-wrap {
            top: 55px
        }
    }

    @media (max-width: 480px) {
        .language {
            a {
                margin-left: 5px;
            }
        }
    }
}

.all-menu-tablet {
    float: left;
    width: 50px;
    height: 33px;
    text-align: center;
    margin-left: -15px;
    margin-top: -8px;
    cursor: pointer;
    display: none;

    .hamburger {
        width: 20px;
        height: 2px;
        background: #333;
        display: inline-block;
        position: relative;

        &:before,
        &:after {
            content: '';
            width: 20px;
            height: 2px;
            background: #333;
            position: absolute;
            left: 0;
        }

        &:before {
            top: 6px;
        }

        &:after {
            top: 12px;
        }
    }

    &.close-menu-tablet {
        padding-top: 5px;

        .hamburger {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);

            &:before {
                display: none;
            }

            &:after {
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                top: 0;
            }
        }
    }

}