$thethao_color: #58a12b;
$color_dulieubongda: #66C631;
$vne_color: #9F224E;
$url: "images" !default;
/*background: url("#{$url}/graphics/demo.gif") no-repeat 0 0;*/

$vleague1:#CE2127;
$premier:#4FF1FE;
$champoins:#030646;
$euopa:#000;
$laliga:#0C1B23;
$seriea:#008FD7;
$bundesliga:#D20515;
$ligue:#091C3E;
$font-title: 'Bai Jamjuree', sans-serif;

@font-face {
	font-family: 'Bai Jamjuree';
	src: url('fonts/BaiJamjuree-Bold.eot');
	src: local('☺'), url('fonts/BaiJamjuree-Bold.woff') format('woff'), url('fonts/BaiJamjuree-Bold.ttf') format('truetype'), url('fonts/BaiJamjuree-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

%flexbox{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.icon-live{
    width: 33px;
    height: 24px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    background: #59C541;
    border-radius: 4px;
    @extend %flexbox;
    align-items: center;
    justify-content: center;
}
/*section-giaidau*/
.menu-giaidau{
    .inner-menu-giaidau{
        overflow-y: hidden;
        overflow-x: auto;
        scroll-behavior: smooth;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
        @extend %flexbox;
        border-bottom: 8px solid $color_dulieubongda;
        &.vleague1{
            border-color: $vleague1;
        }
        &.premier{
            border-color: $premier;
        }
        &.champoins{
            border-color: $champoins;
        }
        &.euopa{
            border-color: $euopa;
        }
        &.laliga{
            border-color: $laliga;
        }
        &.seriea{
            border-color: $seriea;
        }
        &.bundesliga{
            border-color: $bundesliga;
        }
        &.ligue{
            border-color: $ligue;
        }
    }
    .item-giaidau{
        width: 80px;
        height: 80px;
        @extend %flexbox;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        flex-direction: column;
        border-right:  0.5px solid #4C5979;
        .ic{
            margin-bottom: 6px;
            width: 20px;
            height: 20px;
        }
        &.active{
            background: $color_dulieubongda;
            color: #fff;
            .ic{
                fill:#fff;
            }
            img.default{
                display: none;
            }
            img.active{
                display: block;
            }
        }
    }  
    .vleague1{
        &.active{
            background: $vleague1;
        }
    }
    .premier{
        &.active{
            background: $premier;
        }
    }
    .champoins{
        &.active{
            background: $champoins;
        }
    }
    .euopa{
        &.active{
            background: $euopa;
        }
    }
    .laliga{
        &.active{
            background: $laliga;
        }
    }
    .seriea{
        &.active{
            background: $seriea;
        }
    }
    .bundesliga{
        &.active{
            background: $bundesliga;
        }
    }
    .ligue{
        &.active{
            background: $ligue;
        }
    }
    img.active{
        display: none;
    }
}
/*End section-giaidau*/

/*block*/
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}
details summary ~ * {
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}
summary{
    position: relative;
	&:before{
		content: '';
		width: 10px;
		height: 10px;
		border-right: 2px solid #4C5979;
		border-bottom: 2px solid #4C5979;
		transform: rotate(45deg);
		position: absolute;
		right: 16px;
		top: 20px;
		z-index: 2;
		transition: all .4s ease-in-out;
	}
	&:after{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		background: #fff;
        border-radius: 5px 5px 0 0;
	}
}
details[open] > summary:before{
	transform: rotate(-136deg);
	top: 26px;
}
.section-blocks-thidau{
    background: $color_dulieubongda;
}
.block{
    box-shadow: 0px 2px 4px rgba(95, 95, 95, 0.5);
    margin-bottom: 8px;
    color: #38404D;
    background: #fff;
}
.block-sub{
    box-shadow: none;
    width: calc(100% + 32px);
    margin: 0 -16px;
    padding-top: 0;
    .content-block{
        border-bottom: 0.5px solid #AEB4C4;
    }
    /*&:last-of-type{
        .header-block{
            border-top: 0px solid #AEB4C4;
        }
    }*/
}
.header-block{
    border-bottom: 0.5px solid #AEB4C4;
    padding: 15.5px 16px;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    font-family: $font-title;
    @extend %flexbox;
    .icon{
        margin-right: 8px;
        width: 32px;
        height: 32px;
        @extend %flexbox;
        align-items: center;
        img{
            float: left;
        }
        .ic{
            width: 18px;
            height: 18px;
        }
    }
    .text{
        position: relative;
        z-index: 2;
    }
}
.inner-header-block{
    position: relative;
    left: -17px;
    z-index: 2;    
    margin-right: 8px;
    @extend %flexbox;
    align-items: center;
}
.content-block{
    padding: 20px 16px 10px;
}
.has-block-sub{
    padding-top: 0;
    padding-bottom: 0;
}
.header-giaidau{
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    .avatar{
        width: 32px;
        height: 32px;
        margin-right: 8px;
        img{
            float: left;
        }
    }
}
.vongdau{
    width: calc(100% + 32px);
    float: left;
    text-align: center;
    border-bottom: 0.5px solid #AEB4C4;
    margin: 0 -16px 16px;
    padding: 0 16px 8px;
    &:last-of-type{
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0;
    }
}
.text-vongdau{
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 1.5;
}
.doidau{
    min-height: 48px;
    border: 0.5px solid #AEB4C4;
    box-shadow: 0px 1px 0px rgba(76, 89, 121, 0.1), 1px 2px 6px rgba(76, 89, 121, 0.05);
    border-radius: 8px;
    border-left: 6px solid $color_dulieubongda;
    padding: 2px 0;
    position: relative;
    margin-bottom: 12px;
    .time{
        font-size: 11px;
        position: absolute;
        left: 1px;
        top: 1px;
    }
    &.lichdau{
        border-left: 1px solid #AEB4C4;
    }
}
.ti-so{
    width: 48px;    
    margin: 0 8px;
    font-size: 16px;
    font-weight: bold;
    @extend %flexbox;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .text-hiep{
        font-size: 10px;
        font-weight: normal;
    }
}
.doibong{
    align-items: center;
    .avatar{
        img{
            float: left;
        }
    }    
}
.doi-1{
    width: calc(50% - 42px);
    justify-content: flex-end;
    .avatar{
        margin-left: 8px;
    }
}
.doi-2{
    width: calc(50% - 42px);
    .avatar{
        margin-right: 8px;
    }
}
/*End block*/

/*select date*/
%prev-next{
    width: 7px;
    height: 7px;
    border-top: 2px solid #4C5979;
    border-right: 2px solid #4C5979;
    position: absolute;
    left: 50%;
    top: 50%;
}

.select-date{
    width: 188px;
    height: 32px;
    line-height: 32px;
    margin: 0 auto 16px;
    position: relative;
    text-align: center;
    padding: 0 28px;
    background: #FFFFFE;
    border: 0.5px solid #4C5979;
    border-radius: 6px;
    .left{
        width: 28px;
        height: 32px;
        position: absolute;
        left: 0;
        top: -1px;
        border-right: 0.5px solid #4C5979;
        .prev{
            @extend %prev-next;
            transform: translate(-20%, -50%) rotate(-135deg);
        }
    }
    .right{
        width: 28px;
        height: 32px;
        position: absolute;
        right: 0;
        top: -1px;
        border-left: 0.5px solid #4C5979;
        .next{
            @extend %prev-next;
            transform: translate(-80%, -50%) rotate(45deg);
        }
    }
}
/*End select date*/
.wrap-readmore{
    text-align: center;
    clear: both;
    margin: 4px 0 10px;
}
.readmore{
    width: 100px;
    height: 32px;
    line-height: 30px;
    margin: 0 auto;
    border: 0.5px solid #4C5979;
    border-radius: 6px;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    .icon{
        @extend %prev-next;
        transform:rotate(45deg);
        display: inline-block;
        position: static;
        margin-left: 8px;
    }
}

/**TRANG GIAI DAU**/
.select-opt{
    position: relative;
    font: 400 12px arial;
    .label-op-active{
        outline: none;
        height: 32px;
        line-height: 32px;
        background: #FFFFFE;
        border: 0.5px solid #4C5979;
        border-radius: 6px;
        padding: 0 30px 0 8px;
        position: relative;
        span{position: absolute;z-index: 2;right: 32px;}
        &:before{
            border-right: 2px solid #AEB4C4;
            border-bottom: 2px solid #AEB4C4;
            right: 8px;
            top: 6px;
        }
        &:after{
            border-radius: 6px;
        }

    }
    .sub-select-op{
        position: absolute;
        top: 32px;
        z-index: 3;
        right: 0;
        width: 100%;
        background: #FFFFFE;
        border: 0.5px solid #4C5979;
        box-sizing: border-box;
        padding: 8px;
        box-shadow: 0px 1px 0px rgba(76, 89, 121, 0.1),
        1px 2px 6px rgba(76, 89, 121, 0.05);
        a{
            display: block;
            width: 100%;
            padding: 8px 0;
            text-align: center;
            float: left;
            line-height: 24px;
            &.active{
                font-weight: 700;
            }
        }
    }
    
}
.select-opt[open] {
    .label-op-active{
        &:before{
            top: 13px;
        }
    }
}

.header-block-giaidau{
    align-items: center;
    padding: 7.5px 16px;
 .inner-header-block{
     left: 0;
 }
 
    .icon{
        width: 56px;height: 56px;
        img{width: 100%;}
    }
 
 .select-op-year{
    margin-left: auto; 
    width: 105px;
 }
}

/*submenu-giaidau*/
.submenu-giaidau{
    padding: 15px 0;
    .inner-submenu-giaidau {
        overflow-y: hidden;
        overflow-x: auto;
        scroll-behavior: smooth;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
        @extend %flexbox;
    }
    .item-submenu{
        min-width: 80px;
        text-align: center;
        background: #FFFFFE;
        border: 0.5px solid #AEB4C4;
        border-radius: 6px;
        margin: 0 8px 0 0;
        display: block;
        color:#38404D;
        font-size: 14px;
        line-height: 21px;
        font-weight: 700;
        padding: 5px 20px;
        white-space: nowrap;
        &:first-of-type{
            margin-left: 15px;
        }
        &:last-of-type {
            margin-right: 15px;
        }
        .ic{
            fill: #38404D;
        }
    }
}