$thethao_color: #58a12b;
$vne_color: #9F224E;
$url: "images" !default;
/*background: url("#{$url}/graphics/demo.gif") no-repeat 0 0;*/

/*Apply color suckhoe*/
.title_box_category{    
  .text_title_box{
    color: $thethao_color;
  }
  .text_title_box::before{

    background: $thethao_color;

  }
}
.menu_bread{
    li{
        &.start{
            a{color: $thethao_color;}        
        }
    }  
}
/**THE THAO PAGE**/
/*thidau_ketqua_column_box*/

.thumb_5x5 {
  padding-bottom: 100%;
  display: block;
  overflow: hidden;
  height: 1px;
  position: relative;
  width: 100%;
}

#thidau_ketqua_column_box {
    padding: 10px;
  color: #333;
  width: 100%;
    float: left;
    background: #f7f7f7;
  /*margin:0 auto;*/ position: relative;
  /*& + article {
    padding-top: 0;
  }*/
  .owl-nav {
    > div {
      width: 16px;
      height: 16px;
      font-size: 0;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
    .owl-prev {
      background: url(images/graphics/result_prev.png) no-repeat center;      
      left: 0;
      &.disabled {
        opacity: 0.5;
      }
    }
    .owl-next {
      background: url(images/graphics/result_next.png) no-repeat center;      
      right: 0;
      &.disabled {
        opacity: 0.5;
      }
    }
  }
  .list_items {
    
    float: left;width:100%;
    .item {
      
      position: relative; overflow: hidden;
      &_sublist {
        float: left; width: 100%; 
         a {
            
          }
        .league_type {
    
          margin-bottom: 5px; display: inline-block; font: 700 12px arial;width: 100%;
            &.type_giai{margin-bottom: 0; margin-top: 5px; font-size: 11px; color: #666; font-weight: 400;
                .round_giai{color: #999;}
            } 
            .ic-live{font-size: 12px; font-weight: 700; color: $vne_color;
                &:before{width: 12px;height: 12px;}
            }
            
          }
        &_item {
         
          text-align: center;float: left;width: 100%;
          &:not(:last-child) {
            border-bottom: 1px solid #eee;
          }
          [class*="clb_"] {
            width: 38%;
            float: left;
            .name {
              margin-top: 7px;
              color: #333;
              font-weight: 400; 
              font-size: 14px;
              
              width: calc(100% - 40px);
              float: left;
              display: table-cell;
              vertical-align: middle;
              height: 32px;
              position: relative;
              margin-top: 0;
              span {
                max-width: 100%;
                position: absolute;
                top: 50%;
                left: 0;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            .thumb_images {
              width: 32px;
              img {
                width: 32px;
              }
            }

          }
           .clb_1 {
            text-align: right;
              .thumb_images {
              float: right;
              margin-left: 8px;
            }
            .name {
              float: right;
              span {
                left: auto; right: 0;
              }
            }

            }
            .clb_2 {
              text-align: left;
              .thumb_images {
              float: left;
              margin-right: 8px;
            }


            }
          .time {
            width: 24%;
            float: left;
            text-align: center;
            font-size: 22px;
            &.score {
              margin-top: 3px;
            }
            .before_match {
              display: inline-block;
              padding: 3px 10px;
              background-color: #999;
              font-size: 16px; color: #fff; font-weight: 700;
              border-radius: 4px;
                &.fulltime{background: #58a12b;}
              }
            .minute {
              font-size: 12px;
              position: relative;
              top: -14px;
              color: #fff;
              &.live {
                color: #fff;
              }
              &:after {
                content: "";
                height: 2px;
                width: 6px;
                background-color: #eed609;
                position: absolute;
                left: 0; right: 0; margin: auto;
                  bottom: -5px;
              }
            }

            strong {
              font-size: 23px;
              color: #eed609;
            }
          } 
          
        }
      }
      
    }
    
  }
}


