<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>
        <!-- build:title -->
    </title>
    <link type="image/x-icon" href="http://ssl.gstatic.com/docs/doclist/images/infinite_arrow_favicon_5.ico"
        rel="shortcut icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=vietnamese"
        rel="stylesheet">
    <!-- build:head2 -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" media="all" /> -->
    <link rel="stylesheet" href="css/style.css" media="all" />
    <!-- build:head -->
</head>

<body class="homepage">
    <header id="header" class="section sticky header header-mobile">
        <div class="btn_control_menu">
            <svg class="icon-svg">
                <use xlink:href="images/icons/icon.svg#hamburger"></use>
            </svg>
        </div>
        <a class="img_logo" href="">
            <img src="images/graphics/logo.svg">
        </a>
        <div class="header__right">
            <button id="auto_search_button" type="submit" value="">
                <svg class="icon-svg">
                    <use xlink:href="images/icons/icon.svg#search"></use>
                </svg>
            </button>
            <a class="close-search">
                <svg class="icon-svg">
                    <use xlink:href="images/icons/icon.svg#close"></use>
                </svg>
            </a>
            <div class="block_search section">
                <form id="search" class="search" action="" method="get">
                    <input class="search-input onclick-togle" type="text" name="q" placeholder="Tìm kiếm trên ThinkPro"
                        autocomplete="off" maxlength="50">
                    <button type="submit" class="search-button">
                        <svg class="icon-svg">
                            <use xlink:href="images/icons/icon.svg#search"></use>
                        </svg>
                    </button>
                    <div class="suggest-search">
                        <div class="suggest-product">
                            <label>Laptop</label>
                            <div class="items">
                                <a class="ava" href="">
                                    <img src="images/graphics/sp1.jpg">
                                </a>
                                <div class="content">
                                    <h3 class="name">
                                        <a href="#">Dell XPS 13 7390 (2019)</a>
                                    </h3>
                                    <div class="prie">Giá từ <strong>27.990.000đ</strong></div>
                                </div>
                            </div>
                            <div class="items">
                                <a class="ava" href="">
                                    <img src="images/graphics/sp2.jpg">
                                </a>
                                <div class="content">
                                    <h3 class="name">
                                        <a href="#">Dell XPS 13 7390 (2019)</a>
                                    </h3>
                                    <div class="prie">Giá từ <strong>27.990.000đ</strong></div>
                                </div>
                            </div>
                            <hr>
                            <label>Phụ kiện</label>
                            <div class="items">
                                <a class="ava" href="">
                                    <img src="images/graphics/pk1.jpg">
                                </a>
                                <div class="content">
                                    <h3 class="name">
                                        <a href="#">Dell XPS 13 7390 (2019)</a>
                                    </h3>
                                    <div class="prie">Giá từ <strong>27.990.000đ</strong></div>
                                </div>
                            </div>
                            <div class="items">
                                <a class="ava" href="">
                                    <img src="images/graphics/pk2.jpg">
                                </a>
                                <div class="content">
                                    <h3 class="name">
                                        <a href="#">Dell XPS 13 7390 (2019)</a>
                                    </h3>
                                    <div class="prie">Giá từ <strong>27.990.000đ</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="gio-hang">
                <a href="javascript:;" class="onclick">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#cart"></use>
                    </svg>
                    <b class="fs-cartic countTotalCart">3</b>
                </a>
                <div class="wrap-fill">
                    <div class="title">
                        <strong>2 sản phẩm</strong> trong giỏ hàng
                        <a href="javascript:;" class="close">×</a>
                    </div>
                    <ul>
                        <div class="note" style="display: none">Bạn chưa có sản phẩm nào trong giỏ hàng</div>
                        <div class="list">
                            <div class="items">
                                <div class="ava">
                                    <a href="#">
                                        <img src="images/graphics/sp1.png">
                                    </a>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Razer Blade 15" 2019 - Hàng chính hãng</a></h3>
                                    <span class="prie red">27.990.000đ</span>
                                </div>
                            </div>
                            <div class="items">
                                <div class="ava">
                                    <a href="#">
                                        <img src="images/graphics/sp1.png">
                                    </a>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Razer Blade 15" 2019 - Hàng chính hãng</a></h3>
                                    <span class="prie red">27.990.000đ</span>
                                </div>
                            </div>
                        </div>
                        <div class="btn-bottom">
                            <a class="buy btn" href="#">Giỏ hàng</a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>

    </header>
    <!--HEADER-->
    <header class="fs-header header-pc sticky">
        <div class="f-hdtop">
            <div class="container f-wrap">
                <a class="fs-logo" href="/" title="">
                    <img src="images/graphics/logo.svg">
                </a>
                <div class="fs-search">
                    <form action="" method="get" id="search" class="action-wrap search">
                        <input class="fs-stxt onclick-togle search-input" type="text" name="q"
                            placeholder="Tìm kiếm trên ThinkPro" autocomplete="off" maxlength="50">
                        <div class="suggest-search">
                            <div class="suggest-product">
                                <h3 class="key">Laptop</h3>
                                <div class="items">
                                    <a href="#" class="ava">
                                        <img src="images/graphics/sp1.jpg">
                                    </a>
                                    <h3 class="name">
                                        <a href="#">Dell XPS 13 7390 (2019)</a>
                                    </h3>
                                    <span class="prie">27.990.000đ</span>
                                </div>
                                <div class="items">
                                    <a href="#" class="ava">
                                        <img src="images/graphics/sp2.jpg">
                                    </a>
                                    <h3 class="name">
                                        <a href="#">Dell XPS 13 7390 (2019)</a>
                                    </h3>
                                    <span class="prie">27.990.000đ</span>
                                </div>
                                <hr>
                                <h3 class="key">Phụ kiện</h3>
                                <div class="items">
                                    <a href="#" class="ava">
                                        <img src="images/graphics/pk1.jpg">
                                    </a>
                                    <h3 class="name">
                                        <a href="#">Dell XPS 13 7390 (2019)</a>
                                    </h3>
                                    <span class="prie">27.990.000đ</span>
                                </div>
                                <div class="items">
                                    <a href="#" class="ava">
                                        <img src="images/graphics/pk2.jpg">
                                    </a>
                                    <h3 class="name">
                                        <a href="#">Dell XPS 13 7390 (2019)</a>
                                    </h3>
                                    <span class="prie">27.990.000đ</span>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="search-button">
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#search"></use>
                            </svg>
                        </button>
                    </form>
                </div>
                <ul class="fs-hdmn">
                    <h3 class="lbl-title">Tin tức</h3>
                    <li class="new">
                        <a href="/tin-tuc" title="">
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#clipboard-notes1"></use>
                            </svg>
                            <span class="cart-count">2</span>
                        </a>
                        <div class="wrap-fill">
                            <ul>
                                <li>
                                    <div class="content">
                                        <span class="tag">#Tuyendung</span>
                                        <span class="time">1 phút</span>
                                        <p>ThinkPro tuyển dụng nhiều vị trí</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <span class="tag">#Khuyenmai</span>
                                        <span class="time">1 phút</span>
                                        <p>Thinhpro tưng bừng khuyến mãi chào mừng Khai trương cơ sở mới tại 31...</p>
                                    </div>
                                </li>
                                <li class="active">
                                    <div class="content">
                                        <span class="tag">#Tuyendung</span>
                                        <span class="time">1 phút</span>
                                        <p>ThinkPro tuyển dụng nhiều vị trí</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <span class="tag">#Khuyenmai</span>
                                        <span class="time">1 phút</span>
                                        <p>Thinhpro tưng bừng khuyến mãi chào mừng Khai trương cơ sở mới tại 31...</p>
                                    </div>
                                </li>
                                <a class="view-all">Xem tất cả cập nhật
                                    <svg class="icon-svg">
                                        <use xlink:href="images/icons/icon.svg#arrow-right">
                                        </use>
                                    </svg>
                                </a>
                            </ul>
                        </div>
                    </li>

                    <li class="notifi">
                        <a href="/ffriends" title="ffriends">
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#notifi"></use>
                            </svg>
                            <span class="cart-count">2</span>
                        </a>
                        <div class="wrap-fill">
                            <ul>
                                <li>
                                    <svg class="icon-svg">
                                        <use xlink:href="images/icons/icon.svg#location-pin-alt1"></use>
                                    </svg>
                                    <div class="content">
                                        <span class="tag">#CapNhatDonHang</span>
                                        <span class="time">1 phút</span>
                                        <p>Đơn hàng đã đến tay bạn. Cảm ơn bạn đã mua hàng. Chúc bạn có trải nii...</p>
                                    </div>
                                </li>
                                <li class="active">
                                    <svg class="icon-svg">
                                        <use xlink:href="images/icons/icon.svg#truck1"></use>
                                    </svg>
                                    <div class="content">
                                        <span class="tag">#CapNhatDonHang</span>
                                        <span class="time">1 phút</span>
                                        <p>Đơn hàng đã đến tay bạn. Cảm ơn bạn đã mua hàng. Chúc bạn có trải nii...</p>
                                    </div>
                                </li>
                                <li>
                                    <svg class="icon-svg">
                                        <use xlink:href="images/icons/icon.svg#envelope-star1"></use>
                                    </svg>
                                    <div class="content">
                                        <span class="tag">#CapNhatDonHang</span>
                                        <span class="time">1 phút</span>
                                        <p>Đơn hàng đã đến tay bạn. Cảm ơn bạn đã mua hàng. Chúc bạn có trải nii...</p>
                                    </div>
                                </li>
                                <li>
                                    <svg class="icon-svg">
                                        <use xlink:href="images/icons/icon.svg#asterisk1"></use>
                                    </svg>
                                    <div class="content">
                                        <span class="tag">#CapNhatDonHang</span>
                                        <span class="time">1 phút</span>
                                        <p>Đơn hàng đã đến tay bạn. Cảm ơn bạn đã mua hàng. Chúc bạn có trải nii...</p>
                                    </div>
                                </li>
                                <li>
                                    <svg class="icon-svg">
                                        <use xlink:href="images/icons/icon.svg#chat"></use>
                                    </svg>
                                    <div class="content">
                                        <span class="tag">#CapNhatDonHang</span>
                                        <span class="time">1 phút</span>
                                        <p>Đơn hàng đã đến tay bạn. Cảm ơn bạn đã mua hàng. Chúc bạn có trải nii...</p>
                                    </div>
                                </li>
                                <li>
                                    <svg class="icon-svg">
                                        <use xlink:href="images/icons/icon.svg#gift1"></use>
                                    </svg>
                                    <div class="content">
                                        <span class="tag">#CapNhatDonHang</span>
                                        <span class="time">1 phút</span>
                                        <p>Đơn hàng đã đến tay bạn. Cảm ơn bạn đã mua hàng. Chúc bạn có trải nii...</p>
                                    </div>
                                </li>
                                <a class="view-all">Xem tất cả thông báo
                                    <svg class="icon-svg">
                                        <use xlink:href="images/icons/icon.svg#arrow-right">
                                        </use>
                                    </svg>
                                </a>
                            </ul>
                        </div>
                    </li>
                    <li class="gio-hang">
                        <a href="/gio-hang-v2" title="">
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#cart"></use>
                            </svg>
                            <span class="cart-count">2</span>
                        </a>
                        <div class="wrap-fill">
                            <ul>
                                <div class="note center" style="display: none"><strong>Bạn chưa có sản phẩm nào trong
                                        giỏ hàng</strong>
                                </div>
                                <div class="note"><strong>2 sản phẩm</strong> trong giỏ hàng</div>
                                <div class="list">
                                    <div class="items">
                                        <div class="ava">
                                            <a href="#">
                                                <img src="images/graphics/sp1.png">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h3><a href="#">Razer Blade 15" 2019</a></h3>
                                            <span class="prie">27.990.000đ</span>
                                        </div>
                                    </div>
                                    <div class="items">
                                        <div class="ava">
                                            <a href="#">
                                                <img src="images/graphics/sp1.png">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h3><a href="#">Razer Blade 15" 2019</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-bottom">
                                    <strong>Giỏ hàng:</strong>
                                    <strong>24.000.000 đ</strong>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <li class="user">
                        <a href="/gio-hang-v2" title="">
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#user"></use>
                            </svg>
                        </a>
                        <div class="wrap-fill">
                            <ul>
                                <li>
                                    <h3><a href=""><i class="iconfont-user"></i>Tài khoản</a></h3>
                                </li>
                                <li>
                                    <h3><a href=""><i class="iconfont-notes1"></i>Quản lý đơn hàng</a></h3>
                                </li>
                                <li>
                                    <h3><a href=""><i class="iconfont-history1"></i>Lịch sử mua hàng</a></h3>
                                </li>
                                <li>
                                    <h3><a href=""><i class="iconfont-shield-check1"></i>Kiểm tra bảo hành</a></h3>
                                </li>
                                <li>
                                    <h3><a href=""><i class="iconfont-exit1"></i>Thoát</a></h3>
                                </li>
                                <li class="before-login">
                                    <h3>
                                        <a class="login" href=""><i class="iconfont-login"></i>Đăng nhập</a>
                                        <a href="">Đăng ký</a>
                                    </h3>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!--END HEADER-->

    <!-- build:content -->

    <!--FOOTER-->
    <footer>
        <div class="container">
            <div class="footer-top flex">
                <a class="fs-logo" href="/" title="">
                    <img src="images/graphics/logo2.svg">
                </a>
                <div class="fs-right">
                    <div class="hotline">
                        <span>Hotline</span>
                        <strong>1900.63.3579</strong>
                    </div>
                    <div class="social">
                        <ul>
                            <li>
                                <a href="#">
                                    <svg class="icon-svg">
                                        <use xlink:href="images/icons/icon.svg#youtube">
                                        </use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="icon-svg">
                                        <use xlink:href="images/icons/icon.svg#fb">
                                        </use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="icon-svg">
                                        <use xlink:href="images/icons/icon.svg#ig">
                                        </use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-wrapper flex">
                <h2 class="title-mobile"><span>Sản phẩm và dịch vụ</span></h2>
                <ul class="primary-links">
                    <li class="primary-links__list-item">
                        <h2 class="title-pc"><span>Sản phẩm và dịch vụ</span></h2>
                        <ul>
                            <li><a href="#" title="#">Laptop DELL</a></li>
                            <li><a href="#" title="#">Laptop HP</a></li>
                            <li><a href="#" title="#">Laptop ThinkPad</a></li>
                            <li><a href="#" title="#">Alienware</a></li>
                            <li><a href="#" title="#">Laptop Lenovo</a></li>
                            <li><a href="#" title="#">Laptop Razer</a></li>
                        </ul>
                    </li>
                    <li class="primary-links__list-item">
                        <ul>
                            <li><a href="#" title="#">Alienware</a></li>
                            <li><a href="#" title="#">Macbook</a></li>
                            <li><a href="#" title="#">Laptop Razer</a></li>
                            <li><a href="#" title="#">Phụ kiện</a></li>
                        </ul>
                    </li>
                    <li class="primary-links__list-item">
                        <h2><span>Chính sách</span></h2>
                        <ul>
                            <li><a href="#" title="#">Bảo hành</a></li>
                            <li><a href="#" title="#">Vận chuyển</a></li>
                            <li><a href="#" title="#">Thanh toán</a></li>
                        </ul>
                    </li>
                    <li class="primary-links__list-item">
                        <h2><span>Về ThinkPro</span></h2>
                        <ul>
                            <li><a href="#" title="#">Lịch sử thành lập</a></li>
                            <li><a href="#" title="#">Giá trị cốt lõi</a></li>
                            <li><a href="#" title="#">Tầm nhìn</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="blog-content">
                    <h2><span>Hệ thống cửa hàng</span></h2>
                    <ul class="flex">
                        <li>
                            <div class="city">Hà Nội:</div>
                            <div class="address">105/562 Đường Láng, Đống Đa
                                69 Phố Vọng, Q. Hai Bà Trưng</div>
                            <a href="#" class="map">Chỉ đường</a>
                            <div class="address mt15">69 Phố Vọng, Q. Hai Bà Trưng</div>
                            <a href="#" class="map">Chỉ đường</a>

                        </li>
                        <li>
                            <div class="city">TP. Hồ Chí Minh:</div>
                            <div class="address">62 Duy Tân, P. 15, Phú Nhuận</div>
                            <a href="#" class="map">Chỉ đường</a>
                        </li>
                    </ul>
                </div>
                <div class="down-up">
                    <a href="javascript:" class="lbl sub-icon down">Thông tin khác</a>
                    <div class="level2" style="display: none;">
                        <h2><span>Hệ thống cửa hàng</span></h2>
                        <div class="flex">
                            <ul>
                                <li><a href="#" title="#">Laptop DELL</a></li>
                                <li><a href="#" title="#">Laptop HP</a></li>
                                <li><a href="#" title="#">Laptop ThinkPad</a></li>
                                <li><a href="#" title="#">Alienware</a></li>
                                <li><a href="#" title="#">Laptop Lenovo</a></li>
                                <li><a href="#" title="#">Laptop Razer</a></li>
                            </ul>
                            <ul>
                                <li><a href="#" title="#">Laptop DELL</a></li>
                                <li><a href="#" title="#">Laptop HP</a></li>
                                <li><a href="#" title="#">Laptop ThinkPad</a></li>
                                <li><a href="#" title="#">Alienware</a></li>
                            </ul>
                        </div>
                        <div class="flex">
                            <ul>
                                <h2><span>Chính sách</span></h2>
                                <li><a href="#" title="#">Bảo hành</a></li>
                                <li><a href="#" title="#">Vận chuyển</a></li>
                                <li><a href="#" title="#">Thanh toán</a></li>
                            </ul>
                            <ul>
                                <h2><span>Về ThinkPro</span></h2>
                                <li><a href="#" title="#">Lịch sử thành lập</a></li>
                                <li><a href="#" title="#">Giá trị cốt lỗi</a></li>
                                <li><a href="#" title="#">Tầm nhìn</a></li>
                                <li><a href="#" title="#">Sứ mệnh</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="extra-content">
                <div class="copy_right">
                    Copyright (C) 2020
                    <p>Công ty TNHH Công nghệ Think Việt Nam | Số ĐKKD 0107273909 do Sở KHĐT Thành phố Hà Nội cấp ngày
                        30/12/2015</p>
                </div>
                <a class="bct" href="#">
                    <img src="images/graphics/bocongthuong.png" />
                </a>
            </div>
        </div>
    </footer>
    <!--END FOOTER-->
    <!--MAIN MENU-->
    <nav id="main_menu" class="main--menu">
        <ul class="main--menu__nav">
            <li class="active">
                <h3>
                    <a href="javascript:" class="sub-icon down"><i class="iconfont-user"></i>Tải khoản</a>
                    <ul class="level2">
                        <li class="before-login">
                            <h3>
                                <a class="login" href=""><i class="iconfont-login"></i>Đăng nhập</a>
                                <a href="">Đăng ký</a>
                            </h3>
                        </li>
                    </ul>
                </h3>
            </li>
            <li>
                <h3><a href=""><i class="iconfont-notifi"></i>Thông báo</a><span class="number">1</span></h3>
            </li>
            <li>
                <h3><a href=""><i class="iconfont-news"></i>Tin tức</a><span class="number">9+</span></h3>
            </li>
            <li>
                <h3><a href=""><i class="iconfont-clipboard-notes1"></i>Cập nhật mới</a></h3>
            </li>
            <li>
                <h3>
                    <a href="javascript:" class="sub-icon down"><i class="iconfont-cart"></i>Quản lý đơn hàng</a>
                    <ul class="level2">
                        <li>
                            <h3><a href=""><i class="iconfont-history1"></i>Lịch sử mua hàng</a></h3>
                        </li>
                        <li>
                            <h3><a href=""><i class="iconfont-shield-check1"></i>Kiểm tra bảo hành</a></h3>
                        </li>
                    </ul>
                </h3>
            </li>
        </ul>
        <div class="fs-right">
            <div class="hotline">
                <span>Hotline</span>
                <strong>1900.63.3579</strong>
            </div>
            <div class="social">
                <ul>
                    <li>
                        <a href="#">
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#youtube">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#fb">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#ig">
                                </use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--END MAIN MENU-->

    <!--Back to top-->
    <div class="fixed_toptop">
        <a href="javascript:;" id="comment-left">
            <svg class="icon-svg">
                <use xlink:href="images/icons/icon.svg#chat"></use>
            </svg>
        </a>
        <a href="javascript:;" class="hotline">
            <svg class="icon-svg">
                <use xlink:href="images/icons/icon.svg#phone1"></use>
            </svg>
        </a>
        <a href="javascript:;" id="to_top">
            <svg class="icon-svg">
                <use xlink:href="images/icons/icon.svg#arrow-up"></use>
            </svg>
        </a>
    </div>

    <!-- CHAT BOT -->
    <div class="suport-team active">
        <div class="txt_16 center medium head">
            Chat với chuyên gia
            <a class="close-chat"><i class="iconfont-arrow-right"></i></a>
        </div>
        <!-- Khảo sát -->
        <div class="survey-chat" style="display: none">
            <div class="notifi">
                Phiên chat đã kết thúc.</br> Bạn đánh giá thế nào về cuộc trò </br> chuyện vừa rồi?
            </div>
            <div class="vote-smile">
                <a href="#">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#sad-cry1"></use>
                    </svg>
                    <span>Không hài lòng</span>
                </a>
                <a href="#">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#meh1"></use>
                    </svg>
                    <span>Bình thường</span>
                </a>
                <a href="#">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#smile-beam1"></use>
                    </svg>
                    <span>Hài lòng</span>
                </a>
            </div>
            <a class="btn btn-default" href="javascript:;">Xong</a>
        </div>
        <!-- Nội dung chát -->
        <div class="content-chat">
            <div class="admin-active">
                <ul class="list">
                    <li class="online"><a href="javascript:;">ML</a></li>
                    <li class="online active"><a href="javascript:;">TN</a></li>
                    <li class="online"><a href="javascript:;">LT</a></li>
                    <li class="offline"><a href="javascript:;">TĐ</a></li>
                    <li class="offline"><a href="javascript:;">HN</a></li>
                </ul>
            </div>
            <div class="scrollbar-inner">
                <p class="date center">10/2/2020, lúc 6:00</p>
                <div class="admin-reply">
                    <div class="content-chat__tl">
                        <div class="reply">Thinkpro xin chào bạn</div>
                    </div>
                </div>
                <div class="user-reply">
                    <div class="content-chat__tl">
                        <div class="reply">Alooooooooooo</div>
                    </div>
                    <div class="content-chat__tl">
                        <div class="reply">Chào admin của hệ thống phân phối ThinkPro.
                            Em có 1 câu hỏi muốn hỏi được không ạ
                        </div>
                    </div>
                </div>
                <div class="admin-reply">
                    <div class="content-chat__tl">
                        <div class="reply">Mình có thể giúp gì cho bạn </div>
                    </div>
                    <div class="content-chat__tl">
                        <div class="reply">Dell Precision 3510 Với cấu hình CPU INTEL Core i7-6820HQ
                            và card
                            đồ họa AMD FirePro W5130M, mang tới cấu hình mạnh mẽ
                            đáp ứng nhu cầu làm việc hiện nay đặc biệt là công việc liên quan tới đồ họa
                            nặng như Specviewperf 11.
                        </div>
                    </div>
                </div>
                <div class="user-reply">
                    <div class="content-chat__tl">
                        <div class="reply">Alooooooooooo</div>
                    </div>
                    <div class="content-chat__tl">
                        <div class="reply">Máy tính của em hiện đang có vấn đề rất lớn!!!!
                            Anh có thể giúp em được không ạ</i>
                        </div>
                    </div>
                </div>
                <div class="user-reply">
                    <div class="content-chat__tl">
                        <div class="reply">Alooooooooooo</div>
                    </div>
                    <div class="content-chat__tl">
                        <div class="reply">Máy tính của em hiện đang có vấn đề rất lớn!!!!
                            Anh có thể giúp em được không ạ</div>
                    </div>
                </div>
                <p class="date">Hôm nay, lúc 6:00</p>
            </div>
            <div class="input--text">
                <textarea rows="1" type="text" class="js_comment_feed_textarea" id=""
                    placeholder="Nhập tin nhắn"></textarea>
                <label class="up-file">
                    <input type="file" name="myFile"><i class="iconfont-image-v1"></i>
                </label>
                <button href="javascript:;" class="btn submit-comment">
                    <i class="iconfont-message1"></i>
                </button>
            </div>
        </div>
    </div>


    <div class="overlay-bg"></div>
    <a class="close-menu" href="javascript:;">×</a>
    <!--Jquery lib-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/stickyfill.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="js/svgxuse.js"></script>
    <script type="text/javascript" src="js/lightgallery-all.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <!-- build:script -->
    <!-- build:script2 -->
    <script>
        $('form.search input[name="keyword"], form.search input[name="q"]').on('keyup', (e) => {
            let query = $(e.currentTarget).val();
            if (query.length) {
                $(e.currentTarget).parents('form').addClass('active');
                return;
            } else {
                $(e.currentTarget).parents('form').removeClass('active');
                return;
            }
        });
    </script>
</body>

</html>