<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="description" content="content">
    <meta name="keywords" content="iOne, Việt Nam">
    <title>
        <!-- build:title -->
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link type="image/x-icon" href="http://ssl.gstatic.com/docs/doclist/images/infinite_arrow_favicon_5.ico"
        rel="shortcut icon" />
    <link rel="stylesheet" href="css/fontAwesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" href="css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" href="css/animation.css" media="all" />
    <link rel="stylesheet" href="css/style.css" media="all" />
    <!-- build:head2 -->
    <!-- build:head -->
</head>

<body class="homepage">
    <section id="wrap-main-nav" class="section wrap-main-nav">
        <div class="container flex">
            <a href="javascript:;" class="all-menu all-menu-tablet"><span class="hamburger"></span></a>
            <h1 class="logo"><a href="#" title="#"><img src="images/graphics/logo.png" /> </a></h1>
            <div class="social">
                <a href="#"><img src="images/icons/face.png"></a>
                <a href="#"><img src="images/icons/twiter.png"></a>
                <a href="#"><img src="images/icons/youtube.png"></a>
            </div>
            <nav class="main-nav">
                <ul class="parent">
                    <li class="active">
                        <h3><a href="#" title="">Về chúng tôi</a></h3>
                    </li>
                    <li>
                        <h3>
                            <a href="#" title="">Lĩnh vực hoạt động</a>
                            <span class="sub_menu">+</span>
                            <div class="level2" style="display: none;">
                                <a href="#">Căn hộ chung cư</a>
                                <a href="#">Biệt thự liền kề</a>
                                <a href="#">Căn hộ chung cư</a>
                                <a href="#">Biệt thự liền kề</a>
                                <a href="#">Căn hộ chung cư</a>
                                <a href="#">Biệt thự liền kề</a>
                                <a href="#">Căn hộ chung cư</a>
                                <a href="#">Biệt thự liền kề</a>
                            </div>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href="#" title="">Dự án</a>
                            <span class="sub_menu">+</span>
                            <div class="level2" style="display: none;">
                                <a href="#">Du an 1</a>
                                <a href="#">Du an 1</a>
                            </div>
                        </h3>
                    </li>
                    <li>
                        <h3><a href="#" title="">Tin tức - sự kiện</a></h3>
                    </li>
                    <li>
                        <h3><a href="#" title="">Góc tư vấn</a></h3>
                    </li>
                    <li>
                        <h3><a href="#" title="">Tuyển dụng</a></h3>
                    </li>
                    <li>
                        <h3><a href="#" title="">Liên hệ</a></h3>
                    </li>
                </ul>
            </nav>
        </div>
    </section>


    <!-- build:content -->

    <!--Footer-->
    <footer class="footer footer_2">
        <div class="container">
            <div class="flex flex_top">
                <a class="logo">
                    <img src="images/graphics/logo.png">
                </a>
                <div class="info">
                    <h3>TRỤ SỞ CHÍNH</h3>
                    <p>Tầng 2, Tổ hợp TMDV và Nhà ở The Pride,
                        KĐT mới An Hưng, Q. Hà Đông, Hà Nội</p>
                    <p>
                        <span class="icon">P</span>
                        1900 2167
                    </p>
                    <p>
                        <span class="icon">F</span>
                        (024) 32 080 599
                    </p>
                    <p>
                        <span class="icon">E</span>
                        cskh@haiphatland.com.vn
                    </p>
                    <h3 class="mt20">HỆ THỐNG MẠNG LƯỚI TOÀN QUỐC</h3>
                    <div class="flex flex_social">
                        <h3>KẾT NỐI</h3>
                        <div class="social">
                            <a href="#"><img src="images/icons/face.png"></a>
                            <a href="#"><img src="images/icons/twiter.png"></a>
                            <a href="#"><img src="images/icons/youtube.png"></a>
                        </div>
                    </div>
                </div>
                <div class="map">
                    <img src="images/graphics/map.png">
                </div>
                <div class="nav flex">
                    <a href="#" title="" class="active">Về chúng tôi</a>
                    <a href="#" title="">Lĩnh vực hoạt động</a>
                    <a href="#" title="">Dự án</a>
                    <a href="#" title="">Tin tức - sự kiện</a>
                    <a href="#" title="">Góc tư vấn</a>
                    <a href="#" title="">Tuyển dụng</a>
                    <a href="#" title="">Liên hệ</a>
                </div>
            </div>
        </div>
    </footer>

    <div class="overlay-bg"></div>
    <!--Back to top-->
    <a href="javascript:;" id="to_top">
        <svg class="icon-svg">
            <use xlink:href="images/icons/icon.svg#arrow01"></use>
        </svg>
    </a>
    <!--Jquery lib-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="js/svgxuse.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/numscroller-1.0.js"></script>
    <script type="text/javascript" src="js/jquery.wow.min.js"></script>
    <script type="text/javascript" src="js/wow.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <!-- build:script -->
    <!-- build:script2 -->
    <div class="clearfix"></div>
    <script>

    </script>
</body>

</html>