#pagination {
	margin-bottom: 28px;
	text-align: center;

	&.folder {
		a {
			width: 40px;
			height: 40px;
			line-height: 40px;
			display: inline-block;
			margin: 0 2px;
			color: #999;
			border: 1px solid #dfdfdf;
			font-size: px_to_rem(17px);
			border-radius: 4px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;

			&:hover,
			&.active {
				background: $colormain;
				color: #fff;
				border: 1px solid $colormain;

				.icon-ns {
					color: #fff
				}
			}
		}

		.pagination_btn {
			line-height: 38px;

			.icon-ns {
				width: 12px;
				height: 12px;
				margin: 0;
				color: #999
			}
		}
	}

}

.title_box_category {
	margin-bottom: 20px;
	position: relative;

	h2 {
		font: bold px_to_rem(28px) $fontmain2;
		line-height: $lh;
		background: #fff;
		padding-right: 20px;
		position: relative;
		display: inline-block;
	}

	/*  &:before{
	  content:"";
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  bottom: 10px;    
	  background-image: -moz-linear-gradient(left, #0799ff #21d4fd);
	  background-image: -webkit-gradient(linear, left top, right top, from(#0799ff), to(#21d4fd));
	  background-image: -webkit-linear-gradient(left, #0799ff, #21d4fd);
	  background-image: -o-linear-gradient(left, #0799ff, #21d4fd);    
	}*/
}

.box_store_ns {
	.title {
		font: bold px_to_rem(28px) $fontmain2;
		line-height: $lh;
		background: #fff;
		padding-right: 20px;
		position: relative;
		display: inline-block;
	}

	.title_news {
		margin: 10px 0;

		a {
			font: normal 18px iCielDomaineText;
		}
	}
}

.title_news {
	line-height: $lh !important;

	p {
		font-size: 12px;
		color: #514E4E;
		font-family: Arial;
		display: inline-block;

		a {
			color: #514E4E;
			font: 400 14px Arial;
		}

		svg {
			vertical-align: text-bottom;
			width: 14px !important;
			height: 14px !important;
		}

		&.disabled {
			svg {
				color: #AAB1B5
			}
		}
	}
}

article {
	.content {
		font-family: $fontmain;
		margin-top: 10px;

		.description {
			font-family: arial
		}
	}
}

.box_stream {
	article .content {
		overflow: hidden;

		.ic-live {
			padding-left: 6px;
		}
	}
}

.art_item {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 28px;

	.thumb_art {
		position: relative;
		width: 282px;
		margin-right: 28px;

		.tag {
			position: absolute;
			bottom: 12px;
			left: 0;
			padding: 8px 10px;
			color: #fff;
			background-image: -moz-linear-gradient(left, rgba(132, 25, 253, 0.8), rgba(87, 178, 251, 0.6));
			background-image: -webkit-gradient(linear, left top, right top, from(rgba(140, 2, 254, 0.8)), to(rgba(87, 178, 251, 0.6)));
			background-image: -webkit-linear-gradient(left, rgba(132, 25, 253, 0.8), rgba(87, 178, 251, 0.6));
			background-image: -o-linear-gradient(left, rgba(132, 25, 253, 0.8), rgba(87, 178, 251, 0.6));

			a {
				color: #fff
			}
		}

		.icon_thumb {
			background-image: -moz-linear-gradient(left, #0799ff #21d4fd);
			background-image: -webkit-gradient(linear, left top, right top, from(#0799ff), to(#21d4fd));
			background-image: -webkit-linear-gradient(left, #0799ff, #21d4fd);
			background-image: -o-linear-gradient(left, #0799ff, #21d4fd);
			position: absolute;
			bottom: 0;
			left: 0;
			width: 25px;
			height: 25px;
			line-height: 25px;
			text-align: center;

			.icon-ns {
				color: #fff;
				margin: 0;
			}

			+.tag {
				left: 55px;
			}
		}

	}

	.content {
		.title_news {
			font: bold px_to_rem(20px) $fontmain;
		}

		.description {
			font: 400 px_to_rem(16px) arial;
			margin-top: 10px;
			line-height: $lhbody;
		}

		.tag {
			font-size: 14px;
			font-family: arial;
			color: #999;
			margin-top: 5px;

			a {
				color: $colormain
			}
		}

		.list_news_dot_3x3_300 {
			margin-top: 4px;
			margin-bottom: 0;

			li {
				a {
					font-size: 14px;
					font-weight: 700;
				}
			}
		}
	}
}

.no-images {
	font-size: px_to_rem(0px);
	float: left;
	width: 100%;
	border-top: 4px solid #eee;
	border-bottom: 8px solid #eee;
	padding: 20px 0;
	margin-bottom: 28px;

	.art_item {
		width: 50%;
		margin: 0;
		display: inline-block;
		float: none;

		.content {
			margin-top: 0;
			width: 100%;
		}

		&:nth-child(1) {
			padding-right: 20px;

			&:before {
				content: "";
				background: #eaeaea;
				position: absolute;
				right: 0px;
				top: 0;
				bottom: 0;
				width: 1px;
			}
		}

		&:nth-child(2) {
			padding-left: 20px;
		}
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.list_news {
	position: relative;
	margin-left: -14px;
	margin-right: -14px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	width: calc(100% + 28px);

	.art_item {
		width: 20%;
		padding: 0 14px;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 25px;

		.thumb_art {
			width: 100%;
			float: none;
		}

		.title_news {
			font: 500 px_to_rem(18px) $fontmain;
			line-height: $lh;
		}
	}
}

.grid {
	display: flex;
	flex-wrap: wrap;
	margin-left: -14px;
	margin-right: -14px;
	margin-bottom: 12px;

	.art_item {
		padding: 0 14px;
		float: none;
		display: inline-block;
		vertical-align: top;

		.thumb_art {
			width: 100%;
			float: none;
		}

		.content {
			width: 100%;

		}

	}

	&_2 {
		.art_item {
			width: 50%;

			&:nth-last-of-type(-n+2) {
				margin-bottom: 0;
			}
		}
	}

	&_3 {
		.art_item {
			width: 33.3%;

			&:nth-last-of-type(-n+3) {
				margin-bottom: 0;
			}
		}
	}

	&_4 {
		.art_item {
			width: 25%;

			&:nth-last-of-type(-n+4) {
				margin-bottom: 0;
			}
		}
	}

	&_5 {
		.art_item {
			width: 20%;

			&:nth-last-of-type(-n+5) {
				margin-bottom: 0;
			}
		}
	}
}

.row {
	margin: 0 -14px;
	width: calc(100% + 28px);
}

.article_small {
	margin-left: -28px;
	font-size: px_to_rem(0px);
	position: relative;
	margin-bottom: 21px;
	margin-top: 40px;

	&:before {
		content: "";
		background: #eaeaea;
		height: 1px;
		position: absolute;
		left: 28px;
		right: 0;
		bottom: 0px;
	}

	.art_item {
		width: 33.3%;
		padding-left: 28px;
		float: none;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 21px;

		&:before {
			content: "";
			width: calc(100% - 28px);
			height: 1px;
			background: #eaeaea;
			position: absolute;
			right: 0;
			top: -20px;
		}

		.thumb_art {
			width: 94px;
			margin-right: 12px;

			+.content {
				width: calc(100% - 94px - 12px);
				float: left;
			}

		}

		.content {
			overflow: hidden;

			.title_news {
				font: 500 px_to_rem(16px) $fontmain;
				line-height: $lh;
			}
		}
	}
}

.box_folder_article {
	float: left;
	width: 100%;

	.thumb_art {
		width: 282px;
		margin-right: 28px;
	}

	.content {
		width: calc(100% - 310px);
		float: left;
		margin-top: 0;
	}
}

.icon_big {
	width: 58px;
	height: 58px;
}

.icon_medium {
	width: 32px;
	height: 32px;
}

.btn {
	font-size: px_to_rem(16px);
	color: #999;
	background: #eeeeee;
	padding: 12px 25px;
	border: none;
	cursor: pointer;
	display: inline-block;
}

.btn_vne,
.btn_send_comment {
	background: #168fd6;
	color: #fff;
	font: 400 16px arial;
	padding: 9px 18px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
}

.form-group {

	input,
	select {
		border-color: #e5e5e5;
		border-radius: 4px;
		padding: 6px 10px;
		width: 100%;
		font-size: 16px;
	}

}

.list_news_dot_3x3_300 {
	margin-bottom: 15px;

	li {
		list-style-type: none;
		padding: 1px 0 0 10px;
		margin-bottom: 5px;
		position: relative;

		&:before {
			content: "";
			display: inline-block;
			width: 4px;
			height: 4px;
			background: #999999;
			position: absolute;
			left: 0;
			top: 10px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		a {
			font-size: 15px;
			font-family: Arial;
			color: #666;
			font-weight: bold;

			&:hover {
				color: #168fd6;
			}
		}
	}
}

/*TOOLTIP*/
$cubic: cubic-bezier(.64, .09, .08, 1);


[class*="tooltip"] {
	position: relative;

	&:after {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		content: attr(data-tooltip);
		padding: 1px 10px;
		top: 2.6em;
		left: 50%;
		color: $colormain;
		font-weight: 400;
		font-size: px_to_rem(11px);
		transform: translateX(-50%) translateY(-2px);
		background: #f1f1f1;
		border: 1px solid #c0c0c0;
		white-space: nowrap;
		z-index: 2;
		transition: opacity 0.2s $cubic, transform 0.2s $cubic;
	}

	&:hover {
		&:after {
			display: block;
			opacity: 1;
			visibility: visible;
			transform: translateX(-50%) translateY(0);
		}
	}
}

.tooltip--top:hover:after {
	top: -3px;
	transform: translate(-90%, -100%);
}

.tooltip--left {
	&:after {
		top: -4px;
		left: 0;
		transform: translateX(-112%) translateY(0);
	}

	&:hover {
		&:after {
			transform: translateX(-110%) translateY(0);
		}
	}
}

.tooltip--right {
	&:after {
		top: -4px;
		left: 100%;
		transform: translateX(12%) translateY(0);
	}

	&:hover {
		&:after {
			transform: translateX(10%) translateY(0);
		}
	}
}

.tooltip--triangle {
	&:before {
		content: '';
		width: 0;
		height: 0;
		border-left: solid 5px transparent;
		border-right: solid 5px transparent;
		border-bottom: solid 5px grey;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		transform: translateX(-50%) translateY(-2px);
		top: 1.1em;
		left: 50%;
		transition: opacity 0.2s $cubic, transform 0.2s $cubic;
		z-index: 9;
	}

	&:hover {
		&:before {
			display: block;
			opacity: 1;
			visibility: visible;
			transform: translateX(-50%) translateY(0);
		}
	}
}


/*loadding-new*/
.loadding-new {
	text-align: center;

	.sk-child {
		margin: 0 2px;
		width: 11px;
		height: 11px;
		background-color: $colormain;
		border-radius: 100%;
		display: inline-block;
		-webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
		animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
	}

	.sk-bounce1 {
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}

	.sk-bounce2 {
		-webkit-animation-delay: -0.16s;
		animation-delay: -0.16s;
	}
}

@-webkit-keyframes sk-three-bounce {

	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes sk-three-bounce {

	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

/*Icons*/


.icon_commend {
	display: inline-block;
}

span.txt_num_comment {
	display: inline-block;

	.comment-count {
		margin-left: 5px;
	}
}

.video-js .vjs-play-progress {
	background-color: #0064b2 !important
}

.video-js .vjs-volume-level {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #0064b2 !important
}

#box_tag {
	padding-top: 10px;
	margin-bottom: 20px;

	.txt_tag {
		font: 700 16px/20px $fontmain;
		margin-right: 10px;
		color: #666;
		float: left;
		margin-top: 4px;
	}

	a {
		font-size: 15px;
		color: #666;
		font-family: Arial;
		background: #f1f1f1;
		margin-right: 10px;
		margin-bottom: 10px;
		display: inline-block;
		float: left;
		padding: 5px 7px;
		border-radius: 3px;
	}

	h3 {
		font-size: 15px;
		color: #666;
		font-family: Arial;
		background: #f1f1f1;
		margin-right: 10px;
		margin-bottom: 10px;
		display: inline-block;
		float: left;
		padding: 5px 7px;
		border-radius: 3px;

		a {
			background: none;
			font-weight: 400;
			padding: 0;
			margin: 0;
		}

		&:hover {
			background: #0064b2;

			a {
				color: #fff
			}
		}
	}
}

#myvne_taskbar {
	display: none;
}

.thumb_video {
	cursor: pointer;
}

.description a:hover {
	color: inherit;
}

.number-info {
	font-family: Arial;
	font-size: px_to_rem(14px);
	color: #999;
	margin: 0 -10px;
	margin-top: 10px;

	>span {
		display: block;
		float: left;
		padding: 0 10px;
		position: relative;

		&:not(:first-child):before {
			content: "";
			width: 1px;
			height: 14px;
			background: #999;
			position: absolute;
			left: 0;
			top: 2px;
		}

	}

	.comment-count {
		color: #999;
		font-size: px_to_rem(14px);
	}
}

.duration_time {
	svg {
		vertical-align: top;
	}
}

/*breadcrumb*/
#breadcrumb {
	margin: 15px auto 20px;

	&+section {
		.box_300 {
			margin-top: -50px;
		}
	}

	ul {
		li {
			display: inline-block;
			margin-right: 15px;
			font: 400 px_to_rem(15px) $fontmain;
			line-height: $lh;
			position: relative;

			&.first-cate {
				a {
					font: bold px_to_rem(28px) $fontmain2;
					line-height: $lh;
					display: inline-block;

					a {
						color: #333
					}
				}
			}

			&.active {
				a {
					color: #168fd6;
					font-weight: 500;
				}
			}

			&.first-cate:nth-child(2) {
				a {
					font: 400 px_to_rem(15px) $fontmain;
					line-height: $lh;
				}
			}

			h1,
			label {
				// font: bold px_to_rem(28px) $fontmain2;
				// line-height: $lh;
				display: inline-block;

				a {
					color: #333
				}
			}

			h2,
			h3 {
				font: 400 px_to_rem(15px) $fontmain;
				line-height: $lh;
				display: inline-block;
			}

			.icon-ns {
				margin: 0px 0 0 20px;
				width: 10px;
				height: 10px;
				color: #999999;
				fill: currentColor;
			}

			a {
				color: #333;

				&:hover,
				&.active {
					color: $colormain;
				}
			}

			&:first-of-type {
				h2 {
					font: bold px_to_rem(28px) $fontmain2;
					line-height: $lh;
					display: inline-block;

					a {
						color: #333
					}
				}
			}

			&.c2 {

				/*a{color: $colormain;display: inline-block;line-height: 25px;}*/
				h1 {
					font: 400 px_to_rem(15px) $fontmain;
					line-height: $lh;
				}

				.icon-ns {
					margin-left: 5px;
				}

				&:hover {
					.sub_menu {
						opacity: 1;
						clip: inherit;
						-webkit-transform: scaleY(1);
						-khtml-transform: scaleY(1);
						-moz-transform: scaleY(1);
						-ms-transform: scaleY(1);
						-o-transform: scaleY(1);
						transform: scaleY(1);

						h2,
						h3 {
							width: 100%;
						}
					}

				}
			}

			&.c3 {
				a {
					margin-right: 20px;
				}
			}

			.sub_menu {
				background: #fff;
				position: absolute;
				top: 25px;
				left: -10px;
				z-index: 3;
				border: 1px solid #dfdfdf;
				min-width: 160px;
				-webkit-transform: scaleY(0);
				-khtml-transform: scaleY(0);
				-moz-transform: scaleY(0);
				-ms-transform: scaleY(0);
				-o-transform: scaleY(0);
				transform: scaleY(0);
				transform-origin: 0 0 0;
				-webkit-transform-origin: 0 0 0;
				-ms-transform-origin: 0 0 0;
				-o-transform-origin: 0 0 0;
				-webkit-transition: all 0.4s ease 0s;
				-moz-transition: all 0.4s ease 0s;
				-ms-transition: all 0.4s ease 0s;
				transition: all 0.4s ease 0s;

				a {
					display: block;
					padding: 5px 15px;
					color: #333;

					&:hover,
					&.active {
						background: $colormain;
						color: #fff
					}
				}
			}
		}
	}
}

#breadcrumb ul li label {
	h1 {
		color: $colormain;
		margin-left: 10px;
	}
}

body.body_pc.lg-from-hash.lg-on {
	overflow: hidden;
}

.ad_time_txt {
	z-index: 88 !important
}

.tip {
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	height: 24px;
	line-height: 24px;
	background: #17191A;
	color: #fff !important;
	font-size: 12px !important;
	text-decoration: none !important;
	white-space: nowrap;
	padding: 0 10px;
	border-radius: 3px;
}

// LOCATION-STAMP
.location-stamp {
	color: #555;
	font-size: 15px;
	letter-spacing: -0.5px;
	text-transform: uppercase;
	margin-right: 12px;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		bottom: 4px;
		width: 7px;
		height: 1px;
		background: #444444;
		right: -8px;
	}
}

.detailCT p.lead .location-stamp::before,
.detail_right .lead_detail .location-stamp::before {
	bottom: 5px
}

.box-corona-detail {
	margin-bottom: 28px !important;
}

// Tin liên quan clone VnE
.list-news-other {
	clear: both;
	font-size: 17px;
	line-height: 1.4;
	padding: 5px 0 0 24px;
	border-left: 1px solid #d6d6d6;
	margin-bottom: 15px;

	a {
		color: #178FD6 !important;
	}

	li {
		margin-bottom: 10px;
		position: relative;

		&::before {
			content: '';
			width: 4px;
			height: 4px;
			background: #999;
			position: absolute;
			left: -14px;
			top: 10px;
		}

		&:last-child {
			margin-bottom: 5px;
		}
	}
}

// End Tin liên quan clone VnE
article {
	.ic-live {
		font-size: 0;
		font-weight: 400;
		margin-right: 5px;

		&::after {
			font-size: 14px;
		}
	}
}