.ic-v{width: 18px; height: 18px; background: url("#{$url}/graphics/icon_video.png") no-repeat; display: inline-block; vertical-align: middle;}
.ic-v-all{background-position: 0 0;}
.ic-v-thoisu{background-position: 0 -29px;}
.ic-v-thegioi{background-position: 0 -56px;}
.ic-v-thethao{background-position: 0 -84px;}
.ic-v-giaitri{height: 15px;  background-position: 0 -107px;}
.ic-v-bandoc{height: 13px;  background-position: 0 -125px;}
.ic-v-phapluat{height: 16px;  background-position: 0 -151px;}
.ic-v-kinhdoanh{width: 19px;background-position: 0 -178px;}
.ic-v-sohoa{height: 17px;background-position: 0 -207px;}
.ic-v-xe{height: 13px;background-position: 0 -237px;}
.ic-v-dulich{height: 16px;background-position: 0 -264px;}
.ic-v-giadinh{background-position: 0 -290px;}
.ic-v-suckhoe{height: 15px;background-position: 0 -320px;}
.ic-v-giaoduc{height: 16px;background-position: 0 -349px;}
.ic-v-khoahoc{background-position: 0 -374px;}
.ic-v-cuoi{height: 13px;background-position: 0 -405px;}
