/*@import "normalize.scss";*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

html,
body {
  text-rendering: optimizeSpeed;

}

body {
  color: #333;
  font: 400 px_to_rem(14px) arial;
  line-height: $lhbody;
  text-align: left;
}

.body_mobile {
  max-width: 1020px;
  margin: 0 auto;
  overflow-x: hidden;
}

button,
.embed_video_new,
.box_img_video {
  cursor: pointer;
}

a:focus {
  outline: 1 !important;
}

.box_category {
  margin-bottom: 28px;
  float: left;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.banner_mobile_300x250 {
  background: #f4f4f4;
  font-size: 0;
}

/*iframe {
    max-width: 100%;
}*/
select {
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
  outline: 1;
}

a:hover {
  color: $colormain;
}

.container {
  max-width: 1100px;
  position: relative;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  @include clearfix;
}

.flex {
  display: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.width_common {
  width: 100%;
  float: left;
}

.inset-width {}

.outset-width {}

.text_ads {
  width: 100%;
  float: left;
  font: 400 11px arial;
  color: #a7a7a7;
  text-align: left;
  margin-bottom: 5px;
}

.center {
  text-align: center;
}

#to_top {
  opacity: .5;
  background: #999;
  display: none;
  border: medium none;
  bottom: 20px;
  cursor: pointer;
  text-align: center;
  height: 30px;
  line-height: 28px;
  outline: medium none;
  padding: 0;
  position: fixed;
  right: 20px;
  width: 30px;
  z-index: 9999;

  .icon-ns {
    margin: 0;
    color: #fff;
  }
}

img {
  border: 0;
  font-size: 0;
  line-height: 0;
  max-width: 100%;
}

ul,
li {
  list-style-type: none;
}

input,
textarea {
  font-family: arial;
  font-size: 11px;
  border: none;
  background: none;

}

input::-webkit-input-placeholder {
  color: #999999;
}

input::-moz-input-placeholder {
  color: #999999;
}

input::-ms-input-placeholder {
  color: #999999;
}

input::-o-input-placeholder {
  color: #999999;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.hide {
  display: none !important;
}

.clearfix {
  clear: both;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden320 {
  font-size: 0;
}

html {
  -webkit-text-size-adjust: none;
}

.fill-gradient {
  position: relative;

}

.icon-ns {
  height: 15px;
  width: 15px;
  color: #178fd6;
  vertical-align: middle;
  margin: 0px 0 0 4px;
  fill: currentColor;

  .title_news & {
    /*fill: url(#my-cool-gradient);    */
  }
}

.not-grad {
  fill: currentColor !important;
}

.comment-count {
  color: #16b0e7;
  font: 400 px_to_rem(12px) arial;
  margin-left: 2px
}

.ns-play {
  position: absolute;
  bottom: 7px;
  left: 7px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 0;
}

.no_wrap {
  white-space: nowrap;
}

.txt_666 {
  color: #666;
}

.txt_999 {
  color: #999;
}

.txt_10 {
  font-size: 10px;
}

.txt_11 {
  font-size: 11px;
}

.txt_14 {
  font-size: 14px;
}

.txt_16 {
  font-size: 16px;
}

.txt_vne {
  color: #9f224e;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mt0 {
  margin-top: 0 !important;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.error {
  color: red;
  font-size: 12px;
}

.bg_gray {
  background: #f8f8f6 !important;
}

.fs {
  font-size: 0
}

.thumb_big {
  position: relative;
}

.thumb_art {
  position: relative;
  float: left;
}

.thumb_img {
  display: block;
  overflow: hidden;
  height: 1px;
  position: relative;
  width: 100%;
}

.thumb_video {
  padding-bottom: 56.25%;
}

.thumb_5x3 {
  padding-bottom: 60%;
}

.thumb_5x5 {
  padding-bottom: 100%;
}

.thumb_img img {
  width: 100%;
  float: left;
  object-fit: cover;
}

.thumb_video iframe {
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.thumb_video+.title_news {
  margin-top: 10px;
  font-size: px_to_rem(16px);
  text-transform: uppercase;
  line-height: 1.4;

  a {
    color: $colormain
  }
}

.line_8px {
  background: #eeeeee;
  height: 8px;
  width: 100%;
  clear: both;
}

.line_4px {
  background: #eeeeee;
  height: 4px;
  width: 100%;
  clear: both;
}

.line_2px {
  background: #eeeeee;
  height: 2px;
  width: 100%;
  clear: both;
}

.line_1px {
  background: #eeeeee;
  height: 1px;
  width: 100%;
  clear: both;
}

/* ******** Browser ************* */

/*Only Safari*/
_::-webkit-full-page-media,
_:future,
:root .box_stream {
  width: calc(100% - 349px);
}

_::-webkit-full-page-media,
_:future,
:root .featured .art_topstory {
  width: 65.9%;
}

_::-webkit-full-page-media,
_:future,
:root .box_tieudiem .list_news {
  width: 845px;
}

@media (max-width: 991px) {

  _::-webkit-full-page-media,
  _:future,
  :root .box_stream {
    width: 100%;
  }

  _::-webkit-full-page-media,
  _:future,
  :root .featured .art_topstory {
    width: 100%;
  }

  _::-webkit-full-page-media,
  _:future,
  :root .box_tieudiem .list_news {
    width: calc(100% - 255px);
  }
}