/* Scss Document */

/*for effect*/
.v-thumb{
	position:absolute;
	width:100%;
	height:100%;
	top:100%;
	left: 0;
	background:#000;
	-webkit-transition:top 0.5s ease, opacity 0.5s;
	-moz-transition:top 0.5s ease, opacity 0.5s;
	-ms-transition:top 0.5s ease, opacity 0.5s;
	-o-transition:top 0.5s ease, opacity 0.5s;
	transition:top 0.5s ease, opacity 0.5s;
}
.v-gradient{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left: 0;
	background:rgba(0,0,0,0.6);
	display:none;
}
.v-title{
	position:absolute;
	clip: rect(0px,2000px,150px,0px);
	width:100%;
	height:0;
	top:50%;
	left: 18.02083334%;
    transform: translateY(-50%);
	border-left:#9f224e solid;
	-webkit-transition:height 0.5s ease;
	-moz-transition:height 0.5s ease;
	-ms-transition:height 0.5s ease;
	-o-transition:height 0.5s ease;
	transition:height 0.5s ease;
}
.text-height{
	height:70px !important;
}
.text-com {
  display:inline-block;
  overflow:hidden;
  width:100%;
  height:200px;
  /*white-space:nowrap;*/
}
.text-line{
	color: #9f224e;
	font-weight: 700;
	font-size: 30px;
}
.text-title{
	width: 80%;
	position: absolute;
	color: white;
	font-weight: 700;
	font-size: 35px;
    line-height: normal;
	padding-left: 1.5%;
    top: 50%;
    transform: translateY(-50%);
	/*height: 50px;*/
	/*word-wrap:break-word;
    white-space: normal;*/
}
.text-dur{
	color: #b8b8b8;
	font-weight: 700;
	font-size: 24px;
	/*padding-left: 10px;*/
}
.text-com:first-of-type {
  animation: showup 3.5s infinite;
}

.text-com:last-of-type {
  animation: reveal 3.5s infinite;
}

.text-com:last-of-type .text-title {
  left:-70%;
  animation: slidein 3.5s infinite;
}

.text-com:last-of-type .text-dur {
  margin-left:-200px;
  animation: flyin 3.5s infinite;
}

@keyframes showup {
	0% {opacity:0;}
	10% {opacity:1;}
	80% {opacity:1;}
	100% {opacity:0;}
}

@keyframes slidein {
	0% { left:-70%; }
	10% { left:-70%; }
	25% { left:0px; }
	100% { left:0px; }
}

@keyframes flyin {
	0% { margin-left:-200px; }
	10% { margin-left:-200px; }
	25% { margin-left:-200px; }
	30% { margin-left:0px; }
	100% { margin-left:0px; }
}

@keyframes reveal {
	0% {opacity:0;}
	10% {opacity:1;}
	80% {opacity:1;}
	100% {opacity:0;}
}

@media screen and (max-width: 1440px){
    .text-title{
        font-size: 31px;
    }
}
@media screen and (max-width: 1024px){
    .text-title{
        font-size: 28px;
    }
}
@media screen and (max-width: 768px){
    .text-title{
        font-size: 24px;
    }
}