@import "var.scss";

#search_page {
	.load_more {
		margin-top: 10px !important;
	}

	.form_search {
		margin-bottom: 0;
		width: 100%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;

		.input-search {
			background: none;
			height: 34px;
			margin: 0;
		}

		.wrap_txtsearch {
			margin-right: 5px;
			border-style: none;
			height: auto;
			background: #fff;
		}

		.txt-search {
			padding: 0 10px;
			height: 42px;
			width: 396px;
			font-size: 16px;
			color: #666;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			border: 1px solid #dedede;
			outline-color: #85a7de;
			border-radius: 4px;
		}

		.btt_search {
			width: 106px;
			text-align: center;
			border: none;
			background: $colormain;
			height: 42px;
			color: #fff;
			font-size: 16px;
			float: left;
			margin-right: 5px;
			cursor: pointer;
			border-radius: 4px;
		}
	}

	.filter_search_right {
		padding: 0;
		width: 100%;
		float: left;
		background: none;
		padding-bottom: 10px;
		margin-bottom: 20px;
		border-bottom: 1px solid #eeeeee;

		.filter_left {
			a.active {
				color: #168fd6;
			}

			a {
				display: inline-block;
				float: left;
				font: 400 16px arial;
				border: none;
				padding: 0 15px;
				position: relative;

				&:not(:first-child) {
					&:before {
						content: "";
						height: 14px;
						width: 1px;
						background: #ddd;
						position: absolute;
						left: 0;
						top: 1px;
					}
				}
			}
		}
	}
}

.block_search_page {
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
	border-bottom: 1px solid #eee;
}

.input-search {
	h2 {
		float: left;
		font-size: 24px;
		font-family: $fontmain;
		width: 254px;
		margin-top: 5px;
	}

	.hd_search {
		float: right;
		padding: 3px 0 3px 25px;
		font-size: 16px;
		font-family: Arial;
		margin-top: 7px;

		svg {
			margin-top: -2px;
		}
	}
}

.select_search {
	float: left;

	a {
		display: block;
		width: 95px;
		height: 42px;
		line-height: 42px;
		border: 1px solid #dedede;
		border-radius: 4px;
		float: left;
		text-align: center;
		margin-right: 5px;
		font-size: px_to_rem(16px);

		&:hover,
		&.active {
			border-color: $colormain;
			color: $colormain;
		}
	}

	select {
		height: 32px;
		border: 1px solid #c0c0c0;
		width: 100%;
		color: #666666;
		font-size: 14px;
	}
}

#col_search_1 {
	width: 254px;
	float: left;
	padding-right: 56px;

	@media (max-width: 991px) {
		padding-right: 30px;
	}

	.search_left {
		margin-bottom: 40px;

		p {
			a {
				font-size: 20px;
				font-weight: 700;
				font-family: $fontmain;
				display: block;
				margin-bottom: 10px;
			}
		}

		ul {
			li {
				a {
					font-size: 16px;
					padding: 11px;
					display: block;
					border-radius: 4px;
				}
			}

			li.active {
				a {
					background: #eee;
				}
			}
		}
	}
}

#col_search_result {
	width: calc(100% - 188px - 255px);
	padding-right: 30px;
	float: left;
}

.block_mid_new {
	clear: both;
	font-size: px_to_rem(16px);

	.icon_thumb {
		background-image: -moz-linear-gradient(left, #0799ff #21d4fd);
		background-image: -webkit-gradient(linear, left top, right top, from(#0799ff), to(#21d4fd));
		background-image: -webkit-linear-gradient(left, #0799ff, #21d4fd);
		background-image: -o-linear-gradient(left, #0799ff, #21d4fd);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;

		.icon-ns {
			color: #fff;
			margin: 0;
		}
	}

	ul {
		li {
			float: left;
			width: 100%;
			margin-bottom: 28px;

			.txt_num_comment {
				display: inline-block;
				font-weight: 100;
				font-size: 14px;
				color: #0064b2;
			}

			.avata {
				width: 189px;
				background: #f4f4f4;
				margin-right: 24px;
				float: left;
				position: relative;

				img {
					position: absolute;
					left: 50%;
					top: 50%;
					width: 100%;
					height: auto;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}

				@media (max-width: 991px) {
					width: 100%;
					margin-bottom: 10px;
				}
			}

			.conten {
				overflow: hidden;

				@media (max-width: 991px) {
					width: 100%;
				}

				.title_news {
					margin-bottom: 12px;

					a {
						font-size: 18px;
						font-family: $fontmain;
						font-weight: 700;

						label {
							padding: 0px 3px;
							background: #fbe547;
							border-radius: 4px;
						}
					}
				}

				p {
					font-size: 14px;
					font-family: Arial;

					label {
						padding: 0px 3px;
						background: #fbe547;
						border-radius: 4px;
					}
				}

				span.date {
					font-family: Arial;
					font-size: 14px;
					color: #999;
					display: block;
					margin-top: 10px;
				}
			}
		}

		li.end {
			border-bottom: 0;
			margin-bottom: 0;
		}
	}
}

.key_search {
	padding: 0 0 0 0;
	margin-bottom: 0;
	width: 100%;
	float: left;
	padding-bottom: 0;
	display: none;
}

.list_key_search {
	float: left;

	li {
		float: left;
		background: #f0f0f0;
		padding: 6px 25px 6px 7px;
		margin: 0 4px 4px 0;
		font-size: 12px;
		font-family: Arial;
		position: relative;
		color: #333;

		.remove_select {
			font-size: 22px;
			cursor: pointer;
			position: absolute;
			right: 3px;
			top: 50%;
		}
	}
}

.clear_all {
	float: right;

	a {
		background: #b3b3b3;
		padding: 6px;
		margin: 0 0 4px 0;
		font-size: 12px;
		position: relative;
		color: #fff;
		display: block;
	}
}

.sort_txt {
	float: left;
	font-weight: 700;
	font-size: 20px;
	font-family: $fontmain;
	margin-right: 10px;
}

.filter_left {
	float: left;
	margin-top: 6px;
}

.count_right {
	.number_s {
		margin: 10px 0 0 0;
		font-size: 16px;

		strong {
			font-weight: 400;
		}
	}
}

#col_search_ads {
	width: 188px;
	float: right;

	.title_box_category h2 {
		font-size: px_to_rem(20px);
	}
}

.box_folder {
	.art_item {
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #eaeaea;

		&.no_border {
			border-bottom: 0;
			margin-bottom: 0;
			padding-bottom: 5px;
		}

		.thumb_art {
			margin: 0;
			float: none;
			width: 100%
		}

		.content {
			margin-top: 0;

			.title_news {
				font: 400 px_to_rem(16px) $fontmain;
				margin-bottom: 0;
			}
		}

		&.img {
			border-bottom: 0;
			margin-bottom: 25px;

			.thumb_art {
				background: #eee;
				padding: 13px;
				width: 100%;
				margin: 0;
				float: none;
			}

			.content {
				margin-top: 10px;

				.title_news {
					font: 500 px_to_rem(20px) $fontmain;
					line-height: $lh;
				}
			}

			&:before {
				content: "";
				background: #eee;
				position: absolute;
				width: 150px;
				height: 6px;
				bottom: -3px;
			}
		}

		&:last-child {
			border-bottom: 0;
			padding-bottom: 0;
			margin-bottom: 0;
		}

		&.last-item {
			border-bottom: none;
			padding-bottom: 0;
		}
	}
}

#slide-product {
	position: relative;

	.swiper-control>div {
		width: 28px;
		height: 28px;
		border: 1px solid #dddddd;
		border-radius: 4px;
		line-height: 26px !important;
		top: 0;
		right: 0;
		position: absolute;

		svg {
			color: #bbb;
		}

		&:hover {
			background: transparent;
		}

		&.swiper-button-prev {
			right: 35px;
			left: inherit;
		}
	}
}

/*popup*/
.ns_popup {
	width: 606px;
	margin: auto;
	background: #fff;
	padding: 35px 35px 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup_title {
	margin-bottom: 20px;

	h2 {
		font-size: 24px;
		font-family: $fontmain;
		font-weight: 700;
	}
}

.popup_content {
	font-size: 16px;

	p {
		font-size: 16px;
	}
}

.popup_close {
	position: relative;
	height: 50px;
	width: 100%;
	margin-top: 20px;

	.mfp-close {
		left: 0;
		right: 0;
		margin: auto;
		font-size: 1rem;
		height: 42px !important;
		width: 106px !important;
		line-height: 42px !important;
		color: #fff;
		background: #999999;
		text-align: center;
		border: none;
		cursor: pointer;
		border-radius: 4px;
		display: inline-block;
	}
}