/* Scss Document */

$vne_color: #9F224E;

/*background: url("#{$url}/graphics/demo.gif") no-repeat 0 0;*/
@mixin cubic-transition($delay, $duration, $property) {
  transition: {
    duration: $duration;
    property: $property;
    timing-function: cubic-bezier(.7, 1, .7, 1);
  }
}

%has_transition {
  @include cubic-transition($delay: 0, $duration: 200ms, $property: (all));
}

span.ic,
i.ic,
.content_goithutoasoan a::after,
.ic-comment::before {
  width: 14px;
  height: 14px;
  background: url(images/graphics/icon_vne.svg) no-repeat;
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}

i.ic-android {
  width: 22px;
  height: 24px;
  background-position: -169px -260px;
}

i.ic-ios {
  width: 20px;
  height: 24px;
  background-position: -146px -260px;
}

i.ic-email {
  width: 16px;
  height: 12px;
  background-position: -192px -127px;
}

i.ic-twitter {
  background-position: -120px -260px;
  width: 24px;
  height: 24px;
}

i.ic-facebook {
  width: 24px;
  height: 24px;
  background-position: -72px -260px;
}

i.ic-rss {
  background-position: -339px -263px;
  width: 20px;
  height: 20px;
}

i.ic-false {
  width: 18px;
  height: 18px;
  background-position: -72px -192px !important;
}

i.ic-vnexpress {
  width: 16px;
  height: 18px;
  background-position: -415px -192px;
}

i.ic-search {
  width: 17px;
  height: 18px;
  background-position: -108px -192px;
}


#footer {
  margin-top: 25px;
  width: 100%;
}

.main_menu {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2247483647;
  will-change: transform;
  -moz-transition: .4s;
  -o-transition: .4s;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: translate(-100%);
  -ms-transform: translate(-100%);
  -o-transform: translate(-100%);
  transform: translate(-100%);
}

.show_main_menu .main_menu {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
}

.input_form {
  width: 100%;
  float: left;
  border: 1px solid #eee;
  color: #999;
  font: 400 1rem arial;
  height: 40px;
  padding: 2px 10px;
  background: #fff;
  outline: none;
}

.block_scoll_menu {
  scroll-behavior: smooth;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 9999;
  height: 100%;
  padding-bottom: 35px;

  .block_search {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 15px;
    position: relative;

    .input_form {
      color: #333;
      padding-right: 40px;
      font-size: 16px !important;
      height: 32px;
    }

    .btn_search,
    .btn_reset {
      width: 32px;
      height: 32px;
      border: none;
      background: none;
      border: 1px solid #eee;
      text-align: center;
      line-height: 32px;
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      @include cubic-transition($delay: 0, $duration: 350ms, $property: (all));
      visibility: visible;
      opacity: 1;
      outline: none;
    }

    .ic-search {
      vertical-align: text-bottom;
    }

    .btn_reset {
      visibility: hidden;
      opacity: 0;
      right: 47px;
      border: none;
      background: none;
      font-size: 30px;
      color: #999;
      font-family: -webkit-body;
    }

    &.focus {
      .btn_search {
        background: $vne_color;

        .ic-search {
          fill: #fff;
        }
      }

      .btn_reset {
        visibility: visible;
        opacity: 1;
      }
    }
  }

}

.guitoasoan_btn {
  display: block;
  width: calc(50% - 10px) !important;
  background: #f7f7f7;
  text-align: center;
  font: 400 16px/21px arial !important;
  padding: 10px 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;

  .ic {
    margin: -3px 10px 0 0;
  }

  .ic-ads {
    fill: none;
    width: 14.41px;
    height: 16px;
    background: url(images/graphics/icon-eclick.svg) no-repeat 0 0;
  }

  &.ads_btn {
    float: right;
  }
}

.coppy_right_info {
  padding: 15px;
  font: 400 14px arial !important;
  position: relative;

  label {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 7px;
  }

  .app_info {
    margin-bottom: 20px;

    p {
      width: calc(50% - 10px);

      a {
        width: 100%;
        height: 40px;
        background: #f7f7f7;
        display: block;
        padding-left: 10px;
        padding-top: 3px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        font-size: 14px !important;

        .ic {
          float: left;
          margin-right: 7px;
          margin-top: 5px;
        }

        .s_text {
          text-transform: uppercase;
          font-size: 10px !important;
          line-height: 13px !important;

          strong {
            font-size: 15px !important;
          }
        }
      }

    }
  }

  .vne_app {
    p {
      a {
        text-align: center;
        padding-top: 8px;

        span {
          display: inline-block;
          margin-right: 2px;
          vertical-align: middle;
        }
      }
    }
  }

  .phone_info {
    margin-bottom: 20px;

    p {
      width: 50%;
      font-size: 14px !important;

      &.right {
        padding-left: 10px;
      }

      strong {
        font-size: 18px;
      }
    }
  }
}

.copyright_text {
  color: #999;
  text-align: center;
  padding: 15px 0 0 0;
  margin-bottom: 30px;
  border-top: 1px solid #e7e7e7;

  p {
    font-size: 14px !important;
  }
}

.list_menu {
  background: #f7f7f7;
}

.list_item_panel {
  padding-right: 15px;
  border-bottom: 1px solid #ccc;

  &:last-child {
    border: none;
  }

  li {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0 0 0 15px;

    a.link_item_panel {
      display: block;
      width: 100%;
      float: left;
      color: #333;
      font: 400 16px/18px arial !important;
      border-bottom: 1px solid #e7e7e7;
      padding: 10.5px 0;
    }

    &:last-child a.link_item_panel,
    &:nth-last-child(2) a.link_item_panel {
      border: none;
    }

    .child-mn {
      li {
        width: 100%;
        float: left;
        position: relative;

        &::after {
          content: "";
          border-bottom: 1px dashed rgba(0, 0, 0, 0.1) !important;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
        }

        &:before {
          width: 4px;
          height: 4px;
          background: #9F224E;
          border-radius: 50%;
          position: absolute;
          top: 19px;
          left: 0;
          content: '';
        }

        a.link_item_panel {
          font: 400 15px/17px arial !important;
          padding: 11.5px 0;
        }
      }
    }

    &:nth-child(13) {
      margin-top: -40px;
    }
  }

  li.active {
    a.link_item_panel {
      font-weight: 700 !important;
      color: $vne_color;

      &.kinhdoanh {
        color: #04416d;
      }

      &.giaitri {
        color: #d71450;
      }

      &.thethao {
        color: #58a12b;
      }

      &.phapluat {
        color: #6e2c2d;
      }

      &.giaoduc {
        color: #e17100;
      }

      &.suckhoe {
        color: #04a59d;
      }

      &.giadinh {
        color: #2d96b5;
      }

      &.dulich {
        color: #0072bb;
      }

      &.khoahoc {
        color: #806f26;
      }

      &.sohoa {
        color: #df9c00;
      }

      &.xe {
        color: #6a7b83;
      }

      &.cuoi {
        color: #dc3926;
      }
    }

    .child-mn {
      a.link_item_panel {
        font-weight: 400 !important;
        color: #333 !important;
      }

    }
  }

  &.list_index {
    li {
      a.link_item_panel {
        border: none;
        font-weight: 400 !important;
        color: #004f8b !important;
      }
    }
  }

  .item_social {
    width: 24px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    margin-right: 15px;
    margin-top: 8px;
    /*&.item_twit{
            background: #7fc1f2;
            svg{fill: #fff;}
        }
        &.item_fb{
            background: #4c72b2;
            svg {
                fill: #fff;
            }
        }
        &.item_rss{
            svg{width: 20px;height: 20px;}
        }*/
  }
}

.mask-content {
  position: relative;
}

.mask-content::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 201;
  background: transparent;
  content: "";
  transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
  -moz-transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
  -webkit-transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
  -ms-transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
  opacity: 0;
  visibility: hidden;
}

.show_main_menu .mask-content::before,
.show_main_menu .close_main_menu {
  opacity: 1;
  visibility: visible;
}

body.show_main_menu,
body.hidden {
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.close_main_menu {
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px !important;
  font-size: 0 !important;
  text-align: center;
}

#to_top {
  z-index: 3;
}