/*@charset "UTF-8";

@font-face {
  font-family: "vnexpress-font";
  src:url("fonts/vnexpress-font.eot");
  src:url("fonts/vnexpress-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/vnexpress-font.woff") format("woff"),
    url("fonts/vnexpress-font.ttf") format("truetype"),
    url("fonts/vnexpress-font.svg#vnexpress-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "vnexpress-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="ic-"],
[class*=" ic-"]{
    font-size: 15px;
    color: #999;
}
[class^="ic-"]:before,
[class*=" ic-"]:before {
  font-family: "vnexpress-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ic{opacity: 0; @include cubic-transition($delay: 0, $duration: 200ms, $property: (opacity));
    &.successfully{opacity: 1;}
}

.ic-android:before {
  content: "\61";
}
.ic-android-2:before {
  content: "\62";
}
.ic-app:before {
  content: "\63";
}
.ic-apple:before {
  content: "\64";
}
.ic-arrow-down:before {
  content: "\65";
}
.ic-arrow-down-2:before {
  content: "\66";
}
.ic-arrow-down-3:before {
  content: "\67";
}
.ic-arrow-left:before {
  content: "\68";
}
.ic-arrow-left-2:before {
  content: "\69";
}
.ic-arrow-left-3:before {
  content: "\6a";
}
.ic-arrow-right:before {
  content: "\6b";
}
.ic-arrow-right-2:before {
  content: "\6c";
}
.ic-arrow-right-3:before {
  content: "\6d";
}
.ic-arrow-up:before {
  content: "\6e";
}
.ic-arrow-up-2:before {
  content: "\6f";
}
.ic-arrow-up-3:before {
  content: "\70";
}
.ic-audio:before {
  content: "\71";
}
.ic-before-n-after:before {
  content: "\72";
}
.ic-bell:before {
  content: "\73";
}
.ic-bell-2:before {
  content: "\74";
}
.ic-best-player:before {
  content: "\75";
}
.ic-book:before {
  content: "\76";
}
.ic-bookmark:before {
  content: "\77";
}
.ic-bookmark-2:before {
  content: "\78";
}
.ic-bookmark-2-o:before {
  content: "\79";
}
.ic-bookmark-o:before {
  content: "\7a";
}
.ic-caret-2-down:before {
  content: "\41";
}
.ic-caret-2-left:before {
  content: "\42";
}
.ic-caret-2-right:before {
  content: "\43";
}
.ic-caret-2-up:before {
  content: "\44";
}
.ic-caret-down:before {
  content: "\45";
}
.ic-caret-down-2:before {
  content: "\46";
}
.ic-caret-left:before {
  content: "\47";
}
.ic-caret-left-2:before {
  content: "\48";
}
.ic-caret-right:before {
  content: "\49";
}
.ic-caret-right-2:before {
  content: "\4a";
}
.ic-caret-up:before {
  content: "\4b";
}
.ic-caret-up-2:before {
  content: "\4c";
}

.ic-comment:before {
  content: "\52";
}
.ic-corner-kick:before {
  content: "\53";
}

.ic-double-arrow-down:before {
  content: "\58";
  font-size: 9px;
}
.ic-double-arrow-left:before {
  content: "\59";
}
.ic-double-arrow-right:before {
  content: "\5a";
}
.ic-double-arrow-up:before {
  content: "\30";
}
.ic-edit:before {
  content: "\31";
}
.ic-edit-1:before {
  content: "\32";
}
.ic-email:before {
  content: "\33";
}
.ic-email-outline:before {
  content: "\34";
}
.ic-expand:before {
  content: "\35";
}
.ic-eyes:before {
  content: "\36";
}
.ic-eyes-close:before {
  content: "\37";
}
.ic-facebook:before {
  content: "\38";
}
.ic-false:before {
  content: "\39";
}
.ic-famous-quote:before {
  content: "\21";
}
.ic-flip:before {
  content: "\22";
}
.ic-free-kick:before {
  content: "\23";
}
.ic-globe:before {
  content: "\24";
}
.ic-goal:before {
  content: "\25";
}
.ic-google-plus:before {
  content: "\26";
}
.ic-google-plus-2:before {
  content: "\27";
}

.ic-home-2:before {
  content: "\29";
}
.ic-infographic:before {
  content: "\2a";
}
.ic-instagram:before {
  content: "\2b";
}
.ic-linkedin:before {
  content: "\2c";
}
.ic-m-24h:before {
  content: "\2d";
}
.ic-m-audio:before {
  content: "\2e";
}
.ic-m-business:before {
  content: "\2f";
}
.ic-m-car:before {
  content: "\3a";
}
.ic-m-contact:before {
  content: "\3b";
}
.ic-m-ecom:before {
  content: "\3c";
}
.ic-m-education:before {
  content: "\3d";
}
.ic-m-entertainment:before {
  content: "\3e";
}
.ic-m-family:before {
  content: "\3f";
}
.ic-m-fun:before {
  content: "\40";
}
.ic-m-health:before {
  content: "\5b";
}
.ic-m-home:before {
  content: "\5d";
}
.ic-m-infographic:before {
  content: "\5e";
}
.ic-m-law:before {
  content: "\5f";
}
.ic-m-mail:before {
  content: "\60";
}
.ic-m-news:before {
  content: "\7b";
}
.ic-m-opinion:before {
  content: "\7c";
}
.ic-m-photo:before {
  content: "\7d";
}
.ic-m-science:before {
  content: "\7e";
}
.ic-m-social:before {
  content: "\5c";
}
.ic-m-sport:before {
  content: "\e000";
}
.ic-m-talk:before {
  content: "\e001";
}
.ic-m-technology:before {
  content: "\e002";
}
.ic-m-travel:before {
  content: "\e003";
}
.ic-m-twitter:before {
  content: "\e004";
}
.ic-m-video:before {
  content: "\e005";
}
.ic-m-world:before {
  content: "\e006";
}
.ic-main-user:before {
  content: "\e007";
}
.ic-menu:before {
  content: "\e008";
}
.ic-minus:before {
  content: "\e009";
}
.ic-minus-circle:before {
  content: "\e00a";
}
.ic-minus-square:before {
  content: "\e00b";
}
.ic-miss-penalty:before {
  content: "\e00c";
}
.ic-music:before {
  content: "\e00d";
}
.ic-offside:before {
  content: "\e00e";
}
.ic-own-goal:before {
  content: "\e00f";
  color: #ed1c24;
}
.ic-pause:before {
  content: "\e010";
}
.ic-penalty:before {
  content: "\e011";
}
.ic-photo:before {
  content: "\e012";
}
.ic-pinterest:before {
  content: "\e013";
}
.ic-pinterest-p:before {
  content: "\e014";
}
.ic-play:before {
  content: "\e015";
}
.ic-player:before {
  content: "\e016";
}
.ic-plus:before {
  content: "\e018";
}
.ic-plus-circle:before {
  content: "\e019";
}
.ic-plus-light:before {
  content: "\e01a";
}
.ic-plus-square:before {
  content: "\e01b";
}

.ic-red-card:before {
  content: "\e01e";
    color: #ec1c24;
}
.ic-repeat-all:before {
  content: "\e01f";
}
.ic-reply:before {
  content: "\e020";
}
.ic-reply-all:before {
  content: "\e021";
}
.ic-responsive:before {
  content: "\e022";
}
.ic-rss:before {
  content: "\e023";
}
.ic-search:before {
  content: "\e024";
}

.ic-sh-gear:before {
  content: "\e026";
}
.ic-sh-laptop:before {
  content: "\e027";
}
.ic-sh-other:before {
  content: "\e028";
}
.ic-sh-phone:before {
  content: "\e029";
}
.ic-sh-photo-camera:before {
  content: "\e02a";
}
.ic-sh-tablet:before {
  content: "\e02b";
}
.ic-share:before {
  content: "\e02c";
}
.ic-sport-comment:before {
  content: "\e02d";
}
.ic-sport-live-default:before {
  content: "\e02e";
}
.ic-stadium:before {
  content: "\e02f";
}
.ic-star:before {
  content: "\e030";
}

.ic-star-half-left:before {
  content: "\e032";
}
.ic-star-half-right:before {
  content: "\e033";
}
.ic-start-match:before {
  content: "\e035";
}
.ic-stop:before {
  content: "\e036";
}
.ic-strategy:before {
  content: "\e037";
}
.ic-substitution:before {
  content: "\e038";
}
.ic-tag:before {
  content: "\e03a";
}
.ic-tags:before {
  content: "\e03b";
}
.ic-true:before {
  content: "\e03d";
}
.ic-twitter:before {
  content: "\e03e";
}
.ic-user:before {
  content: "\e03f";
}
.ic-video:before {
  content: "\e040";
}
.ic-vnexpress:before {
  content: "\e041";
  color: #9f224e;
}
.ic-window:before {
  content: "\e042";
}
.ic-yellow-card:before {
  content: "\e043";
    color: #f4d11f;
}

.ic-unlike:before {
  content: "\e045";
}
.ic-interactive:before {
  content: "\e046";
}
.ic-like:before {
  content: "\e047";
}
.ic-info-2:before {
  content: "\e049";
}
.ic-print:before {
  content: "\e04a";
}
[class^="ic-comment"]:before,
[class*=" ic-comment"]:before{
   color: #9f224e; cursor: pointer;font-size: 12px;
    
}
[class^="ic-comment"],
[class*=" ic-comment"]{
    span{padding-left: 3px; font: 400 12px arial;margin-top: -7px;
    display: inline-block;
    vertical-align: middle;color: #9f224e;}
}
[class^="ic-interactive"]:before,
[class*=" ic-interactive"]:before{
   font-size: 22px; line-height: 28px;
}

*/
/**END FONT ICON**/

/***SPRITE IMAGE ICON**/
.ic,.content_goithutoasoan a::after,.ic-comment::before{width: 14px; height: 14px; background: url("#{$url}/graphics/icon_vne.svg") no-repeat; display: inline-block; vertical-align: middle; /*margin-top: -4px;*/}
.ic-pdf{width: 18px;height: 18px;background-position: -288px -192px;}
.ic-comment::before{width: 12px; height: 12px; content: "";
  background-position: -1px -63px; float: left;}
.ic-comment{background: none; width: auto; height: auto;
    span{font: 400 12px/12px arial !important; margin-left: 2px; margin-top: -1px; background: #fff;
    /*display: inline-block;
    vertical-align: middle;*/ float: left; color: #9f224e;}
}
    
.bg_gray{
    .ic-comment{
        span{background: #f4f4f4;}
    } 
}
/*h1{
    .ic-comment{
        span{
            margin-top: -15px;
        }
    }
}*/
.ic-audio {
    width: 14px;
  background-position: -22px -62px;
}
.ic-video{
    width: 12px;
  background-position: -39px -63px;
}
.ic-photo {
    width: 14px;
  background-position: -52px -63px;
}
.ic-photo-caption {
    width: 16px;height: 12px;
    background-position: -304px -129px;margin-top: -4px; margin-right: 7px;
}
.ic-video-caption {
    width: 16px;height: 12px;
    background-position: -288px -129px; margin-top: -4px; margin-right: 7px;
}
.ic-infographic {
  background-position: -271px -21px;
}
.ic-ios{
    width: 20px; height: 24px; background-position: -146px -260px;
}
.ic-android{
    width: 22px; height: 24px; background-position: -169px -260px;
}
.ic-arrow-down{width: 8px;height: 5px;background-position: -2px -4px;}
.ic-arrow-up{width: 8px;height: 5px;background-position: -14px -4px;}
.ic-refresh{width: 18px;height: 18px;background-position: -162px -192px;}
.ic-sucess{width: 32px;height: 32px;background-position: 0 -334px;}
.ic-expand {width: 14px;height: 14px;
  background-position: -80px -62px;
}
.ic-email{width: 16px;height: 12px;background-position: -192px -127px;}
.ic-tag{width: 17px;height: 14px;background-position: -593px -194px;}

.ic-caret-down {
    height: 12px;
  background-position: -210px -2px;
}

.ic-like,.ic-unlike{
  background-position: -95px -63px;
 width: 13px;
 height: 12px;
}
.ic-unlike{
    opacity: 0.5;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
}

.ic-plus-square{
  background-position: -48px 0;
    width: 12px;height: 12px;
}
.ic-minus-square{
    width: 12px;height: 12px;
  background-position: -60px 0;
}

.ic-caret-left {
    width: 18px;height: 18px;
      background-position: -180px -192px;
}

.ic-caret-right {
  width: 12px;
    background-position: -197px 0;
}

.ic-caret-up {
    width: 16px;
    height: 11px;
  background-position: -32px -128px;
}
.ic-twitter{
  background-position: -120px -260px;
 width: 24px;
 height: 24px;
}
.ic-user{
  background-position: -611px -193px;
 width: 18px;
 height: 18px;
}

.ic-vnexpress{
    width: 16px;height: 18px;
  background-position: -415px -192px;
}
.ic-facebook {
    width: 24px;height: 24px;
  background-position: -72px -260px;
}
.ic-false {width: 18px;height: 18px;
  background-position: -72px -192px;
}
.ic-bell {
  width: 18px;
height: 18px;
  background-position: -252px -192px;
}
.ic-google-plus {
  width: 24px;height: 24px;
  background-position: -312px -260px;
}
.ic-play{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid #fff;
}
.ic-font-adj{
    width: 25px;height: 16px;
  background-position: -629px -192px; margin-top: -4px;
}


.ic-share {
    width: 14px;height: 14px;
  background-position: -225px -127px;
}
.ic-print{
    width: 14px;height: 14px;
  background-position: -209px -128px;
}
.ic-android-2 {
  background-position: -106px -49px;
}
.ic-app {
  background-position: -121px -47px;
}
.ic-apple {
    width: 13px;
  background-position: -137px -47px;
}




/*.ic-best-player {
    width: 20px;
    height: 20px;
  background-position: -261px -77px;
}
.ic-book {
  background-position: -166px -46px;
}*/
.ic-bookmark {
     width: 9px;
    height: 16px;
  background-position: -83px -126px;
}


/*.ic-corner-kick {
  width: 16px;height: 20px;
  background-position: -83px -76px;
}*/

.ic-edit {
  width: 28px;height: 22px;
  background-position: -609px -339px;
}

/*
.ic-famous-quote {
  width: 20px;height: 16px;
  background-position: -301px -78px;
}

.ic-free-kick {
  width: 20px;height: 12px;
  background-position: -41px -80px;
}
.ic-globe {
  width: 20px;height: 20px;
  background-position: -548px -42px;
}
.ic-goal {
   width: 20px;height: 20px;
  background-position: -101px -76px;
}
*/

.ic-instagram {
  width: 13px;height: 13px;
  background-position: -361px -1px;
}
.ic-linkedin {
  width: 13px;height: 13px;
  background-position: -391px -1px;
}
/*
.ic-m-24h {
  background-position: -316px -20px;
}

.ic-m-business {
  background-position: -61px -20px;
}
.ic-m-car {
  height: 11px;
  background-position: -211px -22px;
}
.ic-m-contact {
  width: 13px;height: 13px;
  background-position: -332px -21px;
}
.ic-m-ecom {
   height: 13px;
  background-position: -301px -21px;
}
.ic-m-education {
  height: 11px;
  background-position: -121px -22px;
}
.ic-m-entertainment {
  background-position: -76px -20px;
}
.ic-m-family {
  background-position: -151px -20px;
}
.ic-m-fun {
    height: 11px;
  background-position: -286px -22px;
}
.ic-m-health {
  background-position: -136px -21px;
}
.ic-m-home {
  background-position: -1px -20px;
}
.ic-m-infographic {
  background-position: -271px -21px;
}
.ic-m-law {
  background-position: -106px -20px;
}
.ic-m-mail {
    width: 13px;height: 9px;
  background-position: -347px -23px;
}
.ic-m-news {
   width: 11px;height: 15px;
  background-position: -18px -20px;
}
.ic-m-opinion {
  height: 13px;
  background-position: -31px -21px;
}
.ic-m-photo {
  height: 13px;
  background-position: -256px -21px;
}
.ic-m-science {
  background-position: -181px -20px;
}
.ic-m-social {
    height: 9px;
  background-position: -226px -23px;
}
.ic-m-sport {
  background-position: -91px -20px;
}
.ic-m-talk {
    height: 11px;
   background-position: -241px -22px;
}
.ic-m-technology {
    width: 11px;
  background-position: -198px -20px;
}
.ic-m-travel {
  background-position: -166px -20px;
}
.ic-m-world {
  background-position: -46px -20px;
}*/
.ic-menu {
    width: 18px;
    height: 12px;
  background-position: -18px -195px;
}
/**HUNG HQ**/
/*.ic-minus-circle{
  background-position: -406px -20px;
 width: 13px;
}

.ic-miss-penalty{
 background-position: -161px -76px;
 width: 20px;
 height: 20px;
}
.ic-offside{
  background-position: -64px -76px;
 width: 14px;
 height: 20px;
}
.ic-own-goal{
  background-position: -161px -76px;
 width: 20px;
 height: 20px;
}
.ic-penalty{
  background-position: -141px -76px;
 width: 20px;
 height: 20px;
}*/
.ic-pinterest-p{
  background-position: -512px 0;
 width: 11px;
}
/*
.ic-player{
  background-position: -1px -77px;
 width: 20px;
 height: 19px;
}
.ic-plus{
  background-position: -421px -20px;
}


.ic-red-card{
  background-position: -206px -76px;
 width: 10px;
 height: 20px;
}
.ic-reply{
  background-position: -10px -20px;
}

.ic-responsive{
  background-position: -361px -20px;
}
*/
.ic-rss{
  background-position: -339px -263px;
 width: 20px;
 height: 20px;
}
.ic-search{width: 17px;height: 18px;
  background-position: -108px -192px;
}

.ic-sh-gear{
  background-position: -151px -47px;
}
.ic-sh-laptop{
   background-position: -1px -49px;
 height: 11px;
}
.ic-sh-other{
  background-position: -18px -47px;
 width: 11px;
}
.ic-sh-phone{
  background-position: -34px -47px;
 width: 9px;
 height: 16px;
}
.ic-sh-photo-camera{
  background-position: -47px -49px;
 width: 13px;
 height: 11px;
}
.ic-sh-tablet{
  background-position: -62px -47px;
 width: 13px;
}
/*
.ic-sport-comment{
  background-position: -281px -76px;
 width: 20px;
 height: 20px;
}
.ic-sport-live-default{
  background-position: -325px -76px;
 height: 20px;
 width: 11px;
}
.ic-stadium{
width: 20px;height: 16px;    
  background-position: -341px -78px;
}
.ic-star-half-left{
  background-position: -390px -39px;
 width: 12px;
 height: 23px;
}
.ic-star-half-right{
  background-position: -423px -39px;
 width: 12px;
 height: 23px;
}
.ic-start-match{
  background-position: -21px -80px;
 width: 20px;
 height: 12px;
}
.ic-strategy{
    width: 18px;height: 20px;
  background-position: -242px -76px;
}
.ic-substitution{
  background-position: -221px -79px;
 width: 20px;
 height: 13px;
}
*/
.ic-true{
  background-position: -241px -129px;
 width: 13px;height: 11px;
}

.ic-window{
  background-position: -76px -47px;
}
/*
.ic-yellow-card{
  background-position: -186px -76px;
 height: 20px;width: 10px;
}
*/

.ic-interactive{
  background-position: -260px -40px;
 width: 14px;
    height: 22px;
}

.ic-info-2{
  background-position: -369px -71px;
 width: 9px;
 height: 25px;
}
.ic-print{
  background-position: -555px 0;
}
.ic-fun{
  background-position: -67px -62px;
 width: 13px;
 height: 17px;
}

/**BO SUNG ICON THIEU**/
.ic-double-arrow-down{
     background-position: -524px -25px;
 width: 10px;
 height: 10px;
}
.ic-before-n-after {
    background-position: -643px -337px;
    width: 26px;
    height: 26px;
}
.ic-flip{
    background-position: -418px -66px;
 width: 27px;
 height: 30px;
}


.ic-edit-2{
    width: 13px;height: 13px;
  background-position: -560px -78px;
}
/***SPRITE IMAGE ICON**/