@import "var.scss";
@charset "utf-8";

%ic {
  width: 14px;
  height: 14px;
  background: url("#{$url}/graphics/icon_vne.svg") no-repeat;
  display: inline-block;
  vertical-align: middle;
  /*margin-top: -4px;*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.ic-live {
  font-size: 9px;
  text-transform: uppercase;
  height: 15px;
  line-height: 15px;
  display: inline-block;
  vertical-align: middle;
  color: #9f224e;
}

.ic-live:before {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  content: '';
  background: #9f224e;
  box-shadow: 0 0 0 rgba(231, 141, 172, 0.4);
  margin-right: 5px;
  vertical-align: initial;
  -webkit-animation: live-pulse 1s infinite;
  -moz-animation: live-pulse 1s infinite;
  -o-animation: live-pulse 1s infinite;
  animation: live-pulse 1s infinite;
  float: left;
}

/*@-webkit-keyframes live-pulse{0%{background-color:#e78dac}50%{background-color:white}100%{background-color:#e78dac}}@-moz-keyframes live-pulse{0%{background-color:#e78dac}50%{background-color:white}100%{background-color:#e78dac}}@keyframes live-pulse{0%{background-color:#e78dac}50%{background-color:white}100%{background-color:#e78dac}}*/
@-webkit-keyframes live-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(231, 141, 172, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(231, 141, 172, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(231, 141, 172, 0);
  }
}

@keyframes live-pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(231, 141, 172, 0.4);
    box-shadow: 0 0 0 0 rgba(231, 141, 172, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(231, 141, 172, 0);
    box-shadow: 0 0 0 10px rgba(231, 141, 172, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(231, 141, 172, 0);
    box-shadow: 0 0 0 0 rgba(231, 141, 172, 0);
  }
}

@-webkit-keyframes timeline {
  0% {
    background-position: -350px 0;
  }

  100% {
    background-position: 400px 0;
  }
}

@keyframes timeline {
  0% {
    background-position: -350px 0;
  }

  100% {
    background-position: 400px 0;
  }
}

/**COMMON HOME PAGE**/
.body_mobile {
  max-width: 590px;
  margin: 0 auto;
  overflow-x: hidden;
}

#banner_top {
  min-height: 100px;
  position: relative;
}

/*.hidden320{display: none;} */
.section {
  width: 100%;
  float: left;
  position: relative;

}

.inner_section,
.section_common {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.box_category {
  margin-bottom: 25px;
}

.full_screen_inner {
  width: auto;
  margin-left: -15px;
  margin-right: -15px;
  float: left;
}

/**HEADER**/
.header {
  height: 44px;
  background: #fff;
  border-bottom: 1px solid #e7e7e7;

  &.header_cloned {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 1px 3px rgba(80, 80, 80, 0.2), 0 3px 5px rgba(80, 80, 80, 0.15);
    @include cubic-transition($delay: 0, $duration: 250ms, $property: (all));
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);

    &.nav-up {
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }
}

.btn_control_menu {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  width: 44px;
  height: 44px;
  text-align: center;
  font-size: 0px;
  /*line-height: 48px;*/
  line-height: 44px !important;

  /*border-right: 1px solid #e6e6e6;*/
  .ic {
    vertical-align: middle;
    font-size: 0px;
  }
}

.img_logo {
  /*float: left;*/
  margin: 7px auto;
  /*0 0 0 42px !important*/
  ;
  width: 160px;
  display: block;

  img {
    max-width: 100%;
    /*float: left*/
    ;
  }
}

.art_item {
  width: 100%;
  float: left;
}

.box_loading {
  .box-line {
    display: block;
    height: 10px;
    margin-bottom: 7px;
    animation: timeline;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
    background-size: 800px auto;
    background-position: 100px 0;
  }

  .thumb_img {
    margin-bottom: 0;
  }

  .first {
    width: 100%;
  }

  .second {
    width: 80%;
  }

  .title_news {
    overflow: hidden;
  }
}

.art_featured {
  width: 100%;
  float: left;
  /*border-bottom: 1px dotted #e2e2e3;
  padding-bottom: 10px;*/
}

.feature_content {
  padding: 10px 15px 15px 15px;
}

.art_featured.no_border {
  border: none;
}

.art_featured.no_padding {
  padding-bottom: 0;
}

.thumb_art {
  position: relative;
  float: left;
}

.thumb_art.thumb_full {
  width: 100%;
  /*margin: 0 0 10px 0;*/
}

.thumb_art.thumb_medium {
  width: 45%;
  margin: 0 15px 0 0;
}

.thumb_art.thumb_small {
  width: 140px;
  margin: 0 10px 0 0;

  .duration_video {
    left: 10px;
    bottom: 10px;
  }
}

.thumb_img {
  display: block;
  overflow: hidden;
  height: 1px;
  position: relative;
  width: 100%;
  background: #f4f4f4;

  img {
    width: 100%;
    float: left;
    object-fit: cover;
  }
}

.thumb_img.thumb_5x3 {
  padding-bottom: 60%;
}

.thumb_img.thumb_1x1 {
  padding-bottom: 100%;
}

.thumb_img.thumb_2x1 {
  padding-bottom: 50%;
}

.thumb_img.thumb_1x15 {
  padding-bottom: 150%;
}

.title_news {
  line-height: $lh;

  a {
    font: 400 px_to_rem(18px) $font1;
    line-height: $lh;
  }
}

.title_news_inthumb {
  width: 100%;
  padding: 0 15px 15px 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  font: 700 px_to_rem(22px) arial;
  line-height: $lh;
  color: #fff;
  margin-bottom: 0 !important;
}

.art_featured {
  .title_news {
    margin-bottom: 10px;

    a {
      color: #333;
      font: bold px_to_rem(20px) $font1;
      line-height: $lh;
    }
  }

  &.art_with_border {
    .title_news {
      margin-bottom: 0;
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }
  }
}

.news_lead {
  font: 400 px_to_rem(17px) arial;
  line-height: $lh;
  padding: 0;
}

.icon_thumb_videophoto {
  width: 32px;
  display: block;
  height: 32px;
  line-height: 32px;
  text-align: center;
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  left: 0;
  bottom: 0;

  .ic {
    margin-top: 0;
  }

  .ic-photo {
    width: 20px;
    height: 17px;
    background-position: -242px -264px;
  }

  .ic-video {
    width: 21px;
    height: 17px;
    background-position: -217px -263px;
  }

  .ic-infographic {
    width: 20px;
    height: 18px;
    background-position: -266px -263px;
  }

  .ic-interactive {
    width: 14px;
    height: 23px;
    background-position: -196px -260px;
  }

  &.icon_thumb_zoom {
    left: auto;
    right: 5px;
    bottom: auto;
    top: 5px;
    background: rgba(51, 51, 51, 0.5);
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
}

.item_social {
  float: left;
  margin: 0 10px 0 0;
  position: relative;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 23px !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  font-size: 0 !important;

  /*.ic{
    color: #fff;
    vertical-align: middle;
    font-size: 13px;
  }*/
  .ic-email {
    background-position: -330px -1px;
  }

  &.item_fb {
    /*background: #3067a3;*/
  }

  &.item_twit {
    /*background: #00aced;*/
  }

  &.item_google {
    /*background: #dd4b39;*/
  }

  &.item_social_total,
  &.item_email {
    background: #d7d7d7;
  }

  &.item_linkedin {
    background: #007bb6;
  }

  &.item_pinterest {
    background: #cb2027;
  }

}

/**MY VNE TASKBAR**/
#myvne_taskbar {
  position: absolute;
  height: 44px;
  z-index: 99;
  right: 5px;
  top: 0;

  ul.myvne_form_log {
    li.myvne_user {
      float: right;
      height: 44px;
      margin: 0;
      line-height: 44px;
      position: relative;

      a.myvne_icon {
        display: block;
        height: 44px;
        line-height: 44px !important;
        text-align: center;
        padding: 0 10px;
      }
    }
  }
}

/**BREADCRUM**/
.section_nav {
  border-bottom: 1px solid #e7e7e7;
  height: 40px;
  background: #fff;

  &.noborder {
    border-bottom: none;
  }

  .btn_control_menu {
    width: 40px;
    height: 40px;
    line-height: 40px !important;
    display: none;
  }

  &.nav_cloned {
    padding-left: 40px;
    box-shadow: 0 1px 3px rgba(80, 80, 80, 0.2), 0 3px 5px rgba(80, 80, 80, 0.15);
    @include cubic-transition($delay: 0, $duration: 250ms, $property: (all));
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);

    &.nav-up {
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
    }

    .btn_control_menu {
      display: block;
    }
  }

  .menu_bread {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .icon_home {
    padding: 0 10px 0 12px;
    float: left;
    line-height: 40px;
    border-right: 1px solid #e5e5e5;

    svg {
      vertical-align: middle;

      path {
        fill: #222;
      }
    }

    &.active {
      svg {
        path {
          fill: #9F224E;
        }
      }
    }
  }
}

.navigation_scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.menu_bread {
  display: table-cell;
  vertical-align: middle;

  li {
    display: table-cell;

    a {
      height: 100%;
      display: block;
      font: 400 15px/38px arial !important;
      padding: 0 15px;
      white-space: nowrap;
      position: relative;

      &:after {
        content: '';
        width: 1px;
        height: 20px;
        background: #ccc;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        right: -0.5px;
      }
    }

    &.active {
      a {
        font-weight: 700 !important;
      }
    }

    &.start {
      a {
        font-weight: 700 !important;
        color: $vne_color;

        &:after {
          @extend %ic;
          content: '';
          width: 11px;
          height: 16px;
          background-position: -3px -126px;
          position: absolute;
          top: 50%;
          margin-top: -8px;
          right: -6px;
        }
      }
    }

    &:last-child {
      a {
        &:after {
          display: none;
        }
      }
    }

  }
}

/*personalized*/
.nav_user {
  .menu_bread {
    li {
      h4 {
        margin: 0 15px;
      }

      a {
        color: #222222;
        padding: 0;
        position: relative;
        line-height: 41px !important;

        &:after {
          display: none;
        }

        svg {
          path {
            color: #222222;
            fill: #222222;
          }
        }
      }

      &.first {
        border-right: 1px solid #e5e5e5;

        h4 {
          margin: 0;
        }

        a {
          padding: 0 15px;

          svg {
            width: 16px;
            height: 16px;
            vertical-align: middle;
          }

          .user {
            width: 24px;
            height: 24px;
            vertical-align: middle;
          }
        }
      }

      &.active {
        a {
          color: $vne_color;

          &:before {
            content: "";
            background: $vne_color;
            position: absolute;
            left: 0;
            height: 1px;
            width: 100%;
          }
        }

        svg {
          path {
            color: $vne_color;
            fill: $vne_color;
          }
        }
      }
    }
  }

  &.header_cloned {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(80, 80, 80, 0.2), 0 3px 5px rgba(80, 80, 80, 0.15);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);

    .menu_bread {
      display: block;
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      li {
        &.active a:before {
          display: none;
        }

        &.first {
          border-right: 0;

          a {
            padding: 0 5px;
          }
        }
      }
    }
  }

  &.nav-up {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  &.nav-down {
    padding-left: 30px;

    .btn_control_menu {
      display: block;

      .ic {
        margin-top: 2px;
      }
    }
  }
}

.nav_user.header_cloned+#top_story {
  margin-top: 40px;
}

.refresh-user {
  text-align: center;
  margin: 10px 0;

  .warp {
    background: #eee;
    padding: 15px 15px 20px 15px;
    color: #000;
    line-height: 1.3;
    font-size: 16px;

    h3 {
      font: 700 20px Arial;
      margin-bottom: 10px;
    }

    p {
      a {
        color: #076DB6;
        text-decoration: underline;
      }
    }
  }

  .btn {
    margin-top: 20px;
    color: #9F224E;
    background: #076DB6;
    color: #fff;
    border-radius: 3px;
    line-height: 40px;
    display: inline-block;
    width: 183px;
  }

  svg {
    vertical-align: text-top;
    fill: #fff;
  }
}

.date-view-user {
  margin-top: 5px;

  label {
    border-bottom: 1px solid #E5E5E5;
    color: #04416D;
    font: 700 16px/18px Arial;
    padding-bottom: 7px;
    margin-bottom: 15px;
    display: block;

    span {
      font-weight: 400
    }
  }

  .loading {
    display: block;
    height: 20px;
    width: 100px;
    margin-bottom: 7px;
    animation: timeline;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
    background-size: 800px auto;
    background-position: 100px 0;
  }
}

/*personalized*/

/**END BREADCRUM**/
/**LIST NEWS COMMON**/
.list_news_common {

  /*margin-bottom: 15px;*/
  .art_item {
    margin-top: 10px;
    padding-top: 10px;
  }

  .art_item:first-child,
  .last {
    border: none;
    margin-top: 0;
    padding-top: 0;
  }

  &.has_border {
    margin-bottom: 0;

    .art_item:last-child,
    .last {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #f7f7f7;
    }
  }
}

.art_section {
  /*margin-bottom: 15px;*/
  margin-bottom: 10px;
  padding-bottom: 10px;

  &.last {
    margin-bottom: 10px;
    padding-bottom: 10px;

    &:after {
      display: none;
    }
  }

  &.has_border {
    margin-bottom: 10px;
    padding-bottom: 10px;

    &:after {
      display: block;
    }
  }


}

.list_news_common_bold .title_news a {
  font: 700 16px arial;
}

.art_medium {
  .title_news {
    a {

      color: #333;
    }
  }
}

/**BOX NEWS COMMON**/
.title_box_category {
  position: relative;
  margin-bottom: 15px;
  padding: 0 15px;

  .inner_title_box {
    position: relative;
  }

  .text_title_box {
    display: block;
    float: left;
    color: #333;
    font: 700 px_to_rem(22px) arial;
    line-height: $lh;
    padding: 0;
    position: relative;
  }

  &.title_box_category_style2 {
    .inner_title_box {
      border: none;

      &::before {
        width: 100%;
        height: 10px;
        background: #eeeeee;
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
      }
    }

    .text_title_box::before {
      display: none;
    }
  }

  &.title_box_freestyle {
    .inner_title_box {
      border: none;
    }

    .text_title_box::before {
      display: none !important;
    }
  }

}

.inner_section {
  .title_box_category {
    padding-left: 0;
    padding-right: 0;
  }
}

/**END HEADER**/
/**ANIMATE PLACEHOLDER**/
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }

  100% {
    background-position: 468px 0
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
  background-size: 800px 104px
}

/**BANNER PR**/
.section_bannerpr {
  padding-bottom: 15px;
  border-bottom: 1px solid #f7f7f7;

  img {
    width: 100%;
    float: left;
  }

  &.slide_bannerpr {
    padding-right: 0;
  }
}

/**INTERACTIVE**/
.top_story_interactive {
  .art_featured .title_news a {
    color: #333;
  }
}

.art_interactive {
  .title_news a {
    font: 400 px_to_rem(18px) arial;
    line-height: 1.313;
  }
}

@media screen and (max-width: 340px) {
  .thumb_art.thumb_small {
    width: 130px;
  }
}

@media screen and (max-width: 359px) {
  .thumb_art.thumb_small {
    width: 120px;
  }

  // .title_news a,.list_art_img .art_featured .title_news a,.news_lead{
  //     font: 400 px_to_rem(16px) arial;
  // }
  // .art_featured .title_news a,.title_news_inthumb{font: 700 px_to_rem(20px) arial;}
  // .title_box_category .text_title_box{font:700 px_to_rem(22px) arial;}
  .img_logo {
    margin: 8px auto;
    width: 145px;
  }

  #myvne_taskbar ul.myvne_form_log li.myvne_user a.myvne_icon {
    padding: 0 8px;
  }
}