/* Scss Document */
$url: "images" !default;
/*background: url("#{$url}/graphics/demo.gif") no-repeat 0 0;*/
$vne_color: #9f224e;
$vne_color_hover: #004f8b; 
$main_width: 1000px;
$max_width_1000: 750px;
$max_width_750: 600px;
$max_width_600: 100%;
/*Menu*/
.main_menu{
       width: 375px;
     background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2247483647;
    will-change: transform;
    -moz-transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: translate(-100%);
    -ms-transform: translate(-100%);
    -o-transform: translate(-100%);
    transform: translate(-100%);
	 overflow: hidden;
.ic-twitter{
  background-position: -120px -260px;
 width: 24px;
 height: 24px;
}
.ic-email{width: 16px;height: 12px;background-position: -192px -127px;}

.ic-vnexpress{
    width: 16px;height: 18px;
  background-position: -415px -192px;
}
.ic-facebook {
    width: 24px;height: 24px;
  background-position: -72px -260px;
}
.ic-false {width: 18px;height: 18px;
  background-position: -72px -192px;
}

.ic-google-plus {
  width: 24px;height: 24px;
  background-position: -312px -260px;
}

.ic-rss{
  background-position: -339px -263px;
 width: 20px;
 height: 20px;
}
.ic-search{width: 17px;height: 18px;
  background-position: -108px -192px;
}
 }

.header_menu{height: 40px;
    .block_swich_en_mobile {
        float: right;
        padding: 0 0 0 15px;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 40px;
        color: #999;
         a {
          line-height: 40px;
          vertical-align: middle;
          width: 80px;
          height: 18px;
          //background: url("#{$url}/icons/icon_swich_en_mobile.gif") no-repeat 0 0;
          text-indent: -9000px;
          display: inline-block;
             position: relative;
             &::after{content: "English"; position: absolute; top: 0; left: 20px;text-indent: 0; height: 18px; font: 400 14px arial;}
             .ic{text-indent: 0; position: absolute; top: -1px; left: 0;}
        }
    }
}
 .show_main_menu .main_menu{-webkit-transform: translate(0);
     -ms-transform: translate(0);
     -o-transform: translate(0);
     transform: translate(0);
   }
 .block_scoll_menu{
   scroll-behavior: smooth;
   -ms-overflow-style: -ms-autohiding-scrollbar;
   overflow: scroll; -webkit-overflow-scrolling: touch; z-index: 9999; height: 100%; padding-bottom: 35px;
   .block_search {
        border-bottom: 1px solid #eee;
       border-top: 1px solid #eee;
        padding: 15px;
       position: relative;
       .input_form{color: #333; padding-right: 64px; font-size: 16px !important; height: 32px;
       width: 100%;
        float: left;
        border: 1px solid #eee;
        padding-left: 10px;
           outline: none;
       }
        .btn_search,.btn_reset{
       width: 32px; height: 32px; border: none; background: none; border: 1px solid #eee; text-align: center; line-height: 32px; position: absolute; top: 15px; right: 15px; cursor: pointer; @include cubic-transition($delay: 0, $duration: 350ms, $property: (all)); visibility: visible; opacity: 1; outline: none;
      }
       .btn_reset{visibility: hidden; opacity: 0; right: 47px; border: none; background: none; font-size: 30px; color: #999; font-family: -webkit-body;}
       &.focus{
           .btn_search{background: $vne_color;
               .ic-search{background-position: -863px -192px;}
           }
           .btn_reset{visibility: visible; opacity: 1;}
       }
    }
    
 }
.guitoasoan_btn{display: block; width: calc(50% - 10px) !important; background: #e7e7e7; text-align: center; font: 400 16px/21px arial !important; padding: 10px 0; border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;-ms-border-radius: 5px;
    .ic{margin: -3px 10px 0 0;}
    &.ads_btn{float: right; background: #ffc134;}
}
.ic-ads{width: 16px !important;height: 16px !important;background: url(images/graphics/ad.svg) no-repeat 0 0 !important; background-size: contain;}
 .coppy_right_info{
          padding: 15px;
          font: 400 14px arial !important;
          position: relative;

        label{border-bottom: 1px solid #ccc; margin-bottom: 10px; padding-bottom: 7px;}
        .app_info{margin-bottom: 20px;
            p{width: calc(50% - 10px);
                a{width: 100%; height: 40px; background: #e7e7e7; display: block; padding-left: 10px; padding-top: 3px; -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                border-radius: 5px;font-size: 14px !important;
                    .ic{float: left; margin-right: 7px; margin-top: 5px;}
                    
                    .s_text{text-transform: uppercase; font-size: 10px !important; line-height: 13px !important;
                        strong{font-size: 15px !important;}
                    }
                }
                
            }
        }
        .vne_app{
          p{
            a{text-align: center;padding-top: 8px;
              span{
                display: inline-block;
                margin-right: 2px;
                vertical-align: middle;                
              }
            }
          }
        }
        .phone_info{margin-bottom: 20px;
            p{width: 50%; font-size: 14px !important;
                &.right{padding-left: 10px;}
                strong{font-size: 18px;}
            }
        }
     }
.copyright_text{color: #999; text-align: center; padding: 15px 0 0 0; margin-bottom: 30px; border-top: 1px solid #e7e7e7;
    p{font-size: 14px !important;}
}
.list_menu{background: #f7f7f7;}
 .list_item_panel{padding-right: 15px; border-bottom: 1px solid #ccc;
     &:last-child{border: none;}
   li{width: 50%; float: left; margin: 0; padding: 0 0 0 15px;
       &:last-child{
           margin-top: 7px;
       }
      a.link_item_panel{
        display: block;
        width: 100%;
        float: left;
        color: #333;
        font: 400 16px/40px arial !important;
        border-bottom: 1px solid #e7e7e7;
        padding: 0;
       }

       &:last-child a.link_item_panel, &:nth-last-child(2) a.link_item_panel{border: none;}
     }
   li.active{
     a.link_item_panel{
       font-weight: 700 !important;
         color: $vne_color;
         &.kinhdoanh{color: #04416d;}
         &.giaitri{color: #d71450;}
         &.thethao{color: #58a12b;}
         &.phapluat{color: #6e2c2d;}
         &.giaoduc{color: #e17100;}
         &.suckhoe{color: #04a59d;}
         &.giadinh{color: #2d96b5;}
         &.dulich{color: #0072bb;}
         &.khoahoc{color: #806f26;}
         &.sohoa{color: #df9c00;}
         &.xe{color: #6a7b83;}
         &.cuoi{color: #dc3926;}
     }
   }
     &.list_index{
         li{
             a.link_item_panel{border: none; font-weight: 400 !important; color: #004f8b !important;}
         }
     }
     .item_social{width: 24px; height: 24px; line-height: 24px; margin-right: 15px;}
      .item_fb,.item_twit{background:none;}
 }

   .mask-content{position: relative;}
  .mask-content::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 201;
    background: rgba(0,0,0,0.5);
    content: "";
    transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
    -moz-transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
    -webkit-transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
    -ms-transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
    opacity: 0;
    visibility: hidden;
}
.show_main_menu .mask-content::before,.show_main_menu .close_main_menu {
    opacity: 1;
    visibility: visible;
}
body.show_main_menu, body.hidden{
    overflow: hidden;
    height: 100vh;
    position: relative;
}
.close_main_menu{float: left;
  width: 40px; height: 40px; line-height: 40px !important; font-size: 0 !important; text-align: center;

}
/*End Menu*/