html {}

html,
body {
  text-rendering: optimizeSpeed;

}

body {
  color: #222;
  font: 400 px_to_rem(14px) arial;
  text-align: left;
  line-height: 1.313;
  overflow-x: hidden;
  max-width: 590px;
  margin: 0 auto;

}

a:focus {
  outline: 1 !important;
}

a {
  color: #222;
  text-decoration: none;
  outline: 1;
}

img {
  border: 0;
  font-size: 0;
  line-height: 0;
  max-width: 100%;
  /*image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;*/
}

ul,
li {
  list-style-type: none;
}

input,
textarea {
  font-family: arial;
  font-size: 11px;
  border: none;
  background: none;

}

input::-webkit-input-placeholder {
  color: #999999;
}

input::-moz-input-placeholder {
  color: #999999;
}

input::-ms-input-placeholder {
  color: #999999;
}

input::-o-input-placeholder {
  color: #999999;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.clearfix {
  clear: both;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
}

.left {
  float: left;
}

.right {
  float: right;
}

.width_common {
  width: 100%;
  float: left;
}

html {
  -webkit-text-size-adjust: none;
}

h2,
h3,
h4,
h5 {
  line-height: 16px;
}

.no_wrap {
  white-space: nowrap;
}


.txt_10 {
  font-size: 10px;
}

.txt_11 {
  font-size: 11px;
}

.txt_14 {
  font-size: 14px;
}

.txt_16 {
  font-size: 16px;
}

.txt_vne {
  color: #9f224e;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.bg_gray {
  background: #f4f4f4;
}