
@import "var.scss";
@import "reset.scss";
@import "icon-vne.scss";
@import "scrollbar.scss";
/**Common setting**/
@import "inline_vne.scss";
/**MyvnE**/
@import "myvne-2017.scss";
@import "menu-vne.scss";

/*MAIN CONTAINER*/
.embed-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    margin-bottom: 15px;
    iframe{
        object-position: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;        
    }
}
#top_story{
    &:before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 15px;
        width: calc(100% - 30px);
        height: 1px;
        background: #e5e5e5;        
    }
}
.header.header_cloned{
    & + section{
        margin-top: 45px;
    }
}
/**Back to top**/
#to_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  display: none;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  background: rgba(0,0,0,0.1);
  .ic-caret-up{
    background-position: -217px -192px; width: 16px;height: 19px;
  }
}
/**End Back to top**/
/**BOX BANNER ADS**/
.banner_mobile_300x250{
  width: 100%; float: left; text-align: center;font-size: 0;
    .inner_ads{width: 300px; margin: 0 auto;
        .ads_content{height: auto;}
    }
    .text_ads{width: 100%; float: left; margin-bottom: 15px; font: 400 11px arial; color: #a7a7a7; text-align: center; position: relative;
        &:before{width: 100%; height: 1px; background: #eee;content: ''; position: absolute; top: 6px; left: 0;z-index: -1;}
        .txt_qc{display: inline-block; background: #fff; padding: 0 7px;}
    }
}
/**END BOX BANNER ADS**/
/*END MAIN CONTAINER*/

/*Detail custom*/
.relative_new{
    margin-bottom: 10px;
    ul{
        li{
            padding: 0 0 10px 12px;
            position: relative;
            &:before{
                content: "";
                width: 3px;
                height: 17px;
                background: #E5E5E5;
                position: absolute;
                top: 3px;
                left: 0;                
            }
            a{color: #1B71B2;font: 400 16px/22px Arial;}
        }
    }
}
.title_news_detail{font: 500 28px $font1;line-height: 1.4;}
.title_box_category {
    .text_title_box{font: 500 24px $font1;}
}
.title_box_samenews .title_samenews{font: 500 24px $font1;}
.container_tab_live{
    ul li.block{
        .minutes{
            .icon_live{display: none;}
        }
    }
}
// .fck_detail figcaption, .fck_detail .desc_cation{
//     p{
//         &:last-child{padding-bottom:0;}
//     }
// }
#header_sticky{
    .nav{
        float: left;
        li{display: inline-block;position: relative;
            a{
                font: 500 16px $font1;color: #828282;display: block;padding:11px 15px;
            }
            &.sub{
                a{color: #0F2271;}
                &:before{display: none;}
                &:after{
                    content: ">";
                    position: absolute;top: 11px;left: 0px;
                    color: #BDBDBD;     
                    font-family: cursive;          
                }
            }            
        }
    }
    .block_share_gray{margin: 5px 10px 0 0;}
    .luu_tin{margin-left: 0;
        a{
            width: 32px;
            height: 32px;
            line-height: 29px !important;
            border: 1px solid #cdcdcd;
            background: none;   
            i{
                background-position:-83px -126px!important;
            }         
        }
    }
}
/*End Detail custom*/

/**FOOTER**/


/**RESPONSIVE**/