@import "var.scss";
@import "form-lightbox.scss";

/*Header theme 1*/
.section_top{
    &_1,&_2{
        background: #fff url(images/graphics/bg_top2.jpg) no-repeat top right;
        background-size: 100%;       
        .logo_seagame {
            min-height: 70px;
            position: relative;
            text-align: center;
            float: none;
            margin: 0 auto;
            .link_logo{margin: 15px 0 0 0;float: left;}
        } 
        .box_menu{margin: 0 -15px;}
        .main_menu_seagame{
            height: 44px;
            background: #fff;
            overflow-x: scroll;
            white-space: nowrap;
            transition-duration: 200ms;
            transition-property: all;
            transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);    
            &.fixed {
                position: fixed;
                left: 0;
                top: 0;
                z-index: 9000;
            }
            &.nav-up {
                transform: translateY(-100%);
            }
            ul{
                vertical-align: middle;
                li{
                    display: table-cell; 
                    position: relative;
                    float: none; padding: 0 15px;
                    & + li:not(.sub) {
                        &:before {
                            content: "";
                            height: 14px;
                            width: 1px;
                            background: #E5E5E5;
                            position: absolute;
                            left: 0;
                            top: 14px;
                        }
                    }
                    &.active {
                        a {
                            color: $color1;
                        }
                    }
                    &.menu_hide{display: none;}
                    a{
                        display: block;
                        color: #757575;
                        position: relative;
                        z-index: 9;
                        font-size: 16px;
                        font-weight: 500;
                        padding-top: 10px;
                        display: inline-block;
                        & + a {
                            padding-left: 15px;
                            margin-left: 15px;
                            &:before {
                                content: "";
                                height: 14px;
                                width: 1px;
                                background: #E5E5E5;
                                position: absolute;
                                left: 0;
                                top: 14px;
                            }
                        }
                        &.active{
                            color: $color1;
                        }
                    }
                    
                    &.sub{
                        position: relative;
                        &:before{
                            content: ">";
                            position: absolute;top: 11px;left: 0px;
                            color: #BDBDBD;     
                            font-family: cursive;          
                        }
                    }
                }
            }  
        }          
    }
    &_2{
        .logo_seagame{
            min-height: 120px;
            background: url(images/graphics/bg_top3.jpg) no-repeat center/cover;margin: 0 -15px;
            .link_logo {
                float: left;
                width: 200px;
                margin-top: 42px;
                margin-left: 15px;
                text-align: left;
                font-family: $font1;
                color: #0f2171 !important;
                p{font-size: 18px;font-weight: 400;
                    strong{font-family: $font1;}
                }
                span{
                    font-weight: 400;
                    display: block;
                    font-size: 15px;                    
                }
            }        
        }
        .main_menu_seagame{
            background:#fff;border-bottom: 1px solid #E5E5E5;
            ul{
                li{
                    &:before{
                        content:"";
                        background:#BDBDBD;
                        position: absolute;height: 15px;width: 1px;
                        left: 0;top: 12px;
                    }
                    &:first-child{
                        &:before{display:none;}
                    }
                    a{color: #828282;font-weight: 500;font-family: $font1}
                    &.active{
                        a{color: #0F2271;}
                    }
                    &.sub{
                        a{color: #0F2271;}
                        &:before{display: none;}
                        &:after{
                            content: ">";
                            position: absolute;top: 11px;left: 0px;
                            color: #BDBDBD;     
                            font-family: cursive;          
                        }
                    }                    
                }
            }
        }
    }
}
/*End Header theme 1*/

/**BLOCK LỊCH THI ĐẤU**/
.box_calendar{
    margin: 0 -15px;
    header .title_news_w18 {
        margin-bottom: 20px;float: left;font-size: 18px;
    }
    .warp{background: #f4f4f4;padding: 20px 15px 0 15px;}
    .item_match{width: 100%; float: left;margin-bottom: 5px;border-left: 3px solid #e6e6e6;
        .inner_item_match{
            background: #e6e6e6;
            padding: 10px 15px 10px 12px;}
        .team_name{margin-bottom: 10px;float: left;width: 100%;
            &:last-child{margin-bottom:0;}
        }
        .note{
            color: #666;
            background: #f4f4f4;
            padding: 5px 10px;
            float: left;
            width: 100%;
        }
        .team{position: relative; width: 70%;@include fontSize(14px); white-space: nowrap;
            &::after{
                content: "";
               
            }
            img{width: 20px;height: 13px;margin-right: 10px;float: left;}
            h3{
                float: left;@include fontSize(14px);float: left;margin-top: -2px;font-weight: 400;
            }
        }
        .info_match{width: 30%; text-align: right;margin-top: -3px;position: relative;
            p{margin-bottom: 5px;}
            strong{@include fontSize(16px);}
            .live{
                position: absolute;
                bottom:6px;
                left:0px;
                @include fontSize(14px);                
                span{@include fontSize(14px);text-transform: capitalize;}        
            }            
        }
        &.active_live{
            border: 1px solid #e9007f;border-left: 3px solid #e9007f;
        }
    } 
    .note{
        color: #e9007f;
        float: left;
        width: 100%;
        font-weight: bold;
        font-family: arial;
        margin: 5px 0;
    }
    .more_match {
        text-align: center;
        background: #e9007f;
        color: #fff;
        font-size: 1rem;
        display: inline-block;
        padding: 10px 20px;
        clear: both;
        margin: 10px 0 20px 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }       
}
header select {
    font-size: 1rem;
    float: right;
    line-height: 1.2;
    border: 0;
    background: none;
    padding: 3px 15px 3px 25px;
    border-bottom: 1px solid #ccc;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background: url(images/graphics/arrow_select.png) no-repeat 100% 10px;
    border-radius: 0;
    width: auto;
    margin-top: -8px;
}
/**END BLOCK LỊCH THI ĐẤU**/

/*BLOCK GAME DỰ ĐOÁN*/
.game_taitro {
    color: #fff;
    margin-top: 9px;
    span{
        display: inline-block;
        margin-top: 3px;
        margin-right: 10px;        
    }
}
.title_box_300 .text_title_box {
    font: 500 18px $font1;
    color: #fff;
    display: block;
    padding: 10px 0;
    position: relative;
    text-align: center;
}
.box_bangdiem {
    .title_box_300 {
        position: relative;
        text-align: center;
        height: 44px;
        padding: 0 15px;
        background: url(images/graphics/bg_title1.jpg)no-repeat center left/cover; 
        margin-bottom: 0;    
        a{@include fontSize(18px);color: #fff}    
    }   
    .label {
        float: left; margin-right: 2px;line-height: 34px;
    }
    .tab {
        float: left;
        width: 100%;
        background: #024fa1;
        padding: 8.5px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-family: arial;    
            a {
                font-weight: 700;
                float: left;
                &:not(:last-child) {
                    margin-right: 10px;
                }
                 &:hover, &.active {
                        h3 {
                            background: #fedb99;
                        }
                    }
                h3 {
                    cursor: pointer;
                }
            }
        
    }    
    .list-bang {
        float: left;
        width: 100%;
        background: #ffbb00;
        padding: 3px 8px;
        height: 40px;
        font-family: arial;
        font-weight: bold;
        ul {
            float: left;
            li {
                float: left;
                &:not(:last-child) {
                    margin-right: 10px;
                }
                 &:hover, &.active {
                        h3 {
                            background: #fedb99;
                        }
                    }
                h3 {
                    cursor: pointer;line-height: 34px;padding: 0 10px;font-size: 14px;
                }
            }
        }
    }
    table {
        text-align: left;
        margin-top: 0;
        border-collapse: collapse;
        background: #fff;
        padding-bottom: 10px;
        font-size: 14px;
        width: 100%;
        th{
            font-weight: 400;background: #e6e6e6;padding: 10px;text-align: center;
            &:nth-child(2){text-align:left;}
        }
        tr{
            &:nth-child(even){background: #f5f5f5;}
        }
        td {
            padding: 8px;text-align: center;
            &:first-child{text-align:center;}
            &:nth-child(2){
                text-align:left;
                img{
                    margin-right: 8px;
                    width: 20px;
                    margin-top: 3px;
                    vertical-align: middle;
                }
            }
        }
        &.active {
            display: table;
        }
    }


}

.box_dudoan{
    .title_box_300{text-align: left;
        .text_title_box{display: inline-block;}
    }
    .dudoan{
        .tab{display: table;}
        .tab_dudoan{display: table-cell; vertical-align: middle; font: 400 14px arial; line-height: 1.313; color: #fff; text-align: center; float: none; margin: 0;
            &.active{color: #00d5ff;}
            &.tab_center{position: relative;
                &:before{width: 1px; height: 10px; background: #3572b4; position: absolute; top: 50%; margin-top: -5px; left: 0; content: '';}
                &:after{width: 1px; height: 10px; background: #3572b4; position: absolute; top: 50%; margin-top: -5px; right: 0; content: '';}
            }
            }
    }
    .day_match{background: #e6e6e6; width: 100%;float: left; padding: 10px; font: 400 14px arial; color: #666;text-align: center;}
    .vong_dau--list{
        .item_date {
            .tr{
                .td{width: 100%; margin-bottom: 0;
                    .inner_item_match{background: #f4f4f4; border: none;
                        .team{width: 33%; margin-top: 37px;}
                        .center{width: 34%;
                            input{border: 1px solid #e6e6e6;}
                            .live{height: 21px;}
                            .btn_dudoan{width: 100px; max-width: 100%; font-size: 16px; padding: 10px 8px;}
                        }
                        .left.team{
                            h4{float: right;}
                            .team_ava{float: right; width: 25px; margin-top: 5px; margin-left: 7px;
                                img{width: 100%; float: left;}
                            }
                        }
                        .right.team{
                            h4{float: left;}
                            .team_ava{float: left;width: 25px;margin-top: 5px;margin-right: 7px;
                                img{width: 100%; float: left;}
                            }
                        }
                        h4{margin-top: 5px;}
                    }
                }      
            }   
        }   
    } 
}

.vong_dau--list{
    .item_date{
        label{font: 700 16px arial;display: block;margin-bottom: 10px;}
        .tr{
            margin-left: -30px;font-size: 0px;
            .td{
                padding-left: 30px;width: 100%;display: inline-block;margin-bottom: 20px;
                .inner_item_match{
                    padding: 20px 15px;
                    font-size: 16px;
                    h4{display: block;margin-top: 5px;font-weight: 400;}
                    .team{
                        width: 33%;text-align: center;margin-top: 20px;
                        .team_ava{width: 40px;margin:0 auto;}
                    }
                    .center{
                        width: 33%;float: left;text-align: center;
                        .live{display: block;width: 50px;margin: 0 auto 10px;
                            span{color: #e9007f;}
                        }
                        span{color: #999999;display: block;text-align: center;margin-bottom: 10px;}
                        input{
                            border: 1px solid #00d5ff;
                            width: 40px;
                            height: 35px;
                            text-align: center;
                            font-size: 16px;
                            margin: 0 3px;
                        }
                        .btn_dudoan{
                            display: block;
                            width: 80px;
                            background-color: #024fa1;
                            color: #fff !important;
                            border: 0;
                            margin: 20px auto 0;
                            font-size: 14px;
                            padding: 7px 2px;                           
                        }
                        .disabled{opacity: 0.5}
                    }
                }
            }
        }
    }
}

/*END BLOCK GAME DỰ ĐOÁN*/

.title_cate{
    font: 500 24px $font1;padding: 15px;position: relative;
    a{position: relative;background:#F7F7F7;padding-right: 10px;}
}
.line-top{
    float: left;width: 100%;position: relative;
    &:before{
        content:"";
        background:#e5e5e5;
        left: 15px;right: 15px;display: block;
        height: 1px;position: absolute;top: -15px;
    }
}
.box_binhluan{
    background: #eff4f9;
    h2{
        font: 500 18px $font1;
        text-align: center;
        height: 44px;
        line-height: 44px;
        background: url(images/graphics/bg_title2.jpg) no-repeat center left/cover;
        margin-bottom: 20px; 
        a{color: #fff;}       
    }
}
.list-video{
    .thumb_full{float: none;margin-bottom: 10px;}
    .title_news{
        padding: 0 15px;
        a{font: 500 22px $font1;line-height: $lh}
    }
}

/*Theme color detail*/
$color_theme1:#04416D;
.color_theme1{
    .tabs_live{
        li{
            a.active{background: $color_theme1;border: 1px solid $color_theme1;}
        }
    }
    .live_post_status a{color: $color_theme1;border: 1px solid $color_theme1;}
    .container_tab_live ul li.block div.minutes .text_minutes.special_time{background: $color_theme1;}
}

/*End Theme color detail*/

/*  Owl Carousel - Core*/
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1; }
    .owl-carousel .owl-stage {
      position: relative;
      -ms-touch-action: pan-Y; }
    .owl-carousel .owl-stage:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0; }
    .owl-carousel .owl-stage-outer {
      position: relative;
      overflow: hidden;
      /* fix for flashing background */
      -webkit-transform: translate3d(0px, 0px, 0px); }
    .owl-carousel .owl-item {
      position: relative;
      min-height: 1px;
      float: left;
      -webkit-backface-visibility: hidden;
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none; }
    .owl-carousel .owl-item img {
      display: block;
         width: 100%;
      /* -webkit-transform-style: preserve-3d; */
   }
    .owl-carousel .owl-nav.disabled,
    .owl-carousel .owl-dots.disabled {
      display: none; }
    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next,
    .owl-carousel .owl-dot {
      cursor: pointer;
      cursor: hand;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .owl-carousel.owl-loaded {
      display: block; }
    .owl-carousel.owl-loading {
      opacity: 0;
      display: block; }
    .owl-carousel.owl-hidden {
      opacity: 0; }
    .owl-carousel.owl-refresh .owl-item {
      visibility: hidden; }
    .owl-carousel.owl-drag .owl-item {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .owl-carousel.owl-grab {
      cursor: move;
      cursor: grab; }
    .owl-carousel.owl-rtl {
      direction: rtl; }
    .owl-carousel.owl-rtl .owl-item {
      float: right; }
   
   /* No Js */
   .no-js .owl-carousel {
    display: block; }
   
   /*
   *  Owl Carousel - Animate Plugin
   */
   .owl-carousel .animated {
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
   
   .owl-carousel .owl-animated-in {
    z-index: 0; }
   
   .owl-carousel .owl-animated-out {
    z-index: 1; }
   
   .owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
            animation-name: fadeOut; }
   
   @-webkit-keyframes fadeOut {
    0% {
      opacity: 1; }
    100% {
      opacity: 0; } }
   
   @keyframes fadeOut {
    0% {
      opacity: 1; }
    100% {
      opacity: 0; } }
   
   /*
   *   Owl Carousel - Auto Height Plugin
   */
   .owl-height {
    transition: height 500ms ease-in-out; }
   
   /*
   *   Owl Carousel - Lazy Load Plugin
   */
   .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
   
   .owl-carousel .owl-item img.owl-lazy {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
   
   /*
   *   Owl Carousel - Video Plugin
   */
   /*.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000; }
   
   .owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: -webkit-transform 100ms ease;
    transition: transform 100ms ease; }
   
   .owl-carousel .owl-video-play-icon:hover {
    -webkit-transform: scale(1.3, 1.3);
        -ms-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3); }
   
   .owl-carousel .owl-video-playing .owl-video-tn,
   .owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none; }
   
   .owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 400ms ease; }
   
   .owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%; }*/
    /**END Owl Carousel - Video Plugin**/
    /**SLIDE**/
    .list_slide_news{
      background: #f5f5f5;
      padding: 10px;
      .art_featured{
        width: 100%; margin: 0;
      }
      &.list_slide_nobackground{
        background: none; padding: 10px 0 0 0;
      }
    }
    .box_with_slider{
      position: relative;
        .art_featured .title_news{margin-bottom: 0;}
        .feature_content{padding-bottom: 0;}
    }


@import "custom.scss";