/**
iconfont Webfont
*/
@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot?1591433204427');
	src: url('iconfont.eot?#iefix-1591433204427') format('embedded-opentype'),
		url('iconfont.woff2?1591433204427') format('woff2'),
		url('iconfont.woff?1591433204427') format('woff'),
		url('iconfont.ttf?1591433204427') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='iconfont-']:before,
[class*=' iconfont-']:before {
	font-family: 'iconfont';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/
 .iconfont-address:before {
			content: '\ea01';
		}

		 .iconfont-address2:before {
			content: '\ea02';
		}

		 .iconfont-atm-card:before {
			content: '\ea03';
		}

		 .iconfont-authentication:before {
			content: '\ea04';
		}

		 .iconfont-back:before {
			content: '\ea05';
		}

		 .iconfont-bar:before {
			content: '\ea06';
		}

		 .iconfont-book:before {
			content: '\ea07';
		}

		 .iconfont-buy:before {
			content: '\ea08';
		}

		 .iconfont-calendar:before {
			content: '\ea09';
		}

		 .iconfont-cart:before {
			content: '\ea0a';
		}

		 .iconfont-check-box:before {
			content: '\ea0b';
		}

		 .iconfont-checked:before {
			content: '\ea0c';
		}

		 .iconfont-close:before {
			content: '\ea0d';
		}

		 .iconfont-close2:before {
			content: '\ea0e';
		}

		 .iconfont-compass:before {
			content: '\ea0f';
		}

		 .iconfont-dam-bao:before {
			content: '\ea10';
		}

		 .iconfont-date:before {
			content: '\ea11';
		}

		 .iconfont-delete:before {
			content: '\ea12';
		}

		 .iconfont-down:before {
			content: '\ea13';
		}

		 .iconfont-edit:before {
			content: '\ea14';
		}

		 .iconfont-exclamation-mark:before {
			content: '\ea15';
		}

		 .iconfont-file:before {
			content: '\ea16';
		}

		 .iconfont-giasoc:before {
			content: '\ea17';
		}

		 .iconfont-gioihan:before {
			content: '\ea18';
		}

		 .iconfont-heart:before {
			content: '\ea19';
		}

		 .iconfont-heart2:before {
			content: '\ea1a';
		}

		 .iconfont-help:before {
			content: '\ea1b';
		}

		 .iconfont-home:before {
			content: '\ea1c';
		}

		 .iconfont-home2:before {
			content: '\ea1d';
		}

		 .iconfont-hotline:before {
			content: '\ea1e';
		}

		 .iconfont-language:before {
			content: '\ea1f';
		}

		 .iconfont-like:before {
			content: '\ea20';
		}

		 .iconfont-link:before {
			content: '\ea21';
		}

		 .iconfont-link2:before {
			content: '\ea22';
		}

		 .iconfont-mail:before {
			content: '\ea23';
		}

		 .iconfont-map:before {
			content: '\ea24';
		}

		 .iconfont-next:before {
			content: '\ea25';
		}

		 .iconfont-next1:before {
			content: '\ea26';
		}

		 .iconfont-next2:before {
			content: '\ea27';
		}

		 .iconfont-notifi:before {
			content: '\ea28';
		}

		 .iconfont-notifi1:before {
			content: '\ea29';
		}

		 .iconfont-notifi2:before {
			content: '\ea2a';
		}

		 .iconfont-notifi3:before {
			content: '\ea2b';
		}

		 .iconfont-padlock:before {
			content: '\ea2c';
		}

		 .iconfont-phone:before {
			content: '\ea2d';
		}

		 .iconfont-prev1:before {
			content: '\ea2e';
		}

		 .iconfont-prev2:before {
			content: '\ea2f';
		}

		 .iconfont-review:before {
			content: '\ea30';
		}

		 .iconfont-rss:before {
			content: '\ea31';
		}

		 .iconfont-search:before {
			content: '\ea32';
		}

		 .iconfont-send_bank:before {
			content: '\ea33';
		}

		 .iconfont-smartphone:before {
			content: '\ea34';
		}

		 .iconfont-sosanh:before {
			content: '\ea35';
		}

		 .iconfont-star-full:before {
			content: '\ea36';
		}

		 .iconfont-star-half:before {
			content: '\ea37';
		}

		 .iconfont-superscript2:before {
			content: '\ea38';
		}

		 .iconfont-thutuc:before {
			content: '\ea39';
		}

		 .iconfont-tietkiem:before {
			content: '\ea3a';
		}

		 .iconfont-upfile:before {
			content: '\ea3b';
		}

		 .iconfont-user:before {
			content: '\ea3c';
		}

		 .iconfont-vector:before {
			content: '\ea3d';
		}

		 .iconfont-visa:before {
			content: '\ea3e';
		}

		