/* Scss Document */
#box_comment .comment_item p{font: 300 14px/19px arial;}
.txt_blue {
  color: #004f8b!important;
}
  .ykien_vne{
    background: #eaeaea;
    position: relative;
    text-rendering: geometricPrecision;
    padding: 0 0 0 10px;
    font: 400 14px/26px arial;
    color: #9d234c;
    .left {
        white-space: nowrap;
    }
  }
.filter_coment{ 
	float: right;
	color: #666;
	padding: 0 10px 0 0;
	a{
		font: 400 11px arial;
		color: #666;
		&.active{
			color: $vne_color;
		}
	}
}
.comment_item{
  padding: 10px 10px 0 10px;
  word-wrap: break-word;
  &.hight_light{
    background: #f8f8f8;
  }
    p {
      padding-bottom: 2px;
      font: 300 14px/19px arial; 
  }
	span.left.txt_666.txt_14{
		font-size: 12px;
		padding: 5px 0 0;
		white-space: nowrap;
	}
  .avata_coment {
    margin: 0 10px 0 0;
    float: left;
	  img{width: 24px;height: 24px;}
  }
  .block_like_web {
    float: right;
    text-align: right;
    padding: 0;
    font-size: 12px;
    position: relative;
    a{
      font-size: 11px;
    &.share_cmt_fb{
      .ic{
        font-size: 8px;
      }
    }
		.ic-reply{
			margin: -4px -2px 0 0;
			/*color: $vne_color;*/
			display: inline-block;
			vertical-align: middle;
		}
    }
    .block_share_cmt_fb{
	  background: #fff;
      position: absolute; top: 26px; right: 0;
      display: none;
      z-index: 3;
      .item_social{
        float: right;
        margin: 0 0 0 5px;
		  i{
			  display: inline-block;
			 /* padding-bottom: 5px;*/
			  margin-top: -2px;
		  }
      }
		
    }
  }
  a.link_thich {
    position: relative;
    color: #004F8B!important;
    .ic{
      color: $vne_color;
      font-size: 12px;
    }
    &.unlike{
      color: #858585!important;
      .ic{
        color: #858585!important;
		display: inline-block;
		vertical-align: middle;
		/*margin-top: 3px;*/
        filter: grayscale(1);
        opacity: 0.6;
      }
    }
    /*&::after{
      width:2px;
      height: 2px;
      background: #004F8B;
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin: 0 2px 0 7px;
    }*/
    }
	.input_comment{border: none;}
}
.icon_show_full_comment {
    display: inline-block;
    margin: 0 0 0 3px;
    /*.ic{
      color: #ccc;
	  font-size: 12px;
	  &:hover{
		color: $vne_color;
	  }
    }*/
	&:hover{
		.ic-plus-square{
			background-position: -487px -96px;
		}
	}
}
.box_comment_vne{
	margin-bottom: 20px;
	.mb10{
		margin-bottom: 0 !important;
	}
}
.box_comment_vne .sub_comment {
    padding: 5px 0 0 20px;

    .sub_comment_item {
    padding: 5px 0;
    margin-bottom: 5px;
    border-top: 1px dotted #e2e2e3;
    }
}
.box_comment_vne .comment_item .txt_view_more {
    text-align: right;
    margin: 0;
    padding-bottom: 10px;
    font-size: 11px;
    a{
      text-decoration: underline;
    }
}
.box_comment_vne .reply_name{color: #999;
    font-style: italic;
  }
  .box_comment_vne .view_more_coment {
    width: 100%;
    float: left;
    height: 32px;
    text-align: center;
    position: relative;
    margin: 10px 0 !important;
    &::before{
      width: 100%; height: 1px; background: #eee; content: "";
      position: absolute; top: 50%; left: 0;
    }
    a{
      background: #eee;
      padding: 0 20px;
      font: 700 12px/32px arial;
      color: #666;
      text-align: center;
      display: inline-block;
      position: relative;
      z-index: 1;
    }
}
.input_comment {
    padding: 10px;
    background: #f5f5f5;
    position: relative;
    width: 100%;
    z-index: 2;
	border-top: 1px solid #dedede;

    textarea {
      font: 400 12px/18px arial;
      background: #fff;
      border: 1px solid #c5c5c5;
      width: 100%;
      height: 58px;
      color: #666;
      overflow: hidden;
      padding: 5px 0 0 5px;
    }
    .avata_coment {
        width: 24px;
        margin: 0 10px 0 0;
        float: left;
        img{
          width: 24px;height: 24px;
        }
    }
    &.reply_input_comment{
      background: none;
      padding: 5px 0 10px;
    }
}
.btn_send_comment{float: right; margin-top: 10px;}
.block_relative{position: relative;}
.like_google {
    position: absolute;
    right: 75px;
    top: 5px;
    width: auto;
    z-index: 99;
    .google_name {
      cursor: pointer;
      font: 700 13px/26px arial;
      min-width: 80px;
      padding: 5px;
	  color: #666;
  }
}
.user_status{
	position: relative;
}
.info_avata_cmt{
	position: absolute;
	left: 0;
    bottom: 28px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f4f4f4;
    color: #000;
    width: 420px;
	.avata_coment{
		img{width: 60px !important;height: 60px !important;}
	}	
}
#cmt-paginator{
	.pagination{
		margin: 10px 0 !important;
	}
}