/* Scss Document */

.fck_detail table.tplCaption td {
    line-height: 0;
    padding: 0;
}

.fck_detail table.tplCaption td.caption, .fck_detail table.tplCaption td.Image, .fck_detail table.tplCaption td p.Normal, .fck_detail table.tplCaption td .Image, .fck_detail .tplCaption .Image{
    font: 400 12px arial;
    color: #333;
    background: #f5f5f5;
    padding: 10px;
    margin: 0;
}
#container_tab_live {
    float: left;
    margin: 8px 0 20px;
}
.fck_detail p.Image{
    margin: 0;
    padding: 5px;
}
.fck_detail{
    color: #333;
    td{
        padding: 2px;
    }
}

/*Thăm dò*/
#boxthamdoykien {
    margin: 0 0 10px;
    display: block;
}
.txt_main_category {
    float: left;
    margin: 0 0 0 10px;
    display: inline;
    font: 700 14px/30px arial;
    color: #9f224e;
}
#boxthamdoykien .title_box_category {
    margin: 0;
}
.title_box_category{
    min-height: 30px;
    span{
        color: $vne_color;
        font:700 14px/20px arial;
        padding: 6px 0;
        &:after{            
            content:'';
            width: 100%;
            height: 2px;
            position:absolute;
            top:0;
            left: 0;
            background: #999;
            z-index: 9;
        }
    }
    &:after {
        content: '';
        width: 100%;
        height: 2px;
        background: #dadada;
        position: absolute;
        top: 0;
        left: 0;
    }
}
#boxthamdoykien .content_box_category {
    background: #f5f5f5;
}
.block_padding_10 {
    padding: 10px;
}
#boxthamdoykien .title_thamdo {
    font: 400 14px arial;
}
#boxthamdoykien .title_thamdo {
    padding: 0 0 10px;
    border-bottom: 1px solid #dadada;
    margin-bottom: 10px;
    text-align: left;
}
#boxthamdoykien .tb_servey {
    text-align: left;
}
#boxthamdoykien .tb_servey td, #boxthamdoykien .tb_servey td {
    padding: 0 0 9px;
}
#boxthamdoykien .vote_2col td {
    width: 48%;
    vertical-align: top;
    margin: 0 2% 0 0;
}
.tb_servey.vote_2col .w20 {
    width: 8%;
}
.tb_servey .w20 {
    float: left;
}
#boxthamdoykien .input_servey {
    float: left;
    margin: 0 5px 0 0;
}
.fck_detail .tb_servey.vote_2col td .w130 {
    width: 90%;
    margin: 0;
    float: left;
}
/*kết thúc Thăm dò*/

/*btn_quantam*/
.social_share .btn_quantam {
    display: block;
    height: 20px;
    width: 75px;
    background: #eee;
    float: left;
    margin: 0;
    line-height: 20px;
    font-size: 11px;
    text-align: center;
    color: #656565;
}
.social_share .btn_quantam .ic {
    color: #9f224e;
    font-size: 11px;
    vertical-align: middle;
    line-height: 16px;
}
.social_share .number_count {
    height: 20px;
    padding: 0 0 0 7px;
    float: left;
    margin: 0 0 0 4px;
    position: relative;
}

/*End btn_quantam*/

/*Insert video*/
.block_tinlienquan_temp {
    background: #eee;
    border: 1px solid #d6d6d6;
    margin-bottom: 20px;
}
.item_tinlq_temp{
    width: 50%;
    float: left;
    padding: 10px;
    .thumb{
        height: auto;
    }
    .title_news{
        margin: 10px 0;
        width: 100%;
        float: left;
        a{
            font-weight: normal;
            line-height: 18px;
        }
    }
}
/*End Insert video*/

/*Quảng cáo trong bài viết*/
.box_quangcao {
    width: 96%;
    padding: 10px 2% !important;
    float: left;
    background: #eee;
    border-top: 2px solid #dadada;
    
}
.mg_bottom_20 {
    margin-bottom: 15px !important;
}
.box_quangcao.list_news .thumb {
    width: 150px !important;
    height: auto !important;
    margin-bottom: 5px !important;
}
.list_news .thumb {
    float: left;
    margin: 0 10px 0 0;
    position: relative;
}
.box_quangcao .title_news {
    width: auto;
    float: none;
    margin: 0;
    line-height: normal !important;
    a{
        color: #333;
        font: 700 14px arial;
        &:hover{
            color: #004f8b;
        }
    }
}
/*.block_image_news.width_common {
    padding: 5px 2%;
    float: left;
    background: #f4f4f4;
    margin: 0 0 10px;
    .title_news{
        margin-bottom: 10px !important;
    }
}*/

.box_quangcao.list_news.mg_bottom_20{width: 100%;}
/*hết Quảng cáo trong bài viết*/

/*block_related*/
article.block_related{
    .thumb{
        width: 100% !important;
        height: 0 !important;
        img{
            width: 100%;
        }
    }
    .title_news{
        margin-bottom: 10px !important;
    }
}
/*End block_related*/

/*list_related_items*/
.list_related_items{
    border: none;
    padding: 10px;
    background: #f4f4f4;
    margin-bottom: 10px;
    li{
        border: none !important;
        margin: 0 !important;
        padding: 0 0 10px 10px !important;
        a{
            font: 700 12px arial;
            color: #666 !important;
            &:hover{
                color: #666 !important;
            }
        }
    }
}
/*End list_related_items*/

/*slide*/

.fck_detail .list_slide {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 0;
}
.btn_control_tv_slider {
    height: 28px;
    width: 28px;
    background: rgba(255,255,255,0.8);
    position: absolute;
    z-index: 9;
    top: 40%;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}
.btn_control_tv_slider .ic {
    color: #000;
    vertical-align: middle;
}
.btn_control_tv_slider.prev_slider{
    left: 0;
    background-image: url(images/icons/icon_next_prev_common_slider.png);
    background-position: 0 0;
    background-repeat: no-repeat;     
}
.btn_control_tv_slider.next_slider{
    right: 0;
    background-image: url(images/icons/icon_next_prev_common_slider.png);
    background-position: -28px -28px;
    background-repeat: no-repeat;    
}
.fck_detail .btn_control_tv_slider {
    top: 43%;   
}
/*end slide*/

/*insert interview*/
.content_vptt {
    background: #eee;
    font: 700 12px arial;
    width: 100%;
    float: left;
}
.fck_detail #phongvantructuyen {
    background: #eee;
}
.fck_detail .image_pvtt {
    width: 30%;
}
.fck_detail .short_intro a, .fck_detail a {
    color: #004f8b;
}
.image_pvtt img {
    width: 100%;
}
.fck_detail .content_vptt {
    width: 70%;
}
.fck_detail #phongvantructuyen p {
    margin: 0;
}
.content_vptt p {
    padding: 5px 7px;
    border-bottom: 1px solid #fff;
    font: 700 14px arial;
}
.fck_detail #phongvantructuyen p a {
    color: #333;
}
.content_vptt .timer_pvtt {
    color: #333;
    font: 400 12px/24px arial;
    padding: 7px 5px;
}
.content_vptt .icon_clock {
    background-position: -737px 6px;
    display: inline-block;
    width: 12px;
    margin: 0;
    line-height: 24px;
}
.icon_portal {
    display: inline-block;
    background: url(images/icons/icon_portal.gif) no-repeat;
}
/*end insert interview*/


/*live*/
#container_tab_live div.text_live .thumb {
    width: 25%;
    float: left;
    margin: 0 10px 0 0;
    position: relative;
    height: auto;
    background: none;
}
#container_tab_live div.text_live img {
    float: left;
    max-width: 100%;
    background: none;
    width: 100%;
}
#container_tab_live div.text_live .title_news {
    width: auto;
    float: none;
    margin: 0;
    line-height: 1.2;
    padding: 0;
}
/*End live*/

/*chấm điểm*/
.block_survey_2_detail_right {
    width: 100%;
    float: left;
    border-top: 1px solid #CCC;
    margin: 10px 0 20px;
    display: inline;
    background: #f5f5f5;
    padding-bottom: 10px;
}
.block_survey_2_detail_right h2 {
    background: #eee;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 14px;
    text-align: left;
    color: #9f224e;
}
.main_survey, .block_submit {
    width: 100%;
    float: left;
}
.block_survey_2_detail_right .item_survey {
    width: 100%;
    float: left;
    padding-bottom: 5px;
}
.block_survey_2_detail_right .main_survey ul {
    list-style-type: none;
    margin: 0;
}
#box_details_news .block_survey_2_detail_right .main_survey ul li {
    width: 100%;
    float: left;
    list-style-type: none;
    margin: 0;
    border-bottom: 1px solid #dadada;
    padding: 5px 0;
    color: #666;
}
#box_details_news .block_survey_2_detail_right .item_survey ul li .txt_survey_left {
    float: left;
    font: 400 12px arial;
    margin: 0 0 0 10px;
}
.block_survey_2_detail_right .item_survey ul li .txt_survey_right {
    float: right;
    font: 700 12px arial;
    margin: 0 10px 0 0;
}
.block_survey_2_detail_right .btn_danhgia {
    background: #858585;
    padding: 4px 6px;
    margin: 0 0 0 5px;
    font: 700 11px/8px Arial;
    color: #fff;
    float: left;
    cursor: pointer;
}
/*hết chấm điểm*/

/*Box PVTT đầy đủ*/
#phongvantructuyen {
    background: #eee;
    .content_box_category{
        padding: 0;
    }
    .clear{
        font-size: 0;
        line-height: 0;
    }
}
#box_details_news .image_pvtt {
    width: 30%;
}
.image_pvtt img {
    width: 100%;
}
#box_details_news .content_vptt {
    width: 70%;
}
#box_details_news #phongvantructuyen{
    background: #eee;
}
#box_details_news #phongvantructuyen p {
    margin: 0;
}
.content_vptt .btn_gui {
    float: right;
    display: inline-block;
    padding: 5px 10px;
    background: #9f224e;
    color: #fff!important;
    font: 700 11px arial;
}
/*End Box PVTT đầy đủ*/

.info_befo{
    .Normal{
        margin: 0 0 1em !important;
    }
}

p.pics{
    text-align: center;
}
.pics_caption{
    font: 400 12px arial;
    padding: 5px 10px;
    background: #f4f4f4;
}