html,body {
    text-rendering: optimizeSpeed;  
}
a:focus{
  outline:1!important;
}
a {
  color: #333;
  text-decoration: none;
  outline:1;
}
a:hover{color: #0064b2!important;}
.btn_vne {
    background: #0064b2;
    color: #fff !important;
    font: 700 12px arial!important;
    padding: 5px 18px;
    border: none;
    cursor: pointer;
}
img {
  border: 0;
  font-size: 0;
  line-height: 0;
  max-width: 100%;
}
ul,li {
  list-style-type: none;
}

input,textarea {
  font-family: arial;
  font-size: 11px;
  border: none;
  background: none;
}
input::-webkit-input-placeholder{color: #999999;}
input::-moz-input-placeholder{color: #999999;}
input::-ms-input-placeholder{color: #999999;}
input::-o-input-placeholder{color: #999999;}
.clearfix{
 clear: both;
}
.clearfix::before, .clearfix::after{
 display: table;
 content:"";
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after{
 content: '';
    display: block;
    height: 0;
}
.clearfix:after{
 clear: both;
}
.box_category{margin-bottom: 20px;}
a{color: #333;}
.center{text-align:center}
.ic-video,.ic-photo{margin: 0 2px;}
.mb5{
  margin-bottom: 5px;
}
.mb10{
  margin-bottom: 10px;
}
.mb15{
  margin-bottom: 15px;
}
.mb20{
  margin-bottom: 20px;
}
.mb25{
  margin-bottom: 25px;
}
.mb30{
  margin-bottom: 30px;
}
.mb40{
  margin-bottom: 40px;
}

.mt5{
  margin-top: 5px;
}
.mt10{
  margin-top: 10px;
}
.mt15{
  margin-top: 15px;
}
.mt20{
  margin-top: 20px;
}
.mt25{
  margin-top: 25px;
}
.mt30{
  margin-top: 30px;
}