.title_box_sea{padding: 0;}
.main_menu_seagame ul li{padding-right: 0;}
.main_menu_seagame ul li a{padding: 0 16px;}
.title_box_ltd .text_title_box,.title_box_star .text_title_box{top: 0;}
.title_box_300{padding-left: 0;}
.title_box_300 .text_title_box{padding: 7px 5px 7px 30px; background: #1e539e url(images/graphics/logo_icon.png) no-repeat 0 0;}
.box_huychuong table .num.num_top{color: #333333;}
