@import "var.scss";
@import "m-icon-vne.scss";
/*@import "mcomment.scss";*/
@import "lightbox.scss";
/*Header sticky*/
#header_sticky{ 
  height: 44px;
  background: #f4f4f4;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200; 
  -webkit-transform: translateY(-100%);
-ms-transform: translateY(-100%);
transform: translateY(-100%);
will-change: transform;
  .luu_tin a span{
    width: 30px; height: 27px; overflow: hidden; margin-left:0;
  }
}
#header_sticky.show_sticky{
  box-shadow: 0 1px 3px rgba(80, 80, 80, 0.2), 0 6px 10px rgba(80, 80, 80, 0.15);
  -webkit-transform: translateY(0);
-ms-transform: translateY(0);
transform: translateY(0);
}
.block_share_sticky{
  padding-top: 8px;
}
/*End header sticky*/
.embed-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    margin-bottom: 15px;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
    &.audio{padding-bottom: 19%;}
    /*&.embed-container-square{padding-bottom: 100%;}*/
}
.article_detail{
  padding-top: 10px;
}
/**ARTICLE HEADER**/
.metadate{font: 400 12px arial; color: #666;}
.title_news_detail{
  font: 700 28px/30px arial;
  color: #000;
}
.item_social{
  float: left;
  margin: 0 10px 0 0;
  position: relative;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  /*.ic{
    color: #fff;
    vertical-align: middle;
    font-size: 13px;
  }*/
    .ic-email{background-position: -330px -1px;}
  &.item_fb {
    background: #3067a3;
    }
  &.item_twit{
    background: #00aced;
    }
  &.item_google {
    background: #dd4b39;
    }
  &.item_social_total,&.item_email{
    background: #d7d7d7;
  }
  &.item_linkedin{
    background: #007bb6;
  }
    &.item_pinterest {
      background: #cb2027;
  }
  &.item_social_total{
     .count_share{
        position: absolute;
        top: 0;
        left: 35px;
        padding: 5px;
        font: 700 13px arial;
        color: #9d224e;
        background: #eee;
        border-radius: 3px;
    }
    .count_share::before{
      position: absolute; left: -7px; top: 50%; margin-top: -7px;
      content: "";
      border-right: 7px solid #eee;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
    }
  }

}
.luu_tin a
{
  display: inline-block;
  vertical-align: top;
    .ic-bookmark{display: inline-block !important;margin-right: 15px; position: relative;z-index: 1;}
  span {
      display: inline-block;
      
      vertical-align: top;
      font: 13px/26px arial;
      color: #333;
      position: relative;padding-left: 10px;
      
      &:before{
          width: 25px; height: 25px; border: 1px solid #004f8b;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
          content: ""; position: absolute; top: 0;left: 2px;
      }
    }
  /*span::before{
    @extend .ic;
    content: "\77";
    color: #004f8b;
    width: 26px; height: 26px; border: 1px solid #004f8b;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 4px 5px;
    vertical-align: middle;
    margin: 0 5px 0 0;
  }*/
    
}
.luu_tin.active{
  a{
      .ic-bookmark{background-position: -542px -1px;}
    span{
      color: #004f8b;
        &:before{background: #004f8b;}
      }
    /*span::before{
      color: #fff;
      background: #004f8b;
    }*/
  }
}

.short_intro {
    font: 700 18px/24px arial;
    width: 100%;
    float: left;
    color: #323232;
}

.the-article-header{
    .list_news_dot li a{font: 700 16px/21px arial;}
}
/**END ARTICLE HEADER**/
/**ARTICLE BODY**/
  /**FCK detail**/
  .fck_detail{font-size: 16px;}
  .fck_detail .Normal, .fck_detail p{
      /*font: 400 18px/24px arial!important;*/
      margin: 0 0 1em 0;
      word-break: break-word;
  }
  .fck_detail a,.short_intro a{
    color: #004f8b;
  }
.fck_detail {
    table{
      max-width: 100%;
      margin: 0 auto 10px;
      img{
        font-size: 0;
      }
        &.tplCaption{
            td{font-size: 0; line-height: 0;}
        }   
    }
    .Image{
        font: 400 14px arial;
        color: #666;
        padding: 10px;
        background: #f5f5f5;
        margin: 0;
    }
    .embed-container{margin: 0 0 1em;}
    .list_slide{width: 100%; float: left; margin-bottom: 20px;}
    table.tbl_insert{
        td{padding: 5px;font-size: 16px;}
    }
    p.subtitle{font-weight: 700;}
}
.box_tableinsert{
    max-width: 100%; width: 100%; float: left; overflow-x: auto; scroll-behavior: smooth;
   -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    .tbl_insert{width: 100% !important;}
}
.box_brief_info{width: 100%; float: left; background: #eee; padding: 10px 10px 0 10px; border-top: 1px solid #ccc; margin: 0 0 15px 0;
    /*&.right{width: auto; max-width: 165px; float: right; margin: 0 0 10px 18px;}*/
    /*&.left{width: auto; max-width: 165px; float: left; margin: 0 18px 10px 0;}*/
}

  figure.tplCaption {
    max-width: 100%;
    margin: 0 auto 10px;
    clear: both;
    overflow: hidden;
    img{
      font-size: 0;
      width: 100%; float: left;
    }

  }
  figcaption{
  background: #f5f5f5;
  padding: 10px 10px 0 10px;
  clear: both;
  p{
    font: 400 14px arial !important;
    color: #666;
    padding: 0 0 10px 0;
    margin: 0 !important;
  }
}
.box_embed_video_parent{width: 100%; float: left;}
  /*.audio-wrapper{
    padding-bottom: 17.7%;
  }*/
  .item_slide_show{margin: 0 auto 10px; width: auto; max-width: 100%; overflow: hidden;}
  .block_thumb_slide_show {
    width: 100%;
    float: left;
    position: relative;
    text-align: center;
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
      overflow: hidden;
      img{width: 100%;}
}
  /*Before & After Image*/
    .desc_cation{
      @extend figcaption;
    }
    .wrap_pic{@extend .item_slide_show;}
    .g-before-after{position:relative;overflow:hidden}.g-before-after img{display:block}.g-before-after .g-img-before{float:left}.g-before-after .g-img-after{left:50%;bottom:0;overflow:hidden}.g-before-after .g-img-after,.g-before-after .g-img-after img{position:absolute;right:0;top:0}.g-before-after .g-img-divider{position:absolute;left:50%;top:0;bottom:0;width:0;border-left:1px solid #000;border-right:1px solid #000}
    .g-before-after .g-img-after img{max-width: inherit;}
    .g-before-after .g-img-divider span{position:absolute;top:50%;display:block;background-color: rgba(255,255,255,1);line-height:1;text-align:center;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);height: 30px; width: 30px; color: transparent; border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;
        /*&::before{text-indent: 0; position: absolute; top: 0; left: 0;}*/
}
    /*End Before & After Image*/
    /*Flip*/
    .note_flip {
      background:rgba(255,255,255,0.82);
      bottom: 0;
      color: #333;
      display: block;
      height: 27px;
      line-height:27px;
      position: absolute;
      width: 100%;
      z-index: 99999;
      font-size:13px;
    }
    .flip_wrap{
      .back{
        overflow: hidden;
      }
      img{
         width:100%;
         }
      /*&::before{@extend %ic_font; content: "\22"; position: absolute; font-size: 30px; top: 10px; left: 10px; /*background: url("#{$url}/graphics/sprite_img.png") no-repeat -72px 0;z-index: 99;}*/
        .ic-flip{position: absolute; top: 10px; left: 10px;z-index: 99;}
    }
    /*End Flip*/

    /*Quiz box*/
    .quiz_box{
        text-align: left;
      .title_bx{
        font-size: 18px;
      }
      .ques_quiz{
        margin: 0 0 5px 0;
      }
      .quiz_point{
        text-align: center;
        strong{
          color: $vne_color;
        }
      }
      .share_point_quiz{
        display: block;
        background: #3c60aa;
        padding: 7px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        /*.ic{
          color: #fff;
        }*/
      }
    }
    .ans_block{
      .ans_item{
        width: 100%; float: left; margin: 10px 0 0 0;
        a{
          display: block; padding: 10px 15px 10px 10px; background: #fff; border: 1px solid #ccc; font: 400 16px/20px arial;
          color: #333; position: relative;
            .ic{
                position: absolute;
                  right: 5px;
                  top: 50%;
                  margin-top: -7.5px;
            }
          }
        &.error_ama a{
          background: #d9d9d9;
        }
        /*&.checked_ama a::after,&.error_ama a::after{
          @extend %ic_font;
          font-size: 12px;
          color: #e17100;
          position: absolute;
          right: 5px;
          top: 50%;
          margin-top: -6px;
        }*/
        /*&.checked_ama a::after{
          content: "\e03d";
        }
        &.error_ama a::after{
          content: "\39";
        } */
          &.checked_ama a .ic-true{
           
        }
        &.error_ama a .ic-false{
          background-position: -271px 0;
        }
          
          

      }

    }
    .block_btn_send_ans{
      padding-top: 10px;
      border-top: 1px solid #ccc;
    }
    .btn_quiz{
      background: #e17100;
      font: 400 16px arial;
      padding: 4px 10px;
    }

    .label_socauhoi{
      font-size: 16px;
      border-bottom: 1px solid #d9d9d9;
      margin-bottom: 15px;
      padding-bottom: 10px;
      color: #176f87;
    }
.quiz_text {
    .header{border-bottom: 1px solid #d9d9d9;
            margin-bottom: 10px;
            padding-bottom: 10px;
        .ic{margin-right: 5px;}
        .false{margin-left: 20px;}
    } 
    .ic-true {
        /*color: #04a59d;*/
        background-position: -300px 0;
    }
    .ic-false {
        /*color: #9f224e;*/
        background-position: -256px 0;
    }
    .kq i {
        position: absolute;
        left: 0;
    }
   .note_wiz {
    float: left;
    padding: 15px;
    width: 100%;
    background: #e9eaf3;
    margin: 5px 0;
}
    
}
    /**BOX PVTT**/
.fck_detail{
    .interview_box {
        .timer_pvtt{
          font: 400 12px arial; color: #333;
          /*.ic{font-size: 11px; color: #000;}*/
            &.dangphongvan{
              color: $vne_color;
            }
        }
    }
}

    /**Tin lien quan template**/
.block_tinlienquan_temp{
        background: #eee;
        border: 1px solid #d6d6d6;
    margin-bottom: 20px;
    
    .item_tinlq_temp {
        width: 50%;
        float: left;
        margin: 0;
        padding: 5px;
        .thumb img{width: 100%; float: left;}
        .title_news{width: 100%; float: left; margin-top: 10px; margin-bottom: 0 !important;
            a{font: 400 16px arial; color: #333;}
        }
    }
}

/**Box Quang cao on fck detail**/
.box_quangcao{background: #eee; border-top: 2px solid #dadada; padding: 10px; width: 100%; float: left; margin-bottom: 20px;
    .thumb{width: 150px; float: left; margin: 0 10px 5px 0;
        img{width: 100%; float: left;}
    }
    .title_news {margin-bottom: 10px;
     a{color: #333 !important; font-weight: 700;}   
    }
} 
/**End Box quang cao on fck detail**/
    
  /**END FCK detail**/

  /*Detail live*/
    @import "mdetail-live.scss";
  /*End detail live*/

  /*SWIPEBOX SLIDER*/
  @import "slideshow.scss";
  /*END SWIPEBOX SLIDER*/
  /*Detail PVTT*/
  .list_slide_pvtt .thumb_slide p{margin: 10px 0 0 0 !important;}
  .item_pvtt {
    margin: 0 0 20px 0;
    .ques_pvtt {
        p{font-weight: 700;}
      }
    .name_quess {
      color: #666;
      font-style: italic;
      text-align: right;
      }
      .reply_pvtt{
        border-left: 2px solid #e1e1e1;
        padding-left: 10px;
        width: 100%; float: left;
      }
    }
    .dk_thamgia{
      text-align: center;
      .btn_vne{
        display: inline-block;
        padding: 7px 35px;
        font: 400 14px arial;
      }
    }
.fck_detail {
    .item_pvtt{
        .name_quess{font: 400 14px/18px arial;}
    }   
}
  /*End Detail PVTT*/
  /**Author mail**/
  .author_mail {
    text-align: right;
    font-size: 14px;
    color: #d6d6d6;
    margin-bottom: 15px;
    position: relative;
    .icon_mail{background: none;margin: 0;}
    p{
      font-size: 14px!important;
      line-height: 16px!important;
      .ic{
        /*display: inline-block;*/
        position: relative;
        float: right;
        margin-top: 2px;
      }
      strong{
        color: #333;
      }
    }
}
/**END ARTICLE BODY**/

/**Box xem thêm**/
.xemthem_new_ver {
    padding-top: 15px;
    border-top: 1px solid #e2e2e3;
    .text_xemthem {
      float: left;
      font-size: 18px;
      margin-bottom: 10px;
    }
}
.list_news_xemthem li {
    margin-bottom: 10px;
    a{
      color: #004f8b;
    }
}
/**End Box xem thêm**/
/**Box Quan tâm**/
.btn_like {
    display: inline-block;
    float: left;
    height: 25px;
    border: 1px solid #eee;
    padding: 0 5px 0 5px;
    color: #004074;
    .ic{
      /*color: $vne_color;
      vertical-align: middle;
      font-size: 12px;*/
      line-height: 17px;
    }
    span{
      display: inline-block;
      font: 700 11px/25px arial;
      color: #004074;
    }
    &.unlike span, &.unlike .ic{color: #666;}
}
.numb_like {
    display: inline-block;
    float: left;
    height: 26px;
    font: 400 11px/25px arial;
    background: #f5f5f5;
    padding: 0 7px 0 7px;
    margin: 0 0 0 5px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: -4px;
        top: 50%;
        margin-top: -4px;
        border-right: 4px solid #f5f5f5;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }
}
/**End Box Quan tâm**/
/*BOX TOPIC*/
.list_news_topic li {
    margin-bottom: 10px;
    a {
    font: 700 16px/20px arial;
  }
  span{
    font-size: 14px;
      font-weight: 400;
  }
}
.view_more_text{
  font: 400 12px arial;
  color: #666;
  margin: 10px 0 0 0;
  /*.ic{
    font-size: 10px; color: $vne_color; display: inline-block; vertical-align: middle;
  }*/
    .ic-caret-2-right{
        background-position: -173px -6px;
  }
}

/**BOX TIN CHEO**/
.block_tincheo{@extend .xemthem_new_ver;
    padding-top: 10px;
    &.block_tincheo_logo{
        .list_news_topic{
            li{padding-left: 20px;
                &::before{display: none;}
                a{font-weight: 400;}
            }  
        } 
    }
}
.icon_tincheo{width: 16px; height: 16px; background: url("#{$url}/graphics/sprite_img.png") no-repeat; position: absolute; top: 2px; left: 0;
    &.icon_tincheo1{background-position: 0 0;}
    &.icon_tincheo2{background-position: -16px 0;}
    &.icon_tincheo3{background-position: -32px 0;}
}

/**BOX DUNG BO LO, BOX SHOP VNE**/
.box_redcom_ads{
    .title_box_category{margin-bottom: 0;}
    .list_news_common .art_item{margin-bottom: 5px; border-bottom: none;
        &:last-child{margin-bottom: 0;}
    }
    .metadate{color: #959595; margin-top: 5px;}
    .title_news a{font: 400 16px/18px arial;}
}
.box_shopads_vne{
    .metaprice{color: #d41212;}
    /*.title_box_category{border-top: none;}*/
    .title_box_category.title_box_category_style2 a, .title_box_category.title_box_category_style2 span{color: #9d9d9d;
        /*&::before{display: none;}*/
    }
}


/**BOX TAG**/
/**END BOX TAG**/
.box_list_item{position: relative;}
.next_slide_shop {
    font-size: 0;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    outline: 0;
    z-index: 5;
    height: 100%;
    width: 45px;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 85%, #fff 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(85%, #fff), color-stop(100%, #fff));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 85%, #fff 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 85%, #fff 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 85%, #fff 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 85%, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

/**TEMPLATE TABLE MORE INFO**/
/* box_oceanbank */
/*.box_oceanbank{border: 1px solid #dfdfdf}

.box_oceanbank .item:first-child{border-top:0px;}
.box_oceanbank .item:nth-child(2n+1){background: #f6f6f6;}*/
.box_oceanbank .item{border-bottom: 1px solid #f1f1f1;width: 100%; float: left;}
.box_oceanbank .item .toi_danh{width: 100%; float: left; border-left: 1px solid #f1f1f1; overflow-x: auto; scroll-behavior: smooth;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;}
.box_oceanbank .item .name{margin-bottom: 5px;padding-bottom: 5px;}
.box_oceanbank .item .name h3{margin-bottom:5px;}
.box_oceanbank .item .name strong{color:#004f8b}
.box_oceanbank .item .name span{font-size:14px;}
/*.box_oceanbank .item .toi_danh label{font-size:16px;color:#666666;margin: 15px 0 5px;display: block;}
.box_oceanbank .item .toi_danh p{font-size:18px;margin: 5px 0 5px 0!important;position: relative;padding-left: 13px;}
.box_oceanbank .item .toi_danh p:before{
    content: "";
    background: #999999;
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    top: 8px;
    left: 2px;
}*/
.box_oceanbank .item_tr{min-width: 500px; max-width: 590px; float: left; border-top: 1px solid #f1f1f1; text-align: left; font-size: 18px; line-height: 24px; overflow: hidden;
    .td_toidanh{width: 35%; float: left; padding: 10px; border-right: 1px solid #f1f1f1;
        &.th{font-size: 14px; padding: 5px 10px 5px 10px; color: #666;}
    }
    .td_mucan{width: 32.5%; float: left; padding: 10px; position: relative;
        &.th{font-size: 14px; padding: 5px 0 5px 10px; color: #666;}
            &:before {
            content: '';
            width: 1px;
            height: 500px;
            background: #f1f1f1;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}
.box_oceanbank_v2 {
    .item_tr .td_toidanh{width: 32%;}
    .item_tr .td_mucan{width: 22.66667%;}
    .item_tr{
        max-width: 640px;
        width: 640px;
    }
}
/**QUANG CAO CUONGLT**/
#box_qt_500{margin-bottom:15px;}
#box_qt_500 .ava{width:100%;margin-bottom:10px}
#box_qt_500 .ava img{width:100%}
#box_qt_500 .content{width:100%!important}
#box_qt_500 .content .btn{display:block!important;text-align:center;}

/*box_cothebanquantam*/
.box_cothebanquantam{padding-left: 10px; padding-right: 10px;
	.title_box{
		padding: 10px 0;
		border-top: 1px solid #e4e4e4;
		font: 700 20px arial;
		color: #000;
	}
}
.list_news_quantam{
	font-size: 0;
    margin-left: -10px;
	.list_news{
		width: 50%;
		display: inline-block;
		vertical-align: top;
		float: none;
		padding-left: 10px;
		&:nth-child(n + 5){
			margin-top: 10px;
		}
	}
	.thumb_art{
		width: 100% !important;
		float: left;
		margin-bottom: 10px;
        img{width: 100%; float: left;}
    }
	.title_news{
		a{
			font: 400 16px/12px arial;
    		color: #333
		}
	}
}
.redmore {
    clear: both;
    text-align: center;
    font-size: 15px;
    padding: 10px 0 0;
    /*border-top: 1px dotted #e2e2e3;*/
    margin-top: 5px;
    width: 100%;
    float: left;
    a{
        color: #06528e;
    }
}

/*End box_cothebanquantam*/

/**RESPONSIVE**/
@media screen and (min-width: 568px){
    .embed-container{
        &.audio{
                padding-bottom: 12%;
        }
}
}

@media screen and (max-width: 413px){
    .quiz_text{
        .header{
            .left{margin-bottom: 10px;}
            .right{width: 100%; float: left;}
        }  
    } 
}

/*Update live Ngôi sao*/
.article_live{
  .article_body {margin-bottom: 15px;}
  .box_bg_gray {
      background: #f5f5f5;
      padding: 10px;
  }
  .box_category {
      margin-bottom: 20px;
  }
  .box_news_insert{margin-bottom: 10px;}
  .interview_box {
      .title_news{
        padding: 10px 10px 7px 10px!important;
        border-bottom: 1px solid #fff;
      }
      a{font: 700 18px/24px arial;color: #333;}
    .box_bg_gray{padding:0;}
    .box_button{padding: 7px 10px;margin: 0;}  
    .dangphongvan{font-size: 16px!important;}  
  }
  .news_lead {
      font: 400 16px arial;
      padding: 0;
      margin-top: 5px;float: left;
  }   
  .thumb_art {
      position: relative;
      float: left;margin: 0;
      &.thumb_medium{
        width: 45%;
        margin: 0 10px 0 0;        
      }
  }   
  .thumb_img {
      display: block;
      overflow: hidden;
      height: 1px;
      position: relative;
      width: 100%;
      background: #f4f4f4;
  }
  .thumb_img.thumb_5x3 {
      padding-bottom: 60%;
  }
  .thumb_img img {
      width: 100%;
      float: left;
      object-fit: cover;
  }  
  .icon_thumb_videophoto {
      width: 28px;
      display: block;
      height: 28px;
      line-height: 28px;
      text-align: center;
      position: absolute;
      background: rgba(255,255,255,0.8);
      left: 0;
      bottom: 0;
  }
  .icon_thumb_videophoto .ic-photo {
      background-position: -293px -48px;
  }           
  .inner_section {
      width: 100%;
      float: left;
      position: relative;
      figure.ob {
          width: 100%;
          margin: 0 0 10px 0;
          overflow: hidden;
      }
      .list_news_dot li a {
          font: 700 14px/18px arial;
          color: #666!important;
      }
      .ic:before{display: none}         
  }
}
#box_tinlienquan{
  ul{
    li{width: 100%;float: left;
      .avata{
        width: 50%;
        vertical-align: top;
        float: left;
        padding-right: 8px;
        height: auto;
        padding-bottom: 0;
        background: none;        
      }
      &:last-child{padding-bottom: 0}
    }
  }
  .view_all_top0{
    text-align: center;
    a {
        background: #005599;
        color: #fff;
        font-size: 16px;
        font-family: Roboto;
        line-height: 14px;
        padding: 10px 30px;
        border-radius: 4px;
        margin-top: 20px;
        display: inline-block;
        width: 100%;
        &::after {
            content: '\f2fb';
            margin-left: 5px;
            font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
        }
    }      
  }
}

#container_tab_live div.text_live {
  width: 100%;
}

.live_post_status {
    top: 0 !important;
}