/* Scss Document */
@import 'var.scss';
@import 'tingle.scss';

.transition-cm {
    -moz-transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

.wrap-popup-detail {
    position: fixed;
    top: 100%;
    overflow: hidden;
    will-change: transform;
    @extend .transition-cm;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

.back-to-tab {
    position: fixed;
    opacity: 0;
    top: 25px;
    left: 15px;
    right: 15px;
    overflow: hidden;

    &::before {
        content: "";
        width: 100%;
        height: 30px;
        display: block;
        background: #E5E5E5;
        border-radius: 10px;

    }
}

body.open {
    background: #4F4F4F;
    padding-top: 30px;
    @extend .transition-cm;

    * {
        opacity: 0;
        @extend .transition-cm;
    }

    .back-to-tab {
        top: 10px;
        -moz-transition: .8s;
        -o-transition: .8s;
        -webkit-transition: .8s;
        transition: .8s;
        opacity: 1;
        overflow: visible;
    }

    .wrap-popup-detail {
        top: 25px;
        height: calc(100vh - 25px);
        opacity: 1;
        overflow: visible;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);

        * {
            opacity: 1;
        }
    }

    .content-pop {
        background: #fff;
    }
}

.header-pop {
    background: #F7F7F7;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    position: relative;
    padding: 18px;
    height: 56px;
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
    color: #757575;

    .close-comment {
        position: absolute;
        left: 15px;
        font-size: 30px;
        font-family: -webkit-body;
        color: #757575;
    }
}

.content-pop {
    padding: 15px;
}

.label-ban {
    align-items: center;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;

    .name-ban {
        text-transform: uppercase;
    }

    .note-topic {
        margin-left: auto;
        color: #F44336;
    }
}

.button-action-edit {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    cursor: pointer;
    border: 1px solid #757575;
    top: 14px;
    right: 15px;

    .ic {
        width: 12px;
        height: 12px;
        fill: #757575;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @include cubic-transition($delay: 0, $duration: 200ms, $property: (all));

        &.ic-close {
            opacity: 0;
            visibility: hidden;
        }
    }

}

.item-topic-detail {
    position: relative;
    width: 100%;

    .txt_input {
        height: 52px;
        background: #F3F1E9;
        border: 1px solid #757575;
        border-radius: 3px;
        font-weight: bold;
        font-size: 16px;
        line-height: 140%;
        color: #757575;
        padding-right: 50px;
        @include cubic-transition($delay: 0, $duration: 300ms, $property: (all));
    }

    &.rejected {
        .txt_input {
            background: #DCA89F;
        }
    }

    &.editing {
        .txt_input {
            background: #fff;
        }

        .button-action-edit {
            .ic {
                &.ic-close {
                    opacity: 1;
                    visibility: visible;
                }

                &.ic-edit {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
}

.wrap-list-comment {
    max-height: calc(100vh - 271px);
    overflow-y: scroll;
}

.item-comment {
    margin-bottom: 20px;

    .txt-comment {
        font-size: 15px;
        line-height: 140%;
        padding: 10px;
        border-radius: 5px;
        margin-top: 5px;
    }

    .info-user {
        align-items: center;
    }

    .ava-user {
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        background: #E5E5E5;
        border-radius: 50%;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        margin-right: 5px;
        overflow: hidden;

        img {
            width: 32px;
            height: 32px;
        }
    }

    .name-user {
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
    }

    &.owner-com {
        padding-left: 60px;

        .txt-comment {
            background: #BED2F7;
        }
    }

    &.user-com {
        padding-right: 60px;

        .txt-comment {
            background: #F7F7F7;
        }
    }

}

.form-post-comment {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background: #fff;

    .box-input-comment {
        width: 100%;
        position: relative;
        padding-right: 0;
        @include cubic-transition($delay: 0, $duration: 300ms, $property: (all));

        .txt_input {
            height: 40px;
            background: #F7F7F7;
            border-radius: 0;
            border: none;
            font-size: 16px;
            padding: 0 10px;
            position: relative;
            z-index: 1;

            @include placeholder {
                color: #BDBDBD;
            }
        }
    }

    .btn-send-mess {
        width: 45px;
        height: 40px;
        background: #9F224E;
        border-radius: 0;
        text-align: center;
        border: none;
        cursor: pointer;
        line-height: 40px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .box-input-comment {
        &.active {
            padding-right: 60px;
        }
    }
}