/* Scss Document */
@import 'var.scss';

.section_register {
    padding-top: 20px;
    padding-bottom: 20px;

    .wellcome-mess {
        font: bold 18px/160% $font1;
    }

    .ques-today {
        font: normal 16px/160% $font1;
    }
}

.button-act-reg {
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;

    a {
        width: calc(33.33% - 7.5px);
        height: 40px;
        line-height: 40px;
        background: #E5E5E5;
        border-radius: 3px;
        text-align: center;
        display: block;
        font-size: 14px;
        color: #4f4f4f;

        &.active {
            background: #7989AB;
            color: #fff;
        }
    }
}

.form-reg {
    margin-top: 20px;

    .txt_input {
        background: #FFFFFF;
        border: 1px solid #BDBDBD;
        height: 52px;
        padding: 0 15px;
        border-radius: 3px;
        font-size: 16px;
        color: #222;
    }

    .input_date {
        padding-right: 40px;
    }

    .input_area {
        height: 140px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .box-input {
        position: relative;

        .ic-calendar {
            fill: #222;
            position: absolute;
            top: 18px;
            right: 15px;
        }
    }

    .note-red {
        width: 100%;
        float: left;
        text-align: right;
        margin-top: 5px;
        font-size: 11px;
        color: #F44336;
    }
}

.tt-menu {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    padding: 5px 15px 5px 15px;
    position: absolute;
    width: 100%;
    top: 72px;
    visibility: hidden;
    opacity: 0;
    @include cubic-transition($delay: 0, $duration: 200ms, $property: (all));
    z-index: 1;
    max-height: 300px;
    overflow: auto;

    li {
        font-size: 16px;
        line-height: 140%;
        padding: 10px 0;
        align-items: center;

        .name-top-sug {
            padding-right: 10px;
        }

        .name-ban-sug {
            margin-left: auto;
            font-size: 14px;
        }

    }

    mark {
        background: $vne_color;
        color: #fff;
        font-weight: 400;
    }
}

.box-input {
    &.active {
        .tt-menu {
            opacity: 1;
            visibility: visible;
            top: 52px;
        }
    }
}