/* Scss Document */
/* Scss Document */
/* @include cubic-transition($delay: 0, $duration: 200ms, $property: (all)); */
.flexbox {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }

.no-flexbox {
  display: inherit; }

.section_topic_date {
  padding-top: 15px;
  padding-bottom: 25px;
  position: relative; }
  .section_topic_date:after {
    width: calc(100% - 30px);
    content: '';
    background: #4F4F4F;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 15px; }
  .section_topic_date:last-of-type, .section_topic_date.last {
    padding-bottom: 80px; }
    .section_topic_date:last-of-type:after, .section_topic_date.last:after {
      display: none; }

.label-date-topic {
  padding-top: 5px;
  align-items: center;
  background: #fff; }
  .label-date-topic .label-date {
    font: 400 18px/28.8px "Merriweather", serif;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(79, 79, 79, 0.1); }
  .label-date-topic .filter-import {
    margin-left: auto;
    font-size: 14px;
    color: #4F4F4F;
    padding: 5px;
    background: #F7F7F7;
    border-radius: 3px; }
    .label-date-topic .filter-import .ic {
      margin-top: -1px; }
    .label-date-topic .filter-import .ic-pin {
      fill: #4F4F4F; }
    .label-date-topic .filter-import .ic-close {
      fill: #bdbdbd; }
    .label-date-topic .filter-import .remove-filter {
      padding-left: 10px;
      margin-left: 10px;
      border-left: 1px solid #BDBDBD;
      display: none; }
    .label-date-topic .filter-import.active {
      color: #9f224e; }
      .label-date-topic .filter-import.active .ic-pin {
        fill: #9f224e; }
      .label-date-topic .filter-import.active .remove-filter {
        display: inline-block; }

.note-txt-topic {
  background: #FFE7E9;
  padding: 15px 15px 0 15px; }
  .note-txt-topic .item-note-topic {
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 15px; }

.note-type-topic {
  align-items: center; }
  .note-type-topic .item-type {
    font-size: 11px;
    line-height: 13px;
    color: #757575;
    position: relative;
    padding-left: 17px;
    margin-right: 20px; }
    .note-type-topic .item-type:before {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      content: '';
      position: absolute;
      top: 0;
      left: 0; }
    .note-type-topic .item-type.register:before {
      background: #E5E5E5; }
    .note-type-topic .item-type.done:before {
      background: #D2E6C7; }
    .note-type-topic .item-type.rejected:before {
      background: #DCA89F; }
    .note-type-topic .item-type.duplicate:before {
      background: #FCEFBF; }

.item-topic-vertical {
  margin-top: 20px;
  overflow: hidden; }

.label-vertical {
  font-size: 11px;
  line-height: 13px;
  color: #9f224e;
  text-transform: uppercase; }
  .label-vertical.kinhdoanh {
    color: #04416d; }
  .label-vertical.thethao {
    color: #498523; }
  .label-vertical.phapluat {
    color: #6e2c2d; }
  .label-vertical.giaoduc {
    color: #B75C00; }
  .label-vertical.suckhoe {
    color: #03817B; }
  .label-vertical.doisong {
    color: #2D96B5; }
  .label-vertical.dulich {
    color: #0072bb; }
  .label-vertical.khoahoc {
    color: #867428; }
  .label-vertical.sohoa {
    color: #9c6d00; }
  .label-vertical.xe {
    color: #5D6C79; }
  .label-vertical.hai {
    color: #DC3926; }

.item-topic {
  margin-top: 5px;
  background: #F7F7F7;
  border-radius: 3px;
  min-height: 46px;
  flex-wrap: nowrap; }
  .item-topic .inner-item-topic {
    position: relative;
    width: 100%;
    flex-shrink: 0;
    padding: 10px 0 10px 45px; }
  .item-topic .name-topic {
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    padding: 0 12px 0 0; }
  .item-topic .stt-topic {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    color: #bdbdbd; }
  .item-topic .icon-note {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    margin-right: 12px;
    margin-left: auto;
    font-weight: bold;
    font-size: 12px;
    color: #E17417;
    text-transform: uppercase; }
    .item-topic .icon-note .ic {
      fill: #e5e5e5;
      width: 12px;
      height: 12px; }
    .item-topic .icon-note.icon-comment {
      background: #fff;
      border: 1px solid #fff; }
  .item-topic.done {
    background: #D2E6C7; }
  .item-topic.rejected {
    background: #DCA89F; }
  .item-topic.duplicate {
    background: #FCEFBF; }
  .item-topic.important .name-topic {
    color: #9f224e;
    font-weight: 700; }
  .item-topic .list__item-action {
    flex-shrink: 0;
    align-items: center;
    width: 100%;
    background: #e5e5e5; }
    .item-topic .list__item-action a {
      width: 115px;
      text-align: center;
      height: 100%;
      justify-content: center;
      flex-direction: column;
      font-size: 16px;
      line-height: 160%; }
      .item-topic .list__item-action a.important {
        color: #9f224e;
        font-weight: bold; }
      .item-topic .list__item-action a.delete {
        background: #BDBDBD;
        font-weight: bold; }
      .item-topic .list__item-action a.done {
        background: #D2E6C7;
        font-weight: bold;
        color: #1D8549; }
      .item-topic .list__item-action a.inprogress {
        background: #f7f7f7;
        font-weight: bold; }
  .item-topic.item-topic-tb .list__item-action a {
    width: 100px; }

/*# sourceMappingURL=topic.css.map */
