/**
iconfont Webfont
*/
@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot?1589962198424');
	src: url('iconfont.eot?#iefix-1589962198424') format('embedded-opentype'),
		url('iconfont.woff2?1589962198424') format('woff2'),
		url('iconfont.woff?1589962198424') format('woff'),
		url('iconfont.ttf?1589962198424') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='iconfont-']:before,
[class*=' iconfont-']:before {
	font-family: 'iconfont';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/
 .iconfont-apps1:before {
			content: '\ea01';
		}

		 .iconfont-arrow-down:before {
			content: '\ea02';
		}

		 .iconfont-arrow-left:before {
			content: '\ea03';
		}

		 .iconfont-arrow-right:before {
			content: '\ea04';
		}

		 .iconfont-arrow-up:before {
			content: '\ea05';
		}

		 .iconfont-arrow01:before {
			content: '\ea06';
		}

		 .iconfont-asterisk1:before {
			content: '\ea07';
		}

		 .iconfont-atm-card1:before {
			content: '\ea08';
		}

		 .iconfont-camera1:before {
			content: '\ea09';
		}

		 .iconfont-chat:before {
			content: '\ea0a';
		}

		 .iconfont-close:before {
			content: '\ea0b';
		}

		 .iconfont-comment-alt-message1:before {
			content: '\ea0c';
		}

		 .iconfont-Comment-Reg:before {
			content: '\ea0d';
		}

		 .iconfont-Document:before {
			content: '\ea0e';
		}

		 .iconfont-down:before {
			content: '\ea0f';
		}

		 .iconfont-ellipsis-v1:before {
			content: '\ea10';
		}

		 .iconfont-exit1:before {
			content: '\ea11';
		}

		 .iconfont-Facebook:before {
			content: '\ea12';
		}

		 .iconfont-filter1:before {
			content: '\ea13';
		}

		 .iconfont-gift1:before {
			content: '\ea14';
		}

		 .iconfont-gp1:before {
			content: '\ea15';
		}

		 .iconfont-gp10:before {
			content: '\ea16';
		}

		 .iconfont-gp11:before {
			content: '\ea17';
		}

		 .iconfont-gp12:before {
			content: '\ea18';
		}

		 .iconfont-gp13:before {
			content: '\ea19';
		}

		 .iconfont-gp14:before {
			content: '\ea1a';
		}

		 .iconfont-gp15:before {
			content: '\ea1b';
		}

		 .iconfont-gp16:before {
			content: '\ea1c';
		}

		 .iconfont-gp2:before {
			content: '\ea1d';
		}

		 .iconfont-gp3:before {
			content: '\ea1e';
		}

		 .iconfont-gp4:before {
			content: '\ea1f';
		}

		 .iconfont-gp5:before {
			content: '\ea20';
		}

		 .iconfont-gp6:before {
			content: '\ea21';
		}

		 .iconfont-gp7:before {
			content: '\ea22';
		}

		 .iconfont-gp8:before {
			content: '\ea23';
		}

		 .iconfont-gp9:before {
			content: '\ea24';
		}

		 .iconfont-hamburger:before {
			content: '\ea25';
		}

		 .iconfont-history1:before {
			content: '\ea26';
		}

		 .iconfont-image-v1:before {
			content: '\ea27';
		}

		 .iconfont-linkin:before {
			content: '\ea28';
		}

		 .iconfont-list-ul1:before {
			content: '\ea29';
		}

		 .iconfont-location-pin-alt1:before {
			content: '\ea2a';
		}

		 .iconfont-mail:before {
			content: '\ea2b';
		}

		 .iconfont-message1:before {
			content: '\ea2c';
		}

		 .iconfont-minus-circle1:before {
			content: '\ea2d';
		}

		 .iconfont-minus1:before {
			content: '\ea2e';
		}

		 .iconfont-news:before {
			content: '\ea2f';
		}

		 .iconfont-notes1:before {
			content: '\ea30';
		}

		 .iconfont-phone1:before {
			content: '\ea31';
		}

		 .iconfont-plus-circle1:before {
			content: '\ea32';
		}

		 .iconfont-plus1:before {
			content: '\ea33';
		}

		 .iconfont-search:before {
			content: '\ea34';
		}

		 .iconfont-share-alt1:before {
			content: '\ea35';
		}

		 .iconfont-shield-check1:before {
			content: '\ea36';
		}

		 .iconfont-star1:before {
			content: '\ea37';
		}

		 .iconfont-Twitter:before {
			content: '\ea38';
		}

		 .iconfont-user:before {
			content: '\ea39';
		}

		