.btn_vne {
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1)
}

.icon_thumb_videophoto,.main-nav .parent,.wrap-all-menu .container,.top-header .right,.footer .inner-footer,.row,.page-rss .wrap-list-rss {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex
}

.flexbox {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex
}
.container:after,.footer .wrap-contact .contact:after,.footer .wrap-contact .hotline:after {
    content: '';
    display: table;
    clear: both
}

.ic {
    width: 16px;
    height: 16px;
    fill: #757575;
    display: inline-block;
    vertical-align: middle
}

.ic-in-title {
    width: 12px;
    height: 12px;
    fill: #BDBDBD;
    margin-right: 5px
}
html,body {
    text-rendering: optimizeSpeed
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    text-rendering: geometricPrecision
}

body {
    color: #222;
    font: 400 15px arial;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll
}

html {
    -webkit-text-size-adjust: none
}

h1,h2,h3,h4,h5,h6 {
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit
}

.has_transition,.title-news a {
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1)
}
a {
    color: inherit;
    text-decoration: none;
    outline: 1
}

table {
    border-collapse: collapse
}

img {
    border: 0;
    font-size: 0;
    line-height: 0;
    max-width: 100%
}

ul,li {
    list-style-type: none
}

input[type="text"],input[type="password"],input[type="email"],input[type="tel"],textarea,select {
    background: #fff;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 0 12px;
    outline: none
}

button {
    border: none;
    outline: none;
    cursor: pointer
}
.left {
    float: left !important
}

.right {
    float: right !important
}

.width_common {
    width: 100%;
    float: left
}
.mt5 {
    margin-top: 5px
}

.mt10 {
    margin-top: 10px
}

.mt15 {
    margin-top: 15px
}

.mt20 {
    margin-top: 20px
}

.thumb-art {
    position: relative;
    margin-right: 10px;
    float: left;
    width: 140px
}

.thumb {
    display: block;
    overflow: hidden;
    height: 0;
    position: relative;
    width: 100%;
    background: #f4f4f4
}

.thumb img {
    width: 100%;
    float: left;
    object-fit: cover
}
.thumb-5x3 {
    padding-bottom: 60%
}
.thumb-16x9 {
    padding-bottom: 56.25%
}

.thumb-1x1 {
    padding-bottom: 100%
}

.thumb-video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 0;
    position: relative;
    overflow: hidden
}
.icon_thumb_videophoto {
    width: 24px;
    display: block;
    height: 24px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    background: rgba(0,0,0,0.5);
    border-radius: 3px;
    left: 5px;
    bottom: 5px;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    justify-content: center
}

.icon_thumb_videophoto .ic {
    align-self: center;
    fill: #fff
}

.thumb-art {
    position: relative
}
.wrap-main-nav {
    background: #fff;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999
}
.main-nav {
    width: 100%;
    float: left;
    clear: both;
    font-size: 14px;
    border-bottom: 1px solid #E5E5E5
}

.main-nav .parent {
    justify-content: space-between;
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 15px
}

.main-nav .parent li {
    margin-right: 15px;
    position: relative;
    font-weight: 600;
    color: #4F4F4F;
    transition-duration: 200ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1)
}

.main-nav .parent li a {
    padding: 16.5px 0;
    display: block;
    white-space: nowrap
}
.main-nav .parent li.home {
    padding: 12px 0
}

.main-nav .parent li.home a {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #E5E5E5;
    justify-content: center;
    padding: 0;
    display: flex
}

.main-nav .parent li.home a .ic {
    width: 12px;
    height: 12px;
    align-self: center
}

.main-nav .parent li.kinhdoanh .sub {
    border-top: 1px solid #04416d
}

.main-nav .sub {
    width: 190px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: calc(100% + 20px);
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    transition-duration: 200ms;
    transition-property: opacity,top,visible;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1)
}

.main-nav .sub li {
    font-weight: normal;
    color: #222
}

.main-nav .sub li a {
    padding: 10px 15px;
    color: #333 !important
}

.main-nav .all-menu {
    margin-left: auto !important;
    margin-right: 0 !important;
    color: #BDBDBD !important;
    font-weight: normal !important
}

.main-nav .all-menu a {
    display: -webkit-flex !important;
    display: -moz-flex !important;
    display: -ms-flex !important;
    display: -o-flex !important;
    display: flex !important
}

.main-nav .all-menu .hamburger {
    width: 16px;
    height: 2px;
    position: relative;
    background: #BDBDBD;
    display: block;
    top: 2px;
    margin-left: 8px
}

.main-nav .all-menu .hamburger:before,.main-nav .all-menu .hamburger:after {
    content: '';
    width: 16px;
    height: 2px;
    background: #BDBDBD;
    position: absolute
}

.main-nav .all-menu .hamburger:before {
    left: 0;
    top: 10px
}

.main-nav .all-menu .hamburger:after {
    left: 0;
    top: 5px
}

.wrap-all-menu {
    width: 100%;
    float: left;
    background: #F7F7F7;
    position: absolute;
    top: calc(100% + 10px);
    opacity: 0;
    visibility: hidden;
    transition-duration: 200ms;
    transition-property: opacity,top,visible;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1)
}

.wrap-all-menu .container {
    flex-wrap: wrap
}

.wrap-all-menu .header-menu {
    width: 100%;
    float: left;
    border-bottom: 1px solid #BDBDBD;
    padding: 13px 0
}

.wrap-all-menu .header-menu .name-header {
    font-size: 18px;
    line-height: 23px;
    color: #4F4F4F;
    display: inline-block;
    font-family: "Merriweather",serif;
    font-weight: 900
}

.wrap-all-menu .header-menu .close-menu {
    float: right;
    color: #076DB6
}

.wrap-all-menu .header-menu .close-menu .icon-close {
    position: relative;
    width: 14px;
    height: 14px;
    display: block;
    float: right;
    top: 3px;
    margin-left: 10px
}

.wrap-all-menu .header-menu .close-menu .icon-close:before,.wrap-all-menu .header-menu .close-menu .icon-close:after {
    content: '';
    width: 20px;
    height: 2px;
    position: absolute;
    background: #076DB6;
    left: -3px;
    top: 6px
}

.wrap-all-menu .header-menu .close-menu .icon-close:before {
    transform: rotate(45deg)
}

.wrap-all-menu .header-menu .close-menu .icon-close:after {
    transform: rotate(-45deg)
}

.wrap-all-menu .content-left {
    width: calc(100% - 140px);
    float: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.wrap-all-menu .content-left .scroll-menu-expand {
    height: calc(100vh - 180px);
    overflow: hidden
}

.wrap-all-menu .content-right {
    width: 140px;
    padding-left: 20px;
    float: right;
    padding-top: 15px;
    border-left: 1px solid #BDBDBD
}

.wrap-all-menu .row-menu {
    font-size: 0
}

.wrap-all-menu .cat-menu {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    width: 150px;
    margin-bottom: 30px
}

.wrap-all-menu .cat-menu li:first-child {
    color: #9f224e;
    font-size: 16px;
    font-weight: bold
}

.wrap-all-menu .cat-menu li:first-child a {
    padding-top: 0
}

.wrap-all-menu .cat-menu li.view-more {
    color: #757575;
    font-size: 12px;
    position: relative;
    padding-top: 3px
}

.wrap-all-menu .cat-menu li.view-more:before {
    content: '';
    width: 80px;
    height: 1px;
    background: #BDBDBD;
    position: absolute;
    top: 6px;
    left: 0
}

.wrap-all-menu .cat-menu li a {
    padding: 7.5px 0;
    display: inline-block
}

.wrap-all-menu .type-news {
    padding-bottom: 12px;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 20px
}

.wrap-all-menu .type-news .item-type {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 17px
}

.wrap-all-menu .list-link {
    padding-bottom: 12px;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 20px
}

.wrap-all-menu .list-link .link {
    font-size: 14px;
    margin-bottom: 15px
}

.wrap-all-menu .contact .ic {
    margin-right: 5px
}

.wrap-all-menu .contact p {
    margin-bottom: 10px
}

.wrap-all-menu .contact a {
    border: 1px solid #E5E5E5;
    background: #fff;
    border-radius: 3px;
    height: 32px;
    line-height: 32px;
    display: block;
    text-align: left;
    padding-left: 12px;
    margin-bottom: 10px;
    font-size: 14px
}

.wrap-all-menu .contact .mail {
    background: none;
    border-radius: 3px;
    height: 20px;
    line-height: 20px;
    padding-left: 0;
    display: block;
    text-align: left;
    border: none
}

.wrap-all-menu .contact .mail .ic {
    fill: #BDBDBD;
    margin-top: -2px
}

.wrap-all-menu .contact .ads {
    background: none;
    border-radius: 3px;
    height: 20px;
    line-height: 20px;
    padding-left: 0;
    display: block;
    text-align: left;
    border: none
}

.wrap-all-menu .contact .ads .ic {
    fill: #F9AB00
}

.wrap-all-menu .contact.downloadapp {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #BDBDBD
}

.wrap-all-menu .contact.downloadapp a .ic {
    margin-top: -3px
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide,.swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.swiper-container-multirow>.swiper-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.vote_rating_box {
    width: 100%;
    float: left;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    padding: 20px;
    margin-bottom: 15px
}

.vote_rating_box .item_row_bx {
    margin-bottom: 15px
}

.vote_rating_box .title_bx {
    font-size: 20px;
    margin-bottom: 15px
}

.vote_rating_box .label_check {
    font-size: 18px;
    line-height: 21px
}

.vote_rating_box .label_check .radio_check {
    top: 4px
}

.banner-ads {
    width: 100%;
    float: left;
    text-align: center
}

.container {
    width: 100%;
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative
}

.section {
    width: 100%;
    float: left
}

.top-header {
    padding: 8.5px 0;
    border-bottom: 1px solid #E5E5E5
}

.top-header .search {
    position: relative;
    margin-left: 15px;
    padding-left: 15px
}

.top-header .search input {
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    border: 1px solid #E5E5E5;
    padding: 0 30px 0 14px;
    margin: 0
}

.top-header .search button {
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px
}

.top-header .search button .ic {
    fill: #bdbdbd
}

.top-header .search:before {
    content: '';
    width: 1px;
    height: 24px;
    background: #E5E5E5;
    position: absolute;
    left: 0;
    top: 4px
}

.myvne_taskbar {
    margin-left: 20px
}

.myvne_taskbar .log_txt {
    height: 32px;
    line-height: 32px;
    color: #4f4f4f
}

.myvne_taskbar .log_txt .ic-user {
    fill: #bdbdbd;
    margin-right: 5px;
    margin-top: -2px
}

.logo {
    display: inline-block;
    float: left;
    padding-top: 2px
}

.btn24hqua,.evne {
    height: 32px;
    line-height: 29px;
    padding: 0 10px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    font-size: 14px;
    color: #757575;
    display: inline-block
}

.btn24hqua .ic,.evne .ic {
    margin-right: 5px
}

.btn24hqua .ic {
    fill: #bdbdbd
}

.evne {
    margin-left: 15px
}

.time-now {
    font-size: 14px;
    line-height: 32px;
    color: #757575;
    position: relative;
    margin-left: 20px;
    padding-left: 15px;
    float: left
}

.time-now:before {
    content: '';
    width: 1px;
    height: 26px;
    background: #E5E5E5;
    position: absolute;
    left: 0;
    top: 2px
}

.box-category {
    width: 100%;
    float: left;
    margin-bottom: 20px
}

.box-category.has-border {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5
}

.box-last {
    margin-bottom: 0
}

.title-box-category {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 20px;
    font-family: "Merriweather",serif;
    color: #222;
    font-weight: bold
}

.title-box-category .inner-title {
    position: relative;
    display: inline-block
}

.title-box-category .inner-title:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #9f224e;
    position: absolute;
    left: 0;
    bottom: -5px
}

.title-box-category .parent-cate {
    float: left
}

.title-box-category .sub-cate {
    float: left;
    margin-left: 20px;
    font-size: 13px;
    color: #4f4f4f;
    line-height: 1.1538461538;
    font-family: arial;
    font-weight: 400;
    margin-top: 5px
}

.title-box-category.title-box-small {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400
}

.meta-news {
    float: left;
    color: #757575;
    font-size: 12px;
    line-height: 14px
}

.meta-news .time-public {
    display: inline-block;
    margin-right: 10px
}

.meta-news .cat {
    display: inline-block;
    margin-right: 10px
}

.meta-news .count_cmt,.meta-news .icon_commend {
    font-size: 12px;
    color: #076DB6;
    display: inline-block;
    vertical-align: top
}

.meta-news .count_cmt .ic,.meta-news .icon_commend .ic {
    fill: #bdbdbd;
    width: 12px;
    height: 12px;
    margin-right: 5px
}

.item-news {
    width: 100%;
    float: left;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #E5E5E5
}

.item-news .title-news {
    font-family: "Merriweather",serif;
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 5px
}

.item-news .title-news .meta-news {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    font-family: arial
}

.item-news .thumb-art {
    width: 260px;
    float: left;
    margin-right: 20px
}

.item-news.full-thumb .thumb-art {
    width: 100%;
    margin: 0 0 10px 0
}

.item-news .description {
    line-height: 140%;
    font-size: 14px
}

.item-news .description .meta-news {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px
}

.footer {
    clear: both
}

.footer .inner-footer {
    border-top: 5px solid #E5E5E5;
    padding: 20px 0;
    font-size: 14px
}

.footer .list-menu-footer {
    width: 170px;
    padding-right: 30px;
    font-size: 14px;
    position: relative
}

.footer .list-menu-footer:first-of-type {
    font-weight: bold
}

.footer .list-menu-footer:nth-child(5):before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    left: -15px;
    background: #E5E5E5
}

.footer .list-menu-footer li {
    width: 100%;
    float: left;
    margin-bottom: 15px
}

.footer .list-menu-footer li a {
    position: relative;
    display: inline-block
}

.footer .wrap-contact {
    width: 250px;
    position: relative;
    line-height: 120%
}

.footer .wrap-contact:before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    left: -15px;
    background: #E5E5E5
}

.footer .wrap-contact .contact {
    line-height: 120%
}

.footer .wrap-contact .contact p {
    margin-bottom: 6px;
    color: #757575
}

.footer .wrap-contact .contact .ic {
    margin-right: 5px
}

.footer .wrap-contact .contact .mail {
    width: 120px;
    float: left;
    border-radius: 3px;
    height: 20px;
    line-height: 20px;
    display: block;
    text-align: left;
    margin-bottom: 8px;
    margin-right: 10px
}

.footer .wrap-contact .contact .mail .ic {
    margin-top: -4px;
    fill: #BDBDBD
}

.footer .wrap-contact .contact .ads {
    width: 120px;
    float: left;
    border-radius: 3px;
    height: 20px;
    line-height: 20px;
    display: block;
    text-align: left
}

.footer .wrap-contact .contact .ads .ic {
    fill: #F9AB00;
    margin-top: -4px
}


.footer .wrap-contact .contact.downloadapp {
    margin-bottom: 8px
}

.footer .wrap-contact .contact.downloadapp a {
    width: 120px;
    float: left;
    border-radius: 3px;
    height: 32px;
    line-height: 32px;
    background: #F7F7F7;
    border: 1px solid #E5E5E5;
    font-size: 14px;
    display: block;
    text-align: center;
    margin-right: 10px
}

.footer .wrap-contact .contact.downloadapp a .ic {
    margin-top: -4px
}

.footer .wrap-contact .contact.downloadapp a.app_evne {
    margin-right: 0
}

.footer .wrap-contact .hotline {
    padding-top: 8px;
    border-top: 1px solid #E0E0E0
}

.footer .wrap-contact .hotline>p {
    color: #757575;
    line-height: 120%;
    margin-bottom: 7px
}

.footer .wrap-contact .hotline .left p,.footer .wrap-contact .hotline .right p {
    margin-bottom: 9px
}

.footer .wrap-contact .hotline .left strong,.footer .wrap-contact .hotline .right strong {
    font-size: 16px
}

.footer .copyright {
    color: #4F4F4F;
    font-size: 12px;
    line-height: 120%;
    margin-bottom: 10px;
    padding-top: 8px;
    border-top: 1px solid #E0E0E0
}

.footer .copyright p {
    float: left;
    padding-top: 8px
}

.footer .copyright .flexbox {
    align-items: center
}

.footer .copyright a {
    display: inline-block;
    margin-left: 20px
}

.footer .copyright a.social_ft {
    width: 32px;
    height: 32px;
    border: 1px solid #E5E5E5;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px
}

.footer .copyright a.social_ft .ic {
    fill: #93908A
}

.footer .copyright a.social_ft.twitter_ft {
    margin-left: 10px
}

#to_top {
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #E5E5E5;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    position: fixed;
    bottom: 20px;
    right: 20px
}

.btn_vne {
    background: #9F224E;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    height: 40px;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    line-height: 40px;
    padding: 0 35px
}
.btn_vne.btn_normal {
    font-weight: 400
}

.btn_vne.btn_disable {
    background: #F7F7F7;
    color: #BDBDBD
}
.btn_vne.btn_view_cancel {
    background: none;
    color: #757575;
    text-decoration: underline;
    padding: 0 15px
}

.label_red {
    color: #9f224e
}

.section_topstory {
    padding-top: 20px
}

.article-topstory {
    width: 550px;
    padding-bottom: 0;
    margin-bottom: 0;
    border: none
}

.article-topstory .description {
    clear: both;
    font-size: 15px;
    line-height: 160%
}

.article-topstory .icon_thumb_videophoto {
    width: 32px;
    height: 32px;
    line-height: 32px;
    bottom: 10px;
    left: 10px
}

.article-topstory .icon_thumb_videophoto .ic {
    width: 18px;
    height: 18px
}

.article-topstory .title-news {
    width: 100%;
    float: left;
    font-size: 24px;
    font-weight: 400
}

.article-topstory.full-thumb .thumb-art {
    margin: 0 0 15px 0
}

.related_news {
    margin-top: 10px;
    font-size: 12px;
    line-height: 140%
}

.related_news a {
    color: #757575;
    position: relative;
    font-weight: 700;
    padding-left: 10px
}

.related_news a:before {
    width: 5px;
    height: 5px;
    background: #BDBDBD;
    content: '';
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 0
}

.ss-container {
    scroll-behavior: smooth;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch
}

.ss-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    float: left
}

.ss-content {
    height: 100%;
    width: calc(100% + 17px);
    padding: 0 0 0 0;
    position: relative;
    overflow: auto;
    box-sizing: border-box
}

.ss-scroll {
    position: relative;
    background: rgba(145,145,145,0.4);
    width: 5px;
    border-radius: 4px;
    top: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.25s linear
}

.ss-hidden {
    display: none
}

.sub-news-top {
    width: 230px;
    padding-left: 20px;
    position: relative
}

.sub-news-top:before {
    content: '';
    width: 210px;
    height: 40px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    position: absolute;
    left: 20px;
    bottom: 0;
    z-index: 2
}

.sub-news-top .inner-sub-news-top {
    position: absolute;
    height: 100%;
    top: 0;
    left: 20px;
    overflow: hidden
}

.sub-news-top .scroll-sub-featured {
    max-height: 100%
}

.sub-news-top .ss-scroll {
    width: 4px;
    background: #D3D3D3;
    opacity: 0
}

.list-sub-feature {
    padding-right: 10px
}

.list-sub-feature li {
    width: 100%;
    float: left;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #E5E5E5
}

.list-sub-feature li:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none
}

.list-sub-feature li:last-child {
    margin-bottom: 10px;
    padding-bottom: 25px
}

.list-sub-feature li .title_news {
    font-size: 14px;
    line-height: 160%
}

.col-right-top {
    width: 320px;
    padding-left: 20px
}

.col-right-top .box-category:last-child {
    margin-bottom: 0
}

.has_border {
    margin-top: 20px;
    padding-top: 20px
}

.has_border:before {
    width: calc(100% - 30px);
    background: #E5E5E5;
    height: 1px;
    position: absolute;
    top: 0;
    left: 15px;
    content: ''
}

.col-left {
    padding-right: 15px;
    position: relative
}

.col-left:after {
    content: '';
    width: 1px;
    height: 100%;
    background: #E5E5E5;
    position: absolute;
    top: 0;
    right: 0
}

.col-right {
    padding-left: 15px
}

.col-small {
    width: 420px
}

.col-medium {
    width: 680px
}

.item-news-common {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 15px;
    padding-bottom: 15px
}

.item-news-common:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0
}

.item-news-common .title-news {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px
}

.item-news-common .thumb-art {
    width: 90px;
    margin-right: 10px
}

.item-news-common .description {
    font-size: 14px;
    line-height: 140%
}

.item-news-common .meta-news {
    margin-top: 5px
}

.box-gocnhin {
    padding-bottom: 15px !important;
    margin-bottom: 15px
}

.box-gocnhin .item-news .description {
    font-size: 15px;
    line-height: 160%
}

.box-gocnhin .title-news {
    font-size: 16px;
    font-weight: 400
}

.box-gocnhin .meta-news {
    font-size: 14px;
    line-height: 16px
}

.art-top-gn {
    width: 400px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
    padding-right: 20px
}

.info-author {
    align-items: center;
    margin-top: 10px
}

.info-author .thumb-art {
    width: 48px;
    margin-right: 10px;
    margin-bottom: 0
}

.info-author .thumb-art .thumb {
    border-radius: 50%
}

.sub-art-gn {
    width: 265px;
    padding-left: 20px;
    border-left: 1px solid #E5E5E5
}

.sub-art-gn .item-news {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #E5E5E5
}

.sub-art-gn .item-news:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none
}

.box-cate-featured {
    margin-bottom: 15px
}

.box-cate-featured.has-border {
    padding-bottom: 15px
}

.box-cate-featured.box-last {
    margin-bottom: 0
}

.box-cate-featured .item-news.full-thumb {
    width: 400px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none
}

.box-cate-featured .item-news.full-thumb .icon_thumb_videophoto {
    width: 28px;
    height: 28px;
    line-height: 28px
}

.box-cate-featured .item-news .title-news {
    font-size: 16px;
    font-weight: 400;
    clear: both
}

.box-cate-featured .item-news .description {
    font-size: 14px;
    line-height: 140%
}

.sub-news-cate {
    width: 265px;
    padding-left: 20px
}

.sub-news-cate .item-news:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none
}

.sub-news-cate .item-news .meta-news {
    margin-top: 5px
}

.box-tygia-vietllot {
    padding-bottom: 15px !important;
    margin-bottom: 15px
}

.box-tygia-vietllot .box_left {
    width: 400px
}

.box-tygia-vietllot .box_right {
    width: 265px;
    padding-left: 20px
}

.box_giavang {
    width: 100%;
    float: left
}

.box_giavang .col_1 {
    width: calc(54% - 10px)
}

.box_giavang .col_2 {
    width: calc(46% - 10px)
}

.box_giavang .col_2 img {
    height: 14px;
    margin-top: 5px
}

.box_giavang .col_2 table {
    margin-bottom: 0
}

.box_giavang img {
    height: 16px;
    max-width: 100%
}

.box_giavang table {
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    margin-bottom: 5px
}

.box_giavang td {
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    font-size: 12px;
    padding: 5px;
    vertical-align: middle;
    text-align: center
}

.box_giavang .title_box {
    width: 100%;
    font: 700 12px arial;
    color: #333;
    padding: 5px 10px 5px 10px;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6
}

.box_giavang .title_right {
    text-align: right;
    font-weight: normal;
    float: right
}

.wrap_ty_gia {
    height: 76px;
    overflow: hidden
}

.box_vietllot .row_res_vietllot {
    padding: 20px 0
}

.row_res_vietllot {
    font-size: 0
}

.row_res_vietllot .number_res {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #CC4545;
    text-align: center;
    line-height: 24px;
    margin: 0 3px;
    font-size: 12px;
    color: #000;
    display: inline-block
}

.row_res_vietllot .number_res.number_spec {
    border: 1px solid #F9AB00
}

.row_res_vietllot .number_res:first-of-type {
    margin-left: 0
}

.row_res_vietllot .number_res:last-of-type {
    margin-right: 0
}

.box-slide-topic {
    padding: 0 45px 0 108px;
    height: 50px;
    padding-top: 12px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    position: relative
}

.box-slide-topic .swiper-container {
    width: 100%;
    float: left
}

.box-slide-topic .swiper-slide {
    width: auto;
    white-space: nowrap
}

.box-slide-topic .swiper-slide.item-news {
    width: auto;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none
}

.box-slide-topic .swiper-slide.item-news .title-news {
    padding-right: 30px;
    color: #9f224e;
    text-decoration: underline
}

.box-slide-topic .txt-topic {
    font-family: "Merriweather",serif;
    font-size: 14px;
    line-height: 18px;
    color: #757575;
    position: absolute;
    top: 15px;
    left: 0
}

.box-slide-topic .txt-topic .ic {
    fill: #BDBDBD;
    margin-right: 10px;
    width: 20px;
    height: 20px
}

.box-slide-topic .swiper-button-box {
    top: 13px
}

.inner-section-video {
    margin: 40px 0 20px 0;
    background: #FCFAF6;
    position: relative
}

.inner-section-video:before {
    content: '';
    background: #FCFAF6;
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border: 1px solid #F0EEEA
}

.wrapper-box-video {
    position: relative
}

.wrapper-box-video .box-player-video {
    width: 720px;
    float: left
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -18px;
    z-index: 1
}

.play-icon .ic {
    fill: #fff;
    width: 36px;
    height: 48px
}

.box-player-video .item-news {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none
}

.box-player-video .item-news .title-news {
    font-size: 24px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 0;
    width: 100%;
    float: left
}

.duration-video {
    font-size: 12px;
    color: #fff;
    background: #000;
    padding: 3px 5px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    border-radius: 1px;
    opacity: 1
}

.playing-txt {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 1
}

.box-scroll-video {
    width: calc(100% - 720px);
    padding-left: 20px !important;
    padding-right: 15px !important;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0
}

.box-scroll-video .item-news-common {
    margin-bottom: 15px;
    padding-bottom: 0;
    border-bottom: none
}

.box-scroll-video .item-news-common .thumb-art {
    width: 120px
}

.box-scroll-video .item-news-common .thumb-art .thumb:before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    opacity: 0;
    z-index: 1
}

.box-scroll-video .item-news-common .title-news {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0
}

.box-scroll-video .item-news-common:last-of-type {
    margin-bottom: 0
}

.box-scroll-video .item-news-common.active .duration-video {
    opacity: 0
}

.box-scroll-video .item-news-common.active .playing-txt {
    opacity: 1
}

.box-scroll-video .item-news-common.active .thumb-art .thumb:before {
    opacity: 1
}

.box-scroll-video .ss-scroll {
    background: #BDBDBD;
    width: 5px;
    opacity: 1 !important;
    right: calc(-100% - 15px) !important
}

.box-cate-featured-vertical {
    margin-bottom: 20px
}

.box-cate-featured-vertical .item-news.full-thumb {
    width: 100%
}

.box-cate-featured-vertical .sub-news-cate {
    width: 100%;
    float: left;
    padding-left: 0;
    padding-top: 10px;
    border-top: 1px solid #E5E5E5
}

.box-cate-featured-vertical .sub-news-cate .item-news {
    height: 87px;
    padding-bottom: 10px;
    margin-bottom: 10px
}

.box-cate-featured-vertical .sub-news-cate .item-news .thumb-art {
    width: 76px;
    margin-right: 10px;
    margin-bottom: 0
}

.box-cate-featured-vertical .sub-news-cate .item-news .title-news {
    clear: inherit;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0
}

.box-cate-featured-vertical .sub-news-cate .item-news:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    height: auto
}

.box-cate-featured-vertical .box-info-news {
    height: 110px;
    margin-bottom: 15px;
    overflow: hidden
}

.inner-row-boxcate {
    width: calc(100% + 30px);
    margin-left: -30px;
    position: relative;
    flex-wrap: wrap
}

.inner-row-boxcate .item-box-cate {
    width: 33.33333%;
    padding-left: 30px;
    margin-bottom: 20px
}

.inner-row-boxcate .item-box-cate:nth-last-of-type(-n+3) {
    margin-bottom: 0
}

.inner-row-boxcate .item-box-cate:nth-last-of-type(-n+3) .box-category {
    margin-bottom: 0
}

.inner-row-boxcate:before,.inner-row-boxcate:after {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(33.33333% + 15px);
    content: '';
    background: #E5E5E5
}

.inner-row-boxcate:after {
    left: auto;
    right: calc(33.33333% - 15px)
}

.wrap-slide-photo .swiper-slide {
    width: 65.5%;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none
}

.wrap-slide-photo .swiper-slide .box-info-news {
    padding: 0 30px;
    position: relative;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    opacity: 0
}

.wrap-slide-photo .swiper-slide .title-news {
    font-size: 20px;
    font-weight: 400
}

.wrap-slide-photo .swiper-slide .thumb-art {
    margin-bottom: 15px
}

.wrap-slide-photo .swiper-slide.swiper-slide-active .box-info-news {
    opacity: 1
}

.swiper-button-vne {
    width: calc(17.25% + 1px);
    position: absolute;
    top: 0;
    z-index: 1;
    cursor: pointer
}

.swiper-button-vne .opacity-layer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    padding-bottom: calc(228% - 2px);
    background: rgba(0,0,0,0.6)
}

.swiper-button-vne .btn-slide {
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    line-height: 40px;
    text-align: center
}

.swiper-button-vne .btn-slide .ic {
    fill: #fff
}

.swiper-button-vne.swiper-button-next-photo {
    right: 0
}

.swiper-button-vne.swiper-button-next-photo .btn-slide {
    left: 20px
}

.swiper-button-vne.swiper-button-prev-photo {
    left: 0
}

.swiper-button-vne.swiper-button-prev-photo .btn-slide {
    right: 20px
}

.col-770 {
    width: 785px
}

.col-300 {
    width: 315px
}

.box-info .item-news {
    width: 50%;
    padding-bottom: 0;
    margin-bottom: 20px;
    border-bottom: none
}

.box-info .item-news:nth-child(odd) {
    padding-right: 10px
}

.box-info .item-news:nth-child(even) {
    padding-left: 10px
}

.box-info .item-news:nth-last-of-type(-n+2) {
    margin-bottom: 0
}

.box-info .item-news .title-news {
    font-size: 16px;
    font-weight: 400;
    clear: both;
    margin-bottom: 0
}

.box-info .content-box-category {
    flex-wrap: wrap
}

.swiper-button-box {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    position: absolute;
    top: -3px;
    outline: none
}

.swiper-button-box .ic {
    fill: #4F4F4F
}

.swiper-button-box.swiper-button-box-next {
    right: -5px
}

.swiper-button-box.swiper-button-box-prev {
    right: 20px
}

.swiper-button-box.swiper-button-disabled .ic {
    fill: #BDBDBD
}

.box-ebank-qt {
    background: #F7F7F7;
    border: 1px solid #E5E5E5;
    padding: 15px
}

.box-ebank-qt .box-left {
    width: 50%;
    padding-right: 15px;
    border-right: 1px solid #E5E5E5
}

.box-ebank-qt .box-right {
    width: 50%;
    padding-left: 15px
}

.box-ebank-qt .item-news {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none
}

.box-ebank-qt .item-news .thumb-art {
    width: 100px;
    margin-bottom: 0;
    margin-right: 10px
}

.box-news-other-site .item-news {
    padding-bottom: 20px;
    margin-bottom: 20px
}

.box-news-other-site .item-news .thumb-art {
    width: 265px;
    margin-right: 15px;
    margin-bottom: 0
}

.box-news-other-site .item-news .title-news {
    font-size: 20px;
    font-weight: 400
}

.box-news-other-site .item-news:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none
}

.vote_rating_box .title_bx {
    font-family: "Merriweather",serif;
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    color: #222;
    margin-bottom: 10px
}

.vote_rating_box .item_row_bx {
    margin-bottom: 10px
}

.vote_rating_box .label_check {
    position: relative;
    width: 100%;
    float: left;
    padding-left: 25px;
    font-size: 15px;
    color: #222;
    line-height: 1.1333333333;
    cursor: pointer
}

.vote_rating_box .label_check input.radio_check[type="radio"] {
    width: 14px;
    height: 14px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    border: none;
    position: absolute;
    top: 2px;
    left: 0
}

.vote_rating_box .label_check input.radio_check[type="radio"]:before {
    content: '';
    width: 12px;
    height: 12px;
    border: 1px solid #BDBDBD;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0
}

.vote_rating_box .btn_vne {
    width: 120px;
    padding: 0
}

.vote_rating_box .btn_vne.btn_view_cancel {
    padding: 0 12px
}

.icon-info-sp {
    background: #BDBDBD;
    border-radius: 1px;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 10px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 10px;
    position: relative
}

.icon-info-sp .ic {
    fill: #fff;
    width: 8px;
    height: 8px
}

.icon-info-sp .tooltip-sp {
    white-space: nowrap;
    font-size: 12px;
    color: #222;
    position: absolute;
    bottom: 14px;
    left: -5px;
    padding: 5px 8px;
    font-family: arial;
    font-weight: 400;
    opacity: 0;
    visibility: hidden;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    border-radius: 3px
}

.box-sponsor {
    background: #F7F7F7;
    border: 1px solid #E5E5E5;
    padding: 15px
}

.box-sponsor .item-news {
    padding-bottom: 0;
    margin-bottom: 15px;
    border-bottom: none
}

.box-sponsor .item-news .thumb-art {
    width: 100px;
    margin-bottom: 0;
    margin-right: 10px
}

.box-sponsor .item-news .title-news {
    font-family: arial;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 0
}

.box-sponsor .item-news:last-of-type {
    margin-bottom: 0
}

.name_sponsor {
    font-size: 12px;
    line-height: 1.1666666667;
    color: #757575;
    margin-top: 5px;
    width: 100%;
    float: left
}

.box-news-no-thumb .item-news:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none
}

.inner-box-business {
    margin: 40px 0 40px 0;
    background: #F7F7F7;
    position: relative
}

.inner-box-business:before {
    content: '';
    background: #F7F7f7;
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border: 1px solid #e5e5e5;
    z-index: -1
}

.wrap-slide-business .item-news {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    width: calc(25% - 20px)
}

.wrap-slide-business .item-news .title-news {
    margin-bottom: 0
}

.box-shop-sell .item-news {
    float: none
}

.box-shop-sell .item-news .thumb-art {
    width: 100px;
    margin-right: 10px;
    margin-bottom: 0;
    border: 1px solid #E5E5E5
}

.box-shop-sell .item-news .title-news {
    font-family: arial;
    line-height: 140%
}

.box-shop-sell .price_shop {
    color: #D52329;
    font-size: 13px;
    margin-top: 7px
}

.box-shop-sell-vertical {
    padding: 15px;
    background: #F7F7F7;
    border: 1px solid #E5E5E5
}

input[type="text"],select {
    width: 100%;
    height: 40px;
    line-height: 40px;
    float: left;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    margin: 0;
    color: #4F4F4F
}