<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>
        <!-- build:title -->
    </title>
    <link type="image/x-icon" href="http://ssl.gstatic.com/docs/doclist/images/infinite_arrow_favicon_5.ico"
        rel="shortcut icon" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" media="all" />
    <!-- build:head2 -->
    <!-- build:head -->
</head>

<body class="homepage">

    <section id="topbar" class="section top_bar">
        <div class="container">
            <a href="javascript:;" class="js-headerHamburger hamburger">
                <span class="hamburger__line--one"></span>
                <span class="hamburger__line--two"></span>
                <span class="hamburger__line--three"></span>
            </a>
            <a href="#" class="logo" id="logo"><img src="images/graphics/logo-150x29.png" alt="TechAwards2019"></a>
            <a href="#" class="logo_mobile"><img src="images/graphics/logo_vne_f.jpg" alt="vne"></a>
            <div class="date">Thứ sáu, 22/3/2019</div>
            <div class="block-right">
                <!-- <ul class="form_log" style="display: none">
                    <li class="user">
                        <a href="javascript:;">
                            <span class="icon-user">
                                <svg class="icon-svg">
                                    <use xlink:href="images/icons/icon.svg#user"></use>
                                </svg>
                            </span>
                            Đăng nhập
                        </a>
                    </li>
                    <li><a href="javascript:;">Đăng ký</a></li>
                </ul>
                <ul class="form_log success">
                    <li class="user">
                        <a href="javascript:;">
                            <span class="icon-user">
                                <img src="images/graphics/thumb_chuyengia.jpg" alt="">
                            </span>
                            <span class="name">Nguyễn Như Hùng</span>
                        </a>
                    </li>
                    <li class="notification"><a class="myvne_logout" href="javascript:;">Đăng xuất</a></li>
                </ul> -->
                <div class="search">
                    <form action="http://timkiem.vnexpress.net/thethao" method="get" id="search">
                        <input type="text" name="q" value="Tìm kiếm" maxlength="80" class="search-input"
                            onblur="if(this.value=='') this.value=this.defaultValue"
                            onfocus="if(this.value==this.defaultValue) this.value=''">
                        <span class="search-btn">
                            <button type="submit">
                                <svg class="icon-svg">
                                    <use xlink:href="images/icons/icon.svg#search"></use>
                                </svg>
                            </button>
                        </span>
                    </form>
                </div>
                <!-- Myvne PC -->
                <div id="myvne_taskbar" class="myvne_taskbar_pc" style="display: none">
                    <div id="myvne" class="myvne_taskbar myvne_login_button">
                        <a href="javascript:void(0);" class="log_txt" title="Đăng nhập"><svg class="ic ic-user">
                                <use xlink:href="css/images/graphics/icon-vne.svg#User"></use>
                            </svg> Đăng nhập</a>
                    </div>
                </div>
                <div id="myvne_taskbar" class="myvne_taskbar_pc">
                    <div id="myvne" class="myvne_taskbar">
                        <div class="myvne_container" id="myvne_user_logged">
                            <ul class="myvne_form_log logged">
                                <li class="myvne_user" id="myvne_profile_tool">
                                    <a href="javascript:void(0);" id="myvne_avatar_taskbar" class="myvne_avatar"> <span
                                            class="avatar_inner"><img
                                                src="//a.vnecdn.net/avatar/c60x60/2016/10/03/6127804949_1475491524.png"
                                                width="25" height="25" alt=""></span> <span class="name_user_av">Như
                                            Hùng</span> </a>
                                    <ul class="myvne_user_status" style="display:none;">
                                        <li class="li_bd li_account"> <span class="avatar_sub"><img
                                                    src="//a.vnecdn.net/avatar/c60x60/2016/10/03/6127804949_1475491524.png"
                                                    width="25" height="25" alt=""></span> <span class="name_sub">Như
                                                Hùng</span> </li>
                                        <li><a href="https://my.vnexpress.net/users/feed/1014352662"
                                                title="Hoạt động bình luận">Hoạt
                                                động bình luận</a></li>
                                        <li><a href="https://my.vnexpress.net/users/tin-da-luu" title="Tin đã lưu">Tin
                                                đã lưu</a></li>
                                        <li class="li_bd"><a href="https://my.vnexpress.net/users/tin-da-doc"
                                                title="Tin đã xem">Tin đã
                                                xem</a></li>
                                        <li class="li_bd"><a id="myvne_update_profile_link"
                                                href="https://my.vnexpress.net/users/chi-tiet-tai-khoan"
                                                title="Tài khoản của tôi">Tài
                                                khoản của tôi</a></li>
                                        <li><a href="https://my.vnexpress.net/qua-tang" title="Quà tặng">Quà tặng</a>
                                        </li>
                                        <li class="li_bd"><a href="https://kidlab.vnexpress.net/"
                                                title="Kid-lab">Kid-lab</a></li>
                                        <li><a href="javascript:void(0);" id="myvne_logout_link">Thoát</a></li>
                                    </ul>
                                </li>
                                <li class="myvne_notification" id="myvne_notify_show">
                                    <a class="myvne_icon_bell_click"><i class="ic ic-bell myvne_icon_bell"></i></a><span
                                        id="myvne_notify_area"></span>
                                    <div id="myvne_notify_box" class="myvne_content_notification" style="display:none;">
                                        <ul id="myvne_notify_lists" class="scrollbar-macosx">
                                            <li class="myvne_loading">Loading</li>
                                        </ul>
                                        <ul id="myvne_notify_viewmore_area" style="display:none"> <span
                                                id="myvne_loading_viewmore" style="display: none;">Loading</span> <a
                                                href="javascript:void(0);" id="myvne_notify_viewmore"
                                                class="myvne_notification-viewmore" style="display:none;">Xem
                                                thêm</a> </ul>
                                    </div>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <!-- End Myvne PC -->
                <!-- Myvne Mobile -->
                <div id="myvne_taskbar" class="myvne_taskbar_mobile">
                    <ul class="myvne_form_log loged">
                        <li class="myvne_user" id="myvne_profile_tool"> <a href="javascript:void(0);"
                                id="myvne_avatar_taskbar" class="myvne_icon myvne_avatar"><img
                                    src="//a.vnecdn.net/avatar/c60x60/2016/10/03/6127804949_1475491524.png" width="25"
                                    height="25" alt="" class="lazyLoaded" data-was-processed="true"></a> <i
                                class="icon-arrow"></i>
                            <div class="block_sub_myvne block_sub_log myvne_user_status_mobile">
                                <div class="width_common header_sub_myvne">
                                    <div class="m_page_title"><strong style="font-size: 20px;">Như Hùng</strong></div>
                                    <div class="pre-text">Tham gia từ 3/10/2016 <a
                                            href="https://my.vnexpress.net/users/chi-tiet-tai-khoan"
                                            class="edit_profile">Tài khoản của
                                            tôi</a></div>
                                </div>
                                <ul class="menu_profile width_common">
                                    <li><a href="https://my.vnexpress.net/users/feed/1014352662">Bình luận</a></li>
                                    <li><a href="https://my.vnexpress.net/qua-tang">Quà tặng</a></li>
                                    <li><a href="https://my.vnexpress.net/users/tin-da-doc">Tin đã xem</a></li>
                                    <li><a href="https://my.vnexpress.net/users/tin-da-luu">Tin đã lưu</a></li>
                                </ul>
                                <ul class="menu_profile width_common other_link mb15">
                                    <li><a href="https://vnexpress.net/lien-he-toa-soan/">Liên hệ tòa soạn</a></li>
                                    <li><a href="https://eclick.vn/">Liên hệ quảng cáo</a></li>
                                </ul>
                                <div class="box_saved_news" id="box_saved_news"> </div> <a href="javascript:;"
                                    id="myvne_logout_link" class="logout_link">Thoát</a> <span class="close-lb"><i
                                        class="ic ic-false"></i></span>
                            </div>
                        </li>
                        <li class="myvne_user notify_myvne" id="myvne_notify_show"> <a href="javascript:void(0);"
                                class="myvne_icon myvne_icon_bell_click"><i class="ic ic-bell"></i></a> <i
                                class="icon-arrow"></i>
                            <div class="block_sub_myvne block_sub_log" id="myvne_notify_box" style="display: none;">
                                <div class="head_box width_common">
                                    <div class="left"><strong>Thông báo</strong></div>
                                </div>
                                <div class="box_saved_news">
                                    <ul class="list_news_saved width_common" id="myvne_notify_lists">
                                        <li class="">
                                            <a href="https://vnexpress.net/suc-khoe/them-7-ca-duong-tinh-ncov-4071185.html?commentid=34248805"
                                                data-id="1056368754"
                                                onclick="_gaq.push(['_trackEvent', 'AllPage', 'Click thông báo', 'Thông báo Topbar']);"><strong>1
                                                    người</strong> thích bình luận của bạn trong bài <strong>Thêm 7 ca
                                                    dương tính
                                                    nCoV</strong> <span>01:47 19/3</span></a>
                                        </li>
                                        <li class="">
                                            <a href="https://vnexpress.net/suc-khoe/them-7-ca-duong-tinh-ncov-4071185.html?commentid=34248805"
                                                data-id="1056355579"
                                                onclick="_gaq.push(['_trackEvent', 'AllPage', 'Click thông báo', 'Thông báo Topbar']);">Bình
                                                luận của bạn đã được đăng trong bài <strong>Thêm 7 ca dương tính
                                                    nCoV</strong><span>07:45 19/3</span></a>
                                        </li>
                                        <li class="">
                                            <a href="https://vnexpress.net/suc-khoe/bo-y-te-tuyen-bo-khanh-hoa-het-dich-covid-19-4060871.html?commentid=33889164"
                                                data-id="1055762339"
                                                onclick="_gaq.push(['_trackEvent', 'AllPage', 'Click thông báo', 'Thông báo Topbar']);"><strong>Nguyễn
                                                    Như Hùng</strong>, <strong>phuongthu</strong>, <strong>Thao
                                                    Nguyen</strong> &amp;
                                                <strong>8 người khác</strong> thích bình luận của bạn trong bài
                                                <strong>Bộ Y tế tuyên bố
                                                    Khánh Hòa hết dịch Covid-19</strong> <span>02:10 27/2</span></a>
                                        </li>
                                        <li class="">
                                            <a href="https://vnexpress.net/suc-khoe/bo-y-te-tuyen-bo-khanh-hoa-het-dich-covid-19-4060871.html?commentid=33889164"
                                                data-id="1055762181"
                                                onclick="_gaq.push(['_trackEvent', 'AllPage', 'Click thông báo', 'Thông báo Topbar']);">Bình
                                                luận của bạn đã được đăng trong bài <strong>Bộ Y tế tuyên bố Khánh Hòa
                                                    hết dịch
                                                    Covid-19</strong><span>10:30 26/2</span></a>
                                        </li>
                                        <li class="">
                                            <a href="https://my.vnexpress.net/qua-tang/suc-khoe-lam-dep/2-000-bo-trang-diem-gia-uu-dai-danh-rieng-cho-doc-gia-vnexpress-1044094992.html"
                                                data-id="1044163923"
                                                onclick="_gaq.push(['_trackEvent', 'AllPage', 'Click thông báo', 'Thông báo Topbar']);">Quà
                                                tặng mới từ chương trình <strong>2.000 bộ trang điểm giá ưu đãi dành
                                                    riêng cho độc giả
                                                    VnExpress</strong><span> Quà tặng - 11:23 18/10/2018</span></a>
                                        </li>
                                        <li class="">
                                            <a href="https://my.vnexpress.net/qua-tang/giai-tri-su-kien/uu-dai-danh-rieng-cho-doc-gia-vnexpress-mua-sam-khong-gioi-han-1041362198.html"
                                                data-id="1041632128"
                                                onclick="_gaq.push(['_trackEvent', 'AllPage', 'Click thông báo', 'Thông báo Topbar']);">Quà
                                                tặng mới từ chương trình <strong>[Mã giảm giá] Ưu đãi dành riêng cho độc
                                                    giả VnExpress,
                                                    mua sắm không giới hạn!</strong><span> Quà tặng - 05:39
                                                    1/8/2018</span></a>
                                        </li>
                                    </ul> <a href="javascript:void(0);" id="myvne_notify_viewmore"
                                        class="width_common view_more_myvne" style="">Xem thêm</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


                <!-- End Myvne Mobile -->

            </div>

        </div>
    </section>
    <!--HEADER-->
    <header class="section section_header clearfix">
        <div class="container">
            <h1 class="lbl_logo"><a href="" title="" class="logo"><img src="images/graphics/logo_sohoa.svg" alt=""></a>
            </h1>
            <div class="col_right">
                <div class="tr_top">
                    <a class="back" href="/">Quay lại Số Hóa</a>
                    <div class="social">
                        <a class="" href="/">
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#face"></use>
                            </svg>
                        </a>
                        <a class="" href="/">
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#twiter"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <ul class="nav menu_main">
                    <li>
                        <a class="active" href="#section_1"><span>Trang chủ</span></a>
                    </li>
                    <li>
                        <a href="#section_2"><span>Sản phẩm tôi yêu</span></a>
                        <div class="level2">
                            <a href="#">Thể lệ</a>
                            <a class="active" href="#">Danh sách sản phẩm</a>
                            <a href="#">Kết quả</a>
                        </div>
                    </li>
                    <li>
                        <a href="#section_3"><span>Thể lệ</span></a>
                    </li>
                    <li>
                        <a href="#section_4"><span>Lộ trình sự kiện</span></a>
                    </li>
                    </li>
                    <li>
                        <a href="#section_5"><span>Tech Talks</span></a>
                    </li>
                    <li>
                        <a href="#section_6"><span>Tin tức</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!--END HEADER-->
    <!-- build:content -->


    <!--FOOTER-->
    <div class="section section_footer">
        <div class="container clearfix">
            <div class="flex">
                <a href="#" class="logo" id="logo"><img src="images/graphics/logo_sohoa.svg" alt="TechAwards2019"></a>
                <div class="copy_right">
                    ® VnExpress giữ bản quyền</br>nội dung trên website này
                </div>
                <div class="info">
                    <p>Email: <strong>sohoa@vnexpress.net</strong></p>
                    <p>Điện thoại: <strong>083.888.0123 </strong>(HN) <strong> - 082.233.3555 </strong>(TPHCM)</p>
                </div>
                <div class="social_new">
                    <a class="" href="/">
                        <svg class="icon-svg">
                            <use xlink:href="images/icons/icon.svg#face"></use>
                        </svg>
                    </a>
                    <a class="" href="/">
                        <svg class="icon-svg">
                            <use xlink:href="images/icons/icon.svg#twiter"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--END FOOTER-->

    <!--Back to top-->
    <a href="javascript:;" id="to_top">
        <svg class="ic ic-arrow-up">
            <use xlink:href="css/images/graphics/icon-vne.svg#Arrow-Up-1"></use>
        </svg>
    </a>

    <!--MAIN MENU MOBILE-->
    <nav id="main_menu" class="main_menu">
        <div class="header_menu width_common">
            <span class="close_main_menu">&times;</span>
            <div class="right myvne_log" id="myvne_taskbar_custom" style="display: none">
                <a href="javascript:;" class="log_txt" id="myvneLogin">Đăng nhập</a><span class="dash">|</span><a
                    href="javascript:;" class="log_txt" id="myvneRegister">Đăng ký</a>
            </div>
            <div class="right myvne_log" id="myvne_taskbar_custom">
                <div class="right myvne_log myvne_logged"><a href="javascript:;" class="log_txt">
                        <img class="avatar_user" src="https://s.vnecdn.net/myvne/i/v1/graphics/img_60x60.gif"
                            alt="">Nguyễn Như Hùng</a><span class="dash">|</span><a href="javascript:;" class="log_txt"
                        id="myvneLogout">Thoát</a>
                </div>
            </div>
        </div>
        <div class="block_scoll_menu width_common">
            <div class="list_menu width_common">
                <ul class="menu_main list_item_panel width_common">
                    <li class="active"><a href="#home" class="link_item_panel">Trang chủ</a></li>
                    <li><a href="#lo-trinh" class="link_item_panel">Lộ trình sự kiện</a></li>
                    <li><a href="#tin-tuc" class="link_item_panel">Tin tức</a></li>
                    <li><a href="#product-winer" class="link_item_panel">Sản phẩm từng đoạt giải</a></li>
                    <!-- <li><a href="#gallery" class="link_item_panel">GALLERY</a></li> -->
                </ul>
            </div>
            <div class="section section_footer width_common">
                <div class="container clearfix">
                    <a class="logo" href="/"><img src="images/graphics/logo.svg" alt=""></a>
                    <p class="copyright">® VnExpress giữ bản quyền <br>nội dung trên website này</p>
                    <div class="info">
                        <p>Email: <strong>sohoa@vnexpress.net</strong></p>
                        <p>Điện thoại: <strong>083.888.0123 </strong>(HN) <strong> - 082.233.3555 </strong>(TPHCM)</p>
                    </div>
                    <div class="social_new">
                        <a class="" href="/">
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#face"></use>
                            </svg>
                        </a>
                        <a class="" href="/">
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#twiter"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--END MAIN MENU MOBILE-->
    <div class="mask-content"></div>
    <!--Jquery lib-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="js/svgxuse.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script src="js/lightgallery.min.js"></script>
    <script src="js/lg-thumbnail.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <!-- build:script -->
    <!-- build:script2 -->
    <div class="clearfix"></div>
</body>

</html>