body::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: $color2;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff;
    background-color: #fff;
}

.title_cate {
    font-size: 32px;
    margin-bottom: 24px;
    font-weight: 600;
    line-height: 1;
    color: var(--dark_gray);

    .view {
        color: var(--color_main);
        display: block;
        font-size: 14px;
        margin-top: 5px;
    }

    .count {
        font-size: 14px;
        margin-left: 5px;
        font-weight: 400;
    }
}

.view-more {
    text-align: center;

    svg {
        color: var(--color_main);
        width: 20px;
        height: 20px;
    }

    a {
        font-weight: bold;
        transition: 0.5s ease;
    }

    &__border {
        margin-top: 24px;

        a {
            height: 48px;
            line-height: 48px;
            display: inline-block;
            color: var(--dark_gray);
            font-size: 18px;
            border-radius: 56px;
            border: 1px solid var(--dark_gray);
            padding: 0 30px;

            &:hover {
                border: 1px solid var(--color_main);
                background: var(--color_main);
                color: #fff;

                svg {
                    color: #fff;
                }
            }
        }
    }

    @media (min-width: 768px) {
        &:active {
            a {
                color: $color3-active;
                text-decoration: underline;
            }
        }
    }

}

main {
    padding-top: 24px;
}

.mb56 {
    margin-bottom: 56px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
}

.list-product {
    margin: 0;
    border-left: 1px solid var(--gray100);

    .items {
        width: 20%;
        padding: 16px;
        border: 1px solid var(--gray100);
        border-left: 0;
        position: relative;
        transition: 0.5s ease;
        color: var(--gray500);

        .ava {
            display: block;
            width: 100%;
            padding-bottom: 100%;
            position: relative;
            margin-bottom: 10px;
            background: #fff;

            img {
                max-height: 90%;
                max-width: 90%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                transition: 0.5s ease;
            }

            .status {
                color: var(--white);
                font-weight: 600;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 28px;
                line-height: 28px;
                padding: 0 8.4px;
            }
        }

        .content {
            color: var(--black);
            font-size: 14px;

            .date {
                font-size: 14px;
                font-weight: 500;
            }

            .name {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 8px;
                line-height: 1.3;

                a {
                    color: var(--black);

                    &:hover {
                        color: $color2
                    }
                }
            }

            .ch {
                margin-bottom: 6px;
            }

            .price {
                font-size: 14px;
                margin-bottom: 10px;
                color: var(--gray500);

                strong {
                    color: var(--red);
                    font-size: 18px;
                }
            }

            .view-detail {
                color: #288E9C;
                display: block;
                margin-top: 20px;
                display: none;
            }
        }

        .content_2 {
            .btn-default {
                display: none;
                margin-top: 10px;
                padding: 0 10px;
                transition: 0.5s ease;
            }

            .add-compare {
                background: #fff;
                border: 1px solid var(--dark_gray);
            }
        }

        .price {
            font-size: 14px;
            margin-bottom: 8px;
            color: var(--gray500);

            strong {
                color: var(--red);
                font-size: 18px;
            }

            .btn-default {
                width: 212px;
                display: none;
                margin: 0;
            }
        }

        .price_old {
            display: block;
            color: var(--gray500);
            font-size: 14px;
            text-decoration: line-through;
        }

        .code {
            color: var(--gray500);
            display: block;
            margin-bottom: 5px;
        }

        .note {
            display: block;

            img {
                vertical-align: middle;
                margin-right: 2px;
            }
        }

        .changer_color {
            color: #000;
            display: none;

            ul {
                display: flex;

                li {
                    display: inline-block;
                    margin: 6px 8px 0 0;
                    border: 1px solid var(--gray100);

                    a {
                        display: block;
                        width: 32px;
                        height: 32px;
                    }

                    &.active,
                    &:hover {
                        border: 1px solid var(--color_main);
                    }
                }
            }
        }

        .more {
            color: var(--black);
            background: var(--gray50);
            position: absolute;
            bottom: -1px;
            display: none;
            padding: 10px 16px 10px 16px;
            left: -1px;
            right: -1px;
            border: 1px solid var(--gray100);
            border-top: 0;

            .description {
                max-height: 105px;
                overflow: hidden;

                p {
                    margin: 0;
                }
            }

            .notifi {
                text-align: center;
                background: #fff;
                margin: 8px -16px -10px -16px;
                padding: 8px 16px;

                a {
                    color: var(--black);
                    background: #27BECE;
                    display: block;
                    font-weight: 600;
                    border-radius: 56px;
                    height: 36px;
                    line-height: 36px;
                }
            }

            p {
                margin: 3px 0 0 0;
            }
        }

        &:hover {
            .note {
                display: none;
            }

            .changer_color {
                display: block
            }

            .more {
                display: block;
                z-index: 2;
                overflow: visible;
                transform: translateY(100%);
            }

            .ava img {
                transform: translateY(-5px);
            }

            .content {
                .date {
                    color: var(--color_main)
                }
            }
        }
    }

    &.gird_4col {
        .items {
            width: 25%;
        }
    }

    @media (max-width: 1025px) {
        .items {
            width: 25%;
        }

        &.gird_4col {
            .items {
                width: 33.33%;
            }
        }

    }

    @media (max-width: 991px) {
        .items {
            width: 33.33%;
        }
    }

    @media (max-width: 480px) {
        border-bottom: 1px solid var(--gray100);

        .items {
            width: 50%;
            border-bottom: 0;
            padding: 10px;

            .ava {
                height: 180px !important;
            }
        }

        &.list-product_5item {
            .items {
                &:nth-child(5) {
                    display: none;
                }
            }
        }

        &.gird_4col {
            .items {
                width: 50%;
            }
        }
    }

}

.padding-swiper {
    padding: 0 23px;
    position: relative;
    margin: 0 -23px;

    .swiper-button-next,
    .swiper-button-prev {
        z-index: 3;
    }

    &::before {
        content: "";
        background: #fff;
        width: 23px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
    }

    &::after {
        content: "";
        background: #fff;
        width: 23px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }
}

.title-cate {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;

    @media (max-width: 1368px) {
        font-size: 30px
    }

    @media (max-width: 590px) {
        font-size: 22px
    }
}

.breadcrumb {
    padding: 0;
    background: #fff;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    list-style: none;
    margin-bottom: 42px;

    li {
        a {
            color: rgba(0, 0, 0, 0.5);
            font-size: 14px;
            font-weight: 600;
        }

        &.home {
            a {
                svg {
                    width: 65px;
                }
            }
        }

        &+.breadcrumb-item {
            &::before {
                content: "";
                display: inline-block;
                border-top: 1px solid var(--black);
                width: 10px;
                vertical-align: middle;
                margin: 0 5px;
                transform: rotate(115deg);
            }
        }

        &.active {
            a {
                color: var(--black);
            }
        }
    }
}

.check-list {
    padding-left: 28px;
    position: relative;
    cursor: pointer;
    display: block;
    margin-bottom: 8px;

    .text {
        color: var(--dark_gray);
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border: 2px solid var(--dark_gray);
        border-radius: 3px;

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 5px;
            top: 2px;
            width: 5px;
            height: 10px;
            border: solid var(--dark_gray);
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    input:checked~.checkmark {
        background: var(--color_main);

        &:after {
            display: block;
        }
    }
}

.header-mobile {
    display: none;
}

// Swiper Slide
.slideshow {
    display: flex;
    height: 430px;
    width: 534px;
    position: relative;

    .swiper-button-prev,
    .swiper-button-next {
        width: 30px;
        height: 30px;
        line-height: 30px;
        z-index: 3;

        &::before {
            width: 30px;
            height: 30px;
            line-height: 30px;
            background: none;
        }

        &:hover {
            &::before {
                color: #000
            }
        }
    }

    .swiper-button-prev {
        top: 0px;
        left: 20px;
        transform: rotate(90deg);
    }

    .swiper-button-next {
        top: inherit;
        bottom: 0;
        left: 20px;
        transform: rotate(90deg);
    }

    &__gallery {
        width: 430px;
        width: calc(100% - 80px);
        padding-left: 24px;

        &-wrap {
            will-change: transform;
            transition-timing-function: cubic-bezier(0, 0, 0.3, 0.98);
            transform: translate3d(0, 0, 0);
        }

        &-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            font-size: 32px;
            color: #fff;
            letter-spacing: 3.2px;
            transform: translate3d(0, 0, 0);
            will-change: font-size;
            transition: font-size .3s ease;

            &.active {
                font-size: 36px;
            }
        }
    }

    &__thumbs {
        width: 80px;
        margin: -30px 0;
        padding: 30px 0;

        &::before,
        &::after {
            content: "";
            background: #fff;
            width: 80px;
            height: 30px;
            position: absolute;
            z-index: 2;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        &-wrap {
            will-change: transform;
            transition-timing-function: cubic-bezier(0, 0, 0.3, 0.98);
            transform: translate3d(0, 0, 0);
        }

        &-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--gray100);
            box-sizing: border-box;
            border-radius: 4px;
            padding: 2px;
            will-change: font-size;
            transition: font-size .3s ease;


            &.swiper-slide-thumb-active {
                border: 1px solid var(--color_main);
            }
        }
    }
}

// End Swiper Slide

.box_count {
    display: flex;

    label {
        margin-right: 10px;
    }

    #countdown {
        .item_countdown {
            display: inline-block;
            margin-right: 10px;
            position: relative;

            &::before {
                content: ":";
                position: absolute;
                right: -10px;
                font-size: 18px;
                top: -4px;
            }

            span {
                display: inline-block;
                color: var(--color_main);
                margin-right: 4px;
            }

            .text {
                display: inline-block;
            }

            &.phut {
                &::before {
                    display: none
                }
            }

            &.giay {
                display: none
            }
        }
    }
}

.list-star {
    margin-bottom: 24px;

    li {
        display: inline-block;
        margin: 0 4px;

        svg {
            width: 30px;
            height: 30px;
        }

        &.active {
            svg {
                color: var(--color_main)
            }
        }
    }
}

#width_tmp_select {
    display: none;
}

// POPUP
.thongso-popup {
    .scrollbar-inner {
        max-height: 400px;
        padding-right: 10px;

        li {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--gray100);
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
    }
}