/**WIDGET COVID 03**/
@mixin cubic-transition($delay, $duration, $property) {
    transition: {
        duration: $duration;
        property: $property;
        timing-function: cubic-bezier(.7,1,.7,1);
    }
}
/* @include cubic-transition($delay: 0, $duration: 200ms, $property: (all)); */
.widget-covid-03{
    *{margin: 0; padding: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;list-style: none;}
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    width: calc(100% + 30px); float: left; margin-left: -15px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif !important; color: #222; font-size: 14px;
    border: 1px solid #e5e5e5;
    background: #f7f7f7;
    padding: 15px;
    font-feature-settings: 'pnum' on , 'lnum' on;
    .top-head-cov{width: 100%;float: left;display: flex;font-size: 14px; line-height: 14px; color: #757575; flex-wrap: wrap; border-bottom: 1px solid #e5e5e5; padding-bottom: 10px;
        .txt-top{font-family: "Merriweather", Arial, sans-serif; font-size: 18px; line-height: 150%; color: #222; font-weight: bold;}
        .info-txt-top{width: 100%;line-height: 130%; margin-top: 5px;margin-bottom: 0;
            .flash{display: inline-block; vertical-align: top; margin: 0 10px; color: #e5e5e5;}
        }
    }
   
    .search-local{width: 100%; float: left; position: relative; padding-right: 50px;border-radius: 3px; border: 1px solid #e5e5e5; margin-top: 10px; background: #fff;
        .input-local{width: 100%; height: 40px; padding-left: 10px; font-size: 16px; border: none;outline: none;}
        .button-local{width: 40px; height: 40px;background: #fff; text-align: center; line-height: 40px; border: none; cursor: pointer; position: absolute; top: 0; right: 0;outline: none;
            img{display: inline-block; vertical-align: middle;}
        }
    }
  
    .wrap-slide-bn{margin-top: 10px; width: 100%;float: left; position: relative;
        .swiper-button-next-bn,.swiper-button-prev-bn{width: 70px; height: 100%; position: absolute; top: -5px;z-index: 1; outline: none;
            &.swiper-button-disabled{opacity: 0; visibility: hidden;}
        }
        .swiper-button-next-bn{
            right: 0;
            background: linear-gradient(270deg, #F7F7F7 1.56%, rgba(247, 247, 247, 0) 52.08%);
            /*background: linear-gradient(270deg, #FFFFFF 3.84%, rgba(255, 255, 255, 0) 128%);*/
        }
        .swiper-button-prev-bn{
            display: none;
        }
    }
    .item-bn{
        border: 1px solid #e5e5e5; background: #fff; border-radius: 3px; font-size: 16px; line-height: 130%;
        .sum-info-bn{width:100%; display: flex; align-items: center;}
        .number-bn{width: 80px; height: 80px; background: url(images/bg-number.svg) no-repeat 0 0; text-align: center; line-height: 80px; color: #fff; font-size: 24px; font-weight: bold;}
        .sum-text-bn{width: calc(100% - 80px); padding-left: 15px; display: flex; flex-wrap: wrap;
            .ul-sum{width: 100%;float: left; display: flex; flex-wrap: wrap;
                li{margin-top: 5px; width: 100%;
                    &:first-child{margin-top: 0;}
                }
            }
        }
        .history-move{position: relative; padding-left: 12px;margin-top: 10px; margin-bottom: 0;
            &:before{
                width: 5px;height: 5px;background: #e5e5e5; content: ''; border-radius: 50%; position: absolute; top: 7px; left: 0;
            }
        }
        .link-detail{
            width: 100%; float: left; text-align: center; margin-top: 15px; margin-bottom: 0;
            a{color: #4f4f44 !important; text-decoration: none !important; font-size: 16px !important; background: #f7f7f7; border: 1px solid #e5e5e5; border-radius: 3px; padding: 10px 20px; display: inline-block;}
        }
        &.item-bn-1{width: 100%; float: left;
            .sum-text-bn{
                .ul-sum{
                    li{width: 100%;
                        &:nth-child(2){margin-top: 2px;}
                    }
                }
            }
        }
    }
   
    .swiper-pagination{position: relative; margin-top: 20px; width: 100%; float: left; bottom: auto;}
    .swiper-pagination-bullet {
        width: 30px;
        height: 8px;
        display: inline-block;
        border-radius: 0;
        background: #e5e5e5;
        opacity: 1;
        margin: 0 5px;
    }    
    .swiper-pagination-bullet-active {
        background: #949494;
    }
    
   .swiper-slide{width: 90%;
          
    }
   .inner-slide-bn{width: 100%; float: left; padding: 20px 10px;}

   .res-search{width: 100%; float: left; font-size: 16px; line-height: 100%;color: #4f4f4f;}

   .popup-detail-move{
        position: fixed; width: 100vw; height: 100vh; top: 0; left: 0; z-index: 999999; /*opacity: 0; visibility: hidden;
        @include cubic-transition($delay: 0, $duration: 200ms, $property: (all));*/
        .overlay-move{
            background: rgba(0, 0, 0, 0.5); width: 100%; height: 100%;position: absolute; top: 0; left: 0;
        }
        .block-detail-move{
            width: 100%; max-width: 720px; background: #fff; max-height: 100vh; position: absolute; top: 50%; left: 50%;
            transform: translate(-50%, -50%); 
        }
        .close-pop-move{position: absolute; top: 10px; right: 10px; width: 32px; height: 32px; background: #fff;
        cursor: pointer;  border-radius: 50%; text-align: center; line-height: 32px; font-family: -webkit-body; font-size: 33px; color: #4f4f4f;
        }
        .header-pop{width: 100%; float: left; height: 52px; line-height: 52px; border-bottom: 1px solid #e5e5e5; font-size: 18px; font-weight: bold;text-align: center;}
        .inner-detail-move{width: 100%;float: left; padding: 20px 15px;}
        .item-bn{width: 100%;float: left; border: none; font-size: 18px; line-height: 160%;
            .inner-slide-bn{padding: 0;}
            .number-bn{font-size: 24px; display: block;}
            .ul-sum{
                li{font-size: 16px; line-height: 130%;width: 100%;
                    &:nth-child(2){margin-top: 5px;}
                    &.status-bn{position: relative; padding-left: 17px; order: 5; width: auto;
                        &:before{
                            width: 10px; height: 10px;background: #bdbdbd; border-radius: 50%; content: ''; position: absolute; top: 5px; left: 0;
                        }
                    }
                    &.status-txt{order: 4; width: auto; float: left; margin-right: 7px;}
                }
            }
            p{margin-bottom: 15px;}
            .link-detail{margin-bottom: 0;
                a{font-size: 15px; width: 100%; max-width: 300px;}
            }
            .history-move{
                &:before{top: 12px;}
            }
            .sum-info-bn{margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #e5e5e5;}
        }
        .scroll-detail-move{max-height: calc(100vh - 293px); overflow: auto;}
        .list-bn-tx{width: 100%; float: left; display: flex;
            .number-bn{margin: 0 5px; text-decoration: none !important;}
        }
    }
}

@import 'placeholder.scss';
.box-placeholder{
    &.widget-covid-03{
      .top-head-cov{
          .txt-top.text{height: 20px;}
          .info-txt-top.text{height: 12px; width: 100%;}
      }  
      .search-local{padding-right: 0;
          .text{height: 40px; border-radius: 0;}
      }
      .wrap-slide-bn{
          .text{height: 205px; border-radius: 0;}
      }
    }
  }