/**WIDGET COVID 01**/
.widget-covid-01{
    *{margin: 0; padding: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    width: 100%; float: left;
    margin-bottom: 20px;
    font-family: arial !important;
    border: 1px solid #e5e5e5;
    padding: 15px;
    font-feature-settings: 'pnum' on , 'lnum' on;
    background: #fff;
    .table-count-covid{width: 100%;float: left;
        table{width: 100%;float: left;margin: 0;}
        tr{
            th,td{padding: 15px 5px;width: 25%; text-align: center; vertical-align: middle;
                &:last-child{padding-right: 0;}
                &:first-child{padding-left: 0; text-align: left; font-size: 16px;}
            }
            th{padding-top: 0; padding-bottom: 0;}
            td{font-family: "Merriweather", Arial, sans-serif; font-size: 20px; border-bottom: 1px solid #e5e5e5;
                &.td-tuvong{color: #CA2124;
                    &.number-zero{color: #bdbdbd;}
                }
                &.td-khoi{color: #00945E; }
            }
        &:last-child{
            td{border-bottom: none;}
        }
        }
        .txt-s{width: 100%;text-align: center;background: #F7F7F7; color: #4f4f4f; font-size:14px;font-weight: bold; padding: 7px 0;display: block;}
    }
    .info-txt{width: 100%; float: left; display: flex; font-size: 14px; line-height: 130%; color: #757575; padding-top: 10px; border-top: 1px solid #e5e5e5; margin-bottom: 0;
        .source{margin-left: auto;
            a{color: #757575 !important; text-decoration: none !important;
                &:hover{color: #076DB6 !important;}
            }
        }
        .update-date{}
        .flash{display: inline-block; vertical-align: top; margin: 0 10px; color: #e5e5e5;}
    }
    
    /**COVID THEO ĐỊA ĐIỂM**/
    .top-head-cov{width: 100%;float: left;display: flex;font-size: 14px; line-height: 130%; color: #757575; align-items: center;
        .txt-top{font-family: "Merriweather", Arial, sans-serif; font-size: 18px; line-height: 160%; color: #222; font-weight: bold;
            a{text-decoration: none; color: #222;}
        }
        .info-txt-top{margin-left: auto; margin-bottom: 0;
            .flash{display: inline-block; vertical-align: top; margin: 0 10px; color: #e5e5e5;}
        }
    }
    .wrap-content-local{
        width: 100%; float: left; padding-top: 10px; margin-top: 15px; border-top: 1px solid #e5e5e5;
    }
    .inner-content-local{width: 100%; float: left; display: flex;}
    .col-left-local{width: 72%; padding-right: 20px;}
    .col-count-local{width: 28%;}
    .search-local{width: 100%; float: left; position: relative; padding-right: 50px;border-radius: 3px; border: 1px solid #e5e5e5; margin-bottom: 6px;
        .input-local{width: 100%; height: 40px; padding-left: 10px; font-size: 16px; border: none;outline: none;}
        .button-local{width: 40px; height: 40px;background: none; text-align: center; line-height: 40px; border: none; cursor: pointer; position: absolute; top: 0; right: 0;outline: none;
            img{display: inline-block; vertical-align: middle;}
        }
    }
    &.widget-covid-location{font-size: 14px;
        .table-count-covid{border-bottom: 1px solid #e5e5e5; padding-right: 10px;
            tr{
                th,td{padding: 7px 5px;width: 25%; text-align: right;
             
                    &:first-child{text-align: left; padding-left: 0; font-size: 16px; width: 50%;}
                }
               
                td{font-family: Arial, sans-serif; font-size: 16px; border-bottom: none;
            
                    &.td-khoi{color: #222; }
                }
            &:last-child{
                td{border-bottom: none;}
            }
            }
            .txt-s{text-align: right; background: none; color: #757575; font-weight: normal; padding: 0;display: block; font-size: 16px;}
        }
        .scroll-local{
            .table-count-covid{border-bottom: none;}
        }
        .scroll-local{width: 100%; min-height: 154px; max-height: 154px; overflow: auto; overflow-x: hidden; padding-right: 5px;
            &.scrollbar-inner > .scroll-element .scroll-bar{background: rgba(34, 34, 34, 0.1);}
            &.scrollbar-inner > .scroll-element.scroll-y{right: 0;}
        }

         .ss-wrapper {width: calc(100% + 17px);}
            .ss-content {width: calc(100% - 10px);}
        
    }
    .col-count-local{
        display: flex; flex-wrap: wrap; flex-direction: column;
        .item-count-covid{width: 100%; height: 80px; background: #f7f7f7; text-align: center;display: flex; flex-direction: column; justify-content: center; margin-top: 5px;
            &:first-child{margin-top: 0;}
            .txt-covid{margin-top: 2px;}    
            .number-covid{font-family: "Merriweather", Arial, sans-serif; font-size: 20px; font-weight: bold; color: #4f4f4f;}
            &.tuvong{
                .number-covid{color: #222;
                    &.number-zero{color: #757575;}
                }
            }
            &.khoi{
                .number-covid{color: #00945E;}
            }
            &.nhiem{
                .number-covid{color: #A62123;}
            }
        }
    }
    .covid_tab{
        width: 100%; float: left;
        display: flex;
        margin-top: 10px;
        margin-bottom: 0;
        border-top: 1px solid #bdbdbd;
        justify-content: flex-start;
        li{
            position: relative;
            color: #757575;
            font-size: 16px;
            font-weight: 400;
            padding: 5px 10px;
            cursor: pointer;
            padding-top: 15px;
            list-style: none;
            &.active{
                color: #222;
                &:before{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 8px 8px 0 8px;
                    border-color: #bdbdbd transparent transparent transparent;
                }
                &:after{
                    position: absolute;
                    top: -1px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 8px 8px 0 8px;
                    border-color: #fff transparent transparent transparent;
                }
            }
            &.link-news-covid{margin-left: auto; padding-right: 0;
                a{color: #757575 !important; text-decoration: none !important;
                    &:hover{color: #076DB6 !important;}
                }
            }
        }
    }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance: none) {

    .widget-covid-01.widget-covid-location .ss-content {
        padding-right: 20px !important;
    }
}}

@import 'placeholder.scss';
.box-placeholder{
    &.widget-covid-01{
      .table-count-covid{
        .text{height: 155px; border-radius: 0;}
      }
      .info-txt.line{margin-top: 10px;}
      &.widget-covid-location{
          .top-head-cov{
              .text{}
          }
          .col-left-local{
              .text{height: 250px; border-radius: 0;}
          }
          .covid_tab{
              .text{margin-top: 10px;}
          }
      }
    }
  }