/**WIDGET COVID 2, 4**/
.widget-covid-024 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  float: left;
  margin-bottom: 20px;
  font-family: arial !important;
  border: 1px solid #e5e5e5;
  padding: 15px;
  font-feature-settings: 'pnum' on , 'lnum' on;
  background: #fff; }
  .widget-covid-024 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  .widget-covid-024 .info-txt {
    width: 100%;
    float: left;
    display: flex;
    font-size: 12px;
    line-height: 14px;
    color: #757575;
    padding-top: 10px;
    border-top: 1px solid #e5e5e5; }
    .widget-covid-024 .info-txt .source {
      margin-left: auto; }
  .widget-covid-024 .top-head-cov {
    width: 100%;
    float: left;
    display: flex;
    font-size: 12px;
    line-height: 14px;
    color: #757575; }
    .widget-covid-024 .top-head-cov .txt-top {
      font-family: "Merriweather", Arial, sans-serif;
      font-size: 16px;
      line-height: 140%;
      color: #222;
      font-weight: bold; }
    .widget-covid-024 .top-head-cov .info-txt-top {
      margin-left: auto;
      margin-bottom: 0; }
      .widget-covid-024 .top-head-cov .info-txt-top .flash {
        display: inline-block;
        vertical-align: top;
        margin: 0 10px;
        color: #e5e5e5; }
  .widget-covid-024 .wrap-chart-covid {
    width: 100%;
    float: left;
    margin-top: 15px; }
  .widget-covid-024.widget-covid-04 .top-head-cov {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px; }
  .widget-covid-024 .bottom-cov {
    width: 100%;
    float: left;
    display: flex;
    font-size: 12px;
    line-height: 14px;
    color: #757575;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #e5e5e5; }
    .widget-covid-024 .bottom-cov .info-txt-bottom .flash {
      display: inline-block;
      vertical-align: top;
      margin: 0 10px;
      color: #e5e5e5; }

.box-placeholder {
  font-size: 0;
  line-height: 0; }
  .box-placeholder .text {
    display: inline-block;
    background-color: #444;
    height: 12px;
    border-radius: 100px;
    margin: 5px 0;
    min-width: 100px;
    opacity: .1;
    animation: fading 1.5s infinite; }
    .box-placeholder .text:first-child {
      margin-top: 0; }
    .box-placeholder .text:last-child {
      margin-bottom: 0; }
    .box-placeholder .text.link {
      background-color: var(--blue);
      opacity: .4; }
    .box-placeholder .text.line {
      width: 100%; }
    .box-placeholder .text.category {
      width: 100px;
      margin-bottom: 10px; }
  .box-placeholder h4.text {
    height: 20px;
    margin: 3px 0;
    opacity: .2; }

@keyframes fading {
  0% {
    opacity: .1; }
  50% {
    opacity: .2; }
  100% {
    opacity: .1; } }
.box-placeholder.widget-covid-024 .wrap-chart-covid .text {
  height: 250px;
  border-radius: 0; }

@media screen and (max-width: 767px) {
  .widget-covid-024 .top-head-cov {
    font-size: 14px;
    line-height: 130%;
    flex-wrap: wrap; }
    .widget-covid-024 .top-head-cov .txt-top {
      font-size: 18px;
      line-height: 160%; }
    .widget-covid-024 .top-head-cov .info-txt-top {
      margin-left: inherit;
      width: 100%;
      margin-top: 5px; }
  .widget-covid-024 .bottom-cov {
    font-size: 14px;
    line-height: 130%; } }

/*# sourceMappingURL=widget-covid-024.css.map */
