/**WIDGET COVID 03**/
@mixin cubic-transition($delay, $duration, $property) {
    transition: {
        duration: $duration;
        property: $property;
        timing-function: cubic-bezier(.7, 1, .7, 1);
    }
}

/* @include cubic-transition($delay: 0, $duration: 200ms, $property: (all)); */
.widget-covid-tracker {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        list-style: none;
        line-height: normal;
    }

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    float: left;
    margin-bottom: 20px;
    font-family: Arial,
    sans-serif !important;
    color: #222;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    background: #fff;
    /*background: #f7f7f7;*/
    padding: 15px 15px 5px 15px;
    font-feature-settings: 'pnum'on,
    'lnum'on;
    z-index: 2;
    position: relative;

    .top-head-cov {
        width: 100%;
        float: left;
        display: flex;
        font-size: 14px;
        line-height: 130%;
        color: #757575;
        align-items: center;

        .txt-top {
            font-family: "Merriweather", Arial, sans-serif;
            font-size: 18px;
            line-height: 160%;
            color: #222;
            font-weight: bold;
        }

        .info-txt-top {
            margin-left: auto;
            margin-bottom: 0;

            .flash {
                display: inline-block;
                vertical-align: top;
                margin: 0 10px;
                color: #e5e5e5;
            }
        }
    }

    .form-search.active {
        .tt-menu {
            display: block
        }
    }

    .search-local {
        width: 100%;
        float: left;
        position: relative;
        padding-right: 50px;
        border-radius: 3px;
        border: 1px solid #e5e5e5;
        margin-top: 10px;
        background: #fff;

        .input-local {
            width: 100%;
            height: 40px;
            padding-left: 10px;
            font-size: 14px;
            border: none;
            outline: none;
        }

        .button-local {
            width: 40px;
            height: 40px;
            background: #fff;
            text-align: center;
            line-height: 40px;
            border: none;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            outline: none;

            img {
                display: inline-block;
                vertical-align: middle;
            }
        }

    }



    .tt-menu {
        border: 1px solid #E5E5E5;
        background: #FFFFFF;
        padding-top: 15px;
        position: absolute;
        width: 100%;
        top: 45px !important;
        display: none;
        z-index: 2 !important;
        min-height: 300px;

        hr {
            margin: 15px 0;
            border: 0;
            border-bottom: 1px solid #E5E5E5;
        }

        li {
            cursor: pointer;
        }

        .tt-dataset {
            li {
                margin-bottom: 10px;
                padding: 5px 25px;
                font-size: 16px;

                a {
                    color: #222222;

                    &:hover {
                        color: #9F224E
                    }
                }

                i {
                    margin-right: 15px;
                    color: #757575
                }
            }
        }

        .tt-dataset-0 {
            li {
                position: relative;

                &:last-child {
                    padding-bottom: 15px;

                    &::before {
                        content: "";
                        border-top: 1px solid #E5E5E5;
                        position: absolute;
                        left: 25px;
                        right: 25px;
                        bottom: 0;
                    }
                }
            }
        }

        mark {
            background: #9F224E;
            color: #fff;
            font-weight: 400;
        }
    }

    .box-quantam {
        width: 100%;
        float: left;
        position: relative;

        .overlay-link {
            width: 120px;
            height: 24px;
            background: url(images/overlay-next.svg) no-repeat 0 0;
            outline: none;
            position: absolute;
            top: 15px;
            right: 0;
        }
    }

    .wrap-scroll-faq::-webkit-scrollbar {
        display: none
    }

    .wrap-scroll-faq {
        width: 100%;
        float: left;
        display: flex;
        position: relative;
        overflow-x: auto;
        scroll-behavior: smooth;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;

        ul {
            font-size: 0;
            display: table;

            li {
                display: table-cell;
                padding: 0 10px;
                white-space: nowrap;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }

                a {
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 15px 0 10px 0;
                    line-height: 160%;
                    color: #087CCE !important;
                    text-decoration: none !important;
                }
            }
        }

    }

    &.faqs-300 {
        border: none;
        padding: 0;

        .top-head-cov {
            margin-bottom: 10px;

            .txt-top {
                border-bottom: 1px solid #9f224e;
            }
        }

        .search-local {
            margin-top: 5px;
        }

        .wrap-scroll-faq {
            margin-top: 5px;
            margin-bottom: 5px;
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
            overflow-y: visible;

            ul {
                font-size: 0;
                display: block;

                li {
                    width: 100%;
                    float: left;
                    display: block;
                    padding: 0;
                    white-space: normal;
                    border-top: 1px solid #fff;

                    &:first-child {
                        border-top: none;
                    }

                    a {
                        padding: 10px;
                        line-height: 130%;
                        color: #222 !important;
                        background: #f7f7f7;
                        border-radius: 3px;

                        &:hover {
                            color: #076FBA !important;
                        }
                    }
                }
            }

        }

        .box-quantam {
            .overlay-link {
                width: 24px;
                height: 24px;
                position: relative;
                top: auto;
                right: auto;
                display: block;
                clear: both;
                background: none;
                margin: 5px auto 0 auto;

                &:before {
                    z-index: 1;
                    width: 24px;
                    height: 24px;
                    content: '';
                    background: url(images/overlay-next.svg) no-repeat top right;
                    transform: rotate(90deg);
                    position: absolute;
                    top: auto;
                    right: auto;
                    display: block;
                    clear: both;
                    border-radius: 50%;
                }

                &:after {
                    z-index: 0;
                    content: '';
                    width: 300px;
                    height: 1px;
                    background: #e5e5e5;
                    position: absolute;
                    top: 10px;
                    left: -138px;
                }
            }
        }
    }
}

.item-news-common {
    .widget-covid-tracker .top-head-cov .txt-top {
        font-size: 15px;
    }
}

.box-placeholder.widget-covid-tracker .box-quantam .text {
    height: 40px;
    border-radius: 0;
    line-height: 140%
}
.item-news.item-news-common .widget-covid-tracker {
    border: none;
    margin-bottom: 0;
    padding: 0
}
.item-news.item-news-common .widget-covid-tracker .top-desc {
    width: 100%;
    float: left;
    display: flex;
    font-size: 14px;
    line-height: 140%;
    align-items: center;
    margin: 10px 0 0 0;
    color: #222
}
.widget-covid-tracker .tt-menu {
    width: calc(100% + 50px);
}
.width_common.box-category.widget-covid-tracker.faqs-300{position: relative;z-index: 1;}
.item-news.item-news-common .widget-covid-tracker .top-head-cov .txt-top {
    font-size: 15px;
    font-weight: 700;
    font-feature-settings: 'pnum' on, 'lnum' on;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
    -moz-font-feature-settings: 'pnum' on, 'lnum' on;
    -ms-font-feature-settings: 'pnum' on, 'lnum' on;
    color: #222!important
}
.detail-live-tongthuat .widget-covid-tracker {
    margin-top: 20px
}

.tt-highlight {
    background: #9f224e;
    color: #fff;
    font-weight: 400;
}

.twitter-typeahead {
    width: 100% !important;
}

.widget-covid-tracker .form-search {
    height: 40px !important;
}

.content_detail.fck_detail .widget-covid-tracker .form-search {
    height: 44px !important;
}

i.iconfont-chart {
    background: url(images/chart.png) no-repeat 0 0;
    width: 16px;
    height: 10px;
    display: inline-block;
}

.widget-covid-tracker .tt-menu .tt-dataset li:hover {
    background: #f7f7f7;
}

@media (max-width:767px) {
    #article_detail {
        overflow-x: unset !important;
    }

    .widget-covid-tracker {
        width: calc(100% - 30px);
        margin: 15px;
    }
}

@media (min-width:767px) {
    .photo-dark .page-detail.detail-photo .widget-covid-tracker {
        width: 100%;
        max-width: 61%;
        margin-left: 19.5%
    }
}

#medium_editor .widget-covid-tracker {
    max-width: 700px;
    margin-left: calc((100% - 700px)/ 2);
}

#medium_editor .widget-covid-tracker ul li::before {
    display: none !important;
}

#medium_editor .widget-covid-tracker ul {
    margin-bottom: 0;
}

@media (max-width:767px) {
    #medium_editor .widget-covid-tracker {
        width: calc(100% - 30px);
        margin: 0 15px;
    }

    .widget-covid-tracker {
        width: calc(100% + 30px);
        float: left;
        margin-left: -15px;
        background: #f7f7f7;
        padding: 15px 15px 5px 15px;

        .box-quantam {
            .overlay-link {
                background: url(images/overlay-next-mobile.svg) no-repeat 0 0;
            }
        }

        .search-local .input-local {
            font-size: 16px;
        }
    }
}

@import 'placeholder.scss';

.box-placeholder {
    &.widget-covid-tracker {
        .search-local {
            padding-right: 0;

            .text {
                height: 40px;
                border-radius: 0;
            }
        }

        .box-quantam {
            margin-top: 10px;

            .text {
                height: 40px;
                border-radius: 0;
            }
        }
    }
}