:root {
  --black: #0E0E0E;
  --color_main: #06C1D4;
  --color_main_hover: #06C1D4;
  --color_main_active: #06C1D4;
  --color_main_hover: #D1F5F9;
  --white: #fff;
  --dark_gray: #171C27;
  --dark_blue: #242368;
  --gray600: #414956;
  --gray500: #7A8088;
  --gray200: #D2D7E1;
  --gray100: #E3E7EF;
  --gray50: #F3F5F8;
  --gray10: #FBFBFB;
  --red: #D53B2A;
  --oranger: #ED6E33;
  --green: #21A453;
  --font_main: 'SF_Pro_Display';
  --font2: 'Merriweather'; }

.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.thumb_img {
  display: block;
  height: 0;
  position: relative;
  overflow: hidden; }
  .thumb_img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s ease 0s; }

.thumb_5x3 {
  padding-bottom: 60%; }

.thumb_5x4 {
  padding-bottom: 80%; }

.thumb_5x5 {
  padding-bottom: 100%; }

.thumb_16x9 {
  padding-bottom: 56.25%; }

.box-comment {
  font-size: 14px;
  margin-bottom: 60px; }
  .box-comment p {
    margin-bottom: 5px; }
  .box-comment .list-comments__items {
    margin-top: 20px;
    position: relative; }
    .box-comment .list-comments__items .title {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 5px; }
    .box-comment .list-comments__items .author {
      display: flex;
      align-items: center;
      margin-bottom: 8px; }
      .box-comment .list-comments__items .author .date {
        font-size: 12px;
        color: var(--gray500);
        margin-left: 8px; }
    .box-comment .list-comments__items .ava {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 16px;
      float: left; }
    .box-comment .list-comments__items .comment_mini {
      overflow: hidden;
      border-bottom: 1px solid var(--gray100);
      padding-bottom: 16px;
      margin-bottom: 16px; }
      .box-comment .list-comments__items .comment_mini .name {
        font-size: 16px;
        margin-bottom: 5px;
        display: flex; }
        .box-comment .list-comments__items .comment_mini .name ul {
          margin: -3px 8px 0 0; }
          .box-comment .list-comments__items .comment_mini .name ul li {
            display: inline-block; }
            .box-comment .list-comments__items .comment_mini .name ul li svg {
              width: 20px;
              height: 20px; }
            .box-comment .list-comments__items .comment_mini .name ul li.active svg {
              color: var(--color_main); }
      .box-comment .list-comments__items .comment_mini .comment_textarea {
        margin-top: 10px; }
        .box-comment .list-comments__items .comment_mini .comment_textarea textarea {
          height: 60px; }
        .box-comment .list-comments__items .comment_mini .comment_textarea .submit-comment {
          position: static;
          float: right;
          margin-top: 10px; }
    .box-comment .list-comments__items .date {
      font-size: 12px;
      color: var(--gray500); }
    .box-comment .list-comments__items .description {
      color: #414956;
      font-size: 16px;
      width: 100%;
      margin-top: 10px;
      clear: both; }
      .box-comment .list-comments__items .description p {
        margin-bottom: 10px; }
    .box-comment .list-comments__items .reply {
      display: flex;
      align-items: center; }
      .box-comment .list-comments__items .reply_number {
        color: var(--gray500);
        font-weight: 400;
        margin-right: 10px; }
      .box-comment .list-comments__items .reply_a {
        color: var(--color_main); }
      .box-comment .list-comments__items .reply .date {
        margin-left: 6px; }
    .box-comment .list-comments__items .comment_reply {
      padding-left: 88px; }
  .box-comment .list-comments .view-all:hover {
    color: #008C9B; }
  .box-comment .list-comments.cm_hoidap .list-comments__items {
    border-bottom: 1px solid var(--gray100);
    padding-bottom: 23px; }
  .box-comment .list-comments.cm_hoidap .ava {
    width: 46px;
    height: 46px;
    margin-right: 5px; }
  .box-comment .list-comments.cm_hoidap .comment_mini {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0; }
    .box-comment .list-comments.cm_hoidap .comment_mini .name {
      margin-bottom: 2px; }
  .box-comment .comment_textarea {
    position: relative;
    font-size: 0;
    margin-bottom: 28px; }
    .box-comment .comment_textarea textarea {
      background: var(--gray50);
      height: 120px;
      padding: 16px;
      width: 100%;
      border: 1px solid var(--gray50);
      border-radius: 4px;
      resize: none;
      outline: 0; }
    .box-comment .comment_textarea .submit-comment {
      width: 63px;
      text-align: center;
      height: 36px;
      background: var(--color_main);
      border-radius: 56px;
      border: 0;
      outline: 0;
      position: absolute;
      bottom: 20px;
      right: 16px;
      cursor: pointer; }
  .box-comment .view-more {
    display: block;
    margin-top: 30px; }

/*# sourceMappingURL=comment.css.map */
