.page-404 {
    .back-btn {
        border-radius: 3px;
        color: #FFFFFF;
        background: #7043A9;
        margin-right: 16px;
        padding: 0 20px;
        font-size: 14px;
        line-height: 46px;
    }

    .statement-404 {
        font-weight: 700;
        font-size: 56px;
        line-height: 130%;
        margin-bottom: 48px;
    }

    .wrap-form-404 {
        width: 100%;
        padding: 0 20px;
        margin: 72px auto 64px auto;
        max-width: 620px;
        text-align: center;
        overflow: hidden;
        
    }

    .icon-404 {
        margin: 0 auto 32px;
        display: block;
    }

    .title-404 {
        display: block;
        font-size: 28px;
        line-height: 130%;
        margin-bottom: 24px;
    }

    p {
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 40px;
        color: #4F4F4F;

        a {
            color: #076DB6;
        }
    }

    .input-search-text {
        flex-grow: 1;
        position: relative;

        input {
            height: 48px;
            padding: 0 20px;
            color: #757575;
            font-size: 14px;

            &::placeholder {
                color: #757575;
            }
        }

        .btn {
            width: 40px;
            height: 40px;
            position: absolute;
            right: 5px;
            top: 0;
            background: none;
            border: none;

            svg {
                fill: #4F4F4F;
                background: unset;
            }
        }
    }

    .input-radio {
        margin: 0 15px;
        position: relative;

        input[type="radio"] {
            width: 10px;
            height: 10px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            position: relative;
            margin-right: 10px;
            outline: none;

            &:before {
                content: '';
                width: 12px;
                height: 12px;
                border: 1px solid #BDBDBD;
                border-radius: 50%;
                position: absolute;
                left: -3px;
                top: -3px;
            }

            &:checked {
                &:before {
                    border-color: $vne_color;
                }

                &:after {
                    content: '';
                    width: 6px;
                    height: 6px;
                    background: $vne_color;
                    border-radius: 50%;
                    position: absolute;
                    left: 1px;
                    top: 1px;
                }
            }
        }
    }

    .note-more-news {
        font-size: 16px;
        line-height: 150%;
        font-weight: 700;
        margin-top: 30px;
        padding: 0 40px;
        margin-bottom: 0;
    }

    @media (max-width: 767px) {
        .form-group.flex {
            flex-direction: column-reverse;
        }
        .back-btn {
            margin-right: 0;
            margin-top: 10px;
        }
    }
}