html,
body {
  text-rendering: optimizeSpeed;
}

html {
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  text-rendering: geometricPrecision;
}

body {
  color: #333;
  font: 400 12px arial;
  text-align: left;
  min-height: 100vh;
  overflow-x: hidden !important;
}

/*body::-webkit-scrollbar { 
    display: none;
}*/
a:focus {
  outline: 1 !important;
}

a {
  color: #000;
  text-decoration: none;
  outline: 1;

  &:hover {
    color: #004f8b;
  }
}

img {
  border: 0;
  font-size: 0;
  line-height: 0;
  max-width: 100%;
  /*image-rendering: pixelated;*/
}

ul,
li {
  list-style-type: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea,
select {
  background: #fff;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin: 3px 0;
  padding: 0 5px;
  outline: none;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.width_common {
  width: 100%;
  float: left;
}

html {
  -webkit-text-size-adjust: none;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

strong {
  font-weight: 600;
}

#to_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: none;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: rgba(0, 0, 0, 0.1);
}

.center {
  text-align: center;
}

.no_wrap {
  white-space: nowrap;
}

.color-main {
  color: $color1;
}

.txt_666 {
  color: #666;
}

.txt_10 {
  font-size: 10px;
}

.txt_11 {
  font-size: 11px;
}

.txt_14 {
  font-size: 14px;
}

.txt_16 {
  font-size: 16px;
}

.txt_vne {
  color: #9f224e;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px !important;
}

.box_category {
  margin-bottom: 25px;
}

.icon-svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
  vertical-align: middle;
  color: var(--gray3);
}