/* Scss Document */
/* Elastislide Style */
#rg-gallery{
	background:#f4f4f4;
}
.es-carousel-wrapper{
	position:relative;
	padding:10px
}
.es-carousel{
	overflow:hidden;
}
.es-carousel ul li{
	float:left;
	display:block;
	width:64px;
	height:64px;
	overflow:hidden;
	text-align:center;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#000;
	opacity:0.8;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.es-carousel ul li.selected a{
	border-color:#fff;
	opacity:1.0;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:inherit;
	max-width:inherit;
}
.es-nav span{
	background: rgba(238, 238, 238, 0.84);
	position:absolute;
	top:35%;
	width:28px;
	height:28px;
	line-height: 28px;
	cursor:pointer;
	text-align: center;
	i{
		display: inline-block;
		vertical-align: middle;
		color: #000;
	}
}
.es-nav span.es-nav-next{
	right:10px;
	background-position:right top;
}
.es-nav span.es-nav-prev{
	left:10px;
	background-position:left top;
}

.rg-image-wrapper{
	position:relative;
	padding:0 0 10px 0;
	height:500px;
	vertical-align:middle;
}
.rg-image{
	position:relative;
	text-align:center;
	line-height:500px;
	height:500px;
	vertical-align:middle;
}
.rg-image img{
	max-height:100%;
	max-width:100%;
	vertical-align:middle;
}
.rg-image-nav a{
	position:absolute;
	top:45%;
	width:29px;
	height:51px;
	font-size:18px;
	line-height:0;
	z-index:9;
	i{
		font-size: 38px;
		color: #666;
		font-weight: bold;
	}
}
.rg-image-nav a.rg-image-nav-next{
	background-position:-29px 0;
	right:20px;
}
.rg-image-nav a.rg-image-nav-prev{
	background-position:0 0;
	left:20px;
}
.rg-image-nav a.rg-image-nav-next:hover{
	background-position:-29px -52px;
}
.rg-image-nav a.rg-image-nav-prev:hover{
	background-position:-0px -52px;
}
.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-caption p{
	font-size:11px;
	letter-spacing:2px;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
}
.rg-view{
	display:none;
}
.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	border:3px solid #464646;
	opacity:0.8;
}
.rg-view a:hover{
	opacity:1.0;
}
.rg-view a.rg-view-full{
	background-position:0px 0px;
}
.rg-view a.rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}