// @import "myvne-old.scss";

/*Header*/
.header_new {
	background: #F37021 url(images/graphics/BG_Menu.png) left;
	height: 87px;
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 999;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);

	.container {
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	.all-menu-tablet {
		float: left;
		width: 50px;
		height: 33px;
		text-align: center;
		margin-left: -15px;
		margin-top: -5px;
		cursor: pointer;
		display: none;

		.hamburger {
			width: 20px;
			height: 2px;
			background: #fff;
			display: inline-block;
			position: relative;

			&::before,
			&::after {
				content: '';
				width: 20px;
				height: 2px;
				background: #fff;
				position: absolute;
				left: 0;
			}

			&::before {
				top: 6px;
			}

			&::after {
				top: 12px;
			}
		}

		&.close-menu-tablet {
			padding-top: 5px;

			.hamburger {
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);

				&:before {
					display: none;
				}

				&:after {
					transform: rotate(-90deg);
					-webkit-transform: rotate(-90deg);
					top: 0;
				}
			}
		}


	}

	&__left {
		display: flex;
		align-items: center;
	}

	.logo_vne {
		display: inline-block
	}

	.logo_f1 {
		padding-left: 20px;
		margin-left: 20px;
		position: relative;
		margin-top: 20px;

		&::before {
			content: "";
			background: rgba(255, 255, 255, 0.3);
			width: 1px;
			height: 20px;
			position: absolute;
			left: 0;
			top: 6px;
		}
	}

	svg {
		fill: #fff;
	}

	.nav_menu {
		margin-top: 16px;

		li {
			display: inline-block;
			margin-right: 32px;

			a {
				font: 400 16px $font1;
				position: relative;
				display: block;
				padding: 25px 0;
				color: #fff;
			}

			&.active {
				font-weight: 600;

				a {
					&:before {
						content: "";
						background: #fff;
						height: 3px;
						left: 0;
						right: 0;
						bottom: 0;
						position: absolute;
					}
				}
			}

			&:last-child {
				margin-right: 0;
			}

			&.submenu {
				display: none
			}
		}
	}

	&__right {
		margin-top: 16px;
		align-items: center;

		.search {
			position: relative;
			width: 165px;

			input {
				height: 35px;
				line-height: 35px;
				border-radius: 20px;
				border: 1px solid rgba(255, 255, 255, 0.3);
				padding: 0 30px 0 14px;
				margin: 0;
				background: none;
				font-size: 12px;
				color: #fff;

				@include placeholder {
					color: #fff;
					font-style: italic;
				}
			}

			button {
				background: none;
				position: absolute;
				right: 0;
				top: 0;
				width: 35px;
				height: 35px;
				border: 0;
				outline: 0;
			}
		}
	}

	#myvne_taskbar {
		padding-left: 15px;
		margin-left: 15px;
		position: relative;

		&::before {
			content: "";
			background: rgba(255, 255, 255, 0.3);
			width: 1px;
			height: 20px;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	.social {
		padding-left: 5;
		margin-left: 15px;
		position: relative;

		a {
			display: inline-block;
			margin-left: 10px;
		}

		&::before {
			content: "";
			background: rgba(255, 255, 255, 0.3);
			width: 1px;
			height: 20px;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

.box_banner {
	clear: both;
}


@media (max-width: 1139px) {
	.header_new {
		.nav_menu {
			li {
				margin-right: 25px;
			}
		}
	}
}

@media (max-width: 991px) {
	.header_new {
		height: 60px;

		.container {
			justify-content: end;
		}

		.all-menu-tablet {
			display: block
		}

		&__left {
			margin-left: 20px;
		}

		.logo_f1 {
			padding-left: 10px;
			margin-left: 10px;
		}

		.nav_menu {
			margin-top: 0;
			max-width: 300px;
			background: #fff;
			position: fixed;
			top: 60px;
			left: 0;
			bottom: 0;
			z-index: 2247483647;
			box-shadow: 0 1px 3px rgba(80, 80, 80, .2),
				0 3px 5px rgba(80, 80, 80, .15);
			will-change: transform;
			transition: .4s;
			transform: translate(-100%);

			li {
				margin-right: 0;
				width: 100%;

				a {
					color: #333;
					padding: 15px;
					border-bottom: 1px solid rgba(51, 51, 51, 0.12);
				}

				&.active {
					a {
						color: $color1;
						font-weight: 600;
					}
				}
			}

			&.show-all-menu {
				-webkit-transform: translate(0);
				-ms-transform: translate(0);
				-o-transform: translate(0);
				transform: translate(0);
			}
		}

		&__right {
			margin-top: 0;
			flex-grow: 2;
			justify-content: flex-end;
		}
	}


}


#search-popup {
	width: 450px;
	background: none;
	overflow: visible;
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);

	.input_form {
		border: 0;
		border-bottom: 1px solid #fff;
		width: 100%;
		font-size: 22px;
		background: none;
		padding-left: 0;
		height: 40px;
		color: #fff;
		font-weight: 400;
		outline: 0;

		&::-webkit-input-placeholder {
			color: #fff;
		}

		&:-ms-input-placeholder {
			color: #fff;
		}

		&::placeholder {
			color: #fff;
		}
	}

	.btn_reset {
		position: absolute;
		right: 0;
		top: 12px;
		background: #BDBDBD;
		font-family: -webkit-body;
		font-size: 16px;
		width: 16px;
		height: 16px;
		line-height: 16px;
		padding-left: 1px;
		color: #ffff;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		border: 0;
	}

	.mfp-close {
		display: block;
		font-family: -webkit-body;
		color: #fff;
		opacity: 1;
		position: absolute;
		right: -40px;
		font-size: 36px;
		font-weight: bold;
	}
}