@import "var.scss";

.video_left {
	width: 680px;
	margin-bottom: 25px;
}

.comment_video {
	width: 420px;
	padding-left: 20px;
	margin-bottom: 25px;

	.box_comment_vne {
		padding-right: 10px;
	}

	.scrollbar-inner {
		max-height: 380px;
	}

	.title_news_detail {
		font: 700 24px/34px "Roboto", sans-serif
	}

	.short_intro {
		font: 400 18px/27px "Roboto", sans-serif
	}

	.social_share_new {
		margin-bottom: 10px;
		padding-bottom: 0;
		border-bottom: 0;
	}

	.new_comment_post {
		display: none;
	}
}

.list_video {
	@extend %flex-wrap;
	margin: 0 -15px;

	.art_item {
		width: calc(100%/3);
		vertical-align: top;
		margin-bottom: 30px;
		font-size: 16px;
		padding: 0 15px;

		.thumb_art {
			border-radius: 3px;
			overflow: hidden;
		}

		.title_news {
			margin-bottom: 0 !important;
			font-size: 15px !important;
			line-height: 1.313;

			a {
				color: #222;
			}
		}
	}
}


#pagination {
	margin: 20px 0;
	text-align: center;
	float: left;
	width: 100%;

	a {
		width: 26px;
		height: 26px;
		line-height: 26px;
		display: inline-block;
		margin: 0 2px;
		color: #828282;
		border: 1px solid #E5E5E5;
		position: relative;
		vertical-align: middle;
		font-size: 11px;

		&.active {
			border: 1px solid #04416D;
			color: #4F4F4F;
		}

		&.pa_prev {
			line-height: 30px;

			&:before {
				content: "";
				border-top: 1px solid #999;
				border-left: 1px solid #999;
				width: 10px;
				height: 10px;
				top: 12px;
				position: absolute;
				left: 16px;
				transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
			}
		}

		&.pa_next {
			&:before {
				content: "";
				border-top: 1px solid #999;
				border-right: 1px solid #999;
				width: 10px;
				height: 10px;
				top: 12px;
				position: absolute;
				left: 12px;
				transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
			}
		}
	}
}

@media (max-width: 1139px) {
	.video_left {
		width: calc(100% - 400px)
	}

	.comment_video {
		width: 400px
	}
}

@media (max-width: 900px) {
	.video_left {
		width: 100%
	}

	.comment_video {
		width: 100%;
		padding-left: 0;
	}
}