.footer {
    background: #0C0B0B url(images/graphics/bg-footer.png) no-repeat;
    padding: 40px 100px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #757575;
    position: relative;

    .logo {
        position: absolute;
        left: 100px;
    }

    @media (max-width:991px) {
        padding: 20px 15px;
        display: block;
        text-align: center;
        margin-top: 15px;

        .logo {
            position: static;
        }

        .copyright {
            margin-top: 15px;
        }
    }
}