.top-bar {
    padding: 6.5px 100px;
    justify-content: space-between;
    align-items: center;
    color: #949494;
    z-index: 3;
    width: 100%;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.01);

    &.pin {
        background: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    }

    a {
        color: #949494;
    }

    .back {
        .ic {
            transform: rotate(180deg);
            fill: #949494;
        }
    }

    .social {
        a {
            display: inline-block;
            border: 1px solid #949494;
            width: 32px;
            height: 32px;
            margin-left: 10px;
            border-radius: 50%;
            overflow: hidden;
            text-align: center;
            line-height: 30px;
            transition: all 0.3s ease;

            .ic {
                fill: #949494;
                transition: all 0.3s ease;
            }

            &:hover {
                &.face {
                    border: 1px solid #4267B2;

                    .ic {
                        fill: #4267B2
                    }
                }

                &.twiter {
                    border: 1px solid #00ACEE;

                    .ic {
                        fill: #00ACEE
                    }
                }
            }
        }
    }

    @media (max-width:991px) {
        padding: 10px 15px;
    }

    @media (max-width:590px) {
        justify-content: center;

        .back {
            font-size: 0;
            position: absolute;
            left: 15px;
        }

        .social {
            position: absolute;
            right: 15px;

            a {
                margin-left: 5px;
                width: 20px;
                height: 20px;
                line-height: 20px;
                border: 0;

            }
        }
    }
}