.box-tag-topic {
    margin-bottom: 32px;
    position: relative;
    padding: 0 0 0 15px;

    .container {
        padding-top: 27px;
        padding-right: 0;
    }

    &__list {
        width: 100%;
        overflow-x: scroll;
        @include hide-scrollbar;

        &-inner {
            white-space: nowrap;
        }
    }



    .tag {
        border: 1px solid var(--border);
        border-radius: 2px;
        background: #FFFFFF;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        padding: 0 16px;
        font-size: 14px;
        font-weight: 400;
        margin-right: 10px;

        &:last-child {
            margin-right: 15px;
        }
    }

    &:after {
        content: '';
        height: 1px;
        width: calc(100% - 30px);
        position: absolute;
        left: 15px;
        bottom: -15px;
        background: #E5E5E5;
    }
}

.box-video-home {
    padding-top: 26px;
    background: #121212;
    border-radius: 8px 8px 0 0;
    color: #fff;

    a {
        color: inherit;
    }

    .head_cate ul li {
        color: #E5E5E5;
        border-color: #4F4F4F;
    }

    .social {
        margin-bottom: 0;
        border-width: 2px;

        a {
            color: inherit;
        }

        &__item {
            color: #E5E5E5;

            .icon-svg {
                color: #E5E5E5;
            }
        }
    }

    .box-player-video {
        background: #222222;
        margin: 0 -15px 16px;
        padding: 0 15px;
        border-bottom: 16px solid #000;

        .item-news:not(:last-of-type) {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
        }
    }

    .item-news.full-thumb {
        .title-news {
            font-size: 22px;
            color: #fff;
        }

        .content {
            color: #F7F7F7;
        }
    }

    .title_star {
        color: #fff;
        width: 100%;
    }

    .box-scroll-video {
        .item-news .title-news {
            color: #F7F7F7;
        }
    }

    &__footer {
        margin: 15px -15px 0;
        background: #333030;
        border-radius: 0px 0px 2px 2px;
        overflow: hidden;
    }

    &__btn-view-more {
        display: block;
        font-size: 16px;
        line-height: 140%;
        padding: 16px;
        text-align: center;
        color: #F7F7F7 !important;
    }
}

.box-player-video {
    .thumb-art {
        margin-left: -15px;
        margin-right: -15px;
    }

    .description {
        font-size: 17px;
        color: #F7F7F7;
        margin-bottom: 12px;
    }

    .icon_thumb {
        width: 40px;
        height: 40px;
        background: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        svg {
            color: #fff;
            width: 40px;
            height: 40px;
        }
    }

    &--list {
        .social {
            margin-bottom: 0;
            border-color: rgba(117, 117, 117, .1);

            &__item .icon-svg {
                color: v(colormain);
            }
        }

        .item-news:not(:last-of-type) {
            margin-bottom: 16px;
        }
    }
}

.box_star_home {
    margin-bottom: 24px;

    .title_star {
        margin-bottom: 0;

        a {
            flex-grow: 1;
        }
    }

    .hoa-tiet {
        flex-shrink: 0;
        position: relative;
        top: 14px;
    }

    .category-list {
        overflow-x: unset;
        margin-right: 0;
        width: 100%;
    }

    .head_cate {
        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;

            li {
                flex: 1;
                margin-right: 8px;
                text-align: center;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.box_style_slide {
    @include clearfix;
    background: linear-gradient(58.6deg, rgba(242, 112, 156, .1) 31.1%, rgba(255, 148, 114, .1) 132.37%);
    border-radius: 8px;
    padding-top: 26px;
    padding-bottom: 16px;
    position: relative;
    margin-bottom: 32px;

    .swiper-pagination {
        bottom: auto;
        top: 0;
        left: auto;
        width: auto;
        transform: translate(0);
        right: 15px;
    }

    .swiper-container {
        position: static;
    }

    .item-news {
        .title-news {
            font-size: 28px;
        }

        .status {
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 170px;
    }

    &:after {
        content: '';
        width: calc(100% - 30px);
        height: 1px;
        background: rgba(0, 0, 0, 0.1);
        position: absolute;
        bottom: -16px;
        left: 15px;
    }
}

.box_guibai {
    position: relative;
    border: 1px solid var(--border);
    background: var(--bg-agray2);
    padding: 15px 70px 16px 16px;
    font-size: 14px;

    &::before {
        content: "";
        background: url(images/icons/icon-send.svg) no-repeat;
        position: absolute;
        right: 0;
        top: -25px;
        width: 82px;
        height: 80px;
        background-size: contain;
    }

    a {
        color: #7043A9
    }
}

.box_movies {
    margin-bottom: 0;
}

.box_stream {
    clear: both;
    margin-bottom: 30px;

    .item-news {
        clear: both;
    }
}

.social {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    border-top: 3px solid rgba($color: #fff, $alpha: .1);
    margin-bottom: 34px;

    >a {
        display: flex;
        align-items: center;
    }

    .save a {
        &:after {
            content: 'Lưu'
        }
    }

    .comment_detail {
        display: flex;
        align-items: center;
    }

    &__item {
        display: flex;
        align-items: center;

        svg.ic,
        .icon-svg {
            width: 24px;
            height: 24px;
            color: #fff;
            margin-right: 3px;
        }

        .icon-comment {
            width: 12px;
            height: 12px;
        }
    }
}

.box-horoscopes {
    background: #0F0C29;
    border-radius: 8px;
    padding-top: 24px;
    color: #fff;
    position: relative;
    margin-bottom: 32px;

    &:after {
        content: '';
        width: calc(100% - 30px);
        height: 1px;
        background: rgba(0, 0, 0, 0.1);
        position: absolute;
        bottom: -16px;
        left: 15px;
    }

    .item-news:not(:last-child) {
        margin-bottom: 16px;
    }

    .title_star {
        color: #fff;
        background-image: url('images/icons/star2.svg');
    }

    a {
        color: inherit;
    }

    &_left {
        padding-bottom: 16px;

        .thumb-art {
            margin-left: -15px;
            margin-right: -15px;
        }

        .title-news {
            font-size: 28px;
        }

        .description {
            color: #BDBDBD;
        }

        .status {
            color: #BDBDBD;

            .icon-svg {
                color: inherit;
            }
        }
    }

    &_right {
        padding-top: 16px;
        border-top: 1px solid #222222;
        ;

        .item-news {
            display: flex;

            .thumb-art {
                width: 140px;
                flex-shrink: 0;
                margin-bottom: 0;
                margin-right: 16px;

                .thumb {
                    padding-bottom: 100%;
                }
            }

            .title-news {
                font-weight: 600;
                font-size: 20px;
                line-height: 140%;
            }
        }

        .item-news:not(:last-of-type) {
            border-color: #222222;
        }
    }

    &_footer {
        background: #352E79;
        margin: 15px -15px 0;
        border-radius: 0 0 8px 8px;

        .btn-view-more {
            display: block;
            padding: 16px;
            text-align: center;
        }
    }
}

.box_new_most {
    .box_new {
        background: #FAF1ED;
        border-radius: 8px;
        padding-top: 24px;
        padding-bottom: 32px;

        .item-news {
            display: flex;
            flex-direction: column-reverse;

            .thumb-art {
                margin-bottom: 0;
                margin-top: 16px;
            }
        }
    }

    .box_most {
        .hoa-tiet {
            display: none;
        }

        .item-news {
            display: flex;

            &:not(:last-of-type) {
                padding-bottom: 12px;
                margin-bottom: 12px;
            }

            .thumb-art {
                width: 120px;
                margin-right: 15px;
                flex-shrink: 0;
                margin-bottom: 0;

                .thumb {
                    padding-bottom: 100%;
                }
            }

            .content {
                .number {
                    display: none;
                }

                .title-news {
                    font-size: 20px;
                    line-height: 140%;
                }
            }
        }
    }

    .head_cate ul li {
        padding: 6px 15px;
    }
}

.section_funland {
    margin-bottom: 24px;

    .head_cate {
        margin: 0 -15px 8px;
        width: calc(100% + 30px);
        background: #F7F7F7;
        padding: 15px 15px 16px;
        border-radius: 8px 8px 0px 0px;
    }

    .box_new {
        margin-bottom: 24px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);

        .item-news {
            margin-bottom: 22px;

            .thumb-art {
                margin-left: -15px;
                margin-right: -15px;

                .thumb {
                    padding-bottom: 60%;
                }
            }

            .title-news {
                font-size: 28px;
                font-weight: 600;
            }

            &:first-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }

    .star_right {

        .item-news {
            display: flex;

            .thumb-art {
                margin-bottom: 0;
                margin-right: 16px;
                flex-shrink: 0;
                width: 140px;
            }

            .title-news {
                font-size: 20px;
            }

            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }

    .ads_line {
        display: none;
    }
}

.box_girl_boy {
    margin-bottom: 54px;

    .star_right {
        padding-bottom: 24px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
    }
}

.section_photo {
    background: #000000;
    padding-top: 24px;
    border-radius: 8px;
    color: #fff;

    .title_star {
        color: #fff;
    }

    a {
        color: inherit;
    }

    .wrap-slide-photo {
        margin-left: -15px;
        margin-right: -15px;
    }

    .swiper-pagination {
        display: none;
    }

    .item-news {
        position: relative;
        @include clearfix;

        .title-news {
            font-weight: 400;
        }

        .thumb-art {
            margin-bottom: 0;
        }

        .thumb {

            &::after {
                content: '';
                background: linear-gradient(180deg, #000000 35.98%, rgba(0, 0, 0, 0.732416) 61.3%, rgba(0, 0, 0, 0) 100%);
                border-radius: 0px 0px 2px 2px;
                transform: matrix(1, 0, 0, -1, 0, 0);
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                height: 236px;
            }
        }

        .box-info-news {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 15px;

            &__footer {
                display: flex;
                justify-content: space-between;
            }

            &__social {
                display: flex;

                [class*='btn'] {
                    display: flex;
                    width: 32px;
                    height: 32px;
                    color: #fff;
                    background: #222222;
                    border-radius: 2px;
                    align-items: center;
                    justify-content: center;

                    .icon-svg {
                        color: inherit;
                        width: 25px;
                        height: 25px;
                    }

                }

                *+* {
                    margin-left: 4px;
                }
            }

            .status {
                color: #e5e5e5;
                margin-right: 15px;

                .icon-svg {
                    color: inherit;
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 0;
        }

        .thumb-art_5x3 {
            margin-top: 30px;

            ~.box-info-news {
                position: relative;
                margin-bottom: 40px;
            }

            .thumb::after {
                display: none;
            }
        }

        .thumb-art_5x5 {
            ~.box-info-news {
                position: relative;
                bottom: 50px;
            }

            .thumb::after {
                bottom: -100px;
            }

        }
    }

    .swiper-wrapper {
        align-items: flex-end;
    }

    .swiper-button-prev,
    .swiper-button-next {
        background: rgba(34, 34, 34, .7);

        svg {
            color: #fff;
        }
    }
}

.banner-bottom-home {
    text-align: center;
}

.footer {
    background: #F4F6F8;
    margin-top: 54px;
    text-align: center;
    padding-top: 60px;
    float: left;
    width: 100%;

    a {
        color: inherit;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 10px;

        &-text {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 40px;
            text-align: center;
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

        >* {
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #E5E5E5;
            border-radius: 95px;

            +* {
                margin-left: 16px;
            }

            .icon-svg {
                width: 18px;
                color: #4F4F4F;
            }
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        margin-bottom: 55px;

        strong {
            font-family: v(font2);
            font-size: 16px;
            margin-bottom: 10px;
        }

        a {
            font-family: v(font1);
        }
    }

    .logo_left {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 55px;

        >* {
            padding: 0 5px;

            +* {
                margin-left: 30px;
            }
        }
    }

    &_copyright {
        font-family: v(font1);
        padding: 28px 15px;
        margin: 0 -15px;
        background: #F4F6F8;
        border-top: 1px solid #E5E5E5;
        color: #757575;
        font-size: 12px;
        line-height: 140%;
    }
}

.article-ads {
    background: #F9F9F9;
    margin: 0 -15px;
    padding: 15px 15px;
    display: flex;
    flex-direction: row-reverse;

    .title-news {
        font-size: 18px;
        line-height: 130%;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .thumb-art {
        width: 100px;
        flex-shrink: 0;
        margin-left: 32px;
        margin-bottom: 0;
    }

    .status {
        align-items: center;
        color: rgba(117, 117, 117, .8);
        font-size: 12px;

        .ad {
            margin-right: 20px;
            position: relative;

            &::before {
                content: "";
                background: rgba(0, 0, 0, 0.2);
                height: 10px;
                width: 1px;
                position: absolute;
                right: -10px;
                top: 6px;
            }

            span {
                background: #F2C94C;
                height: 22px;
                width: 22px;
                text-align: center;
                line-height: 22px;
                color: #222222;
                display: inline-block;
                margin-right: 5px;
                box-sizing: border-box;
                border-radius: 2px;
                text-decoration-line: underline;
            }
        }
    }
}




.social-sharing {
    background: #FFFFFF;
    box-shadow: 40px 36px 32px rgba(0, 0, 0, 0.1);
    border-radius: 16px 16px 0 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    z-index: 999;

    .title_star {
        background-position: center left -3px;
    }

    &__title {
        font-size: 18px;
        line-height: 140%;

        a {
            color: #222222;
        }
    }

    &__item {

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #222222;
            background: #F7F7F7;
            box-sizing: border-box;
            border-radius: 54px;
            position: relative;
            height: 48px;
            line-height: 46px;
            padding: 0 15px;
            font-size: 16px;

        }

        svg {
            position: absolute;
            left: 15px;
        }

        &:not(:last-child) {
            margin-bottom: 12px;
        }

        &:last-child {
            margin-top: 24px;
        }
    }
}

.dark_mode {
    .social-sharing {
        background: #222222;
        box-shadow: 40px 36px 32px rgba(0, 0, 0, 0.1);

        &__title {
            margin-bottom: 30px;

            a {
                color: #fff;
            }
        }

        &__item {
            a {
                background: #222222;
                border: 1px solid #4F4F4F;
                color: #F7F7F7;

                svg {
                    color: #fff;
                }
            }
        }
    }
}

// left menu 
.humberger-btn {
    .icon-svg:last-child {
        display: none;
    }

    &.active {
        .icon-svg:first-child {
            display: none;
        }

        .icon-svg:last-child {
            display: block;
        }
    }

    .sticky:not(.header-top--ver2) & {
        position: absolute;
        width: 50px;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F6F7FB;
        left: -52px;
        padding: 0 15px;
    }

    .sticky--active:not(.header-top--ver2) & {
        left: 0;
        transition: all .3s ease-in;
    }
}

body.fixed {
    overflow: hidden;
}

.group-nav-btn {
    // position: absolute;
    // left: 0;
    // transform: translate(-102%, 0);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .humberger-btn {
        margin-right: 16px;
    }
}

.left-nav {
    position: fixed;
    top: 46px;
    left: 0;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    max-height: 100%;
    z-index: 1042;
    background: #fff;
    // transition: all .3s ease-in;
    display: none;

    &.active {
        display: block;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
    }

    &__content {
        overflow-y: auto;
        clear: both;

        .parent {
            padding: 0 15px;
            margin-top: 15px;
            column-count: 2;
            column-gap: 24px;

            li {
                display: inline-block;
                width: 100%;

                h3 {
                    font-size: 16px;
                }

                .menu-level2 {
                    border-bottom: 1px solid #F7F7F7;
                    padding-left: 14px;
                    display: none;

                    a {
                        text-transform: none;
                        font-weight: 400;
                        padding: 5px 15px;
                        border: none;
                        color: #222222 !important;
                        position: relative;

                        &:after {
                            content: '';
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background: #C4C4C4;
                            position: absolute;
                            left: 0;
                            top: 16px;
                        }

                        &.active {
                            color: #7043A9 !important;

                            &:after {
                                background: #7043A9 !important;
                            }
                        }
                    }
                }

                a {
                    font-family: v(font1);
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    text-transform: uppercase;
                    padding: 15px 15px 10px 15px;
                    display: block;
                    border-bottom: 1px solid #F7F7F7;
                }

                &:hover,
                &.active {

                    a {
                        color: #7043A9;
                        border-color: #7043A9;
                    }
                }

                &.active {
                    .menu-level2 {
                        display: block;
                    }
                }
            }
        }
    }

    .contact-links {
        column-count: 1;
        display: flex;
        flex-direction: column;
        margin-top: 0;

        li {
            width: 100%;

            a {
                color: #4F4F4F;
            }
        }
    }

    .search-form {
        margin-top: 16px;
    }

    &__social {
        // background: #EDEEF4;
        // position: fixed;
        // bottom: 0;
        // left: 0;
        margin-top: 40px;
        padding: 0 30px;
        width: 100%;
        z-index: 99;
        display: flex;
        align-items: center;

        >a {
            display: inline-flex;
            background: #E5E5E5;
            border-radius: 64px;
            width: 48px;
            height: 48px;
            justify-content: center;
            align-items: center;

            +a {
                margin-left: 16px;
            }

            svg {
                color: #4F4F4F;
                width: 20px;
                height: 20px;
            }
        }
    }

    .wrap-sub-nav,
    .wrap-main-nav {
        ~.header-top {
            display: none;
        }
    }
}

.search-form {
    padding: 0 15px;
    clear: both;
    float: left;
    width: 100%;

    .form-group {
        position: relative;
    }

    .form-button {
        position: absolute;
        display: inline-block;
        background: unset;
        border: none;
        width: 48px;
        height: 48px;
        right: 0;
        top: 0;

        svg {
            width: 15px;
            height: 15px;
            fill: #222222;
        }
    }

    .form-control {
        flex-grow: 1;
        font-size: 14px;
        line-height: 150%;
        height: auto;
        background: #F6F7FB;
        border-radius: 61px;
        padding: 0 48px 0 15px;
        width: 100%;
        height: 48px;

        &::placeholder {
            color: #757575;
        }
    }
}

.section_ads {
    margin-bottom: 0;
    margin-top: -15px
}

.section_ads_300x250 {
    background: #f7f7f7;
    padding: 8px 0 15px 0;
    border-top: 1px solid #E5E5E5;
    margin-bottom: 20px
}

.section_ads_300x250.ads_break_page {
    margin-bottom: 15px
}

.section_ads_300x250.ads_break_page .banner_mobile_300x250 {
    width: 100% !important
}

.banner_mobile_300x250 {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 0
}

.banner_mobile_300x250 .inner_ads {
    width: 300px;
    margin: 0 auto
}

.banner_mobile_300x250 .inner_ads .ads_content {
    height: auto;
    min-height: 250px
}

.banner_mobile_300x250 .text_ads {
    width: 100%;
    float: left;
    margin-bottom: 8px;
    font: 400 11px arial;
    color: #828282;
    text-align: center;
    position: relative
}

.banner_mobile_300x250 .text_ads .txt_qc {
    display: inline-block;
    position: relative;
    padding-left: 21px
}

.banner_mobile_300x250 .text_ads .txt_qc:before {
    width: 16px;
    height: 16px;
    background: url(images/graphics/Advertising.svg) no-repeat 0 0;
    content: '';
    position: absolute;
    top: -1px;
    left: 0
}