.banner-top-home {
    background: var(--bg-agray2);
    display: flex;
    width: 100%;
    justify-content: center;
    transition: none 0s ease 0s;
}

.wrap-main-nav {
    overflow: hidden;
    .main-nav {
        max-width: 100%;
        display: flex;
        background: #F6F7FB;

        .home-item {
            padding-left: 12px;
            padding-right: 8px;
        }
        &__menu {
            overflow-x: scroll;
            @include hide-scrollbar;
        }
        .parent {
            white-space: nowrap;

            li {
                display: inline-block;

                a {
                    text-transform: uppercase;
                    font: 600 14px var(--font1);
                    color: var(--colormain);
                    padding: 15px 8px;
                    display: inline-block;
                }

                &.home-item {
                    display: inline-flex;
                    align-items: center;

                    a {
                        background: #EDEEF4;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        padding: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    &.active {
                        a {
                            svg {
                                color: #7043A9;
                            }
                        }
                    }
                }
            }
        }
    }

    .search-btn {
        display: inline-block;
        cursor: pointer;
        height: 19px;
        position: relative;

        input {
            display: none;
        }

        button {
            border: 0;
            background: none;
        }

        .icon-svg {
            position: relative;
            display: block;
            top: 7px;
            -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
            transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        }

        .close {
            width: 11px;
            height: 11px;
            opacity: 0;
        }

        &.is-clicked {
            .icon-svg {
                top: -13px;
                opacity: 0;
            }

            .close {
                opacity: 1;
                top: -6px;
            }
        }
    }

    #myvne_taskbar {
        display: inline-block;
        margin-left: 25px;
    }

    &.sticky {
        z-index: 999;
        top: -1px;

        &--active {
            z-index: 1045;

            .home-item {
                padding-left: 50px;
                transition: all .2s ease-in;
            }

            .humberger-btn {
                left: 0;
            }
        }
    }
    
}

.home-item {
    display: inline-flex;
    align-items: center;

    a {
        background: #EDEEF4;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            color: #7043A9;
        }
    }

    &.active {
        a {
            svg {
                color: #7043A9;
            }
        }
    }
}

.right-head {
    margin-left: auto;
    margin-right: -10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#myvne_taskbar, #open_login {
  top: auto;
  right: 0;
  position: relative;
}

.search-btn {
    width: 36px;
    height: 48px;
    right: 38px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-svg {
        &:last-child {
            display: none;
        }
    }

    &.is-clicked {
        .icon-svg {
            &:last-child {
                display: block;
            }
            &:first-child {
                display: none;
            }
        } 
    }
}

.humberger-btn.active ~ .right-head .search-btn {
    display: none;
}

.search-wrap {
    padding: 10px 0;
    background: var(--white);
    display: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .1);

    input {
        font-size: 18px;
        height: 45px;
        width: 100%;
        outline: 0;
    }
}

.header-top {
    z-index: 98;
    // z-index: 1045;
    height: 48px;
    background: var(--white);
    border-top: 1px solid rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(0, 0, 0, .05);

    .flex {
        height: 48px;
        align-items: center;
    }

    .icon-svg {
        width: 18px;
        height: 18px;
    }

    .logo {
        margin-left: 20px;

        img {
            width: 78px;
        }
    }
}


.header-top {
    .folder_title {
        flex-grow: 1;
        margin-left: 16px;
        font-size: 22px;
        line-height: 24px;
        font-family: v(font2);
        padding-right: 10px;
    }

    &--ver2 {
        background: var(--white);
        transition: all .3s ease-in;
    }

    &.top {
        z-index: 1042;
    }

    &.header-top--video {

        .cate_top_video {
            padding: 0;
            overflow: hidden;
            display: none;
        }

        .flex {
            flex-wrap: nowrap;
            overflow-x: visible;
        }

        &.sticky--active {
            height: auto;
            padding: 8px 0;

            .cate_top_video {
                display: flex;
                overflow: scroll;
                margin-left: 15px;
                @include hide-scrollbar;

                .container {
                    padding-left: 0;
                }
            }

            .folder_title,
            .dark_night,
            .right-head {
                display: none;
            }

            ~ .left-nav {
                top: 65px;
            }
        }

        &.top {
            ~ .left-nav {
                top: 48px;
            }

            &.sticky--active {
                ~ .left-nav {
                    top: 65px;
                }
            }
        }
    }

    @media (max-width: 374px) {
       .folder_title {
            margin-left: 7px;
            font-size: 16px;
            padding-right: 0;
       } 
       .home-item a {
           width: 20px;
           height: 20px;
           background: unset;
       }
       .group-nav-btn ~ .dark_night {
           margin-left: 10px;
       }
       .group-nav-btn .humberger-btn {
           margin-right: 8px;
       }
    }
}

.wrap-sub-nav {
    background: #F6F7FB;
    padding: 0 0 0 15px;
    overflow: hidden;

    &.sticky {
        z-index: 98;
        top: -1px;

        &--active {
            .humberger-btn {
                left: 0;
            } 
            .home-item{
                padding-left: 35px;
                transition: all .2s ease-in;
            }
        }
    }
    
    .home-item {
        padding-left: 0;
        margin-right: 12px;
    }

    .head_cate {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        .title_star {
            width: auto;
            padding-left: 0;
            margin-bottom: 0;
            font-size: 20px;
            flex-shrink: 0;
            padding-right: 8px;
            // background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.589844 11.3205L5.16984 6.73047L0.589844 2.14047L1.99984 0.730469L7.99984 6.73047L1.99984 12.7305L0.589844 11.3205Z' fill='%23BDBDBD'/%3E%3C/svg%3E%0A");
            // background-position: right 17px center;
            // background-repeat: no-repeat;
            background: unset;

            a {
                color: #222222;
                padding: 10px 0;
            }

            &--no-child {
                padding-right: 0;
                background: unset;
            }
        }

        .category-list {
            margin-bottom: 0;
            margin-right: 0;
            // overflow: unset;
        }

        ul {
            li {
                border: none;
                padding: 0;

                a {
                    display: block;
                    color: #222222;
                    padding: 13px 8px 10px;
                }

                >* {
                    font-weight: 600;
                    font-size: 14px;
                    font-family: v(font1);
                }

                &.active {
                    background: #EFF1F8;
                }

                &:last-child {
                    margin-right: 5px;
                }
            }
           
        }

        &--sub {
            @include hide-scrollbar;
        }
    }
}