.box_quiz {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #ffffff;

    .title_star {
        margin-bottom: 0;
    }

    .head_cate {
        background: rgba(189, 189, 189, 0.2);
        padding: 15px;
        justify-content: space-between;
        margin-bottom: 0;
        margin-top: 0;
        flex-wrap: nowrap;
        position: relative;

        .social {
            margin-bottom: 0;
            padding: 0;
            border-top: none;

            a {
                display: inline-block;
                background: #E5E5E5;
                border-radius: 50%;
                width: 36px;
                height: 36px;
                text-align: center;
                line-height: 36px;
                margin-left: 8px;

                svg {
                    color: #757575;
                }

                .tip {
                    position: absolute;
                    right: 15px;
                }
            }
        }
    }

    .title {
        font: 600 18px var(--font1);
        color: #6441A5;
        text-align: left;
    }

    .main-quiz {
        padding: 12px 15px;
        color: #4F4F4F;
        font-size: 16px;
        position: relative;

        .swiper-slide {
            overflow: hidden;
        }

        .title {
            font: 600 20px var(--font1);
            color: #6441A5;
            margin-bottom: 15px;
            text-align: left;
        }

        .txt_right {
            font-size: 12px;
            color: #757575;
            margin-top: 16px;
        }
    }

    .gird {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 16px !important;

    }

    .gird_1 {
        .item {
            width: 100%;
        }
    }

    .gird_2 {
        margin: 0 -4px;

        .item {
            width: 50%;
            padding: 0 4px;
        }
    }

    .gird_3 {
        margin: 0 -4px;

        .item {
            width: 33.33%;
            padding: 0 4px;
        }
    }

    .gird_4 {
        margin: 0 -4px;

        .item {
            width: 25%;
            padding: 0 4px;
        }
    }

    // .gradient-view {
    //     &:after {
    //         content: '';
    //         position: absolute;
    //         left: 0;
    //         bottom: 0;
    //         height: 100px;
    //         width: 100%;
    //         background: linear-gradient(180deg, #F6F7FB 48.96%, rgba(246, 247, 251, 0) 100%);
    //         transform: scaleY(-1);
    //     }
    // }

    .answer-quiz {
        background: #F6F7FB;
        padding: 12px 15px;
        font-size: 16px;
        line-height: 1.4;
        // max-height: 228px;
        // overflow: hidden;
        position: relative;

        .answer-quiz {
            padding: 0;
            margin: 0;
        }

        +.title {
            margin-top: 16px;
        }

        p {
            margin-top: 7px;
        }

        &__view-more {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 50px;
            line-height: 50px;
            color: #0084FF;
            width: 100%;
            z-index: 2;
            text-align: center;
        }

        &.active {
            max-height: unset;

            .answer-quiz__view-more {
                display: none;
            }

            &:after {
                display: none;
            }
        }
    }

    .link-detail {
        padding: 12px 48px 12px 15px;
        background: #F7F7F7;
        border-radius: 0px 0px 8px 8px;
        display: block;
        position: relative;

        .next {
            background: #E5E5E5;
            border-radius: 0px 0px 8px 0px;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 48px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            svg {
                width: 25px;
                height: 25px;
            }
        }
    }

    &_comment {
        padding: 15px;

        input {
            border: 1px solid #E5E5E5;
            border-radius: 103px;
            font-size: 14px;
            line-height: 140%;
            padding: 14px 25px;
            width: 100%;

            &::placeholder {
                color: #222222;
            }
        }
    }

    .gird-scroll {
        width: calc(100% + 30px);
        overflow-x: auto;
        margin: 0 -15px 16px;
        padding: 15px;
        background: #F6F7FB;
        @include hide-scrollbar;

        &__inner {
            white-space: nowrap;

            .item {
                width: 185px;
                display: inline-block;
                position: relative;

                &.true {

                    .answer-true,
                    .percent-bar {
                        display: block;
                    }

                    &::before {
                        content: "";
                        background: linear-gradient(180deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
                        position: absolute;
                        bottom: 0;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        right: 0;
                        border-radius: 4px;
                        opacity: 0.7;
                        transform: rotate(180deg);
                    }
                }

                &:last-child {
                    margin-right: 15px;
                }
            }
        }
    }

    .quiz-new {
        .gird {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            margin-top: 16px !important;

            .item {
                color: var(--colormain);
                position: relative;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                img {
                    border-radius: 4px;
                    overflow: hidden;
                }
            }
        }

        .gird_1 {
            .item {
                width: 100%;
            }
        }

        .gird_2 {
            margin: 0 -8px;

            .item {
                width: 50%;
                padding: 0 8px;
                margin-bottom: 16px;
            }
        }

        .gird_3 {
            margin: 0 -8px;

            .item {
                width: 33.33%;
                padding: 0 8px;
            }
        }

        .gird_4 {
            margin: 0 -8px;

            .item {
                width: 25%;
                padding: 0 8px;
            }
        }

        .question-quiz {
            p {
                margin-bottom: 5px;
            }
        }

        &1 {
            .item {
                span {
                    border: 1px solid var(--border);
                    background: var(--white);
                    width: 48px;
                    height: 47px;
                    line-height: 48px;
                    text-align: center;
                    display: inline-block;
                    margin-top: 15px;
                    border-radius: 50%;
                    font-size: 14px;
                }

                &:hover {
                    span {
                        background: var(--bg-agray);
                    }
                }

                &.active {
                    span {
                        background: #E5E5E5;
                        border: 1px solid #E5E5E5;
                    }
                }
            }
        }

        &2 {
            .btn_next_prev {
                margin-top: 16px;
            }

            .answer-quiz {

                label.item {
                    display: block;
                    cursor: pointer;
                    background: #F7F7F7;
                    border-radius: 2px;
                    padding: 12px 20px;

                    &:hover,
                    &.active {
                        background: #E5E5E5;
                    }
                }
            }

            .percent-bar {
                position: relative;
                padding-right: 50px;
                margin-top: 20px;
                margin-bottom: 16px;

                .main-bar-per {
                    height: 10px;
                    background: #E5E5E5;
                    border-radius: 29px;
                    width: 100%;
                    display: block;
                    position: relative;
                }

                .real-bar-per {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background: #F53520;
                    border-radius: 29px;
                }

                .number-per {
                    width: 40px;
                    position: absolute;
                    font-weight: bold;
                    font-family: Arial;
                    top: -5px;
                    right: 0;
                    font-size: 14px;
                    color: #000000;
                }
            }
        }

        &3 {
            .gird {

                .item.active,
                .item:hover {
                    &::before {
                        content: "";
                        background: #0084FF;
                        width: 21px;
                        height: 21px;
                        position: absolute;
                        right: 0;
                        top: -10px;
                        border-radius: 50%;
                        border: 1px solid #fff;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        right: 8px;
                        top: -6px;
                        width: 4px;
                        height: 10px;
                        border: solid var(--white);
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                    }
                }
            }

            .answer-quiz {
                margin-top: 10px;
            }
        }

        &4,
        &5 {
            .question-quiz {
                padding: 15px 0;

                p {
                    margin-bottom: 15px;
                }

                .gird-wrapper {
                    overflow-x: auto;

                }

                .gird {
                    margin-top: 0 !important;
                    flex-wrap: nowrap;
                    white-space: nowrap;

                    .item {
                        margin-bottom: 0;
                    }
                }

                .item {
                    &:hover {
                        &::before {
                            content: "";
                            background: linear-gradient(180deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
                            position: absolute;
                            bottom: 0;
                            height: 80%;
                            left: 0;
                            right: 0;
                            border-radius: 4px;
                            opacity: 0.7;
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            .answer-true {
                position: absolute;
                display: none;
                font-size: 14px;
                color: #fff;
                top: 17px;
                left: 50%;
                margin-left: 10px;
                transform: translate(-50%, 0);

                &::before {
                    content: "";
                    background: #05DA65;
                    width: 21px;
                    height: 21px;
                    position: absolute;
                    left: -29px;
                    top: 2px;
                    border-radius: 50%;
                    border: 1px solid #fff;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: -20px;
                    top: 6px;
                    width: 4px;
                    height: 10px;
                    border: solid var(--white);
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
            }



            .item {
                * {
                    transition: 0.5s ease;
                }

            }

            .count {
                color: #757575;
                font-size: 14px;
                background: url(images/icons/chart.svg) no-repeat;
                padding-left: 20px;
                background-position: 0;
                text-align: left;
            }

            .percent-bar {
                position: absolute;
                bottom: 12px;
                left: 15px;
                right: 15px;
                padding-right: 40px;
                display: none;

                .number-per {
                    width: 30px;
                    position: absolute;
                    top: -5px;
                    right: 0;
                    font-size: 14px;
                    color: #fff;
                }

                .main-bar-per {
                    height: 10px;
                    background: #F6F7FB;
                    border-radius: 10px;
                    width: 100%;
                    display: block;
                    position: relative;
                }

                .real-bar-per {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background: #F2C94C;
                    border-radius: 10px;
                }
            }
        }

        &5 {
            h4 {
                color: #6441A5;
                font-size: 18px;
                font-weight: 400;
                line-height: 1.2;
                margin-top: 20px;
                margin-bottom: 15px;
                text-align: left;
            }

            .gird {
                &:not(:last-child) {
                    margin-top: 24px !important;
                }
            }

            .items {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }

                .item {
                    &:hover {
                        &::before {
                            height: 100%;
                            background: #000000;
                            opacity: 0.5;
                        }
                    }
                }

                &.active {

                    .answer-true,
                    .percent-bar {
                        display: block;
                    }

                    .item.true {
                        &::before {
                            content: "";
                            background: linear-gradient(180deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
                            position: absolute;
                            bottom: 0;
                            height: 80%;
                            left: 8px;
                            right: 8px;
                            border-radius: 4px;
                            opacity: 0.7;
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}

.question-quiz {
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;

        .author {
            margin: 0 !important;
        }
    }
}

.answer-quiz {
    background: #F6F7FB;
    font-size: 16px;
    line-height: 1.4;

    .item {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    h4 {
        margin-bottom: 15px;
    }

    p {
        margin-top: 20px;
    }
}

.btn_next_prev {
    display: flex;
    justify-content: space-between;

    &.justify-content-end {
        justify-content: flex-end;
    }

    .btn_ione {
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: #fff;
        padding: 0 30px;
    }

    .active {
        background: #F2C94C;
        border: 1px solid #F2C94C;

        &:hover {
            background: #DFAB0E;
        }
    }
}

.btn_ione {
    svg {
        color: #222;
        width: 20px;
        height: 20px;
    }
}

.answer-list {
    margin-bottom: 16px;

    .item {
        display: block;
        width: 100%;
        background: #F7F7F7;
        border-radius: 2px;
        padding: 12px 16px;

        +.item {
            margin-top: 10px;
        }
    }
}

.author+.question-quiz {
    margin-top: -16px;
}

.quiz-new {
    .swiper-pagination {
        bottom: -5px;
    }
}

.item_result_quiz {
    width: calc(100% + 30px);
    margin: 0 -15px;
    padding: 0 15px;

    p {
        margin-bottom: 5px;

        &.text-point {
            font-size: 72px;
            line-height: 91px;
            font-weight: 700;
            position: relative;
            padding-bottom: 20px;
            margin-bottom: 20px;

            &:after {
                content: '';
                width: calc(100% - 80px);
                height: 1px;
                background: var(--border);
                position: absolute;
                left: 40px;
                bottom: 0;
            }
        }
    }

    .text-point+p {
        margin-bottom: 20px;
    }

    .btn_restart {
        width: 100%;
        background: #F53520;

        .icon-svg {
            fill: #fff;
        }
    }

    .box-result-percent {
        .item-result-per {
            margin-bottom: 20px;

            .text-ans {
                width: 70px;
            }

            .percent-bar {
                width: calc(100% - 180px);
                font-size: 14px;
                color: #F53520;
                text-align: right;
                padding-left: 55px;
                position: relative;
                margin-top: 0;

                .number-per {
                    width: 40px;
                    position: absolute;
                    top: 0;
                    left: 0
                }

                .main-bar-per {
                    width: 100%;
                    float: left;
                    height: 4px;
                    background: #E5E5E5;
                    border-radius: 3px;
                    position: relative;
                    margin-top: 13px
                }

                .main-bar-per .real-bar-per {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background: #F53520;
                    border-radius: 3px
                }
            }

            .count-person {
                width: 110px;
                text-align: right;
                font-size: 14px;
                color: #757575;

                .number-person {
                    font-size: 18px;
                    color: #222
                }
            }
        }
    }
}

.page-detail,
.article_detail {
    .box_quiz .main-quiz {
        padding: 0;
    }

    .box-tag-topic,
    ~.box-tag-topic {
        margin-bottom: 20px;
        padding-bottom: 20px;

        &::after {
            display: none;
        }

        .container {
            display: flex;
            padding-left: 0;
            padding-right: 0;

            .tag:last-child {
                margin-right: 0;
            }
        }

        .box-tag-topic__label {
            font-family: var(--font2);
            font-weight: 700;
            padding: 6px 10px;
            font-size: 18px;
            background: #faf1ed;
            margin-right: 40px;
            position: relative;

            &:after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 18px 0 18px 20px;
                border-color: transparent transparent transparent #faf1ed;
                position: absolute;
                top: 0;
                right: -20px;
            }
        }
    }

    .box_quiz {
        border: none;
        border-radius: 0;
        background: unset;
    }
}

.fck_detail {
    .box_quiz {

        .answer-quiz {
            background: #ffffff;
            max-height: unset;
            margin: 0 -15px;
        }

        .gradient-view:after {
            display: none;
        }
    }
}


.content_quiz_folder {
    table {
        table-layout: fixed;

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }
}

.page-detail--quiz {
    .fck_detail table {
        table-layout: fixed;
    }
}

.slide-quiz {
    margin-bottom: 16px;

    .swiper-pagination {
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 5px;

        &-bullet {
            &:not(:last-child) {
                margin-right: 5px;
            }
        }
    }
}