.box_quiz {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #ffffff;

    .title_star {
        margin-bottom: 0;
    }

    .head_cate {
        background: rgba(189, 189, 189, 0.2);
        padding: 24px 22px;
        justify-content: space-between;
        margin-bottom: 0;
        margin-top: 0;
        flex-wrap: nowrap;
        position: relative;

        .social {
            margin-bottom: 0;
            padding: 0;
            border-top: none;

            a {
                display: inline-block;
                background: #E5E5E5;
                border-radius: 50%;
                width: 36px;
                height: 36px;
                text-align: center;
                line-height: 36px;
                margin-left: 8px;

                svg {
                    color: #757575;
                }
            }
        }
    }

    .main-quiz {
        padding: 12px 24px;
        color: #4F4F4F;
        font-size: 16px;

        .title {
            font: 600 20px var(--font1);
            color: #222222;
            margin-bottom: 15px;
        }

        .txt_right {
            font-size: 12px;
            color: #757575;
            margin-top: 16px;
        }
    }

    .gird {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 24px !important;

        .item {

            &.active,
            &:hover {
                // span {
                //     background: #E5E5E5;
                // }
            }
        }
    }

    .gird_1 {
        .item {
            width: 100%;
        }
    }

    .gird_2 {
        margin: 0 -4px;

        .item {
            width: 50%;
            padding: 0 4px;
        }
    }

    .gird_3 {
        margin: 0 -4px;

        .item {
            width: 33.33%;
            padding: 0 4px;
        }
    }

    .gird_4 {
        margin: 0 -4px;

        .item {
            width: 25%;
            padding: 0 4px;
        }
    }

    .gradient-view {
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 100px;
            width: 100%;
            background: linear-gradient(180deg, #F6F7FB 48.96%, rgba(246, 247, 251, 0) 100%);
            transform: scaleY(-1);
        }
    }

    .answer-quiz {
        background: #F6F7FB;
        padding: 12px 24px;
        font-size: 16px;
        line-height: 1.4;

        p {
            margin-top: 7px;
        }

        max-height: 228px;
        overflow: hidden;
        position: relative;



        &__view-more {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 50px;
            line-height: 50px;
            color: #0084FF;
            width: 100%;
            z-index: 2;
            text-align: center;
        }

        &.active {
            max-height: unset;

            .answer-quiz__view-more {
                display: none;
            }

            &:after {
                display: none;
            }
        }
    }

    .link-detail {
        padding: 12px 48px 12px 24px;
        background: #F7F7F7;
        border-radius: 0px 0px 8px 8px;
        display: block;
        position: relative;

        .next {
            background: #E5E5E5;
            border-radius: 0px 0px 8px 0px;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 48px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            svg {
                width: 25px;
                height: 25px;
            }
        }
    }

    &_comment {
        padding: 16px 24px;

        input {
            border: 1px solid #E5E5E5;
            border-radius: 103px;
            font-size: 14px;
            line-height: 140%;
            padding: 14px 25px;
            width: 100%;

            &::placeholder {
                color: #222222;
            }
        }
    }

    .gird-scroll {
        width: calc(100% + 48px);
        overflow-x: auto;
        margin: 0 -24px;
        padding: 32px 24px 56px;
        background: #F6F7FB;

        &__inner {
            white-space: nowrap;

            .item {
                width: 185px;
                display: inline-block;
                position: relative;

                &.true {

                    .answer-true,
                    .percent-bar {
                        display: block;
                    }

                    &::before {
                        content: "";
                        background: linear-gradient(180deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
                        position: absolute;
                        bottom: 0;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        right: 0;
                        border-radius: 4px;
                        opacity: 0.7;
                        transform: rotate(180deg);
                    }
                }

            }
        }
    }

    .quiz-new {
        .gird {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            margin-top: 30px !important;

            .item {
                color: var(--colormain);
                position: relative;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                img {
                    border-radius: 4px;
                    overflow: hidden;
                }
            }
        }

        .gird_1 {
            .item {
                width: 100%;
            }
        }

        .gird_2 {
            margin: 0 -8px;

            .item {
                width: 50%;
                padding: 0 8px;
                margin-bottom: 16px;
            }
        }

        .gird_3 {
            margin: 0 -8px;

            .item {
                width: 33.33%;
                padding: 0 8px;
            }
        }

        .gird_4 {
            margin: 0 -8px;

            .item {
                width: 25%;
                padding: 0 8px;
            }
        }

        .question-quiz {
            p {
                margin-bottom: 5px;
            }
        }

        &1 {
            .item {
                span {
                    border: 1px solid var(--border);
                    background: var(--white);
                    width: 48px;
                    height: 47px;
                    line-height: 48px;
                    text-align: center;
                    display: inline-block;
                    margin-top: 15px;
                    border-radius: 50%;
                    font-size: 14px;
                }

                &:hover {
                    span {
                        background: var(--bg-agray);
                    }
                }

                &.active {
                    span {
                        background: #7043A9;
                        border: 1px solid #7043A9;
                        color: #fff;
                    }
                }
            }
        }

        &2 {
            .btn_next_prev {
                margin-top: 16px;
            }

            .answer-quiz {

                label.item {
                    display: block;
                    cursor: pointer;
                    background: #F7F7F7;
                    border-radius: 2px;
                    padding: 12px 20px;

                    &:hover,
                    &.active {
                        background: #E5E5E5;
                    }
                }
            }

        }

        &3 {
            .gird {

                .item.active,
                .item:hover {
                    &::before {
                        content: "";
                        background: #0084FF;
                        width: 21px;
                        height: 21px;
                        position: absolute;
                        right: 0;
                        top: -10px;
                        border-radius: 50%;
                        border: 1px solid #fff;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        right: 8px;
                        top: -6px;
                        width: 4px;
                        height: 10px;
                        border: solid var(--white);
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                    }
                }
            }

            .answer-quiz {
                margin-top: 10px;
            }
        }

        &4,
        &5 {
            .question-quiz {
                padding: 24px 0;

                p {
                    margin-bottom: 15px;
                }

                .gird-wrapper {
                    overflow-x: auto;

                }

                .gird {
                    margin-top: 0 !important;
                    flex-wrap: nowrap;
                    white-space: nowrap;

                    .item {
                        margin-bottom: 0;
                    }
                }

                .item {
                    &:hover {
                        &::before {
                            content: "";
                            background: linear-gradient(180deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
                            position: absolute;
                            bottom: 0;
                            height: 80%;
                            left: 8px;
                            right: 8px;
                            border-radius: 4px;
                            opacity: 0.7;
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            .answer-true {
                position: absolute;
                display: none;
                font-size: 14px;
                color: #fff;
                top: 17px;
                left: 50%;
                margin-left: 10px;
                transform: translate(-50%, 0);

                &::before {
                    content: "";
                    background: #05DA65;
                    width: 21px;
                    height: 21px;
                    position: absolute;
                    left: -29px;
                    top: 2px;
                    border-radius: 50%;
                    border: 1px solid #fff;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: -20px;
                    top: 6px;
                    width: 4px;
                    height: 10px;
                    border: solid var(--white);
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
            }

            .percent-bar {
                position: absolute;
                bottom: 12px;
                left: 24px;
                right: 24px;
                padding-right: 40px;
                display: none;

                .number-per {
                    width: 30px;
                    position: absolute;
                    top: -9px;
                    right: 0;
                    font-size: 14px;
                    color: #fff;
                }

                .main-bar-per {
                    height: 10px;
                    background: #F6F7FB;
                    border-radius: 10px;
                    width: 100%;
                    display: block;
                    position: relative;
                }

                .real-bar-per {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background: #F2C94C;
                    border-radius: 10px;
                }
            }

            .item {
                * {
                    transition: 0.5s ease;
                }

            }

            .count {
                color: #757575;
                font-size: 14px;
                background: url(images/icons/chart.svg) no-repeat;
                padding-left: 20px;
                background-position: 0;
            }
        }

        &5 {
            h4 {
                color: #6441A5;
                font-size: 18px;
                font-weight: 400;
                line-height: 1.2;
                margin-top: 20px;
            }

            .gird {
                margin-top: 24px !important;
            }

            .items {
                margin-bottom: 30px;

                .item {
                    &:hover {
                        &::before {
                            height: 100%;
                            background: #000000;
                            opacity: 0.5;
                        }
                    }
                }

                &.active {

                    .answer-true,
                    .percent-bar {
                        display: block;
                    }

                    .item.true {
                        &::before {
                            content: "";
                            background: linear-gradient(180deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
                            position: absolute;
                            bottom: 0;
                            height: 80%;
                            left: 8px;
                            right: 8px;
                            border-radius: 4px;
                            opacity: 0.7;
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}

.question-quiz {
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;

        .author {
            margin: 0 !important;
        }
    }
}