@import 'var.scss';
@import 'fck.scss';
@import 'quiz.scss';
@import 'review.scss';
@import "vote-new.scss";

.page-detail.top-detail {
    background: #fcfaf6;
}

.input_comment_full {
    width: 100%;
}

.social_share_new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

    .back-btn {
      height: 44px;
      font-size: 14px;
      margin-bottom: 0;
      padding: 0 15px;

      svg {
          margin-right: 7px;
          width: 14px;
      }
    }
}

.description {
    margin-bottom: 16px;
    color: #333333;
}

.social_share_new .comment {
    background: #7043A9;
    color: #FCFAF6;
    border: none;
    flex-grow: 1;

    strong {
        font-weight: 400;
    }
}

.author_mail p {
    display: flex;
    justify-content: flex-end;
}

.author_mail p strong {
    font-family: var(--font2);
}

.ykien_vne {
    background: unset;

    .left {
        color: #222222;
        font-size: 24px;
        line-height: 140%;
        font-family: v(font2);
        padding-left: 34px;
        background-image: url('images/icons/star1.svg');
        background-repeat: no-repeat;
        background-position: left center;
    }
}

.filter_coment {
    background: unset;
    text-align: right;

    a.active {
        color: #7043A9 !important;

        &:before {
            display: none;
        }
    }
}

.input_comment textarea {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;

    &::placeholder {
        color: #4F4F4F;
    }
}

.box_comment_vne .btn_send_comment#comment_post_button {
    background: #7043A9 !important;
    border-radius: 2px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.input_comment {
    background: unset;
}

.comment_item.hight_light {
    background: unset;
}

.input_comment .avata_coment {
    width: 44px !important;
    height: 44px !important;

    img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
    }
}

.input_comment span {
    font-size: 14px;
    line-height: 16px;
    color: #222222;
    margin-top: 13px;
}

.btn_send_comment.btn_reset {
    color: #222222 !important;
}

#box_tag {
    background: #F6F7FB;
    padding: 32px 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

.block_tag {
    padding-left: 100px;

    .txt_tag {
        background: #222222;
        border-radius: 2px 0 0 2px;
        font-size: 18px;
        line-height: 140%;
        color: #fff;
        font-weight: 700;
        font-family: v(font2);
        height: 44px;
        line-height: 44px;
        padding: 0 10px;

        &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 22px 0 22px 20px;
            border-color: transparent transparent transparent #222222;
            position: absolute;
            top: 0;
            right: -20px;
        }
    }

    .tag_item {
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
        border-radius: 2px;
        background: #ffffff;
        padding: 4px 10px;
    }

    .block_scroll {
        margin-right: -15px;
        width: calc(100% + 15px);
        @include hide-scrollbar;
    }

    .list_tag_scroll h3:last-child {
        padding-right: 15px;
    }
}

.section_the_latest {
    background: unset;

    .item-news .title-news {
        font-size: 20px;
    }

    .item-news:not(:last-child) {
        margin-bottom: 24px;
    }
}

.item-news .content ~ .thumb-art {
    margin-top: 16px;
}

.list_news_dot {
    li {
        margin-bottom: 7px;
        padding-left: 10px;
        position: relative;

        .ic-external {
            width: 12px;
            height: 12px;
        }

        a {
            font: 400 15px/1.6 Arial, serif;
            color: #1607B6;
            text-decoration: none;
        }
    }

    li::before {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        content: "";
        position: absolute;
        background: #BDBDBD;
        top: 7px;
        left: 0;
    }
}

.score-table {
    background: linear-gradient(128.55deg, #6441A5 0.53%, #2A0845 81.33%);
    padding: 15px 15px 50px 15px;
    margin: 0 -15px 25px;

    .group {
        &:first-child {
            strong {
                margin-left: 0;
            }
        }
    }

    .name {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.footer-score {
    .xemthem {
        color: #fff;
    }

    .sub-score {
        display: block;
    }
}

.box_comment_pinned {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #F6F7FB;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.15);
    border-radius: 8px 8px 0 0;
    z-index: 999;

    .ykien_vne {
        padding-top: 24px;
    }

    .main_show_comment {
        max-height: 300px;
        overflow-y: auto;
        background: #FFFFFF;
        border-radius: 8px;
        margin-top: 16px;
        padding: 16px;
    }

    .input_comment_full {
        width: calc(100% + 30px);
    }

    .input_comment textarea {
        height: 42px;
        min-height: 42px;
    }
}

.filter_coment_mobile .sub_filter_cmt {
    z-index: 1;
}

.video-js .vjs-big-play-button {
    background-size: 60px !important;
}

.box_comment_ione {
    .ykien_vne {
        background: unset;
        margin-top: 8px;
    }
    .input_comment {
        background: unset;
        padding: 0
    }
}

.filter_coment {
    background: unset;
    margin-top: 0;
}

.fck_detail #divfirst {
  z-index: 97 !important;
  background: unset !important;
}

.fck_detail #divend {
  z-index: 97 !important;
  background: unset !important;
}

#header_sticky {
  height: 48px;
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  transform: translateY(-100%);
  transition-duration: 350ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  will-change: transform;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;

  .btn-noidungchinh {
    border: 1px solid #e5e5e5;
    border-radius: 50%;

    .ic {
      fill: #93908a;
      width: 14px;
      height: 14px;
    }
  }

  .luu_tin {
    float: left;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    line-height: 23px !important;
    font-size: 0 !important;
    background: #ccc;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;

    .icon-svg {
      color: #fff;
      display: none;
    }

    .ic-bookmark {
      background-position: -32px -265px;
      background-color: #fff;
    }

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      background: url('images/graphics/icon_vne.svg') no-repeat;
      width: 9px;
      height: 16px;
      background-position: -32px -265px;
      background-color: #fff;
    }
  }

  .luu_tin.active {
    background: #004f8b;
    border: 1px solid #004f8b;

    &:after {
      background-position: -56px -265px;
      background-color: #fff;
    }
  }

  .count_comment_total {
    .item_social {
      background: #ccc;
      border: 1px solid #ccc;
    }

    .count_comment {
      font: 400 14px/22px arial !important;
      padding: 0 5px;
    }

    .ic-comment {
      &:before {
        background-position: -6px -267px;
        background-color: #fff;
        width: 12px;
        height: 12px;
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }

  i.ic-facebook {
    display: inline-block;
    vertical-align: middle;
    background: url('images/graphics/icon_vne.svg') no-repeat;
    width: 24px;
    height: 24px;
    background-position: -72px -260px;
  }
  i.ic-twitter {
    display: inline-block;
    vertical-align: middle;
    background: url('images/graphics/icon_vne.svg') no-repeat;
    background-position: -120px -260px;
    width: 24px;
    height: 24px;
  }
  i.ic-comment {
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 14px;
      height: 14px;
      background: url('images/graphics/icon_vne.svg') no-repeat;
      background-position: -6px -267px;
      background-color: #fff;
      width: 12px;
      height: 12px;
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      opacity: 1;
    }
  }
}
