@import "var.scss";
@import "quiz.scss";

body {
	background: var(--bg-agray2);
}

.item-news .title-news {
	font-weight: 600;
}

.section_topstory2 {
	background: #fff;
	border-radius: 0 0 8px 8px;

	.item-news:last-child {
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 16px;
	}

	.item-news:first-child {
		.thumb-art {
			margin: 0 -15px 16px;
		}

		.title-news {
			font-size: 28px;
			line-height: 130%;
		}
	}

	.box_quiz {
		margin: 0 -15px;
		border: none;

		+.item-news {
			padding-top: 16px;
			margin-top: 16px;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
		}

		.head_cate {
			border-radius: 8px;
		}
	}

}

.article_info {
	+ .box_stream {
		padding-top: 30px;
	}
	.container {
		padding: 0;
	}

	.item {
		background: #fff;
		padding: 16px 15px;

		&:first-child {
			border-radius: 8px 8px 0 0;

			&:last-child {
				border-radius: 8px;
			}
		}

		&:last-child {
			border-radius: 0 0 8px 8px;
			padding-bottom: 20px;
		}

		&+.item {
			margin-top: 16px;
		}
	}

	.item-news {
		&:not(:last-child) {
			border: none;
			padding-bottom: 0;
		}
	}

	.thumb-art {
		margin-left: -15px;
		margin-right: -15px;
	}

	.title-news {
		font-size: 28px;
	}

}

.box_stream {
	$self: &;
	background: #fff;
	padding-top: 16px;
	padding-bottom: 16px;
	border-radius: 8px;

	&:not(:last-child) {
		margin-bottom: 16px;
	}

	&_group {
		padding: 16px 15px 10px;

		&:first-child {
			padding-top: 0;
		}

	}

	.box-video-home {
		padding: 16px 15px 0;

		.box-player-video {
			.thumb-art {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

.box-video-home .box-player-video {
	.item-news {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}
}

.box-style-photo {
	background: #222222;
	padding-top: 24px;
	padding-bottom: 24px;
	border-radius: 8px;
	color: #fff;
	margin-bottom: 24px;

	a {
		color: inherit;
	}

	.item-news {
		position: relative;

		.title-news {
			font-weight: 600;
			line-height: 120%;
			font-size: 22px;
			color: #f7f7f7;
		}

		.thumb-art {
			margin-bottom: 0;
		}

		.thumb {
			padding-bottom: 150%;

			&::after {
				content: '';
				background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
				border-radius: 0px 0px 2px 2px;
				width: 100%;
				position: absolute;
				left: 0;
				bottom: 0;
				height: 236px;
			}
		}

		.box-info-news {
			position: absolute;
			bottom: 50px;
			left: 0;
			width: 100%;
			padding: 0 20px;

			&__footer {
				display: flex;
			}

			.status {
				color: #e5e5e5;
				margin-right: 24px;

				.icon-svg {
					color: inherit;
				}
			}
		}

		&:not(:last-child) {
			margin-bottom: 0;
			padding-bottom: 0;
			border: none;
		}

		&+.item-news {
			margin-top: 24px;
		}
	}
}

.pagination {
	background: #ffffff;
}

.banner-bottom-home {
	background: #ffffff;
	padding-bottom: 54px;
}

.footer {
	margin-top: 0;
	padding-top: 54px;
}

.tab-tt {
	margin-bottom: 10px;

	li {
		float: left;
		margin: 0;

		a {
			display: block;
			line-height: 17px;
			background: #fff;
			border: 1px solid var(--border);
			padding: 8.5px 25px;
			border-radius: 3px 0 0 3px;
		}

		&.active {
			a {
				background: #7043A9;
				color: #fff;
				border: 1px solid #7043A9;
			}
		}

		&:last-of-type {
			a {
				border-radius: 0 3px 3px 0;
			}
		}
	}
}

.box-video-home .social__item .icon-comment {
	width: 18px;
	height: 18px;
}

.social-p {
	border-bottom: 1px solid rgba(34, 34, 34, 0.1);
	padding-bottom: 24px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;

	span {
		color: var(--gray1);
		margin-right: 10px;
	}

	li {
		margin-right: 8px;
		display: inline-block;

		a {
			width: 32px;
			height: 32px;
			border: 1px solid var(--border);
			text-align: center;
			justify-content: center;
			border-radius: 50%;
			display: inline-flex;
			color: #757575;

			.icon-svg {
				align-self: center;
				width: 18px;
				height: 18px;
				color: inherit;
			}
		}
	}
}

.name-page-t {
	font: bold 28px var(--font2);
}

.box_tags {
	background: #ffffff;
	padding: 24px 0 0;

	.breadcrumb li:first-child a {
		color: #4F4F4F;
		font-size: 16px;
	}
}

.section-topic {
	background: #fff;
	padding: 24px 0 8px;
}

.percent-bar {
	display: flex;
	flex-shrink: 0;
	position: relative;
	align-items: center;

	.main-bar-per {
		height: 8px;
		background: #E5E5E5;
		border-radius: 29px;
		display: block;
		position: relative;
		width: 89px;
		margin-right: 4px;
	}

	.real-bar-per {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background: #F53520;
		border-radius: 29px;
	}

	.number-per {
		font-family: Arial;
		font-size: 14px;
		color: #000000;
		font-weight: 700;
	}
}
