/**
iconfont Webfont
*/
@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot?1589447156981');
	src: url('iconfont.eot?#iefix-1589447156981') format('embedded-opentype'),
		url('iconfont.woff2?1589447156981') format('woff2'),
		url('iconfont.woff?1589447156981') format('woff'),
		url('iconfont.ttf?1589447156981') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='iconfont-']:before,
[class*=' iconfont-']:before {
	font-family: 'iconfont';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/
 .iconfont-Arrow-Left-1:before {
			content: '\ea01';
		}

		 .iconfont-Arrow-Right-1:before {
			content: '\ea02';
		}

		 .iconfont-Arrow-Up-1:before {
			content: '\ea03';
		}

		 .iconfont-arrow01:before {
			content: '\ea04';
		}

		 .iconfont-arrow02:before {
			content: '\ea05';
		}

		 .iconfont-bookmard:before {
			content: '\ea06';
		}

		 .iconfont-bookmard2:before {
			content: '\ea07';
		}

		 .iconfont-bookmark2:before {
			content: '\ea08';
		}

		 .iconfont-chat:before {
			content: '\ea09';
		}

		 .iconfont-close2:before {
			content: '\ea0a';
		}

		 .iconfont-Comment-Empty:before {
			content: '\ea0b';
		}

		 .iconfont-Comment-Plus:before {
			content: '\ea0c';
		}

		 .iconfont-Comment-Reg:before {
			content: '\ea0d';
		}

		 .iconfont-comment:before {
			content: '\ea0e';
		}

		 .iconfont-comment2:before {
			content: '\ea0f';
		}

		 .iconfont-Data-Empty:before {
			content: '\ea10';
		}

		 .iconfont-Facebook:before {
			content: '\ea11';
		}

		 .iconfont-Flip:before {
			content: '\ea12';
		}

		 .iconfont-inforgraphic:before {
			content: '\ea13';
		}

		 .iconfont-Interactive:before {
			content: '\ea14';
		}

		 .iconfont-like:before {
			content: '\ea15';
		}

		 .iconfont-like2:before {
			content: '\ea16';
		}

		 .iconfont-link:before {
			content: '\ea17';
		}

		 .iconfont-mail:before {
			content: '\ea18';
		}

		 .iconfont-Minus:before {
			content: '\ea19';
		}

		 .iconfont-next:before {
			content: '\ea1a';
		}

		 .iconfont-picture:before {
			content: '\ea1b';
		}

		 .iconfont-Pin:before {
			content: '\ea1c';
		}

		 .iconfont-play:before {
			content: '\ea1d';
		}

		 .iconfont-play2:before {
			content: '\ea1e';
		}

		 .iconfont-Plus:before {
			content: '\ea1f';
		}

		 .iconfont-prev:before {
			content: '\ea20';
		}

		 .iconfont-Quiz:before {
			content: '\ea21';
		}

		 .iconfont-Save-1:before {
			content: '\ea22';
		}

		 .iconfont-Save:before {
			content: '\ea23';
		}

		 .iconfont-search:before {
			content: '\ea24';
		}

		 .iconfont-sent2:before {
			content: '\ea25';
		}

		 .iconfont-share:before {
			content: '\ea26';
		}

		 .iconfont-share2:before {
			content: '\ea27';
		}

		 .iconfont-star-left:before {
			content: '\ea28';
		}

		 .iconfont-star-right:before {
			content: '\ea29';
		}

		 .iconfont-sync:before {
			content: '\ea2a';
		}

		 .iconfont-Trend:before {
			content: '\ea2b';
		}

		 .iconfont-Twitter:before {
			content: '\ea2c';
		}

		 .iconfont-twitter2:before {
			content: '\ea2d';
		}

		 .iconfont-user:before {
			content: '\ea2e';
		}

		 .iconfont-view:before {
			content: '\ea2f';
		}

		 .iconfont-Zoom:before {
			content: '\ea30';
		}

		