/* Scss Document */
.text-center {
    text-align: center;
}

.col-1 {
    width: 100%;
    float: left;
}

.col-2 {
    width: 100%;
    float: left;
    padding-top: 30px;
    position: relative;

    p {
        color: #757575;
        font-size: 14px;
        line-height: 1.4;
    }

    .text-center {
        padding-left: 30px;
        padding-right: 30px;
    }

    .note {
        font-size: 14px;
        font-style: italic;
        float: left;
        width: 100%;
        margin-top: 8px;
    }

    &:before {
        content: '';
        width: 100%;
        height: 1px;
        background: #E6E6E6;
        position: absolute;
        left: 0;
        top: 18px;
    }
}

.result-drunk {
    .num {
        background: #F7F7F7;
        border-radius: 2px;
        display: inline-block;
        margin-bottom: 0;
        width: 89px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        font-size: 32px;
        text-align: center;
        padding: 5px;
        position: absolute;
        right: 0;
        top: 10px;
        color: #8B1E44;
        .unit {
            color: #9F224E;
            font-size: 14px;
            line-height: 1.4;
            font-weight: normal;
        }
    }

    .content {
        float: left;
        overflow: hidden;
        width: 100%;
        padding-top: 10px;
        position: relative;
        padding-right: 100px;
        min-height: 60px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
            margin-bottom: 5px;
            display: inline-block;
            font-size: 16px;
            line-height: 1.143;
        }
    }
}
.mucphat{
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 18px;
    border-bottom: 1px solid #E6E6E6;
    .note{
        color: #AE2727;
        font-size: 16px;
        font-style: normal;
        line-height: 1.143;
        text-align: left;
        margin-bottom: 13px;
    }
    img{
        margin-bottom: 10px;
        width: 48px;
    }
    .label{
        display: block;
        clear: both;
        color: #8B1E44;
        font-weight: bold;
        margin-bottom: 13px;
        font-size: 16px;
        span{
            color: #757575;
            font-style: italic;
            display: block;
            font-weight: normal;
        }
    }
    .sub-label{
        width: 100%;
        float: left;
        text-align: left;
        position: relative;
        top: -13px;
        left: 9px;
        color: #757575;
        font-style: italic;        
    }
    .label-row{
        color: #757575;
        font-size: 14px;
        line-height: 1.16;
        text-align: left;
        margin-bottom: 5px;
        margin-top: 2px;
        white-space: nowrap;
        span{
            color: #BDBDBD;
            font-style: italic;
            margin-top: 3px;
            display: block;
        }
    }
    .width_common{
        .flexbox{
            &:first-child{
                align-items: center;
            }
        }
    }
}
.flexbox {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.box-drunk-formula {    
    padding: 15px;
    position: relative;
    clear: both;

    &:after {
        content: '';
        display: table;
        width: 0;
        height: 0;
        clear: both;
    }

    .header {
        background: #E5E5E5;
        font-family: Arial;
        font-weight: bold;
        font-size: 16px;
        height: 44px;
        line-height: 44px;
        color: #8B1E44;
        padding-left: 14px;
        margin: -15px -15px 21px;
    }

    .block {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }

        &:nth-child(2) {
            img {
                height: 50px;
            }
        }

        .wrap-icon {
            display: block;
            height: 70px;
            width: 50px;
            img{
                width: 100%;
            }
        }

        input[type="text"], input[type="number"], input[type="tel"] {
            width: 73px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            outline: none;
            margin-bottom: 5px;
            margin-top: 0;
            color: #222;
            border: 1px solid #E6E6E6;
            border-radius: 2px;
            font-size: 16px;
            &::-webkit-input-placeholder {
                color: #BDBDBD;
            }

            &:-ms-input-placeholder {
                color: #BDBDBD;
            }

            &::placeholder {
                color: #BDBDBD;
            }

            &:focus {
                border: 1px solid #757575;
                color: #222;
            }
        }

        .text {
            color: #757575;
            font-size: 14px;
        }
    }
}

.btn-gioitinh {
    width: 100%;
    text-align: center;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50px;
    line-height: 50px;
    flex-direction: row;

    img {
        width: 19px;
        height: 19px;
        margin-right: 7px;
        margin-bottom: 0;

    }

    &.active {
        background: #F2F2F2;
        border: 1px solid #757575;

        &:before {
            content: '';
            width: 20px;
            height: 20px;
            background: url(images/graphics/icon_checked.svg) no-repeat;
            position: absolute;
            right: -8px;
            top: -8px;
        }
    }

    &.disable {
        opacity: .4;
    }

    &:last-child {
        margin-left: 16px;
    }
}

.title-block {
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    margin-bottom: 15px;
}