/* Scss Document */
.box-tuvanonline {
  border: 1px solid #c0c0c0;
  border-left: none;
  border-right: none; }
  .box-tuvanonline .header-box {
    width: 100%;
    float: left;
    height: 33px;
    line-height: 33px;
    background: url(images/graphics/bg_head_tuvanonline.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 7px;
    padding-left: 8px;
    font-size: 14px; }
    .box-tuvanonline .header-box a {
      color: #fff; }
  .box-tuvanonline .wrap-info-doc {
    background: url(images/graphics/2bs.jpg) left top no-repeat;
    width: 100%;
    min-height: 205px;
    float: left;
    padding-left: 205px;
    position: relative;
    bottom: -4px; }
    .box-tuvanonline .wrap-info-doc .avata {
      float: left;
      margin-right: 10px; }
    .box-tuvanonline .wrap-info-doc .info {
      margin-top: 17px;
      padding-right: 20px; }
    .box-tuvanonline .wrap-info-doc p {
      font-size: 15px;
      line-height: 1.313; }
    .box-tuvanonline .wrap-info-doc .position-doc {
      margin-bottom: 15px; }
    .box-tuvanonline .wrap-info-doc strong {
      font-size: 16px;
      margin-bottom: 10px;
      display: block; }
  .box-tuvanonline .btn-send {
    color: #fff;
    background: #6ecff6;
    padding: 3px 36px;
    border-radius: 7px;
    font-weight: bold;
    margin-top: 10px; }
  .box-tuvanonline .footer-box {
    width: calc(100% - 20px);
    float: left;
    font-size: 15px;
    line-height: normal;
    border-top: 1px solid #e2e2e3;
    padding: 12px  10px 10px;
    margin: 0 10px; }
  .box-tuvanonline.after .list_title {
    margin: 10px 10px 0; }
    .box-tuvanonline.after .list_title a {
      font-weight: normal;
      font-style: italic;
      color: #666; }
  .box-tuvanonline.after .wrap-count-day {
    width: 100%;
    float: left;
    font-size: 12px;
    margin-top: 7px; }
    .box-tuvanonline.after .wrap-count-day .count {
      display: inline-block; }
      .box-tuvanonline.after .wrap-count-day .count span {
        display: inline-block;
        background: #6ecff6;
        color: #fff;
        padding: 1.5px 8px;
        margin-right: 5px;
        border-radius: 7px;
        vertical-align: middle; }
        .box-tuvanonline.after .wrap-count-day .count span strong {
          display: inline-block;
          margin-bottom: 0; }

@media screen and (max-width: 1000px) {
  .box-tuvanonline .btn-send {
    padding: 5px 8px; }
  .box-tuvanonline .footer-box {
    line-height: 18px; }
  .box-tuvanonline .list_title {
    width: calc(100% - 20px);
    float: left;
    font-size: 15px;
    font-weight: bold;
    border-top: 1px solid #e2e2e3;
    padding-top: 15px;
    padding-left: 10px;
    margin: 10px 10px 0; }
    .box-tuvanonline .list_title li {
      padding-left: 13px;
      margin-bottom: 10px;
      width: 100%;
      float: left;
      position: relative; }
      .box-tuvanonline .list_title li:before {
        content: '';
        width: 6px;
        height: 6px;
        background: #666;
        position: absolute;
        left: 0;
        top: 7px; }
    .box-tuvanonline .list_title a {
      color: #666666; }
  .box-tuvanonline .wrap-info-doc {
    padding-bottom: 15px; }
  .box-tuvanonline .wrap-count-day {
    position: absolute;
    left: 15px;
    bottom: 0; } }
@media screen and (max-width: 360px) {
  .box-tuvanonline .wrap-info-doc .info {
    margin-top: 10px; }
  .box-tuvanonline .wrap-info-doc strong {
    margin-bottom: 10px; } }

/*# sourceMappingURL=box_tuvanonline.css.map */
