@import 'var.scss';

/**BOX TVOL Nutri**/
.box-tvol-nutri {
  padding: 15px 15px 20px 15px;

  > .art_item {
    > .title_news {
      margin-left: -15px;
      margin-right: -15px;
      padding: 5px 15px;
      background: #8CC43F;
    }
  }

  .slide-bs-tv {
    .thumb_art {
      width: 85px;
      border: 1px solid #e5e5e5;
      border-radius: 3px;
      margin-right: 10px;
      margin-bottom: 0;
    }

    .title_news {
      font-size: 16px;
      font-family: arial;
      font-weight: bold;
      line-height: 140%;

      a {
        font-family: arial;
      }
    }

    .description {
      margin-top: 5px;
      font-size: 14px;
      line-height: 140%;
    }
  }

  .list_news_common {
    .art_item {
      border-top: none;
      padding-top: 15px;
      margin-top: 0;
      position: relative;
      padding-left: 15px;

      &:before {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #c4c4c4;
        position: absolute;
        top: 23px;
        left: 0;
      }
    }

    &.list_news_common_v2 {
      .title_news {
        font-size: 15px;

        a {
          font-size: 15px;
        }
      }
    }
  }

  .send-quess-p {
    text-align: center;
  }

  .btn_vne {
    font-size: 15px;
    background: #8CC43F;
    font-weight: bold;
    width: 150px;
    border-radius: 3px;
    display: inline-block;
  }

  .countdown-text {
    color: #8CC43F;
    font-size: 14px;
    font-weight: 700;
    display: block;
    text-align: center;
    margin-top: 7px;
    float: left;
    width: 100%;
  }
}