/*UPDATE LICH THI DAU ASIAD 2018*/
.section_hot_match{
    .section_container{
        background: #f4f4f4;
        text-align: center;
        padding: 15px;
        &:before, &:after {
        	content: "";
        	clear: both;
        	display: table;
        }
    }
    p{color: #666;margin: 0; width: 100%; float: left;}
    img{width: 34px;height: 22px;border: 1px solid #fff;display: inline-block;}
    span{font-size: 16px;}
    .tr{margin: 0 0 10px 0; float: left; width: 100%;} 
    .clb_1{
        display: inline-block; 
        width: 40%; float: left;
        img{margin-left: 6px; float: right; margin-top: 2px;} 
        span {
        	display: block; float: right; margin-top: 3px;
        	max-width: calc(100% - 40px);
        }
    }
    .clb_2{
        display: inline-block; 
        width: 40%; float: right;
        img{margin-right: 6px; float: left; margin-top: 2px;} 
        span {
        	display: block; float: left; margin-top: 3px;
        	max-width: calc(100% - 40px);
        }
    }
    .time{
    	float: left;
    	width: 20%;
    	text-align: center;
      display: inline-block;
      strong{
        background: #0068c1; font-size: 16px;
        color: #fff;
        display: inline-block;
        min-width: 50px;
        padding: 3px 5px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;        
          em{font-weight: 400; font-style: normal;font-size: 14px; position: relative; top: -1px;}
        }  
    }  
    .ic-live {font-size: 12px !important; color: #ea007d; text-transform: none;
        &:before{width: 12px;height: 12px; background: #ea007d;}
    }
    .tr{
        &.pen{
            .clb_1,.clb_2{width: 37%;}
            .time{width: 26%; white-space: nowrap;}
        }
    }
}

/***LICH BONG DA NAM**/
.box_calendar .title_news_w18{background: url(images/graphics/bg_box_aff.jpg) no-repeat top center;background-size:cover;font-size:14px;height:40px;line-height:40px;display:inline-block;padding:0 10px;width:100%;position:relative}.box_calendar .title_news_w18 a{color:#fff;font-weight:700}.box_calendar select{position:absolute;right:5px;top:13px;width:auto;background:0 0;border:none;font-size:12px;color:#fff;padding:0;cursor:pointer;height:auto;margin:0 auto;outline:0}.box_calendar select option{background:#fff;color:#333}.box_calendar .inner_item_match .item{float:left;width:100%;border-bottom:1px solid #e0e0e0;padding-bottom:10px; padding-top: 10px;background: #f4f4f4;}.box_calendar .inner_item_match .item:last-child{border-bottom:0}.box_calendar .inner_item_match h3{color:#666;height:30px;line-height:30px;background:#e0e0e0;padding:0 15px;font-size:14px;font-weight: 400;}.box_calendar .inner_item_match .team{float:left;width:calc(50% - 30px);text-align:center}.box_calendar .inner_item_match .team span{float: right; font-size:14px;white-space:nowrap;color:#333;margin-right: 7px;margin-top: 3px;}.box_calendar .inner_item_match .team p{}.box_calendar .inner_item_match .team p{float: right;}.box_calendar .inner_item_match .team p img{width:38px;height:25px;border:1px solid #e6d2a5; float: right;}.box_calendar .inner_item_match .center{width:60px;float:left;text-align:center;}.box_calendar .inner_item_match .kt{font-weight:700;color:#666}.box_calendar .inner_item_match .center span{font-size:12px;display:block}.box_calendar .inner_item_match .ic-live{color:#e9007f;text-transform:inherit;font-weight:400;display:inline-block;font-size: 14px; &:before{width: 12px;height: 12px;background: #e9007f;}}.box_calendar .inner_item_match .ic-live:before{width:12px;height:12px;margin:1px 4px 0 0}.box_calendar .inner_item_match .center .timer{font-size:16px;display:inline-block;font-weight:700;color:#fff; background: #0068c1; padding: 0 5px; border-radius: 3px; line-height: 25px; em{font-weight: 400;
  font-style: normal;
  font-size: 14px;
  position: relative;
  top: -1px;}}.box_calendar .inner_item_match .center .timer.timer-end{font-size: 16px;}.box_calendar .inner_item_match .info_match{float:right;width:calc(50% - 30px);text-align:center}.box_calendar .inner_item_match .info_match span{font-size:14px;white-space:nowrap;color:#333; float: left; margin-top: 3px; margin-left: 7px;}.box_calendar .inner_item_match .info_match p{float: left;}.box_calendar .inner_item_match .info_match p img{width:38px;height:25px;border:1px solid #e6d2a5}
.box_calendar .inner_item_match .text_info{text-align: center; color: #666;}
.box_calendar .inner_item_match .item{
  &.pen{
    .team{width: calc(50% - 40px);}
    .info_match{width: calc(50% - 40px);}
    .center{width: 80px;}
  }
}


/*box_calendar_wc2018 24hqua*/
.box_calendar_wc2018{
    margin-bottom: 20px;
    padding: 0 15px;
  .title_box_category{padding: 0;
    a{font: 700 16px arial; color: #024fa1;
        &:before{background: #024fa1;}
      }
  }
  .table-responsive{
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar; 
    .table{}
  }
  label{font-weight: bold; font-size: 14px;display: block; margin: 20px 0 10px;}
  table{
    width: 100%;border-collapse: collapse;
    thead{
      background: #f8f8f8;
      tr{
        background: #f8f8f8;padding: 10px;
        th{
          padding: 10px;
          font-size: 13px;        
          font-weight: 400; 
          white-space: nowrap;
          &:nth-child(5),&:nth-child(6){text-align: center;}        
        }
        &:nth-child(2n){
          background: #ffffff;
        }
      }
    }
    tbody{
      tr{
        td{
          padding: 10px;
          font-size: 13px;        
          font-weight: 400;
          white-space: nowrap;
          &:nth-child(5),&:nth-child(6){text-align: center;}   
        }
        &:nth-child(2n){
          background: #f8f8f8;
        }       
      }
    }
  }
  .table2{
    thead{
      tr{
        th{
          
        }
      }
    }
  }

}