<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>
      <!-- build:title -->
    </title>
    <link
      type="image/x-icon"
      href="http://ssl.gstatic.com/docs/doclist/images/infinite_arrow_favicon_5.ico"
      rel="shortcut icon"
    />
    <link rel="stylesheet" href="css/m_general.css" media="all" />
    <!-- build:head2 -->
    <!-- build:head -->
  </head>

  <body class="">
    <!-- BANNER ADS TOP -->
    <section class="section banner-top-home">
      <img src="images/graphics/banner-top.jpg" />
    </section>
    <!-- END BANNER ADS TOP -->
    <section class="section header-top">
      <div class="container flex">
        <a href="" class="humberger-btn"
          ><svg class="icon-svg">
            <use xlink:href="images/icons/icon.svg#humberger"></use></svg
        ></a>
        <a class="logo" href="#" title="#"
          ><img src="images/graphics/logo_ione.svg" />
        </a>
        <div class="right-head">
          <div class="search-btn d-none">
            <svg class="icon-svg">
              <use xlink:href="images/icons/icon.svg#search"></use>
            </svg>
            <svg class="icon-svg close">
              <use xlink:href="images/icons/icon.svg#close2"></use>
            </svg>
          </div>
          <div id="myvne_taskbar">
            <div id="myvne" class="myvne_taskbar myvne_login_button">
              <a href="#" class="log_txt" title="Đăng nhập"
                ><svg class="icon-svg">
                  <use xlink:href="images/icons/icon.svg#user"></use></svg
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="search-wrap">
        <div class="container">
          <input
            type="text"
            class="search-wrap-input"
            placeholder="Tìm kiếm..."
          />
        </div>
      </div>
    </section>

    <!-- build:content -->

    <!-- BANNER ADS TOP -->
    <section class="section banner-bottom-home">
      <img src="images/graphics/banner-bottom.jpg" />
    </section>
    <!-- END BANNER ADS TOP -->
    <!--Footer-->
    <footer class="footer">
      <div class="container">
        <div class="footer_top">
          <a href="#" title="" class="footer__logo"
            ><img src="images/graphics/logo_ione2.svg"
          /></a>
          <div class="footer__social">
            <a class="face" href="#"
              ><svg class="icon-svg">
                <use xlink:href="images/icons/icon.svg#facebook"></use></svg
            ></a>
            <a class="twitter" href="#"
              ><svg class="icon-svg">
                <use xlink:href="images/icons/icon.svg#twitter"></use></svg
            ></a>
            <a class="in" href="#"
              ><svg class="icon-svg">
                <use xlink:href="images/icons/icon.svg#twitter2"></use></svg
            ></a>
          </div>
          <div class="footer__contact">
            <strong class="">Liên hệ</strong>
            <a class="contact" href="#" title="">Liên hệ toà soạn</a>
          </div>
          <div class="logo_left">
            <a href="#" title=""
              ><img
                style="margin-top: 10px;"
                src="images/graphics/logo_vne.svg"
            /></a>
            <a href="#" title=""><img src="images/graphics/logo_ns.svg" /></a>
          </div>
        </div>
        <div class="footer_copyright">
          <p>© Copyright 2019 iOne.vnexpress.net, All rights reserved</p>
        </div>
      </div>
    </footer>
    <!--End Footer-->

    <!--Back to top-->
    <a href="javascript:;" id="to_top"><i class="ic-caret-up"></i></a>
    <!--Jquery lib-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="js/svgxuse.js"></script>
    <script type="text/javascript" src="js/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <!-- build:script -->
    <!-- build:script2 -->
    <div class="clearfix"></div>
    <script></script>
  </body>
</html>
