.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-face {
  width: 0.642578125em;
}

.icon-prev {
  width: 1.142578125em;
}

.icon-twiter {
  width: 1.23046875em;
}
