@media only screen and (max-width: 2400px) and (min-width: 1600px) {}

// Small devices (landscape phones, 576px and up) sm
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up) md
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up) lg
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up) xl
@media (min-width: 1200px) {}


@media (max-width: 1280px) {
    section.section,.slide-article{overflow: hidden;}
    .wrap-slide{padding: 0 40px;}
}

@media (max-width: 1025px) {
    .title_cate{font-size: 35px;margin-bottom: 30px;}
    .mb50{margin-bottom: 40px!important;}
    .section_dangky{
        margin: 0 -20px;
        padding: 0;
        .item{
            padding: 0 20px;
        }
    }
}

@media (max-width: 991px) {
    .section_banner{
        padding-bottom: 0;height: 300px;
    }
    .mb60{margin-bottom: 40px!important;}
    .section-khao-sat{
        .flex{
            min-height: 110px;
            h4{font-size: 18px;
                width: calc(100% - 50px);
                padding-left: 30px;
            }
            .number{
                width: 50px;
                &.one{
                    img{width: 30px;}
                }
            }
        }
    }
    .section_conso{
        padding: 60px 0;
        .col-md-7{padding-left: 20px;}
        .title{font-size: 25px;margin-bottom: 30px;}
        .flex .item{
            strong{font-size: 25px;}
        }
    }
    .chuc-nang-noi-bat{
        justify-content: center;
        .item{width: 33.33%;}
    }
    .section_dangky{
        justify-content: center;
        .item{
            width: 50%;
        }
    }
    .form_contact{
        .form_contact_text{padding-right: 15px;}
    }
    .section_new_home{
        .list_article{
            .list-item{width: 100%;padding: 0;order: 2;
                .art_item .thumb_art{
                    width: 40%;
                }
            }
            .art_left{
                width: 100%;order: 1;
            }
        }
    }
    .table td, .table th{white-space: nowrap;}
    .height-bg{height: 50px;}
    footer .row{
        .td{
            width: 50%;
            &:first-child{width:50%;}
            &:nth-child(3){width:50%;}
            &:last-child{width:50%;}
        }
    }
}

@media (max-width: 767px) {
    .title_cate{font-size: 30px;}
    .section-khao-sat{
        margin: 50px -20px 50px -20px;
        .img{order: 2;margin-top: 80px;min-height: 430px;}
        .khao-sat{
            .item{
                position: absolute;
                height: 320px;
                width: 100%;
                img{
                    -o-object-fit: cover;
                    object-fit: cover;
                    -o-object-position: center;
                    object-position: center;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                }
            }    
        }
    }
    .section-tao-de{
        .flex{
            margin: 0 -15px;
            .item{padding: 0 15px;
                img{max-width: 100%;}
            }
        }
    }
    .chuc-nang-noi-bat{
        .item{width: 50%;}
    }
    .section_conso{
        .item{margin: 10px 0 10px 0!important;}
    }
    .section_dangky{
        .item{
            width: 100%;margin: 0 0 30px 0;
        }
    }
    .form_contact{
        .form_contact_text{margin-top: 0;}
    }
}

@media (max-width: 576px) {
    .chuc-nang-noi-bat{
        .item{width: 100%;}
    }
    .section_banner{
        .text-post{
            .title,h2{font-size: 20px;}
        }
    }
    .title_cate{font-size: 25px;}
    .section-khao-sat{margin-bottom: 0;}
    .section-tao-de{
        .flex{
            justify-content: center;
            .item{width: 33.33%;}
        }
    }
    footer .row .td:first-child{padding-right: 15px;}
}

@media (max-width: 480px) {
    .chuc-nang-noi-bat{
        .item{
            &:last-child{width: 100%;}
        }
    }
    .section_lydo{
        .flex{
            .item{
                width: 50%;padding: 0 15px;margin-bottom: 15px;
                h4{margin: 0;}
            }
        }
    }
}


@media \0screen\,screen\9 {}