$color-1: #35a34a;
$color-2: #005a11;
$font1:'Fira Sans', sans-serif;
%clearfix {
    clear: both;

    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

%bgsvg {
    background-repeat: no-repeat;
    background-size: cover;
}

%flex-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex {
    @extend %flex;
}

.flex-wrap {
    @extend %flex-wrap;
}
.thumb_img {
    display: block;
    height: 0;
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .4s ease 0s;
    }

    &:hover {
        img {
            transform: scale(1.07);
        }
    }
}

.thumb_5x3 {
    padding-bottom: 60%;
}

.thumb_5x4 {
    padding-bottom: 80%;
}

.thumb_5x5 {
    padding-bottom: 100%;
}

.thumb_16x9 {
    padding-bottom: 56.25%;
}

.btn {

    &:hover {
        background: $color-1;
    }
}

$tablet-width: 768px;
$desktop-width: 992px;
$desktop-large-width: 1200px;

@mixin xs {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin not-xs {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin sm {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin not-sm {
    @media (max-width: #{$tablet-width - 1}) and (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$desktop-width}) and (max-width: #{$desktop-large-width - 1px}) {
        @content;
    }
}

@mixin not-md {
    @media (max-width: #{$desktop-width - 1}) and (min-width: #{$desktop-large-width}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$desktop-large-width}) {
        @content;
    }
}

@mixin not-lg {
    @media (max-width: #{$desktop-large-width - 1px}) {
        @content;
    }
}

.visible-lg {
    @include lg {
        display: block !important;
    }

    @include not-lg {
        display: none !important;
    }
}

.visible-md {
    @include md {
        display: block !important;
    }

    @include not-md {
        display: none !important;
    }
}

.visible-sm {
    @include sm {
        display: block !important;
    }

    @include not-sm {
        display: none !important;
    }
}

.visible-xs {
    @include xs {
        display: block !important;
    }

    @include not-xs {
        display: none !important;
    }
}

.hidden-lg {
    @include lg {
        display: none !important;
    }

    @include not-lg {
        display: block !important;
    }
}

.hidden-md {
    @include md {
        display: none !important;
    }

    @include not-md {
        display: block !important;
    }
}

.hidden-sm {
    @include sm {
        display: none !important;
    }

    @include not-sm {
        display: block !important;
    }
}

.hidden-xs {
    @include xs {
        display: none !important;
    }

    @include not-xs {
        display: block !important;
    }
}