/* Scss Document */
@import "var.scss";
.page_contact .sidebar_2 iframe{width: 298px !important; }
.space_bottom_15{
	margin-bottom: 15px;
}
.mb20{margin-bottom: 20px;}
.no_margin{
	margin: 0 !important;
}
.no_margin_right{
	margin-right: 0 !important;
}
.no_margin_bottom{
	margin-bottom: 0 !important;
}
.no_padding{
	padding: 0 !important;
}
.no_padding_right{
	padding-right: 0!important;
}
.no_border{
	border: none !important;
}
.list_title_no_dot{
	li{
		padding: 0 0 5px 0 !important;
		&:after{
			content: none !important;
		}
	}
}
.line_dotted{
	width: 100%;
	height: 1px;
	border-bottom: 1px dotted #cecece;
	border-top: 0;
	margin-bottom: 10px;
	clear: both;
}
.line_solid{
	@extend .line_dotted;
	border-bottom: 1px solid #cecece;
}
.icon_thumb_videophoto {
    width: 28px;
    display: block;
    height: 28px;
    line-height: 28px;
    text-align: center;
    position: absolute;
    background: rgba(255,255,255,0.8);
    left: 0;
    bottom: 0;
    /*.ic{
      color: #000;
      vertical-align: middle;
    }*/
	.ic-interactive{
		font-size: 16px;
		display: inline-block;
		vertical-align: middle;
		margin-top: 3px;
	}
	&.icon_thumb_zoom{
      left: auto; right: 0; bottom: auto; top: 0;
    }
	.ic-photo{
		background-position: -293px -48px;
		height: 13px;
	}
	.ic-video{
		background-position: -278px -48px;
		height: 20px;
	}
	.ic-infographic{
		background-position: -308px -47px;
	}
}

/* format thumb */
.thumb_art.large_thumb{margin-bottom: 10px !important;}
.thumb, .thumb_img{
    display: block;
    overflow: hidden;
    height: 1px;
    position: relative;
    width: 100%;
    background: #f4f4f4;
    img{
      width: 100%; float: left; object-fit: cover;
    }
}
.interactives .thumb_art{
	width: 36%;
}
.thumb_art{
	position: relative;
	margin-right: 10px;
	float: left;
	width: 140px;
	margin-bottom: 10px;
	img{
		width: 100%;
	}
}
.thum120{
	width: 120px;
}
.large_thumb{
	width: 100% !important;
	margin-bottom: 10px;
}
.thumb_medium{
	width: 45%;
}
.thumb_tags{
	width: 36%;
}
.thumb_30{
	width: 30%;
}
.thumb_full{
	width: 100% !important;
	margin-bottom: 10px;
	img{
		float: left;
		width: 100%;
	}
}
.thumb_5x3 {
padding-bottom: 60%;
}
.thumb_2x1 {
padding-bottom: 50%;
}
.thumb_1x1{
  padding-bottom: 100%;
}
.thumb_2x3{
	padding-bottom: 150%;
}
.thumb_3x4{
	padding-bottom: 133.33334%; 
}
.thumb_1x15{
	padding-bottom: 150%;
}
.title_news{
	margin-bottom: 5px;
	line-height: normal;
	/*i{margin: 0 3px;}*/
	a{
		font: 400 16px $fontmain;
		color: #333;
		position: relative;
		z-index: 3;
	}
	a:hover{
		color: #004f8b !important;
	}
}
.title_news_nomal, .title_news_nomal a{
	font: 400 14px arial;
}
.description{
	color: #333;
	font:400 13px/16px arial;
	margin-bottom: 5px;
}
.news_lead{
	@extend .description;
}
.list_title{
	border-top: 1px dotted #CCC;
	margin-top: 10px;
	padding-top: 10px;
	float: left;
	width: 100%;
	li{
		position: relative;
		padding: 0 0 5px 10px;
		/*font-size: 0;*/
		a{
			font: 400 14px 'Roboto', sans-serif;
			color: #666;
		}
		/*i{margin: 0 3px;}*/
		/*.ic-fun{
			margin-right: 3px;
		}*/
		.time_news{
			font-size: 14px;
			color: #666;
			margin-left: 3px;
		}
	}
	li:after{
		content:'';
		width: 3px;
		height: 3px;
		background: #999;
		position: absolute;
		left: 0;
		top: 9px;
	}
	.icon_news{
		i:last-child{
			margin-right: 0;
		}
	}
}

.box_100{
	width: 100px;
}

.box_thumb_large_small{
	.title_news{
		margin-top: 0 !important;
		a{font-weight: 700;}
		i:nth-of-type(1){
			margin-left: 3px;
		}
	}
}
.slide_video_box_300{
	position: relative;
	.thumb_art{
		width: 100%;
		margin-bottom: 10px;
	}
	.btn_next, .btn_prev{
		top: 20%;
	}
	.title_news{
		margin-bottom: 0 !important;
		float: left;
		margin-top: 10px;
		a{font-weight: 400;}
	}
}
/* end format thumb */

/*btn_vne*/
.btn_vne{
	background: $colormain;
	color: #fff !important;
	font: 700 12px arial;
	padding: 5px 18px;
	border: none;
	cursor: pointer;
	display: inline-block;
}
.txt_clear_all{
	font-size: 11px;
	text-decoration: underline;
	color: #666;
}
/*end btn_vne*/

/*error*/
span.error{
	display: block;
	font-size: 11px;
	color: $colormain;
	clear: both;
}
/*end error*/

/*Button owl-carousel*/
%btn_next_prev_30{
	position: absolute;
	height: 28px;
	line-height: 28px;
	width: 28px;
	background: rgba(255, 255, 255, 0.8);
	z-index: 9;
	top: 30%;
	text-align: center;
	i{
		color: #000;
	}
}
%btn_next_prev_50{
	position: absolute;
	top: 50%;
	z-index: 999;
	i{
		font-weight: bold;
		color: #000;
	}
}
.btn_next{
	@extend %btn_next_prev_30;
	right: 0;
}
.btn_prev{
	@extend %btn_next_prev_30;
	left: 0;
}

.btn_list_raovat_sidebar_prev{
	@extend %btn_next_prev_50;
	left: -5px;
}
.btn_list_raovat_sidebar_next{
	@extend %btn_next_prev_50;
	right: -5px;
}


/*End Button owl-carousel*/

/*PAGINATION*/
.pagination{
	float: right;
	margin-top: 10px;
	a{
		width: 26px;
		height: 26px;
		line-height: 26px;
		display: inline-block;
		border: 1px solid #d6d6d6;
		color: #000;
		font: 400 11px/25px arial;
		border-radius: 3px;
		text-align: center;
		margin-left: 3px;
		i{
			vertical-align:middle;
			display:inline-block;
			/*margin-top: 2px;*/
		}
		&:hover{
			@extend .active;
		}
	}
	.active{
		background: #c8c8c8;
		font-weight: 700;
	}
	.ic-caret-right, .ic-caret-left{
		opacity: .4;
	}
}
/*End PAGINATION*/

/*VIEW BY DATE*/
.view_by_date{
	height: 24px;
	display: block;
	border: 1px solid #acacac;
	padding: 0 10px 0 0;
	margin: 10px 0 20px;
	cursor:pointer;
	float: left;
	position: relative;
	z-index: 4;
	img{
		float: left;
		margin-right: 10px;
	}	
	#widgetField span{
		height: 24px;
		border: none;
	}
}
#widgetCalendar, .calendarblockvne{background: none;}
/*End VIEW BY DATE*/

.view_more{
	font: 400 11px arial !important;
	color: #666;
	float: right;
	padding-right: 10px;
	&:hover{
		color: $colormain;
	}
	/*i{
		display: inline-block;
		vertical-align: middle;
		color: $colormain;
		font-size: 6px;
	}*/
	.ic-double-arrow-right{
		background-position: -524px -17px;
	}
}
/*title_box_category cũ*/
.txt_main_category {
    display: inline-block;
    position: relative;
	&:before{
		content: '';
		background: #999;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 2px;
	}
	a{
		font: 700 14px/32px arial;
		color: $colormain;
	}
}
/*End title_box_category cũ*/

#box_fb iframe{
	width: 298px !important;
}