// CORONA VIRUS

// CORONA VIRUS

.corona_virus {
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  padding: 10px;
  text-align: center;
  color: #333333;
  font-size: 14px;
  clear: both;

  &_title {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
  }

  &_location {
    font-size: 14px;
    line-height: 16px;
    border-top: 1px solid #c4c4c4;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: normal;
    color: #222222;
  }

  &_tab {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    li {
      color: #666666;
      font-weight: 700;
      width: 50%;
      border-bottom: 1px solid #c4c4c4;
      padding: 10px;
      cursor: pointer;

      &.active {
        color: #333333;
        border-bottom: 2px solid #9f224e;
      }
    }
  }

  &_data {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    >div {
      width: calc((100% - 20px) / 3);
      padding: 5px;
      background: #e5e5e5;
      font-weight: 700;

      >span {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
      }
    }

    .corona_khoibenh,
    .corona_nhiembenh,
    .corona_tuvong {
      font-size: 20px;
      line-height: 28px;

      &:after {
        display: block !important;
        font-size: 14px;
        line-height: 16px;
        margin-top: 5px;
        font-weight: 400;
      }
    }

    .corona_nhiembenh {
      &::after {
        content: 'Nhiễm' !important;
      }
    }

    .corona_tuvong {
      background: #999999;
      color: #fff;

      &::after {
        content: 'Tử vong';
      }
    }

    .corona_cachly {
      &::before {
        content: 'Cách ly: ';
        font-weight: 400;
      }
    }

    .corona_khoibenh {
      order: 2;

      &::after {
        content: 'Khỏi';
        font-weight: 400;
      }
    }

    .corona_nghinhiem {
      &::before {
        content: 'Cách ly: ';
        font-weight: 400;
      }
    }

    .corona_cachly,
    .corona_nghinhiem {
      display: none !important;
    }
  }

  &_source {
    color: #757575;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 14px;

    @media (max-width: 767px) {
      margin-top: 10px;
    }
  }
}

// .corona_virus_vietnam {
//   &>div {
//     width: calc((100% - 10px) / 2);
//   }

//   .corona_tuvong {
//     display: none;
//   }
// }

// VIRUS CORONA DETAIL

.corona_virus--detail {
  .corona_virus_title {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
  }

  .corona_virus_vietnam {
    &>div {
      padding-top: 20px !important;
    }
  }

  .corona_virus_content {
    display: flex;

    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  .corona_table {
    flex-grow: 1;
    margin-right: 22px;
    font-size: 14px;
    line-height: 16px;
    max-height: 209px;
    overflow: auto;

    @media (max-width: 767px) {
      width: 100%;
      margin-right: 0;
    }

    table {
      width: 100%;

      td {
        padding: 10px;
        border-top: 1px solid #e5e5e5;
      }

      th {
        font-weight: 400;
        color: #757575;
        padding: 0 10px 5px 10px;

        &:first-child {
          text-align: left;
          padding-left: 0;
        }
      }

      tr:first-child {
        th:first-child {
          text-align: left;
        }

        th:not(:first-child) {
          text-align: right;
        }
      }

      tr:not(:first-child) {
        td:first-child {
          text-align: left;
          padding-left: 0;
        }

        td:not(:first-child) {
          font-weight: 700;
          text-align: right;
        }
      }
    }
  }

  .corona_virus_tab {
    margin-top: 10px;
    margin-bottom: 0;
    border-top: 1px solid #bdbdbd;
    justify-content: flex-start;

    li {
      width: auto;
      position: relative;
      border-bottom: none;
      color: #757575;
      font-weight: 400;
      padding: 10px;
      padding-top: 20px;
      overflow: visible;

      &.active {
        color: #222222;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: auto;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 10px 0 10px;
          border-color: #bdbdbd transparent transparent transparent;
        }

        &:after {
          position: absolute;
          top: -2px;
          left: 0;
          right: 0;
          margin: auto;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 10px 0 10px;
          border-color: #f7f7f7 transparent transparent transparent;
        }
      }
    }
  }

  .corona_virus_data {
    width: 35%;

    >div {
      font-size: 20px;
      line-height: 37px;
      padding: 10px 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @media (max-width: 767px) {
      width: 100%;
      order: -1;

      >div {
        font-size: 18px;
        line-height: 28px;
      }
    }

    @media (min-width: 768px) {
      >div {
        width: 100%;
        padding: 5px 5px;

        &::after {
          margin-top: 0;
        }

        &:nth-child(n + 3) {
          margin-top: 10px;
        }
      }
    }

    .corona_tuvong {
      background: #999999;
      display: block !important;

      @media (min-width: 768px) {
        margin-top: 10px;
      }
    }
  }
}



span.corona_note,
span.corona_note_s {
  display: none !important;
}

// VIRUS CORONA MAP DETAIL
.world-corona-detail {
  .flex {
    display: flex;
    flex-wrap: wrap;
  }

  clear: both;
  margin-bottom: 25px;

  img {
    vertical-align: middle;
  }

  &__map {
    position: relative;

    .nation {
      position: absolute;
      display: none;

      .dotted {
        background: #666;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;

        &:hover {
          &+.tag_nation {
            display: block;
          }
        }
      }

      .tag_nation {
        position: absolute;
        display: none;
        width: 124px;
        background: #ffffff;
        padding: 6px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
        z-index: 2;

        label {
          color: #333333;
          font: bold 12px Arial;
          display: block;
          margin-bottom: 5px;
        }

        .flex {
          justify-content: center;

          strong {
            height: 24px;
            min-width: 45px;
            font: bold 14px/24px Arial;
            color: #ffffff;
            background: #48b71d;
            padding: 0 7px;
            text-align: center;
            margin: 0 1.5px;
          }

          .infected {
            background: #bf3d2d;
          }

          .dead {
            background: #8c7d7c;
          }
        }
      }

      &.china {
        top: 185px;
        right: 194px;

        .dotted {
          width: 15px;
          height: 15px;
        }
      }

      &.nga {
        top: 120px;
        right: 186px;
      }

      &.hanquoc {
        top: 215px;
        right: 190px;

        .dotted {
          width: 12px;
          height: 12px;
        }
      }

      &.japan {
        top: 200px;
        right: 153px;

        .dotted {
          width: 10px;
          height: 10px;
        }
      }

      &.dailoan {
        top: 255px;
        right: 207px;
      }

      &.vietnam {
        top: 263px;
        right: 246px;
      }

      &.philippin {
        top: 302px;
        right: 196px;
      }

      &.campuchia {
        top: 288px;
        right: 248px;
      }

      &.malay {
        top: 316px;
        right: 226px;
      }

      &.singapore {
        top: 315px;
        right: 254px;
      }

      &.thailan {
        top: 277px;
        right: 256px;
      }

      &.australia {
        bottom: 120px;
        right: 156px;
      }

      &.new-zeland {
        bottom: 80px;
        right: 66px;
      }

      &.pakistan {
        top: 244px;
        right: 346px;
      }

      &.ando {
        top: 268px;
        right: 319px;
      }

      &.afgha {
        top: 220px;
        right: 349px;
      }

      &.oman {
        top: 263px;
        right: 375px;
      }

      &.qata {
        top: 251px;
        right: 388px;
      }

      &.armen {
        top: 204px;
        right: 406px;
      }

      &.uae {
        top: 256px;
        right: 381px;
      }

      &.nigeria {
        top: 295px;
        right: 503px;
      }

      &.hylap {
        top: 207px;
        right: 466px;
      }

      &.bahrain {
        top: 247px;
        right: 391px;
      }

      &.iraq {
        top: 227px;
        right: 408px;
      }

      &.iran {
        top: 227px;
        right: 380px;

        .dotted {
          width: 12px;
          height: 12px;
        }
      }

      &.kuwait {
        top: 237px;
        right: 400px;
      }

      &.aicap {
        top: 246px;
        right: 445px;
      }

      &.israel {
        top: 223px;
        right: 429px;
      }

      &.lebanon {
        top: 233px;
        right: 433px;
      }

      &.algeria {
        top: 233px;
        right: 514px;
      }

      &.italy {
        top: 199px;
        right: 484px;

        .dotted {
          width: 12px;
          height: 12px;
        }
      }

      &.macedonia {
        top: 199px;
        right: 466px;
      }

      &.luxem {
        top: 171px;
        right: 507px;
      }

      &.dominica {
        top: 270px;
        right: 707px;
      }

      &.ecuador {
        top: 326px;
        right: 727px;
      }

      &.mexico {
        top: 256px;
        left: 207px;
      }

      &.brazil {
        top: 336px;
        left: 307px;
      }

      &.my {
        top: 216px;
        left: 227px;

        .dotted {
          width: 10px;
          height: 10px;
        }
      }

      &.canada {
        top: 146px;
        left: 197px;
      }

      &.tbn {
        top: 202px;
        left: 463px;

        .dotted {
          width: 8px;
          height: 8px;
        }
      }

      &.halan {
        top: 163px;
        left: 485px;
      }

      &.nauy {
        top: 130px;
        left: 494px;
      }

      &.thuysi {
        top: 181px;
        left: 494px;
      }

      &.ao {
        top: 179px;
        left: 510px;
      }

      &.phap {
        top: 181px;
        left: 480px;

        .dotted {
          width: 8px;
          height: 8px;
        }
      }

      &.anh {
        top: 161px;
        left: 468px;
      }

      &.duc {
        top: 164px;
        left: 498px;

        .dotted {
          width: 8px;
          height: 8px;
        }
      }

      &.thuydien {
        top: 129px;
        left: 511px;
      }

      @media (min-width: 1000px) {
        display: block;
      }
    }
  }

  &__statistical1 {
    background: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 2;

    .item {
      display: inline-block;
      color: #888888;
      text-align: center;
      margin: 0 10px;

      label {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        display: block;
        margin-bottom: 6px;
      }

      strong {
        color: #ffffff;
        font-weight: bold;
        font-size: 20px;
        background: #48b71d;
        height: 38px;
        line-height: 38px;
        padding: 0 15px;
        display: block;
      }

      &:nth-child(1) {
        strong {
          background: #bf3d2d;
        }
      }

      &:nth-child(2) {
        strong {
          background: #666666;
        }
      }

      &:nth-child(4) {
        strong {
          background: #c49d3b;
        }
      }
    }
  }

  &__statistical2 {
    border: 1px solid #f4f4f4;
    padding: 44px 20px 20px 20px;

    .column-gird {
      column-count: 3;
      column-gap: 88px;
      font: 400 13px Arial;
      color: #333333;

      li {
        border-bottom: 1px solid #e6e6e6;
        display: flex;
        justify-content: space-between;
        padding: 5px 0;

        .nation {
          width: 106px;
        }

        .infected {
          font-weight: bold;
          color: #bf3d2d;
          text-align: right;
        }

        .dead {
          color: #666666;
          font-weight: bold;
          text-align: right;
        }

        &:first-child {

          .infected,
          .dead {
            font-weight: 400;
          }

          .dead {
            color: #333;
          }
        }
      }
    }

    .table-list {
      margin: 0 -44px;

      .item {
        padding: 0 44px;
        width: 33.33%;

        &:first-child {
          table.table {
            margin-top: -24px;

            tr {
              &:first-child {
                td {
                  border-bottom: 0;
                }

                .dead {
                  color: #333;
                }

                .infected,
                .dead {
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
    }

    table.table {
      font: 400 13px Arial;
      color: #333333;
      margin: 0;
      width: 100%;

      tr {
        td {
          border-bottom: 1px solid #e6e6e6;
          padding: 4px 0;
        }

        &:last-child {
          td {
            border-bottom: 0;
          }
        }
      }

      .nation {
        width: 106px;
      }

      .infected {
        font-weight: bold;
        color: #bf3d2d;
        text-align: right;
      }

      .dead {
        color: #666666;
        font-weight: bold;
        text-align: right;
      }
    }

    .ratio-list {
      border-top: 1px solid #f4f4f4;
      padding-top: 20px;
      margin-top: 20px;

      .flex {
        margin: 0 -12.5px;
      }

      .item {
        width: 25%;
        padding: 0 12.5px;
        position: relative;
        text-align: center;
        font: 400 13px/1.4 Arial;
        color: #666666;
        padding: 20px;

        &::before {
          content: '';
          background: #f4f4f4;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 12.5px;
          right: 12.5px;
          z-index: -1;
        }

        label {
          color: #888888;
          font: bold 16px Arial;
          display: inline-block;
          position: relative;

          &::before {
            content: '';
            background: rgba(0, 0, 0, 0.1);
            width: 122px;
            height: 1px;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translate(-50%, 0);
          }
        }

        .numbers {
          color: #bf3d2d;
          font: bold 50px Arial;
          display: block;
          margin: 12px 0;

          span {
            font-size: 20px;
          }
        }
      }
    }
  }

  @media (max-width: 1000px) {
    &__statistical2 {
      .table-list {
        margin: 0 -20px;

        .item {
          padding: 0 20px;
          width: 100%;
        }
      }

      table.table tr {
        .infected {
          width: 350px;
        }

        &:last-child td {
          border-bottom: 1px solid #e6e6e6;
        }
      }

      .ratio-list {
        .item {
          width: 50%;
          margin-bottom: 25px;
        }
      }
    }
  }
}