/* Scss Document */
_:-ms-fullscreen, :root .scrollbar-inner > .scroll-element.scroll-x {
	display: none;
}
_:-ms-fullscreen, :root .scroll-wrapper .comment_item {
	padding: 10px 20px 0 10px;
}
.detail_live{
	.noborder{
		border-left: 1px solid  #fff !important;
	}
	.news_lead{
		clear: both;
		.lead{
		    display: block;
		    font-size: 16px;
		    margin-bottom: 15px;			
		}
	}
	.title_news_detail{
		font-size: 32px;
	    color: #333;
	    font-weight: 700;
	    margin: 15px 0;
	    line-height: 1.3;
	}
	.description{
	    font-size: 15px;
	    line-height: 1.4;  	
	}	
	.sidebar_2{
		.box_comment_vne{
			max-height: 380px;
			padding-right: 10px;
			.scroll-element.scroll-x.scroll-scrollx_visible.scroll-scrolly_visible{display: none;}
			&.scroll-wrapper>.scroll-content{width: 300px !important;}
		}
	}
	.fck_detail{
		padding-bottom: 0;margin-bottom: 0;
		a{border-bottom: 0;}
	}
}
.tab_live_time{
	width: 100%;
	float: left;
	border-bottom: 2px solid rgba(153, 153, 153, .3);
	margin-bottom: 30px;
	a{
	    padding: 0px 12px;
	    font-size: 17px;
	    color: #666;
	    background: #eeeeee;
	    float: left;
	    margin-right: 5px;
	    height: 40px;
	    line-height: 40px;
	     border-radius: 3px 3px 0 0;
		&.active{
			background: $colormain;	color: #fff;
		}		
	}
}
.sidebar_1{
	.tab_live_time{
		background: #fff;
		margin: 0px 0 10px;
		a{
			&.active{
				background: $colormain;
				color: #fff;
			}
		}
	}
}
.block_filter_live{
	width: 100%;
    float: left;
    height: 40px;
    background: #fafafa;
    margin: 0 0 15px;
	a{
		display: inline-block;
		float: left;
		padding: 0 10px;
		font: 400 16px/40px arial;
		color: #999 !important;
		&.active{
			color: $colormain !important;
			font: 400 16px/40px arial;
			background: #f1f1f1;
		}
	}
}
.fck_detail .info_befo{
	table{margin: 0 auto}
}
.filter_left{
	float: left;
	.active{
		background: none repeat scroll 0 0 #f1f1f1;
		color: $colormain;
		font: 400 14px/40px arial;
		display: block;
		float: left;
		padding: 0 10px;
		cursor: pointer;
	}
	label{
		cursor: pointer;
    	float: left;
	}
	a{
		color: #666 !important;
	}
}
.filter_right{
	float: right;
	a{
		color: #000;
	}
}
.live_post_status{
	width: 100%;
    float: left;
    text-align: center;
    padding: 10px 0;
    background: #f4f4f4;
    margin: 0 0 15px;
}
.checking_filter{
	float: left;
    margin: 13px 5px 0 0;
}
.container_tab_live{
	ul{
		li{
			float: left;
			width: 100%;
			margin-bottom: 10px;
			padding: 10px 0 0 0;
			overflow: hidden;
			position: relative;
			border-bottom: dashed #eaeaea 1px;
			&.no_space{
				margin: 0;
				border: none;
			}
			.block_share{
				visibility: hidden;
				opacity: 0;
				transition: all 0.3s;
				text-align: right;
				float: right;
				font-family: "arial";
				font-size: 14px;
				line-height: 18px;
				position: relative;
				svg {
					color: $colormain;
				}
			}
			&:hover{
				.block_share{
					opacity: 1;
					visibility: visible;
				}
			}
			a{
				color: #333;
				&:hover{
					color: #004f8b;
				}
			}
            .day_time {
                font: 700 16px arial;
                color: $colormain;
                padding: 0 0 10px;
            }
            table{
            	tr{margin-bottom: 0;}
            	.txt_main_category{border-bottom: 0!important;
            		&:before{display:none;}
            	}
            	.title_box_category{
            		&:after{display:none;}
            	}
            }
            #ratting_vne_core{margin: 0}
            .embed-container{margin-bottom:0!important}
		}
	}
	.minutes{
		float: left;
		width: 19%;
		position: relative;
		color: $colormain;
		font-size: 15px;
		span{
			display: inline-block;
    		text-align: center;
		}
		.special_time{
			color: #fff;
		    font-size: 15px;
		    background: $colormain;
		    padding: 1px 3px;
		    border-radius: 4px;
		}		
	}
    
	.icon_live{
		position: absolute;
		height: 24px;
		width: 24px;
		right: 25%;
		top: 0;
		.ic{
		  display: inline-block; vertical-align: middle; font-size: 20px;
		}
		svg{width: 20px;height: 20px;}
		&.icon_dot_live{
		  position: absolute;
		  right: 35px;
		  top: -3px;
		  margin: 0;
		}
		&.icon_dot_live::before{
		  width: 5px; height:5px; content: "";
		  border: 1px solid #e0e0e0;
		  position: absolute;
		  top: 50%; margin-top: -2.5px;
		  left: 50%; margin-left: -2.5px;
		  background: #fff;
		}
		i.ic.ic-own-goal{
			color: #ec1c24;
		}
	}
	.text_live{
		float: right;
		width: 80%;
		font-family: "arial";
		position: relative;
		padding-bottom: 10px;
		/*p{
			margin: 0 0 5px;
		}*/
		& > table:first-child{
			margin-top: 0;
		}
		.block_related .title_news a{color: #333 !important;font-weight: bold;font-size: 16px;font-family: arial;}
		& > strong{margin-bottom:10px;display: inline-block;font-size: 17px;}
	}
	/*.Normal{
		margin: 0 0 5px 0 !important;
	}*/
}
.new_post{
	background: #f4f4f4;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 84px!important;
    width: 681px;
    z-index: 99999!important;
	a{
		font: 700 12px/16px arial;
		color: $colormain !important;
	}
	.icon{
		background: $colormain;
		width: 18px;
		height: 18px;
		display: inline-block;
		border-radius: 50%;
		margin-right: 5px;
		i{
			color: #fff;
			font-size: 8px;
		}
		.ic-double-arrow-down{
			margin-top: 3px;
		}
	}
	.text{
		display: inline-block;
		vertical-align: middle;
	}
}

.dien_bien{
    background: #daf3ff;
    border: 1px solid #0b9ee7;
    float: left;
    width: 100%;
    margin-bottom: 10px;
	border-radius: 2px;
	a{
		display: block;
		color: #0b9ee7 !important;
		padding: 9px 0;
		text-align: center;
		width: 100%;
		font-size: 17px;
		font-weight: 400;
	}
}
.new_comment_post {
   	display: block;
    color: $colormain;
    font-size: 13px;
    text-align: center;
    padding: 5px 0;
    background: rgba(238, 238, 238, 0.5);
    width: 100%;
    float: left;
}
.list_news:last-of-type, .art_item:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.block_related{
	margin-bottom: 10px;
	margin-left: 0;
	.title_news{
		margin-bottom: 10px;
		a{
			color: #000 !important;
			&:hover{
				color: #004f8b !important;
			}
		}
	}
	.thumb_art{
		width: 25% !important;
		.icon_thumb{
		    background-image: -moz-linear-gradient(left, #0799ff #21d4fd);
		    background-image: -webkit-gradient(linear, left top, right top, from(#0799ff), to(#21d4fd));
		    background-image: -webkit-linear-gradient(left, #0799ff, #21d4fd);
		    background-image: -o-linear-gradient(left, #0799ff, #21d4fd);
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 25px;
		    height: 25px;
		    line-height: 25px;
		    text-align: center;
		    .icon-ns{
		    	color: #fff;margin: 0;
		    }		
		}
	}
	.description{
		padding-bottom: 15px;
		margin: 0;
    	font: 400 14px 'Roboto', sans-serif;
    	line-height: 1.4;
	}
}
.stick {
    position: fixed;
    z-index: 999;
    background: #fff;
    padding-bottom: 10px;
	top: 0;
}

.box_comment_vne .scrollbar-inner>.scroll-element.scroll-x{display: none;}
#list_comment{padding-right: 10px; max-height: 380px !important}

@media screen and (max-width: 1000px){
	.detail_live .sidebar_2 .box_comment_vne{max-height: inherit !important;}
}