/**WIDGET COVID 03**/
/* @include cubic-transition($delay: 0, $duration: 200ms, $property: (all)); */
.widget-covid-tracker {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: calc(100% + 30px);
  float: left;
  margin-left: -15px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif !important;
  color: #222;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  background: #f7f7f7;
  padding: 15px; }
  .widget-covid-tracker * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    list-style: none; }
  .widget-covid-tracker .top-head-cov {
    width: 100%;
    float: left;
    display: flex;
    font-size: 14px;
    line-height: 14px;
    color: #757575;
    flex-wrap: wrap;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px; }
    .widget-covid-tracker .top-head-cov .txt-top {
      font-family: "Merriweather", Arial, sans-serif;
      font-size: 16px;
      line-height: 150%;
      color: #222;
      font-weight: bold; }
    .widget-covid-tracker .top-head-cov .info-txt-top {
      width: 100%;
      line-height: 130%;
      margin-top: 5px; }
      .widget-covid-tracker .top-head-cov .info-txt-top .flash {
        display: inline-block;
        vertical-align: top;
        margin: 0 10px;
        color: #e5e5e5; }
  .widget-covid-tracker .search-local {
    width: 100%;
    float: left;
    position: relative;
    padding-right: 50px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    margin-top: 10px;
    background: #fff; }
    .widget-covid-tracker .search-local .input-local {
      width: 100%;
      height: 40px;
      padding-left: 10px;
      font-size: 16px;
      border: none;
      outline: none; }
    .widget-covid-tracker .search-local .button-local {
      width: 40px;
      height: 40px;
      background: #fff;
      text-align: center;
      line-height: 40px;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      outline: none; }
      .widget-covid-tracker .search-local .button-local img {
        display: inline-block;
        vertical-align: middle; }
    .widget-covid-tracker .search-local .tt-menu {
      border: 1px solid #E5E5E5;
      background: #FFFFFF;
      padding-top: 15px;
      position: absolute;
      width: 100%;
      top: 45px !important;
      display: none;
      z-index: 2 !important;
      min-height: 300px; }
      .widget-covid-tracker .search-local .tt-menu hr {
        margin: 15px 0;
        border: 0;
        border-bottom: 1px solid #E5E5E5; }
      .widget-covid-tracker .search-local .tt-menu li {
        cursor: pointer; }
      .widget-covid-tracker .search-local .tt-menu .tt-dataset li {
        margin-bottom: 10px;
        padding: 5px 25px;
        font-size: 16px; }
        .widget-covid-tracker .search-local .tt-menu .tt-dataset li a {
          color: #222222; }
          .widget-covid-tracker .search-local .tt-menu .tt-dataset li a:hover {
            color: #9F224E; }
        .widget-covid-tracker .search-local .tt-menu .tt-dataset li i {
          margin-right: 15px;
          color: #757575; }
      .widget-covid-tracker .search-local .tt-menu .tt-dataset-0 li {
        position: relative; }
        .widget-covid-tracker .search-local .tt-menu .tt-dataset-0 li:last-child {
          padding-bottom: 15px; }
          .widget-covid-tracker .search-local .tt-menu .tt-dataset-0 li:last-child::before {
            content: "";
            border-top: 1px solid #E5E5E5;
            position: absolute;
            left: 25px;
            right: 25px;
            bottom: 0; }
      .widget-covid-tracker .search-local .tt-menu mark {
        background: #9F224E;
        color: #fff;
        font-weight: 400; }
  .widget-covid-tracker .form-search.active .tt-menu {
    display: block; }
  .widget-covid-tracker .box-quantam {
    width: 100%;
    float: left;
    position: relative; }
    .widget-covid-tracker .box-quantam .overlay-link {
      width: 120px;
      height: 24px;
      background: url(images/overlay-next-mobile.png) no-repeat 0 0;
      outline: none;
      position: absolute;
      top: 15px;
      right: 0; }
  .widget-covid-tracker .wrap-scroll-faq::-webkit-scrollbar {
    display: none; }
  .widget-covid-tracker .wrap-scroll-faq {
    width: 100%;
    float: left;
    display: flex;
    position: relative;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch; }
    .widget-covid-tracker .wrap-scroll-faq ul {
      font-size: 0;
      display: table; }
      .widget-covid-tracker .wrap-scroll-faq ul li {
        display: table-cell;
        padding: 0 10px;
        white-space: nowrap; }
        .widget-covid-tracker .wrap-scroll-faq ul li:first-child {
          padding-left: 0; }
        .widget-covid-tracker .wrap-scroll-faq ul li:last-child {
          padding-right: 0; }
        .widget-covid-tracker .wrap-scroll-faq ul li a {
          display: block;
          font-size: 14px;
          font-weight: 400;
          padding: 15px 0 10px 0;
          line-height: 160%;
          color: #087CCE !important;
          text-decoration: none !important; }

.box-placeholder {
  font-size: 0;
  line-height: 0; }
  .box-placeholder .text {
    display: inline-block;
    background-color: #444;
    height: 12px;
    border-radius: 100px;
    margin: 5px 0;
    min-width: 100px;
    opacity: .1;
    animation: fading 1.5s infinite; }
    .box-placeholder .text:first-child {
      margin-top: 0; }
    .box-placeholder .text:last-child {
      margin-bottom: 0; }
    .box-placeholder .text.link {
      background-color: var(--blue);
      opacity: .4; }
    .box-placeholder .text.line {
      width: 100%; }
    .box-placeholder .text.category {
      width: 100px;
      margin-bottom: 10px; }
  .box-placeholder h4.text {
    height: 20px;
    margin: 3px 0;
    opacity: .2; }

@keyframes fading {
  0% {
    opacity: .1; }
  50% {
    opacity: .2; }
  100% {
    opacity: .1; } }
.box-placeholder.widget-covid-tracker .top-head-cov .txt-top.text {
  height: 20px; }
.box-placeholder.widget-covid-tracker .top-head-cov .info-txt-top.text {
  height: 12px;
  width: 100%; }
.box-placeholder.widget-covid-tracker .search-local {
  padding-right: 0; }
  .box-placeholder.widget-covid-tracker .search-local .text {
    height: 40px;
    border-radius: 0; }
.box-placeholder.widget-covid-tracker .box-quantam {
  margin-top: 10px; }
  .box-placeholder.widget-covid-tracker .box-quantam .text {
    height: 40px;
    border-radius: 0; }

/*# sourceMappingURL=m-widget-covid-tracker.css.map */
