/**WIDGET COVID 03**/
/* @include cubic-transition($delay: 0, $duration: 200ms, $property: (all)); */
.widget-covid-03 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: calc(100% + 30px);
  float: left;
  margin-left: -15px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif !important;
  color: #222;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  background: #f7f7f7;
  padding: 15px;
  font-feature-settings: 'pnum' on , 'lnum' on; }
  .widget-covid-03 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    list-style: none; }
  .widget-covid-03 .top-head-cov {
    width: 100%;
    float: left;
    display: flex;
    font-size: 14px;
    line-height: 14px;
    color: #757575;
    flex-wrap: wrap;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px; }
    .widget-covid-03 .top-head-cov .txt-top {
      font-family: "Merriweather", Arial, sans-serif;
      font-size: 18px;
      line-height: 150%;
      color: #222;
      font-weight: bold; }
    .widget-covid-03 .top-head-cov .info-txt-top {
      width: 100%;
      line-height: 130%;
      margin-top: 5px;
      margin-bottom: 0; }
      .widget-covid-03 .top-head-cov .info-txt-top .flash {
        display: inline-block;
        vertical-align: top;
        margin: 0 10px;
        color: #e5e5e5; }
  .widget-covid-03 .search-local {
    width: 100%;
    float: left;
    position: relative;
    padding-right: 50px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    margin-top: 10px;
    background: #fff; }
    .widget-covid-03 .search-local .input-local {
      width: 100%;
      height: 40px;
      padding-left: 10px;
      font-size: 16px;
      border: none;
      outline: none; }
    .widget-covid-03 .search-local .button-local {
      width: 40px;
      height: 40px;
      background: #fff;
      text-align: center;
      line-height: 40px;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      outline: none; }
      .widget-covid-03 .search-local .button-local img {
        display: inline-block;
        vertical-align: middle; }
  .widget-covid-03 .wrap-slide-bn {
    margin-top: 10px;
    width: 100%;
    float: left;
    position: relative; }
    .widget-covid-03 .wrap-slide-bn .swiper-button-next-bn, .widget-covid-03 .wrap-slide-bn .swiper-button-prev-bn {
      width: 70px;
      height: 100%;
      position: absolute;
      top: -5px;
      z-index: 1;
      outline: none; }
      .widget-covid-03 .wrap-slide-bn .swiper-button-next-bn.swiper-button-disabled, .widget-covid-03 .wrap-slide-bn .swiper-button-prev-bn.swiper-button-disabled {
        opacity: 0;
        visibility: hidden; }
    .widget-covid-03 .wrap-slide-bn .swiper-button-next-bn {
      right: 0;
      background: linear-gradient(270deg, #F7F7F7 1.56%, rgba(247, 247, 247, 0) 52.08%);
      /*background: linear-gradient(270deg, #FFFFFF 3.84%, rgba(255, 255, 255, 0) 128%);*/ }
    .widget-covid-03 .wrap-slide-bn .swiper-button-prev-bn {
      display: none; }
  .widget-covid-03 .item-bn {
    border: 1px solid #e5e5e5;
    background: #fff;
    border-radius: 3px;
    font-size: 16px;
    line-height: 130%; }
    .widget-covid-03 .item-bn .sum-info-bn {
      width: 100%;
      display: flex;
      align-items: center; }
    .widget-covid-03 .item-bn .number-bn {
      width: 80px;
      height: 80px;
      background: url(images/bg-number.svg) no-repeat 0 0;
      text-align: center;
      line-height: 80px;
      color: #fff;
      font-size: 24px;
      font-weight: bold; }
    .widget-covid-03 .item-bn .sum-text-bn {
      width: calc(100% - 80px);
      padding-left: 15px;
      display: flex;
      flex-wrap: wrap; }
      .widget-covid-03 .item-bn .sum-text-bn .ul-sum {
        width: 100%;
        float: left;
        display: flex;
        flex-wrap: wrap; }
        .widget-covid-03 .item-bn .sum-text-bn .ul-sum li {
          margin-top: 5px;
          width: 100%; }
          .widget-covid-03 .item-bn .sum-text-bn .ul-sum li:first-child {
            margin-top: 0; }
    .widget-covid-03 .item-bn .history-move {
      position: relative;
      padding-left: 12px;
      margin-top: 10px;
      margin-bottom: 0; }
      .widget-covid-03 .item-bn .history-move:before {
        width: 5px;
        height: 5px;
        background: #e5e5e5;
        content: '';
        border-radius: 50%;
        position: absolute;
        top: 7px;
        left: 0; }
    .widget-covid-03 .item-bn .link-detail {
      width: 100%;
      float: left;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 0; }
      .widget-covid-03 .item-bn .link-detail a {
        color: #4f4f44 !important;
        text-decoration: none !important;
        font-size: 16px !important;
        background: #f7f7f7;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        padding: 10px 20px;
        display: inline-block; }
    .widget-covid-03 .item-bn.item-bn-1 {
      width: 100%;
      float: left; }
      .widget-covid-03 .item-bn.item-bn-1 .sum-text-bn .ul-sum li {
        width: 100%; }
        .widget-covid-03 .item-bn.item-bn-1 .sum-text-bn .ul-sum li:nth-child(2) {
          margin-top: 2px; }
  .widget-covid-03 .swiper-pagination {
    position: relative;
    margin-top: 20px;
    width: 100%;
    float: left;
    bottom: auto; }
  .widget-covid-03 .swiper-pagination-bullet {
    width: 30px;
    height: 8px;
    display: inline-block;
    border-radius: 0;
    background: #e5e5e5;
    opacity: 1;
    margin: 0 5px; }
  .widget-covid-03 .swiper-pagination-bullet-active {
    background: #949494; }
  .widget-covid-03 .swiper-slide {
    width: 90%; }
  .widget-covid-03 .inner-slide-bn {
    width: 100%;
    float: left;
    padding: 20px 10px; }
  .widget-covid-03 .res-search {
    width: 100%;
    float: left;
    font-size: 16px;
    line-height: 100%;
    color: #4f4f4f; }
  .widget-covid-03 .popup-detail-move {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999999;
                                                                                /*opacity: 0; visibility: hidden;
@include cubic-transition($delay: 0, $duration: 200ms, $property: (all));*/ }
    .widget-covid-03 .popup-detail-move .overlay-move {
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    .widget-covid-03 .popup-detail-move .block-detail-move {
      width: 100%;
      max-width: 720px;
      background: #fff;
      max-height: 100vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .widget-covid-03 .popup-detail-move .close-pop-move {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 32px;
      height: 32px;
      background: #fff;
      cursor: pointer;
      border-radius: 50%;
      text-align: center;
      line-height: 32px;
      font-family: -webkit-body;
      font-size: 33px;
      color: #4f4f4f; }
    .widget-covid-03 .popup-detail-move .header-pop {
      width: 100%;
      float: left;
      height: 52px;
      line-height: 52px;
      border-bottom: 1px solid #e5e5e5;
      font-size: 18px;
      font-weight: bold;
      text-align: center; }
    .widget-covid-03 .popup-detail-move .inner-detail-move {
      width: 100%;
      float: left;
      padding: 20px 15px; }
    .widget-covid-03 .popup-detail-move .item-bn {
      width: 100%;
      float: left;
      border: none;
      font-size: 18px;
      line-height: 160%; }
      .widget-covid-03 .popup-detail-move .item-bn .inner-slide-bn {
        padding: 0; }
      .widget-covid-03 .popup-detail-move .item-bn .number-bn {
        font-size: 24px;
        display: block; }
      .widget-covid-03 .popup-detail-move .item-bn .ul-sum li {
        font-size: 16px;
        line-height: 130%;
        width: 100%; }
        .widget-covid-03 .popup-detail-move .item-bn .ul-sum li:nth-child(2) {
          margin-top: 5px; }
        .widget-covid-03 .popup-detail-move .item-bn .ul-sum li.status-bn {
          position: relative;
          padding-left: 17px;
          order: 5;
          width: auto; }
          .widget-covid-03 .popup-detail-move .item-bn .ul-sum li.status-bn:before {
            width: 10px;
            height: 10px;
            background: #bdbdbd;
            border-radius: 50%;
            content: '';
            position: absolute;
            top: 5px;
            left: 0; }
        .widget-covid-03 .popup-detail-move .item-bn .ul-sum li.status-txt {
          order: 4;
          width: auto;
          float: left;
          margin-right: 7px; }
      .widget-covid-03 .popup-detail-move .item-bn p {
        margin-bottom: 15px; }
      .widget-covid-03 .popup-detail-move .item-bn .link-detail {
        margin-bottom: 0; }
        .widget-covid-03 .popup-detail-move .item-bn .link-detail a {
          font-size: 15px;
          width: 100%;
          max-width: 300px; }
      .widget-covid-03 .popup-detail-move .item-bn .history-move:before {
        top: 12px; }
      .widget-covid-03 .popup-detail-move .item-bn .sum-info-bn {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e5e5; }
    .widget-covid-03 .popup-detail-move .scroll-detail-move {
      max-height: calc(100vh - 293px);
      overflow: auto; }
    .widget-covid-03 .popup-detail-move .list-bn-tx {
      width: 100%;
      float: left;
      display: flex; }
      .widget-covid-03 .popup-detail-move .list-bn-tx .number-bn {
        margin: 0 5px;
        text-decoration: none !important; }

.box-placeholder {
  font-size: 0;
  line-height: 0; }
  .box-placeholder .text {
    display: inline-block;
    background-color: #444;
    height: 12px;
    border-radius: 100px;
    margin: 5px 0;
    min-width: 100px;
    opacity: .1;
    animation: fading 1.5s infinite; }
    .box-placeholder .text:first-child {
      margin-top: 0; }
    .box-placeholder .text:last-child {
      margin-bottom: 0; }
    .box-placeholder .text.link {
      background-color: var(--blue);
      opacity: .4; }
    .box-placeholder .text.line {
      width: 100%; }
    .box-placeholder .text.category {
      width: 100px;
      margin-bottom: 10px; }
  .box-placeholder h4.text {
    height: 20px;
    margin: 3px 0;
    opacity: .2; }

@keyframes fading {
  0% {
    opacity: .1; }
  50% {
    opacity: .2; }
  100% {
    opacity: .1; } }
.box-placeholder.widget-covid-03 .top-head-cov .txt-top.text {
  height: 20px; }
.box-placeholder.widget-covid-03 .top-head-cov .info-txt-top.text {
  height: 12px;
  width: 100%; }
.box-placeholder.widget-covid-03 .search-local {
  padding-right: 0; }
  .box-placeholder.widget-covid-03 .search-local .text {
    height: 40px;
    border-radius: 0; }
.box-placeholder.widget-covid-03 .wrap-slide-bn .text {
  height: 205px;
  border-radius: 0; }

/*# sourceMappingURL=m-widget-covid-03.css.map */
