@media only screen and (max-width: 2400px) and (min-width: 1600px) {}

@media (max-width: 1025px) {
    .title_cate {
        font-size: 30px
    }

    .title_lbl {
        font-size: 22px
    }

    .title-cate {
        font-size: 20px
    }

    .list-hospital .lever1>li h3,
    .list_news .art_item .title_news {
        font-size: 18px
    }

    .section_1 {
        padding: 25px 0
    }

    .footer {
        text-align: center;

        .footer_left {
            width: 100%;
            display: block;

            .logo {
                margin-bottom: 10px;
                display: block
            }
        }

        .footer_right {
            width: 100%;
            display: block;
            margin-top: 20px;

            .social {
                margin: 10px 0 0 0;

                a {
                    margin: 0 5px;
                }
            }
        }
    }

}



@media (max-width: 680px) {
    .top_new {
        .justify-content-between {
            height: 40px;
        }

        &__right {
            display: none
        }
    }

    .title_cate {
        font-size: 28px
    }

    .title_lbl {
        font-size: 20px
    }

    .search-pin {
        top: 40px;
    }
}

@media (max-width: 480px) {
    .top_new {

        &__left {
            overflow: hidden;

            ul {
                display: block;
                overflow-x: scroll;
                overflow-y: hidden;
                -webkit-overflow-scrolling: touch;
                white-space: nowrap;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                width: 100%;

                li {
                    display: inline-block;
                }
            }
        }

    }

    .section_main {
        margin-top: 30px;
    }

    .item_faq {
        padding: 15px;

        .title {
            font-size: 18px;
            padding-bottom: 10px;
        }
    }

    .wrap-border {
        padding: 15px
    }
}

@media \0screen\,screen\9 {}