@import "var.scss";
@import "reset.scss";
@import "grid.scss";
@import "scrollbar.scss";
@import "lightbox.scss";
@import "fonts/iconfont/iconfont.css";
/**Common setting**/


// HEADER PC MOBILE
.top_bar {
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #fff;
    height: 50px;
    padding: 9px 0;
    border-bottom: 1px solid #eaeaea;
    transition-duration: 250ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);

    &.sticky.nav-up {
        transform: translateY(-100%);
    }

    &.sticky.nav-down {
        transform: translateY(0%);
    }

    .hamburger {
        display: none;
        position: absolute;
        top: 5px;
        left: 10px;
        text-align: center;
        height: 20px;
        z-index: 5;
        width: 30px;
        cursor: pointer;
        transition-duration: 250ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);

        span {
            display: block;
            height: 2px;
            margin: 3px auto 0 auto;
            width: 18px;
            background: #BDBDBD;
        }
    }

    .mobile-search {
        position: absolute;
        right: 15px;
        top: 0px;
        display: none;

        i {
            color: #bdbdbd;
            font-weight: bold;
            font-size: 18px;
        }
    }

    .logo {
        width: 150px;
        float: left;
    }

    .date {
        font: 400 14px Arial;
        color: #757575;
        border-left: 1px solid #E5E5E5;
        margin-left: 20px;
        padding-left: 15px;
        float: left;
        margin-top: 6.5px;
    }

    .logo_mobile {
        display: none;
    }

    .block-right {
        float: right;
        font-size: 0.875rem;

        .search {
            float: right;
            width: 265px;
            position: relative;

            * {
                transition: 0.4s ease;
            }

            .search-input {
                border: 1px solid #E5E5E5;
                border-radius: 16px;
                font-size: 14px;
                color: #757575;
                padding: 0 25px 0 15px;
                margin: 0;
            }

            .search-btn {
                position: absolute;
                right: 8px;
                top: 0;
                height: 30px;
                width: 28px;
                line-height: 28px;
                cursor: pointer;
                text-align: center;

                button {
                    background: none;
                    border: 0;
                }

                i {
                    color: #bdbdbd;
                    font-size: 15px;
                }
            }

            &.active {
                input {
                    border: 1px solid #BDBDBD;
                }

                .search-btn i {
                    color: #666
                }
            }
        }
    }

    .form_log {
        margin: 2px 0 0 20px;
        display: flex;
        align-items: center;

        .user {
            a {
                display: flex;
                align-items: center;
            }

            .name {
                color: #9F224E
            }
        }

        &>li {
            display: inline-block;
            padding-left: 10px;
            border-left: 1px solid #ccc;
            margin-right: 10px;

            .icon-user {
                color: #BDBDBD;
                margin-right: 4px;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin: 0 2px 0 0;
                }

                svg {
                    width: 16px;
                    height: 16px;
                    vertical-align: text-bottom;
                }
            }

            a {
                font-size: 14px;
                color: #4F4F4F;
                font-family: arial;
            }

            &:first-child {
                border-left: 0;
                padding-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    @media (max-width: 992px) {
        .block-right {
            .search {
                width: 190px;
            }
        }
    }

    @media (max-width: 768px) {
        .hamburger {
            display: block;
        }

        height: 45px;
        z-index: 99;
        box-shadow: 0 1px 3px rgba(80, 80, 80, 0.2),
        0 3px 5px rgba(80, 80, 80, 0.15);

        .block-right {

            &__log {
                margin-top: 2px;

                .form_log {
                    &.success {
                        margin-top: -5px;
                    }
                }
            }
        }

        .logo {
            margin: -2px 0 0 40px;
        }
    }

    @media (max-width: 767px) {
        .date {
            display: none
        }

        .block-right {
            .mobile-search {
                display: block;

                &.active {
                    top: -10px;

                    i {
                        font-size: 30px;

                        &::before {
                            content: "×";
                            font-family: -webkit-body;
                        }
                    }

                    &+.search {
                        overflow: visible;
                        z-index: 99;
                    }
                }
            }

            .search {
                overflow: hidden;
                position: absolute;
                width: 100%;
                right: 0;
                top: 35px;
                z-index: -1;
                transition: 0.3s ease;

                .search-input {
                    border-radius: 0;
                    border: 0;
                    box-shadow: 0 1px 3px rgba(80, 80, 80, 0.2),
                        0 3px 5px rgba(80, 80, 80, 0.15);
                    height: 35px;
                }
            }

            &__log {
                margin: 2px 40px 0 0;
            }

        }

        .form_log {

            &>li {
                margin-right: 5px;
                padding-left: 8px;
            }
        }
    }

    @media (max-width: 480px) {
        .logo {
            width: 132px;
            margin: 0px 0 0 35px;
        }

        .block-right {
            &__log {
                margin: 4px 30px 0 0;

                .form_log {
                    margin: 0;

                    li {
                        display: none;
                        margin-right: 0;

                        &.user {
                            display: block;

                            a {
                                font-size: 0;
                            }

                            img {
                                width: 25px;
                                height: 25px;
                            }

                            .name {
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                max-width: 80px;
                                display: inline-block;
                                vertical-align: middle;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 380px) {
        .block-right__log .form_log li.user .name {
            font-size: 0
        }
    }
}

.top_new {
    background: #fff;
    z-index: 98;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .1);

    .justify-content-between {
        align-items: center;
        color: #757575;
        font-weight: bold;
        height: 52px;
    }

    &__left {

        ul {
            display: flex;

            li {
                margin-right: 30px;

                a {
                    color: #757575;

                    i {
                        vertical-align: text-bottom;
                        font-size: 15px;
                    }
                }

                &.active {
                    a {
                        color: var(--color-vne)
                    }
                }
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;

        .social {
            margin-left: 10px;

            a {
                width: 30px;
                height: 30px;
                margin-left: 2px;
                line-height: 27px;
                text-align: center;
                border: 1px solid #E5E5E5;
                display: inline-block;
                border-radius: 50%;
                color: #757575;
                font-size: 12px;
                transition: 0.5s ease;
            }

            .face {
                &:hover {
                    border: 1px solid #3b5998;
                    color: #3b5998;
                }
            }

            .twitter {
                &:hover {
                    border: 1px solid #00acee;
                    color: #00acee;
                }
            }

            .mail {
                &:hover {
                    border: 1px solid #dd5144;
                    color: #dd5144;
                }
            }
        }
    }
}

// END HEADER PC MOBILE

/**MANI MENU MOBILE**/
@import "menu-vne.scss";

/**END MANI MENU MOBILE**/
.title_cate {
    font: bold 44px/1.5 var(--font1);
    color: var(--color-vne);
}

.title_lbl {
    font: bold 32px/1.6 var(--font1);
    color: #222222;
    padding-left: 24px;
    margin-bottom: 15px;

    a {
        color: #222222;
    }

    i {
        color: #9F224E;
        font-size: 12px;
        vertical-align: middle;

        @media (max-width: 480px) {
            display: none
        }
    }

    &.line {
        text-align: center;
        position: relative;

        &::before {
            content: "";
            background: #e5e5e5;
            position: absolute;
            height: 1px;
            left: 0;
            right: 0;
            top: 49%;
        }

        span {
            position: relative;
            padding: 0 15px;
            background: #fff;
        }
    }
}

.section_1 {
    background: #F7F7F7;
    padding: 30px 0 32px 0;

    &.white {
        background: #fff;
        padding: 30px 0;
    }
}

.search_faq {
    position: relative;
    border-radius: 4px;
    margin-bottom: 14px;

    .search-icon {
        position: absolute;
        left: 15px;
        top: 15px;
        z-index: 1;
    }

    .twitter-typeahead {
        width: 100%;
    }

    .search-input {
        padding: 0 20px 0 45px;
        border: 1px solid #E5E5E5;
        height: 54px;
        margin: 0;
        font-size: 16px;
        color: #757575;
        transition: 0.5s ease;

        &:focus {
            border: 1px solid var(--color-vne);
        }

        div {
            color: #222
        }
    }

    .tt-hint {
        color: #ccc;
    }

    .loadding {
        position: absolute;
        right: 0;
        top: 0;
        width: 70px;
        height: 54px;
    }

    .btn {
        position: absolute;
        top: 7px;
        right: 10px;
        background: var(--color-vne);
        border-radius: 4px;
        height: 40px;
        line-height: 40px;
        padding: 0 30px;
        color: #fff;
    }

    .search.active {
        .tt-menu {
            display: block
        }
    }
}

.tt-menu {
    border: 1px solid #E5E5E5;
    background: #FFFFFF;
    padding-top: 15px;
    position: absolute;
    width: 100%;
    top: 57px !important;
    display: none;
    z-index: 2 !important;
    min-height: 300px;

    hr {
        margin: 15px 0;
        border: 0;
        border-bottom: 1px solid #E5E5E5;
    }

    li {
        cursor: pointer;
    }

    .tt-dataset {
        li {
            margin-bottom: 10px;
            padding: 5px 25px;
            font-size: 16px;

            a {
                color: #222222;

                &:hover {
                    color: var(--color-vne)
                }
            }

            i {
                margin-right: 15px;
                color: #757575
            }
        }
    }

    .tt-dataset-0 {
        li {
            position: relative;

            &:last-child {
                padding-bottom: 15px;

                &::before {
                    content: "";
                    border-top: 1px solid #E5E5E5;
                    position: absolute;
                    left: 25px;
                    right: 25px;
                    bottom: 0;
                }
            }
        }
    }

    mark {
        background: var(--color-vne);
        color: #fff;
        font-weight: 400;
    }
}

.box-quantam {
    border: 1px solid #E5E5E5;
    background: #FFFFFF;
    padding: 16px 16px 0 16px;

    .title_lbl {
        padding-left: 0;
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }

    .lbl {
        color: var(--gray);
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 15px;

        i {
            margin-right: 13px;
            font-size: 15px;
        }
    }

    .placeholder {
        a {
            opacity: .1;
            -webkit-animation: fading 1.5s infinite;
            animation: fading 1.5s infinite;
            background-color: var(--color3);
            height: 15px;
            display: block;
            border-radius: 5px;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        li {
            display: inline-block;
            width: 33.33%;
            margin-bottom: 15px;
            padding: 0 15px;

            h3 {
                font-size: 16px;
                font-weight: 400
            }

            a {
                color: #087CCE;
            }
        }
    }

    @media (max-width: 768px) {
        ul {
            li {
                width: 50%;
            }
        }
    }

    @media (max-width: 680px) {
        ul {
            li {
                width: 100%;
            }
        }
    }
}

@keyframes fading {
    0% {
        opacity: .1;
    }

    50% {
        opacity: .2;
    }

    100% {
        opacity: .1;
    }
}

.section_main {
    margin-top: 32px;

    &__left {
        width: 868px;
        padding-right: 90px;
        width: calc(100% - 300px);

        .box_thongke_right,
        .box-banner-text {
            display: none
        }

        .box_comment_vne {
            border: 0;
            padding: 0;
        }
    }

    &__right {
        width: 300px;
    }

    @media (max-width: 1025px) {
        &__left {
            padding-right: 30px;
        }
    }

    @media (max-width: 767px) {
        &__left {
            padding-right: 0;
            width: 100%;

            .box_thongke_right {
                display: block;

                .count-covid {
                    .item {
                        strong {
                            width: 100%;
                        }
                    }
                }
            }

            .box-banner-text {
                display: block;

                .txt-banner {
                    font-size: 18px
                }
            }
        }

        &__right {
            width: 100%;

            &>div {
                display: none
            }

            .section-comment {
                display: block;
                position: static;
            }

            .box_comment_vne #list_comment {
                max-height: 100%;
                overflow: hidden !important;
                padding-right: 0 !important;
            }

            .box_comment_vne .scrollbar-inner {
                padding-right: 10px !important;
            }
        }
    }

    @media (max-width: 340px) {
        .comment_item .content-comment {
            padding: 0 !important
        }

        .count-reply {
            padding-left: 0;
        }
    }
}

.section-comment.sticky {
    top: 130px
}

.box_comment_vne {
    border: 1px solid #E5E5E5;
    background: #FFFFFF;
    padding: 20px 10px;

    &::after {
        content: "";
        float: left;
        height: 10px;
        width: 100%;
    }

    #box_comment {
        margin: 0 -10px;
        width: calc(100% + 20px);
        padding: 0 0px 0 10px;
    }

    .filter_coment {
        padding-bottom: 8px;
    }

    #list_comment {
        max-height: 350px;
        overflow: hidden;
    }

    .scrollbar-inner {
        width: 100% !important;
        padding-right: 15px !important;

        .scroll-element.scroll-x {
            display: none
        }
    }

    .view_more_coment {
        z-index: 0 !important;
        margin: 10px 0 !important;
    }

    .comment_item {
        margin-top: 10px;

        .block_like_web {
            margin-top: 0;

            a {
                margin-right: 8px;
            }
        }

        .link_thich {
            margin-right: 12px !important;
        }
    }

    .count-reply {
        margin-top: 0;
    }
}

.item_faq {
    font: 400 18px/1.6 Arial;
    border: 2px solid #E5E5E5;
    border-radius: 10px;
    padding: 15px 24px;
    margin-bottom: 20px;
    transition: 0.5s ease;
    display: block;
    color: #222222;

    &[href="javascript:void(0);"] {
        cursor: default;
    }

    .title {
        font: bold 20px/1.6 var(--font1);
        color: #222222;
        margin-bottom: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid #E5E5E5;
    }

    .view-more {
        color: var(--color-vne);
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;

        i {
            font-size: 10px;
            vertical-align: middle;
        }
    }

    &:hover {
        border: 2px solid var(--color-vne);
        color: #222222;

        a {
            color: #222222;
        }

        .title {
            color: var(--color-vne)
        }
    }

    &.placeholder {

        .title,
        .description p {
            opacity: .1;
            -webkit-animation: fading 1.5s infinite;
            animation: fading 1.5s infinite;
            background-color: var(--color3);
            height: 15px;
            border-radius: 5px;
        }

        .title {
            width: 75%;
            height: 30px;
        }

        .description {
            border-top: 1px solid #E5E5E5;
            padding-top: 15px;
        }
    }

    .flex {
        justify-content: space-between;
        align-items: center;

        .social {
            margin-top: 10px;
            color: #4F4F4F;
            font-size: 14px;

            span {
                width: 32px;
                height: 32px;
                margin-left: 2px;
                line-height: 28px;
                cursor: pointer;
                text-align: center;
                border: 1px solid #E5E5E5;
                display: inline-block;
                border-radius: 50%;
                color: #757575;
                font-size: 12px;
                transition: 0.5s ease;
            }

            .face {
                font-size: 14px;

                &:hover {
                    border: 1px solid #3b5998;
                    color: #3b5998;
                }
            }

            .twitter {
                &:hover {
                    border: 1px solid #00acee;
                    color: #00acee;
                }
            }

            .mail {
                &:hover {
                    border: 1px solid #dd5144;
                    color: #dd5144;
                }
            }
        }
    }
}

.box_faq_300 {
    .wrap {
        display: block;
        background: url(images/graphics/bg_faq.png) no-repeat;
        padding: 120px 24px 24px 24px;
        border-radius: 10px;
    }

    .content {
        color: #4F4F4F;
        font-size: 16px;
        line-height: 1.6;

        h3 {
            font: bold 20px/1.6 var(--font1);
            color: var(--color-vne);
        }

        p {
            margin-bottom: 0;
        }
    }
}

.box_hotline {
    text-align: center;
    border: 2px solid #E5E5E5;
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 20px;
    top: 130px;
    transition: 0.5s ease;

    &:hover {
        border: 2px solid var(--color-vne);
    }

    .title {
        font: bold 20px/1.6 var(--font1);
        border-bottom: 1px solid #E5E5E5;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .phone {
        color: #9F224E;
        font-weight: bold;
        font-size: 24px;
    }
}

.title-line {
    font: bold 20px/1.6 var(--font1);
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 15px;
    padding-bottom: 15px;

    @media (max-width: 767px) {
        font-size: 18px;
        padding-bottom: 10px;
    }
}

.count-covid {
    justify-content: center;
    background: url(images/graphics/bg-count.png) no-repeat center;
    margin-bottom: 24px;
    padding: 8px;
    height: 65px;

    .item {
        font: 400 16px/1.6 var(--font1);
        color: var(--color-vne);
        margin: 0 12px;

        strong {
            font: bold 22px/1.6 Arial;
            display: inline-block;
            min-width: 61px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            border-radius: 4px;
            background: #757575;
            color: #fff;
            margin-right: 8px;
        }

        &.nhiem {
            strong {
                background: #F3585B
            }
        }

        &.tuvong {
            strong {
                background: #222222
            }
        }

        &.khoi {
            strong {
                background: #8CF2CD;
                color: #00945E;
            }
        }
    }

    @media (max-width: 480px) {
        padding: 8px 0;
        margin-bottom: 30px;

        .item {
            margin: 0 6px;

            strong {
                min-width: 50px;
                font-size: 18px;
                margin-right: 5px
            }
        }
    }

    @media (max-width: 382px) {
        .item {
            font-size: 13px;

            strong {
                min-width: 40px;
                font-size: 16px;
                margin-right: 5px
            }
        }
    }

    @media (max-width: 340px) {
        .item {
            font-size: 12px;
            margin: 0 4px;
        }
    }
}

.count-covid-thegioi {
    justify-content: center;
    margin-bottom: 30px;
    padding: 12px 10px;
    position: relative;

    &::before {
        content: "";
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #9F224E 51.56%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%);
        height: 1px;
        left: 0;
        right: 0;
        position: absolute;
        top: 0;
    }

    &::after {
        content: "";
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #9F224E 51.56%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%);
        height: 1px;
        left: 0;
        right: 0;
        position: absolute;
        bottom: 0;
    }

    .item {
        font: 400 16px/1.6 var(--font1);
        color: var(--color-vne);
        margin: 0 12px;
        text-align: center;

        label {
            display: block;
            font-size: 16px;
            color: #222222;
        }

        p {
            margin-bottom: 0;
            font-family: arial;
            font-size: 14px
        }

        strong {
            font: bold 22px/1.6 Arial;
            display: inline-block;
            height: 48px;
            line-height: 48px;
            min-width: 150px;
            text-align: center;
            border-radius: 4px;
            background: #757575;
            color: #fff;
            margin: 3px 0;
        }

        &.nhiem {
            strong {
                background: #F3585B
            }
        }

        &.tuvong {
            strong {
                background: #222222
            }
        }

        &.khoi {
            strong {
                background: #8CF2CD;
                color: #00945E;
            }
        }
    }

    @media (max-width: 480px) {
        padding: 8px 0;
        margin-bottom: 30px;

        .item {
            margin: 0 6px;

            strong {
                min-width: 120px;
                font-size: 18px;
                margin-right: 5px
            }
        }
    }
}

.box_thongke_right {
    .count-covid {
        background: none;
        padding: 0;
        border-bottom: 1px solid #E5E5E5;
        height: 100%;
        margin: 0 -10px 15px -10px;

        .item {
            width: 33.33%;
            text-align: center;
            margin: 0 0 15px 0;
            font-size: 14px;
            padding: 0 10px;

            strong {
                font-size: 22px;
                width: 60px;
                margin: 0 auto 8px;
                display: block;
            }
        }
    }

    .xem_them {
        font-size: 16px;
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
        border-radius: 2px;
        height: 44px;
        line-height: 44px;
        display: block;
        color: var(--color-vne);
        text-align: center;
        transition: 0.5s ease;

        &:hover {
            background: var(--color-vne);
            color: #fff;
        }

        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
}

.box-banner-text {
    .link-banner {
        display: block;
        position: relative;
    }

    .txt-banner {
        font-family: "Merriweather", serif;
        font-size: 14px;
        line-height: 150%;
        font-weight: 700;
        color: #9F224E;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }
}

.box-hot-new {
    background: #F7F7F7;
    border-radius: 2px;
    padding: 15px 25px;
    margin-bottom: 24px;

    &.mobile {
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: none;

        &::-webkit-scrollbar {
            display: none;
            -webkit-appearance: none;
        }
    }

    h2 {
        font: 400 16px/1.6 var(--font1);
        margin-right: 50px;
        display: inline-block;
    }

    @media (max-width: 991px) {
        display: none;
        padding: 10px 0;
        margin: 0 -15px 24px -15px;

        &.mobile {
            display: block;
            position: relative;
            min-height: 35px;

            .mq {
                width: 1000%;
                animation: marquee 40s linear infinite;
                overflow: hidden;
                position: absolute;
                top: 5px;
            }
        }

        h2 {
            margin-right: 20px;

            &:first-child {
                margin-left: 15px;
            }
        }
    }
}

@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -1000%;
    }
}

.box-chart-covid {

    .title-line {
        font: bold 20px/1.6 var(--font1);
        position: relative;
        margin: 15px 0;

        &::before {
            content: "";
            width: 48px;
            height: 2px;
            position: absolute;
            top: -15px;
            background: #9F224E;
        }

        @media (max-width: 768px) {
            font-size: 18px
        }
    }
}

.box-thongke {
    border: 2px solid #E5E5E5;
    border-radius: 10px;
    padding: 24px;
    text-align: center;

    .head {
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 24px;
        margin-bottom: 15px;
    }

    .item {
        width: 20%;
        font-size: 16px;
        padding: 15px;
        color: #BDBDBD;

        span {
            color: #757575;
        }

        strong {
            font: bold 44px/1.6 var(--font1);
            display: block;
            margin-bottom: 10px;
        }

        &.active {
            border-right: 1px solid #E5E5E5;
            color: #000000;

            span {
                color: #000000;
            }
        }

        &.ty-le {
            border-left: 1px solid #E5E5E5;
            color: #F3585B;

            span {
                color: var(--color-vne)
            }
        }
    }


    @media (max-width: 1025px) {
        .item {
            strong {
                font-size: 30px
            }
        }
    }

    @media (max-width: 768px) {
        padding: 15px;

        .head {
            padding-bottom: 10px;
        }
    }

    @media (max-width: 700px) {
        .flex {
            justify-content: center
        }

        .item {
            font-size: 14px;
            width: 25%;
            padding: 5px 10px;

            &.active,
            &.ty-le {
                border: 0
            }
        }
    }

    @media (max-width: 480px) {
        .item {
            width: 33.33%;
        }
    }

    @media (max-width: 382px) {
        .item {
            width: 50%;
        }
    }
}

.box-thongke-thegioi {
    .item {
        color: #757575;

        span {
            text-transform: uppercase;
            font-size: 12px;
        }

        strong {
            font-size: 35px
        }

        &.active,
        &.tu-vong,
        &.ty-le {
            span {
                color: #222
            }
        }

        &.tu-vong {
            color: #222222;
        }
    }

    @media (max-width: 1025px) {
        .item {
            strong {
                font-size: 30px
            }
        }
    }

    @media (max-width: 768px) {
        .item {
            strong {
                font-size: 22px
            }
        }
    }
}

.wrap-border {
    border: 2px solid #E5E5E5;
    border-radius: 10px;
    padding: 24px;
}

.title-cate {
    font: bold 24px/1.6 var(--font1);
    margin-bottom: 15px;
}

.section_main2 {
    &__left {
        width: 679px;
        padding-right: 24px;
        width: calc(100% - 421px);

        .wrap-border {
            height: 100%;
        }
    }

    &__right {
        width: 421px;

        .wrap-border {
            height: 100%;
        }
    }

    @media (max-width: 768px) {
        &__left {
            padding-right: 0;
            width: 100%;
            margin-bottom: 24px;
        }

        &__right {
            width: 100%;
        }
    }
}

.section_main3 {
    &__left {
        width: 890px;
        padding-right: 30px;
        width: calc(100% - 203px);

        .wrap-border {
            height: 100%;
        }
    }

    &__right {
        width: 203px;

        .wrap-border {
            height: 100%;
            position: sticky;
            top: 70px;
        }
    }

    @media (max-width: 768px) {
        &__left {
            padding-right: 0;
            width: 100%;
            margin-bottom: 24px;
        }

        &__right {
            width: 100%;
        }
    }
}

.list-tinhthanh {
    font-size: 16px;
    border-top: 1px solid #E5E5E5;
    padding-top: 5px !important;
    max-height: 700px;
    margin-right: -10px;
    padding-right: 10px !important;

    li {
        &:first-child {
            background: #fff;
        }

        &:nth-child(2n) {
            background: #F7F7F7;
        }
    }

    .td {
        width: 20%;
        text-align: center;
        padding: 11px 10px;

        &:first-child {
            width: 40%;
            text-align: left;
            padding-left: 24px;
        }
    }

    @media (max-width: 480px) {
        max-height: 100%;
        padding-right: 0px !important;
        margin-right: 0;

        .td {
            padding: 10px 5px;
            font-size: 14px;

            &:first-child {
                padding-left: 5px;
            }
        }
    }
}

.list-quocgia {
    font-size: 16px;
    border-top: 1px solid #E5E5E5;

    &.scrollbar-inner {
        max-height: 500px;
        padding-top: 5px !important;
        padding-right: 10px !important;
    }

    &.pin {
        padding-top: 10px;
        padding-right: 20px;
        border-bottom: 1px solid #E5E5E5;

        li {
            border-bottom: 0;
        }

        .td {
            color: #757575 !important;
        }
    }

    li {
        border-bottom: 1px solid #E5E5E5;
        align-items: center;
        height: 42px;
    }

    .td {
        width: 15%;
        text-align: right;
        padding: 5px;

        .bg {
            background: #757575;
            border-radius: 3px;
            color: #fff;
            text-align: right;
            height: 32px;
            line-height: 32px;
            padding: 0 8px;
            width: 75px;
            float: right;

            &-nhiem {
                background: #F3585B;
            }
        }

        &:first-child {
            width: 25%;
            text-align: left;
        }

    }

    @media (max-width: 700px) {

        .td {
            width: 22%;

            &:nth-child(1) {
                width: 34%;
            }

            &:nth-child(2) {
                color: #F3585B;
            }

            &:nth-child(6) {
                color: #00945E;
            }

            &:nth-child(3),
            &:nth-child(5) {
                display: none
            }
        }
    }

    @media (max-width: 480px) {
        &.pin {
            padding-right: 0;
        }

        &.scrollbar-inner {
            max-height: 100%;
            padding-right: 0px !important;
            margin-right: 0;
        }

        .td {
            font-size: 14px
        }
    }
}

.btn-load {
    text-align: center;
    margin-top: 24px;
    display: none;

    a {
        background: #E5E5E5;
        border-radius: 100px;
        font-size: 14px;
        color: #757575;
        height: 32px;
        position: relative;
        line-height: 32px;
        padding: 0 15px 0 30px;
        display: inline-block;
    }

    .xem-them {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='17' viewBox='0 0 14 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.299804 9.60859L1.6998 8.20859L5.9998 12.5086L5.9998 0.308594L7.9998 0.308594L7.9998 12.5086L12.2998 8.20859L13.6998 9.60859L6.9998 16.3086L0.299804 9.60859Z' fill='%23757575'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: 9px 7px;
    }

    .rut-gon {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='17' viewBox='0 0 14 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.300048 7.2238L1.70005 8.6238L6.00005 4.3238L6.00005 16.5238L8.00005 16.5238L8.00005 4.3238L12.3 8.6238L13.7 7.2238L7.00005 0.523803L0.300048 7.2238Z' fill='%23757575'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: 9px 7px;
    }

    @media (max-width: 480px) {
        display: block
    }
}

.flex-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .search {
        position: relative;
        margin-bottom: 15px;
        width: 310px;

        .twitter-typeahead {
            width: 100%;
        }

        .search-input {
            height: 40px;
            border: 1px solid #E5E5E5;
            border-radius: 3px;
            padding: 0 10px;
            margin: 0;


            @media (max-width: 480px) {
                width: 100%;
            }
        }

        .search-icon {
            position: absolute;
            right: 10px;
            top: 9px;
            color: #BDBDBD;
        }
    }
}

.thong-ke-quocgia {
    .item {
        text-align: center;
        color: #757575;
        font-size: 14px;
        position: relative;
        padding-bottom: 40px;

        &::before {
            content: "";
            background: #E5E5E5;
            width: 100px;
            position: absolute;
            height: 1px;
            bottom: 22px;
            left: 50%;
            margin-left: -50px;
        }

        &:last-child {
            padding-bottom: 0;

            &::before {
                display: none
            }
        }

        label {
            text-transform: uppercase;
            font-size: 12px
        }

        strong {
            font: bold 40px/1.6 var(--font1);
            display: block
        }

        &.nhiem-benh {
            strong {
                color: #F3585B;
            }
        }

        &.tu-vong {
            strong {
                color: #222222;
            }
        }
    }
}

.list-hospital {
    font-size: 16px;

    .lever1 {
        &>li {
            h3 {
                font: bold 20px/1.6 var(--font1);
                color: #000000;
                position: relative;
                border-top: 1px solid #F7F7F7;
                padding: 10px 0;
                cursor: pointer;

                &::before {
                    content: "+";
                    position: absolute;
                    right: 10px;
                    text-align: center;
                }

                a {
                    color: #000000;
                }
            }

            &.active {

                h3 {
                    &::before {
                        content: "-"
                    }
                }

            }
        }

        .inf {
            &:nth-child(2n) {
                h4 {
                    background: #f7f7f7;
                }
            }
        }
    }

    .lever2 {
        &>li {
            h4 {
                font: 400 16px/1.6 Arial;
                color: #000000;
                position: relative;
                padding: 10px 16px;
                cursor: pointer;

                &::before {
                    content: "+";
                    position: absolute;
                    right: 10px;
                    text-align: center;
                    color: #757575;
                }

                a {
                    color: #000000;
                }

            }

            .content {
                .item {
                    padding: 10px 10px 10px 30px;
                    border-bottom: 1px solid #F7F7F7;
                    position: relative;

                    &::before {
                        content: "";
                        background: #C4C4C4;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        position: absolute;
                        left: 15px;
                        top: 17px;
                    }
                }
            }

            &.active {
                h4 {
                    &::before {
                        content: "-"
                    }
                }
            }

            &:nth-child(2n) {
                h4 {
                    background: #f7f7f7;
                }
            }
        }
    }
}

.list_news {

    .flex {
        margin: 0 -15px;

        @media (max-width: 480px) {
            margin: 0 -10px;
        }
    }

    .load-more {
        text-align: center;

        a {
            background: var(--color-vne);
            display: inline-block;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            height: 40px;
            line-height: 40px;
            padding: 0 25px;
            border-radius: 4px;

            i {
                vertical-align: middle;
                font-size: 8px
            }
        }
    }

    .art_item {
        width: 25%;
        padding: 0 15px;
        margin-bottom: 30px;

        @media (max-width: 768px) {
            width: 50%;
        }

        @media (max-width: 480px) {
            padding: 0 10px;
            margin-bottom: 20px;

            .thumb_art {
                margin-bottom: 10px;
            }

            .description {
                display: none
            }
        }

        .thumb_art {
            border-radius: 4px;
            overflow: hidden;
            margin-bottom: 15px;
        }

        .title_news {
            font: bold 16px/1.6 var(--font1);
            margin-bottom: 5px;
        }

        .time {
            color: #757575;
        }
    }
}

.art_item_ads {
    .thumb_art {
        width: 220px;
        float: right;
        margin-left: 15px;
        border-radius: 4px;
        overflow: hidden;
    }

    .title_news {
        font: bold 20px/1.6 var(--font1);
        margin-bottom: 8px;
    }

    .description {
        font-size: 18px;
    }

    .content {
        overflow: hidden;
    }

    .tai-tro {
        color: #757575;
        font-size: 12px;
        display: flex;
        align-items: center;

        img {
            margin-right: 5px;
        }
    }

    @media (max-width: 900px) {
        .thumb_art {
            width: 150px;
        }
    }

    @media (max-width: 767px) {
        .thumb_art {
            width: 220px;
        }
    }

    @media (max-width: 480px) {
        .thumb_art {
            width: 100%;
            float: none;
            margin: 0 0 15px 0;
        }
    }
}


.footer {
    margin-top: 50px;
    font-size: 12px;
    color: #757575;

    .flex {
        border-top: 1px solid #E0E0E0;
        padding: 10px 0;
    }

    .footer_left {
        display: flex;
        align-items: center;
        color: #757575;

        .logo {
            margin-right: 20px;
        }

        p {
            margin-bottom: 0;
            line-height: 1.6;

            br {
                display: none;

                @media (max-width: 480px) {
                    display: block
                }
            }
        }
    }

    .footer_right {
        display: flex;
        align-items: center;

        .rss {
            color: #757575;
            border-right: 1px solid #E5E5E5;
            padding-right: 15px;
            margin-right: 15px;
        }

        .social {
            margin-left: 10px;

            a {
                width: 30px;
                height: 30px;
                margin-left: 2px;
                line-height: 27px;
                text-align: center;
                border: 1px solid #E5E5E5;
                display: inline-block;
                border-radius: 50%;
                color: #757575;
                font-size: 12px;
                transition: 0.5s ease;
            }

            .face {
                &:hover {
                    border: 1px solid #3b5998;
                    color: #3b5998;
                }
            }

            .twitter {
                &:hover {
                    border: 1px solid #00acee;
                    color: #00acee;
                }
            }

            .mail {
                &:hover {
                    border: 1px solid #dd5144;
                    color: #dd5144;
                }
            }
        }
    }
}

.search-pin {
    padding: 8px;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    display: none;
    position: sticky;
    top: 52px;
    z-index: 98;
    border-top: 1px solid #eaeaea;

    .tt-menu {
        top: 42px !important;
        min-height: auto;
    }

    .search_faq {
        margin: 0 auto;
        max-width: 800px;

        .search-icon {
            top: 10px
        }

        .search-input {
            height: 40px;
            border: 1px solid #F7F7F7;
            background: #F7F7F7;
            border-radius: 4px;

            &:focus {
                border: 1px solid var(--color-vne);
            }
        }
    }
}

.show-search {

    .search-pin {
        display: block
    }
}

.wrap-border {
    position: relative
}

.btn-load {
    display: block;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 54.5px)
}

.shrink-overflow-gradient {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 50%;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .013) 8.1%, hsla(0, 0%, 100%, .049) 15.5%, hsla(0, 0%, 100%, .104) 22.5%, hsla(0, 0%, 100%, .175) 29%, hsla(0, 0%, 100%, .259) 35.3%, hsla(0, 0%, 100%, .352) 41.2%, hsla(0, 0%, 100%, .45) 47.1%, hsla(0, 0%, 100%, .55) 52.9%, hsla(0, 0%, 100%, .648) 58.8%, hsla(0, 0%, 100%, .741) 64.7%, hsla(0, 0%, 100%, .825) 71%, hsla(0, 0%, 100%, .896) 77.5%, hsla(0, 0%, 100%, .951) 84.5%, hsla(0, 0%, 100%, .987) 91.9%, #fff);
    pointer-events: none
}

li.flex:last-child {
    border-bottom: none
}

.box-thongke-thegioi .percent {
    font-size: 14px !important
}

@-webkit-keyframes slide-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes slide-down {
    0% {
        opacity: 0;
        -moz-transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

.show-table {
    -webkit-animation: slide-down .5s ease-out;
    -moz-animation: slide-down .5s ease-out
}

.list-quocgia {
    border-top: none
}

.flex-head {
    position: sticky;
    top: 50px;
    background: #fff;
    padding-top: 5px
}

li.flex.pin-menu {
    border-bottom: 2px solid #e5e5e5;
    padding-top: 5px;
    position: sticky;
    top: 50px;
    background: #fff;
    height: 55px;
    width: 100%
}

li.flex.pin-menu .td {
    color: #757575 !important
}

@media (max-width:768px) {
    .item.active.ca-nhiem {
        width: 100%
    }

    .flex-head {
        top: 40px
    }

    .box-thongke-thegioi .percent {
        display: block;
        margin-bottom: 15px
    }
}

/**THÊM BOX NEWS, CHU DE***/
.box-sponsor-bg {
    background: #f7f7f7;
    border: 1px solid #e5e5e5;
    padding: 15px;
}

.title-box-category {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 20px;
    font-family: $font-title;
    color: #222;
    font-weight: bold;
    @extend %font-fea;

    .inner-title {
        position: relative;
        display: inline-block;

        &:before {
            content: '';
            width: 100%;
            height: 1px;
            background: $vne_color;
            position: absolute;
            left: 0;
            bottom: -5px;
        }

        .normal-text {
            font-weight: 400;
        }
    }

    a.inner-title {
        &:hover {
            color: $vne_hover;

            &:before {
                background: $vne_hover;
            }
        }
    }

    .view-more {
        float: right;
        color: #757575;
        font-size: 13px;
        line-height: 15px;
        font-family: arial;
        font-weight: normal;
        padding-top: 5px;

        span {
            font-size: 15px;
        }

        &:hover {
            color: #087CCE;
        }
    }

    .parent-cate {
        float: left;
    }

    .sub-cate {
        float: left;
        margin-left: 20px;
        font-size: 13px;
        color: #4f4f4f;
        line-height: lh(15px, 13px);
        font-family: arial;
        font-weight: 400;
        margin-top: 5px;

        &:hover {
            color: #087CCE;
        }
    }

    &.title-box-small {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
    }

    &.title-background {
        margin-bottom: 15px;

        .inner-title {
            &:before {
                display: none;
            }

            &:hover {
                color: inherit;
            }
        }
    }

    &.title-full-line {
        .parent-cate {
            width: 100%;
        }

        .inner-title {
            display: block;
        }

        .sub-title-box {
            font-size: 14px;
            line-height: 140%;
            color: #757575;
            font-family: arial;
            font-weight: 400;
            margin-left: 10px;

            &.sub-title-full {
                margin-left: 0;
                display: block;
                margin-top: 5px;
            }
        }
    }
}

svg.ic {
    width: 16px;
    height: 16px;
    fill: #757575;
    display: inline-block;
    vertical-align: middle;
    background: none;
}

.meta-news {
    /*float: left;*/
    display: inline-block;
    vertical-align: middle;
    color: #757575;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400 !important;

    .time-public {
        display: inline-block;
        margin-right: 10px;
    }

    .cat {
        display: inline-block;
        margin-right: 10px;
        color: #757575;

        &:hover {
            color: #087CCE;
        }
    }

    .count_cmt,
    .icon_commend {
        font-size: 12px;
        color: #076DB6;
        display: inline-block;
        vertical-align: top;
        text-decoration: none;

        .ic {
            fill: #bdbdbd;
            width: 12px;
            height: 12px;
            margin-right: 1px;
        }

        &:hover {
            color: #087CCE;

            .ic {
                fill: #999;
            }
        }
    }

    .icon_commend {
        .ic {
            margin-right: 0;
        }
    }

    .ic-time {
        vertical-align: top;
        width: 14px;
        height: 14px;
        margin-right: 5px;
        fill: #BDBDBD;
    }
}

.icon_commend {
    font-size: 12px;
    color: #076DB6;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;

    .ic {
        fill: #bdbdbd;
        width: 12px;
        height: 12px;
        margin-right: 0;
    }

    &:hover {
        color: #087CCE;

        .ic {
            fill: #999;
        }
    }
}

.item-news {
    width: 100%;
    float: left;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #E5E5E5;
}

.box-news-small {
    margin-bottom: 20px;
    width: 100%;
    float: left;

    h2,
    h4 {
        font-size: inherit;
        line-height: inherit;
    }

    .item-news {
        margin-bottom: 10px;
        padding-bottom: 10px;

        .thumb {
            display: block;
            overflow: hidden;
            height: 0;
            position: relative;
            width: 100%;
            background: #f4f4f4;

            &.thumb-5x3 {
                padding-bottom: 60%;
            }

            img {
                width: 100%;
                float: left;
                object-fit: cover;
            }
        }

        .title-news {
            font-family: $font-title;
            font-size: 14px;
            line-height: 160%;
            font-weight: 400;
            margin-bottom: 0;
        }

        &.full-thumb {
            .title-news {
                font-size: 15px;
                font-weight: 700;
            }

            .thumb-art {
                width: 100%;
                float: left;
                position: relative;
                margin: 0 0 10px 0;
            }
        }

        &:last-of-type {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }

        .meta-news {
            margin-top: 5px;
            margin-bottom: 0;
        }
    }
}

.box-chude-khac {
    margin-bottom: 20px;
    width: 100%;
    float: left;

    h2,
    h4 {
        font-size: inherit;
        line-height: inherit;
    }

    ul {
        width: 100%;
        float: left;
        position: relative;
        font-size: 0;
        display: block;

        li {
            width: 100%;
            float: left;
            display: block;
            padding: 0;
            white-space: normal;
            margin-top: 5px;

            &:first-child {
                margin-top: 0;
            }

            a {
                padding: 10px;
                font-size: 14px;
                line-height: 140%;
                font-weight: 400;
                color: #222 !important;
                background: #f7f7f7;
                border-radius: 3px;
                display: block;

                &:hover {
                    color: #076FBA !important;
                }
            }
        }
    }
}

@keyframes fadeInUp {
    from {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0)
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0)
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp
}

/**RESPONSIVE**/
@import "responsive.scss";