<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="description"
        content="iOne.net chuyên trang tổng hợp tin tức giải trí showbiz, đời sống, chiêm tinh, tử vi, xu hướng thời trang và các sự kiện nổi bật trong và ngoài nước dành cho giới trẻ.">
    <meta name="keywords" content="iOne, Việt Nam">
    <title>
        <!-- build:title -->
    </title>
    <link type="image/x-icon" href="http://ssl.gstatic.com/docs/doclist/images/infinite_arrow_favicon_5.ico"
        rel="shortcut icon" />
    <link rel="stylesheet" href="css/home.css" media="all" />
    <!-- build:head2 -->
    <!-- build:head -->

    <!--Jquery lib-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <!-- <script type="text/javascript" src="js/vendor-interactive.js"></script>
    <script type="text/javascript" src="js/comments.js"></script>
    <script type="text/javascript" src="js/recirculation.js"></script>
    <script type="text/javascript" src="js/interactive.js"></script> -->
    <!-- build:script -->
    <!-- build:script2 -->

</head>

<body class="template-standard">

    <!-- build:content -->

    <!--Footer-->

    <!--End Footer-->

</body>

</html>