/**
iconfont Webfont
*/
@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot?1605757108674');
	src: url('iconfont.eot?#iefix-1605757108674') format('embedded-opentype'),
		url('iconfont.woff2?1605757108674') format('woff2'),
		url('iconfont.woff?1605757108674') format('woff'),
		url('iconfont.ttf?1605757108674') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='iconfont-']:before,
[class*=' iconfont-']:before {
	font-family: 'iconfont';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/
 .iconfont-arrow:before {
			content: '\ea01';
		}

		 .iconfont-arrow01:before {
			content: '\ea02';
		}

		 .iconfont-bar:before {
			content: '\ea03';
		}

		 .iconfont-face:before {
			content: '\ea04';
		}

		 .iconfont-ic-dongho:before {
			content: '\ea05';
		}

		 .iconfont-ic-home:before {
			content: '\ea06';
		}

		 .iconfont-ic-laptop:before {
			content: '\ea07';
		}

		 .iconfont-ic-mobile:before {
			content: '\ea08';
		}

		 .iconfont-ic-tainghe:before {
			content: '\ea09';
		}

		 .iconfont-ic-tivi:before {
			content: '\ea0a';
		}

		 .iconfont-play:before {
			content: '\ea0b';
		}

		 .iconfont-prev:before {
			content: '\ea0c';
		}

		 .iconfont-search:before {
			content: '\ea0d';
		}

		 .iconfont-twiter:before {
			content: '\ea0e';
		}

		 .iconfont-user:before {
			content: '\ea0f';
		}

		