.footer {
    background: var(--orange);
    padding: 60px 0;

    .flex_top {
        color: #fff;
        font-size: 15px;
        max-width: 890px;
        margin: 0 auto;

        a {
            color: #fff
        }

        font-size: 15px;

        h3 {
            font-size: 15px;
        }

        p {
            margin-bottom: 10px;

            .icon {
                display: inline-block;
                width: 22px;
                height: 22px;
                line-height: 22px;
                background: #fff;
                color: var(--orange);
                text-align: center;
                margin-right: 5px;
            }
        }

        .flex_social {
            align-items: center;

            h3 {
                margin-bottom: 0;
            }

            .social {
                margin-left: 10px;

                a {
                    display: inline-block;
                    margin-left: 5px;
                }
            }
        }

        .logo {
            width: 120px;
            margin-top: 80px;
        }

        .info {
            width: 420px;
            width: calc(100% - 470px);
            padding: 0 50px;

            p {
                padding-left: 40px;
            }
        }

        .map {
            width: 350px;
        }

        .nav {
            width: 100%;
            background: #fff;
            margin-top: 50px;
            justify-content: center;
            height: 45px;
            align-items: center;
            border-radius: 10px;

            a {
                text-transform: uppercase;
                position: relative;
                color: #000;
                font-size: 13px;
                padding: 0px 12px;

                &::before {
                    content: "";
                    position: absolute;
                    background: #ccc;
                    width: 1px;
                    height: 13px;
                    right: 0;
                    top: 2px;
                }

                &:last-child {
                    &::before {
                        display: none
                    }
                }

                &.active {
                    color: var(--orange)
                }
            }

        }
    }

    @media (max-width: 991px) {
        padding: 30px 0;
        .flex_top{
            .logo{
                width: 100%;
                text-align: center;
                margin: 0;
            }
            .info{
                width: 100%;
                padding: 0;
                margin: 40px 0;
            }
            .map{
                text-align: center;width: 100%;
                img,iframe{
                    max-width: 400px;
                }
            }
            .nav{
                padding-top: 12px;
                display: block;
                overflow-x: scroll;
                overflow-y: hidden;
                -webkit-overflow-scrolling: touch;
                white-space: nowrap;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }
        }
    }
}