.wrap-main-nav {
    z-index: 97;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);

    .icon-svg {
        color: var(--gray1);
    }

    &.pin {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        background: var(--orange);

        .logo {
            width: 80px;
            height: 80px;
            line-height: 80px;
        }
    }

    .logo {
        width: 150px;
        height: 130px;
        background: var(--orange);
        text-align: center;
        line-height: 130px;
        margin-right: 10px;
        margin-bottom: 0;
        opacity: 1;
        -webkit-transition-duration: 250ms;
        transition-duration: 250ms;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        @media (min-width:1731px) {
            width: 200px;height: 170px;line-height: 170px;
            img{width: 130px;}
        }
    }

    .social {
        display: none;

        a {
            display: inline-block;
            margin-left: 5px;
        }
    }

    &>.container {
        align-items: center;
    }

    .main-nav {
        background: var(--orange);
        width: 955px;
        width: calc(100% - 160px);
        @media (min-width:1731px) {
            width: calc(100% - 210px);
        }
        .parent {
            margin-bottom: 0;
            display: flex;
            flex-wrap: wrap;
            height: 60px;
            align-items: center;
            @media (min-width:1731px) {height: 80px;}
            &>li {
                display: inline-block;
                margin-left: 30px;

                h3 {
                    margin-bottom: 0;
                    position: relative;

                    &>a {
                        font: 500 13px var(--font1);
                        color: var(--white);
                        text-transform: uppercase;
                        height: 60px;
                        line-height: 64px;
                        display: block;
                        padding: 0 10px;
                    }
                }


                .sub_menu {
                    display: none;
                }

                &:hover {
                    a {
                        background: rgba(255, 255, 255, 0.9);
                        color: #223f5f;
                    }
                }
                @media (min-width:1731px) {
                    margin-left: 40px;
                    h3{
                        &>a{font-size: 16px;}
                    }
                }
                @media (min-width: 992px) {
                    .level2 {
                        background: rgba(255, 255, 255, 0.9);
                        margin: 0;
                        position: absolute;
                        top: 60px;
                        display: block !important;
                        z-index: 1001;
                        min-width: 200px;
                        height: 1px;
                        overflow: hidden;
                        clip: rect(1px, 1px, 1px, 1px);
                        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.15);
                        transform: scaleY(0);
                        transform-origin: 0 0 0;
                        transition: all 0.4s ease 0s;
                        text-align: left;

                        a {
                            display: block;
                            font-size: 12px;
                            padding: 15px 12px;
                            height: auto;
                            line-height: 1.4;
                            color: #223f5f;
                            position: relative;
                            text-transform: uppercase;

                            &::before {
                                content: "";
                                position: absolute;
                                width: 4px;
                                height: 4px;
                                background: var(--orange);
                                bottom: -1px;
                            }

                            &::after {
                                content: "";
                                position: absolute;
                                height: 1px;
                                background: var(--orange);
                                bottom: 1px;
                                left: 12px;
                                right: 12px;
                            }

                            &:hover,
                            &.active {
                                color: var(--orange);
                            }

                            &:last-child {

                                &::after,
                                &::before {
                                    display: none
                                }
                            }
                        }
                    }

                    &:hover {
                        .level2 {
                            height: inherit;
                            overflow: visible;
                            visibility: visible;
                            opacity: 1;
                            clip: inherit;
                            transform: scaleY(1);
                        }
                    }
                }
            }
        }

        @media (max-width:1199px) {
            .parent {
                padding-left: 10px;

                &>li {
                    margin: 0;
                }
            }
        }
    }

    .right-head {
        margin-top: -5px;
        flex-grow: 2;
        text-align: right;

        .btn-default {
            font-size: 15px;
            width: 140px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            display: inline-block;
            padding: 0;

            @media (min-width: 1025px) {
                font-size: 18px;
                width: 250px;
                height: 55px;
                line-height: 55px;
            }
        }

        @media (max-width:991px) {
            .btn-default {
                display: none
            }
        }
    }

    .search-btn {
        display: inline-block;
        cursor: pointer;
        height: 30px;
        width: 30px;
        position: relative;
        text-align: center;
        margin-left: 10px;

        input {
            display: none;
        }

        button {
            border: 0;
            background: none;
        }

        .icon-svg {
            position: relative;
            display: block;
            margin: 0 auto;
            top: 18px;
            -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
            transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        }

        .close {
            width: 14px;
            height: 14px;
            opacity: 0;
            left: -5px;
        }

        &.is-clicked {
            .icon-svg {
                top: -13px;
                opacity: 0;
            }

            .close {
                opacity: 1;
                top: 0px;
            }
        }
    }

    .search-wrap {
        background: #fff;
        position: fixed;
        width: 100%;
        top: 75px;
        z-index: 2;
        display: none;
        border-top: 1px solid var(--gray100);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .1);

        input {
            font-size: 18px;
            height: 45px;
            width: 100%;
            outline: 0;
            border: 0;
            padding: 0;
        }
    }

    @media (max-width: 1199px) {
        background: var(--orange);

        .logo {
            width: 120px;
            height: 100px;
            line-height: 0;
            padding: 15px;
        }

        .main-nav {
            width: calc(100% - 130px);
        }
    }


    @media (max-width: 991px) {

        .logo {
            margin: 0 auto;
            padding: 8px;
            width: 80px;
            height: 80px;
            line-height: 60px;
        }

        &.pin {
            .logo {
                line-height: 60px;
            }
        }

        .social {
            display: block;
            position: absolute;
            right: 10px;
            top: 26px;
        }

        &>.container {
            height: 80px;
            display: block;
        }

        .all-menu-tablet {
            display: block;
            position: absolute;
            top: 24px;
        }

        .main-nav {
            position: fixed;
            width: 300px;
            background: var(--dark);
            left: 0;
            top: 80px;
            bottom: 0;
            transform: translate(-110%, 0);
            transition: all .3s;

            .parent {
                display: block;
                padding-right: 10px;

                &>li {
                    width: 100%;
                    margin-left: 0 !important;

                    a {
                        font-size: 13px;
                        text-transform: uppercase;
                        display: block;
                        padding: 0;
                        line-height: 40px;
                        height: 40px;
                        padding: 0 15px;
                        font-weight: 400;
                        border-bottom: 1px solid rgba(153, 153, 153, 0.26);
                    }

                    .sub_menu {
                        display: block;
                        position: absolute;
                        right: 0;
                        width: 40px;
                        text-align: center;
                        top: 0px;
                        line-height: 52px;
                        font-size: 25px;
                        font-family: -webkit-body;
                        color: #fff;
                    }

                    .level2 {
                        position: static;
                        display: none;
                        background: #fff;
                        border-top: 1px solid #eaeaea;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

                        a {
                            color: #222;
                        }
                    }

                    &.active {
                        a {
                            color: var(--orange);
                            font-weight: bold;
                        }
                    }

                    &:hover {
                        h3 {
                            &>a {
                                background: none;
                                color: #fff;
                            }
                        }
                    }
                }
            }

            &::after {
                width: 100%;
                height: 100vh;
                position: absolute;
                background: rgba(0, 0, 0, .75);
                bottom: -100vh;
                left: 0;
                content: '';
                z-index: -1;
                opacity: 0;
                visibility: hidden;
                transition-duration: 700ms;
                transition-property: all;
                transition-timing-function: cubic-bezier(.7, 1, .7, 1);
            }

            &.show-all-menu {
                transform: translate(0);

                &::after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .right-head {
            .search-btn {
                .icon-svg {
                    top: 12px
                }

                &.is-clicked .close {
                    top: -2px;
                }
            }
        }

        .search-wrap {
            top: 55px
        }
    }

    @media (max-width: 480px) {
        .right-head {
            .btn-default {
                display: none;
            }
        }

        .search-btn {
            .icon-svg {
                top: 12px;
            }

            &.is-clicked .close {
                top: -4px;
            }
        }
    }
}

.all-menu-tablet {
    float: left;
    width: 50px;
    height: 33px;
    text-align: center;
    margin-left: -15px;
    margin-top: -2px;
    cursor: pointer;
    display: none;

    .hamburger {
        width: 20px;
        height: 2px;
        background: #fff;
        display: inline-block;
        position: relative;

        &:before,
        &:after {
            content: '';
            width: 20px;
            height: 2px;
            background: #fff;
            position: absolute;
            left: 0;
        }

        &:before {
            top: 6px;
        }

        &:after {
            top: 12px;
        }
    }

    &.close-menu-tablet {
        padding-top: 5px;

        .hamburger {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);

            &:before {
                display: none;
            }

            &:after {
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                top: 0;
            }
        }
    }

}