@media (max-width:979px) {
    .text_review {
        max-width: 100%;
        width: 100%;
    }

    .page-detail.top-detail {
        .sidebar-1 {
            max-width: calc(100% - 65px);
        }
    }

    .wrap_pic {
        .block_thumb_wrap {
            min-width: 100%;
        }
    }

    .case-point {
        .item-point {
            min-width: 33.33%;
            width: 33.33%;
            margin: 0;
            padding: 0 5px;
        }
    }

    .box-bank-insert {
        .scroll-bar-bank {
            .ss-content {
                width: 100%;
            }

            .ss-scroll {
                display: none
            }
        }
    }

}

@media (max-width:590px) {
    .flexbox {
        flex-wrap: wrap;
    }

    .action_thumb {
        z-index: 1;
    }

    .page-detail {
        .header-content {
            .date {
                width: 100%;
                margin-top: 15px;
            }
        }

        .title-detail {
            font-size: 22px;
        }
    }

    .social_pin {
        width: 100%;
        position: static;
        display: none;
    }

    .page-detail.top-detail {
        &>.container {
            display: block;
            background: #fff;
        }

        .sidebar-1 {
            max-width: 100%;
            padding-top: 10px;
        }
    }

    .fck_detail {
        table[style*='margin-left: 25px'] {
            width: 100% !important;
            margin-left: 0 !important;
        }

        table[style*='margin-right: 25px'] {
            width: 100% !important;
            margin-right: 0 !important;
        }

        .vote_rating_box {
            padding: 10px;
        }
    }

    .case-point {
        .item-point {
            min-width: 50%;
            width: 50%;
            margin: 10px 0;
        }
    }

    .box-insert-article {
        padding: 15px;

        .item-news {
            .thumb-art {
                position: relative;
                margin-bottom: 10px;
                float: left;
                width: 100%;
                order: 2;
                margin-left: 0;
            }

            .title-news {
                margin-bottom: 10px;
                order: 1;
            }

            &.off-thumb {
                padding-right: 0;
            }
        }
    }

    .quiz_box,
    .box-info-dating .content-info-dating {
        padding: 10px
    }

    .box_brief_info {

        &.right,
        &.left {
            width: 100%;
            max-width: 100%;
            float: left;
            max-width: 0 0 15px 0;
        }
    }

    .col_text_review {
        width: 100%;

        &.col_uu {
            padding-right: 0;
            margin-bottom: 20px;
        }

        &.col_nhuoc {
            padding-left: 0;
        }
    }

    .evaluate_point {
        padding: 15px 15px 0 15px;
    }

    .box_gallery_review {
        width: 100%;
    }

    .box_shopping_review {
        width: 100%;
        padding-left: 0;
        padding-top: 10px;
    }

    .list_rating_rev {
        .item_rate {
            width: 100%;
        }
    }

    .page-detail.detail-photo .item_slide_show .block_thumb_slide_show {
        min-width: 100%;
    }

    .detail-live .header-content,
    .detail-live .page-detail .width-detail-photo,
    .page-detail .detail-live .width-detail-photo,
    .detail-live .title-detail,
    .detail-live .description,
    .detail-live .header-live {
        padding: 0;
    }

    .detail-live .related-list {
        padding-left: 0;
    }

    .detail-live .fck_detail {
        padding: 20px 0;
        border: none;
        border-top: 1px solid #e5e5e5;
    }

    .detail-live .tab-live {
        padding: 0;
    }

    .detail-live .header-live {
        height: auto;
        line-height: normal;
    }

    .detail-live .header-live .social {
        width: 100%;
        float: left;
        margin-top: 15px;
    }

    .detail-live .header-live .ic-live:before {
        top: 4px;
    }

    .detail-live .header-live .time:before {
        top: 1px;
    }

    .detail-live .header-live .social .circle_s {
        margin-left: 0;
        margin-right: 10px;
    }

    .detail-live .block-pin {
        padding: 15px 0 20px 0;
        border: none;
    }

    .fck_detail_pin .desc_cation {
        padding: 0 !important;
    }

    .input_comment textarea {
        background: none;
    }

    .page-detail .list-topic {
        flex-wrap: wrap;
    }

    .page-detail .list-topic .item-news,
    .page-detail .list-topic .view-event {
        width: 50%;
        margin-bottom: 15px;
    }
}