
.ic,
.content_goithutoasoan a::after,
.ic-comment::before {
  width: 14px;
  height: 14px;
  background: url(images/graphics/icon_vne.svg) no-repeat;
  display: inline-block;
  vertical-align: middle;
}
/*Menu*/
.main_menu {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2247483647;
  will-change: transform;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: translate(-100%);
  -ms-transform: translate(-100%);
  transform: translate(-100%);
  overflow: hidden;
}

.main_menu .ic-twitter {
  background-position: -120px -260px;
  width: 24px;
  height: 24px;
}

.main_menu .ic-email {
  width: 16px;
  height: 12px;
  background-position: -192px -127px;
}

.main_menu .ic-vnexpress {
  width: 16px;
  height: 18px;
  background-position: -415px -192px;
}

.main_menu .ic-facebook {
  width: 24px;
  height: 24px;
  background-position: -72px -260px;
}

.main_menu .ic-false {
  width: 18px;
  height: 18px;
  background-position: -72px -192px;
}

.main_menu .ic-google-plus {
  width: 24px;
  height: 24px;
  background-position: -312px -260px;
}

.main_menu .ic-rss {
  background-position: -339px -263px;
  width: 20px;
  height: 20px;
}

.main_menu .ic-search {
  width: 17px;
  height: 18px;
  background-position: -108px -192px;
}

.header_menu {
  height: 40px;
}

.header_menu .block_swich_en_mobile {
  float: right;
  padding: 0 0 0 15px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 40px;
  color: #999;
}

.header_menu .block_swich_en_mobile a {
  line-height: 40px;
  vertical-align: middle;
  width: 80px;
  height: 18px;
  text-indent: -9000px;
  display: inline-block;
  position: relative;
}

.header_menu .block_swich_en_mobile a::after {
  content: "English";
  position: absolute;
  top: 0;
  left: 20px;
  text-indent: 0;
  height: 18px;
  font: 400 14px arial;
}

.header_menu .block_swich_en_mobile a .ic {
  text-indent: 0;
  position: absolute;
  top: -1px;
  left: 0;
}

#main_menu .togle {
  background: rgba(27, 113, 178, 0.2);
  color: #222222;
  margin-bottom: 0;
}

#main_menu .togle p {
  padding-right: 70px;
}

#main_menu .togle .can-toggle {
  top: 45px;
}

#main_menu .togle h3 {
  font-size: 16px;
}

#main_menu .box-canhanhoa.togle .can-toggle input[type=checkbox]:checked~label .can-toggle__switch {
  background-color: #1B71B2;
  border: 1px solid #1B71B2;
}

.show_main_menu .main_menu {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.block_scoll_menu {
  scroll-behavior: smooth;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 9999;
  height: 100%;
  padding-bottom: 35px;
}

.block_scoll_menu .block_search {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 15px;
  position: relative;
}

.block_scoll_menu .block_search .input_form {
  color: #333;
  padding: 0 60px 0 10px;
  font-size: 16px !important;
  height: 32px;
  border: 1px solid #eee;
  width: 100%;
  outline: 0;
}

.block_scoll_menu .block_search .btn_search,
.block_scoll_menu .block_search .btn_reset {
  width: 32px;
  height: 32px;
  border: none;
  background: none;
  border: 1px solid #eee;
  text-align: center;
  line-height: 32px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  -webkit-transition-duration: 350ms;
  transition-duration: 350ms;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  visibility: visible;
  opacity: 1;
  outline: none;
}

.block_scoll_menu .block_search .btn_reset {
  visibility: hidden;
  opacity: 0;
  right: 47px;
  border: none;
  background: none;
  font-size: 30px;
  color: #999;
  font-family: -webkit-body;
}

.block_scoll_menu .block_search.focus .btn_search {
  background: #9f224e;
}

.block_scoll_menu .block_search.focus .btn_search .ic-search {
  background-position: -863px -192px;
}

.block_scoll_menu .block_search.focus .btn_reset {
  visibility: visible;
  opacity: 1;
}

.guitoasoan_btn {
  display: block;
  width: calc(50% - 10px) !important;
  background: #e7e7e7;
  text-align: center;
  font: 400 16px/21px arial !important;
  padding: 10px 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
}

.guitoasoan_btn .ic {
  margin: -3px 10px 0 0;
}

.guitoasoan_btn.ads_btn {
  float: right;
  background: #ffc134;
}

.ic-ads {
  width: 16px;
  height: 16px;
  background: url(images/graphics/ad.svg) no-repeat 0 0;
  background-size: contain;
}

.coppy_right_info {
  padding: 15px;
  font: 400 14px arial !important;
  position: relative;
}

.coppy_right_info label {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 7px;
}

.coppy_right_info .app_info {
  margin-bottom: 20px;
}

.coppy_right_info .app_info p {
  width: calc(50% - 10px);
}

.coppy_right_info .app_info p a {
  width: 100%;
  height: 40px;
  background: #e7e7e7;
  display: block;
  padding-left: 10px;
  padding-top: 3px;
  border-radius: 5px;
  font-size: 14px !important;
}

.coppy_right_info .app_info p a .ic {
  float: left;
  margin-right: 7px;
  margin-top: 5px;
}

.coppy_right_info .app_info p a .s_text {
  text-transform: uppercase;
  font-size: 10px !important;
  line-height: 13px !important;
}

.coppy_right_info .app_info p a .s_text strong {
  font-size: 15px !important;
}

.coppy_right_info .vne_app p a {
  text-align: center;
  padding-top: 8px;
}

.coppy_right_info .vne_app p a span {
  display: inline-block;
  margin-right: 2px;
  vertical-align: middle;
}

.coppy_right_info .phone_info {
  margin-bottom: 20px;
}

.coppy_right_info .phone_info p {
  width: 50%;
  font-size: 14px !important;
}

.coppy_right_info .phone_info p.right {
  padding-left: 10px;
}

.coppy_right_info .phone_info p strong {
  font-size: 18px;
}

.copyright_text {
  color: #999;
  text-align: center;
  padding: 15px 0 0 0;
  margin-bottom: 30px;
  border-top: 1px solid #e7e7e7;
}

.copyright_text img {
  width: 170px;
}

.copyright_text p {
  font-size: 14px !important;
}

.list_menu {
  background: #f7f7f7;
}

.list_item_panel {
  padding-right: 15px;
  border-bottom: 1px solid #ccc;
}

.list_item_panel:last-child {
  border: none;
}

.list_item_panel li {
  width: 50%;
  float: left;
  margin: 0;
  padding: 0 0 0 15px;
}

.list_item_panel li a.link_item_panel {
  display: block;
  width: 100%;
  float: left;
  color: #333;
  font: 400 16px/18px arial !important;
  border-bottom: 1px solid #e7e7e7;
  padding: 10.5px 0;
}

.list_item_panel li:last-child a.link_item_panel,
.list_item_panel li:nth-last-child(2) a.link_item_panel {
  border: none;
}

.list_item_panel li .child-mn li {
  width: 100%;
  float: left;
  position: relative;
}

.list_item_panel li .child-mn li::after {
  content: "";
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1) !important;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.list_item_panel li .child-mn li:before {
  width: 4px;
  height: 4px;
  background: #9F224E;
  border-radius: 50%;
  position: absolute;
  top: 19px;
  left: 0;
  content: '';
}

.list_item_panel li .child-mn li a.link_item_panel {
  font: 400 15px/17px arial !important;
  padding: 11.5px 0;
}

.list_item_panel li.active a.link_item_panel {
  font-weight: 700 !important;
  color: #9f224e;
}

.list_item_panel li.active a.link_item_panel.kinhdoanh {
  color: #04416d;
}

.list_item_panel li.active a.link_item_panel.giaitri {
  color: #d71450;
}

.list_item_panel li.active a.link_item_panel.thethao {
  color: #58a12b;
}

.list_item_panel li.active a.link_item_panel.phapluat {
  color: #6e2c2d;
}

.list_item_panel li.active a.link_item_panel.giaoduc {
  color: #e17100;
}

.list_item_panel li.active a.link_item_panel.suckhoe {
  color: #04a59d;
}

.list_item_panel li.active a.link_item_panel.giadinh {
  color: #2d96b5;
}

.list_item_panel li.active a.link_item_panel.dulich {
  color: #0072bb;
}

.list_item_panel li.active a.link_item_panel.khoahoc {
  color: #806f26;
}

.list_item_panel li.active a.link_item_panel.sohoa {
  color: #df9c00;
}

.list_item_panel li.active a.link_item_panel.xe {
  color: #6a7b83;
}

.list_item_panel li.active a.link_item_panel.cuoi {
  color: #dc3926;
}

.list_item_panel li.active .child-mn a.link_item_panel {
  font-weight: 400 !important;
  color: #333 !important;
}

.list_item_panel.list_index li a.link_item_panel {
  border: none;
  font-weight: 400 !important;
  color: #004f8b !important;
}

.list_item_panel .item_social {
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-right: 15px;
  margin-top: 6px;
  display: inline-block;
}

.mask-content {
  position: relative;
}

.mask-content::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 201;
  background: transparent;
  content: "";
  transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
  -moz-transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
  -webkit-transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
  -ms-transition: all 250ms cubic-bezier(0.7, 1, 0.7, 1);
  opacity: 0;
  visibility: hidden;
}

.show_main_menu .mask-content::before,
.show_main_menu .close_main_menu {
  opacity: 1;
  visibility: visible;
}

body.show_main_menu,
body.hidden {
  overflow: hidden!important;
  height: 100vh;
  position: relative;
}

.close_main_menu {
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px !important;
  font-size: 0 !important;
  text-align: center;
}