html {
  // font-size: 62.5%;
  font-size: 100%;
}

body {
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: none;
  font-family: var(--fontmain);
  font-size: 0.875rem;
  line-height: 1.4;
  color: #222;
  font-feature-settings: 'pnum'on,
    'lnum'on;
}

.min-container {
  max-width: 840px;
  margin: 0 auto;
}

.sticky {
  position: sticky;
  top: 0;
}
.title-box-category {
  font-feature-settings: 'pnum'on, 'lnum'on;
  -webkit-font-feature-settings: 'pnum'on, 'lnum'on;
  -moz-font-feature-settings: 'pnum'on, 'lnum'on;
  -ms-font-feature-settings: 'pnum'on, 'lnum'on;
}
#to_top {
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid #E5E5E5;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  position: fixed;
  bottom: 20px;
  right: 20px;

  svg {
    width: 16px;
    height: 16px;
    fill: #757575;
    display: inline-block;
    vertical-align: middle;
  }

  i {
    background-position: -32px -125px;
    width: 16px;
    height: 16px;
  }
}

a {
  color: #222;
  text-decoration: none;
  outline: 1;

  &:hover {
    color: var(--color-vne);
  }

  &:focus {
    outline: 1 !important;
  }
}

p {
  margin-bottom: 10px;
}

svg {
  fill: currentColor;
}

img {
  border: 0;
  line-height: 0;
  max-width: 100%;
  vertical-align: middle;
}

ul,
li {
  list-style-type: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

.placeholder-demo {
  opacity: .1;
  -webkit-animation: fading 1.5s infinite;
  animation: fading 1.5s infinite;
  background-color: var(--color3);
  border-radius: 5px;
  min-width: 50px;
  min-height: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea,
select {
  background: #fff;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin: 3px 0;
  padding: 0 5px;
  outline: none;
}

.btn {
  font-size: 0.875rem;
  border: 0;
  line-height: 30px;
  height: 30px;
  padding: 0 15px;
  cursor: pointer;
  transition: 0.5s ease;
}

.btn_vne {
  background: #9F224E;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  height: 40px;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  line-height: 40px;
  padding: 0 35px;

  &:hover {
    background: #B52759;
  }
}

.btn_vne {
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.red {
  color: var(--color-vne)
}

.relative {
  position: relative;
}

.center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.no_wrap {
  white-space: nowrap;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px;
}

.gray {
  color: #757575;
}

.txt_666 {
  color: #666;
}

.txt_10 {
  font-size: 0.625rem;
}

.txt_11 {
  font-size: 0.6875rem;
}

.txt_14 {
  font-size: 0.875rem;
}

.txt_16 {
  font-size: 1rem;
}


.box_category {
  margin-bottom: 25px;
}

.width_common {
  width: 100%;
  float: left;
}

.left {
  float: left;
}

.right {
  float: right;
}

.transition_ease {
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.art_item {
  position: relative;
  margin-bottom: 20px;

  .title_news {
    font: bold 16px var(--fontmain);
    line-height: 1.3;
  }

  .content {
    overflow: hidden;
  }

  .description {
    font: 400 14px/1.6 Arial;
    margin-bottom: 10px;
  }
}

.thumb_img {
  display: block;
  overflow: hidden;
  height: 1px;
  position: relative;
  width: 100%;
  background: #F6F6F6;

  img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.thumb_img.thumb_5x3 {
  padding-bottom: 60%;
}

.thumb_img.thumb_1x1 {
  padding-bottom: 100%;
}

.thumb_img.thumb_1x15 {
  padding-bottom: 150%;
}

.thumb_img.thumb_16x9 {
  padding-bottom: 56.2%;
}

.thumb_img.thumb_video {
  padding-bottom: 56.25%;
}

.embed-container {
  padding-bottom: 56.2%;
  position: relative;
  display: block;

  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.ic-live {
  font-family: arial;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  color: var(--color-vne);
}

.ic-live:before {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  position: relative;
  width: 10px;
  height: 10px;
  margin-top: 5px;
  content: "";
  background: var(--color-vne);
  box-shadow: 0 0 0 rgba(23, 143, 214, 0.4);
  margin-right: 8px;
  vertical-align: initial;
  -webkit-animation: live-pulse 1s infinite;
  -moz-animation: live-pulse 1s infinite;
  -o-animation: live-pulse 1s infinite;
  animation: live-pulse 1s infinite;
  float: left;
}

@-webkit-keyframes live-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(159, 34, 78, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(159, 34, 78, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(159, 34, 78, 0);
  }
}

@keyframes live-pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(159, 34, 78, 0.4);
    box-shadow: 0 0 0 0 rgba(159, 34, 78, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(23, 143, 214, 0);
    box-shadow: 0 0 0 10px rgba(159, 34, 78, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(159, 34, 78, 0);
    box-shadow: 0 0 0 0 rgba(159, 34, 78, 0);
  }
}