
.top_bar {
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #fff;
    height: 50px;
    padding: 9px 0;
    border-bottom: 1px solid #eaeaea;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  
  .top_bar.sticky.nav-up {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  
  .top_bar.sticky.nav-down {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  
  .top_bar .hamburger {
    display: none;
    position: absolute;
    top: 5px;
    left: 10px;
    text-align: center;
    height: 20px;
    z-index: 5;
    width: 30px;
    cursor: pointer;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  
  .top_bar .hamburger span {
    display: block;
    height: 2px;
    margin: 3px auto 0 auto;
    width: 18px;
    background: #BDBDBD;
  }
  
  .top_bar .mobile-search {
    position: absolute;
    right: 15px;
    top: 0px;
    display: none;
  }
  
  .top_bar .mobile-search i {
    color: #bdbdbd;
    font-weight: bold;
    font-size: 18px;
  }
  
  .top_bar .logo {
    width: 150px;
    float: left;
  }
  .top_bar .all-menu{
    float: left;
    border-left: 1px solid #E5E5E5;
    margin-left: 20px;
    padding-left: 45px;
    color: #757575;
    margin-top: 5.5px;
    margin-right: 32px;
  }
  .top_bar .all-menu .hamburger {
    width: 16px;
    height: 2px;
    position: relative;
    background: #BDBDBD;
    display: block;
    top: 5px;
    margin-left: 8px;
    left: -35px;
  }
  .top_bar .all-menu .hamburger:before, .top_bar .all-menu .hamburger:after {
    content: '';
    width: 16px;
    height: 2px;
    background: #BDBDBD;
    position: absolute;
  }
  .top_bar .all-menu .hamburger:before {
    left: 0;
    top: 10px;
  }
  .top_bar .all-menu .hamburger:after {
    left: 0;
    top: 5px;
  }
  
  .top_bar .date {
    font: 400 14px Arial;
    color: #757575;
    float: left;
    margin-top: 8.5px;
    @media (max-width: 979px) {
      display: none;
    }
  }
  
  .top_bar .logo_mobile {
    display: none;
  }
  
  .top_bar .block-right {
    float: right;
    font-size: 0.875rem;
  }
  
  .top_bar .block-right .search {
    float: right;
    width: 265px;
    position: relative;
  }
  
  .top_bar .block-right .search * {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  
  .top_bar .block-right .search .search-input {
    border: 1px solid #E5E5E5;
    border-radius: 16px;
    font-size: 14px;
    color: #757575;
    padding: 0 25px 0 15px;
    margin: 0;
  }
  
  .top_bar .block-right .search .search-btn {
    position: absolute;
    right: 8px;
    top: 0;
    height: 30px;
    width: 28px;
    line-height: 28px;
    cursor: pointer;
    text-align: center;
  }
  
  .top_bar .block-right .search .search-btn button {
    background: none;
    border: 0;
  }
  
  .top_bar .block-right .search .search-btn i {
    color: #bdbdbd;
    font-size: 15px;
  }
  
  .top_bar .block-right .search.active input {
    border: 1px solid #BDBDBD;
  }
  
  .top_bar .block-right .search.active .search-btn i {
    color: #666;
  }
  
  .top_bar .form_log {
    margin: 2px 0 0 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .top_bar .form_log .user a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .top_bar .form_log .user .name {
    color: #9F224E;
  }
  
  .top_bar .form_log>li {
    display: inline-block;
    padding-left: 10px;
    border-left: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .top_bar .form_log>li .icon-user {
    color: #BDBDBD;
    margin-right: 4px;
  }
  
  .top_bar .form_log>li .icon-user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 2px 0 0;
  }
  
  .top_bar .form_log>li .icon-user svg {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  .top_bar .form_log>li a {
    font-size: 14px;
    color: #4F4F4F;
    font-family: arial;
  }
  
  .top_bar .form_log>li:first-child {
    border-left: 0;
    padding-left: 0;
  }
  
  .top_bar .form_log>li:last-child {
    margin-right: 0;
  }
  
  @media (max-width: 992px) {
    .top_bar .block-right .search {
      width: 190px;
    }
  }
  
  @media (max-width: 768px) {
    .top_bar {
      height: 45px;
      z-index: 99;
      box-shadow: 0 1px 3px rgba(80, 80, 80, 0.2), 0 3px 5px rgba(80, 80, 80, 0.15);
    }
  
    .top_bar .hamburger {
      display: block;
    }
  
    .top_bar .block-right__log {
      margin-top: 2px;
    }
  
    .top_bar .block-right__log .form_log.success {
      margin-top: -5px;
    }
  
    .top_bar .logo {
      margin: -2px 0 0 40px;
    }
  }
  
  @media (max-width: 767px) {
    .top_bar .date {
      display: none;
    }
  
    .top_bar .block-right .mobile-search {
      display: block;
    }
  
    .top_bar .block-right .mobile-search.active {
      top: -10px;
    }
  
    .top_bar .block-right .mobile-search.active i {
      font-size: 30px;
    }
  
    .top_bar .block-right .mobile-search.active i::before {
      content: "×";
      font-family: -webkit-body;
    }
  
    .top_bar .block-right .mobile-search.active+.search {
      overflow: visible;
      z-index: 99;
    }
  
    .top_bar .block-right .search {
      overflow: hidden;
      position: absolute;
      width: 100%;
      right: 0;
      top: 35px;
      z-index: -1;
      -webkit-transition: 0.3s ease;
      transition: 0.3s ease;
    }
  
    .top_bar .block-right .search .search-input {
      border-radius: 0;
      border: 0;
      box-shadow: 0 1px 3px rgba(80, 80, 80, 0.2), 0 3px 5px rgba(80, 80, 80, 0.15);
      height: 35px;
    }
  
    .top_bar .block-right__log {
      margin: 2px 40px 0 0;
    }
  
    .top_bar .form_log>li {
      margin-right: 5px;
      padding-left: 8px;
    }
  }
  
  @media (max-width: 480px) {
    .top_bar .logo {
      width: 132px;
      margin: 0px 0 0 35px;
    }
  
    .top_bar .block-right__log {
      margin: 4px 30px 0 0;
    }
  
    .top_bar .block-right__log .form_log {
      margin: 0;
    }
  
    .top_bar .block-right__log .form_log li {
      display: none;
      margin-right: 0;
    }
  
    .top_bar .block-right__log .form_log li.user {
      display: block;
    }
  
    .top_bar .block-right__log .form_log li.user a {
      font-size: 0;
    }
  
    .top_bar .block-right__log .form_log li.user img {
      width: 25px;
      height: 25px;
    }
  
    .top_bar .block-right__log .form_log li.user .name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 80px;
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
    }
  }
  
  @media (max-width: 380px) {
    .top_bar .block-right__log .form_log li.user .name {
      font-size: 0;
    }
  }


  .top_new {
    background: #fff;
    z-index: 98;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  .top_new .justify-content-between {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #757575;
    font-weight: bold;
    height: 52px;
  }
  
  .top_new__left ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }
  
  .top_new__left ul li {
    margin-right: 30px;
    @media (max-width: 979px) {
      margin-right: 15px;
    }
  }
  .top_new__left ul li h3{
    color: #222;
    padding-right: 10px;
    font-size: 16px;
    position: relative;
    font-family: var(--font1);
  }
  .top_new__left ul li h3::before{
    content: '';
    width: 7px;
    height: 7px;
    border-top: 1px solid #222;
    border-right: 1px solid #222;
    transform: rotate(
  45deg
  );
    position: absolute;
    right: -13px;
    top: 8px;
    @media (max-width: 979px) {
      right: -3px;
    }
  }
  .top_new__left ul li a {
    color: #757575;
  }
  
  .top_new__left ul li a i {
    float: left;
    font-size: 15px;
    margin: -3px 4px 0 0;
  }
  
  .top_new__left ul li.active a {
    color: var(--color-vne);
  }
  
  .top_new__right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    @media (max-width: 979px) {
      display: none;
    }
  }
  
  .top_new__right .social {
    margin-left: 10px;
  }
  
  .top_new__right .social a {
    width: 30px;
    height: 30px;
    margin-left: 2px;
    line-height: 27px;
    text-align: center;
    border: 1px solid #E5E5E5;
    display: inline-block;
    border-radius: 50%;
    color: #757575;
    font-size: 12px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  
  .top_new__right .social .face:hover {
    border: 1px solid #3b5998;
    color: #3b5998;
  }
  
  .top_new__right .social .twitter:hover {
    border: 1px solid #00acee;
    color: #00acee;
  }
  
  .top_new__right .social .mail:hover {
    border: 1px solid #dd5144;
    color: #dd5144;
  }