body::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #222;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.item-news {
    position: relative;
    float: none;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;

    &::after {
        content: "";
        clear: both;
        display: block
    }

    .thumb-art {
        width: 140px;
        float: left;
    }

    .content {
        overflow: hidden;
    }

    .title-news {
        font: 600 20px var(--font1);
        margin-bottom: 10px;
        line-height: 130% !important;
    }


    .description {
        color: #6B6B6B;
        font-size: 16px;
        line-height: 1.6;

        a {
            color: #6B6B6B;
        }
    }

    &.full-thumb {
        float: none;

        .thumb-art {
            width: 100%;
            float: none;
            margin: 0 0 10px 0;
        }

        .content {
            overflow: visible;
        }

        .title-news {
            margin-bottom: 0;
        }
    }


}

.dotted-svg {
    position: relative;

    &::before {
        content: "";
        background: #D3BF9F;
        width: 17px;
        height: 17px;
        position: absolute;
        border-radius: 50%;
        top: 7px;
    }
}

.btn-view {
    border: 1px solid #AA7D54;
    color: #AA7D54;
    padding: 7px 20px;
    display: inline-block;
    font: 600 16px var(--font1);

    svg {
        margin-left: 6px;
        color: #AA7D54;
        width: 22px;
        height: 22px;
    }

    @media (max-width: 576px) {
        padding: 5px 20px;
    }
}

.btn-default {
    position: relative;
    display: inline-block;
    text-align: center;

    .bg {
        background: #AA7D54;
        font-weight: 600;
        font-size: 16px;
        color: #F9F0E3;
        font-family: var(--font1);
        position: relative;
        height: 49px;
        padding: 0 50px;
        display: inline-block;
        line-height: 49px;
        transition: 0.3s all;
    }

    svg {
        margin-left: 5px;
        color: #fff;
        width: 24px;
        height: 24px;
    }

    &:hover {
        .bg {
            background: #825d3c;
            color: #fff;
        }
    }

    &.line {
        &::before {
            content: "";
            border: 1px solid #191919;
            position: absolute;
            top: 5px;
            bottom: -5px;
            right: -7px;
            left: 10px;
        }
    }

    &.full {
        width: 100%;

        .bg {
            width: 100%;
        }
    }
}

.title-cate {
    color: #191919;
    font-size: 56px;
    font-family: var(--font1);
    margin-bottom: 30px;
    line-height: 1.2;

    span {
        display: block;
        font-size: 32px;
    }
}

.form-default {

    .form-group {
        margin-bottom: 25px;
        position: relative;

        .form-control {
            position: relative;
        }

        label {
            color: #6B6B6B;
            margin-bottom: 5px;
            display: block
        }

        .line {
            position: relative;

            &::before {
                content: "";
                border: 1px solid #D3BF9F;
                position: absolute;
                top: 10px;
                bottom: -7px;
                right: -7px;
                left: 7px;
            }

            .form-control {
                position: relative;
            }
        }
    }
}


.tab-default {
    a {
        font: 600 16px var(--font1);
        color: #6B6B6B;
        display: inline-block;
        padding-right: 25px;
        padding-bottom: 15px;

        &.active {
            color: #191919;
            border-bottom: 1px solid #AA7D54;
        }

        @media (max-width: 576px) {
            padding-right: 15px;
        }
    }
}

// loadding
.circle-loader {
    position: absolute;
    left: 50%;
}

.circle-loader div {
    height: 10px;
    width: 10px;
    background-color: #999;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: 0.8s opaque ease-in-out infinite both;
    animation: 0.8s opaque ease-in-out infinite both;
}

.circle-loader>div:nth-child(1) {
    top: -25px;
    left: 0;
}

.circle-loader>div:nth-child(2) {
    top: -17px;
    left: 17px;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.circle-loader>div:nth-child(3) {
    top: 0;
    left: 25px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.circle-loader>div:nth-child(4) {
    top: 17px;
    left: 17px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.circle-loader>div:nth-child(5) {
    top: 25px;
    left: 0;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.circle-loader>div:nth-child(6) {
    top: 17px;
    left: -17px;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.circle-loader>div:nth-child(7) {
    top: 0;
    left: -25px;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.circle-loader>div:nth-child(8) {
    top: -17px;
    left: -17px;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

@-webkit-keyframes opaque {
    0% {
        opacity: 0.1;
    }

    40% {
        opacity: 1;
    }

    80% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.1;
    }
}

@keyframes opaque {
    0% {
        opacity: 0.1;
    }

    40% {
        opacity: 1;
    }

    80% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.1;
    }
}