.footer {
    padding: 34px 0;
    background: #fff;

    .flex {
        justify-content: center;
        align-items: center;

        a {
            display: inline-block;
            padding: 0 40px
        }

        .logo-vne {
            border-right: 1px solid #000000;
        }
    }

    @media (max-width: 576px) {
        padding: 20px 0;

        .flex {
            a {
                padding: 0 20px;
            }

            .logo-vne {
                width: 150px;
            }

            .logo-20-years {
                width: 150px;
            }
        }
    }
}