.list_comment {
  width: 100%;

  .grid {
    margin: 0 -15px;
    overflow: hidden;

    .grid-item {
      display: block;
      float: left;
      padding: 0 15px;
      width: 50%;

      @media (max-width: 576px) {
        width: 100%;
      }

      .item {
        background: #FFFFFF;
        color: #000;
        font-family: Arial;
        font-size: 18px;
        line-height: 27px;
        padding: 16px;
        margin-bottom: 24px;
        position: relative;

        .head {
          font: 600 20px/1.3 var(--font1);
          color: #191919;
          margin-bottom: 15px;
        }

        .thumb {
          margin-bottom: 15px;
          cursor: pointer;

          .story {
            position: absolute;
            bottom: 20px;
            right: 20px;

            &::before {
              content: "";
              border: 1px solid #D3BF9F;
              position: absolute;
              top: 5px;
              bottom: -5px;
              right: -5px;
              left: 5px;
            }

            span {
              background: #AA7D54;
              font: bold 16px var(--font1);
              color: #fff;
              padding: 1px 10px;
              position: relative;
            }
          }

          .play {
            position: absolute;
            bottom: 0;
            left: 0;
            background: #AA7D54;
            width: 48px;
            height: 48px;
            text-align: center;
            line-height: 48px;
            cursor: pointer;

            svg {
              width: 20px;
              height: 20px;
              color: #fff
            }
          }
        }

        .item-comment {
          font-size: 16px;
          color: #191919;
          margin-bottom: 25px;
        }

        .item-bottom {
          justify-content: space-between;
          align-items: center;

          h4 {
            color: #AA7D54;
            font-size: 16px;
          }

          .social {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            color: #6B6B6B;
            font-size: 14px;

            .flex {
              align-items: center;
              margin-right: 15px;
            }

            .number {
              margin-left: 5px;
            }

            a {
              color: #6B6B6B;
            }

            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUpSlow {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSlow {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpSlow {
  -webkit-animation-name: fadeInUpSlow;
  animation-name: fadeInUpSlow;
}

@-webkit-keyframes fadeInLeftSlow {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeftSlow {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeftSlow {
  -webkit-animation-name: fadeInLeftSlow;
  animation-name: fadeInLeftSlow;
}

@-webkit-keyframes fadeInRightSlow {
  from {
    opacity: 0;
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRightSlow {
  from {
    opacity: 0;
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRightSlow {
  -webkit-animation-name: fadeInRightSlow;
  animation-name: fadeInRightSlow;
}