.wrap-main-nav {

    margin-bottom: 40px;
    background: #f7f4f0;
    transition: 0.25s all;
    top: 0 !important;

    .wrap {
        max-width: 1792px;
        margin: 0 auto;
        border-bottom: 1px solid #000000;
        position: relative;
        height: 80px;
        align-items: center;
        transition: 0.25s all;
    }

    .back-vne {
        position: absolute;
        left: 0;
        font: 600 16px var(--font1);
        color: #333333;

        svg {
            width: 37px;
            height: 37px;
            margin-right: 5px;
            position: relative;
            transform: rotate(180deg);
        }

        .dotted-svg {
            &::before {
                left: -5px;
            }
        }
    }

    .menu {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        li {
            margin: 0 15px;

            a {
                color: #191919;
                font-size: 16px;
                font-family: var(--font1);
                position: relative;

                .dotted-svg {
                    &::before {
                        left: -7px;
                    }

                    svg {
                        width: 24px;
                        height: 24px;
                        position: relative;
                        z-index: 1;
                    }
                }
            }

            &.active {
                a {
                    color: var(--color-main);
                    font-weight: 600;

                    &::before {
                        content: "";
                        background: var(--color-main);
                        height: 2px;
                        left: 10px;
                        right: 10px;
                        position: absolute;
                        bottom: -10px;
                    }
                }
            }
        }
    }

    .right-head {
        position: absolute;
        right: 0;
    }

    .logo-mobile,
    #vibeji-ham {
        display: none
    }

    &.pin {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        max-width: 100%;
        border-bottom: 0;

        .wrap {
            border-bottom: 0
        }
    }

    @media (max-width: 1792px) {
        padding: 0 15px;
    }

    @media (max-width: 1100px) {
        .back-vne {
            span {
                display: none
            }

            .dotted-svg {
                display: block
            }
        }

        .menu {
            li {
                margin: 0 15px;
            }
        }
    }

    @media (max-width: 900px) {
        .wrap {
            height: 64px;
        }

        .menu {
            li {
                margin: 0 15px;
            }
        }

        .back-vne,
        .menu {
            display: none
        }

        .logo-mobile {
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -56.5px;
            width: 113px;
        }

        #vibeji-ham {
            width: 25px;
            height: 20px;
            position: relative;
            transform: rotate(0);
            transition: .5s ease-in-out;
            cursor: pointer;
            margin-right: 0 !important;
            display: block;
            position: absolute;

            &::before {
                content: "";
                background: #D3BF9F;
                width: 13px;
                height: 13px;
                position: absolute;
                border-radius: 50%;
                top: 1px;
                left: 6px;
            }

            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: #000000;
                border-radius: 9px;
                opacity: 1;
                right: 0;
                transform: rotate(0);
                transition: .25s ease-in-out;

                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2) {
                    top: 7px;
                }

                &:nth-child(3) {
                    top: 14px;
                }
            }

            &.open {
                span {
                    &:nth-child(1) {
                        top: 9px;
                        width: 100%;
                        transform: rotate(135deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                        right: -30px;
                        width: 100%;
                    }

                    &:nth-child(3) {
                        top: 9px;
                        width: 100%;
                        transform: rotate(-135deg);
                    }
                }
            }
        }
    }

    @media (max-width: 576px) {
        border-bottom: 0;

        .wrap {
            border-bottom: 1px solid #000000;
        }

        #myvne_taskbar {
            .myvne_avatar {
                .name_user_av {
                    display: none
                }
            }
        }

        &.pin {
            .wrap {
                border-bottom: 0
            }
        }
    }
}

.topnav-mobile {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: -100%;
    width: 300px;
    background-color: #fff !important;
    overflow-y: scroll;
    color: #4d4d4d;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    z-index: 1001;

    .menu {
        li {
            a {
                color: #191919;
                font-size: 16px;
                font-family: var(--font1);
                display: block;
                padding: 10px 15px;
                border-bottom: 1px solid #edded0;
            }

            &.active {
                a {
                    color: var(--color-main);
                    font-weight: 600;
                }
            }
        }
    }

    &.open {
        left: 0;
    }

    @media (max-width: 414px) {
        width: 100%;
    }
}

.overlay {
    position: fixed;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 97;
    height: calc(100% - 48px);
    width: 100%;
    display: none;

    &.active {
        display: block
    }
}