.section-frame1 {
    max-width: 1800px;
    margin: 0 auto;
    margin-bottom: 48px;
    overflow: hidden;

    .box-content {
        background: #F2EFE7;
        padding: 130px 80px 20px 64px;
        width: 33%;
        position: relative;
        font-family: var(--font1);

        &::before {
            content: "";
            background: url(images/graphics/bg-hanhtrinh.png) no-repeat;
            height: 89px;
            position: absolute;
            width: 900px;
            top: 0;
            left: 0;
        }

        label {
            color: #191919;
            font-size: 14px;
            line-height: 115%;
            letter-spacing: 0.24em;
            margin-bottom: 23px;
            display: block;
            text-transform: uppercase;
        }

        .title {
            color: #191919;
            font-size: 56px;
            margin-bottom: 28px;
            line-height: 1.2;
        }

        p {
            color: #6B6B6B;
            font-size: 16px;
            line-height: 160%;
            margin-bottom: 28px;
            font-family: Arial;
        }
    }

    .box-img {
        width: 67%;
        position: relative;

        .thumb {}

        .swiper-slide {
            padding-bottom: 100%;
        }

        img {
            -o-object-position: top;
            object-position: top;
            -o-object-fit: cover;
            object-fit: cover;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }


        .swiper-slide {
            &::before {
                content: "";
                height: 80px;
                background: #fff;
                position: absolute;
                bottom: 0;
                width: 100%;
                z-index: 2;
                left: 0;
            }

            h3 {
                position: absolute;
                left: 20px;
                bottom: 13px;
                font-size: 16px;
                color: #6B6B6B;
                font-family: Arial;
                z-index: 3;
                width: calc(100% - 260px);
                display: flex;
                align-items: center;

                @media (min-width: 577px) {
                    height: 50px;
                }
            }
        }

        .swiper-pagination {
            font-family: var(--font1);
            color: #AA7D54;
            font-size: 24px;
            width: 110px;
            right: 120px;
            height: 80px;
            line-height: 80px;
            left: inherit;
            background: #fff;
            bottom: 0;


            .swiper-pagination-current {
                font-size: 40px;
                color: #AA7D54;
            }

            .swiper-pagination-total {
                font-size: 25px;
                color: #AA7D54;
                opacity: 0.5;
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            width: 60px;
            height: 80px;
            line-height: 80px;
            bottom: 0;
            top: inherit;
            background: #AA7D54;

            svg {
                height: 24px;
                width: 24px;
                color: #fff;
            }
        }

        .swiper-button-prev {
            right: 60px;
            left: inherit;
            transform: rotate(180deg);
        }

        .swiper-button-prev.swiper-button-disabled,
        .swiper-button-next.swiper-button-disabled {
            opacity: 1;
            background: #F2EFE7;

            svg {
                color: #AA7D54
            }
        }
    }

    @media (max-width: 1799px) {
        padding: 0 40px;

        .box-content {
            padding: 100px 24px 20px 24px;
        }
    }

    @media (max-width: 1366px) {
        .box-content {
            padding-top: 40px;

            .title {
                font-size: 40px
            }
        }

    }

    @media (max-width: 1100px) {
        padding: 0 15px;

        .box-content {
            width: 40%;

            p {
                display: none
            }
        }

        .box-img {
            width: 60%;
        }
    }

    @media (max-width: 979px) {
        margin-bottom: 30px;

        .box-content {
            padding-top: 24px;

            .title {
                font-size: 32px
            }
        }

        .box-img {
            .swiper-slide {
                &::before {
                    height: 75px;
                }

                h3 {
                    left: 10px;
                    bottom: 12px;
                    width: calc(100% - 180px);
                    font-size: 14px;
                }
            }

            .swiper-pagination {
                font-size: 16px;
                width: 80px;
                height: 75px;
                right: 100px;
                line-height: 75px;
                bottom: 0;

                .swiper-pagination-current {
                    font-size: 30px
                }

                .swiper-pagination-total {
                    font-size: 16px
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                width: 50px;
                height: 75px;
                line-height: 75px;

                svg {
                    height: 26px;
                    width: 26px;
                }
            }

            .swiper-button-prev {
                right: 50px;
            }
        }
    }

    @media (max-width: 576px) {
        justify-content: center;
        text-align: center;
        padding: 0 15px;
        margin-bottom: 40px;
        overflow: visible;

        .box-content {
            width: 100%;
            padding: 0;
            background: #f7f4f0;

            &::before {
                display: none
            }

            label {
                color: #AA7D54;
                margin-bottom: 5px;
            }

            .title {
                font-size: 36px;
                margin-bottom: 10px;
            }

            p {
                display: block
            }
        }

        .box-img {
            width: 100%;
            margin-bottom: 20px;

            .thumb_5x3 {
                padding-bottom: 100%;
            }

            .swiper-wrapper {
                background: #fff;
            }

            .swiper-slide {
                &::before {
                    height: 0;
                }

                h3 {
                    width: 100%;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: #fff;
                    padding: 10px;
                    font-size: 16px;
                }
            }

            .swiper-pagination {
                height: 30px;
                bottom: 60px;
                left: 0;
                right: 0;
                width: 100%;
                background: none;
                display: none;

                .swiper-pagination-bullet {
                    margin: 0 3px;
                    border-radius: 50%
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                width: 40px;
                height: 80px;
                line-height: 80px;
                margin-top: -60px;
                top: 50%;
                background: rgba(242, 239, 231, 0.7);
                opacity: 1 !important;
                right: 0;

                svg {
                    height: 24px;
                    width: 24px;
                    color: #000;
                }
            }

            .swiper-button-prev {
                left: 0;
            }
        }

    }
}

.section-frame2 {
    padding: 40px 64px 48px 64px;
    background: #EDE9DE url(images/graphics/bg-s2.png);
    max-width: 1800px;
    margin: 0 auto;
    margin-bottom: 60px;

    .title-cate {
        color: #504030;
    }

    .item-news {
        width: 440px;
        border: 1px solid #191919;
        margin: 0 40px;
        margin-bottom: 40px;
        margin-top: 60px;
        float: left;

        &::before {
            content: "";
            border: 1px solid #AA7D54;
            position: absolute;
            top: 10px;
            bottom: -10px;
            right: -10px;
            left: 10px;
        }

        .wrap {
            background: #fff;
            padding: 18px;
            position: relative
        }

        .thumb-art {
            width: 110px;
            margin-right: 26px;
            position: relative;

            &::before {
                content: "";
                background: url(images/graphics/book.png);
                background-size: cover;
                position: absolute;
                top: -5px;
                right: -10px;
                bottom: -5px;
                left: -5px;
            }
        }

        .description {
            font-size: 14px;
        }

        .line {
            background: #E7D5C5;
            height: 130px;
            width: 1px;
            position: absolute;
            bottom: -160px;
            left: 100px;

            &::after {
                content: "";
                background: #E7D5C5;
                height: 14px;
                width: 14px;
                position: absolute;
                border-radius: 50%;
                top: -4px;
                left: -6.5px;
            }

            &::before {
                content: "";
                background: url(images/graphics/bong.png);
                background-size: contain;
                width: 171px;
                height: 15px;
                position: absolute;
                bottom: -10px;
                left: -85px;
            }
        }

        &.active {
            width: 480px;
            margin-top: 0;

            .line {
                height: 232px;
                bottom: -260px;

                &::before {
                    width: 361px;
                    height: 27px;
                    position: absolute;
                    bottom: -10px;
                    left: -180px;
                }
            }

            .thumb-art {
                width: 147px;
            }
        }
    }

    .box-slide-mobile {
        width: 100%;
        position: relative;
        padding-bottom: 70px;
        order: 1;

        .item-news {
            width: 100% !important;
            margin: 0 !important;
            border: 0 !important;


            &:before {
                display: none
            }

            .thumb-art {
                &::before {
                    display: none
                }
            }
        }

        .swiper-slide {
            height: auto;
        }

        .item-news {
            background: #fff;
            height: 100%;

            .description {
                font-size: 16px;
                margin-bottom: 30px;
            }

            .thumb-art {
                width: 100%;
                margin-bottom: 0;
                float: none;
            }

            .content {
                overflow: visible;
                padding: 24px
            }

            .btn-view {
                border: 0;
                color: #AA7D54;
                padding: 0;
                font-family: Arial;
                font-weight: 400;
                margin: 0;
                position: static;
                text-align: left;
            }
        }

        .swiper-pagination {
            bottom: 20px;
            text-align: left;
            width: auto;
            z-index: 2;

            .swiper-pagination-bullet {
                margin-right: 6px;
                border-radius: 50%;
            }

            @media (max-width: 576px) {
                display: block;
                width: 100%;
                text-align: center;
                bottom: -10px;
                display: none
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            width: 50px;
            height: 50px;
            line-height: 50px;
            bottom: 0;
            top: inherit;
            background: #AA7D54;

            svg {
                width: 24px;
                height: 24px;
            }
        }

        .swiper-button-prev {
            transform: rotate(180deg);
            left: inherit;
            right: 60px;
        }

        .btn-view {
            position: absolute;
            left: 50%;
            margin-left: -80px;
            width: 160px;
            text-align: center;
            bottom: 0px;
            border: 1px solid #504030;
            color: #504030;

            svg {
                color: #504030;
            }
        }

        @media (max-width: 576px) {

            .swiper-container {
                padding: 0 100px 0 0;

            }
        }
    }

    @media (max-width: 1799px) {
        padding: 40px;

        .map {
            margin-top: 60px;
        }
    }

    @media (max-width: 1100px) {
        padding: 0 15px;

        .map {
            order: 1;
            margin-top: 20px;
            margin-bottom: 30px;
            width: 100%;

            img {
                width: 100%;
            }
        }

        .container {
            order: 2;
            display: flex;
        }

        .item-news {
            width: 44% !important;
            margin: 0 3%;
            margin-bottom: 30px;

            .wrap {
                height: 100%;
            }

            .line {
                display: none
            }

            .thumb-art {
                width: 140px;
            }

            &.active {
                .thumb-art {
                    width: 140px;
                }
            }
        }
    }

    @media (max-width: 979px) {
        margin-bottom: 30px;
        padding: 20px 15px;

        .box-pc {
            display: none
        }

        .box-slide-mobile {
            .item-news {
                .title-news {
                    font-size: 20px;
                }

                .content {
                    padding: 15px 10px;
                }

            }
        }
    }

    @media (max-width: 576px) {
        padding-right: 0;
        margin-bottom: 40px;
        padding-bottom: 60px;

        .box-slide-mobile {
            padding-bottom: 20px;

            .btn-view {
                bottom: -40px;
            }

            .item-news {
                .btn-view {
                    display: inline-block
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                top: 50%;
                margin-top: -45px;
                right: 0;
                display: none
            }

            .swiper-button-prev {
                left: -15px;
            }
        }

    }
}

.section-frame3 {
    max-width: 1800px;
    margin: 0 auto;
    margin-bottom: 80px;
    position: relative;

    .wrap-video {
        max-width: 917px;
        margin: 0 auto;
        margin-bottom: 180px;

        @media (max-width: 979px) {
            margin-bottom: 100px;
        }
    }

    // .container {
    //     padding: 0 80px;
    // }

    .time-line {
        background: url(images/graphics/time-line.png) no-repeat center;
        height: 4px;
        position: relative;
        background-size: cover;
        margin-bottom: -70px;
        margin-top: 120px;
    }

    .swiper-container {
        padding-top: 110px;
    }

    .swiper-slide {
        padding-left: 30px;
        position: relative;
        padding-bottom: 20px;

        &::before {
            content: "";
            border-left: 1px dashed #AA7D54;
            height: 100%;
            position: absolute;
            left: 9px;
        }

        .year {
            color: #AA7D54;
            font-size: 32px;
            font-family: var(--font1);
            position: absolute;
            top: -120px;
            left: 0;

            &::before {
                content: "";
                width: 20px;
                height: 20px;
                background: #AA7D54;
                border-radius: 50%;
                position: absolute;
                bottom: -39px;
                left: 7px;
            }

            &::after {
                content: "";
                width: 32px;
                height: 32px;
                position: absolute;
                border: 1px solid #AA7D54;
                border-radius: 50%;
                bottom: -45px;
                left: 0;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 62px;
        height: 48px;
        line-height: 48px;
        background: none;
        top: 12px;
    }

    .swiper-button-prev {
        transform: rotate(180deg);
    }

    .hidden-pc {
        position: relative;

        &::before {
            content: "";
            border-left: 1px dashed #AA7D54;
            position: absolute;
            top: 0;
            bottom: 80px;
            left: 21px;
        }

        &::after {
            content: "";
            background: linear-gradient(180deg, #F7F4F0 0%, rgba(247, 244, 240, 0) 100%);
            position: absolute;
            left: 0;
            bottom: 50px;
            transform: rotate(180deg);
            height: 150px;
            width: 100%;
        }

        .item-news {
            padding-left: 50px;
            margin-bottom: 27px;

            .year {
                font: bold 16px Arial;
                color: #AA7D54;
                position: relative;
                margin-bottom: 5px;

                &::before {
                    content: "";
                    width: 15px;
                    height: 15px;
                    background: #AA7D54;
                    border-radius: 50%;
                    position: absolute;
                    z-index: 1;
                    top: 1px;
                    left: -36px;
                }

                &::after {
                    content: "";
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    border: 1px solid #AA7D54;
                    background: #f7f4f0;
                    border-radius: 50%;
                    top: -8px;
                    left: -45px;
                }
            }
        }
    }


    @media (max-width: 1100px) {
        .swiper-slide {
            .year {
                font-size: 24px;
                top: -108px;
            }
        }
    }

    @media (max-width: 576px) {
        .container {
            padding: 0 15px;
        }

        .wrap-video {
            margin-bottom: 40px;
        }
    }

}

.section-frame4 {
    max-width: 1800px;
    margin: 0 auto;
    background: #f7f4f0 url(images/graphics/bg-camon.png) no-repeat bottom right;
    position: relative;
    margin-bottom: 64px;

    .list_comment {
        width: calc(100% - 370px);
        position: relative;

        .txt_center {
            position: relative;
            z-index: 2;
        }

        &.home {
            .grid {
                max-height: 2000px;
                overflow: hidden;
            }

            &::before {
                content: "";
                background: linear-gradient(180deg, #F2EFE7 -1.21%, rgba(242, 239, 231, 0) 100%);
                transform: matrix(1, 0, 0, -1, 0, 0);
                width: 100%;
                height: 200px;
                position: absolute;
                bottom: 62px;
                z-index: 1;

                @media (max-width: 600px) {
                    height: 200px;
                }
            }
        }
    }

    .form_dk {
        width: 370px;
        padding-left: 60px;

        h3 {
            font: 600 20px var(--font1);
            color: #191919;
            margin-bottom: 15px;
        }
    }

    .title-cate {
        br {
            display: none
        }
    }

    .head-left {
        width: 100%;
    }

    .head {
        .loi-chuc {
            border: 1px solid #AA7D54;
            display: inline-block;
            margin-bottom: 30px;
            color: #191919;
            font-weight: bold;
            font-size: 20px;
            position: relative;

            &>.flex {
                position: relative;
                background: #F2EFE7;
            }

            &::before {
                content: "";
                border: 1px solid #D3BF9F;
                position: absolute;
                top: 10px;
                bottom: -7px;
                right: -7px;
                left: 7px;
            }



            .text {
                color: #AA7D54;
                font-size: 20px;
                font-weight: 400;
                padding: 12px;
                border-right: 1px solid #AA7D54;

                svg {
                    width: 35px;
                    height: 35px;
                    color: #AA7D54;
                    margin-left: 6px;
                }
            }

            .number {
                padding: 12px;
            }
        }

        .img {
            margin-top: -70px;
        }
    }

    @media (max-width: 1100px) {
        .list_comment {
            width: calc(100% - 330px);
        }

        .form_dk {
            width: 330px;
            padding-left: 30px;
        }
    }

    @media (max-width: 979px) {
        .content-gird {
            justify-content: center;
        }

        .list_comment {
            width: 100%;
        }

        .form_dk {
            margin-top: 40px;
            padding-left: 0;
            max-width: 340px;
            display: none
        }
    }

    @media (max-width: 576px) {
        background: #f7f4f0;
        padding: 0;
        margin-bottom: 40px;

        .head {
            .img {
                position: absolute;
                right: 0;
                margin-top: -50px;

                img {
                    width: 160px;
                }
            }


            .loi-chuc {
                margin-bottom: 0;

                .text {
                    font-size: 14px;

                    svg {
                        width: 25px;
                        height: 25px;
                    }
                }

                .text,
                .number {
                    padding: 0px 12px;
                    line-height: 40px;
                }
            }
        }
    }
}

.section-quangcao {
    margin-bottom: 70px;

    .item-news {
        &::before {
            content: "";
            border: 1px solid #AA7D54;
            position: absolute;
            top: 15px;
            bottom: -15px;
            right: -15px;
            left: 15px;
        }

        .wrap {
            background: #F2EFE7;
            border: 2px solid #AA7D54;
            padding: 8px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
        }

        .thumb-art {
            width: 333px;
            margin: 0;
            padding-left: 30px;
            order: 2;
        }

        .content {
            padding: 16px;
            order: 1;
            width: calc(100% - 333px);
            background: url(images/graphics/hac-giay.png) no-repeat bottom right;

            .mb10 {
                margin-bottom: 16px;
            }
        }

        .title-news {
            font-size: 22px;
            margin-bottom: 16px;
        }

        .description {
            font-size: 20px;
            color: #191919;
            margin-bottom: 15px;
        }

        .btn-default {
            background: #AA7D54;
            font-weight: 600;
            font-size: 16px;
            color: #F9F0E3;
            font-family: var(--font1);
            position: relative;
            height: 40px;
            line-height: 40px;
            padding: 0 30px;
            display: inline-block;
        }
    }

    @media (max-width: 576px) {
        .item-news {
            &::before {
                display: none
            }

            .thumb-art {
                width: 100%;
                padding-left: 0;
                order: 1;
                display: none
            }

            .content {
                padding: 15px;
                order: 2;
                width: 100%;
                text-align: center;

                .mb10 {
                    text-align: left
                }
            }

            .title-news {
                font-size: 18px
            }

            .description {
                font-size: 16px
            }
        }

    }
}

.section-frame5 {
    position: relative;
    margin-bottom: 64px;
    overflow: hidden;

    &::after {
        content: "";
        background: url(images/graphics/bg-chuyennghe.png) no-repeat right;
        background-size: contain;
        position: absolute;
        bottom: -80px;
        height: 400px;
        width: 1600px;
        right: 0;
    }

    .item-news {
        display: flex;
        flex-wrap: wrap;
        color: #D4D4D4;
        font-size: 16px;
        background: #201A13;

        .thumb-art {
            width: 67%;
            margin: 0;
        }

        .content {
            width: 33%;
            background: #201A13 url(images/graphics/bg-tacpham.png) no-repeat bottom;
            padding: 65px;

            .social {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                color: #6B6B6B;
                font-size: 14px;

                &>a {
                    display: none
                }

                .flex {
                    align-items: center;
                    margin-right: 15px;
                    margin-bottom: 0;

                }

                .number {
                    margin-left: 5px;
                }

                a {
                    color: #8C795B;
                }

                svg {
                    width: 24px;
                    height: 24px;
                    fill: #8C795B;

                    &:hover {
                        fill: #D3BF9F
                    }
                }

                ul {
                    li {
                        display: inline-block;

                        a {
                            border: 1px solid #433B30;
                            width: 32px;
                            height: 32px;
                            margin: 0 0 0 0 !important;
                            border-radius: 50%;
                            justify-content: center;

                            svg {
                                width: 16px !important;
                                height: 16px !important;
                            }
                        }
                    }
                }
            }
        }

        .title-news {
            font: 400 32px var(--font1);
            margin-bottom: 30px;

            a {
                color: #D3BF9F;
            }

            @media (min-width: 1600px) {
                font-size: 40px
            }
        }

        .description {
            color: #D4D4D4;

            .lc_content {
                text-overflow: ellipsis;
                -webkit-line-clamp: 10;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 20px;
            }

            .flex {
                justify-content: space-between;
                color: #D3BF9F;
                margin-bottom: 24px;

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    .slide-img {
        position: relative;
    }

    .swiper-button-prev,
    .swiper-button-next {
        background: #191919;
        width: 40px;
        height: 40px;
        line-height: 40px;
        right: 33%;
        margin-right: 24px;
        top: inherit;
        bottom: 24px;

        svg {
            color: #fff
        }
    }

    .swiper-button-prev {
        bottom: 74px;
        left: inherit;
        transform: rotate(180deg);
    }

    .swiper-button-disabled {
        opacity: 0.6;
        pointer-events: auto;
    }

    @media (max-width: 1791px) {
        .item-news {
            .content {
                padding: 35px;
            }
        }
    }

    @media (max-width: 1100px) {
        .item-news {
            .content {
                padding: 20px;
            }

            .title-news {
                font-size: 30px;
                margin-bottom: 20px;
            }
        }
    }

    @media (max-width: 1100px) {
        .item-news {
            .description {

                .flex {
                    margin-bottom: 20px;
                }

                .author {
                    margin-bottom: 10px;
                }
            }
        }
    }

    @media (max-width: 576px) {
        margin-bottom: 40px;

        .item-news {
            .thumb-art {
                width: 100%;
                padding: 30px 15px 0 15px;
            }

            .content {
                width: 100%;
            }

            .title-news {
                font-size: 24px
            }

            .description {
                overflow: visible;
                -webkit-line-clamp: inherit;

                .lc_content {
                    -webkit-line-clamp: 4;
                    height: 100px;
                }
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            background: #AA7D54;
            margin-right: 15px;
            right: 0;
            bottom: 20px;
        }

        .swiper-button-prev {
            bottom: 20px;
            right: 50px;
        }
    }
}

.section-frame6 {
    padding: 0px 0 64px 0;
    position: relative;
    overflow: hidden;
    width: 100%;

    &::after {
        content: "";
        clear: both;
        display: block
    }

    @media (max-width: 979px) {
        padding: 0px 0 40px 0;
    }
}

.section-video {
    margin-bottom: 48px;

    .header {
        justify-content: space-between;
        align-items: center;

        .tab-default {
            margin-bottom: 24px;

            a {
                padding: 6px 24px;
                background: #FFFFFF;
                color: rgba(80, 64, 48, 80%);

                &.active {
                    color: #191919;
                    background: #D3BF9F;
                    border-bottom: 0;
                }
            }
        }
    }

    .width-img {
        width: 730px;
        width: calc(100% - 380px);
        margin-right: 0;
    }

    .width-content {
        width: 380px;
        background: #FFFFFF;
        padding: 24px;
        position: relative;
    }

    .title-news {
        font: 600 20px/1.3 var(--font1);
        margin-bottom: 20px
    }

    .description {
        font-size: 16px;
        line-height: 1.6;
    }

    .list-video {
        border-top: 1px solid #e5e5e5;
        position: absolute;
        bottom: 24px;
        right: 24px;
        left: 24px;

        .item-news {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 16px;

            .thumb-art {
                width: 120px;
                margin-right: 0;
                border: 2px solid #D3BF9F;

                .thumb {
                    &::before {
                        width: 100%;
                        height: 100%;
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba(0, 0, 0, 0.7);
                        transition-duration: 200ms;
                        transition-property: all;
                        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
                        opacity: 0;
                        z-index: 1;
                    }
                }
            }

            .title-news {
                font: 400 14px Arial;
                width: calc(100% - 120px);
                padding-left: 12px;
                margin-bottom: 0;
            }

            &.active {

                .thumb-art .thumb:before,
                .playing-txt {
                    opacity: 1;
                }

                .duration-video,
                .play {
                    opacity: 0;
                }
            }
        }

        .playing-txt {
            right: 0;
            left: 0;
            transform: translate(0%, 0%);
            text-align: center;
            margin-top: -5px;
            font-size: 13px;
        }

        .play {
            position: absolute;
            bottom: 0;
            left: 0;
            background: #504030;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            cursor: pointer;

            svg {
                fill: #fff;
                width: 10px;
                height: 10px;
            }
        }

        .duration-video {
            background: none;
            color: #FFFFFF;
            bottom: 0;
            left: 24px;
            padding: 1px 5px;
        }
    }

    .swiper-pagination {
        width: auto;
        font: 600 20px var(--font1);
        right: 316px;
        left: inherit;
        bottom: 20px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        background: none;
        width: 42px;
        height: 32px;
        line-height: 32px;
        bottom: 24px;
        top: inherit;

        .dotted-svg {
            &::before {
                top: 1px;
                right: -5px;
            }

            svg {
                width: 37px;
                height: 37px;
                fill: #000;
                z-index: 1;
                position: relative;
            }
        }
    }

    .swiper-button-next {
        right: 24px;
    }

    .swiper-button-prev {
        right: 80px;
        left: inherit;
        transform: rotate(180deg);
        bottom: 18px;
    }

    @media (max-width: 1025px) {
        #tab-video {
            .description {
                display: none
            }
        }
    }

    @media (max-width: 979px) {
        .width-img {
            width: 100%;
        }

        .width-content {
            width: 100%;
            padding: 15px;
        }

        .title-cate {
            width: 100%;
        }

        .swiper-pagination,
        .tab-default {
            display: none
        }

        .swiper-button-next,
        .swiper-button-prev {
            top: 40%;
            right: 0;
            background: #ccc;
            width: 45px;
            height: 45px;
            line-height: 45px;

            svg {
                width: 24px;
                height: 24px;
            }
        }

        .swiper-button-prev {
            left: 0;
        }

        .title-news {
            margin-bottom: 10px;
        }

        #tab-video {
            display: block !important;
            margin-top: 30px;

            .description {
                display: block
            }
        }

        .list-video {
            position: static;
            margin-top: 20px;

            .item-news {
                .title-news {
                    font-size: 16px
                }
            }
        }
    }
}

.list-chuyen-nghe {
    .mt20 {
        margin-top: 0;
    }

    .gird {
        margin: 0 -15px;

        .txt_center {
            width: 100%;
        }
    }

    .item {
        width: 33.33%;
        margin-bottom: 24px;
        padding: 0 15px;

        .item-news {
            background: #fff;
            padding: 16px;
            height: 100%;

            .thumb-art {
                float: right;
                width: 74px;
                height: 74px;
                margin-left: 15px;
                margin-right: 0;
                border-radius: 50%;
                overflow: hidden;

                .thumb {
                    background: none
                }
            }

            .description {
                margin-bottom: 40px;
            }

            .author {
                color: #AA7D54
            }
        }
    }

    @media (max-width: 979px) {
        .item {
            width: 50%;
        }
    }

    @media (max-width: 576px) {
        .item {
            width: 100%;
        }
    }

}

.page-loichuc {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0;
    background: none;
    padding-bottom: 100px;
    position: relative;
    overflow: visible;

    &::before {
        content: "";
        background: url(images/graphics/bg-loichuc.png) no-repeat;
        height: 203px;
        position: absolute;
        width: 1516px;
        top: -140px;
        right: 0px;
        opacity: 0.3;

        @media (min-width: 1900px) {
            right: -80px;
        }
    }

    .form_dk {
        padding-left: 0;
        padding-right: 60px;

        h3 {
            font-weight: bold;
            font-size: 40px;
            line-height: 1.3;
            margin-bottom: 30px;
        }
    }

    .list_comment {
        .grid {
            .grid-item {
                width: 25%;

                @media (max-width: 1366px) {
                    width: 33.33%;
                }

                @media (max-width: 1025px) {
                    width: 50%;
                }

                @media (max-width: 576px) {
                    width: 100%;
                }
            }
        }

        .comment-you {
            margin-bottom: 30px;

            .row-gird {
                margin: 0 -15px;
            }

            .head {
                font: 600 20px/1.3 var(--font1);
                color: #191919;
                margin-bottom: 15px;

                @media (max-width: 576px) {
                    font-size: 32px;
                    font-weight: 400;
                    text-align: center;
                    width: 100%;
                }
            }

            .grid-item {
                width: 50%;
                padding: 0 15px;

                @media (max-width: 1025px) {
                    width: 100%;

                    .item {
                        margin-bottom: 16px;
                    }
                }
            }

            .item {
                background: #FFFFFF;
                color: #000;
                font-family: Arial;
                font-size: 18px;
                line-height: 27px;
                padding: 16px;
                margin-bottom: 24px;
                position: relative;

                .item-comment {
                    font-size: 16px;
                    color: #191919;
                    margin-bottom: 25px;
                }

                .item-bottom {
                    justify-content: space-between;
                    align-items: center;

                    h4 {
                        color: #AA7D54;
                        font-size: 16px;
                    }

                    .social {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        color: #6B6B6B;
                        font-size: 14px;

                        &>a {
                            display: none
                        }

                        .flex {
                            align-items: center;
                            margin-right: 15px;
                        }

                        .number {
                            margin-left: 5px;
                        }

                        a {
                            color: #AA7D54;
                        }

                        svg {
                            width: 24px;
                            height: 24px;
                            fill: #D3BF9F;

                            &:hover,
                            &.active {
                                fill: #AA7D54;
                            }
                        }

                    }
                }
            }
        }

        &--header {
            margin-bottom: 0;
            justify-content: space-between;
            align-items: center;

            .new {
                font: 600 16px var(--font1);
                color: #191919;
            }

            .head {
                font: 400 32px/1.3 var(--font1);
                margin-bottom: 20px;
            }

            .tab-default {
                a {
                    padding-bottom: 5px;
                }
            }

            .sort {
                margin-bottom: 20px;

                a {
                    font: 600 16px var(--font1);
                    color: #6B6B6B;
                    margin-right: 15px;

                    img {
                        display: none
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &.active {
                        color: #191919;

                        img {
                            display: inline-block;
                            margin-right: 4px;
                        }
                    }
                }
            }

            @media (max-width: 576px) {
                .tab-default {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }

    @media (max-width: 1800px) {
        padding: 0 15px;
        padding-bottom: 100px;
    }
}

.page-hanhtrinh,
.page-tacpham {
    padding-top: 40px;

    &::before {
        content: "";
        background: url(images/graphics/bg-hanhtrinh.png) no-repeat center;
        height: 89px;
        position: absolute;
        width: 100%;
        top: -60px;
    }

    @media (max-width: 576px) {
        padding-top: 0;
        margin-bottom: 30px;

        &::before {
            top: -90px;
        }
    }
}

.page-hanhtrinh {
    .title-cate {
        font-size: 32px
    }
}

.list-hanhtrinh {
    .item {
        width: 33.33%;
        padding: 0 15px;
        margin-bottom: 30px;

        .item-news {
            background: #fff;
            height: 100%;

            .description {
                font-size: 16px;
                margin-bottom: 30px;
            }

            .thumb-art {
                width: 100%;
                margin-bottom: 0;
                float: none;
            }

            .content {
                overflow: visible;
                padding: 24px;

            }

            .play {
                position: absolute;
                bottom: 0;
                left: 0;
                background: #AA7D54;
                width: 48px;
                height: 48px;
                text-align: center;
                line-height: 48px;
                cursor: pointer;

                svg {
                    width: 20px;
                    height: 20px;
                    color: #fff;
                }
            }

            .btn-view {
                border: 0;
                color: #AA7D54;
                padding: 0;
                font-family: Arial;
                font-weight: 400;
                margin: 0;
                position: static;
                text-align: left;
            }
        }
    }

    @media (max-width: 768px) {
        .item {
            width: 50%;
        }
    }

    @media (max-width: 576px) {
        .item {
            width: 100%;
            padding: 0;

            .item-news {
                .content {
                    padding: 16px;
                }
            }

        }
    }
}

.page-tacpham {
    margin-bottom: 64px;

    .title-cate {
        font-size: 32px;
    }

    .container {
        padding: 0 15px;
    }

    .tab-default {
        max-width: 1100px;
        margin: 0 auto;
        border-bottom: 1px solid rgba(170, 125, 84, 0.2);
        margin-bottom: 16px;
        text-align: center;

        a {
            padding: 0 10px 15px 10px;
        }
    }

    .wrap-content {
        background: #070707;
        padding: 64px;
        padding-bottom: 100px;
        position: relative;

        &::before {
            content: "";
            border-left: 1px solid rgba(255, 255, 255, 0.2);
            position: absolute;
            top: 64px;
            left: calc(19.42% + 65px);
            bottom: 128px;
            display: none
        }

        .item-news {
            display: flex;
            margin-bottom: 64px;

            .content {
                width: 19.42%;
            }

            .thumb-art {
                width: 80.58%;
                margin: 0;
                padding-right: 48px;
                text-align: right
            }

            .title-news {
                font: 400 24px var(--font1);
                margin-bottom: 20px;
                display: none;

                a {
                    color: #D3BF9F;
                }
            }

            .social {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                color: #6B6B6B;
                font-size: 14px;

                &>a {
                    display: none
                }

                .flex {
                    align-items: center;
                    margin-right: 15px;
                    margin-bottom: 0;
                }

                .number {
                    margin-left: 5px;
                }

                a {
                    color: #8C795B;
                }

                svg {
                    width: 24px;
                    height: 24px;
                    fill: #8C795B;

                    &:hover {
                        fill: #D3BF9F;
                    }
                }

                ul {
                    li {
                        display: inline-block;

                        a {
                            border: 1px solid #433B30;
                            width: 32px;
                            height: 32px;
                            margin: 0 0 0 0 !important;
                            border-radius: 50%;
                            justify-content: center !important;

                            svg {
                                width: 16px !important;
                                height: 16px !important;
                            }
                        }
                    }
                }
            }

            .description {
                color: #D4D4D4;

                p {
                    margin-bottom: 15px;
                }

                .flex {
                    justify-content: space-between;
                    color: #D3BF9F;

                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }

            }
        }

        @media (max-width:979px) {
            padding: 30px 15px 80px 15px;

            &::before {
                left: calc(35% + 35px);
            }

            .item-news {
                margin-bottom: 30px;

                .content {
                    width: 35%;
                }

                .thumb-art {
                    width: 65%;
                    padding-right: 20px;
                }

                .description {
                    .author {
                        margin-bottom: 10px;
                    }
                }

            }
        }

        @media (max-width:767px) {
            padding: 30px 15px 80px 15px;

            &::before {
                display: none
            }

            .item-news {
                margin-bottom: 16px;
                flex-wrap: wrap;

                .content {

                    width: 100%;
                    order: 2;
                    padding: 15px;
                    background: #191919;
                }

                .thumb-art {
                    width: 100%;
                    order: 1;
                    padding-right: 0;
                }
            }
        }
    }

    .list-chuyen-nghe {
        .item {
            width: 100%;

            .item-news {
                padding: 0;
            }
        }
    }

    .list_comment {
        .grid {
            .grid-item {
                width: 33.33%;

                .item {
                    margin-bottom: 30px;
                }

                @media (max-width:979px) {
                    width: 50%;

                    .item {
                        margin-bottom: 24px;
                    }
                }

                @media (max-width:576px) {
                    width: 100%;
                }
            }
        }
    }
}

//POPUP CUSTOM

#popup-camon,
#popup-creat {
    background: #F7F4F0;
    padding: 24px;
    text-align: center;
    max-width: 344px;

    .content-popup {
        font-size: 16px;
        color: #6B6B6B;
        line-height: 1.6
    }

    .title_popup {
        color: #191919;
        font: 600 20px var(--font1);
        margin-bottom: 24px;
    }

    .mfp-close {
        border: 1px solid #AA7D54;
        color: #AA7D54;
        padding: 5px 30px;
        display: inline-block;
        font: 600 16px var(--font1);
        background: none;
        border-radius: 0;
        position: static;
        height: 40px;
        width: 105px;
        text-align: center;
    }

    .btn-default {
        background: #AA7D54;
        font-weight: 600;
        font-size: 16px;
        color: #F9F0E3;
        font-family: var(--font1);
        position: relative;
        height: 40px;
        line-height: 40px;
        padding: 0 30px;
        display: inline-block;
    }
}

#popup-creat {
    max-width: 400px;

    .btn-default {
        background: none;
        padding: 0;
    }

    .mfp-close {
        font-size: 0;
        border: 1px solid #AA7D54;
        background: none;
        position: static;
        width: 100%;
        border-radius: 0;
        height: 40px;
        line-height: 40px;
        display: block;
        margin-top: 30px;

        &::before {
            content: "Đóng";
            color: #AA7D54;
            font: 600 16px var(--font1);
        }
    }
}

.creat-bottom {
    position: fixed;
    bottom: 64px;
    right: 24px;
    z-index: 9;
    display: none;
    text-align: center;

    span {
        display: block;
        font-size: 11px;
        margin-top: 2px;
    }

    @media (max-width: 576px) {
        display: block
    }
}

#popup-share {
    max-width: 360px;
    padding: 23px;

    .title_popup {
        font: 600 20px var(--font1);
        margin-bottom: 25px;
    }

    .social {
        justify-content: center;

        a {
            color: #6B6B6B;
            font-size: 14px;
            text-align: center;
            margin: 0 15px 25px 15px;
        }

        .icon {
            background: #D8C7AB;
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            border-radius: 50%;
            margin: 0 auto;

            svg {
                fill: #fff
            }
        }
    }

    .copy-link {
        border: 1px solid #D4D4D4;
        background: #FAFAFA;
        padding: 14px 74px 14px 14px;
        font-size: 14px;
        position: relative;

        .link {
            color: #191919;
        }

        .copy {
            color: #AA7D54;
            position: absolute;
            right: 14px;
        }
    }
}

#comment-popup {
    background: #F7F4F0;
    padding: 24px;
    text-align: center;
    max-width: 344px;

    .mfp-content {
        text-align: center;
        font-size: 16px;
    }

    .title {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='21.5' cy='30.5' r='13.5' fill='%23D3BF9F'/%3e%3cpath d='M26 0C11.664 0 0 11.663 0 26C0 40.337 11.664 52 26 52C40.336 52 52 40.337 52 26C52 11.663 40.336 0 26 0ZM26 50C12.767 50 2 39.233 2 26C2 12.767 12.767 2 26 2C39.233 2 50 12.767 50 26C50 39.233 39.233 50 26 50Z' fill='%23191919'/%3e%3cpath d='M38.252 15.336L22.883 32.626L13.624 25.219C13.194 24.874 12.563 24.945 12.219 25.375C11.874 25.807 11.944 26.436 12.375 26.781L22.375 34.781C22.559 34.928 22.78 35 23 35C23.276 35 23.551 34.886 23.748 34.664L39.748 16.664C40.115 16.252 40.078 15.619 39.665 15.253C39.251 14.885 38.62 14.922 38.252 15.336Z' fill='%23191919'/%3e%3c/svg%3e");
        padding-top: 70px;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: top;
    }

    .mfp-close {
        font-size: 0;
        border: 1px solid #AA7D54;
        background: none;
        position: static;
        width: 100%;
        border-radius: 0;
        height: 40px;
        line-height: 49px;
        display: block;
        margin-top: 30px;

        &::before {
            content: "Đóng";
            color: #AA7D54;
            font: 600 16px var(--font1);
        }
    }
}

.white-popup {
    .title {
        font: 600 20px var(--font1);
        margin: 10px 0;
    }
}

.info-auhor {
    margin-bottom: 20px;

    .item-news {
        display: flex;
        align-items: center
    }

    .thumb-art {
        width: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
    }

    .author {
        font-size: 14px;
        color: #444;
        font-weight: bold
    }
}

//Custom deail
.page-detail {
    .breadcrumb li {
        &:nth-child(2) {
            display: none
        }
    }

    .title-detail {
        font-family: var(--font1);
        margin-bottom: 10px;
    }

    .box_comment_vne {
        margin-bottom: 20px;
    }

    &.top-detail {
        border-bottom: 0;
        background: none;

        .container {
            background: none
        }

        .sidebar-1 {
            max-width: calc(100% - 400px);

            @media (max-width: 979px) {
                max-width: 100% !important;
            }
        }

        .sidebar-2 {
            max-width: 330px;
            padding: 20px 0 0 30px;
        }
    }

    &.middle-detail {
        background: #f7f4f0 url(images/graphics/bg-detail.png) no-repeat bottom -230px center;
        border-bottom: 0;
        padding-bottom: 60px;

        .sidebar-1 {
            max-width: calc(100% - 340px);

            @media (max-width: 979px) {
                max-width: 100% !important;
            }
        }

        .sidebar-2 {
            max-width: 330px;
            padding: 20px 0 0 30px;
        }
    }

    .container {
        background: #fff !important;
        max-width: 1100px;
    }


}

.breadcrumb li:first-child {
    color: var(--color-main);
}

.bg-white {
    background: #fff;
    width: 100%;
    padding: 0 15px;
}


//End Custom deail

.box_sn2019_wrapper {
    background: url(images/graphics/bg-loichuc2.png) no-repeat top;
}

.box_sn2019_wrapper .scrollbar-inner>.scroll-element .scroll-bar {
    width: 4px;
    opacity: 1;
}

.box_sn2019_wrapper .bg_link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.box_sn2019 .scroll-wrapper {
    max-height: 740px;
    z-index: 3;
    padding-right: 12px !important;
    padding-bottom: 15px !important;
}

.box_sn2019 {
    position: relative;
    border: 1px solid #E5E5E5;
    padding: 40px 15px 0 15px;

    .ss-content {
        width: calc(100% + 17px) !important;
    }

    .title {
        font: 400 24px var(--font1);
        color: #191919;
        margin-bottom: 15px;
    }

    .btn-default {
        margin: 15px 0 20px 0;
    }

    .scrollbar-inner {
        height: 600px;

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    .ss-scroll {
        background: #BDBDBD;
        width: 5px;
        opacity: 1 !important;
        right: calc(-100% - 10px) !important;
    }
}

.box_sn2019 .itemt {
    border-radius: 13px;
    padding: 13px 10px 10px 10px;
    line-height: 20px;
    font-size: 14px;
    font-family: Arial;
    color: #000;
    border: 1px dashed #dfdfdf;
    margin-bottom: 17.11px;
}


.box_sn2019 .itemt h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.box_sn2019 .itemt h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    position: relative;
    color: #222;
}