.section-frame1 {
    max-width: 1792px;
    margin: 0 auto;
    margin-bottom: 30px;
    overflow: hidden;

    .box-content {
        background: #F2EFE7;
        padding: 170px 6.6% 100px 17.86%;
        width: 54.17%;
        position: relative;
        font-family: var(--font1);

        &::before {
            content: "";
            background: url(images/graphics/bg-hanhtrinh.png) no-repeat;
            height: 89px;
            position: absolute;
            width: 900px;
            top: 0;
            left: 0;
        }

        label {
            color: #191919;
            font-size: 14px;
            line-height: 115%;
            letter-spacing: 0.24em;
            margin-bottom: 23px;
            display: block;
            text-transform: uppercase;
        }

        .title {
            color: #191919;
            font-size: 64px;
            margin-bottom: 28px;
            line-height: 1.2;
        }

        p {
            color: #6B6B6B;
            font-size: 16px;
            line-height: 160%;
            margin-bottom: 28px;
            font-family: Arial;
        }
    }

    .box-img {
        width: 45.83%;
        position: relative;

        img {
            width: 100%;
        }


        .swiper-slide {
            &::before {
                content: "";
                height: 80px;
                background: #fff;
                position: absolute;
                bottom: 0;
                width: 100%;
                z-index: 2;
            }

            h3 {
                position: absolute;
                left: 40px;
                bottom: 25px;
                font-size: 16px;
                color: #6B6B6B;
                font-family: Arial;
                z-index: 3;
                width: calc(100% - 320px);
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .swiper-pagination {
            font-family: var(--font1);
            color: #AA7D54;
            font-size: 24px;
            width: 80px;
            right: 200px;
            left: inherit;

            .swiper-pagination-current {
                font-size: 40px;
                color: #AA7D54;
            }

            .swiper-pagination-total {
                font-size: 25px;
                color: #AA7D54;
                opacity: 0.5;
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            width: 80px;
            height: 80px;
            line-height: 80px;
            bottom: 0;
            top: inherit;
            background: #AA7D54;

            svg {
                height: 34px;
                width: 34px;
                color: #fff;
            }
        }

        .swiper-button-prev {
            right: 80px;
            left: inherit;
            transform: rotate(180deg);
        }

        .swiper-button-prev.swiper-button-disabled,
        .swiper-button-next.swiper-button-disabled {
            opacity: 1;
            background: #F2EFE7;

            svg {
                color: #AA7D54
            }
        }
    }

    @media (max-width: 1791px) {
        .box-content {
            padding: 100px 6.6% 50px 17.86%;
        }
    }

    @media (max-width: 1100px) {
        .box-content {
            padding: 50px 20px;
            width: 40%;

            .title {
                font-size: 35px;
            }
        }

        .box-img {
            width: 60%;
        }
    }

    @media (max-width: 979px) {
        .box-content p {
            display: none
        }

        .box-img {
            .swiper-slide {
                &::before {
                    height: 50px;
                }

                h3 {
                    left: 10px;
                    bottom: 12px;
                    width: calc(100% - 180px);
                }
            }

            .swiper-pagination {
                font-size: 16px;
                width: 50px;
                height: 50px;
                right: 110px;
                bottom: 0;

                .swiper-pagination-current {
                    font-size: 30px
                }

                .swiper-pagination-total {
                    font-size: 16px
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                width: 50px;
                height: 50px;
                line-height: 50px;

                svg {
                    height: 26px;
                    width: 26px;
                }
            }

            .swiper-button-prev {
                right: 50px;
            }
        }
    }

    @media (max-width: 576px) {
        justify-content: center;
        text-align: center;
        padding-bottom: 20px;
        margin-bottom: 0;

        .box-content {
            width: 100%;
            padding: 10px;
            background: #f7f4f0;

            &::before {
                display: none
            }

            label {
                color: #AA7D54;
                margin-bottom: 5px;
            }

            .title {
                font-size: 56px;
                margin-bottom: 10px;
            }
        }

        .box-img {
            width: 100%;
            margin-bottom: 20px;
            padding: 0 15px;

            .swiper-slide {
                background: #fff;
                padding: 8px;

                h3 {
                    width: 100%;
                }
            }

            .swiper-pagination {
                height: 30px;
                bottom: 50px;
                left: 0;
                right: 0;
                width: 100%;

                .swiper-pagination-bullet {
                    margin: 0 3px;
                    border-radius: 50%
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                width: 40px;
                height: 80px;
                line-height: 80px;
                margin-top: -60px;
                top: 50%;
                background: rgba(242, 239, 231, 0.7);
                opacity: 1 !important;
                right: 23px;

                svg {
                    height: 24px;
                    width: 24px;
                    color: #000;
                }
            }

            .swiper-button-prev {
                left: 23px;
            }
        }

    }
}

.section-frame2 {
    margin-bottom: 50px;

    .item-news {
        width: 440px;
        border: 1px solid #191919;
        margin: 0 40px;
        margin-bottom: 40px;
        margin-top: 60px;
        float: left;

        &::before {
            content: "";
            border: 1px solid #AA7D54;
            position: absolute;
            top: 10px;
            bottom: -10px;
            right: -10px;
            left: 10px;
        }

        .wrap {
            background: #fff;
            padding: 18px;
            position: relative
        }

        .thumb-art {
            width: 110px;
            margin-right: 26px;
            position: relative;

            &::before {
                content: "";
                background: url(images/graphics/book.png);
                background-size: cover;
                position: absolute;
                top: -5px;
                right: -10px;
                bottom: -5px;
                left: -5px;
            }
        }

        .description {
            font-size: 14px;
        }

        .line {
            background: #E7D5C5;
            height: 130px;
            width: 1px;
            position: absolute;
            bottom: -160px;
            left: 100px;

            &::after {
                content: "";
                background: #E7D5C5;
                height: 14px;
                width: 14px;
                position: absolute;
                border-radius: 50%;
                top: -4px;
                left: -6.5px;
            }

            &::before {
                content: "";
                background: url(images/graphics/bong.png);
                background-size: contain;
                width: 171px;
                height: 15px;
                position: absolute;
                bottom: -10px;
                left: -85px;
            }
        }

        &.active {
            width: 480px;
            margin-top: 0;

            .line {
                height: 232px;
                bottom: -260px;

                &::before {
                    width: 361px;
                    height: 27px;
                    position: absolute;
                    bottom: -10px;
                    left: -180px;
                }
            }

            .thumb-art {
                width: 147px;
            }
        }
    }

    .box-slide-mobile {
        display: none;
        padding: 0 0 0 15px;
        width: 100%;
        position: relative;
        padding-bottom: 20px;
        order: 1;

        .item-news {
            width: 100% !important;
            margin: 0 !important;
            border: 0 !important;

            &:before {
                display: none
            }
        }

        .swiper-container {
            padding: 0 100px 30px 0;
        }

        .item-news {
            .thumb-art {
                width: 100%;
                margin-bottom: 20px;
            }

            .content {
                overflow: visible;
            }
        }

        .swiper-pagination {
            bottom: 0px;
            display: none;
            text-align: left;

            .swiper-pagination-bullet {
                margin-right: 6px;
            }

            @media (max-width: 576px) {
                display: block
            }
        }
    }

    @media (max-width: 1791px) {
        .map {
            margin-top: 60px;
        }
    }

    @media (max-width: 1100px) {

        .map {
            order: 1;
            margin-top: 20px;
            margin-bottom: 30px;
            width: 100%;

            img {
                width: 100%;
            }
        }

        .container {
            order: 2;
            display: flex;
        }

        .item-news {
            width: 44% !important;
            margin: 0 3%;
            margin-bottom: 30px;

            .wrap {
                height: 100%;
            }

            .line {
                display: none
            }

            .thumb-art {
                width: 140px;
            }

            &.active {
                .thumb-art {
                    width: 140px;
                }
            }
        }
    }

    @media (max-width: 979px) {
        margin-bottom: 30px;

        .box-pc {
            display: none
        }

        .box-slide-mobile {
            display: block
        }
    }
}

.section-frame3 {
    max-width: 1792px;
    margin: 0 auto;
    margin-bottom: 80px;
    position: relative;

    .wrap-video {
        max-width: 917px;
        margin: 0 auto;
        margin-bottom: 180px;

        @media (max-width: 979px) {
            margin-bottom: 100px;
        }
    }

    .container {
        padding: 0 80px;
    }

    .time-line {
        background: url(images/graphics/time-line.png) no-repeat center;
        height: 4px;
        position: relative;
        background-size: cover;
        margin-bottom: -70px;
        margin-top: 120px;
    }

    .swiper-container {
        padding-top: 110px;
    }

    .swiper-slide {
        padding-left: 30px;
        position: relative;
        padding-bottom: 20px;

        &::before {
            content: "";
            border-left: 1px dashed #AA7D54;
            height: 100%;
            position: absolute;
            left: 9px;
        }

        .year {
            color: #AA7D54;
            font-size: 32px;
            font-family: var(--font1);
            position: absolute;
            top: -120px;
            left: 0;

            &::before {
                content: "";
                width: 20px;
                height: 20px;
                background: #AA7D54;
                border-radius: 50%;
                position: absolute;
                bottom: -39px;
                left: 7px;
            }

            &::after {
                content: "";
                width: 32px;
                height: 32px;
                position: absolute;
                border: 1px solid #AA7D54;
                border-radius: 50%;
                bottom: -45px;
                left: 0;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 62px;
        height: 48px;
        line-height: 48px;
        background: none;
        top: 12px;
    }

    .swiper-button-prev {
        transform: rotate(180deg);
    }

    .hidden-pc {
        position: relative;

        &::before {
            content: "";
            border-left: 1px dashed #AA7D54;
            position: absolute;
            top: 0;
            bottom: 80px;
            left: 21px;
        }

        &::after {
            content: "";
            background: linear-gradient(180deg, #F7F4F0 0%, rgba(247, 244, 240, 0) 100%);
            position: absolute;
            left: 0;
            bottom: 50px;
            transform: rotate(180deg);
            height: 150px;
            width: 100%;
        }

        .item-news {
            padding-left: 50px;
            margin-bottom: 27px;

            .year {
                font: bold 16px Arial;
                color: #AA7D54;
                position: relative;
                margin-bottom: 5px;

                &::before {
                    content: "";
                    width: 15px;
                    height: 15px;
                    background: #AA7D54;
                    border-radius: 50%;
                    position: absolute;
                    z-index: 1;
                    top: 1px;
                    left: -36px;
                }

                &::after {
                    content: "";
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    border: 1px solid #AA7D54;
                    background: #f7f4f0;
                    border-radius: 50%;
                    top: -8px;
                    left: -45px;
                }
            }
        }
    }


    @media (max-width: 1100px) {
        .swiper-slide {
            .year {
                font-size: 24px;
                top: -108px;
            }
        }
    }

    @media (max-width: 576px) {
        .container {
            padding: 0 15px;
        }

        .wrap-video {
            margin-bottom: 40px;
        }
    }

}

.section-frame4 {
    max-width: 1792px;
    margin: 0 auto;
    background: #F2EFE7 url(images/graphics/bg-camon.png) no-repeat bottom right;
    padding: 80px 0;
    position: relative;
    margin-bottom: 60px;

    .list_comment {
        width: calc(100% - 370px);
        position: relative;

        .txt_center {
            position: relative;
            z-index: 2;
        }

        &.home {
            .grid {
                max-height: 1000px;
                overflow: hidden;
            }

            &::before {
                content: "";
                background: linear-gradient(180deg, #F2EFE7 0%, rgba(242, 239, 231, 0) 100%);
                transform: matrix(1, 0, 0, -1, 0, 0);
                width: 100%;
                height: 300px;
                position: absolute;
                bottom: 0;
                z-index: 1;
            }
        }
    }

    .form_dk {
        width: 370px;
        padding-left: 60px;

        h3 {
            font: 600 20px var(--font1);
            color: #191919;
            margin-bottom: 15px;
        }
    }

    .title-cate {
        br {
            display: none
        }
    }

    .head {
        margin-bottom: 30px;

        .loi-chuc {
            border: 1px solid #AA7D54;
            display: inline-block;
            margin-bottom: 30px;
            color: #191919;
            font-weight: bold;
            font-size: 20px;
            position: relative;

            &>.flex {
                position: relative;
                background: #F2EFE7;
            }

            &::before {
                content: "";
                border: 1px solid #D3BF9F;
                position: absolute;
                top: 10px;
                bottom: -7px;
                right: -7px;
                left: 7px;
            }

            .text {
                color: #AA7D54;
                font-size: 20px;
                font-weight: 400;
                padding: 12px;
                border-right: 1px solid #AA7D54;

                svg {
                    width: 35px;
                    height: 35px;
                    color: #AA7D54;
                    margin-left: 6px;
                }
            }

            .number {
                padding: 12px;
            }
        }

        .img {
            margin-top: -20px;
        }
    }

    @media (max-width: 1100px) {
        .list_comment {
            width: calc(100% - 330px);
        }

        .form_dk {
            width: 330px;
            padding-left: 30px;
        }
    }

    @media (max-width: 979px) {
        .content-gird {
            justify-content: center;
        }

        .list_comment {
            width: 100%;
        }

        .form_dk {
            margin-top: 40px;
            padding-left: 0;
            max-width: 340px;
            display: none
        }
    }

    @media (max-width: 576px) {
        background: #f7f4f0;
        padding: 0;
        margin-bottom: 30px;

        .title-cate {
            margin-bottom: 20px;
            font-size: 32px;

            br {
                display: inline-block
            }
        }

        .head {
            .img {
                order: 1
            }

            .head-left {
                order: 2
            }

            .loi-chuc {
                margin-bottom: 0;

                .text {
                    font-size: 14px;

                    svg {
                        width: 25px;
                        height: 25px;
                    }
                }

                .text,
                .number {
                    padding: 0px 12px;
                    line-height: 40px;
                }
            }
        }
    }
}

.section-quangcao {
    margin-bottom: 70px;

    .item-news {
        &::before {
            content: "";
            border: 1px solid #AA7D54;
            position: absolute;
            top: 15px;
            bottom: -15px;
            right: -15px;
            left: 15px;
        }

        .wrap {
            background: #F2EFE7;
            border: 2px solid #000000;
            padding: 8px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
        }

        .thumb-art {
            width: 333px;
            margin: 0;
            padding-left: 30px;
            order: 2;
        }

        .content {
            padding: 24px;
            order: 1;
            width: calc(100% - 333px);
            background: url(images/graphics/hac-giay.png) no-repeat bottom right;
        }

        .title-news {
            font-size: 28px
        }

        .description {
            font-size: 20px;
            color: #191919;
            margin-bottom: 15px;
        }

        .btn-default {
            background: #AA7D54;
            font-weight: 600;
            font-size: 16px;
            color: #F9F0E3;
            font-family: var(--font1);
            position: relative;
            height: 40px;
            line-height: 40px;
            padding: 0 30px;
            display: inline-block;
        }
    }

    @media (max-width: 576px) {
        .item-news {
            &::before {
                display: none
            }

            .thumb-art {
                width: 100%;
                padding-left: 0;
                order: 1;
                display: none
            }

            .content {
                padding: 15px;
                order: 2;
                width: 100%;
                text-align: center;

                .mb10 {
                    text-align: left
                }
            }

            .title-news {
                font-size: 18px
            }

            .description {
                font-size: 16px
            }
        }

    }
}

.section-frame5 {
    position: relative;
    padding-bottom: 50px;

    &::after {
        content: "";
        background: url(images/graphics/bg-chuyennghe.png) no-repeat right;
        background-size: contain;
        position: absolute;
        bottom: -80px;
        height: 400px;
        width: 1600px;
        right: 0;
    }

    .item-news {
        display: flex;
        flex-wrap: wrap;
        color: #D4D4D4;
        font-size: 16px;
        background: #070707;

        .thumb-art {
            width: 67%;
            margin: 0;
        }

        .content {
            width: 33%;
            background: #070707 url(images/graphics/bg-tacpham.png) no-repeat bottom;
            padding: 65px;
        }

        .title-news {
            font: 400 48px var(--font1);
            margin-bottom: 30px;

            a {
                color: #D3BF9F;
            }
        }

        .description {
            color: #D4D4D4;

            p {
                margin-bottom: 20px;
            }

            .flex {
                justify-content: space-between;
                color: #D3BF9F;
                margin-bottom: 50px;

                svg {
                    color: #D3BF9F;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    .slide-img {
        position: relative;
    }

    .swiper-button-prev,
    .swiper-button-next {
        background: #191919;
        width: 40px;
        height: 40px;
        line-height: 40px;
        right: 33%;
        margin-right: 24px;
        top: inherit;
        bottom: 24px;

        svg {
            color: #fff
        }
    }

    .swiper-button-prev {
        bottom: 74px;
        left: inherit;
        transform: rotate(180deg);
    }

    .swiper-button-disabled {
        opacity: 0.6;
    }

    @media (max-width: 1791px) {
        .item-news {
            .content {
                padding: 35px;
            }

            .title-news {
                font-size: 35px
            }
        }
    }

    @media (max-width: 1100px) {
        .item-news {
            .content {
                padding: 20px;
            }

            .title-news {
                font-size: 30px;
                margin-bottom: 20px;
            }

            .btn-view {
                margin-top: 30px;
            }
        }
    }

    @media (max-width: 1100px) {
        .item-news {
            .description {
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 4;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }
        }
    }

    @media (max-width: 576px) {
        .item-news {
            .thumb-art {
                width: 100%;
                padding: 30px 15px 0 15px;
            }

            .content {
                width: 100%;
            }

            .description {
                overflow: visible;
                -webkit-line-clamp: inherit;
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            background: #AA7D54;
            margin-right: 15px;
            right: 0;
            bottom: 20px;
        }

        .swiper-button-prev {
            bottom: 20px;
            right: 50px;
        }
    }
}

.section-frame6 {
    padding: 50px 0 270px 0;
    position: relative;
    overflow: hidden;
    width: 100%;

    &::after {
        content: "";
        clear: both;
        display: block
    }


    &::before {
        content: "";
        background: url(images/graphics/bg-chuyennghe2.png) no-repeat center;
        background-size: contain;
        position: absolute;
        bottom: -100px;
        height: 249px;
        width: 100%;
        left: 0;
        right: 0;
    }

    @media (max-width: 979px) {
        padding: 30px 0 100px 0;


    }
}

.list-chuyen-nghe {
    .gird {
        margin: 0 -15px;

        .txt_center {
            width: 100%;
        }
    }

    .item {
        width: 33.33%;
        margin-bottom: 24px;
        padding: 0 15px;

        .item-news {
            background: #fff;
            padding: 16px;

            .thumb-art {
                float: right;
                width: 74px;
                height: 74px;
                margin-left: 15px;
                margin-right: 0;

                .thumb {
                    background: none
                }
            }

            .description {
                margin-bottom: 40px;
            }

            .author {
                color: #AA7D54
            }
        }
    }

    @media (max-width: 979px) {
        .item {
            width: 50%;
        }
    }

    @media (max-width: 576px) {
        .item {
            width: 100%;
        }
    }

}

.page-loichuc {
    max-width: 1792px;
    margin: 0 auto;
    padding: 0;
    background: none;
    padding-bottom: 100px;
    position: relative;
    overflow: visible;

    &::before {
        content: "";
        background: url(images/graphics/bg-loichuc.png) no-repeat;
        height: 203px;
        position: absolute;
        width: 1516px;
        top: -140px;
        right: 0px;

        @media (min-width: 1900px) {
            right: -80px;
        }
    }

    .form_dk {
        padding-left: 0;
        padding-right: 60px;

        h3 {
            font-weight: bold;
            font-size: 40px;
            line-height: 1.3;
            margin-bottom: 30px;
        }
    }

    .list_comment {
        .grid {
            .grid-item {
                width: 25%;

                @media (max-width: 1366px) {
                    width: 33.33%;
                }

                @media (max-width: 1025px) {
                    width: 50%;
                }

                @media (max-width: 576px) {
                    width: 100%;
                }
            }
        }

        .comment-you {
            margin-bottom: 30px;

            .row-gird {
                margin: 0 -15px;
            }

            .head {
                font: 600 20px/1.3 var(--font1);
                color: #191919;
                margin-bottom: 15px;
            }

            .grid-item {
                width: 50%;
                padding: 0 15px;
                margin-bottom: 24px;

                @media (max-width: 1025px) {
                    width: 100%;
                }
            }

            .item {
                background: #FFFFFF;
                color: #000;
                font-family: Arial;
                font-size: 18px;
                line-height: 27px;
                padding: 16px;
                margin-bottom: 24px;
                position: relative;

                .item-comment {
                    font-size: 16px;
                    color: #191919;
                    margin-bottom: 25px;
                }

                .item-bottom {
                    justify-content: space-between;
                    align-items: center;

                    h4 {
                        color: #AA7D54;
                        font-size: 16px;
                    }

                    .social {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        color: #6B6B6B;
                        font-size: 14px;

                        .flex {
                            align-items: center;
                            margin-right: 15px;
                        }

                        .number {
                            margin-left: 5px;
                        }

                        a {
                            color: #6B6B6B;
                        }

                        svg {
                            width: 24px;
                            height: 24px;
                        }

                    }
                }
            }
        }

        &--header {
            margin-bottom: 15px;
            justify-content: space-between;

            .new {
                font: 600 16px var(--font1);
                color: #191919;
            }

            .head {
                font: 600 20px/1.3 var(--font1);
                margin-bottom: 0;
            }
        }
    }

    @media (max-width: 1792px) {
        padding: 0 15px;
        padding-bottom: 100px;
    }
}

.page-hanhtrinh,
.page-tacpham {
    padding-top: 40px;

    &::before {
        content: "";
        background: url(images/graphics/bg-hanhtrinh.png) no-repeat center;
        height: 89px;
        position: absolute;
        width: 100%;
        top: -60px;
    }

    @media (max-width: 576px) {
        padding-top: 0;
        margin-bottom: 30px;

        &::before {
            top: -90px;
        }
    }
}

.page-tacpham {
    margin-bottom: 64px;

    .title-cate {
        font-size: 40px;
    }

    .container {
        padding: 0 15px;
    }

    .tab-default {
        max-width: 1100px;
        margin: 0 auto;
        border-bottom: 1px solid rgba(170, 125, 84, 0.2);
        margin-bottom: 16px;
        text-align: center;

        a {
            padding: 0 10px 15px 10px;
        }
    }

    .wrap-content {
        background: #070707;
        padding: 64px;
        padding-bottom: 100px;
        position: relative;

        &::before {
            content: "";
            border-left: 1px solid rgba(255, 255, 255, 0.2);
            position: absolute;
            top: 64px;
            left: calc(19.42% + 65px);
            bottom: 128px;
        }

        .item-news {
            display: flex;
            margin-bottom: 64px;

            .content {
                width: 19.42%;
            }

            .thumb-art {
                width: 80.58%;
                margin: 0;
                order: 2;
                padding-left: 48px;
            }

            .title-news {
                font: 400 24px var(--font1);
                margin-bottom: 20px;

                a {
                    color: #D3BF9F;
                }
            }

            .description {
                color: #D4D4D4;

                p {
                    margin-bottom: 15px;
                }

                .flex {
                    justify-content: space-between;
                    color: #D3BF9F;

                    svg {
                        color: #D3BF9F;
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

        @media (max-width:979px) {
            padding: 30px 15px 80px 15px;

            &::before {
                left: calc(35% + 35px);
            }

            .item-news {
                margin-bottom: 30px;

                .content {
                    width: 35%;
                }

                .thumb-art {
                    width: 65%;
                }
            }
        }

        @media (max-width:767px) {
            padding: 30px 15px 80px 15px;

            &::before {
                display: none
            }

            .item-news {
                margin-bottom: 16px;
                flex-wrap: wrap;

                .content {
                    width: 100%;
                    order: 2;
                    padding: 15px;
                    background: #191919;
                }

                .thumb-art {
                    width: 100%;
                    order: 1;
                    padding-left: 0;
                }
            }
        }
    }

    .list-chuyen-nghe {
        .item {
            width: 100%;

            .item-news {
                padding: 0;
            }
        }
    }

    .list_comment {
        .grid {
            .grid-item {
                width: 33.33%;

                .item {
                    margin-bottom: 30px;
                }

                @media (max-width:979px) {
                    width: 50%;

                    .item {
                        margin-bottom: 24px;
                    }
                }

                @media (max-width:576px) {
                    width: 100%;
                }
            }
        }
    }
}

#popup-camon,
#popup-creat {
    background: #F7F4F0;
    padding: 24px;
    text-align: center;
    max-width: 344px;

    .content-popup {
        font-size: 16px;
        color: #6B6B6B;
        line-height: 1.6
    }

    .title_popup {
        color: #191919;
        font: 600 20px var(--font1);
        margin-bottom: 24px;
    }

    .mfp-close {
        border: 1px solid #AA7D54;
        color: #AA7D54;
        padding: 5px 30px;
        display: inline-block;
        font: 600 16px var(--font1);
        background: none;
        border-radius: 0;
        position: static;
        height: 40px;
        width: 105px;
        text-align: center;

    }

    .btn-default {
        background: #AA7D54;
        font-weight: 600;
        font-size: 16px;
        color: #F9F0E3;
        font-family: var(--font1);
        position: relative;
        height: 40px;
        line-height: 40px;
        padding: 0 30px;
        display: inline-block;
    }
}

#popup-creat {
    max-width: 400px;

    .btn-default {
        background: none;
        padding: 0;
    }
}

.creat-bottom {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 9;
}

#popup-share {
    max-width: 360px;
    padding: 23px;

    .title_popup {
        font: 600 20px var(--font1);
        margin-bottom: 25px;
    }

    .social {
        justify-content: center;

        a {
            color: #6B6B6B;
            font-size: 14px;
            text-align: center;
            margin: 0 15px 25px 15px;
        }

        .icon {
            background: #D8C7AB;
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            border-radius: 50%;
            margin: 0 auto;

            svg {
                fill: #fff
            }
        }
    }

    .copy-link {
        border: 1px solid #D4D4D4;
        background: #FAFAFA;
        padding: 14px 74px 14px 14px;
        font-size: 14px;
        position: relative;

        .link {
            color: #191919;
        }

        .copy {
            color: #AA7D54;
            position: absolute;
            right: 14px;
        }
    }
}

#comment-popup {
    background: #F7F4F0;
    padding: 24px;
    text-align: center;
    max-width: 344px;

    .mfp-content {
        text-align: center;
        font-size: 16px;
    }

    .title {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='21.5' cy='30.5' r='13.5' fill='%23D3BF9F'/%3e%3cpath d='M26 0C11.664 0 0 11.663 0 26C0 40.337 11.664 52 26 52C40.336 52 52 40.337 52 26C52 11.663 40.336 0 26 0ZM26 50C12.767 50 2 39.233 2 26C2 12.767 12.767 2 26 2C39.233 2 50 12.767 50 26C50 39.233 39.233 50 26 50Z' fill='%23191919'/%3e%3cpath d='M38.252 15.336L22.883 32.626L13.624 25.219C13.194 24.874 12.563 24.945 12.219 25.375C11.874 25.807 11.944 26.436 12.375 26.781L22.375 34.781C22.559 34.928 22.78 35 23 35C23.276 35 23.551 34.886 23.748 34.664L39.748 16.664C40.115 16.252 40.078 15.619 39.665 15.253C39.251 14.885 38.62 14.922 38.252 15.336Z' fill='%23191919'/%3e%3c/svg%3e");
        padding-top: 70px;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: top;
    }

    .mfp-close {
        font-size: 0;
        border: 1px solid #AA7D54;
        background: none;
        position: static;
        width: 100%;
        border-radius: 0;
        height: 40px;
        line-height: 49px;
        display: block;
        margin-top: 30px;

        &::before {
            content: "Đóng";
            color: #AA7D54;
            font: 600 16px var(--font1);
        }
    }
}

.white-popup {
    .title {
        font: 600 20px var(--font1);
        margin: 10px 0;
    }
}


//Custom deail
.page-detail {

    .title-detail {
        font-family: var(--font1);
    }

    &.top-detail {
        border-bottom: 0;
        background: none;

        .container {
            background: none
        }
    }

    &.middle-detail {
        background: #f7f4f0 url(images/graphics/bg-detail.png) no-repeat bottom;
        border-bottom: 0;
        padding-bottom: 150px;
    }

    .container {
        background: #fff !important;
        max-width: 1100px;
    }

}

.breadcrumb li:first-child {
    color: var(--color-main);
}

.bg-white {
    background: #fff;
    width: 100%;
    padding: 0 15px;
}



//End Custom deail

.box_sn2019_wrapper {
    background: url(images/graphics/bg-loichuc2.png) no-repeat top;
}

.box_sn2019_wrapper .scrollbar-inner>.scroll-element .scroll-bar {
    width: 4px;
    opacity: 1;
}

.box_sn2019_wrapper .bg_link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.box_sn2019 .scroll-wrapper {
    max-height: 740px;
    z-index: 3;
    padding-right: 12px !important;
    padding-bottom: 15px !important;
}

.box_sn2019 {
    position: relative;
    border: 1px solid #E5E5E5;
    padding: 40px 5px 0 15px;
    overflow: hidden;

    .title {
        font: 400 24px var(--font1);
        color: #191919;
        margin-bottom: 15px;
    }

    .scrollbar-inner {
        height: 600px;

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    .ss-scroll {
        background: #BDBDBD;
        width: 5px;
        opacity: 1 !important;
        right: calc(-100% - 15px) !important;
    }
}

.box_sn2019 .itemt {
    border-radius: 13px;
    padding: 13px 10px 10px 10px;
    line-height: 20px;
    font-size: 14px;
    font-family: Arial;
    color: #000;
    border: 1px dashed #dfdfdf;
    margin-bottom: 17.11px;
}


.box_sn2019 .itemt h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.box_sn2019 .itemt h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    position: relative;
    color: #222;
}