@media (max-width: 1791px) {

    .title-cate,
    .page-loichuc .form_dk h3 {
        font-size: 40px;
    }

    .title-cate {
        span {
            font-size: 24px;
        }
    }
}

@media (max-width: 576px) {
    .page-loichuc .form_dk h3 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .title-cate {
        margin-bottom: 20px;
    }
}

.hidden-pc {
    display: none
}

@media (max-width: 600px) {
    .hidden-pc {
        display: inline-block
    }

    .hidden-mobile {
        display: none
    }

    .wrap-main-nav {
        margin-bottom: 20px;
    }

    #myvne_taskbar.myvne_taskbar_pc {
        display: inline-block !important
    }

    .page-detail {
        &.top-detail {
            padding-bottom: 70px;
        }
    }

    .bg-white {
        background: none;
        padding: 0;
    }
}