* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

body {
    margin: 0 auto;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
    background: #f7f4f0;

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.container {
    width: 100%;
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.width_common {
    width: 100%;
    float: left;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center
}

.inner_section {
    padding-left: 15px;
    padding-right: 15px;
}

.container_header {
    text-align: center;
    position: relative;
}

body.show_menu_full,
body.hidden {
    overflow: hidden;
    height: 100%;
}

a {
    color: var(--colormain);
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
    color: var(--ione-color)
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.icon-svg {
    width: 16px;
    height: 16px;
    fill: currentColor;
    vertical-align: middle;
    color: #333
}

.ic {
    width: 16px;
    height: 16px;
    fill: #757575;
    display: inline-block;
    vertical-align: middle;
}

img {
    border: 0px;
    font-size: 0;
    line-height: 0;
    max-width: 100%;
    vertical-align: middle;
}

ul,
li {
    list-style-type: none;
}

.input-form {
    margin-bottom: 15px;
    position: relative;
    display: block;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea.form-control,
select.form-control {
    background: #fff;
    float: none;
    width: 100%;
    height: 48px;
    border: 1px solid #AA7D54;
    font-size: 15px;
    padding: 0 12px;
    outline: none;
    font-family: arial;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);

    @include placeholder {
        color: #A7A9AC;
    }
}

textarea.form-control {
    padding-top: 10px;
}

.error_mess {
    color: #9f224e;
    font-size: 13px;
    line-height: 15px;
    margin-top: 5px;
}

.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin: 0;
}

h1 {
    line-height: 24px;
}

h2,
h3,
h4 {
    line-height: 16px;
}

html {
    -webkit-text-size-adjust: none;
}

.txt_italic {
    font-style: italic;
}

.txt_center {
    text-align: center;
}

.txt_left {
    text-align: left;
}

.txt_right {
    text-align: right;
}

.txt_bold {
    font-weight: 700;
}

.txt_underline {
    text-decoration: underline;
}

.txt_fff {
    color: var(--white);
}

.txt_666 {
    color: #666;
}

.txt_333 {
    color: #333;
}

.txt_11 {
    font-size: 11px;
}

.txt_12 {
    font-size: 12px;
}

.txt_13 {
    font-size: 13px;
}

.txt_14 {
    font-size: 14px;
}

.txt_15 {
    font-size: 15px;
}

.txt_16 {
    font-size: 16px;
}

.txt_17 {
    font-size: 17px;
}

.txt_18 {
    font-size: 18px;
}

.txt_20 {
    font-size: 20px;
}

.relative {
    position: relative;
}

.space_bottom_5 {
    margin-bottom: 10px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb24 {
    margin-bottom: 24px;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb39 {
    margin-bottom: 39px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.space_bottom_10 {
    margin-bottom: 10px;
}

.space_bottom_20 {
    margin-bottom: 20px;
}

.space_bottom_30,
.mb30 {
    margin-bottom: 30px;
}

.space_left_0 {
    padding-left: 0;
}

.space_right_0 {
    padding-right: 0;
}


.thumb {
    display: block;
    overflow: hidden;
    height: 1px;
    position: relative;
    width: 100%;

    img,
    video {
        object-position: top;
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

}

.embed-container img {
    object-position: center;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100% !important
}

.thumb_5x3,
.thumb-5x3 {
    padding-bottom: 60%;
}

.thumb_5x4 {
    padding-bottom: 73.3%;
}

.thumb_16x9 {
    padding-bottom: 56.25%;

    .play_video {
        display: block;
    }
}

.thumb-video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;

    .icon_blockvideo {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAA8CAYAAACtrX6oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABAVJREFUeNrsnGtsDFEYht/Z7faqqqp0SYO2oS1aFEXaLSoSsVpCiYZGgrpGrVYa6lq3SGttiQSJECGCuMS9SRGkibpTlwqNaxpFKaIU29WZH02w2x9s58yZ+Z5kk53N2U3efc6Z+b6Z2RUcDscJaAuzlsLqQJBgggQTJJggwQQJJkgwQYJJMEGCCRJMkGCCBBP/gYe7Pqj2yUuU5m7Gx6dVCB3WH/HLpsMzoJVqvzhe8gruulx4cmwO3t193LTt1zEYSbZstI+LUlpms5byum0XXXO/8rftL1VvcXZSHu5uPQRHg0N1K5iXvG4T7LA3/PVag92Om9a9KJ6yDHXV71UlmJe8shRZr6+U47h5AV5duK6JwkZJeWWror+9/4iSGWtwdc1O2L//UL1kpeSVt01yOPBg13GcTsvFp2dV6l/KCsjLpA+uuVeJE6MtqDx6QRO7bJZ5mZ3o+FH3DZdzbNJDfK52WOVtUcHJ2/OQemYzgvt0dzlGnNXi7P6z7eARJeZtUcGhwwcgsFtnjDywHjFz0iDoBKfjxOPT6fG50vFKPG7xihLzyrKL1un16Js9GSP25MO3Q5DTMWKlKVac5zLXShUozygpr6zHYOOgGKScskkz3RUvz19r7CEtUi/JO0rIK3uR5R3YGsnbliB+RSb0Xp5Ox9RV16A4YzluWfdJZ4d4hnVeNlW0ICAqYxTMRwrQJiLUeQtpb8CdrQdRnL4UX99+4HspM8zL9HpwYGQXmI9tRPjYoS7HVF9/ILUWaoBFXuYX/D18vDAwf1azY97ceKiafljuvMwF//xaj6urdjQ7Jrh3d9UIljuvB8uwHx49x8WsQtQ+fuE6bJ9ImKwLVSGXRV42ghub+4p9Z3Bt3S7Y6787r0t0AnrNHIfelnSpr+QahnllF1xf+xmluVvwoqTM5Rif4MDGWWyBcXAs96uWdV5ZBb8uu4dLFqvU97miU1IcEguz4N02gHu5Ssgri2Cxeb9dtB/l2w47vdVFqvY89IhblIEe01KlvpFnlJS3RQWLt6z4h4agdPEWvLlZ4XJc685GmIpy0K5XBNdilZjXbbfN7g5P/af3haWYMGj1bBha+crlwaylvMzaJIOvN+JXZiJiXDK0AKu8TAS3je6KpKJFCAjrpAm5LPPKK1g86T5lFPotngq9p0H9ZhWQVzbBXm38kbBhfrPXRtWEUvLKIjgkvicSrQvhFxKkCblKyus2wYJe91fPJ74WO28iYudOkJ6rau/LSV63CQ6KDsO78idN237GdjBtykaH/tGqXKW85HXbNEsoyJJ+Omnw80H4mCFIOWlTrVye8gr0d8Lqhv7CgQQTJJggwQQJJkgwQYIJEkyCCRJMkGCCBBMtzS8BBgAlCv8yJumsfQAAAABJRU5ErkJggg==);
        width: 60px;
        height: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -30px 0 0 -30px;
        cursor: pointer;
    }
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    svg {
        color: #fff;
        width: 50px;
        height: 50px;
    }
}

.thumb_5x5,
.thumb-1x1 {
    padding-bottom: 100%;
}

.thumb_2x3 {
    padding-bottom: 150%;
}

#to_top {
    z-index: 9;

    @media (max-width: 576px) {
        display: none !important
    }
}

// #to_top {
//     width: 50px;
//     height: 50px;
//     border: 0;
//     position: fixed;
//     right: 15px;
//     bottom: 15px;
//     z-index: 99;
//     background: none;
//     display: none;
// }

.sticky {
    position: sticky;
    top: 0;
}

.clearfix {
    clear: both;

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}