@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Trirong:wght@400;600;700&display=swap');
@import "var.scss";
@import "reset.scss";
@import "common.scss";
@import "swiper.scss";
// ======= HEADER =======
@import "head.scss";

// ==== Element inline  ======
@import "inline.scss";
@import "gird.scss";
@import "footer.scss";
@import "responsive.scss";