<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>
        <!-- build:title -->
    </title>
    <link type="image/x-icon" href="http://ssl.gstatic.com/docs/doclist/images/infinite_arrow_favicon_5.ico"
        rel="shortcut icon" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" media="all" />
    <!-- build:head -->
</head>

<body class="homepage">

    <section id="topbar" class="section top_bar">
        <div class="container">
            <a href="javascript:;" class="js-headerHamburger hamburger">
                <span class="hamburger__line--one"></span>
                <span class="hamburger__line--two"></span>
                <span class="hamburger__line--three"></span>
            </a>
            <a href="#" class="logo" id="logo"><img src="images/graphics/logo-150x29.png" alt="TechAwards2019"></a>
            <a href="#" class="logo_mobile"><img src="images/graphics/logo_vne_f.jpg" alt="vne"></a>
            <div class="date">Thứ sáu, 22/3/2019</div>
            <div class="block-right">
                <ul class="form_log" style="display: none">
                    <li class="user">
                        <a href="javascript:;">
                            <span class="icon-user">
                                <svg class="icon-svg">
                                    <use xlink:href="images/icons/icon.svg#user"></use>
                                </svg>
                            </span>
                            Đăng nhập
                        </a>
                    </li>
                    <li><a href="javascript:;">Đăng ký</a></li>
                </ul>
                <ul class="form_log success">
                    <li class="user">
                        <a href="javascript:;">
                            <span class="icon-user">
                                <img src="images/graphics/thumb_chuyengia.jpg" alt="">
                            </span>
                            <span class="name">Nguyễn Như Hùng</span>
                        </a>
                    </li>
                    <li class="notification"><a class="myvne_logout" href="javascript:;">Đăng xuất</a></li>
                </ul>
                <div class="search">
                    <form action="http://timkiem.vnexpress.net/thethao" method="get" id="search">
                        <input type="text" name="q" value="Tìm kiếm" maxlength="80" class="search-input"
                            onblur="if(this.value=='') this.value=this.defaultValue"
                            onfocus="if(this.value==this.defaultValue) this.value=''">
                        <span class="search-btn">
                            <button type="submit">
                                <svg class="icon-svg">
                                    <use xlink:href="images/icons/icon.svg#search"></use>
                                </svg>
                            </button>
                        </span>
                    </form>
                </div>
            </div>

        </div>
    </section>
    <!--HEADER-->
    <header class="section section_header clearfix">
        <div class="container">
            <h1 class="lbl_logo"><a href="" title="" class="logo"><img src="images/graphics/logo_sohoa.svg" alt=""></a>
            </h1>
            <div class="col_right">
                <div class="tr_top">
                    <a class="back" href="/">Quay lại Số Hóa</a>
                    <div class="social">
                        <a class="" href="/">
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#face"></use>
                            </svg>
                        </a>
                        <a class="" href="/">
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#twiter"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <ul class="nav menu_main">
                    <li>
                        <a class="active" href="#section_1"><span>Trang chủ</span></a>
                    </li>
                    <li>
                        <a href="#section_2"><span>Sản phẩm tôi yêu</span></a>
                    </li>
                    <li>
                        <a href="#section_3"><span>Thể lệ</span></a>
                    </li>
                    <li>
                        <a href="#section_4"><span>Lộ trình sự kiện</span></a>
                    </li>
                    </li>
                    <li>
                        <a href="#section_5"><span>Tech Talks</span></a>
                    </li>
                    <li>
                        <a href="#section_6"><span>Tin tức</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!--END HEADER-->
    <!-- build:content -->


    <!--FOOTER-->
    <div class="section section_footer">
        <div class="container clearfix">
            <div class="flex">
                <a href="#" class="logo" id="logo"><img src="images/graphics/logo_sohoa.svg" alt="TechAwards2019"></a>
                <div class="copy_right">
                    ® VnExpress giữ bản quyền</br>nội dung trên website này
                </div>
                <div class="info">
                    <p>Email: <strong>sohoa@vnexpress.net</strong></p>
                    <p>Điện thoại: <strong>083.888.0123 </strong>(HN) <strong> - 082.233.3555 </strong>(TPHCM)</p>
                </div>
                <div class="social_new">
                    <a class="" href="/">
                        <svg class="icon-svg">
                            <use xlink:href="images/icons/icon.svg#face"></use>
                        </svg>
                    </a>
                    <a class="" href="/">
                        <svg class="icon-svg">
                            <use xlink:href="images/icons/icon.svg#twiter"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--END FOOTER-->

    <!--Back to top-->
    <a href="javascript:;" id="to_top"><i class="ic ic-caret-up"></i></a>

    <!--MAIN MENU MOBILE-->
    <nav id="main_menu" class="main_menu">
        <div class="header_menu width_common">
            <span class="close_main_menu">&times;</span>
            <div class="right myvne_log" id="myvne_taskbar_custom" style="display: none">
                <a href="javascript:;" class="log_txt" id="myvneLogin">Đăng nhập</a><span class="dash">|</span><a
                    href="javascript:;" class="log_txt" id="myvneRegister">Đăng ký</a>
            </div>
            <div class="right myvne_log" id="myvne_taskbar_custom">
                <div class="right myvne_log myvne_logged"><a href="javascript:;" class="log_txt">
                        <img class="avatar_user" src="https://s.vnecdn.net/myvne/i/v1/graphics/img_60x60.gif"
                            alt="">Nguyễn Như Hùng</a><span class="dash">|</span><a href="javascript:;" class="log_txt"
                        id="myvneLogout">Thoát</a>
                </div>
            </div>
        </div>
        <div class="block_scoll_menu width_common">
            <div class="list_menu width_common">
                <ul class="menu_main list_item_panel width_common">
                    <li class="active"><a href="#home" class="link_item_panel">Trang chủ</a></li>
                    <li><a href="#lo-trinh" class="link_item_panel">Lộ trình sự kiện</a></li>
                    <li><a href="#tin-tuc" class="link_item_panel">Tin tức</a></li>
                    <li><a href="#product-winer" class="link_item_panel">Sản phẩm từng đoạt giải</a></li>
                    <!-- <li><a href="#gallery" class="link_item_panel">GALLERY</a></li> -->
                </ul>
            </div>
            <div class="section section_footer width_common">
                <div class="container clearfix">
                    <a class="logo" href="/"><img src="images/graphics/logo.svg" alt=""></a>
                    <p class="copyright">® VnExpress giữ bản quyền <br>nội dung trên website này</p>
                    <div class="info">
                        <p>Email: <strong>sohoa@vnexpress.net</strong></p>
                        <p>Điện thoại: <strong>083.888.0123 </strong>(HN) <strong> - 082.233.3555 </strong>(TPHCM)</p>
                    </div>
                    <div class="social_new">
                        <a class="" href="/">
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#face"></use>
                            </svg>
                        </a>
                        <a class="" href="/">
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#twiter"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--END MAIN MENU MOBILE-->
    <div class="mask-content"></div>
    <!--Jquery lib-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="js/svgxuse.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script src="js/lightgallery.min.js"></script>
    <script src="js/lg-thumbnail.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <!-- build:script -->
    <!-- build:script2 -->
    <div class="clearfix"></div>
</body>

</html>